<div *ngIf="allowAccess">
  <div class="top-layout clearfix">
  <h2>Warehouse List</h2>
<wms-breadcrumb></wms-breadcrumb>
  </div>
<div  class="layout-block warehouse-management">
  <div *ngIf="messages" class="col-mg-12">
    <div class="alert alert-{{messages.status}}">
      <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
      <span [innerHTML]="messages.txt"></span>
    </div>
  </div>
  <div class="search-form eight-column">
    <form class="clearfix" id="form-filter" [ngFormModel]="SearchWareHouseForm"  (ngSubmit)="Search()">
          <div class="form-group">
            <label>Warehouse Code</label>
            <input type="text" class="form-control" ngControl="whs_code"  placeholder="" tabindex="1">
          </div>
          <div class="form-group">
            <label>Warehouse Name</label>
            <input type="text" class="form-control" ngControl="whs_name"  placeholder="" tabindex="2">
          </div>
          <div class="form-group">
            <label>Country</label>
            <select class="form-control"  (change)="ChangeCountry($event.target.value)" ngControl="whs_country_id" tabindex="3">
              <option value="">All</option>
              <option *ngFor="let ct of Country" [value]="ct.sys_country_id">{{ct.sys_country_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>State <span *ngIf="Loading['state']"><img src="/assets/images/loading.gif" alt=""></span></label>
            <select class="form-control"  ngControl="whs_state_id" tabindex="4">
              <option value="">All</option>
              <option *ngFor="let st of State" [value]="st.sys_state_id">{{st.sys_state_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" value="" class="form-control" ngControl="whs_city_name" placeholder="" tabindex="5">
          </div>
          <div class="form-group">
            <label>Status</label>
            <select class="form-control"  ngControl="whs_status" name="status" tabindex="6">
              <option value="">All</option>
              <option *ngFor="let item of Mstatus" [value]="item.whs_sts_code">{{item.whs_sts_name}}</option>
            </select>
          </div>

      <div class="btn-toolbar pull-left margin-top23">
        <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="8"><i class="icon-close"></i>Reset</button>
        <button type="submit" class="btn btn-outline blue" tabindex="7"><i class="icon-magnifier"></i>Search</button>
      </div>
    </form>

  </div>
  <div class="table">
    <div class="table-list-head clearfix">
      <div *ngIf="editWarehouse" class="input-group pull-right">
        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle"
                type="button" tabindex="11"><i class="icon-settings"></i>Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngIf="editWarehouse"><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
          <!--<li><a (click)="Delete()">Delete</a></li>-->
        </ul>
      </div>
      <div class="pull-right">
        <a *ngIf="createWarehouse" class="btn btn-primary" href="#/system-setup/warehouse/new" tabindex="10"><i class="icon-plus"></i>Add</a>
      </div>
      <div class="form-inline">
        <label>Show</label>
        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="9">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="table-style1">
      <ag-grid-ng2-extent
        (dataSelected)="ListSelectedItem=$event"
        (sortData)="sortList($event)"
        [columnData]="columnData"
        [sortDefault]="sortData"
        [activeViewDetail]="true"
        [dataForRenderTable]="WareHouseList"
        [headerURL]="headerURL"></ag-grid-ng2-extent>
      </div>
    <div class="pull-right">
      <!--
    Directive WMSPagination
    Url : common/directives/directives
    -->
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="GetWareHouseList($event)"
      ></wms-pagination>

    </div>
    <!--<div class="pull-left export">
      <label class="label-export">Export to:</label>
      <a  class="csv"></a>
      <a class="pdf"></a>
    </div>-->
  </div>
</div>
</div><!-- /</div> -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
