<div class="top-layout clearfix">
    <h2>Add Location Type</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class=" layout-block create-zone">
    <wms-messages [messages]="messages"></wms-messages>
    <form (submit)="add()" class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-area">
                        <div class="col-md-6">
                            <div class="form-group" [class.error-style]="listNull.loc_type_code_required || listNull.loc_type_code_invalidLength2Or3">
                                <label class="">Location Type Code <span class="txt-required">(*)</span></label>
                                <input tabindex="1" type="text" minlength="2" maxlength="3" name="loc_type_code"
                                       (keyup)="filterForm2($event.target)"
                                       (focusout)="filterForm2($event.target)" class="form-control" placeholder="">
                                <p class="error" *ngIf="listNull.loc_type_code_required">
                                    Location Type Code is required
                                </p>
                                <p class="error" *ngIf="listNull.loc_type_code_invalidLength2Or3">
                                    Location Type Code only contains 2 or 3 characters, no special characters
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.error-style]="listNull.loc_type_name_required || listNull.loc_type_name_invalidNameStr">
                                <label class="">Location Type Name <span class="txt-required">(*)</span></label>
                                <input tabindex="2" type="text" maxlength="20" name="loc_type_name"
                                       (keyup)="filterForm2($event.target)"
                                       (focusout)="filterForm2($event.target)" class="form-control" id=""
                                       placeholder="">
                                <p class="error" *ngIf="listNull.loc_type_name_required">
                                    Location Type Name is required.
                                </p>
                                <p class="error" *ngIf="listNull.loc_type_name_invalidNameStr">
                                    Location Type Name should only contain alphanumeric, space, hyphen and underscore.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Description</label>
                                <textarea tabindex="3" maxlength="255" name="loc_type_desc" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="button pull-right">
                        <button type="button" (click)="cancel()" class="btn btn-default" tabindex="5"><i class="icon-close"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary" tabindex="4"><i class="icon-check"></i>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
