<!-- / message -->
<wms-messages [messages]="messages"></wms-messages>
<h4><b>GR#:</b> {{skuDetail.gr_hdr_num}}</h4>
<h4><b>SKU#:</b> {{skuDetail.sku}}</h4>
<h4><b>PLTs#:</b> {{skuDetail.plt}}</h4>
<i class="ico-noname" (click)="showSuggetPalletLoc()"  (dblclick)="showSuggetPalletLocDbClick()" title="Suggest"></i>
<div class="block-sku">
                  <textarea [(ngModel)]="suggestPalletLoc" rows="10">
                  </textarea>
</div>
<div class="rf-footer">
  <input type="button" (click)="updateLocation(suggestPalletLoc)" [disabled]="!suggestPalletLoc"  class="btn btn-default" value="Submit">
</div>
<!-- pop loading -->
<div *ngIf="showLoadingOverlay" class="loading-overlay loading-overlay-mb"><img src="/assets/images/loading-color.gif" alt=""></div>
