<div class="top-layout clearfix">
<h2>{{TitlePage}}</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form class="form-horizontal form-style" *ngIf="chgTypeForm" [ngFormModel]="chgTypeForm"
          (ngSubmit)="action!='view' && save(chgTypeForm.value)" novalidate>
        <div class="area-block">
            <div class="row">
                <div class="col-md-6">
        <div class="row form-area">
            <div class="col-md-6">
                <div class="form-group" [class.error-style]="(chg_type_code.control.touched || submitted) && chg_type_code.control.errors">
                    <label class="">Charge Type Code <span *ngIf="!isView" class="txt-required">(*)</span></label>
                    <input tabindex="1" type="text" minlength="2" maxlength="3" class="form-control"  #chg_type_code="ngForm"
                           ngControl="chg_type_code" [readonly]="isView" (blur)="detectControlErr(chg_type_code)" required>

                    <p *ngIf="chg_type_code.errors&&chg_type_code.errors.error_messages" class="error">
                        Charge Type Code {{ (chg_type_code.errors.error_messages) }}<br>
                    </p>
                    <p *ngIf="chg_type_code.control.touched && chg_type_code.control.hasError('invalidLength2Or3')" class="error">
                        Charge Type Code only contains 2 or 3 characters, no special characters
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" [class.error-style]="(chg_type_name.control.touched || submitted) && chg_type_name.control.errors">
                    <label class="">Charge Type Name <span *ngIf="!isView" class="txt-required">(*)</span></label>
                    <input tabindex="2" type="text" maxlength="20" class="form-control" #chg_type_name="ngForm"
                           ngControl="chg_type_name" [readonly]="isView" (blur)="detectControlErr(chg_type_name)" required>
                    <p *ngIf="chg_type_name.errors&&chg_type_name.errors.error_messages" class="error">
                        Charge Type Name {{ (chg_type_name.errors.error_messages) }}<br>
                    </p>
                    <p *ngIf="chg_type_name.control.touched && chg_type_name.control.hasError('invalidNameStr')" class="error">
                        Charge Type Name should only contain alphanumeric, space, hyphen and underscore.<br>
                    </p>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="">Description</label>
                    <textarea tabindex="3" name="" maxlength="255" rows="2" class="form-control" [readonly]="isView" ngControl="chg_type_des"></textarea>
                </div>
            </div>
        </div>
        <div class="button pull-right" *ngIf="!isView">
            <button type="button" class="btn btn-default" (click)="cancel()" tabindex="5"><i class="icon-close"></i>Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="action=='new'" tabindex="4"><i class="icon-check"></i>Save</button>
            <button type="submit" class="btn btn-primary" *ngIf="action=='edit'" tabindex="4"><i class="icon-note"></i>Update</button>
        </div>
            </div>
                </div>
            </div>
    </form>
    <goBack *ngIf="isView"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
