<h3>Location Histogram
    <ul class="nav nav-tabs icon-chart-block" role="tablist">
        <li role="presentation" class="active">
            <a href="#his-cap-line-chart-tab" aria-controls="profile" role="tab" data-toggle="tab">
                <i class="fa fa-line-chart" title="Line Chart"></i>
            </a>
        </li>
        <li role="presentation">
            <a href="#his-cap-bar-chart-tab" aria-controls="profile" role="tab" data-toggle="tab">
                <i class="fa fa-bar-chart" title="Bar Chart"></i>
            </a>
        </li>
    </ul>
    <span class="pull-right form-style-dashboard width70">
        <label>View Type</label>
            <select [(ngModel)]="curViewType" (ngModelChange)="changeViewType($event)">
                <option *ngFor="let type of VIEW_TYPES" [value]="type">{{type}}</option>
            </select>
        <span *ngIf="curViewType!=='Day'" class="another-span">
            <label *ngIf="curViewType!=='Day'">View By</label>
            <select *ngIf="curViewType!=='Day'" [(ngModel)]="curViewBy" (ngModelChange)="changeViewBy($event)">
                <option *ngFor="let viewBy of VIEW_BY" [value]="viewBy">{{viewBy}}</option>
            </select>
        </span>
    </span>
</h3>
<div class="dashboard-detail tab-content">
    <div role="tabpanel" class="tab-pane active" id="his-cap-line-chart-tab">
        <div class="row">
            <div class="col-md-12">
                <canvas id="his-cap-line-chart"></canvas>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="his-cap-bar-chart-tab">
        <div class="row">
            <div class="col-md-12">
                <canvas id="his-cap-bar-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="chart-pagination">
        <div class="pull-right">
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="pagination"
                    (pageChange)="getHisCapacities($event)">
            </wms-pagination>
        </div>
    </div>
</div>
