<div class="top-layout clearfix">
    <h2>View Goods Receipt</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block gr-management print-management">
    <wms-messages [messages]="messages"></wms-messages>
    <form *ngIf="viewGRForm" [ngFormModel]="viewGRForm" class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Customer</label>
                                <input type="text" class="form-control" value="{{dataGoodReceipt.cus_name}}" placeholder=""
                                    required
                                    readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Goods Receipt #</label>
                                <input type="text" class="form-control" value="{{dataGoodReceipt.gr_hdr_num}}" placeholder=""
                                    required readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">ASN Number</label>
                                <input type="text" class="form-control" value="{{dataGoodReceipt.asn_hdr_num}}" placeholder=""
                                    required readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Ref Code</label>
                                <input type="text" class="form-control" value="{{dataGoodReceipt.asn_hdr_ref}}" placeholder=""
                                    required readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Expected Date</label>
                                <input type="text" value='{{dataGoodReceipt.gr_hdr_ept_dt}}' class="form-control" placeholder=""
                                    required readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group datepicker-style" [class.error-style]="(actDate.control.touched || submitForm) && actDate.control.errors &&(actDate.control.errors['required'] ||actDate.control.errors['invalid'])">
                                <label class="">Putaway Date <span *ngIf="flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG'" class="txt-required">(*)</span></label>
                                <input type="text" class="form-control" (blur)="checkActualDate()" #actDate="ngForm" ngControl="gr_hdr_act_dt" name="gr_hdr_act_dt"
                                    value="{{dataGoodReceipt.gr_hdr_act_dt || dataGoodReceipt.gr_hdr_ept_dt}}" wms-datepicker data-provide="datepicker" data-date-format="yyyy/mm/dd"
                                    [disabled]="!flagCLGR || dataGoodReceipt['gr_sts_code'] != 'RG'" />
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                <p *ngIf="(actDate.control.touched || submitForm) && actDate.control.errors && actDate.control.errors['required']" class="error">
                                    Putaway Date is required.
                                </p>
                                <p *ngIf="(actDate.control.touched || submitForm) && actDate.control.errors && actDate.control.errors['invalid']" class="error">
                                    Putaway Date is invalid.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Carrier</label>
                                <input type="text" class="form-control" value="{{dataGoodReceipt.ctnr_num}}" placeholder=""
                                    required
                                    readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Status</label>
                                <select class="form-control" placeholder="" disabled>
                                    <option selected value='{{dataGoodReceipt.gr_sts_code}}'>{{dataGoodReceipt.gr_sts_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-md-1">
                            <div class="form-group">
                                <label class="">Labor Charge</label>
                                <input type="text" class="form-control" value="{{dataGoodReceipt.labor_charge}}" required readonly>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Internal Comments</label>
                        <textarea [readonly]="!(flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG')" name="in_note" rows="1" class="form-control"
                            #In_note="ngForm" ngControl="in_note">{{dataGoodReceipt.gr_in_note}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>External Comments</label>
                        <textarea [readonly]="!(flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG')" name="ex_note" rows="1" class="form-control"
                            #Ex_note="ngForm" ngControl="ex_note">{{dataGoodReceipt.gr_ex_note}}</textarea>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" *ngIf="listGRTypes"
                        [class.error-style]="(Gr_type.control.touched || submitForm ) && Gr_type.control.errors">
                        <label class="pull-left margin-right">Type</label>
                        <select class="form-control" #Gr_type="ngForm" ngControl="gr_type" placeholder="Type"
                            [disabled]="!(flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG')">
                            <option *ngFor="let item of listGRTypes" [value]="item.code">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="pull-left margin-right">Size (ft)</label>
                        <select class="form-control" ngControl="ctnr_size" [disabled]="!(flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG')">
                            <option *ngFor="let item of listContainerSizes" [value]="item.value">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group"
                        [class.error-style]="(Pallet_ttl.control.touched || submitForm ) && Pallet_ttl.control.errors">
                        <label class="pull-left margin-right"># of Pallet</label>
                        <input #Pallet_ttl="ngForm" ngControl="pallet_ttl" (keypress)="checkInputNumber($event, true)"
                            [disabled]="!(flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG')"
                            type="text" class="form-control" maxlength="6">
                        <p *ngIf="(Pallet_ttl.control.touched || submitForm )&&Pallet_ttl.control.hasError('invalidInt')"
                            class="error">
                            # of Pallet is invalid
                        </p>
                        <p *ngIf="(Pallet_ttl.control.touched || submitForm )&&Pallet_ttl.control.hasError('isZero')"
                            class="error">
                            # of Pallet must be greater than 0
                        </p>
                    </div>
                </div>
                <div class="col-md-1" *ngIf="flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG'">
                    <div class="form-group"
                        [class.error-style]="(Volume_unit.control.touched || submitForm ) && Volume_unit.control.errors">
                        <label class="pull-left margin-right">By</label>
                        <select #Volume_unit="ngForm" ngControl="volume_unit" class="form-control" placeholder="Type"
                            [disabled]="!(flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG')">
                            <option value="volume">Volume</option>
                            <option value="cube">Cube</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG'">
                    <div class="form-group"
                        [class.error-style]="(Volume.control.touched || submitForm ) && Volume.control.errors">
                        <label class="pull-left margin-right">Value of Cartons</label>
                        <input #Volume="ngForm" ngControl="volume" (keypress)="checkInputFloatNumber($event, Volume.value)"
                            [disabled]=""
                            type="text" class="form-control" maxlength="6">
                        <p *ngIf="(Volume.control.touched || submitForm )&&Volume.control.hasError('invalidDecimalNumberMore')"
                            class="error">
                            Value is invalid ( Max value is 999,999,999.99 )
                        </p>
                        <p *ngIf="(Volume.control.touched || submitForm )&&Volume.control.hasError('isZero')"
                            class="error">
                            Value must be greater than 0
                        </p>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="!(flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG')">
                    <div class="form-group">
                        <label class="pull-left margin-right">Cube</label>
                        <input #Volume="ngForm" ngControl="cube"
                            disabled
                            type="text" class="form-control" maxlength="6">
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabItem">Items</a></li>
            <li><a data-toggle="tab" href="#tabEventTracking">Event Tracking</a></li>
            <!--<li><a data-toggle="tab" href="#tabDocument">Documents</a></li>-->
            <li><a data-toggle="tab" href="#laborCost">Labor Cost</a></li>
            <li><a data-toggle="tab" href="#DamageCarton">Damaged Cartons</a></li>
            <li><a data-toggle="tab" href="#Pallet">Pallet</a></li>
            <!--<li><a data-toggle="tab" href="#invoice-tracking">Invoice</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="clearfix tab-pane fade active in" id="tabItem">
                <div class="table-style2 table-responsive table-print">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th title="Status" class="nowrap">Status</th>
                            <th title="Item ID" class="nowrap">Item ID</th>
                            <th title="Universal Product Code">UPC</th>
                            <th title="Stock Keeping Unit/Style">SKU</th>
                            <th title="Size">Size</th>
                            <th title="Color">Color</th>
                            <th title="Lot">Lot</th>
                            <th title="Description">Description</th>
                            <th title="Unit of Measure">UOM</th>
                            <th title="Number of eaches">Pack Size</th>
                            <th title="Expected Cartons">Exp Cart</th>
                            <th title="Actual Cartons">Act Cart</th>
                            <th title="Discrepancy">Discrep</th>
                            <th title="Dam Cart">Dam Cart</th>
                            <th title="Purchase Order">PO</th>
                            <th title="Product Line">Product Line</th>
                            <th title="Campaign">Campaign</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of dataGoodReceipt.gr_details; let i = index">
                            <td class="disabled nowrap" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_item_status_code.toUpperCase() == 'RG' ? item.dtl_item_status : dataGoodReceipt.gr_sts_name}}</td>
                            <td class="disabled nowrap" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_item_id}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.asn_dtl_cus_upc}}</td>
                            <td class="disabled nowrap" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_sku}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_size}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_color}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.asn_dtl_lot}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_gr_dtl_des}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_uom_name}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.asn_dtl_pack}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_gr_dtl_ept_ctn_ttl}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_gr_dtl_act_ctn_ttl}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">
                                <span *ngIf = "item.dtl_gr_dtl_disc != 0" style="color: #D91E18 !important; font-weight: bold; font-size: 16px">{{item.dtl_gr_dtl_disc}}</span>
                                <span *ngIf = "item.dtl_gr_dtl_disc == 0" >{{item.dtl_gr_dtl_disc}}</span>
                            </td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">
                                {{item.gr_dtl_dmg_ttl}}
                            </td>
                            <td class="disabled nowrap" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.dtl_asn_dtl_po}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.prod_line}}</td>
                            <td class="disabled" [style.color]="getHighlightColor(item.dtl_item_status_code)">{{item.cmp}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix tab-pane fade" id="tabEventTracking">
                <div class="table-list-head clearfix" *ngIf="dataEventTracking.length > 0">
                    <div class="form-inline pull-left">
                        <label>Show:</label>
                        <select (change)="onPageSizeChanged($event,'eventtrack')" class="form-control">
                            <option value="20" selected>20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="table-style2 table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th title="Owner" class="nowrap">Owner</th>
                            <th title Transaction Number>Transaction #</th>
                            <th title="Milestone">Milestone</th>
                            <th title="Event">Event</th>
                            <th title="Infomation">Info</th>
                            <th title="Date Time">Date Time</th>
                            <th title="User">User</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of dataEventTracking">
                            <td class="nowrap">{{item.owner}}</td>
                            <td class="nowrap">{{item.trans_num}}</td>
                            <td class="nowrap"><span *ngIf = "item.evt_type == 'E'" class="icon-e"></span><span *ngIf = "item.evt_type != 'E'" class="icon-m" title="Milestone"></span></td>
                            <td class="nowrap">{{item.evt_code}}</td>
                            <td class="nowrap">{{item.info}}</td>
                            <td>{{item.created_at}}</td>
                            <td>{{item.user}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p *ngIf="dataEventTracking.length==0&&!showLoadingOverlay">No Results Found.</p>
                    <div class="pull-right margin-top5 color-gray">
                        <wms-pagination
                                [perPage]="perPage"
                                [paginData]="Pagination"
                                (pageChange)="getEventTrackingByAsn($event)"
                        ></wms-pagination>
                    </div>
                </div>
            </div>
            <!--<div class="clearfix tab-pane fade" id="tabDocument">
                <div class="table-style1 table-responsive">
                    <dms-in [doc_type]="'DLO'" [group]="'GR'" [trans]="dataGoodReceipt['asn_hdr_num']"></dms-in>
                </div>
            </div>-->
            <div class="clearfix tab-pane fade  in" id="laborCost">
                <div class="col-md-6 col-sm-12">
                <labor-cost-directive
                        [category]="'rcv'"
                        [cus_id]="dataGoodReceipt?.cus_id"
                        [value]="id"
                        (laborMessages)="messages=$event"
                ></labor-cost-directive>
                </div>
            </div>

            <div class="clearfix tab-pane fade" id="DamageCarton">

                <unset-damage-directive (messages)="messages=$event" (print)="printDMC($event)"></unset-damage-directive>

            </div>
            <div class="clearfix tab-pane fade" id="Pallet">
                <pallet-directive (messages)="messages=$event" [refNum]="dataGoodReceipt['gr_hdr_num']" [refCusID]="dataGoodReceipt['cus_id']"
                    [createdFrom]="dataGoodReceipt.created_from" [grStatusCode]="dataGoodReceipt.gr_sts_code" [grStatusName]="dataGoodReceipt.gr_sts_name"
                    [asnStatus]="dataGoodReceipt.asn_sts" [hasPermissionUpdatePallet]="hasPermissionUpdatePallet"></pallet-directive>
            </div>

            <!--<div class="clearfix tab-pane fade" id="invoice-tracking">
                <invoice-tracking [ref_num]="dataGoodReceipt['gr_hdr_num']"></invoice-tracking>
            </div>-->

        </div>
        <div class="print-block">
            <table class="table-style-pdf" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Internal Comments</th>
                    <th>External Comments</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{dataGoodReceipt.gr_in_note}}</td>
                    <td>{{dataGoodReceipt.gr_ex_note}}</td>
                </tr>
                </tbody>
            </table>
            <div class="footer">
            <table>
                <tbody>
                <tr>
                    <td>Printed: {{loggerUser['first_name'] +' ' +loggerUser['last_name']}}</td>
                    <td class="text-right">{{getDateTime()}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </form>
    <div *ngIf="dataGoodReceipt['gr_sts_code'] == 'RE'">
        <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
    </div>
    <div *ngIf="dataGoodReceipt['gr_sts_code'] != 'RE'">
        <goBack></goBack>
    </div>
    <div class="button pull-right">
        <goBack *ngIf="dataGoodReceipt['gr_sts_code'] == 'RE'"></goBack>
        <template [ngIf]="flag_print || flagCLGR">
            <button *ngIf="flagCLGR && dataGoodReceipt['gr_sts_code'] == 'RG'" class="btn btn-outline blue" type="button" (click)="completeGRConfirm()"><i class="icon-plus"></i>Complete GR</button>
            <!-- <button type="button" *ngIf="isExistedReceivingGR" class="btn btn-outline blue" (click)="approveGR()"><i class="icon-check"></i>Approve</button> -->
            <a *ngIf="(hasViewPut || hasSavePut) && flag_print" type="button" class="btn btn-default" (click)="printPutAway($event)"><i
                    class="icon-printer"></i> Print Putaway List
            </a>
        </template>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<div id="completeGR" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 *ngIf = "er1" class="modal-title">Unscanned Cartons</h4>
                    <h4 *ngIf = "!er1" class="modal-title">Missing SKUs</h4>
                </div>
                <wms-messages [messages]="messagesCompleteGR"></wms-messages>
                <div class="modal-body form-style">
                    <div *ngIf = "!er1" class="txt-required padding-bt10">These SKUs are not scanned in this Goods Receipt.</div>
                    <div *ngIf = "er1" class="txt-required padding-bt10">These cartons might be misread and unassigned to pallets.</div>
                    <div class="table">
                        <div class="table-style2 table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Item ID</th>
                                    <th>SKU</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Lot</th>
                                    <th>Pack Size</th>
                                    <th *ngIf = "er1">Carton RFID</th>
                                    <th *ngIf = "!er1">Expected CTNS</th>
                                    <th *ngIf = "!er1">Actual CTNS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of completeGRList">
                                    <td>{{item.item_id}}</td>
                                    <td>{{item.asn_dtl_sku}}</td>
                                    <td>{{item.asn_dtl_size}}</td>
                                    <td>{{item.asn_dtl_color}}</td>
                                    <td>{{item.asn_dtl_lot}}</td>
                                    <td>{{item.asn_dtl_pack}}</td>
                                    <td *ngIf = "er1">{{item.ctn_rfid}}</td>
                                    <td *ngIf = "!er1">{{item.asn_dtl_ctn_ttl}}</td>
                                    <td *ngIf = "!er1">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <div *ngIf="er1" class="pull-left question">
                            <label class="txt-confirm"><input type="checkbox" [(ngModel)]="force_gr" style="vertical-align: sub" /> Are you sure that all these cartons went through gateway?</label>
                        </div>
                        <div *ngIf = "!er1" class="txt-required pull-left question"> Are you sure you want to complete this Goods Receipt?</div>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
                        <button *ngIf = "er1" [disabled]="!force_gr" type="button" class="btn btn-primary pull-right" (click)="agreeCompleteGR()"><i class="icon-check"></i>Agree</button>
                        <button *ngIf="!er1" type="button" class="btn btn-primary pull-right" (click)="agreeCompleteGR()"><i class="icon-check"></i>Agree</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="completeGRConfirm" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">The Items are not approved</h4>
                </div>
                <wms-messages [messages]="messagesCompleteGR"></wms-messages>
                <div class="modal-body form-style">
                    <!-- <div class="txt-required padding-bt10">The Exp Cart is different from Act Cart!</div> -->
                    <div class="table">
                        <div class="table-style2 table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th title="Status" class="nowrap">Status</th>
                                    <th title="Item ID" class="nowrap">Item ID</th>
                                    <th title="Universal Product Code">UPC</th>
                                    <th title="Stock Keeping Unit/Style">SKU</th>
                                    <th title="Size">Size</th>
                                    <th title="Color">Color</th>
                                    <th title="Lot">Lot</th>
                                    <th title="Description">Description</th>
                                    <th title="Unit of Measure">UOM</th>
                                    <th title="Number of eaches">Pack Size</th>
                                    <th title="Expected Cartons">Exp Cart</th>
                                    <th title="Actual Cartons">Act Cart</th>
                                    <!-- <th title="Length - {{dataGoodReceipt.sys_measurement_code}}">L-{{dataGoodReceipt.sys_measurement_code}}</th>
                                    <th title="Width - {{dataGoodReceipt.sys_measurement_code}}">W-{{dataGoodReceipt.sys_measurement_code}}</th>
                                    <th title="Height - {{dataGoodReceipt.sys_measurement_code}}">H-{{dataGoodReceipt.sys_measurement_code}}</th> -->
                                    <!-- <th title="Weight(LBS)">WT</th> -->
                                    <th title="Discrepancy">Discrep</th>
                                    <th title="Dam Cart">Dam Cart</th>
                                    <!-- <th title="Cross Docking" class="nowrap">X-Dock</th> -->
                                    <th title="Purchase Order">PO</th>
                                    <!-- <th title="Purchase Order Date">PO Date</th>
                                    <th title="Expired Date">Expired Date</th> -->
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of listError; let i = index">
                                    <td class="disabled nowrap">{{item.dtl_item_status_code.toUpperCase() == 'RG' ? item.dtl_item_status : dataGoodReceipt.gr_sts_name}}</td>
                                    <td class="disabled nowrap">{{item.dtl_item_id}}</td>
                                    <td class="disabled">{{item.asn_dtl_cus_upc}}</td>
                                    <td class="disabled nowrap">{{item.dtl_sku}}</td>
                                    <td class="disabled">{{item.dtl_size}}</td>
                                    <td class="disabled">{{item.dtl_color}}</td>
                                    <td class="disabled">{{item.asn_dtl_lot}}</td>
                                    <td class="disabled">{{item.dtl_gr_dtl_des}}</td>
                                    <td class="disabled">{{item.dtl_uom_name}}</td>
                                    <td class="disabled">{{item.asn_dtl_pack}}</td>
                                    <td class="disabled">{{item.dtl_gr_dtl_ept_ctn_ttl}}</td>
                                    <td class="disabled">{{item.dtl_gr_dtl_act_ctn_ttl}}</td>
                                    <!-- <td class="disabled">{{item.dtl_length}}</td> -->
                                    <!-- <td class="disabled">{{item.dtl_width}}</td> -->
                                    <!-- <td class="disabled">{{item.dtl_height}}</td>
                                    <td class="disabled">{{item.dtl_weight}}</td> -->
                                    <td class="disabled">
                                        <span *ngIf = "item.dtl_gr_dtl_disc != 0" style="color: #D91E18 !important; font-weight: bold; font-size: 16px">{{item.dtl_gr_dtl_disc}}</span>
                                        <span *ngIf = "item.dtl_gr_dtl_disc == 0" >{{item.dtl_gr_dtl_disc}}</span>
                                    </td>
                                    <td class="disabled">
                                        {{item.gr_dtl_dmg_ttl}}
                                    </td>
                                    <!-- <td class="disabled">{{item.dtl_asn_dtl_crs_doc}}</td> -->
                                    <td class="disabled nowrap">{{item.dtl_asn_dtl_po}}</td>
                                    <!-- <td class="disabled nowrap">{{item.dtl_asn_dtl_po_dt}}</td>
                                    <td class="disabled nowrap">{{item.expired_dt}}</td> -->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <!-- <div class="txt-required pull-left question"> Are you sure you want to complete this Goods Receipt?</div> -->
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close</button>
                        <!-- <button type="button" class="btn btn-primary pull-right" (click)="completeGR('messagesCompleteGR')"><i class="icon-check"></i>Agree</button> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
