<h3>Zone Capacity
    <ul class="nav nav-tabs icon-chart-block" role="tablist">
        <li role="presentation" class="active"><a href="#zone-list" aria-controls="home" role="tab" data-toggle="tab"><i
                class="fa fa-list"></i></a></li>
        <li role="presentation"><a href="#zone-chart" aria-controls="profile" role="tab" data-toggle="tab"><i
                class="fa fa-bar-chart"></i></a></li>
    </ul>
    <span class="pull-right form-style-dashboard">
        <label>Customer</label>
        <select (change)="changeCustomer($event)">
            <option value=''>All</option>
            <option *ngFor="let cus of customers" [value]="cus.cus_id">
                 {{cus.cus_name}}
             </option>
        </select>
    </span>
</h3>
<div class="dashboard-detail tab-content">
    <div role="tabpanel" class="tab-pane active" id="zone-list">
        <div class="table-style-dashboard ">
            <table class="table-dashboard table">
                <thead>
                <tr>
                    <th>Zone</th>
                    <th>Used Location/Total Location</th>
                    <th>% (Used Location)/Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="total" >
                    <td>Total</td>
                    <td>{{totalZoneLoc?.usedLocation | wmsNumberFormatter}}/{{totalZoneLoc?.totalLocation | wmsNumberFormatter}}</td>
                    <td>{{totalZoneLoc?.percentLocation  | number : '1.2-2'}}%</td>
                </tr>
                <tr *ngFor="let zone of zoneCapacities | paginate: {id :'addLocaPaginZone', itemsPerPage: 6, currentPage:pZone }; let i = index">
                    <td>{{zone?.zone_name}}</td>
                    <td>{{zone?.used | wmsNumberFormatter}}/{{zone?.total | wmsNumberFormatter}}</td>
                    <td>{{zone?.percent  | number : '1.2-2'}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right paging">
            <div class="showing pull-left clearfix">
                <pagination-controls
                        (pageChange)="pZone = $event" id="addLocaPaginZone" autoHide="true">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="zone-chart">
        <div class="row">
            <div class="col-md-12">
                <canvas id="zone-chart-wrapper"></canvas>
            </div>
        </div>
    </div>
</div>