<div class="top-layout clearfix">
    <h2>Edit Goods Receipt</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>

    <form class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Customer</label>
                        <input tabindex="1" type="text" class="form-control" value="{{dataGoodReceipt.cus_name}}"
                               placeholder="" required
                               readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Goods Receipt #</label>
                        <input tabindex="7" type="text" class="form-control" value="{{dataGoodReceipt.gr_hdr_num}}"
                               placeholder=""
                               required readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">ASN Number</label>
                        <input tabindex="5" type="text" class="form-control" value="{{dataGoodReceipt.asn_hdr_num}}"
                               placeholder=""
                               required readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="">Ref Code</label>
                        <input tabindex="2" type="text" class="form-control" value="{{dataGoodReceipt.asn_hdr_ref}}"
                               placeholder=""
                               required readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="">Expected Date</label>
                        <input tabindex="3" type="text" value='{{dataGoodReceipt.gr_hdr_ept_dt}}' class="form-control"
                               placeholder=""
                               required readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Container Code</label>
                        <select tabindex="4" class="form-control" placeholder="" required readonly>
                            <option value="{{dataGoodReceipt.ctnr_id}}" selected>{{dataGoodReceipt.ctnr_num}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Status</label>
                        <select tabindex="6" class="form-control" placeholder="" readonly>
                            <option selected value='{{dataGoodReceipt.gr_sts_code}}'>{{dataGoodReceipt.gr_sts_name}}
                            </option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-md-1">-->
                    <!--<div class="form-group">-->
                        <!--<label class="">Labor Charge</label>-->
                        <!--<input type="text" class="form-control" maxlength="12" value="{{dataGoodReceipt.labor_charge}}" readonly>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Internal Comments</label>
                        <textarea tabindex="8" name="gr_in_note" id="gr_in_note" [disabled]="flagDisableFields" rows="1"
                                  class="form-control" maxlength="255">{{dataGoodReceipt.gr_in_note}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>External Comments</label>
                        <textarea tabindex="9" name="gr_ex_note" id="gr_ex_note" rows="1" [disabled]="flagDisableFields"
                                  class="form-control" maxlength="255">{{dataGoodReceipt.gr_ex_note}}</textarea>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="">PO</label>
                    <input type="text" class="form-control"  placeholder="" required disabled value="{{dataGoodReceipt.dtl_asn_dtl_po}}">
                </div>
                <div class="form-group">
                    <label class="">PO Date</label>
                    <input type="text" class="form-control"  placeholder="" required disabled value="{{dataGoodReceipt.dtl_asn_dtl_po_dt}}">
                </div>-->
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th title="Item ID" class="nowrap">Item ID</th>
                    <th title="Universal Product Code">UPC</th>
                    <th title="Stock Keeping Unit/Style">SKU</th>
                    <th title="Size">Size</th>
                    <th title="Color">Color</th>
                    <th title="Lot">Lot</th>
                    <th title="Unit of Measure">UOM</th>
                    <th title="Number of eaches">Pack Size</th>
                    <th title="Expected Cartons">Exp Cart</th>
                    <th title="Actual Cartons" class="nowrap">Act Cart</th>
                    <th title="Length - Inch" class="nowrap">L-IN</th>
                    <th title="Weight - Inch" class="nowrap">W-IN</th>
                    <th title="Height - Inch" class="nowrap">H-IN</th>
                    <th title="Weight(LBS)" class="nowrap">WT</th>
                    <th title="Discrepancy">Discrep</th>
                    <th title="Damage">Dam</th>
                    <th title="Cross Docking" class="nowrap">X-Dock</th>
                    <th title="Purchase Order">PO</th>
                    <th title="Purchase Order Date">PO Date</th>
                    <th title="Expired Date">Expired Date</th>
                </tr>
                <tr>
                <tr *ngFor="let item of dataGoodReceipt.gr_details; let i = index">
                    <td class="disabled">{{item.dtl_item_id}}</td>
                    <td class="disabled">{{item.asn_dtl_cus_upc}}</td>
                    <td class="disabled nowrap">{{item.dtl_sku}}</td>
                    <td class="disabled">{{item.dtl_size}}</td>
                    <td class="disabled">{{item.dtl_color}}</td>
                    <td class="disabled">{{item.asn_dtl_lot}}</td>
                    <td class="disabled">{{item.dtl_uom_name}}</td>
                    <td class="disabled">{{item.asn_dtl_pack}}</td>
                    <td class="disabled" id="dtl_gr_dtl_ept_ctn_ttl_{{i}}">{{item.dtl_gr_dtl_ept_ctn_ttl}}</td>
                    <td>
                        <div class="form-group"
                             [class.error-style]="listNull2['gr_dtl_act_ctn_ttl_' + i + '_int'] || listNull2['gr_dtl_act_ctn_ttl_' + i +'_greater0'] || listNull2['gr_dtl_act_ctn_ttl_' + i + '_required'] || listNull2['gr_dtl_act_ctn_ttl_' + i +'_less9999']">
                            <input tabindex="10" type="hidden" value="{{item.dtl_gr_dtl_id}}" class="form-control"
                                   name="gr_dtl_id[]"/>
                            <input tabindex="10" type="text" class="form-control" maxlength="4"
                                   id="gr_dtl_act_ctn_ttl_{{i}}"
                                   name="gr_dtl_act_ctn_ttl[]" value="{{item.dtl_gr_dtl_act_ctn_ttl}}"
                                   [disabled]="flagDisableFields"
                                   (keyup)="removeRequired($event.target);filterForm2($event.target, 'int_greater0');calTotalEP()"
                                   (keypress)="checkInputNumber($event)"
                                   (focusout)="filterForm2($event.target, 'int_greater0')" (keyup)="calDisc($event)"/>
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_int']" class="error">
                                Actual Cartons must be integer
                            <p>
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_greater0']" class="error">
                                Actual Cartons must be greater than 0
                            <p>
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_required']" class="error">
                                Actual Cartons is required
                            <p>
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_less9999']" class="error">
                            Total of Actual Cartons must be less than 9.999 in the same container.
                            <p>
                        </div>
                    </td>
                    <td class="disabled">{{item.dtl_length}}</td>
                    <td class="disabled">{{item.dtl_width}}</td>
                    <td class="disabled">{{item.dtl_height}}</td>
                    <td class="disabled">{{item.dtl_weight}}</td>
                    <td class="disabled" id="dtl_gr_dtl_disc_{{i}}">
                        <span *ngIf = "item.dtl_gr_dtl_disc != 0 && item.dtl_gr_dtl_disc != null " style="color: #D91E18; font-weight: bold; font-size: 16px">{{item.dtl_gr_dtl_disc}}</span>
                        <span *ngIf = "item.dtl_gr_dtl_disc == 0 || item.dtl_gr_dtl_disc == null" >{{item.dtl_gr_dtl_disc}}</span>
                    </td>

                    <td class="dm-check">
                        <input tabindex="11" [hidden] = "item.dtl_gr_dtl_is_dmg == '1'" type="checkbox" id="gr_dtl_is_dmg_{{i}}"
                               (click) = "changeColor($event,'input')" value='1'
                               name="gr_dtl_is_dmg[]" [disabled]="flagDisableFields">
                        <span [hidden] = "item.dtl_gr_dtl_is_dmg != '1'" class="checked-img" (click) = "changeColor($event,'check')" id = "checked_{{i}}"></span>
                    </td>
                    <td class="disabled">{{item.dtl_asn_dtl_crs_doc}}</td>
                    <td class="disabled nowrap">{{item.dtl_asn_dtl_po}}</td>
                    <td class="disabled nowrap">{{item.dtl_asn_dtl_po_dt}}</td>
                    <td class="disabled nowrap">{{item.expired_dt}}</td>
                </tr>
                </thead>
            </table>
        </div>

        <div class="pull-left export" hidden>
            <label class="label-export">Export to:</label>
            <a (click)="exportCsv()" class="csv"></a>
            <a class="pdf" (click)="exportPdf()"></a>
        </div>
        <div class="button pull-right">
            <button type="reset" class="btn btn-default" tabindex="14" (click)="cancel()"><i class="icon-close"></i>Cancel
            </button>
            <button *ngIf="!flagDisableFields" tabindex="12" type="submit" class="btn btn-primary" (click)="save('0')">
                <i class="icon-check"></i>Submit
            </button>
        </div>
    </form>
</div>


