<div *ngIf="canAccess">
  <div class="top-layout clearfix">
    <h2>Labor Tracking Report</h2>
    <wms-breadcrumb></wms-breadcrumb>
  </div>
  <div class="layout-block clearfix">
    <wms-messages *ngIf="messages" [messages]="messages"></wms-messages>
    <div class="search-form eight-column">
      <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search()">
        <div class="form-group">
          <label>Customers</label>
          <select ngControl="cus_id" class="form-control" tabindex="1">
            <option value="">All</option>
            <option *ngFor="let customer of customers" [value]="customer.cus_id">{{ customer.cus_name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>User Name</label>
          <input type="text" ngControl="username" class="form-control" />
        </div>
        <div class="form-group">
          <label>Type</label>
          <select ngControl="type" class="form-control">
            <option value="">All</option>
            <option *ngFor="let item of listType" value="{{ item.type }}">{{
              item.name
            }}</option>
          </select>
        </div>
        <div class="form-group has-feedback">
          <label>Start Date</label>
          <input type="text" class="form-control" data-date-format="mm/dd/yyyy" data-provide="datepicker"
            data-date-today-highlight="1" id="start_time" />
          <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
          <label>End Date</label>
          <input type="text" class="form-control" data-date-format="mm/dd/yyyy" data-provide="datepicker"
            data-date-today-highlight="1" id="end_time" />
          <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group">
          <label>Owner Number</label>
          <input type="text" ngControl="owner" class="form-control" />
        </div>
        <div class="btn-toolbar pull-left margin-top23">
          <button tabindex="7" type="button" class="btn btn-outline gray" (click)="reset()">
            <i class="icon-close"></i>
            Reset
          </button>
          <button type="submit" class="btn btn-outline blue" tabindex="6">
            <i class="icon-magnifier"></i>
            Search
          </button>
        </div>
      </form>
    </div>
    <div class="table">
      <div class="filter clearfix table-list-head">
        <div class="form-inline pull-left">
          <label>Show:</label>
          <select (change)="changePageSize($event)" class="form-control" tabindex="5">
            <option value="20" selected>20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="table-style1">
        <ag-grid-ng2-extent [columnData]="columnData" [sortDefault]="sortData"
          (sortData)="sortData = $event; getReports(pagination['current_page'])" [dataForRenderTable]="grReports"
          [headerURL]="headerURL">
        </ag-grid-ng2-extent>
      </div>
      <div class="pull-right">
        <wms-pagination [perPage]="perPage" [paginData]="pagination" (pageChange)="getReports($event)">
        </wms-pagination>
      </div>
      <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl">
      </report-file-exporter>
    </div>
  </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay">
  <img src="/assets/images/spinner.gif" alt="" />
</div>