<div class="top-layout clearfix">
    <h2>{{pageTitle}}</h2> 
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="order-list">
        <div class="search-form eight-column">
            <form class="clearfix" id="form-filter" (submit)="search()">
                <div class="form-group">
                    <label>Order Number</label>
                    <input type="text" class="form-control" name="odr_num" tabindex="1">
                </div>
                <div class="form-group">
                    <label>Customer </label>
                    <select name="cus_id" class="form-control" tabindex="2">
                        <option value="">ALL</option>
                        <option *ngFor="let item of dataListCustomer| orderBy:['cus_name'];" value="{{item.cus_id}}" [selected]="item.cus_id == local_cus_id">
                            {{item.cus_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Customer Order #</label>
                    <input type="text" class="form-control" name="cus_odr_num" tabindex="3">
                </div>
                <div class="form-group">
                    <label>PO</label>
                    <input type="text" class="form-control" name="cus_po" tabindex="4">
                </div>
                <div class="form-group multiselect">
                    <label>Status</label>
                    <wms-multi-select *ngIf="orderStatus.length" 
                        [name]="'odr_sts[]'" [options]="orderStatus" [numberDisplayed]="2"
                        [refresh]="refreshMultiSelect" (onRefreshed)="refreshMultiSelect = $event"></wms-multi-select>
                </div>
                <div class="form-group">
                    <label>Order Type</label>
                    <select class="form-control" name="odr_type" tabindex="6">
                        <option value="" class="no-value">ALL</option>
                        <option *ngFor="let item of orderTypes" value="{{item.key}}">{{item.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>CSR</label>
                    <input type="text" class="form-control" name="csr" tabindex="7">
                </div>
                <div class="form-group">
                    <label>SKU </label>
                    <input type="text" class="form-control" name="sku" placeholder="" tabindex="8"/>
                </div>
                <div class="form-group has-feedback">
                    <label>Scheduled To Ship Date</label>
                    <input type="text" class="form-control" name="schd_ship_dt" data-provide="datepicker" data-date-today-highlight="1" />
                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <label>Carrier </label>
                    <input type="text" class="form-control" name="carrier" />
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select class="form-control" name="rush_odr" tabindex="6">
                        <option value="" class="no-value">ALL</option>
                        <option *ngFor="let item of priority" value="{{item.value}}">{{item.key}}</option>
                    </select>
                </div>
                <div class="btn-toolbar pull-left margin-top23">
                    <button tabindex="10" type="button" class="btn btn-outline gray" (click)="reset()"><i
                            class="icon-close"></i>Reset
                    </button>
                    <button type="submit" class="btn btn-outline blue" tabindex="9"><i class="icon-magnifier"></i>Search
                    </button>
                </div>
            </form>
        </div>
        <div *ngIf="isOnlineList&&hasImportOnlineOrderPermission" class=" area-block clearfix">
            <form class="form-horizontal form-style" [ngFormModel]="onlineImportForm" novalidate>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"
                             [class.error-style]="(customer.control.touched||showError)&&customer.control.hasError('required')">
                            <label>Customer Name <span class="txt-required">(*)</span> </label>
                            <select class="form-control" ngControl="customer" #customer="ngForm" required>
                                <option value="">ALL</option>
                                <option *ngFor="let item of dataListCustomer| orderBy:['cus_name'];"
                                        value="{{item.cus_id}}">
                                    {{item.cus_name}}
                                </option>
                            </select>
                            <p *ngIf="(customer.control.touched||showError)&&customer.control.hasError('required')"
                               class="error">
                                Customer Name is required.
                            </p>
                        </div>
                    </div>
                    <!--  <div class="col-md-3">
                         <div class="form-group" [class.error-style]="(site.control.touched||showError)&&site.control.hasError('required')">
                             <label>Deal Site <span class="txt-required">(*)</span></label>
                             <select class="form-control" ngControl="site" #site="ngForm" required>
                                 <option value="">ALL</option>
                                 <option value="1">Amazon</option>
                                 <option value="2">Lazada</option>
                             </select>
                             <p *ngIf="(site.control.touched||showError)&&site.control.hasError('required')"
                                class="error">
                                 Deal Site is required.
                             </p>
                         </div>
                     </div> -->
                    <div class="col-md-9">
                        <div class="form-group file-input margin-top22">
                            <label for="importOnlineOrder">Upload file </label>
                            <input type="file" class="" name="files" id="importOnlineOrder"
                                   (change)="fileChangeEvent($event)">
                            <button type="button" class="btn btn-primary float-none" [disabled]="!filesToUpload.length"
                                    (click)="importOnlineOrder(onlineImportForm.value)">Import
                            </button>
                            <label><a href="/assets/doc/Online_Order_Template.xlsx" target="_blank" tabindex="7">Download
                                Template</a></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-order">Order</a></li>
        </ul>
        <div class="tab-content">
            <div class="table" id="tab-order">
                <div class="filter clearfix table-list-head">
                    <div class="pull-right">
                        <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/outbound/order/new"
                           tabindex="9"><i class="icon-plus"></i>Add</a>
                        <div class="input-group pull-right" *ngIf="hasAtLeastOneActionPermission&&!isMerged">
                            <button tabindex="10" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                    class="btn btn-group dropdown-toggle"
                                    type="button"><i class="icon-settings"></i>Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngIf="hasEditPermission"><a (click)="edit()">Edit</a></li>
                                <li><a (click)="comment()">Comment & Priority</a></li>
                                <li *ngIf="hasAssignCSRPermission" (click)="getListCSR()"><a>Assign CSR</a></li>
                                <li *ngIf="hasAllocatePermission" (click)="allocate()"><a>Allocate</a></li>
                                <li *ngIf="hasCreateWavePickPermission" (click)="createWavePick()"><a>Create Wave Pick</a></li>
                                <li *ngIf="hasPrintWavePickPermission" (click)="printWavePick()"><a>Print Wave Pick</a></li>
                                <li *ngIf="hasCompletePickingOrderPermission"><a (click)="completePiking()">Complete Picking Order</a></li>
                                <li *ngIf="hasWorkOrderPermission"><a (click)="createWorkOrder()">Create Work Order</a></li>
                                <li *ngIf="hasUpdateOrderPackingPermission"><a (click)="pack()">Order Packing</a></li>
                                <li *ngIf="hasAssignPalletPermission"><a (click)="assignPallet()">Assign Pallets</a>
                                <li *ngIf="showPrintLPN"><a (click)="checkPrintLPN()">Print LPN</a></li>
                                <li *ngIf="showPrintLPN"><a (click)="checkPrintWAPLPN()">Print WAP LPNs</a></li>
                                <li *ngIf="hasShippingPermission"><a (click)="scheduleShipDate()">Update Schedule To Ship Date</a></li>
                                <li *ngIf="hasShippingPermission"><a (click)="setRoutedDate()">Update Routed Date</a></li>
                                <!-- <li *ngIf="hasCreateBOLPermission"><a (click)="createBOL()">Create BOL</a></li> -->
                                <li *ngIf="hasCommercialInvoicePermission"><a (click)="printCommercialInvoiceMenu()">Print Commercial Invoice</a></li>
                                <li *ngIf="hasShippingPermission"><a (click)="shipping()">Shipping</a></li>
                                <li (click)="modalListDriver()"><a>Assign Driver</a></li>
                                <li><a (click)="revertOrder()">Revert Order</a></li>
                                <li><a (click)="mergeOrder()">Merge Orders</a></li>
                                <li *ngIf="hasCancelOrderPermission" (click)="confirmCancelOrder()"><a>Cancel Order</a></li>
                                <li class="hide" *ngIf="hasCancelOrderPermission" (click)="cancelOrderbySKU()"><a>Cancel Order By SKU</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-inline">
                        <label>Show:</label>
                        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="8">
                            <option value="20" selected>20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                        <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </div>
                </div>
                <div class="table-style1">
                    <advance-table [tableID]="tableID"
                                   [headerURL]="headerURL"
                                   [headerDef]="headerDef"
                                   [pinCols]="pinCols"
                                   [rowData]="rowData"
                                   [getSelectedRow]="getSelectedRow"
                                   [refreshRowData]="refreshRowData"
                                   [expandTable]="expandTable"
                                   (returnSelectedRow)="afterGetSelectedRow($event)"
                                   (sort)="doSort($event)"
                                    (selectionChanged)= 'selectionChanged($event)'
                    ></advance-table>
                </div>
                <div class="pull-right">
                    <wms-pagination
                        [perPage]="perPage"
                        [paginData]="Pagination"
                        (pageChange)="filterList($event)">
                    </wms-pagination>
                </div>
                <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
            </div>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<assign-picker-popup *ngIf="showPopupAssignCSR" (messages)="messages=$event" (isAssigned)="getOrderList(1)" [listSelectedItemID]="listSelectForPopup" [urlGET]="URLget" [urlAssign]="URLAssign" [typePopup]="'csr'"></assign-picker-popup>


<popup-assgin-driver
    *ngIf="showPopupAssignDriver"
    [listSelectedItem]="listSelectedItem"
    (messages)="messages=$event">
</popup-assgin-driver>

<div id="cancel-order" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Cancel Picking</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style2 table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Order Status</th>
                                    <th>Order Num</th>
                                    <th>Cancel</th>
                                    <th>Physically Picked</th>
                                    <th>Physically Split</th>
                                    <th>Remainder Returned</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of cancelList">
                                    <td>{{item.odr_sts}}</td>
                                    <td>{{item.ord_number}}</td>
                                    <td><input type="checkbox" [(ngModel)]="item.checked"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-primary pull-right" (click)="cancelOrder()"><i class="icon-check"></i>Save</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="print-wap-lpn" class="modal fade" role="dialog" data-backdrop="static">
    <form [ngFormModel]="printWapLPNForm" novalidate>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Print WAP LPNs</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style3 table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Order number</th>
                                    <th>Number of Pallet <span class="txt-required">(*)</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{printWapOdrNum}}</td>
                                        <td>
                                            <div class="form-group"
                                                [class.error-style]="(showErrorWapLPN ) && num_of_pallet.control.errors || num_of_pallet.control.hasError('errorNumber')">
                                                <input type="text" maxlength="8"
                                                    #num_of_pallet="ngForm"
                                                    (keypress)="checkInputNumber($event)"
                                                    ngControl="num_of_pallet" class="form-control">

                                                <p *ngIf="(showErrorWapLPN) && num_of_pallet.control.hasError('required')"
                                                class="error">
                                                    Number of Pallet is required.
                                                </p>
                                                <p *ngIf="(showErrorWapLPN )&&num_of_pallet.control.hasError('isZero')&&!num_of_pallet.control.hasError('invalidNumber')"
                                                class="error">
                                                    Number of Pallet must be greater than 0
                                                </p>
                                                <p *ngIf="(showErrorWapLPN )&&num_of_pallet.control.hasError('invalidNumber')"
                                                class="error">
                                                    Number of Pallet must be number greater than 0.
                                                </p>
                                                <p *ngIf="num_of_pallet.control.hasError('errorNumber')"
                                                class="error">
                                                    Data is invalid.Number of Pallet must be an integer number.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-primary pull-right" (click)="printWapLPN()"><i class="icon-check"></i>Save</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="shipped-date" class="modal fade update-date-style" role="dialog" data-backdrop="static">
    <form [ngFormModel]="updateShippedDateForm" novalidate>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Shipped Date</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style3">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Created Date</th>
                                    <th>Shipped Date <span class="txt-required">(*)</span></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td id = 'd-order-num'></td>
                                    <td id = 'd-created-date'></td>
                                    <td>
                                        <div class="form-group has-feedback" [class.error-style]="showErrorShippedDate&&shipped_date.control.errors&&(shipped_date.control.errors['required']||shipped_date.control.errors['invalid'])">
                                            <input type="text" class="form-control" id = "shipped_date"
                                                   data-provide="datepicker" data-date-today-highlight="1" 
                                                   ngControl="shipped_date" #shipped_date="ngForm" required name="shipped_date"/>
                                            <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                            <p *ngIf="shipped_date.control.errors&&showErrorShippedDate&&shipped_date.control.errors['required']"
                                               class="error">
                                                Shipped Date is required.
                                            </p>
                                            <p *ngIf="shipped_date.control.errors&&showErrorShippedDate&&shipped_date.control.errors['invalid']"
                                               class="error">
                                                Shipped Date is invalid.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="saveShippedDate()"
                            class="btn btn-primary pull-right"><i
                            class="icon-check"></i>Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                            class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="schedule-ship-date" class="modal fade update-date-style" role="dialog" data-backdrop="static">
    <form [ngFormModel]="updateScheduleShipDateForm" novalidate>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Schedule To Ship Date</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style-modal">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Created Date</th>
                                    <th>Schedule To Ship Date <span class="txt-required">(*)</span></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td id='schd-order-num'></td>
                                    <td id='schd-created-date'></td>
                                    <td>
                                        <div class="form-group has-feedback datepicker-style" [class.error-style]="showErrorScheduleShipDate&&SchdShipDate.control.errors">
                                            <input type="text" class="form-control" id="schd_ship_dt" class="form-control" (focus)="showDateTimePicker($event)"
                                                wms-datetimepicker data-date-format="MM/DD/YYYY HH:mm" ngControl="schd_ship_dt" #SchdShipDate="ngForm" />
                                            <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                            <p *ngIf="showErrorScheduleShipDate && SchdShipDate.control.hasError('required')"
                                                class="error">
                                                Schedule To Ship Date is required.
                                            </p>
                                            <p *ngIf="showErrorScheduleShipDate && SchdShipDate.control.hasError('invalidDate')"
                                                class="error">
                                                Schedule To Ship Date must be greater than or equal to current date
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="saveScheduleShipDate()"
                            class="btn btn-primary pull-right"><i
                            class="icon-check"></i>Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                            class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="routed-date" class="modal fade update-date-style" role="dialog" data-backdrop="static">
    <form [ngFormModel]="updateRoutedDateForm" novalidate>
        <div class="modal-dialog modal-style-default">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Routed Date</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style3">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Created Date</th>
                                    <th>Routed Date <span class="txt-required">(*)</span></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td id='routed-order-num'></td>
                                    <td id='routed-created-date'></td>
                                    <td>
                                        <div class="form-group has-feedback" [class.error-style]="showErrorRoutedDate&&routedDate.control.hasError('required')">
                                            <input type="text" class="form-control" id="routed_dt" class="form-control datepicker-routed"
                                                    data-provide="datepicker" data-date-today-highlight="1" 
                                                    ngControl="routed_dt" #routedDate="ngForm" required />
                                            <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                            <p *ngIf="showErrorRoutedDate&&routedDate.control.hasError('required')"
                                                class="error">
                                                Routed Date is required.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="saveRoutedDate()"
                            class="btn btn-primary pull-right"><i
                            class="icon-check"></i>Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                            class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="multiple-comment" class="modal fade" role="dialog" data-backdrop="static">
    <form [ngFormModel]="multiCommentForm" novalidate>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comments</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="row">
                        <div *ngIf="hasWHComment" class="col-md-6">
                            <div class="form-group">
                                <label>WHS Comments</label>
                                <textarea ngControl="in_notes" maxlength="500" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>External Comments</label>
                                <textarea ngControl="cus_notes" maxlength="500" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div *ngIf="hasCSRComment" class="col-md-6">
                            <div class="form-group">
                                <label>CSR Comments</label>
                                <textarea ngControl="csr_notes" maxlength="500" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="saveComment()" class="btn btn-primary pull-right">
                        <i class="icon-check"></i>Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                        <i class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="merge_order" class="modal fade" role="dialog" data-backdrop="static">
        <form [ngFormModel]="mergeOrderFrom" novalidate *ngIf="showForm&&mergeOrderFrom">
            <div class="modal-dialog modal-style-default">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Merge Orders</h4>
                    </div>
                    <div class="modal-body form-style">
                        <div class="row">
                            <div class="form-group">
                                <label class="width150 pull-left">Target Order Number :</label>
                                <div class="label-group col-md-6">
                                    <div *ngFor="let item of orderNumberList; let i = index">
                                        <label class="radio-inline">
                                            <input type="radio" [value]="item.value"
                                                (click)="checkOrder($event)" name="targetOrderId" id="{{item.value}}" [checked]="mergeOrderFrom.controls['targetOrderId'].value==item.value">
                                            {{item.display}}
                                        </label>
                                    </div>
                                </div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [class.error-style]="(cus_odr_num.control.touched||showErrorMergeOrder)&&cus_odr_num.control.hasError('required')">
                                    <label>Customer Order # <span class="txt-required">(*)</span></label>
                                    <select ngControl="cus_odr_num" class="form-control" #cus_odr_num="ngForm">
                                        <option value="">Select one value</option>
                                        <option *ngFor="let item of customerList" [value]="item.value">{{item.display}}
                                        </option>
                                    </select>
                                    <p *ngIf="(cus_odr_num.control.touched||showErrorMergeOrder)&&cus_odr_num.control.hasError('required')"
                                        class="error">
                                        Customer Order is required.
                                    </p>
                                </div>
                            </div>
    
                            <div class="col-md-6">
                                <div class="form-group" [class.error-style]="(cus_po.control.touched||showErrorMergeOrder)&&cus_po.control.hasError('required')">
                                    <label>PO <span class="txt-required">(*)</span></label>
                                    <select ngControl="cus_po" class="form-control" #cus_po="ngForm">
                                        <option value="">Select one value</option>
                                        <option *ngFor="let item of POList" [value]="item.value">{{item.display}}
                                        </option>
                                    </select>
                                    <p *ngIf="(cus_po.control.touched||showErrorMergeOrder)&&cus_po.control.hasError('required')"
                                        class="error">
                                        PO is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" (click)="submitMergeOrder()" class="btn btn-primary pull-right">
                            <i class="icon-check"></i>Merge
                        </button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                            <i class="icon-close"></i>Close
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>