<div *ngIf="canAccess">
    <div class="top-layout clearfix">
        <h2>Sku Report</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block clearfix">
        <wms-messages [messages]="messages"></wms-messages>
        <div class="search-form eight-column">
            <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search()">
                <div class="form-group">
                    <label>Customers</label>
                    <select ngControl="cus_id" class="form-control">
                        <option value="">All</option>
                        <option *ngFor="let customer of customers" [value]="customer.cus_id">{{customer.cus_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>SKU</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoadingSKUs">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                               tabindex="20"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadSKUs($event)"
                               ngControl="sku" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group" *ngIf="searchForm.value['sku'] && SKUs.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectSKU($event, sku)"
                               *ngFor="let sku of SKUs">
                                {{sku.sku}} - {{sku.size}} - {{sku.color}} - {{sku.lot}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="btn-toolbar pull-left margin-top23">
                    <button tabindex="7" type="button" class="btn btn-outline gray" (click)="reset()">
                        <i class="icon-close"></i>
                        Reset
                    </button>
                    <button type="submit" class="btn btn-outline blue" tabindex="6">
                        <i class="icon-magnifier"></i>
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div class="table">
            <div class="filter clearfix table-list-head">
                <div class="form-inline pull-left">
                    <label>Show:</label>
                    <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
            <div class="table-style1">

                <ag-grid-ng2-extent
                        (dataSelected)="ListSelectedItem=$event"
                        [columnData]="columnData"
                        [sortDefault]="sortData"
                        (sortData)="sortData=$event;getListActivity(Pagination['current_page'])"
                        [dataForRenderTable]="listActivity"
                        [headerURL]="headerURL"></ag-grid-ng2-extent>
            </div>

            <div class="pull-right">
                <wms-pagination
                        [perPage]="perPage"
                        [paginData]="Pagination"
                        (pageChange)="getListActivity($event)"
                ></wms-pagination>
            </div>
            <!--<file-exporter [headerExport]="headerExport" [dataExport]="dataExport" [fileName]="fileName"></file-exporter>-->
            <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
