<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>Zone List</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block zone-management">
        <div *ngIf="messages" class="col-mg-12">
            <div class="alert alert-{{messages.status}}">
                <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
                <span [innerHTML]="messages.txt"></span>
            </div>
        </div>
        <div class="search-form six-column clearfix">
            <form class="clearfix" id="form-filter">
                <!--<div class="form-group">
                  <label>Warehouse</label>
                  <select class="form-control" name="zone_whs_id">
                    <option *ngFor="let item of warehouseList" value="{{item.whs_id}}">{{item.whs_name}}</option>
                  </select>
                </div>-->
                <div class="form-group">
                    <label>Zone Code</label>
                    <input tabindex="1" type="text" class="form-control" name="zone_code" placeholder="">
                </div>
                <div class="form-group">
                    <label>Zone Name</label>
                    <input tabindex="2" autocomplete="off" placeholder="" type="text" class="form-control" name="zone_name"
                           id="zone_name" [(ngModel)]="zone_name" (keyup)="getZoneTypeTest()">
                </div>
                <div class="form-group">
                    <label>Zone Type</label>
                    <select tabindex="3" class="form-control" name="zone_type_id">
                        <option value="">All</option>
                        <option *ngFor="let item of zoneTypeList" value="{{item.zone_type_id}}">{{item.zone_type_name}}
                        </option>
                    </select>
                </div>
                <div class="btn-toolbar pull-left margin-top23">
                    <button tabindex="5" type="reset" class="btn btn-outline gray" (click)="resetSearch()"><i class="icon-close"></i>Reset
                    </button>
                    <button tabindex="4" type="submit" class="btn btn-outline blue" (click)="search()"><i class="magnifier"></i>Search
                    </button>
                </div>
            </form>
        </div>
        <div class="table">
            <div class="filter clearfix table-list-head">
                <div *ngIf="editZone" class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="8"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngIf="editZone"><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a href="#">Delete</a></li>-->
                    </ul>
                </div>
                <div class="pull-right">
                    <a *ngIf="createZone" class="btn btn-primary" href="#/system-setup/zone/new" tabindex="7"><i
                            class="icon-plus"></i>Add</a>
                </div>
                <div class="form-inline">
                    <label>Show</label>
                    <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="6">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
            <div class="table-style1">
            <ag-grid-ng2-extent
                    (dataSelected)="ListSelectedItem=$event"
                    [columnData]="columnData"
                    [sortDefault]="sortData"
                    (sortData)="sortData=$event;action=='getlist' ? getZoneList(Pagination['current_page']) : search(Pagination['current_page'])"
                    [activeViewDetail]="true"
                    [dataForRenderTable]="zoneList"
                    [headerURL]="headerURL"></ag-grid-ng2-extent>
            </div>
            <div class="pull-right">
                <!--
                Directive WMSPagination
                Url : common/directives/directives
                -->
                <wms-pagination
                        [perPage]="perPage"
                        [paginData]="Pagination"
                        (pageChange)="action=='getlist' ? getZoneList($event) : search($event)"
                ></wms-pagination>

            </div>


            <!--<div class="pull-left export">
                <label class="label-export">Export to:</label>
                <a (click)="exportCsv()" class="csv"></a>
                <a class="pdf" (click)="exportPdf()"></a>
            </div>-->
        </div>

    </div>
</div><!--  / allow access -->

<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
