<div class="top-layout clearfix">
  <h2>Container Plug Report</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <div class="search-form seven-column">
      <form class="clearfix form-inline" id="form-filter" (submit)="search()">
          <div class="form-group">
              <label>Bay </label>
              <select name="bay" class="form-control" tabindex="2">
                  <option value="">All</option>
                  <!-- <option *ngFor="let item of dataListCustomer| orderBy:['cus_name'];" value="{{item.cus_id}}">{{item.cus_name}}</option> -->
              </select>
          </div>
          <div class="form-group">
              <label>Container </label>
              <select name="ctnr_id" class="form-control" tabindex="2">
                  <option value="">All</option>
                  <option *ngFor="let item of listContainers" [value]="item.ctnr_id">{{item.ctnr_num}}</option>
              </select>
          </div>
          <div class="form-group">
              <label>Customer </label>
              <select name="cus_id" class="form-control" tabindex="2">
                  <option value="">All</option>
                  <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}</option>
              </select>
          </div>
          <div class="form-group  has-feedback">
              <label>Start from</label>
              <input type="text" tabindex="4"  maxlength="10" autocomplete="off"
                                     data-provide="datepicker" name="start_from"
                                     class="form-control datepicker-asn">
              <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="form-group  has-feedback">
              <label>Start to</label>
              <input type="text" tabindex="4"  maxlength="10" autocomplete="off"
                                     data-provide="datepicker" name="start_to"
                                     class="form-control datepicker-asn">
              <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="form-group  has-feedback">
              <label>End from</label>
              <input type="text" tabindex="4"  maxlength="10" autocomplete="off"
                                     data-provide="datepicker" name="end_from"
                                     class="form-control datepicker-asn">
              <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="form-group  has-feedback">
              <label>End to</label>
              <input type="text" tabindex="4"  maxlength="10" autocomplete="off"
                                     data-provide="datepicker" name="end_to"
                                     class="form-control datepicker-asn">
              <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="btn-toolbar pull-right">
              <span *ngIf="flagLoading"><img src="/assets/images/loading.gif" alt=""></span>
              <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="7"><i class="icon-close"></i>Reset</button>
              <button type="submit" class="btn btn-outline blue" tabindex="6"><i class="icon-magnifier"></i>Search</button>

          </div>
      </form>
  </div>

  <div class="table">
    <div class="filter clearfix table-list-head">
      <div class="form-inline pull-left">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="table-style1">

      <ag-grid-ng2-extent
        [columnData]="columnData"
        [sortDefault]="sortData"
        (sortData)="sortData=$event;getAsnReportList(Pagination['current_page'])"
        [dataForRenderTable]="containerPlugList"
        [headerURL]="headerURL"></ag-grid-ng2-extent>
    </div>

    <div class="pull-right">
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="getContainerPlugReportList($event)"
      ></wms-pagination>
    </div>
  </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

