<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>Relocation</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">
        <wms-messages [messages]="messages"></wms-messages>
        <div class="area-block clearfix">
            <form *ngIf="showForm" class="form-horizontal form-style" *ngIf="ReLocationForm"
                  [ngFormModel]="ReLocationForm" (ngSubmit)="afterRelocation()" novalidate>
                <div class="form-group">
                    <label>Relocated by</label>
                    <div class="label-group">
                        <div class="radio-inline">
                            <input type="radio" checked="checked" name="" id="" value=""> Location
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group" [class.error-style]="(txtLocation.control.touched||submitForm)&&(txtLocation.control.errors||exitsLocation['from_loc_code']==false)">
                            <label>Current Location</label>
                            <input type="hidden" ngControl="from_loc_id">
                            <input placeholder="Auto Complete"
                                   maxlength="50"
                                   (mouseout)="checkExitsLocation('from_loc_code')"
                                   #txtLocation="ngForm"
                                   [ngModel]="locationModel.from_loc_code"
                                   (ngModelChange)="autoSearchLocation('reloLoading','CurrentLocation','from_loc_code','from_loc_id',$event)"
                                   ngControl="from_loc_code"
                                   class="form-control dropdown-toggle"
                                   type="text"
                                   data-toggle="dropdown"/>

                            <ul class="dropdown-menu autocomplete" *ngIf="txtLocation.value">
                                <span class="icon-loading-search-complete" *ngIf="searching['reloLoading']"><img
                                        src="/assets/images/loading.gif"></span>
                                <li (click)="selectedItem('from_loc_code','from_loc_id',item)"
                                    *ngFor="let item of LocationAutoCompleteData['CurrentLocation']">{{item.loc_code}}
                                </li>
                            </ul>
                            <p *ngIf=" txtLocation.control.touched&&txtLocation.control.hasError('required')
                ||submitForm && txtLocation.control.hasError('required') || txtLocation.control.hasError('invalidSpace')"
                               class="error">
                                Location is required.
                            </p>
                            <p *ngIf="txtLocation.control.touched&&exitsLocation['from_loc_code']==false"
                               class="error">
                                Location is not existed.
                            </p>
                          <p *ngIf="txtLocation.control.touched&&txtLocation.control.hasError('loc_status_is_locked')"
                             class="error">
                            Location is Locked.
                          </p>
                          <p *ngIf="txtLocation.control.touched&&txtLocation.control.hasError('loc_status_is_locked_cycle')"
                             class="error">
                            Location is Cycle Locked
                          </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group" [class.error-style]="( txtnewLocation.control.touched  ||submitForm ) && ( txtnewLocation.control.errors || exitsLocation['to_loc_code']==false )">
                            <label class="">New Location</label>
                            <input type="hidden" ngControl="to_loc_id">
                            <input placeholder="Auto Complete"
                                   maxlength="50"
                                   (mouseout)="checkExitsLocation('to_loc_code')"
                                   #txtnewLocation="ngForm"
                                   [ngModel]="locationModel.to_loc_code"
                                   (ngModelChange)="autoSearchLocation('newloLoading','NewLocations','to_loc_code','to_loc_id',$event)"
                                   ngControl="to_loc_code"
                                   class="form-control dropdown-toggle"
                                   type="text"
                                   data-toggle="dropdown"/>

                            <ul class="dropdown-menu autocomplete" *ngIf="txtnewLocation.value">
                                <span class="icon-loading-search-complete" *ngIf="searching['newloLoading']"><img
                                        src="/assets/images/loading.gif"></span>
                                <li (click)="selectedItem('to_loc_code','to_loc_id',item)"
                                    *ngFor="let item of LocationAutoCompleteData['NewLocations']">{{item.loc_code}}
                                </li>
                            </ul>
                            <p *ngIf="(txtnewLocation.control.touched
                ||submitForm)&&(txtnewLocation.control.hasError('required') || txtnewLocation.control.hasError('invalidSpace'))"
                               class="error">
                                Locations is required.
                            </p>
                            <p *ngIf="txtnewLocation.control.touched&&exitsLocation['to_loc_code']==false"
                               class="error">
                                Location is not existed.
                            </p>
                          <p *ngIf="txtnewLocation.control.touched&&txtnewLocation.control.hasError('loc_status_is_locked')"
                             class="error">
                            Location is Locked.
                          </p>
                          <p *ngIf="txtnewLocation.control.touched&&txtnewLocation.control.hasError('loc_status_is_locked_cycle')"
                             class="error">
                            Location is Cycle Locked
                          </p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary margin-top23"><i class="icon-check"></i>Relocate
                    </button>
                </div>
            </form>
        </div>
        <div class="table">
        <div *ngIf="listitemLocation.length" class="table-list-head">
            <div class="form-inline">
                <label>Show:</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
      <div class="table-style1">
        <ag-grid-ng2-extent
                [columnData]="columnData"
                [showLoading]="showLoading"
                (sortData)="sortData=$event;getListItemOfLocation(Pagination['current_page'])"
                [dataForRenderTable]="listitemLocation"
                [headerURL]="headerURL"></ag-grid-ng2-extent>
        </div>
        <div class="pull-right" *ngIf="Pagination">
            <!--
                Directive WMSPagination
                Url : common/directives/directives
                -->
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getListItemOfLocation($event)"
            ></wms-pagination>
        </div>
        </div>
    </div><!-- / allow access -->
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
