<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form class="form-horizontal form-style" *ngIf="uomForm" [ngFormModel]="uomForm"
          (ngSubmit)="action!='view' && save(uomForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-area">
                        <div [class.col-md-3]="sys_uom_type.control.value.toLowerCase() == 'item'" [class.col-md-4]="sys_uom_type.control.value.toLowerCase() != 'item'">
                            <div class="form-group">
                                <label class="">UOM Type</label>
                                <select [disabled]="isView || (action=='edit' && detail['sys_uom_type'] == 'Item')" (change) = 'resetUOMCodebyLenght($event, uomForm)' ngControl="sys_uom_type" #sys_uom_type="ngForm" class="form-control" tabindex="1" id="sys_uom_type">
                                    <option value="" [selected]="detail?.sys_uom_type == null || detail?.sys_uom_type == ''">None</option>
                                    <option value="Item" [selected]="detail?.sys_uom_type?.toLowerCase() == 'item'">Item</option>
                                    <option value="Measurement" [selected]="detail?.sys_uom_type?.toLowerCase() == 'measurement'">Measurement</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" [class.hidden]="sys_uom_type.control.value.toLowerCase() != 'item'">
                            <div class="form-group" [class.error-style]="(level_id.control.touched || submitted) && level_id.control.errors">
                                <label class="">UOM Level <span *ngIf="!isView" class="txt-required">(*)</span></label>
                                <select [disabled]="isView || (action=='edit' && detail['sys_uom_type'] == 'Item')" ngControl="level_id" #level_id="ngForm" class="form-control" tabindex="1" id="level_id" (change)="changePackingLevel($event.target.value)">
                                    <option value="">Select one value</option>
                                    <option *ngFor="let item of packingLevel" [value]="item.level_id">{{item.pkg_name}}</option>
                                </select>
                                <p *ngIf="(level_id.control.touched || submitted)&&level_id.control.errors"
                                       class="error">
                                    UOM Level is required.
                                </p>
                            </div>
                        </div>
                        <div [class.col-md-3]="sys_uom_type.control.value.toLowerCase() == 'item'" [class.col-md-4]="sys_uom_type.control.value.toLowerCase() != 'item'">
                            <div class="form-group"
                                 [class.error-style]="(sys_uom_code.control.touched || submitted) && sys_uom_code.control.errors">
                                <label class="">UOM Code <span *ngIf="!isView" class="txt-required">(*)</span></label>
                                <input tabindex="2" id="sys_uom_code" type="text" (keypress)="checkMaxLength($event, uomForm)" class="form-control" #sys_uom_code="ngForm"
                                       (blur)="detectControlErr(sys_uom_code)" ngControl="sys_uom_code"
                                       [readonly]="idDetail" required>
                                <p *ngIf="sys_uom_code.errors&&sys_uom_code.errors.error_messages" class="error">
                                    UOM Code {{ (sys_uom_code.errors.error_messages) }}
                                </p>
                                <p *ngIf="sys_uom_code.control.touched && sys_uom_code.control.hasError('invalidLengthUOMCode') && uomForm.controls['sys_uom_type'].value === 'Item'" class="error">
                                    UOM Code must have 2 characters, no special characters
                                </p>
                                <p *ngIf="sys_uom_code.control.touched && sys_uom_code.control.hasError('invalidLengthUOMCode') && uomForm.controls['sys_uom_type'].value !== 'Item'" class="error">
                                    UOM Code only contains 2 or 3 characters, no special characters
                                </p>
                            </div>
                        </div>
                        <div [class.col-md-3]="sys_uom_type.control.value.toLowerCase() == 'item'" [class.col-md-4]="sys_uom_type.control.value.toLowerCase() != 'item'">
                            <div class="form-group"
                                 [class.error-style]="(sys_uom_name.control.touched || submitted) && sys_uom_name.control.errors">
                                <label class="">UOM Name <span *ngIf="!isView" class="txt-required">(*)</span></label>
                                <input tabindex="3" type="text" maxlength="20" class="form-control" #sys_uom_name="ngForm"
                                       ngControl="sys_uom_name"
                                       (blur)="detectControlErr(sys_uom_name)" [readonly]="isView" required>
                                <p *ngIf="sys_uom_name.errors&&sys_uom_name.errors.error_messages" class="error">
                                    UOM Name {{ (sys_uom_name.errors.error_messages) }}
                                </p>
                                <p *ngIf="sys_uom_name.control.touched && sys_uom_name.control.hasError('invalidNameStr')" class="error">
                                    UOM Name should only contain alphanumeric, space, hyphen and underscore.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Description</label>
                                <textarea tabindex="4" name="" maxlength="255" rows="3" class="form-control" [readonly]="isView"
                                          ngControl="sys_uom_des"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="button pull-right" *ngIf="!isView">
                        <button tabindex="6" type="button" class="btn btn-default" (click)="cancel()"><i class="icon-close"></i>Cancel
                        </button>
                        <button tabindex="5" type="submit" class="btn btn-primary" *ngIf="action=='new'"><i class="icon-check"></i>Save
                        </button>
                        <button tabindex="5" type="submit" class="btn btn-primary" *ngIf="action=='edit'"><i class="icon-note"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="isView"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
