<div class="top-layout clearfix">
  <h2>ASN Report</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <div class="search-form eight-column">
    <form class="clearfix form-inline">
      <div class="form-group">
        <label>Customer Name</label>
        <select tabindex="11" [(ngModel)]="cus_id" (ngModelChange)="getAsnReportList()" class="form-control">
          <option value="">All</option>
          <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Status </label>
        <select class="form-control" [(ngModel)]="ans_status" (ngModelChange)="getAsnReportList()" tabindex="5">
          <option value="">All</option>
          <option *ngFor="let item of asnStatus" [value]="item.asn_sts">{{item.asn_sts_name}}</option>
        </select>
      </div>

      <div class="select-time margin-top">

        <div class="radio-inline">
          <label class="radio-inline">
            <input (change)="changeTimeView(1)" checked type="radio" value="option1" name="time">
            1 Day
          </label>
          <label class="radio-inline">
            <input (change)="changeTimeView(7)" type="radio" value="option2" name="time"> 1 Week
          </label>
          <label class="radio-inline">
            <input (change)="changeTimeView(30)" type="radio" value="option3" name="time"> 1 Month
          </label>
          <label class="radio-inline">
            <input (change)="changeTimeView(90)" type="radio" value="option3" name="time"> 3 Months
          </label>
        </div>

      </div>

    </form>
  </div>

  <div class="table">
    <div class="filter clearfix table-list-head">
      <div class="form-inline pull-left">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="table-style1">

      <ag-grid-ng2-extent
        (dataSelected)="ListSelectedItem=$event"
        [columnData]="columnData"
        [sortDefault]="sortData"
        (sortData)="sortData=$event;getAsnReportList(Pagination['current_page'])"
        [dataForRenderTable]="workOrderList"
        [headerURL]="headerURL"></ag-grid-ng2-extent>
    </div>

    <div class="pull-right">
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="getAsnReportList($event)"
      ></wms-pagination>
    </div>
    <!--<file-exporter [headerExport]="headerExport" [dataExport]="dataExport" [fileName]="fileName"></file-exporter>-->
    <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
  </div>
</div>
<!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

