<div class="top-layout clearfix">
    <h2>View ASN</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block asn-management print-management">
    <wms-messages [messages]="messages"></wms-messages>
    <form *ngIf="viewASNForm" [ngFormModel]="viewASNForm" class="form-horizontal form-style">
        <div class="print-block">
            <table style="width: 100%; border-bottom:1px dashed #ddd;margin-bottom: 20px" cepadding="0"
                   cellspacing="0">
                <tbody>
                <tr>
                    <td width="20%" class="text-center">
                        <img src="/assets/images/logo-blue.png" width="30%" class="margin-bottom">
                    </td>
                </tr>
                </tbody>
            </table>
            <h2>{{dataAsn.asn_hdr_num}}</h2>
            <p class="margin-bottom"><small>{{dataAsn.asn_sts_name}}</small></p>
            <div class="table-style-pdf2">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="title-label" style="width: 150px">Customer</td>
                        <td style="width: 250px">{{dataAsn.cus_name}}</td>
                        <td class="title-label" style="width: 150px">Total SKUs</td>
                        <td>{{dataAsn.asn_hdr_itm_ttl}}</td>
                    </tr>
                    <tr>
                        <td class="title-label">Ref Code</td>
                        <td>{{dataAsn.asn_hdr_ref}}</td>
                        <td class="title-label">Containers</td>
                        <td>{{dataListContainersByASN.length}}</td>
                    </tr>
                    <tr>
                        <td class="title-label">Exp date</td>
                        <td>{{dataAsn.asn_hdr_ept_dt}}</td>
                        <td class="title-label"></td>
                        <td colspan="9"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngFor="let items of dataListContainersByASN">
                <h3>Container : {{items.ctnr_num}}</h3>
                <div class="table-style2 table-print">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th title="Status" class="nowrap">Status</th>
                            <th title="Goods Receipt Number" class="nowrap">Goods Receipt #</th>
                            <th title="Item ID" class="nowrap">Item ID</th>
                            <th title="Universal Product Code">UPC</th>
                            <th title="Stock Keeping Unit/Style">SKU</th>
                            <th title="Size">Size</th>
                            <th title="Color">Color</th>
                            <th title="Lot">Lot</th>
                            <th title="Unit of Measure">UOM</th>
                            <th title="Number of eaches">Pack Size</th>
                            <th title="Expected Cartons">Exp Cart</th>
                            <th title="Actual Cartons">Act Cart</th>
                            <th title="Length - {{dataAsn.sys_measurement_code}}">L-{{dataAsn.sys_measurement_code}}
                            </th>
                            <th title="Width - {{dataAsn.sys_measurement_code}}">W-{{dataAsn.sys_measurement_code}}</th>
                            <th title="Height - {{dataAsn.sys_measurement_code}}">H-{{dataAsn.sys_measurement_code}}
                            </th>
                            <th title="Weight(LBS)">WT</th>
                            <th title="Discrepancy">Disrep</th>
                            <th title="Damaged">Dam</th>
                            <th title="Cross Docking" class="nowrap">X-Dock</th>
                            <th title="Purchase Order">PO</th>
                            <th title="Purchase Order Date">PO Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items.asn_details">
                            <td class="nowrap">{{item.asn_dtl_sts}}</td>
                            <td class="nowrap">{{item.gr_hdr_num}}</td>
                            <td class="nowrap">{{item.dtl_item_id}}</td>
                            <td class="nowrap">{{item.asn_dtl_cus_upc}}</td>
                            <td class="nowrap">{{item.dtl_sku}}</td>
                            <td>{{item.dtl_size}}</td>
                            <td>{{item.dtl_color}}</td>
                            <td>{{item.asn_dtl_lot}}</td>
                            <td>{{item.dtl_uom_name}}</td>
                            <td>{{item.asn_dtl_pack}}
                            <td>{{item.dtl_ctn_ttl}}</td>
                            <td>{{item.dtl_gr_dtl_act_ctn_ttl}}</td>
                            <td>{{item.dtl_length}}</td>
                            <td>{{item.dtl_width}}</td>
                            <td>{{item.dtl_height}}</td>
                            <td>{{item.dtl_weight}}</td>
                            <td>
                                <span *ngIf="item.dtl_gr_dtl_disc != 0"
                                      style="color: #D91E18 !important; font-weight: bold; font-size: 16px">{{item.dtl_gr_dtl_disc}}</span>
                                <span *ngIf="item.dtl_gr_dtl_disc == 0">{{item.dtl_gr_dtl_disc}}</span>
                            </td>
                            <td [class]="item.dtl_gr_dtl_is_dmg == '1' ? 'dm-check':''">
                                <input type="checkbox"
                                       [style.display]="item.dtl_gr_dtl_is_dmg == '1' ? 'none':''"
                                       [checked]="item.dtl_gr_dtl_is_dmg == '1'" disabled>
                                <label for="dm-check"></label>
                            </td>
                            <td>{{item.dtl_crs_doc}}</td>
                            <td>{{item.dtl_po}}</td>
                            <td class="nowrap">{{item.dtl_po_date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="footer">
                <table>
                    <tbody>
                    <tr>
                        <td>Printed: {{loggerUser['first_name'] +' ' +loggerUser['last_name']}}</td>
                        <td class="text-right">{{getDateTime()}}</td>
                    </tr>
                    </tbody>
                </table>
            </table>
        </div>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Customer </label>
                                <input type="text" class="form-control" value="{{dataAsn.cus_name}}" name="customer"
                                       placeholder="" required readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">ASN Number </label>
                                <input type="text" class="form-control" value="{{dataAsn.asn_hdr_num}}"
                                       name="asn-number" placeholder="" required readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Ref Code </label>
                                <input type="text" class="form-control" value="{{dataAsn.asn_hdr_ref}}" name="ref-code"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group has-feedback" disabled="">
                                <label>1st Expected Date </label>
                                <input type="text" class="form-control" value="{{dataAsn.asn_hdr_ept_dt}}"
                                       name="exp-date" aria-describedby=""
                                       data-provide="datepicker" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group datepicker-style" [class.error-style]="(actDate.control.touched || submitForm) && actDate.control.errors">
                                <label class="">Goods Receipt Date</label>
                                <input type="text" maxlength="16" class="form-control datepicker-asn"
                                    #actDate="ngForm" ngControl="asn_hdr_act_dt" name="asn_hdr_act_dt"
                                    wms-datepicker [disabled]="dataAsn['asn_sts'] != 'NW' && dataAsn['asn_sts'] != 'RG'" />
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                <p *ngIf="(actDate.control.touched || submitForm) && actDate.control.hasError('required')" class="error">
                                    Goods Receipt Date is required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="">Status</label>
                                <select class="form-control" name="status" placeholder="" disabled>
                                    <option value="{{dataAsn.asn_sts}}" selected>{{dataAsn.asn_sts_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Carrier</label>
                                <select class="form-control" id="t_ctnr_id" name="ctnr_id" placeholder=""
                                        (change)="changeCtnr($event);setFristTabActive()">
                                    <option *ngFor="let item of dataListContainersByASN" value="{{item.ctnr_id}}"
                                            [selected]="item.ctnr_id == ctn_id">{{item.ctnr_num}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group datepicker-style">
                                <label class="">Carrier Exp Date</label>
                                <input type="text" maxlength="16" class="form-control datepicker-asn"
                                    #conExpDate="ngForm" ngControl="asn_dtl_ept_dt" name="asn_dtl_ept_dt"
                                    disabled />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class=""># of SKUs </label>
                                <input type="text" value="{{dataAsn.asn_hdr_itm_ttl}}" class="form-control" id=""
                                       name="customer" placeholder="" readonly>
                            </div>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="form-group">
                                <label class=""># of CTNRs </label>
                                <input type="text" value="{{dataListContainersByASN.length}}" class="form-control"
                                       name="customer" placeholder="" readonly>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabAsn">Items</a></li>
            <li><a data-toggle="tab" href="#tabEventTracking" (click)="getEventTrackingByAsn()">Event Tracking</a></li>
            <!--<li><a data-toggle="tab" href="#tabDocument">Documents</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="clearfix tab-pane fade active in" id="tabAsn">
                <div class="table-style2 table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th title="Status" class="nowrap">Status</th>
                            <th title="Goods Receipt Number" class="nowrap">Goods Receipt #</th>
                            <th title="Item ID" class="nowrap">Item ID</th>
                            <th title="Universal Product Code">UPC</th>
                            <th title="Stock Keeping Unit/Style">SKU</th>
                            <th title="Size">Size</th>
                            <th title="Color">Color</th>
                            <th title="Lot">Lot</th>
                            <th title="Description">Description</th>
                            <th title="Unit of Measure">UOM</th>
                            <th title="Number of eaches">Pack Size</th>
                            <th title="Expected Cartons">Exp Qty</th>
                            <th title="Actual Cartons">Act Qty</th>
                            <th title="Discrepancy">Disrep</th>
                            <th title="Purchase Order">PO</th>
                            <th title="Purchase Order Date">PO Date</th>
                            <th title="Expired Date">Expired Date</th>
                            <th title="Product Line">Product Line</th>
                            <th title="Campaign">Campaign</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of dataAsn.asn_details">
                            <td class="nowrap">{{getActualStatusItem(item)}}</td>
                            <td class="nowrap">{{item.gr_hdr_num}}</td>
                            <td class="nowrap">{{item.dtl_item_id}}</td>
                            <td class="nowrap">{{item.asn_dtl_cus_upc}}</td>
                            <td class="nowrap">{{item.dtl_sku}}</td>
                            <td>{{item.dtl_size}}</td>
                            <td>{{item.dtl_color}}</td>
                            <td>{{item.asn_dtl_lot}}</td>
                            <td>{{item.dtl_des}}</td>
                            <td>{{item.dtl_uom_name}}</td>
                            <td>{{item.asn_dtl_pack}}
                            <td>{{item.dtl_ctn_ttl}}</td>
                            <td>{{item.dtl_gr_dtl_act_ctn_ttl}}</td>
                            <td>
                                <span *ngIf="item.dtl_gr_dtl_disc != 0"
                                    style="color: #D91E18; font-weight: bold; font-size: 16px">{{item.dtl_gr_dtl_disc}}</span>
                                <span *ngIf="item.dtl_gr_dtl_disc == 0">{{item.dtl_gr_dtl_disc}}</span>
                            </td>
                            <td>{{item.dtl_po}}</td>
                            <td class="nowrap">{{item.dtl_po_date}}</td>
                            <td class="nowrap">{{item.expired_dt}}</td>
                            <td class="nowrap">{{item.prod_line}}</td>
                            <td class="nowrap">{{item.cmp}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix tab-pane fade" id="tabEventTracking">
                <div class="table-list-head clearfix" *ngIf="dataEventTracking.length > 0">
                    <div class="form-inline pull-left">
                        <label>Show:</label>
                        <select (change)="onPageSizeChanged($event,'eventtrack')" class="form-control">
                            <option value="20" selected>20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="table-style2 table-responsive table-print">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th title="Oener" class="nowrap">Owner</th>
                            <th title="Transaction Number">Transaction #</th>
                            <th title="Milestone">Milestone</th>
                            <th title="Event">Event</th>
                            <th title="Information">Info</th>
                            <th title="Date Time">Date Time</th>
                            <th title="User">User</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of dataEventTracking">
                            <td class="nowrap">{{item.owner}}</td>
                            <td class="nowrap">{{item.trans_num}}</td>
                            <td class="nowrap"><span *ngIf="item.evt_type == 'E'" class="icon-e"></span><span
                                    *ngIf="item.evt_type != 'E'" class="icon-m" title="Milestone"></span></td>
                            <td class="nowrap">{{item.evt_code}}</td>
                            <td class="nowrap">{{item.info}}</td>
                            <td>{{item.created_at}}</td>
                            <td>{{item.user}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p *ngIf="dataEventTracking.length==0&&!showLoadingOverlay">No Results Found.</p>
                    <div class="pull-right color-gray">
                        <wms-pagination
                                [perPage]="perPage"
                                [paginData]="Pagination"
                                (pageChange)="getEventTrackingByAsn($event)"
                        ></wms-pagination>
                    </div>
                </div>
            </div>
            <!--<div class="clearfix tab-pane fade" id="tabDocument">
                <div class="table-style1 table-responsive">
                    <dms-in [doc_type]="'DLO'" [group]="'ASN'" [trans]="dataAsn['asn_hdr_num']"></dms-in>
                </div>
            </div>-->
        </div>
        <div class="button pull-right clearfix">
            <a type="button" class="btn btn-default" (click)="printReceiving()"><i
                    class="icon-printer"></i> Print Receiving
            </a>
            <!-- <button *ngIf="hasCreateBtn && flagBtnCreateGR && createGROnWeb" type="button" class="btn btn-primary margin-left" (click)="createGoodsReceipt()"><i
                    class="icon-plus"></i>Create Goods Receipt
            </button> -->
        </div>
        <div class="button pull-right">
            <a *ngIf="(dataAsn['asn_sts'] == 'NW' || dataAsn['asn_sts'] == 'RG')&&dataAsn['asn_sts'] != 'CO'&& completeRG" type="button" class="btn btn-default" (click)="completeReceiving()"><i class="icon-plus"></i>Complete Receiving</a>
            <a *ngIf="dataAsn['asn_sts'] == 'CO'&&revertToRG " type="button" class="btn btn-default" (click)="undoComplete()"><i class="icon-minus"></i>Undo Complete</a>
            <!-- <a class="btn btn-default" type="button" data-toggle="modal" data-target="#printBarcode" (click)="openBarCode()"><i class="icon-printer"></i> Print Carton Barcode</a> -->
        </div>
    </form>
    <div *ngIf="dataAsn['asn_sts'] == 'RE'">
        <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
    </div>
    <div *ngIf="dataAsn['asn_sts'] != 'RE'">
        <goBack></goBack>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
<!-- <print-carton-barcode [openBarCode] = "_openBarCode" [id] = "id" [ctn_id] = "ctn_id" [asn_details] = "dataAsnDetails" (showLoadingOverlay)="showLoadingOverlay=$event"
></print-carton-barcode> -->
