<div class="login-body forgot-password">
    <div class="logo">
        <img class="img-responsive" src="/assets/images/logo-white.gif?v=1">
    </div>
    <div class="login-page">
        <form role="form">
            <h3>
                <i class="fa fa-key"></i>
                <span>Forgot Password</span>
            </h3>
            <div class="login-block">
                <p><i class="fa fa-caret-right"></i>A reset password link has been sent to you via email.</p>
                <p><i class="fa fa-caret-right"></i>You can follow that link and select a new password.</p>
                <p><i class="fa fa-caret-right"></i>If the email does not arrive, please contact your <b>Logisoft WMS</b> administrators.</p>
                <div class="button-login clearfix">
                <button type="button" (click)="goBack()" class="btn btn-login btn-primary no-margin-left">Go to login page</button>
            </div>
            </div>

        </form>
    </div>
</div>
