<div class="login-body forgot-password">
    <div class="logo">
        <img class="img-responsive" src="/assets/images/logo-white.gif?v=1">
    </div>
    <div class="login-page">
        <form role="form"  [ngFormModel]="ForgotPassWordForm"   (ngSubmit)="SendRequest(ForgotPassWordForm.value)" novalidate>
            <h3>
                <i class="fa fa-key"></i>
                <span>Forgot Password</span>
                <span *ngIf="loading" class="loading-icon text-center"><img src="/assets/images/loading-timeline.gif" alt="Loading"></span>
            </h3>
            <div class="login-block">
                <p>Enter your Email address below and we'll send you instructions on how to change your password  or <a href="#/login">return to Login page</a>
                </p>
                <div class="form-group" [class.error-style]="(EmailForm.control.touched||submitForm)&&EmailForm.control.errors">
                    <div class="input-style ">
                        <input type="email" class="form-control" #EmailForm="ngForm" required ngControl="emailForm">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <p *ngIf="(EmailForm.control.touched||submitForm)&&EmailForm.control.hasError('required')"
                       class="error">
                      Email is required.
                    </p>
                    <p *ngIf="(EmailForm.control.touched||submitForm)&&EmailForm.control.hasError('invalidEmailAddress')&&EmailForm.control.value" class="error">
                      Invalid Email
                    </p>
                </div>
                <div *ngIf="messages" class="form-group clearfix">
                   <!-- messages -->
                    <div  class="alert alert-{{messages.status}}">
                      <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a><span [innerHTML]="messages.txt"></span>
                    </div>
                </div>
                <div class="button-login clearfix">
                    <button type="submit" class="btn btn-primary btn-login no-margin-left">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
