<!-- / message -->
<wms-messages [messages]="messages"></wms-messages>
<h4><b>WV#:</b> {{wvDetail?.wv_num}}</h4>
<h4><b>SKU#:</b> {{wvDetail?.sku}}</h4>
<h4><b>QTY:</b> {{wvDetail?.qty}}</h4>
<div *ngIf="wvDetail?.status !== 'DONE'">
  <div class="form-inline rf-radio">
    <label for="location">
      <input type="radio" (change)="_type('LC')" value="pallet" name="option" id="location"><span>Location</span>
    </label>

    <label for="carton">
      <input type="radio" (change)="_type('CT')" value="carton" name="option" id="carton" checked><span>Carton</span>
    </label>

  </div>
  <i class="ico-noname" (dblclick)="getSuggetWavePick('dbClick')" (click)="getSuggetWavePick('click')" title="Suggest"></i>
  <div class="block-sku">
                    <textarea [(ngModel)]="suggestPalletLoc" style="width:100%" rows="10">
                    </textarea>
  </div>
  <div class="rf-footer">
    <input type="button" (click)="updateLocation(suggestPalletLoc)" [disabled]="!suggestPalletLoc"  class="btn btn-default" value="Submit">
  </div>
  <!-- pop loading -->
  <div *ngIf="showLoadingOverlay" class="loading-overlay loading-overlay-mb"><img src="/assets/images/loading-color.gif" alt=""></div>
</div>
