<div class="area-block clearfix">

        <div class="filter clearfix table-list-head">
        <div class="form-inline pull-left">
            <label>Show:</label>
            <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                <option value="20" selected>20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>
        <div class="pull-right">
            <div class="input-group pull-right">
                <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                        class="btn btn-group dropdown-toggle"
                        type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a (click)="Unsetdamaged()"><i class="icon-note"></i>Unset damaged</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-style1">
        <table class="table table-bordered">

            <thead>
            <tr>
                <th><input [(ngModel)]="UnsetDamageDeatail['checkAll']" (change)="checkAll($event)" type="checkbox"/></th>
                <th>CTN ID</th>
                <th>CTN Num</th>
                <th>Item ID</th>
                <th>SKU</th>
                <th>Size</th>
                <th>Color</th>
                <th>Lot</th>
                <th>Pack size</th>
                <th>Damaged type</th>
                <th>Damaged Note</th>
                <th>Set Date</th>
                <th>Set By</th>
            </tr>
            </thead>

            <tbody>

            <tr (click)="setClickedRow(item)" [class.row-selected]="item.selected" *ngFor="let item of UnsetDamageDeatail['data'];let i=index">

                <td><input [ngModel]="item.selected" (change)="selectedItem($event,item,row)" type="checkbox"/></td>
                <td>{{item.ctn_id}}</td>
                <td>{{item.ctn_num}}</td>
                <td>{{item.item_id}}</td>
                <td>{{item.sku}}</td>
                <td>{{item.size}}</td>
                <td>{{item.color}}</td>
                <td>{{item.lot}}</td>
                <td>{{item.ctn_pack_size}}</td>
                <td class="col-edit-inline">
                    <select (ngModelChange)="changeDamagedNote(item)" class="form-control" [(ngModel)]="item.dmg_id">
                        <option *ngFor="let dmg of DamagedCartonList" [value]="dmg.dmg_id">{{dmg.dmg_name}}</option>
                    </select>
                </td>
                <td class="col-edit-inline">
                    <input [(ngModel)]="item.dmg_note" (change)="changeDamagedNote(item)" type="text" class="form-control" maxlength="255">
                </td>
                <td>{{item.updated_at}}</td>
                <td>{{item.updated_by}}</td>

            </tr>

            </tbody>

        </table>
    </div>

    <div class="clearfix margin-top15">
        <div class="pull-right color-gray">
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getData($event)"
            ></wms-pagination>
        </div>
        <p *ngIf="!UnsetDamageDeatail['data'].length">No results found.</p>
    </div>

    <div *ngIf="UnsetDamageDeatail['data'].length" class="clearfix">  
        <a type="button" class="btn btn-default pull-right" (click)="_print()"><i
                class="icon-printer"></i> Print Damaged Carton Label
        </a>
    </div>

</div>


<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>