<div *ngIf="allowAccess">
<div class="top-layout clearfix">
    <h2>Cancel Order Detail</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block cancel-order-style clearfix">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style">
        <div class="row">
            <div class="col-md-6">
                <h4 class="h4-style">Order Detail</h4>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Customer Name</label>
                                <input tabindex="2" type="text" readonly [value]="data?.cus_name"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Order Number</label>
                                <input tabindex="2" type="text" readonly [value]="data?.cus_odr_num"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ref Code</label>
                                <input type="text" maxlength="64"tabindex="3" readonly [value]="data?.ref_cod"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>PO</label>
                                <input maxlength="50" tabindex="4" type="text" readonly [value]="data?.cus_po"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Order Type</label>
                                <input tabindex="2" type="text" readonly [value]="data?.odr_type_name"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox margin-top15">
                                <label>
                                    <input type="checkbox" ngControl="rush_odr" tabindex="6" [checked]="data?.rush_odr == 1?true:false" readonly> Rush
                                    Order
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group has-feedback" [class.error-style]="act_cancel_dt == '' && showError">
                                <label class="">Actual Date <span *ngIf="!isCanceled" class="txt-required">(*)</span></label>
                                <input tabindex="2" type="text" [disabled]="isCanceled" id="act_cancel_dt" [(ngModel)]="act_cancel_dt"
                                    data-provide="datepicker" data-date-today-highlight="1" class="form-control" (change)="checkDate($event)">
                                <p *ngIf="act_cancel_dt == '' && showError" class="error">
                                    Actual Date is required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Total SKU's </label>
                                        <input type="text" value="1" readonly class="form-control" [value]="data?.total_SKUs">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status </label>
                                        <input type="text" value="Picking" readonly class="form-control" [value]="data?.odr_sts_name"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Order Number</label>
                                        <input readonly type="text" class="form-control" [value]="data?.odr_num">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top15"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-style2 table-responsive" style="min-height: 260px" >
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Back Order</th>
                            <th>SKUs</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <tr *ngFor="let backOdr of backOdrList">
                            <td>{{backOdr.odr_num}}
                            </td>
                            <td>{{backOdr.backOrderList_sku_ttl}}</td>
                            <td>{{backOdr.odr_sts}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            </div>
        <div class="row">
            <div class="col-md-3">
                <div class="table-style2 table-responsive" style="min-height: 150px">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Picked Cartons</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2">Total SKUs : {{wavePick.totalSKU}}</td>
                        </tr>
                        <tr *ngFor="let wave of wavePick.list">
                            <td>{{wave.wv_num}}
                            </td>
                            <td>{{wave.wv_sts}}
                            </td>
                        </tr>
                        <tr>
                            <td>Total Cartons
                            </td>
                            <td>
                                {{data?.wavPick_ctn_ttl}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-style2 table-responsive" style="min-height: 150px">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Packing (Cartons)</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="1">Total SKUs : {{packing.totalSKU}}</td>
                            <td colspan="1">Total Cartons: {{data?.carton_ttl}}</td>
                        </tr>
                        <tr *ngFor="let packing of packing.list">
                            <td>{{packing.pack_hdr_num}}
                            </td>
                            <td>{{packing.pack_sts}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-style2 table-responsive" style="min-height: 150px">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Work Order</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2">Total SKUs : {{wordOdr.totalSKU}}</td>
                        </tr>
                        <tr *ngFor="let wordOrder of wordOdr.list">
                            <td>{{wordOrder.wo_hdr_num}}</td>
                            <td>{{wordOrder.wo_sts}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-style2 table-responsive" style="min-height: 150px">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Staging (Pallets)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="1">Total Pallets
                                : {{stagingPallet.totalPallet}}</td>
                            <td colspan="1">Total Cartons
                                : {{data?.carton_inPallets_ttl}}</td>
                        </tr>
                        <tr *ngFor="let staging of stagingPallet.list">
                            <td>{{staging.plt_num}}
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <goBack></goBack>
    <a *ngIf="canCanceledRMA" class="btn btn-outline red no-margin-right pull-right" (click)="cancelRMA()">
        <i class="icon-check "></i>Cancel RMA
    </a>
    <a *ngIf="!isCanceled" class="btn btn-outline red no-margin-right pull-right" (click)="cancelOrder()">
        <i class="icon-check "></i>Cancel Order
    </a>
</div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
