<div class="top-layout clearfix">
  <h2>Bill of Ladings List</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block bill-of-lading">
  <wms-messages [messages]="messages"></wms-messages>
  <div class="search-form2">
    <form class="row clearfix" [ngFormModel]="searchForm" (ngSubmit)="Search()">
      <div class="col-md-2 ">
        <div class="form-group">
          <label>Customer </label>
          <select (change)="changeCustomer($event)" tabindex="1" #Cus="ngForm" ngControl="cus_id" class="form-control">
            <option value="">ALL</option>
            <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label>Ship Ready</label>
          <select name="" class="form-control" ngControl="sh_ready" tabindex="2"
                  (change)="renderFullAddress(Cus.control.value,$event.target.value)">
            <option value="">ALL</option>
            <option value="1">Today</option>
            <option value="3">Within 3 days</option>
            <option value="7">Within 7 days</option>
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label>Full Address ( Address 1, Address 2, City, State, Zip Code Country ) <span *ngIf="Loading['loadAđress']"><img src="/assets/images/loading.gif" alt=""></span></label>
          <select name="" #fulladdress="ngForm" class="form-control" ngControl="full_add" tabindex="3">
            <option value="">ALL</option>
            <option *ngFor="let item of addressList" [value]="item.key">{{item.value}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Bill of Lading Number </label>
          <input type="text" ngControl="bol_label" class="form-control" name="" tabindex="4">
        </div>
      </div>
      <!--<div class="col-md-2">
        <div class="form-group">
          <label>Bill of Lading Label </label>
          <input type="text" class="form-control" ngControl="bol_label" name="" tabindex="5">
        </div>
      </div>-->
      <div class="btn-toolbar pull-right col-md-6">
        <button type="submit" class="btn btn-outline blue pull-right" tabindex="6"><i class="icon-magnifier"></i>Search
        </button>
        <button tabindex="7" type="button" class="btn btn-outline gray pull-right" (click)="ResetSearch()"><i
          class="icon-close"></i>Reset
        </button>

      </div>
    </form>
  </div>
  <div class="table">
    <div class="filter clearfix table-list-head">
      <div class="pull-right">
        <a *ngIf="createBol" class="btn btn-primary pull-left" tabindex="9" href="#/outbound/bill-of-ladings/new"><i
          class="icon-plus"></i>Add</a>
        <div class="input-group pull-right">
          <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                  class="btn btn-group dropdown-toggle"
                  type="button" tabindex="10"><i class="icon-settings"></i>Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngIf="editBol"><a  (click)="Edit()"><i class="icon-note"></i>Update</a></li>
            <li><a (click)="checkPrintBOLLPN()"><i class="icon-printer"></i>Print BOL LPNs</a>
            </li>
            <!--<li><a><i class="icon-trash"></i>Delete</a></li>-->
          </ul>
        </div>
      </div>

      <div class="form-inline">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="8">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="table-style1">
      <ag-grid-ng2-extent
        (dataSelected)="ListSelectedItem=$event"
        [columnData]="columnData"
        [sortDefault]="sortData"
        (sortData)="sortData=$event;getBOLlist(Pagination['current_page'])"
        [dataForRenderTable]="billOfLadingList"
        [headerURL]="headerURL"
      ></ag-grid-ng2-extent>
    </div>
    <div class="pull-right">
      <!--
       Directive WMSPagination
       Url : common/directives/directives
       -->
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="getBOLlist($event)"
      ></wms-pagination>

    </div>
  </div>
</div>

<div id="print-bol-lpn" class="modal fade" role="dialog" data-backdrop="static">
  <form  *ngIf="printBOLLPNForm" [ngFormModel]="printBOLLPNForm" novalidate>
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Print BOL LPNs</h4>
        </div>
        <div class="modal-body form-style">
          <div class="table">
            <div class="table-style3 table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th>BOL number</th>
                  <th>Number of Pallet <span class="txt-required">(*)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{printBOLNum}}</td>
                  <td>
                    <div class="form-group"
                         [class.error-style]="(showErrorWapLPN ) && num_of_pallet.control.errors || num_of_pallet.control.hasError('errorNumber')">
                      <input type="text" maxlength="3"
                             #num_of_pallet="ngForm"
                             (keypress)="checkInputNumber($event)"
                             ngControl="num_of_pallet" class="form-control">

                      <p *ngIf="(showErrorWapLPN) && num_of_pallet.control.hasError('required')"
                         class="error">
                        Number of Pallet is required.
                      </p>
                      <p *ngIf="(showErrorWapLPN )&&num_of_pallet.control.hasError('isZero')&&!num_of_pallet.control.hasError('invalidNumber')"
                         class="error">
                        Number of Pallet must be greater than 0
                      </p>
                      <p *ngIf="(showErrorWapLPN )&&num_of_pallet.control.hasError('invalidNumber')"
                         class="error">
                        Number of Pallet must be number greater than 0.
                      </p>
                      <p *ngIf="num_of_pallet.control.hasError('errorNumber')"
                         class="error">
                        Data is invalid.Number of Pallet must be an integer number.
                      </p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-primary pull-right" (click)="printBOLLPN()"><i class="icon-check"></i>Print</button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
