<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
<wms-breadcrumb></wms-breadcrumb>
    </div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" novalidate [(ngFormModel)]="ZoneForm" *ngIf="ZoneForm"
          (ngSubmit)="beforeSaveZone()">
        <div class="area-block clearfix">
        <div class="row form-area">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" [class.error-style]="(zone_code.control.touched || showError) && zone_code.control.errors">
                            <label class="">Zone Code <span class="txt-required">(*)</span></label>
                            <input autocomplete="off" name="zone_code" [disabled]="IsView || isFixedZone" type="text" #zone_code="ngForm" ngControl="zone_code" class="form-control"
                                   (blur)="detectControlErr(zone_code)" placeholder="" tabindex="1" maxlength="3">
                            <p *ngIf="zone_code.errors&&zone_code.errors.error_messages" class="error">
                                Zone Code {{ (zone_code.errors.error_messages[0]) }}
                            </p>
                            <p *ngIf="(zone_code.control.touched || showError) && zone_code.control.hasError('invalidLength3')" class="error">
                                Zone Code should contain 3 alphanumerics<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"
                             [class.error-style]="Zone_type_id.control.touched&&Zone_type_id.control.hasError('required')|| showError && Zone_type_id.control.hasError('required')">
                            <label class="">Zone Type <span class="txt-required">(*)</span></label>
                            <select [disabled]="IsView || isFixedZone" class="form-control" name="zone_type_id" #Zone_type_id="ngForm"
                                    ngControl="zone_type_id" tabindex="2">
                                <option selected value="">Select zone type</option>
                                <option *ngFor="let item of zoneTypeList | orderBy:['zone_type_name']"
                                        value="{{item.zone_type_id}}">
                                    {{item.zone_type_name}}
                                </option>
                            </select>
                            <p *ngIf="Zone_type_id.control.touched&&Zone_type_id.control.hasError('required')|| showError && Zone_type_id.control.hasError('required') "
                               class="error">
                                Zone Type is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" [class.error-style]="(zone_name.control.touched || showError) && zone_name.control.errors">
                            <label class="">Zone Name <span class="txt-required">(*)</span></label>
                            <input name="zone_name" [disabled]="IsView || isFixedZone" type="text" #zone_name="ngForm" ngControl="zone_name" class="form-control"
                                   (blur)="detectControlErr(zone_name)" placeholder="" tabindex="3" maxlength="50">
                            <p *ngIf="zone_name.errors&&zone_name.errors.error_messages" class="error">
                                Zone Name {{ (zone_name.errors.error_messages[0]) }}
                            </p>
                            <p *ngIf="zone_name.control.touched && zone_name.control.hasError('invalidNameStr')" class="error">
                                Zone Type Name should only contain alphanumeric, space, hyphen and underscore.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group"
                     [class.error-style]="zone_min_count.control.touched&&zone_min_count.control.hasError('invalidInt')|| showError && zone_min_count.control.hasError('invalidInt')">
                    <label class="">Min Count</label>
                    <input maxlength="3" [readonly]="IsView || isFixedZone" (keypress)="checkInputNumber($event)" name="zone_min_count"
                           type="text"
                           #zone_min_count="ngForm" ngControl="zone_min_count"
                           class="form-control" placeholder="" tabindex="4">
                    <p *ngIf="zone_min_count.control.touched&&zone_min_count.control.hasError('invalidInt')|| showError && zone_min_count.control.hasError('invalidInt')"
                       class="error">
                        Min Count must be integer
                    </p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group"
                     [class.error-style]="zone_max_count.control.touched&&zone_max_count.control.hasError('invalidInt')|| showError && zone_max_count.control.hasError('invalidInt')">
                    <label class="">Max Count</label>
                    <input maxlength="3" [readonly]="IsView || isFixedZone" (keypress)="checkInputNumber($event)" name="zone_max_count"
                           type="text"
                           #zone_max_count="ngForm" ngControl="zone_max_count"
                           class="form-control" placeholder="" tabindex="5">
                    <p *ngIf="zone_max_count.control.touched&&zone_max_count.control.hasError('invalidInt')|| showError && zone_max_count.control.hasError('invalidInt')"
                       class="error">
                        Max Count must be integer
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class=""># of Locations</label>
                            <input readonly #zone_num_of_active_loc="ngForm" ngControl="zone_num_of_active_loc"
                                   type="text" class="form-control" id="" placeholder="" tabindex="6">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class=""># of Inactive Locations</label>
                            <input readonly ngControl="zone_num_of_inactive_loc" name="" type="text" class="form-control"
                                   placeholder="" tabindex="7">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="">Customer</label>
                    <input readonly name="" type="text" ngControl="customer_name" class="form-control"
                           value="{{zoneData?.customers?.cus_name}}" tabindex="8">
                </div>
            </div>
            <div class="col-md-10">
                <div class="form-group">
                    <label>Description</label>
          <textarea maxlength="255" [readonly]="IsView || isFixedZone" name="zone_description" #zone_description="ngForm"
                    ngControl="zone_description" rows="1"
                    class="form-control" tabindex="9"></textarea>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">

                    <label class="">Zone Color <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                    <div  data-format="alias" class="input-group xcolorpicker colorpicker-component">
                        <input [disabled]="IsView || isFixedZone" value="{{defaultZoneColor}}" (change)="initColorPicker($event)" class="form-control"/>
                        <input type="hidden" name="zone_color" #zone_color="ngForm" ngControl="zone_color" required>
                        <span *ngIf="!isFixedZone" class="input-group-addon"><i></i></span>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <ul *ngIf="Action!=='New'" class="nav nav-tabs" *ngIf="addedLocations && addedLocations.length > 0">
            <li class="active"><a>Locations</a></li>
        </ul>
        <div *ngIf="Action!=='New'" class="table-style1">
            <div class="table-list-head clearfix">

                <div class="form-inline pull-left">

                    <label>Show</label>
                    <select (change)="onPageSizeChanged($event)" class="form-control">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>

                   <div class="form-group">
                       <input type="text" [(ngModel)]="loc_code" (change)="getLocationByZone()" class="form-control" placeholder="Search Location...">
                   </div>

                    <div class="form-group">
                        <button (click)="resetSearchLoc()" class="btn no-margin-left btn-outline gray"  type="button"><i class="icon-close"></i>Reset
                        </button>
                        <button (click)="getLocationByZone()" class="btn btn-outline blue"  type="button"><i class="icon-magnifier"></i>Search
                        </button>
                    </div>



                </div>


                <div class="pull-right">

                    <add-locations-popup *ngIf="!IsView"
                                         [data_used]="addedLocations"
                                         (selectedLoc)="addLocation($event)"></add-locations-popup>



                    <div *ngIf="addedLocations && addedLocations.length > 0 && !IsView" class="btn btn-outline red"
                         (click)="Delete('addedLocations',StatePaginAddLocation1,false)"><i class="icon-trash"></i>
                        Remove Locations
                    </div>

                </div>
            </div>
            <div class="table-style2 clearfix relativebox">

                     <table class="table table-bordered" id="loc-table">
                    <thead>
                    <tr>
                        <th *ngIf="!IsView" class="column-checkbox"><input [ngModel]="addedLocationsList['checkAll']" (change)="checkedAll($event)"
                                                                           type="checkbox"/></th>
                        <th>Location Code</th>
                        <th>Alternative Name</th>
                        <th>Width</th>
                        <th>Length</th>
                        <th>Height</th>
                        <th>Available Capacity %</th>
                        <th>Weigth Capacity</th>
                        <th>Min count</th>
                        <th>Max count</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr [ngClass]="{'red-border': item.errors, 'row-selected': item.selected}" *ngFor="let item of addedLocations">
                            <td *ngIf="!IsView">
                                <input (click)="setClickedRow(item, $event)" [ngModel]="item.selected" type="checkbox">
                            </td>
                            <td class="nowrap">{{item.loc_code}}</td>
                            <td>{{item.loc_alternative_name}}</td>
                            <td>{{item.loc_width}}</td>
                            <td>{{item.loc_length}}</td>
                            <td>{{item.loc_height}}</td>
                            <td>{{item.loc_available_capacity}}</td>
                            <td>{{item.loc_weight_capacity}}</td>
                            <td>{{item.loc_min_count}}</td>
                            <td>{{item.loc_max_count}}</td>
                            <td>{{item.loc_sts_code_name}}</td>
                        </tr>
                    </tbody>
                </table>


                    <p *ngIf="!addedLocations.length&&!Loading['addedLocations']">No Results Found.</p>


            </div>
            <div class="pull-right">
                <div class="showing pull-left clearfix">

                    <wms-pagination
                            [perPage]="perPage"
                            [paginData]="Pagination"
                            (pageChange)="getLocationByZone($event)"
                    ></wms-pagination>


                </div>
            </div>
            <goBack *ngIf="IsView"></goBack>
        </div>
      <div class="clearfix"></div>
        <div *ngIf="Action!=='View'" class="button pull-right clearfix">
            <button type="button" (click)="Cancel()" class="btn btn-default" tabindex="12"><i class="icon-close"></i>Cancel</button>
            <button *ngIf="Action=='Edit' && !isFixedZone" type="submit" class="btn btn-primary" tabindex="11"><i class="icon-check"></i>Update</button>
            <button *ngIf="Action=='New'" type="submit" class="btn btn-primary" tabindex="11"><i class="icon-check"></i>Save</button>
        </div>
    </form>

</div>
<popup-modal [openModal]="openModal" [modalContent]="modalContent" (OkButton)="okModal"></popup-modal>
<div class="loading-overlay" *ngIf="showLoadingOverlay||Loading['addedLocations']"><img src="/assets/images/spinner.gif" alt=""></div>
</div>