<div class="top-layout clearfix">
<h2>UOM List</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block uom-management">
    <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <div class="search-form six-column">
        <form class="clearfix form-inline" id="form-filter" [ngFormModel]="searchForm"  (submit)="search(searchForm.value)">
            <div class="form-group">
                <label>UOM Code</label>
                <input tabindex="1" type="text" maxlength="10" class="form-control" placeholder="" ngControl="sys_uom_code" name="uom-code" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>UOM Name</label>
                <input tabindex="2" type="text" maxlength="50" class="form-control" placeholder="" ngControl="sys_uom_name" name="uom-name" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>UOM Type</label>
                <select ngControl="sys_uom_type" class="form-control" tabindex="3">
                    <option value="">None</option>
                    <option value="Item">Item</option>
                    <option value="Measurement">Measurement</option>
                </select>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="resetSearch(searchForm.value)" tabindex="4"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue" tabindex="3"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/master-data/uom/new" tabindex="6"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="7"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="editSelectedItem()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a (click)="">Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-6 no-padding">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="column-checkbox"><input type="checkbox" (change)="checkAll($event)" [(ngModel)]="selectedAll"></th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['sys_uom_code']&&countClick['sys_uom_code']!=3" [class.sorting-asc]="FieldsToSortFlag['sys_uom_code']&&countClick['sys_uom_code']!=3" [class.sorting]="countClick['sys_uom_code']==3" (click)="sort('sys_uom_code')">UOM Code</th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['sys_uom_name']&&countClick['sys_uom_name']!=3" [class.sorting-asc]="FieldsToSortFlag['sys_uom_name']&&countClick['sys_uom_name']!=3" [class.sorting]="countClick['sys_uom_name']==3" (click)="sort('sys_uom_name')">UOM Name</th>
                    <th>UOM Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uomList" [class.row-selected]="item.selected" (click)="checkSelectItem(item)">
                    <td><input type="checkbox" value="{{item.sys_uom_id}}" [ngModel]="item?.selected"></td>
                    <td class="width100"><a href="#/master-data/uom/{{item.sys_uom_id}}">{{item.sys_uom_code}}</a></td>
                    <td class="width150">{{item.sys_uom_name}}</td>
                    <td class="width100">{{item.sys_uom_type}}</td>
                    <td>{{item.sys_uom_des}}</td>
                </tr>
                </tbody>
            </table>
            <p *ngIf="!loading['getUOM']&&uomList.length==0">No Results Found.</p>
            <p *ngIf="loading['getUOM']&&!uomList.length">Loading ... </p>
            </div>
        </div>
        <div class="pull-right">
            <div class="showing pull-left" *ngIf="uomList.length>0">
                Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) * perPage + uomList.length}}  of total {{Pagination?Pagination.total:0}}
            </div>
            <ul class="pagination pull-right" *ngIf = "Pagination && Pagination.total_pages > 1 && Pagination?.total > perPage">
                <li *ngIf="Pagination.current_page > Pagination.numLinks">
                    <a (click) = "filterList(1)"><i class="fa fa-step-backward"></i></a>
                </li>
                <li *ngIf="Pagination.current_page > 1">
                    <a (click) = "filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li *ngFor="let item of Pagination.tmpPageCount; " class="active" [class.active]="item==Pagination.current_page">
                    <a *ngIf="item != Pagination.current_page"  (click) = "filterList(item)">{{item}}</a>
                    <a *ngIf="item == Pagination.current_page">{{item}}</a>
                </li>
                <li *ngIf="Pagination.current_page < Pagination.total_pages">
                    <a (click) = "filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
                </li>
                <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
                    <a (click) = "filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
