@import "variables";

.datepicker{
  .datepicker-switch{
    font-weight: 500;
    color: $color-active;
  }
  .dow{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-gray-lighter;
  }
  .day{
    &.disabled{
      background-color: transparent !important;
    }
    &.today{
      background-color: transparent !important;
      color: $color-active;
      background-image: none !important;
      font-weight: 700;
      &.active{
        color: $color-light;
      }
    }
    &.active{
      background-image: none !important;
      border-radius: 50%;
      background-color: $color-active !important;
      width: auto !important;
      height: auto !important;
      text-shadow: none !important;
    }
  }
}

.datepicker-style {
  .bootstrap-datetimepicker-widget {
    display: none;
    left: 0;

    .datepicker {
      .table-condensed {
        width: 100% !important;
        td {
          text-align: center;
          span {
            width: 42px !important;
            height: 42px !important;
            line-height: 42px;
            display: inline-block;
          }
        }
        th.picker-switch, th.glyphicon-chevron-left, th.glyphicon-chevron-right {
          color: $color-primary;
          font-weight: 600;
        }
      }
      .datepicker-decades {
        .decade {
          line-height: 20px !important;
        }
      }
    }

    .timepicker {
      .table-condensed {
        width: 100%;

        a.btn {
          margin-left: 0;
          float: none;
        }
      }
    }
  }
}