@import "variables";

main-body {
  vertical-align: top;
  position: relative;
  display: table-cell;
  width: 100%;
  background-color: #292d37;
  .static-content-wrapper {
    padding-bottom: 30px;
    .static-content{
      .top-layout{
        padding: 2px 5px;
        background-color:$color-light;
        border-bottom:1px solid $color-border;
        h2{
          margin-top: 2px;
          float: left;
          font-size: 15px;
          font-weight: 600;
        }
        .breadcrumb{
          float: right;
          margin-bottom: 0;
        }
      }
      .layout-block{
        padding: 2.5px;
      }
    }
  }
}
