@import "variables";
@import "mixin";
@import "compass/css3/images";
footer{
  background: url('/assets/images/bottom.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 57px;
  position: relative;
  overflow: hidden;
  .nofication-status{
    float: left;
    width: 225px;
    color: $color-primary;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: 600;
    padding:18px 8px;
    vertical-align: middle;
    i{
      font-size: 24px !important;
      float: left;
      position: relative;
      .notice-number{
        position: absolute;
        padding: 3px;
        width: 18px;
        height: 18px;
        background-color: $color-danger;
        border-radius: 50%;
        color: $color-light;
        text-align: center;
        line-height: 11px;
        right: -4px;
        top:-9px;
        font-size: 7.27pt;
        font-family: Raleway;
      }
    }
    span{
      float: left;
      margin-top: 3px;
    }
  }
  ul{
    li{
      width: calc((100% - 225px)/3);
      float: left;
      padding: 10px;
      .icon,.des{
        float: left;
      }
      .icon{
        width: 25px;
      }
      .des{
        width:calc(100% - 25px) ;
        @include link-style1;
        a{
          @include font-medium;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        i{
          @include font-small;
          color: $color-gray-lightest;
        }
      }

    }
  }
  .view-more-icon{
  position: absolute;
    background-color: lighten($color-gray-lightest,30%);
    width: 50px;
border-radius: 50%;
height: 50px;
  left: 50%;
  top:0}
}