.dnd-drag-enter,.dnd-drag-over,.dnd-drag-start{border:2px dashed #000}.dnd-drag-start{-moz-transform:scale(.8);-webkit-transform:scale(.8);transform:scale(.8);opacity:.7}.dnd-drag-enter{opacity:.7}.dnd-sortable-drag{-moz-transform:scale(.9);-webkit-transform:scale(.9);transform:scale(.9);opacity:.7;border:1px dashed #000}
