@media print {
  body{
    -webkit-print-color-adjust:exact;
  }
  //hiden title and footer
  @page {
    size: landscape;
    margin: 0mm 10px;
  }
  html{
    background-color: $color-light;
    margin: 0px;
  }
  body{
    margin: 10mm;
  }
  main-body{
    padding-left: 0;
    &.larger{
      padding-left: 0;
    }
  }
  //end hidden title and header
  .side-bar-expand, title,main-menu {
    display: none;
  }
  ul.nav-drop, .report, .dropdown-profile, #tabEventTracking, #tabDocument, .btn, .btn-outline, .top-layout, .area-block, .h4-style {
    display: none !important;
  }
  .table-style-pdf {
    margin-top: 15px;
    thead {
      tr {
        th {
          font-weight: 100;
          text-align: left;
          font-size: 18px;
          text-transform: uppercase;
          color: lighten($color-gray-lightest, 15%) !important;
          line-height: 38px;
        }
      }
    }
    tbody {
      tr {
        td {
          margin-top: 0;
          margin-bottom: 0;
          color: lighten($color-gray-lightest, 20%);
          font-size: 19px;

        }
      }
    }
  }
  .table-style-pdf2 {
    margin-bottom: 15px;
    .table {
      margin-bottom: 5px;
      border: 1px solid lighten($color-gray-lightest, 35%);
      thead {
        tr {
          th {
            color: $color-light !important;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            &.th-style1{
              background-color: $color-active !important;
            }
            &.th-style2{
              background-color: $color-primary !important;
            }
         }
        }
      }
      tbody{
        tr{
          td{
            border-right: 1px solid lighten($color-gray-lightest, 35%) ;
            font-weight: 600;
            font-size: 14px;
            &.title-label{
              background-color: lighten($color-gray-lightest,40%) !important;
              font-weight: 100;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .table-print {
    .table {
      margin-top: 0px;
      margin-bottom: 25px;
      thead {
        tr {
          th {
            font-size: 12px;
            font-weight: 100;
            border-bottom: 1px solid #c0c0c0;
            padding:10px 2px;
            border-right: 1px solid lighten($color-gray-lightest,25%);
            background-color: lighten($color-gray-lightest,40%) !important;
            color:$color-primary !important;
            line-height: 20px;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 2px;
            border-right: 1px dashed #d5d5d5 !important;
            border-bottom: 1px solid #c0c0c0;
            color: #595959 !important;
            line-height: 36px;
            color: lighten($color-gray-lightest,25%);
          }
        }
      }
    }
  }
  h1 {
    color: lighten($color-gray-lightest, 30%);
    font-size: 42px;
    font-weight: 100;
    margin: 0;
  }
  h2 {
    font-weight: 500;
    color:$color-primary !important;
    font-size: 24px;
  }
  small{
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
  }
  h3 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }
  .title {
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px dashed lighten($color-gray-lightest, 35%);
    padding-bottom: 5px;
    margin-top: 25px;
    font-weight: 600;
  }
  .print-block {
    display: block !important;
    .footer {
      margin-top: 30px;
      border-top: 1px dashed lighten($color-gray-lightest, 30%);
      padding-top: 5px;
    }
  }
  .nav-tabs {
    display: none;
  }
  table {
    width: 100%;
    tr {
      th {
        background-color: #d0d0d0;
      }
    }
  }
  .asn-management {
    .tab-content {
      display: none;
    }
    .table-print {
      .table {
        tr {
          th, td {
            &:nth-child(1),&:nth-child(3),&:nth-child(9) {
              display: none;
            }
          }
        }
      }
    }
  }
  .gr-management {
    .table-print {
      .table {
        tr {
          th, td {
            &:nth-child(1), &:nth-child(9) {
              display: none;
            }
          }
        }
      }
    }
  }
  .order-management {
    .editable td.autocomplete-style {
      position: inherit;
    }
    .form-control {
      padding: 0;
      border: none;
    }
    .table-print {
      .table {
        tr {
          th, td {
            &:nth-child(1) {
              display: none;
            }
          }
        }
      }
    }
  }
}