@import "variables";
@import "compass/css3/border-radius";
@import "mixin";
body,html{
  height:100%;
  overflow: inherit;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.navbar{
  @include border-radius(0,0);
  border: none;
}
ul.nav-tabs {
  margin-bottom: 10px;
  border-bottom: 1px solid lighten($color-sidebar,45%);
  li {
    a {
      color: $color-light;
      font-size: 9.75pt;
      font-weight: 500;
      padding: 0 16px;
      padding-bottom: 2px;
      line-height: 13px;
      position: relative;
      outline: none;
      &.router-link-active {
        background-color: transparent;
        color: $color-active;
        border-bottom: 1px solid $color-active;
        &:after {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border: 5px solid transparent;
          border-top: 5px solid $color-active;
          left: calc(50% - 9px);
          bottom: -11px;
        }
      }
      &:focus {
        border-color: transparent;
        border-bottom-color: $color-active;

      }
    }
    &.active, &:focus {
      a, a:focus {
        background-color: transparent;
        color: $color-active;
        border-color: transparent;
        border-bottom: 1px solid $color-active;
        &:after {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border: 5px solid transparent;
          border-top: 5px solid $color-active;
          left: calc(50% - 9px);
          bottom: -11px;
        }
      }
    }
    &:hover {
      a {
        background-color: transparent;
        border-color: transparent;
        color: $color-active;
      }
    }
    &.active {
      &:hover {
        a {
          background-color: transparent;
          border-color: transparent;
          border-bottom: 1px solid $color-active;
          color: $color-active;
          &:focus {
            border-color: transparent;
            border-bottom: 1px solid $color-active;
          }
        }
      }
    }
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: lighten($color-gray-lightest,40%);
}
a{
  transition:all 0.2s ease ;
  cursor: pointer;
  color: darken($color-active,10%);
  &:focus{
    background-color: transparent !important;
  }
  &:hover{
    text-decoration: none;
  }
}
p{
  margin: 0;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent !important; }
i{
  margin-right: 5px;
}
.breadcrumb{
  padding: 0;
  background-color: transparent;
  li{
    font-size: 9.75pt;
    color: $color-gray-lighter;
    text-transform: capitalize;
  }
}
form{
  margin-bottom: 0;
}
.form-style{
  h4{
    @include font-medium;
    color: $color-primary;
    font-weight: 500;
  }
  .h4-style{
    margin-top: 0;
    background-color: $color-light;
    color: $color-active;
    padding: 5px;
    margin-bottom: 0;
  }
  .form-group{
    position: relative;
    label{
      font-size: 12px;
      font-weight: 500;
      color: $color-gray-light;
      margin-bottom: 2.5px;
      .txt-required{
        color: $color-danger;
      }

      .txt-info {
        color: $color-active;
        cursor: pointer;
      }
    }
    .form-control-feedback{
      right:0;
      top:27px
    }
    .style-calendar{
      color: $color-gray-lightest;
      top: 7px !important;
    }
  }
}
label{
  font-size: 12px;
  font-weight: 600;
  color: $color-gray-light;
  .txt-required{
    color: $color-danger;
  }
}
input[type=checkbox]{

}
input[type="checkbox"] + label span {
  background-color: #fff;
}
.form-control{
  border-radius: 0;
  box-shadow:none;
  border-color: lighten($color-gray-lightest,30%);
  padding: 2.5px 3px;
  height: 26px;
  font-size: 13px;
  &::-webkit-input-placeholder{
    font-style: italic;
  }
}
.form-group{
  .control-label{
    text-align: left;
  }
  margin-left:0 !important;
  margin-right: 0 !important;
  margin-bottom: 5px;
}
.tooltip{
  .tooltip-iner{
    background-color: $color-danger !important;
    .tooltip-arrow{
      border-color: $color-danger !important;
    }
  }
}
.form-inline{
  label{
    font-weight: 500;
    @include font-small;
  }
}
.nav-stacked>li+li{
  margin-top: 0;
}

//Modal
.modal{
  z-index: 99999;
}
.modal-style-default{
  .modal-content{
    border-radius: 0;
    .modal-header{
      padding: 5px;
      color: $color-active;
      position: relative;
      h4{
        @include font-medium;
        font-weight: 500;
        text-transform: uppercase;
      }
      .close{
        position: absolute;
        top: 1px;
        right: 0;
        width: 34px;
        height: 30px;
        font-size:27px;
        opacity: 1;
        color: $color-danger;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  .modal-body{
    background-color: lighten($color-primary,84%);
    max-height: 500px;
    overflow-y: auto;
    padding: 5px;
    .table{
      max-height: 500px;
    }
  }
  .modal-footer{
    padding: 5px;
  }
  .showing{
    color: $color-gray-lightest;
  }
}

//panel
.panel-default-style{
  .panel-heading{
    h4{
      color: $color-primary;
      text-transform: uppercase;
      @include font-medium;
      font-weight: 700;
    }
  }
}


/*custom  panel boostrap */
$color-primary:#012147;
.panel-heading h3
{
  display:inline-block;
  font-size:16px;
  margin:0 10px 0 0;
}
.panel-primary{
  border-color:lighten($color-gray-lightest,35%);
  border-radius: 0;
  .panel-heading{
    background-color:transparent;
    color: $color-primary;
    padding: 8px;
    background-color: lighten($color-gray-lightest,40%);
    border-bottom: lighten($color-gray-lightest,30%);
    h3{
      font-size: 13px;
      font-weight: 600;
      color: $color-gray;
    }
    .edit-bt,.del-bt{
      float: right;
    }
    .edit-bt{
      color: #00A000;
    }
  }
}

//pagination
.pagination {
  margin: 0;
  li {
    a {
      padding: 2px 10px;
      margin-left: 3px;
      @include border-radius(4px);
      color: $color-gray-lightest;
      @include font-medium;
      cursor: pointer;
      i {
        margin-right: 0;
      }
      &:hover {
        background-color: lighten($color-gray-lightest, 20%);
        border-color: lighten($color-gray-lightest, 15%);
        color: $color-light;
      }
    }
    &.active {
      a {
        background-color: $color-active;
        color: $color-light;
        border-color: darken($color-active, 5%);
      }
    }
  }
}

.txt-required{
  color: $color-danger;
}

.txt-confirm {
  color: $color-success;
}
//checkbox

//alert
.alert{
  padding: 5px;
  margin-bottom: 2.5px;
  @include border-radius(0);
  border-left-width:5px ;
  &.alert-danger{
    color: $color-danger;

  }
}

//table
.table{
  background-color: $color-light;
  .table{
    background-color: transparent;
  }
  th{
    vertical-align: middle !important;
    //text-transform: capitalize;
  }
  tr{
    td{
      vertical-align: middle;
      word-wrap: break-word;
      &.disabled{
        background-color: lighten($color-gray-lightest,45%);
      }
    }
  }
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
  border-top: 1px solid #ddd;
}

.input-group{
  .dropdown-menu{
    min-width: calc(100% - 5px);
    border-radius: 0;
    padding: 0;
    li{
      a{
        padding: 3px 10px;
      }
    }
  }
  .btn-add-more{
    background-color: $color-active;
    color: $color-light;
    margin-left: 0;
    padding: 3px 7px;
    text-align: center;
    i{
      margin-right: 0;
    }
    &:hover{
      background-color: $color-primary;
    }
  }
}
select.form-control{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  option{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.has-feedback .form-control{
  padding-right: 0 !important;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{
  padding-top: 0;
}
.form-horizontal .checkbox, .form-horizontal .radio{
  min-height: 20px;
}
input[type=checkbox], input[type=radio]{
  margin: 2px 0 0;
}
.tab-content{
  margin-bottom: 5px;
}
