@import "variables";
@import "more-toogle";
@import "compass/css3/border-radius";

main-menu {
  background-color: $color-sidebar;
  display: table-cell;
  vertical-align: top;
  height: 100vh;
  position: fixed;
  top: 36px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  .static-sidebar-wrapper {
    position: relative;
    transition-duration: 300ms;
    .static-sidebar {
      position: relative;
      .expand-collapse {
        position: fixed;
        left: 207px;
        top: 11px;
        .toogle-menu-icon {
          cursor: pointer;
          color: $color-active;
          &:hover {
            color: $color-light;
          }
        }
      }
      .favorite-block {
        background-color: lighten($color-sidebar, 2%);
        border-bottom: 1px dashed $color-active;
        .favorite-menu {
          h5.title {
            padding: 10px;
            color: $color-active;
            margin: 0;
            @include font-medium;
            background-color: lighten($color-sidebar, 10%);
          }
          .drop-favorite-here {
            padding: 5px;
            padding-left: 15px;
            display: block;
            width: 100%;
            color: $color-text-sidebar;
            @include font-small;
            i {
              display: none;
            }
          }
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              position: relative;
              .delete-icon {
                position: absolute;
                right: 10px;
                height: 10px;
                width: 10px;
                line-height: 10px;
                cursor: pointer;
                color: $color-danger;
                z-index: 2;
                top: 10px;
                display: none;
                i {
                  margin-right: 0;
                }

                &:hover {
                  color: $color-active;
                }
              }

              &:hover {
                .delete-icon {
                  display: block;
                }
              }
              a {
                display: block;
                padding: 7px 10px;
                color: $color-text-sidebar;
                text-transform: capitalize;
                @include font-medium;
                &:hover {
                  color: $color-light;
                  background-color: $color-top;
                }
                &.active
                a {
                  background-color: transparent;
                  color: $color-active;
                }
              }

            }
          }
        }
      }
      ul.main-menu {
        padding-top: 15px;
        li {
          position: relative;
          &.parent-link-active {
            > a, > a:hover, > a:focus {
              background-color: $color-active !important;
              color: $color-light;
              position: relative;
            }
            .icon-toggle-sub {
              color: $color-light !important;
            }
          }
          &.open:not(.parent-link-active) {
            > a {
              background-color: $color-top !important;
            }
          }
          a {
            padding: 10px;
            text-transform: capitalize;
            color: $color-text-sidebar;
            cursor: pointer;
            border-bottom: 1px solid darken($color-text-sidebar, 45%);
            @include font-medium;
            i {
              @include font-medium;
            }
            &:hover {
              background-color: $color-top;
              color: $color-light;
              text-decoration: none;
            }

            &.active {
              a {
                color: $color-light;
                &:hover {
                  color: $color-default;
                }
              }
            }
            ul {
              list-style: none;
              margin-left: 10px;
              li {
                a {
                  text-transform: none;
                  font-size: 9.75pt;
                  line-height: 25px;
                }
              }
            }
          }
          .icon-toggle-sub {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 20px;
            width: 30px;
            height: 38px;
            color: $color-text-sidebar;
            text-align: center;
            line-height: 32px;
            cursor: pointer;
            transition: all .3s;
            &:before {
              content: "\e605";
              font: normal normal normal 10px simple-line-icons;
            }
          }
          &.open {
            .icon-toggle-sub {
              color: $color-light;
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              -o-transform: rotate(-90deg);
            }
          }
          ul {
            li {
              a {
                padding-left: 30px !important;
                text-transform: capitalize;
                border-bottom: 0;
                @include font-medium;
              }
              &.active {
                a {
                  color: $color-active;
                  background-color: lighten($color-sidebar, 10%) !important;
                }
              }
            }
          }
        }
      }
    }
  }
  &.side-bar-expand {
    width: 220px;
    transition: width 0.3s;
    #menu-scroll {
     width: 220px !important;
    }
    ul{
      li{
        a{
          padding: 10px;

        }
      }
    }
  }
  &.side-bar-collapse {
    overflow: visible;
    white-space: nowrap;
    width: 47px;
    transition: width 0.2s;
    .favorite-block {
      h5 {
        color: transparent !important;
        padding-left: 17px !important;
        i {
          color: $color-active;
        }
      }
      .drop-favorite-here {
        border: 1px dashed $color-active;
        text-align: center;
        padding: 15px 0;
        p {
          display: none
        }
        i {
          display: block !important;
          color: $color-text-sidebar !important;
          @include font-medium;
          margin-right: 0;
        }
      }
    }
    ul {
      li {
        .icon-toggle-sub {
          display: none;
        }
        a {
          padding-left: 14px !important;
          color: transparent !important;
          i {
            font-size: 16px !important;
            color: $color-text-sidebar;
            margin-right: 0;
          }
        }
        .delete-icon {
          right: 4px !important
        }
        ul.sub-menu {
          &.open {
            display: none;
          }
          li{
            a{
              padding-left: 10px !important;
            }
          }
        }
        &.parent-link-active{
          a{
            i{
              color: $color-light !important;
            }
          }
        }
      }
    }
    #menu-scroll {
      width: 47px !important;
      transition: width 2s;
      &:hover{
        width: 220px !important;
        transition: width 0.3s;
        ul {
          li {
            .icon-toggle-sub {
              display: block;
            }
            a {
              padding-left: 10px;
              color: $color-text-sidebar;
              i{
                font-size: 14px !important;
              }
            }
            ul.sub-menu {
              &.open {
                display: block !important;
              }
            }
          }
        }

      }
    }
  &.width220{
    ul.main-menu{
      li{
        a{
          color: $color-text-sidebar !important;
        }
        &.parent-link-active{
          a{
            color: $color-light !important;
          }
        }
        ul.sub-menu{
          li{
            a{
              padding-left: 30px !important;
              color: $color-text-sidebar !important;
            }
          }
        }
      }
    }
    .favorite-menu{
      h5.title{
        padding-left: 10px !important;
        color: $color-active !important;
      }
      ul{
        li{
          a{
            color: $color-text-sidebar !important;
            i{
              margin-right: 5px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  }
}

.loading {
  color: #fff;
  padding: 10px 20px;
}

.active, .open {
  display: block;
}

.tooltip {
  opacity: 1;
}
.width220{
  width: 220px !important;
  transition: width 0.2s;
}