@import "variables";

.table {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  .ag-blue {
    font-family: "Open Sans";
    .ag-header-icon {
      fill: $color-gray-lightest;
    }
    .ag-cell-not-inline-editing {
      padding: 4px;
    }


  }
  #centerRow {
    height: auto !important;

  }
  .ag-root {
    border: none !important;
    .ag-header {
      background-color: transparent;
      border-color: transparent;
      height: 30px !important;
      .ag-header-row {
        height: 100% !important;
        .ag-header-cell {
          border-color: lighten($color-gray-lightest, 35%);
          background-color: $color-light;
          border-left:1px solid lighten($color-gray-lightest, 35%);
          border-right: none;
          .ag-header-cell-label {
            color: $color-gray-lightest;
            @include font-medium;
            font-weight: 600;
            text-align: left;
            padding: 5px;
            padding-right: 15px;
            vertical-align: middle;
            border-bottom: 1px solid lighten($color-gray-lightest, 35%);
            border-top: 1px solid lighten($color-gray-lightest, 35%);
            font-family: "Open Sans";
          }
          .ag-header-cell-resize {
            position: absolute;
            right: 0;
          }
          .ag-header-cell-menu-button {
            display: none;
            border-color: lighten($color-gray-lightest, 20%) !important;
            background-color: lighten($color-gray-lightest, 25%) !important;
            margin-top: 5px;
            cursor: pointer;
          }
          &.column_fixed {
            background-color: lighten($color-gray-lightest, 40%) !important;
          }
        }
      }
    }
    .sorting {
      background: url('/assets/images/sort_both.png');
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }
    .sorting-asc {
      background: url('/assets/images/sort_asc.png');
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }

    .sorting-desc {
      background: url('/assets/images/sort_desc.png');
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }
    .ag-body {
      padding-top: 30px !important;
      background-color: lighten($color-gray-lightest,35%);
      .ag-body-viewport {

        .ag-row-even, .ag-row-odd {
          // border-left: 1px solid lighten($color-gray-lightest, 35%);
          .ag-cell-focus {
            border: none;//1px solid $color-active;
            outline: none;
          }
          .ag-cell-no-focus {
            border-right-color: lighten($color-gray-lightest, 35%);
            border-bottom-color: lighten($color-gray-lightest, 35%);
            border-left: 0 !important;
            line-height: 11px;
            border:none;
            @include font-medium;
            padding: 5px !important;
            color: $color-gray-lightest;
            a {
              color: darken($color-active, 10%);
              i {
                color: $color-active;
              }
              &.note-icon {
                cursor: pointer;
                display: block;
                height: 100%;
              }
            }
          }
          &:hover {
            background-color: lighten($color-active, 50%);

          }
          &.ag-row-selected {
            background-color: darken($color-gray-bg, 6%)!important;
          }
        }
        .ag-row-odd {
          background-color: $color-light!important;
          &:hover {
            background-color: $color-gray-bg !important;
          }
        }
        .ag-row-even {
          background-color: lighten($color-gray-lightest, 49%)!important;
          &:hover {
            background-color: $color-gray-bg !important;
          }
        }
      }
    }
  }
}

.ag-selection-checkbox {
  margin: 0 !important;
}

ag-grid-ng2-extent .ag-root .ag-header .ag-header-row .ag-header-cell:not(.no-sort) {
  background: url('/assets/images/sort_both.png');
  background-color: $color-light;
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  &.none {
    background: url('/assets/images/sort_both.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
  &.asc {
    background: url('/assets/images/sort_asc.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
  &.desc {
    background: url('/assets/images/sort_desc.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.table-style-01 {
  border: 1px solid #ccc;
  tbody tr td {
    vertical-align: middle;
    border: none;
    input[type='text'] {
      margin-bottom: 0;
    }

  }
}

.td-checkbox {
  padding-top: 20px;
  display: block;
  label {
    margin-bottom: 0;
  }
  input[type='checkbox'] {
    vertical-align: middle;
    margin: 0;
  }
}

.button-add {

  &:hover {
    color: #36c6d3;
    cursor: pointer;
  }
}
#overlay {
  position: relative !important;
  .ag-overlay-wrapper{
    background-color: transparent;
    text-align: left;
    vertical-align: bottom;
  .ag-overlay-loading-center,.ag-overlay-no-rows-center {
    background-color: transparent !important;
    padding: 0;
    border: none;
    color: $color-gray;
  }
  }
}
.form-style .table .form-group .form-control-feedback
{
  top: 6px;
}


.waiting
{
  position: absolute;
  right: 10px;
  top: 2px;
}

.add-border {
  td, th {
    border: 1px solid lighten($color-gray-lightest, 35%) !important;
  }
}

.table-addRMA {
  height: 230px;

  tr > td {
    vertical-align: top !important;
  }
}