<select class="form-control" multiple="multiple" name="{{_name}}">
    <option *ngFor="let item of _options; trackBy: index" 
        [selected]="item.checked" 
        value="{{item.key}}">{{item.value}}</option>
</select>
