<div class="layout-rf-block clearfix">
    <div class="rf-block clearfix">
        <div class="rf-layout">
            <!--Dashboard-->
            <ul class="nav rf-dashboard-nav hidden">
                <li class="color1">
                    <p>Putaway</p>
                    <i class="ico-putaway"></i>
                </li>
                <li class="color2">
                    <p>Wave Picking</p>
                    <i class="ico-wavepicking"></i>
                </li>
                <li class="color3">
                    <p>Cartons to Pallet</p>
                    <i class="ico-cartonsofpallet"></i>
                </li>
                <li class="color4">
                    <p>Cartons to Order</p>
                    <i class="ico-cartonsto-oder"></i>
                </li>
                <li class="color5">
                    <p>Relocate</p>
                    <i class="ico-relocate"></i>
                </li>
                <li class="color6">
                    <p>Consolidate</p>
                    <i class="ico-consolidate"></i>
                </li>
                <li class="color7">
                    <p>Cycle Count</p>
                    <i class="ico-cyclecount"></i>
                </li>
                <li class="color8">
                    <p>Xfer</p>
                    <i class="ico-xfer"></i>
                </li>

            </ul>
            <!--putaway-->
            <!--title-->
            <div class="rf-header hidden">
                <span class="col-xs-1 text-left back"><i class="ico-back"></i></span>
                <span class="col-xs-10 title">Putaway</span>
                <span class="col-xs-1 text-right ex-menu close-menu"><i class="ico-menu"></i>
                    <ul class="nav nav-menu hidden">
                        <li class="active"><a>putaway</a></li>
                        <li><a href="">Ware Picking</a></li>
                        <!--<li><a href="">Cartons To Pallet</a></li>-->
                        <!--<li><a href="">Cartons To Order</a></li>-->
                        <li><a href="">Relocate</a></li>
                        <!--<li><a href="">Consolidate</a></li>-->
                        <!--<li><a href="">Cyclecount</a></li>-->
                        <!--<li><a href="">Xfer</a></li>-->
                    </ul>
                </span>
            </div>
            <!--content-->
            <div class="rf-content clearfix hidden">
                <!--<h3>GR List</h3>-->
                <!--<h3><b>GR#:</b> GR - 123</h3>-->
                <h4><b>GR#:</b> GR - 123</h4>
                <h4><b>SKU#:</b> GR - 123</h4>
                <h4><b>PLTs#:</b> GR - 123</h4>
                <i class="ico-noname"></i>
                <div class="rf-table-style hidden">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>GR#</th>
                            <th>#SKUs</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-check"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-2cycle"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-1cycle"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-0cycle"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-0cycle"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-0cycle"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-0cycle"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-0cycle"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#">GR-123</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-0cycle"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block-sku">
                    <ul class="nav nav-pills rf-nav-list">
                        <li>BA-01-L1-01</li>
                        <li>BA-01-L1-01</li>
                    </ul>
                </div>
            </div>
            <!--footer-->
            <div class="rf-footer hidden">
                <a class="btn btn-default">submit</a>
            </div>

            <!--wavepick-->
            <!--title-->
            <div class="rf-header">
                <span class="col-xs-1 text-left back"><i class="ico-back"></i></span>
                <span class="col-xs-10 title">Wave Pick</span>
                <span class="col-xs-1 text-right ex-menu close-menu"><i class="ico-menu"></i>
                    <ul class="nav nav-menu hidden">
                        <li class="active"><a>putaway</a></li>
                        <li><a href="">Ware Picking</a></li>
                        <!--<li><a href="">Cartons To Pallet</a></li>-->
                        <!--<li><a href="">Cartons To Order</a></li>-->
                        <li><a href="">Relocate</a></li>
                        <!--<li><a href="">Consolidate</a></li>-->
                        <!--<li><a href="">Cyclecount</a></li>-->
                        <!--<li><a href="">Xfer</a></li>-->
                    </ul>
                </span>
            </div>
            <!--content-->
            <div class="rf-content clearfix">
                <h3>Wave List</h3>
                <!--<h3><b>GR#:</b> GR - 123</h3>-->
                <h4><b>GR#:</b> GR - 123</h4>
                <h4><b>SKU#:</b> GR - 123</h4>
                <h4><b>PLTs#:</b> GR - 123</h4>
                <div class="form-inline rf-radio">
                    <label for="pallet">
                        <input type="radio" value="pallet" name="option" id="pallet" checked><span>Pallet</span>
                    </label>

                    <label for="carton">
                        <input type="radio" value="carton" name="option" id="carton"><span>Carton</span>
                    </label>

                </div>
                <i class="ico-noname"></i>
                <div class="rf-table-style">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>WV#</th>
                            <th>#SKUs</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">WV-1</a></td>
                            <td>3/3</td>
                            <td class="text-success"><i class="ico-check"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block-sku">
                    <ul class="nav nav-pills rf-nav-list">
                        <li>BA-01-L1-01</li>
                        <li>BA-01-L1-01</li>
                    </ul>
                </div>
            </div>
            <!--footer-->
            <div class="rf-footer">
                <a class="btn btn-default">submit</a>
            </div>
        </div>
    </div>
</div>