<div class="top-layout clearfix">
<h2>Damaged Cartons</h2>
<wms-breadcrumb></wms-breadcrumb>
    </div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="area-block clearfix">
    <div class="col-md-9">
    <form class="form-horizontal form-style">
            <div class="form-style">
                <div class="panel-group panel-style" id = "wrap-pallet-assign">
                    <div class="panel-title-top">ItemID-SKU (Total/Assigned Damaged Cartons)
                        <div class="pull-right">
                            <div class="input-group pull-right">
                                <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                   class="dropdown-toggle"
                                   type="button"><i class="icon-settings"></i>Action <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a (click) = "deleteItem($event)"><i class="icon-trash"></i>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" *ngFor = "let item of dataGrDetail; let i = index;">
                        <div class="panel-heading">
                            <h4><i class="icon-arrow-right-circle"></i>
                                {{item.dtl_item_id}}-{{item.dtl_sku}} ({{item.dtl_gr_dtl_act_ctn_ttl}}/{{(tmpItem[i])?.length}})
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class=" table-style3 clearfix">
                                <table class="table table-bordered" id = "t_wrap_item_{{i}}">
                                    <thead>
                                    <tr>
                                        <th class="column-checkbox"><input id = "ck_first_{{i}}" (click) = "ckAll($event)" type="checkbox"/></th>
                                        <th>Carton Number</th>
                                        <th>Damaged Type</th>
                                        <th> Damaged Note</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor = "let item2 of tmpItem[i]; let i2 = index;">
                                        <th class="column-checkbox"><input type="checkbox" id = "item_ck_{{i}}_{{i2}}" (click) = "eventCheck($event)"/></th>
                                        <td>{{item2.ctn_num}}</td>
                                        <td>
                                            <div class="form-group" [class.error-style]="listNull['dmg_id_' + i + '_' + i2 + '_required']">
                                                <select type="select" id = "dmg_id_{{i}}_{{i2}}" class="form-control"
                                                        (change)="filterForm($event.target)" (focusout)="filterForm($event.target)">
                                                    <option value = "">Select one value</option>
                                                    <option *ngFor = "let itemDT of dataDamageType" value = "{{itemDT.dmg_id}}_{{itemDT.dmg_name}}">{{itemDT.dmg_name}}</option>
                                                </select>
                                                <p class="error" *ngIf="listNull['dmg_id_' + i + '_' + i2 + '_required']">Damaged Type is required
                                                <p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" maxlength="255" id = "dmg_note_{{i}}_{{i2}}" class="form-control"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="add-more"><input type="hidden" id = "ctn_next_{{i}}" value = '0'/><i *ngIf = "flagAddMoreItem" class="fa fa-plus-circle" id = 'event_add_{{i}}' (click) = "eAddMoreItem($event)"></i></td>
                                        <td colspan="3"><i class=""></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="button pull-right">
            <a type="button" class="btn btn-default" (click) = "save('spr')">
                <i class="icon-printer"></i>Save & Print Damaged Carton Number
            </a>
            <!--<a type="button" class="btn btn-primary" (click) = "save ()"><i class="icon-check"></i>Save</a>-->
        </div>
    </form>
    </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
