<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>{{TitlePage}}</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">
        <wms-messages [messages]="messages"></wms-messages>
        <form *ngIf="XFForm&&showForm" class="form-horizontal form-style" [ngFormModel]="XFForm"
              (ngSubmit)="Action!=='View' && Save(XFForm.value)" novalidate>
            <div class="area-block clearfix">

                <div class="col-md-2">
                    <div class="form-group"
                         [class.error-style]="(Cus.control.touched||submitForm)&&Cus.control.errors">
                        <label class="">Customer Name <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <select tabindex="1" (change)="changeCustomer($event)" [disabled]="IsView"
                                class="form-control" ngControl="cus_id" #Cus="ngForm" required>
                            <option value="">Select one value</option>
                            <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                            </option>
                        </select>
                        <p *ngIf="(Cus.control.touched||submitForm)&&Cus.control.errors"
                           class="error">
                            Customer Name is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"
                                    [class.error-style]="(SKU.control.touched||submitForm )&& SKU.control.errors && _xferBy=='sku'">
                                <label class="line-height13">
                                    <input [disabled]="IsView" type="radio" [checked]="_xferBy=='sku'"
                                            (change)="change_XFER_BY('sku')" tabindex="4">SKU
                                    <span *ngIf="_xferBy=='sku'&&!IsView" class="txt-required">(*)</span>
                                    <span *ngIf="XFForm.controls['sku'].showLoading"><img
                                            src="/assets/images/loading.gif"></span>
                                </label>
                                <input placeholder="Auto Complete"
                                        maxlength="50"
                                        #SKU="ngForm"
                                        [disabled]="_xferBy!=='sku'||IsView||!Cus.control.value"
                                        [ngModel]="XFForm.value.sku"
                                        (ngModelChange)="autoComplete($event,'sku')"
                                        ngControl="sku"
                                        class="form-control dropdown-toggle"
                                        type="text"
                                        data-toggle="dropdown"/>
                                <div  tabindex="-1" infinite-scroll-autocomplete class="div-autocomplete dropdown-menu list-group list-table" *ngIf="SKU.value">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th width="20%">SKU</th>
                                            <th width="20%">Size</th>
                                            <th width="20%">Color</th>
                                            <th width="40%">Pack Size</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of autoSearchData['sku']" (click)="selectedItem(item)">
                                            <td><a>{{item.sku}}</a></td>
                                            <td><a>{{item.size}}</a></td>
                                            <td><a>{{item.color}}</a></td>
                                            <td><a>{{item.pack}}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p *ngIf="(SKU.control.touched||submitForm) && SKU.control.hasError('required') &&  _xferBy=='sku'"
                                    class="error">
                                    SKU is required.
                                </p>
                                <p *ngIf="(SKU.control.touched||submitForm)&&SKU.control.hasError('invalid') &&  _xferBy=='sku'"
                                    class="error">
                                    SKU is not existed.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group"
                                [class.error-style]="(UPC.control.touched||submitForm )&& UPC.control.errors && _xferBy=='cus_upc'">
                                <label class="line-height13">
                                    <input [disabled]="IsView" type="radio" [checked]="_xferBy=='cus_upc'"
                                        (change)="change_XFER_BY('cus_upc')" tabindex="4">UPC
                                    <span *ngIf="_xferBy=='cus_upc'&&!IsView" class="txt-required">(*)</span>
                                    <span *ngIf="XFForm.controls['cus_upc'].showLoading"><img
                                            src="/assets/images/loading.gif"></span>
                                </label>
                                <input type="text" (change)="getItemUpc($event,'cus_upc')" #UPC="ngForm"
                                    ngControl="cus_upc" [disabled]="_xferBy!=='cus_upc'||IsView||!Cus.control.value"
                                    class="form-control" disabled tabindex="6">

                                <p *ngIf="(UPC.control.touched||submitForm) && UPC.control.hasError('required')&& _xferBy=='cus_upc'"
                                class="error">
                                    UPC is required.
                                </p>
                                <p *ngIf="UPC.control.touched&&UPC.control.hasError('invalid')&& _xferBy=='cus_upc'"
                                class="error">
                                    UPC is not existed.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label>Size</label>
                        <input type="text" ngControl="size" class="form-control" disabled tabindex="6">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Color</label>
                        <input type="text" ngControl="color" class="form-control" disabled tabindex="6">
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label>Item ID</label>
                        <input type="text" #ItemId="ngForm" ngControl="item_id" class="form-control" disabled>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(PE_XFER.control.touched||submitForm )&& PE_XFER.control.errors">
                                <label title="Requested Piece quantity">Requested QTY<span *ngIf="!IsView"
                                                                   class="txt-required">(*)</span></label>
                                <input #PE_XFER="ngForm" (ngModelChange)="resetCheckedItem($event)"
                                       (keypress)="checkInputNumber($event)" [(ngModel)]="XFForm.value.request_qty"
                                       (ngModelChange)="changeRequestPiece()" type="text"
                                       [disabled]="!Cus.control.value||IsView" ngControl="request_qty"
                                       class="form-control" tabindex="2">
                                <p *ngIf="(PE_XFER.control.touched||submitForm) && PE_XFER.control.hasError('required')"
                                   class="error">
                                    Requested QTY is required.
                                </p>
                                <p *ngIf="(PE_XFER.control.touched||submitForm) && PE_XFER.control.hasError('invalidPieces')"
                                   class="error">
                                    Total Pieces cannot be less than Requested QTY
                                </p>
                                <p *ngIf="(PE_XFER.control.touched||showError)&&PE_XFER.control.hasError('invalidNumber')"
                                   class="error">
                                    Requested QTY must be number.
                                </p>
                                <p *ngIf="(PE_XFER.control.touched||showError)&&PE_XFER.control.hasError('isZero')"
                                   class="error">
                                    Requested QTY must be greater than 0
                                </p>
                                <p *ngIf="(PE_XFER.control.touched||showError) && PE_XFER.control.hasError('invalidInt')"
                                   class="error">
                                    Requested QTY must be integer
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(TO_LOC.control.touched||submitForm )&&TO_LOC.control.errors">
                                <label>To Location <span *ngIf="!IsView" class="txt-required">(*)</span>
                                    <span *ngIf="XFForm.controls['loc_code'].showLoading"><img
                                            src="/assets/images/loading.gif"></span>
                                </label>

                                <input placeholder="Auto Complete"
                                       maxlength="50"
                                       #TO_LOC="ngForm"
                                       [disabled]="IsView||!Cus.control.value"
                                       [ngModel]="XFForm.value.loc_code"
                                       (ngModelChange)="autoComplete($event,'loc_code')"
                                       ngControl="loc_code"
                                       class="form-control dropdown-toggle"
                                       type="text"
                                       data-toggle="dropdown"/>
                                <ul class="dropdown-menu autocomplete" *ngIf="TO_LOC.control.value">

                                    <li (click)="selectedLocItem(item)"
                                        *ngFor="let item of autoSearchData['loc_code']">
                                        {{item.loc_code}}
                                    </li>
                                </ul>
                                <p *ngIf="(TO_LOC.control.touched||submitForm) && TO_LOC.control.hasError('required')"
                                   class="error">
                                    To Location is required.
                                </p>
                                <p *ngIf="(TO_LOC.control.touched||submitForm)&&TO_LOC.control.hasError('invalid')"
                                   class="error">
                                    To Location is not existed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" ngControl="xfer_sts" class="form-control" disabled tabindex="6">
                    </div>
                </div>
                <div class="col-md-2" *ngIf = "IsView">
                    <div class="form-group">
                        <label class="">XFER Number</label>
                        <input [(ngModel)]="XFForm.value.xfer_hdr_num"
                               type="text" [disabled]="true" class="form-control" tabindex="1">
                    </div>
                </div>

            </div>

            <ul class="nav nav-tabs">
                <li class="active in"><a data-toggle="tab" href="#xfer">Items</a></li>
                <li class="in"><a data-toggle="tab" href="#tabEventTracking" *ngIf="IsView">Event Tracking</a></li>
                <li class="in"><a data-toggle="tab" href="#invoice-tracking" *ngIf="IsView">Invoice</a></li>
            </ul>

            <div class="tab-content clearfix no-padding">
                <div class="clearfix tab-pane fade active in" id="xfer">
                    <div class="table">
                        <div class="filter table-list-head clearfix">
                            <div class="form-inline">
                                <label>Show</label>
                                <select (change)="onPageSizeChanged($event)" [ngModel]="perPage" class="form-control" tabindex="7">
                                    <option value="20" selected>20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-style1 clearfix">
                            <div class="col-md-6 no-padding ">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="column-checkbox">


                                        </th>
                                        <th>Location Status</th>
                                        <th>Location</th>
                                        <th title="Available CTNS">Available CTNS</th>
                                        <th title="Total Piece QTY">Available QTY</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of items | paginate: {id :'items_pagin', itemsPerPage: perPage, currentPage:p }">
                                        <td> <!--<input (change)="Selected($event,item,'items',statePagin,'items_pagin')"
                                        [ngModel]="item.selected"  name="total_pieces" type="checkbox">-->
                                            <input [disabled]="item.disabled||item.loc_sts!=='AC'||!XFForm.value['request_qty']||IsView"
                                                   (change)="selectedLoc(item,$event)" [ngModel]="item.selected"
                                                   type="checkbox">
                                        </td>
                                        <td>{{item.loc_sts_name}}</td>
                                        <td>{{item.loc_code}}</td>
                                        <td>{{item.ctn_ttl}}</td>
                                        <td>{{item.ttl_pieces}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <p *ngIf="items.length==0&&!Loading['items']">No Results Found.</p>
                                <p *ngIf="Loading['dataAllLocations']">Loading ... </p>
                            </div>
                        </div>
                        <div class="clearfix">

                          <div class="pull-left">
                            <goBack *ngIf="IsView"></goBack>
                          </div>

                          <div class="pull-right">
                            <pagination-controls
                              (statePagin)="statePagin=$event;checkCheckAll('items',$event,'items_pagin')"
                              (pageChange)="p = $event" id="items_pagin" autoHide="true">
                            </pagination-controls>
                          </div>

                        </div>

                    </div>
                </div>

                <div class="clearfix tab-pane fade" id="tabEventTracking" *ngIf="IsView">
                    <div class="table-style1 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="nowrap">Owner</th>
                                <th>Transaction Number</th>
                                <th>Event</th>
                                <th>Desc</th>
                                <th>Date/Time</th>
                                <th>User</th>
                                <th>Info</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr *ngFor="let item of evenTracking">
                                <td>{{item.owner}}</td>
                                <td>{{item.trans_num}}</td>
                                <td>{{item.evt_code}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.user}}</td>
                                <td>{{item.info}}</td>
                            </tr>
                            </tbody>
                        </table>

                      <div class="col-md-12">
                        <p *ngIf="evenTracking.length==0&&!Loading['items']">No Results Found.</p>
                      </div>

                    </div>
                </div>

                <div *ngIf="IsView" class="clearfix tab-pane fade" id="invoice-tracking">
                    <invoice-tracking [ref_num]="xferNum"></invoice-tracking>
                </div>

            </div>


            <div class="button pull-right">
                <button type="button" (click)="redirectToList()" class="btn btn-default" tabindex="9"><i
                        class="icon-close"></i>Cancel
                </button>
                <button *ngIf="Action=='edit'" type="submit" class="btn btn-primary" tabindex="8"><i
                        class="icon-check"></i>Update
                </button>
                <button *ngIf="Action=='new'" type="submit" class="btn btn-primary" tabindex="8"><i
                        class="icon-check"></i>Save
                </button>
            </div>

        </form>
    </div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
