<div *ngIf="canAccess">
  <div class="top-layout clearfix">
    <h2>Put Back Per Month Report</h2>
    <wms-breadcrumb></wms-breadcrumb>
  </div>
  <div class="layout-block clearfix">
    <wms-messages *ngIf="messages" [messages]="messages"></wms-messages>
    <div class="search-form seven-column">
      <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search()">
        <div class="form-group">
          <label>Month</label>
          <select ngControl="month" class="form-control" tabindex="1">
            <option *ngFor="let month of months" [value]="month.value">{{month.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Year</label>
          <select ngControl="year" class="form-control" tabindex="2">
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
        </div>
        <div class="btn-toolbar pull-left margin-top23">
          <button tabindex="4" type="button" class="btn btn-outline gray" (click)="reset()">
            <i class="icon-close"></i>
            Reset
          </button>
          <button type="submit" class="btn btn-outline blue" tabindex="3">
            <i class="icon-magnifier"></i>
            Search
          </button>
        </div>
      </form>
    </div>
    <div class="table">
      <div class="filter clearfix table-list-head">
        <div class="form-inline pull-left">
          <label>Show:</label>
          <select (change)="changePageSize($event)" class="form-control" tabindex="5">
            <option value="20" selected>20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="table-style1">
        <ag-grid-ng2-extent
                [columnData]="columnData"
                [sortDefault]="sortData"
                (sortData)="sortData=$event;getPutBackReports(pagination['current_page'])"
                [dataForRenderTable]="putBackReports"
                [headerURL]="headerURL">
        </ag-grid-ng2-extent>
      </div>
      <div class="pull-right">
        <wms-pagination
                [perPage]="perPage"
                [paginData]="pagination"
                (pageChange)="getPutBackReports($event)">
        </wms-pagination>
      </div>
      <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
    </div>
  </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>