<div class="top-layout clearfix">
    <h2>Edit Carton</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="customer-management layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" id="form">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-4 auto-style">
                    <div class="row">
                        <label class="pull-left margin-right">Carton Number <span class="txt-required">(*)</span>
                        </label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="waiting"><img
                                        src="/assets/images/loading.gif" *ngIf="showLoading"></span>
                                <input tabindex="1" type="text" maxlength="50" autocomplete="off" class="form-control"
                                       placeholder="Auto Complete"  [(ngModel)]="carton" (keyup)="filter()">
                                <div class="list-group" [hidden]="cartonList.length == 0">
                                    <a class="list-group-item" *ngFor="let item of cartonList" (click)="select(item)">{{item.ctn_num}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-style1 table-responsive">
                <table class="table table-bordered editable small-padding-table">
                    <thead>
                    <tr>
                        <th>ctn_id</th>
                        <th>plt_id</th>
                        <th>asn_dtl_id</th>
                        <th>gr_dtl_id</th>
                        <th>item_id</th>
                        <th>whs_id</th>
                        <th>cus_id</th>
                        <th>loc_id</th>
                        <th>ctn_num</th>
                        <th>rfid</th>
                        <th>ctn_sts</th>
                        <th>ctn_uom_id</th>
                        <th>ctn_pack_size</th>
                        <th>loc_code</th>
                        <th>loc_name</th>
                        <th>is_damaged</th>
                        <th>piece_remain</th>
                        <th>piece_ttl</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="cartonDetail">
                        <td class="width70 disabled">{{cartonDetail.ctn_id}}</td>
                        <td class="autocomplete-style width150">
                            <div class="form-group">
                                <input tabindex="11" autocomplete="off" maxlength="50" type="text" class="form-control"
                                       value="{{cartonDetail.plt_id}}" placeholder="Auto complete"/>
                                <!--<div class="list-group" hidden>-->
                                    <!--<a class="list-group-item">Example</a>-->
                                <!--</div>-->
                            </div>
                        </td>
                        <td class="width70 disabled">{{cartonDetail.asn_dtl_id}}</td>
                        <td class="width70 disabled">{{cartonDetail.gr_dtl_id}}</td>
                        <td class="autocomplete-style width150">
                            <div class="form-group">
                                <input tabindex="11" autocomplete="off" maxlength="50" type="text" class="form-control"
                                       value="{{cartonDetail.item_id}}" placeholder="Auto complete"/>
                                <div class="list-group" hidden>
                                    <a class="list-group-item">Example</a>
                                </div>
                            </div>
                        </td>
                        <td class=" disabled">{{cartonDetail.whs_id}}</td>
                        <td class=" disabled">{{cartonDetail.cus_id}}</td>
                        <td class=" disabled">{{cartonDetail.loc_id}}</td>
                        <td class=" disabled">{{cartonDetail.ctn_num}}</td>
                        <td class=" disabled">{{cartonDetail.rfid}}</td>
                        <td class="">
                            <div class="form-group">
                                <select tabindex="11" class="form-control">
                                    <option value="AC" [selected]="cartonDetail.ctn_sts == 'AC'">Active</option>
                                    <option value="IA" [selected]="cartonDetail.ctn_sts == 'IA'">Inactive</option>
                                </select>
                            </div>
                        </td>
                        <td class=" disabled">{{cartonDetail.ctn_uom_id}}</td>
                        <td class="">
                            <input type="text" class="form-control" value="{{cartonDetail.ctn_pack_size}}">
                        </td>
                        <td class=" disabled">{{cartonDetail.loc_code}}</td>
                        <td class=" disabled">{{cartonDetail.loc_name}}</td>
                        <td class="">
                            <div class="form-group">
                                <select tabindex="11" class="form-control">
                                    <option value="1" [selected]="cartonDetail.is_damaged==1">Yes</option>
                                    <option value="0" [selected]="cartonDetail.is_damaged==0">No</option>
                                </select>
                            </div>
                        </td>
                        <td class="">
                            <div class="form-group">
                                <input tabindex="11" type="text" class="form-control" value="{{cartonDetail.piece_remain}}">
                            </div>
                        </td>
                        <td class=" disabled">{{cartonDetail.piece_ttl}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="button pull-right clearfix">
            <button type="button" tabindex="15" class="btn btn-default" (click)="cancel()"><i class="icon-close"></i>Cancel</button>
            <button type="submit" tabindex="14" (click)="updateAsn()" class="btn btn-primary margin-left"><i class="icon-check"></i>Submit</button>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showGetCartonLoading"><img src="/assets/images/spinner.gif" alt=""></div>