<div *ngIf="allowAccess">
  <div class="top-layout clearfix">
  <h2>Event Tracking</h2>
  <ol class="breadcrumb">
    <li><a href="#/dashboard">Home</a></li>
    <li><a href="#/asn">Inbound Process</a></li>
    <li class="active">Event Tracking</li>
  </ol>
  </div>
  <div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
      <div class="search-form sevent-column clearfix">
          <form class="clearfix form-inline" id="form-filter" [ngFormModel]="searchForm"  (ngSubmit)="Search()">
              <div class="form-group">
                  <label>Indicator </label>
                  <select ngControl="indicator" class="form-control">
                      <option value="">Select a value</option>
                      <option *ngFor="let item of indicatoList" [value]="item.ind_group">{{item.ind_group}}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label>Owner </label>
                  <div class="control-group">
                      <!-- //auto search chagre code complete -->
                      <div class="dropdown dropdown-autosearch">
                          <span class="waiting" *ngIf="Loading['owner']"><img
                                  src="/assets/images/loading.gif"></span>

                          <input maxlength="50"
                                 placeholder="Autocomplete"
                                 tabindex="1"
                                 #Owner="ngForm"
                                 [ngModel]="Owner.value"
                                 (ngModelChange)="autoComplete($event)"
                                 ngControl="owner" class="form-control dropdown-toggle"
                                 type="text" data-toggle="dropdown"/>

                          <div tabindex="-1" class="dropdown-menu list-group"
                               *ngIf="Owner.value">
                              <a tabindex="-1" class="list-group-item nowrap"
                                 (click)="selectedItem(item)"
                                 *ngFor="let item of listOwner">{{item.owner}}</a>
                          </div>

                      </div>

                  </div>


              </div>
              <div class="form-group">
                  <label>Transaction </label>
                  <input tabindex="2" ngControl="trans_num" type="text" class="form-control" name="" placeholder=""/>
              </div>
              <div class="form-group has-feedback">
                  <label>From </label>
                  <input tabindex="1" data-provide="datepicker" data-date-format="yyyy-mm-dd"
                         class="form-control datepicker-asn" data-date-today-highlight="1" ngControl="from" type="text"/>
                  <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
              </div>
              <div class="form-group has-feedback">
                  <label>To </label>
                  <input tabindex="1"  data-provide="datepicker" data-date-format="yyyy-mm-dd"
                         class="form-control datepicker-asn" data-date-today-highlight="1" ngControl="to" type="text"/>
                  <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
              </div>
              <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="4"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue" tabindex="3"><i class="icon-magnifier"></i>Search</button>
              </div>

          </form>
      </div>

      <div class="table">

          <div class="filter clearfix table-list-head">
               <div class="form-inline">
                  <label>Show</label>
                  <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                      <option value="20" selected>20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                  </select>
              </div>
          </div>

            <div class="table-style1">

            <ag-grid-ng2-extent
              (dataSelected)="ListSelectedItem=$event"
              [columnData]="columnData"
              [sortDefault]="sortData"
              (sortData)="sortData=$event;getListEventTracking(Pagination['current_page'])"
              [dataForRenderTable]="listEventTracking"
              [headerURL]="headerURL"></ag-grid-ng2-extent>

            </div>



          <div class="pull-right">
            <!--
      Directive WMSPagination
      Url : common/directives/directives
      -->
            <wms-pagination
              [perPage]="perPage"
              [paginData]="Pagination"
              (pageChange)="getListEventTracking($event)"
            ></wms-pagination>
          </div>

      </div>
  </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
