<div class="login-body forgot-password">
  <div class="logo">
    <img class="img-responsive" src="/assets/images/logo-white.gif?v=1">
  </div>
  <div class="login-page">
    <div *ngIf="resetPasswordMsgs['err'].length > 0">
      <div class="alert alert-danger" *ngFor="let message of resetPasswordMsgs['err']">
        <a (click)="removeMsgs(message)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
      </div>
    </div>
    <form role="form" (ngSubmit)="createPass()" novalidate>
      <h3>
        <i class="fa fa-key"></i>
        <span>Setup Password</span>
        <span *ngIf="!messages&&loading" class="loading-icon text-center"><img src="/assets/images/loading-timeline.gif" alt="Loading"></span>
      </h3>

      <div class="login-block">
        <div class="form-group">
          <p class="note">
            (*) Password must contain at least 8 characters, 1 lowercase character, 1 uppercase character, 1 number, 1 special character and can't contain spaces.
          </p>
        </div>
        <div class="form-group">
          <div class="input-style">
            <input type="password" minlength="8" required="required"
                   class="form-control"  placeholder="Password" [(ngModel)]="newPass">
            <i class="fa fa-key"></i>
          </div>
        </div>
        <div class="form-group has-feedback">
          <div class="input-style">
            <input type="password" minlength="8"  required="required"
                   class="form-control" placeholder="Confirm Password" [(ngModel)]="repeatNewPass">
            <i class="fa fa-key"></i>
          </div>
          <span *ngIf="newPass==repeatNewPass && newPass != '' && newPass.length > 7"
                class="glyphicon glyphicon-ok form-control-feedback greenCheck" aria-hidden="true" style="line-height: 3 !important;"></span>
        </div>
        <div *ngIf="messages" class="form-group clearfix">
          <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
          </div>
        </div>
        <div class="button-login clearfix">
          <div class="row">
            <div class="col-md-6">
              <button type="button" (click)="GoToLoginPage()" class="btn btn-login no-margin-left"><i class="icon-close"></i>Cancel</button>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary btn-login no-margin-left"><i class="icon-check"></i>Save</button>
            </div>
          </div>
          <!--<a href="#/signup">Click here to Signup</a>-->
        </div>
      </div>
    </form>
  </div>
</div>
