<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
    <h2>Customer List</h2>
<wms-breadcrumb></wms-breadcrumb>
    </div>
<div class="layout-block customer-management">
  <div *ngIf="messages" class="col-mg-12">
    <div class="alert alert-{{messages.status}}">
      <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
      <span [innerHTML]="messages.txt"></span>
    </div>
  </div>
    <div class="search-form eight-column">
      <form class="clearfix" id="form-filter" [ngFormModel]="SearchForm"  (ngSubmit)="Search()">
            <div class="form-group">
                <label>Warehouse </label>
                <select type="text" ngControl="whs_id" class="form-control" name="warehouse" tabindex="1">
                     <option value="">All</option>
                    <option *ngFor="let item of WareHouseList| orderBy:['whs_name']" value="{{item.whs_id}}">{{item.whs_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Customer Code </label>
                <input type="text" ngControl="cus_code" class="form-control" name="customer-code" tabindex="2" />
            </div>
            <div class="form-group">
                <label>Billing Account Code </label>
                <input type="text" ngControl="cus_billing_account" class="form-control" name="billing-account-code" tabindex="3" />
            </div>
            <div class="form-group">
                <label>Customer Name </label>
                <input type="text" ngControl="cus_name" class="form-control" name="customer-name" tabindex="4"/>
            </div>
            <div class="form-group">
                <label>Country </label>
                <select class="form-control" (change)="ChangeCountry($event.target.value)" ngControl="cus_country_id" tabindex="5">
                  <option value="">All</option>
                  <option *ngFor="let item of Country | orderBy:['sys_country_name']" [value]="item.sys_country_id">{{item.sys_country_name}}
                  </option>
                </select>
            </div>
            <div class="form-group">
                <label>State </label>
              <label><span *ngIf="Loading['state']"><img src="/assets/images/loading.gif" alt=""></span></label>
              <select class="form-control"ngControl="cus_state_id" tabindex="6">
                <option value="">All</option>
                <option *ngFor="let item of StateProvinces | orderBy:['sys_state_name']" value="{{item.sys_state_id}}">
                  {{item.sys_state_name}}
                </option>
              </select>
            </div>
            <div class="form-group">
                <label>City </label>
                <input type="text" ngControl="cus_city_name" class="form-control" name="city" tabindex="7"/>
            </div>
            <div class="form-group">
                <label>Zipcode </label>
                <input type="text" ngControl="cus_postal_code" class="form-control" name="zipcode" tabindex="8"/>
            </div>

            <div class="pull-right">
              <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="10"><i class="icon-close"></i>Reset</button>
              <button type="submit" class="btn btn-outline blue" tabindex="9"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="createCustomer" class="btn btn-primary" href="#/system-setup/customer/new" tabindex="12"><i class="icon-plus"></i>Add</a>
                <div *ngIf="editCustomer" class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="13"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngIf="editCustomer"><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a>Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="11">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1">
            <ag-grid-ng2-extent
                    (dataSelected)="ListSelectedItem=$event"
                    [columnData]="columnData"
                    (sortData)="sortData=$event;getCustomerList(Pagination['current_page'])"
                    [activeViewDetail]="true"
                    [sortDefault]="sortData"
                    [dataForRenderTable]="ListCustomer"
                    [headerURL]="headerURL"></ag-grid-ng2-extent>
        </div>
        <div class="pull-right">
                <!--
                Directive WMSPagination
                Url : common/directives/directives
                -->
                <wms-pagination
                        [perPage]="perPage"
                        [paginData]="Pagination"
                        (pageChange)="getCustomerList($event)"
                ></wms-pagination>
            </div>
    </div>
</div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
