<div class="top-layout clearfix">
    <h2>Import Forecast</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class=" area-block clearfix">
        <form class="form-horizontal form-style" [ngFormModel]="importForm" novalidate>
            <div class="area-block clearfix">
                <div class="row">
                    <div class="form-group col-md-2"
                         [class.error-style]="(cus_id.control.touched||imported)&&cus_id.control.hasError('required')">
                        <label>Customers <span class="txt-required">(*)</span></label>
                        <select class="form-control" ngControl="cus_id" #cus_id="ngForm" tabindex="1">
                            <option value="">Please select customer</option>
                            <option *ngFor="let cus of customers" [value]="cus.cus_id">{{cus.cus_name}}</option>
                        </select>
                        <p *ngIf="(cus_id.control.touched||imported)&&cus_id.control.hasError('required')"
                           class="error">
                            Customer is required.
                        </p>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Year</label>
                        <select class="form-control" ngControl="year">
                            <option value="">Please select year</option>
                            <option *ngFor="let item of year" [value]="item.key">{{item.value}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label></label>
                        <div class="">
                            <label class="radio-inline">
                                <input type="radio" [checked]="period=='month'" (click)="period='month'"> By Month
                            </label>
                            <label class="radio-inline">
                                <input type="radio" [checked]="period=='quarter'" (click)="period='quarter'"> By Quarter
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group file-input">
                    <label for="item-file-input">File input (maximum 1000 items)</label>
                    <input type="file" [disabled]="!cus_id.value" (change)="changeItemFile($event)" name="files" id="item-file-input"
                           #itemFileView tabindex="2">
                    <button class="btn btn-primary float-none" (click)="importFile()" tabindex="3"  [disabled]="!itemFileView.value">Import</button>
                    <span *ngIf="importLoading"><img src="/assets/images/loading.gif" alt=""></span>
                    <label>
                        <a href="/assets/doc/Forecast_Template.xlsx?v=1.2" target="_blank" tabindex="4">Download Template</a>
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
