<table-export>
    <div class="pull-left export">
        <label class="label-export">Export to:</label>
        <a class="csv" (click)="exportCsv()"></a>
        <!-- <a class="pdf" (click)="exportPdf()"></a> -->
    </div>
</table-export>
