<p *ngIf="!viewMenuConfiguration">Checking permission ...</p>
<div *ngIf="viewMenuConfiguration">
    <div class="top-layout clearfix">
        <h2>Menu Configuration</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">
        <div class="area-block clearfix">
            <!--<select class="form-control margin-left" (ngModelChange)="getListMenu($event)"-->
            <!--*ngIf="GroupMenu&&GroupMenu.length!=0" [(ngModel)]="selectedMenuGroup">-->
            <!--<option *ngFor="let item of GroupMenu" [ngValue]="item">{{item.name}}</option>-->
            <!--</select>-->
            <div class="col-md-8">
            <button *ngIf="createMenu" data-toggle="modal" data-target="#modalAddNewItem"
                    class="btn btn-primary pull-right mar"><i class="icon-plus"></i>Add New
            </button>
            </div>
            <!--<button *ngIf="createMenu" class="btn btn-outline blue" data-toggle="modal"-->
            <!--data-target="#modalMenuGroupNew"><i class="icon-plus"></i>Add New Group-->
            <!--</button>-->
            <!--<span *ngIf="Loading['getGroupMenu']">-->
            <!--Loading menu group....-->
            <!--</span>-->
            <!--<span *ngIf="!Loading['getGroupMenu']&&Loading['getListMenu']" class="del-bt">-->
            <!--Loading menu list....-->
            <!--</span>-->
            <div class="col-md-8 margin-top5">
                <div class="panel panel-primary panel-menu" id="panel-listmenu-conf">
                    <div class="panel-heading" *ngIf="selectedMenuGroup">
                        <h3>{{selectedMenuGroup.name}}</h3>
                         <!--<span *ngIf="createMenu" (click)="removeGroup()" title="Delete menu group"-->
                               <!--class="remove-group-menu btn-conf-menu-group del-bt"><i class="icon-close"></i></span>-->
                        <!--<span *ngIf="createMenu" class="_pointer btn-conf-menu-group edit-bt" data-toggle="modal"-->
                              <!--title="Edit"-->
                              <!--data-target="#modalMenuGroupEdit"><i class="icon-note"></i></span>-->
                    </div>
                    <div class="panel-body">
                        <form #UpdateMenuFrm="ngForm" (ngSubmit)="UpdateMenuConfig()">
                            <div *ngIf='ListMenu' class="menu-configuration">
                            <span class="label label-warning"
                                  *ngIf="Loading['getGroupMenu']=='done'&&!Loading['getListMenu']&&ListMenu.length==0">Menu empty....</span>

                                <div *ngIf="ListMenu.length!=0" class="dd" id="nestable">
                                    <tree-view [ListMenu]="ListMenu"></tree-view>
                                </div>
                            </div>
                            <div *ngIf="messages" class="form-group clearfix">
                                <!-- messages -->
                                <div [hidden]="!messages" class="alert alert-{{messages.status}}">
                                    <a href="#" (click)="messages=!messages" class="close"
                                       aria-label="close">&times;</a>
                                    <span [innerHTML]="messages.txt"></span>
                                </div>
                            </div>

                            <button type="submit" *ngIf="createMenu" class="btn btn-primary pull-right"
                                   [disabled]="!selectedMenuGroup"><i class="icon-check"></i>Update</button>
                            <span *ngIf="Loading['updateMenu']" class="label label-warning">Updating....</span>
                        </form>
                    </div><!-- /panel-body -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAddNewItem" class="modal fade" role="dialog">
    <form class="form-horizontal form-style" #addNewItemMenuForm="ngForm" (ngSubmit)="AddNewItem(addNewItemMenuForm.value)">
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Menu</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Menu Name</label>
                        <input type="text" class="form-control" value="" required ngControl="name">
                    </div>
                    <div class="form-group">
                        <label for="url">Url</label>
                        <input type="text" class="form-control" value="" required ngControl="url">
                    </div>
                    <div class="form-group">
                        <label for="permission_name">Permission name</label>
                        <input type="text" class="form-control" value="" required ngControl="permission_name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" value="" required ngControl="description">
                    </div>
                    <div class="form-group">
                        <label for="target">Target</label>
                        <input type="text" class="form-control" value="" required ngControl="target">
                    </div>
                    <div class="form-group">
                        <label for="icon-dashboard">Icon</label>
                        <input type="text" class="form-control" value="" required ngControl="icon_class">
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="submit" class="btn btn-primary pull-right"><i class="icon-plus"></i>Add</button>
                    <button type="reset" class="btn btn-warning pull-right"><i class="icon-refresh"></i>Reset</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="modalMenuGroupNew" class="modal fade" role="dialog">
    <form class="form-addMenu" #addNewMenuGroupFrm="ngForm" (ngSubmit)="AddNewGroup(addNewMenuGroupFrm.value)">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Menu Group </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Menu group name</label>
                        <input id="txtMenuGroupName" minlength=5 class="form-control" type="text"
                               placeholder="Enter menu name" required="required" value="" ngControl="MenuGroupNameNew">
                    </div>
                    <div class="form-group">
                        <label for="">Menu group description</label>
                        <input id="txtMenuGroupDes" minlength=5 class="form-control" type="text"
                               placeholder="Enter description" required="required" value="" ngControl="MenuDesNew">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <span *ngIf="Loading['createGroupMenu']">Loading...</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="modalMenuGroupEdit" class="modal fade" role="dialog">
    <form *ngIf="selectedMenuGroup" class="form-addMenu" #UpdateMenuGroupFrm="ngForm"
          (ngSubmit)="UpDateMenuGroup(UpdateMenuGroupFrm.value)">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Menu Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Menu group name</label>
                        <input id="txtMenuGroupName" minlength=5 class="form-control" type="text"
                               placeholder="Enter menu name" required="required" value="{{selectedMenuGroup.name}}"
                               [(ngModel)]="selectedMenuGroup.name">
                    </div>
                    <div class="form-group">
                        <label for="">Menu group description</label>
                        <input id="txtMenuGroupDes" minlength=5 class="form-control" type="text"
                               placeholder="Enter description" required="required"
                               value="{{selectedMenuGroup.description}}" [(ngModel)]="selectedMenuGroup.description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary pull-right"><i class="icon-check"></i>Update</button>
                    <span *ngIf="Loading['updateGroupMenu']">Updating...</span>
                </div>
            </div>
        </div>
    </form>
</div>


