<ol class="dd-list">

  <li *ngFor="let menu of ListMenu; let i = index" class="dd-item"  attr.data-icon_class="{{menu.icon_class}}" attr.data-target="{{menu.target}}" attr.data-permission_name="{{menu.permission_name}}" attr.data-url="{{menu.url}}" attr.data-description="{{menu.description}}"  attr.data-id="{{menu.menu_id}}" attr.data-name="{{menu.name}}">

    <div class="dd-handle">{{menu.name}}</div>
    <span class="btn-edit" (click)="menu.edit=!menu.edit"></span>

    <div [hidden]='!menu.edit' class="menu-item-setting clearfix form-style">
      <div class="form-group col-md-4">
        <label for="">Menu Name</label>
        <input type="text"  [(ngModel)]="menu.name" attr.data-ref="name" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label for="url">Url</label>
        <input type="text" [(ngModel)]="menu.url" attr.data-ref="url" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label for="permission_name">Permission name</label>
        <input type="text" [(ngModel)]="menu.permission_name" attr.data-ref="permission_name" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label for="icon_class">Icon class</label>
        <input type="text" [(ngModel)]="menu.icon_class" attr.data-ref="icon_class" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label for="target">Target</label>
        <input type="text" [(ngModel)]="menu.target" attr.data-ref="target" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="menu.description" attr.data-ref="description" class="form-control">
      </div>
      <div class="col-md-12 row-button">
        <button (click)="DeleteItem(menu)" title="Remove in list" class="btn btn-danger pull-right"><i class="icon-trash"></i>Remove</button>
      </div><!-- /row butotn -->
    </div>
    <tree-view [ListMenu]="menu.nodes"  *ngIf="menu.nodes.length!=0"></tree-view>
  </li>
</ol>
