<div class="top-layout clearfix">
    <h2>Put Back Order Detail</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block asn-management print-management">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Status </label>
                                <input type="text" class="form-control" value="{{dataReturnOrderDetail.return_sts_name}}"
                                       placeholder="" required readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Put Back Number</label>
                                <input type="text" class="form-control" value="{{dataReturnOrderDetail.return_num}}"
                                       name="asn-number" placeholder="" required readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Order Number</label>
                                <input type="text" class="form-control" value="{{dataReturnOrderDetail.odr_num}}" name="ref-code"
                                       placeholder="" required readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group has-feedback" disabled="">
                                <label>Customer</label>
                                <input type="text" class="form-control" value="{{dataReturnOrderDetail.cus_name}}"
                                       name="exp-date" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class=""># of SKUs</label>
                                <input type="text" class="form-control" value="{{dataReturnOrderDetail.num_of_sku}}"
                                       name="exp-date" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Put Back QTY</label>
                                <input type="text" class="form-control" value="{{dataReturnOrderDetail.return_qty}}"
                                       name="exp-date" readonly>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active in"><a data-toggle="tab" href="#tabAsn">Items</a></li>
            <li class="in"><a data-toggle="tab" href="#invoice-tracking">Invoice</a></li>
        </ul>
        <div class="tab-content">
            <div class="clearfix tab-pane fade active in" id="tabAsn">
                <div class="table-style2 table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th title="Status" class="nowrap">Status</th>
                            <th title="Stock Keeping Unit/Style" class="nowrap">SKU</th>
                            <th title="Size" class="nowrap">Size</th>
                            <th title="Color">Color</th>
                            <th title="Lot">Lot</th>
                            <th title="Unit of Measure">UOM</th>
                            <th title="Number of eaches">Pack Size</th>
                            <th title="Put Pack QTY">Put Back QTY</th>
                            <!--<th title="Original CTNS">Original CTNS</th>
                            <th title="New CTNS">New CTNS</th>-->
                            <th title="CTNS">CTNS</th>
                            <th title="Created at">Created at</th>
                            <th title="Created by">Created by</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of dataReturnOrderDetail.items">
                            <td>{{item.itm_sts_name}}</td>
                            <td>{{item.sku}}</td>
                            <td>{{item.size}}</td>
                            <td>{{item.color}}</td>
                            <td>{{item.lot}}</td>
                            <td>{{item.uom_name}}</td>
                            <td>{{item.pack}}</td>
                            <td>{{item.piece_qty}}</td>
                            <!--<td>{{item.origin_ctns}}</td>
                            <td>{{item.new_ctns}}</td>-->
                            <td>{{item.ctns}}</td>
                            <td>{{item.created_at}}</td>
                            <td>{{item.created_by}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="clearfix tab-pane fade" id="invoice-tracking">
                <invoice-tracking [ref_num]="dataReturnOrderDetail['return_num']"></invoice-tracking>
            </div>
        </div>
    </form>
    <goBack></goBack>
</div>


