<div class="top-layout clearfix">
    <h2>Picking Update</h2>
    <wms-breadcrumb></wms-breadcrumb>
  </div>
  <wms-messages [messages]="messages"></wms-messages>
  <div class="layout-block clearfix" *ngIf="hasUpdateOrderPickingPermission">
    <form class="form-horizontal form-style" id="form">
      <div class="area-block clearfix">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label class="">Wave Number</label>
              <input tabindex="1" type="text" maxlength="64" class="form-control" disabled value="{{waveNumber}}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="">Order Number</label>
              <div class="form-inline">
              <span tabindex="1"class="form-control" disabled>{{orderNumbers}}</span>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="form-group">
                  <label class="">Customer Name</label>
                  <input tabindex="1" type="text" maxlength="64" class="form-control" disabled value="{{customerName}}">
              </div>
          </div> -->
  
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class="active in">
            <a data-toggle="tab" href="#tabAssignPicker">Assign Pickers</a>
        </li>
        <li class="in">
          <a data-toggle="tab" href="#tabitem">Items</a>
        </li>
        <li class="in"><a data-toggle="tab" href="#tabEventTracking" *ngIf="action == 'view'">Event Tracking</a></li>
      </ul>
      <div class="tab-content clearfix no-padding">
        <div class="clearfix tab-pane fade active in" id="tabAssignPicker">
          <div class="row">
            <div class="table-list-head clearfix" *ngIf="!isView">
              <div class="pull-right">
                <a class="btn btn-primary pull-right" [class.margin-top21]="pickersForm" (click)="assignPicker()" tabindex="12"><i class="icon-plus"></i>Assign pickers</a>
              </div>
            </div>
          </div>
          <div class="row table-style2 table-responsive" id="table-item-asn">
            <table class="table table-bordered small-padding-table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Department</th>
                  <th>Office</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listAssigned">
                  <td>{{item.user_name}}</td>
                  <td>{{item.first_name}}</td>
                  <td>{{item.last_name}}</td>
                  <td>{{item.department}}</td>
                  <td>{{item.office}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone_number}}</td>
                  <td>{{item.status}}</td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="!listAssigned.length">No Results Found.</p>
          </div>
        </div>
        <div class="clearfix tab-pane fade area-block in" id="tabitem">
          <div class="table-style1 table-responsive" id="table-item-asn"> 
            <table class="table table-bordered small-padding-table" id="w-content-per">
            <thead>
              <tr>
                <th class="column-checkbox">
                  <input [(ngModel)]="WavepickDetail['checkAll']" (ngModelChange)="_func.checkedAllData(WavepickDetail,$event,'details')"  type="checkbox"/>
                </th>
                <th>#</th>
                <th>Item ID</th>
                <th>Picker</th>
                <th>UPC/EAN</th>
                <th>SKU</th>
                <th>Color</th>
                <th>Size</th>
                <th>Batch</th>
                <th>Packsize</th>
                <th>Allocated QTY</th>
                <th>UOM</th>
                <th>{{action=='view' ? 'Actual' : 'Suggest'}} Location(s)</th>
                <th>Actual QTY</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor = "let item of dataWavepickItems; let i = index">
                <td class="disabled"><input [(ngModel)]="item.selected" (ngModelChange)="checkedItem()"  type="checkbox"></td>
                <td class="disabled">{{item.wv_dtl_id}}</td>
                <td class="disabled">{{item.itm_id}}</td>
                <td class="disabled">{{item.picker_name}}</td>
                <td class="disabled">{{item.cus_upc}}</td>
                <td class="disabled">{{item.sku}}</td>
                <td class="disabled">{{item.color}}</td>
                <td class="disabled">{{item.size}}</td>
                <td class="disabled">{{item.lot}}</td>
                <td class="disabled">{{item.pack_size}}</td>
                <td class="disabled">{{item.piece_qty}}</td>
                <td class="disabled">{{item.uom_name}}</td>
  
                <td class="width150" [class.disabled]="action=='view'">
                  <div class="form-group">
                    <a *ngIf="action=='view'||item?.wv_dtl_sts!=='New'"  data-toggle="modal" (click)="getSuggestLocation(item,'view')" data-target="#popupWavePick">View {{item?.act_loc?.length}}</a>
                    <a *ngIf="action=='edit'&&item?.wv_dtl_sts=='New'"  data-toggle="modal" (click)="getSuggestLocation(item,'new')" data-target="#popupWavePick">Update {{item?.act_loc?.length}}</a>
                    <!-- <p *ngIf="_submitForm&&item.suggest_loc_required" class="error">
                      Location is required.
                    </p> -->
                  </div>
                 </td>
  
  
                <td class="width120">
                  <div class="form-group" [class.error-style]="item.hasErrGreater || item.hasErrRequiredQTY">
                    <input tabindex="1" readonly="readonly" type="text" maxlength="8" class="form-control" value={{item.act_piece_qty}}/>
                    <!-- <p *ngIf="item.hasErrRequiredQTY" class="error">
                         Actual QTY is required.
                     </p>-->
                    <p *ngIf="item.hasErrGreater" class="error">
                      Actual pick quantity must be equal to or less than allocated quantity!
                    </p>
                    <p *ngIf="item.hasErrRequiredQTY" class="error">
                      Actual pick quantity is required.
                    </p>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="pull-right">
              <button *ngIf="action=='view'" type="button" (click)="printWavepick()" class="btn btn-primary">Export</button>
          </div>
        </div>
        <div class="clearfix tab-pane fade" id="tabEventTracking" *ngIf="action == 'view'">
          <event-tracking-direcitve [owner]="waveNumber"></event-tracking-direcitve>
        </div>
      </div>
      <div class="button pull-right clearfix" *ngIf="action != 'view'">
        <button type="button" class="btn btn-default" (click)="cancel()" tabindex="3"><i class="icon-close"></i>Cancel
        </button>
        <button type="submit" [disabled]="!validForm" (click)="submitForm()" class="btn btn-primary" tabindex="2"><i class="icon-check"></i>Update
        </button>
      </div>
    </form>
    <goBack *ngIf="action=='view'"></goBack>
  
    <!--
      fORM POPUP
    -->
    <div id="popupWavePick" data-backdrop="static" class="modal fade" role="dialog">
      <form  *ngIf="WavePickPopupForm" class="form-horizontal form-style" [ngFormModel]="WavePickPopupForm"
             (ngSubmit)="reCheckLocStatus()" novalidate>
        <div class="modal-dialog modal-style-default">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{_popup_sts=='new' ? 'Picking Update' : 'Picked'}}</h4>
            </div>
            <div class="modal-body">
  
              <wms-messages [messages]="messages_popup"></wms-messages>
  <div class="table-style1">
    <table class="table table-bordered editable small-padding-table">
                <thead>
                <tr>
                  <th>Item ID</th>
                  <th>SKU</th>
                  <th>Color</th>
                  <th>Size</th>
                  <th>Batch</th>
                  <th>Packsize</th>
                  <th>QTY</th>
                  <th>UOM</th>
                  <th># of Loc</th>
                  <th>Actual QTY</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="disabled">{{currentItem.itm_id}}</td>
                  <td class="disabled">{{currentItem.sku}}</td>
                  <td class="disabled">{{currentItem.color}}</td>
                  <td class="disabled">{{currentItem.size}}</td>
                  <td class="disabled">{{currentItem.lot}}</td>
                  <td class="disabled">{{currentItem.pack_size}}</td>
                  <td class="disabled">{{currentItem.piece_qty}}</td>
                  <td class="disabled">{{currentItem.uom_name}}</td>
  
                  <td  class="disabled">
                    <span *ngIf="_popup_sts=='new'">{{items?.length}}</span>
                    <span *ngIf="_popup_sts!=='new'">{{currentItem.ttl_loc}}</span>
                  </td>
  
                  <td class="disabled">
                     {{total_pic_qty}}
                  </td>
  
                </tr>
                </tbody>
              </table>
  </div>
              <div class="table-style1 margin-top relativebox">
              <table class="table table-bordered editable small-padding-table">
                <thead>
                <tr>
                <th *ngIf="_popup_sts=='new'" class="text-center"><i class="fa fa-cog no-margin"></i></th>
                <th  *ngIf="_popup_sts=='new'">Suggested Location</th>
                <th>Actual Location</th>
                <th  *ngIf="_popup_sts=='new'">Avai QTY</th>
                <th>Picked QTY (*)</th>
                </tr>
                </thead>
                <tbody ngControlGroup="data">
                  <tr *ngFor="let item of items;let i=index" ngControlGroup="{{i}}">
                    <td *ngIf="_popup_sts=='new'" class="text-center"><a (click)="removeLoc(i)"><i class="fa fa-close no-margin"></i></a></td>
                    <td *ngIf="_popup_sts=='new'"><input type="text" readonly class="form-control" ngControl="loc_code"></td>
                    <td  class="width150">
  
                      <div class="control-group" [class.error-style]="(Act_loc.control.touched||_submitForm)&&(Act_loc.control.errors)||Act_loc.control.inactived">
                        <input placeholder="Auto Complete"
                               #Act_loc="ngForm"
                               [ngModel]="item.value.act_loc"
                               (ngModelChange)="autoComplete(i,$event,'act_loc')"
                               ngControl="act_loc"
                               [disabled]="_popup_sts!=='new' || WavepickDetail.pick_pallet"
                               class="form-control dropdown-toggle"
                               type="text"
                               data-toggle="dropdown"/>
  
                        <ul class="dropdown-menu autocomplete" *ngIf="Act_loc.value">
                                  <span class="icon-loading-search-complete" *ngIf="item['showLoading']"><img
                                          src="/assets/images/loading.gif"></span>
  
                          <li *ngFor="let itm of autoSearchData[i]" (click)="selectedItem('act_loc',i,itm)">
                            {{itm.loc_code}}
                          </li>
                        </ul>
                        <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('required')"
                           class="error">
                          Location is required.
                        </p>
                        <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('invalid')"
                           class="error">
                          Location is not existed or does not store requested item
                        </p>
                        <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('loc_status_is_locked')"
                           class="error">
                          Location is Locked.
                        </p>
                        <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('loc_status_is_locked_cycle')"
                           class="error">
                          Location is Cycle Locked.
                        </p>
                        <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('duplicated')"
                           class="error">
                          Location is duplicated.
                        </p>
                        <p *ngIf="Act_loc.control.hasError('inactived')"
                           class="error">
                          Location is Inactive.
                        </p>
  
                        <p *ngIf="Act_loc.control.hasError('errors_from_api_check')"
                           class="error">
                          {{Act_loc.control?.errorsMessages}}
                        </p>
  
                      </div>
  
                    </td>
                    <td  *ngIf="_popup_sts=='new'">
                      <div class="form-group" [class.error-style]="Avail_qty.control.errors">
                      <input type="text" #Avail_qty="ngForm" readonly class="form-control" ngControl="avail_qty">
                      <p *ngIf="Avail_qty.control.hasError('isZero')" class="error">
                        Avai QTY must be greater than 0
                      </p>
                      </div>
                    </td>
                    <td  class="width60">
                      <div  [class.error-style]="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.errors">
                      <input type="text" (keypress)="checkInputNumber($event)" [disabled]="!item.value.avail_qty||_popup_sts!=='new' || WavepickDetail.pick_pallet" #Picked_qty="ngForm" ngControl="picked_qty" (keyup)="changePickQty(item,$event,i)" class="form-control">
                      <p *ngIf="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.hasError('required')" class="error">
                        Picked QTY is required.
                      </p>
                      <p *ngIf="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.hasError('invalidPick')" class="error">
                        Picked QTY must be smaller or equal than Avai Qty.
                      </p>
                        <p *ngIf="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.hasError('isZero')" class="error">
                          Picked QTY must be greater than 0
                        </p>
                      </div>
                    </td>
                  </tr>
                <tr>
                  <td  *ngIf="_popup_sts=='new'&& !WavepickDetail.pick_pallet" class="add-more" colspan="5">
                            <span (click)="addMoreSuggestLoc()" class="button-add"><i
                                    class="fa  fa-plus-circle" tabindex="25"></i></span>
                  </td>
                </tr>
                </tbody>
              </table>
              </div>
  
              <div *ngIf="!showLoadingOverlay&&!itemsArray.length" class="alert alert-warning">
                No Results Found.
              </div>
  
              <wms2-progressBar
                      [progressValue]="itemsArray.copyProgress"
                      [progressText]="itemsArray.copyProgress + ' % ' "
              ></wms2-progressBar>
  
            </div>
            <div class="modal-footer">
              <div class="pull-right">
                <button type="button"  class="btn btn-default" data-dismiss="modal"><i class="icon-close"></i>Close</button>
                <button [disabled]="!items.length" *ngIf="action=='edit'&&_popup_sts=='new'" type="submit" class="btn btn-primary">Agree</button>
              </div>
            </div>
          </div>
  
        </div>
      </form>
    </div>


</div>



<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>


<!-- <assign-picker-popup (messages)="messages=$event" (isAssigned)="getWavepickDetail()" [listSelectedItemID]="listSelectedItem" [urlGET]="URLget" [urlAssign]="URLAssign" [typePopup]="'multiPicker'"></assign-picker-popup> -->
<popup-assign-multi-pickers *ngIf="listUserAssign.length > 0" (messages)="messages=$event" (isAssigned)="getListPickersAssigned()" [listSelectedItem]="listUserAssign" [listAssigned]='listAssigned' [idDetail]="wv_id" [type]="'PICKER'"></popup-assign-multi-pickers>