<table class="table table-bordered table-hover" *ngIf="!_flagOrderFolow">
    <thead>
    <tr>
        <th>Step</th>
        <th>Name</th>
        <th>Description</th>
        <th>Dependency</th>
        <th>Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of orderFlowDetail.value; let i = index">
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.step}}</td>
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.name}}</td>
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.description}}</td>
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.dependency}}</td>
        <!-- <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1"><input type="checkbox" (change)="changeCheckedOrderFlow($event,item)" [ngModel]="item.usage" [disabled]="_disable || item['flow_code']=='NOD' || item?.disabled"/></td> -->
        <!--_disable||item['flow_code']=='BOL' || -->
        <td *ngIf="_orderType != 'RTL' && _orderId== ''" [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">
            <input type="checkbox" (change)="changeCheckedOrderFlow($event,item,'bulk')"
            [ngModel]="item.bulk.value" [disabled]="_disable || item['flow_code']=='NOD' || item?.disabled"/>
        </td>

        <td *ngIf="_orderType == 'RTL' && _orderId== ''" [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">
            <input type="checkbox" (change)="changeCheckedOrderFlow($event,item,'usage')"
            [ngModel]="item.usage.value" [disabled]="_disable || item['flow_code']=='NOD' || item?.disabled"/>
        </td>

        <td *ngIf="_orderId!= ''" [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">
            <input type="checkbox" (change)="changeCheckedOrderFlow($event,item,'usage')"
            [ngModel]="item.usage" [disabled]="_disable || item['flow_code']=='NOD' || item?.disabled"/>
        </td>
    </tr>
    </tbody>
</table>