<div class="top-layout clearfix">
<h2>System Configuration</h2>
<ol class="breadcrumb">
    <li><a href="#/dashboard">Home</a></li>
    <li class="active">System Configuration</li>
</ol>
</div>
<div class="layout-block">
<div class="form-style">
  <ul class="nav nav-tabs">
    <li><a [routerLink]="['General']">General</a></li>
    <li><a [routerLink]="['Email']">Email</a></li>
  </ul>
    <div class="area-block clearfix">
  <router-outlet></router-outlet>
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
</div>
