<div class="navbar header">
    <div class="navbar-header">
        <a class="logo" href="#dashboard" tabindex="-1">
            <img src="/assets/images/PIMS_Logo.png?v=1" alt="" class="img-responsive">
        </a>
        <div class="text-logo">PIMS</div>
    </div>
    <ul class="nav navbar-nav nav-drop">
        <li class="dropdown wms-dropdown">
            <a id="wmsDrop" class="dropdown-toggle" aria-expanded="true" aria-haspopup="true" role="button"
               data-toggle="dropdown" href="" tabindex="-1">
                <name class="hidden-xs">{{warehouseName}}</name>
                <span class="caret"></span>
            </a>
            <ul id="" class="dropdown-menu animated bounceIn warehouse-selected" aria-labelledby="wmsDrop">
                <!--<li *ngFor="let item of warehouseList"" >-->
                <li *ngFor="let item of warehouseList | orderBy:['whs_name']">
                    <a (click)="SelectWareHouse(item)" title="{{item.whs_name}}">
                        {{item.whs_name}}
                    </a>
                </li>
            </ul>
        </li>
        <!--<li class="dropdown customer-dropdown">
            <a id="customerDrop" class="dropdown-toggle" aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" href="">
                <name class="hidden-xs">Select Customer</name>
                <span class="caret"></span>
            </a>
            <ul id="" class="dropdown-menu animated bounceIn" aria-labelledby="customerDrop">
                <li>
                    <a href="">
                        Customer 1
                    </a>
                </li>
                <li>
                    <a href="">
                        Customer 2
                    </a>
                </li>
            </ul>
        </li>-->
    </ul>
    <ul class="nav navbar-nav pull-right toolbar">
        <!--<li><a href=""><i class="icon-favorite-line"></i></a></li>-->
        <!--<li class=" dropdown notification">
            <a id="notification-drop" class="dropdown-toggle" aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                <i class="icon-notification">
                    <span class="notice-number">5</span>
                </i>
            </a>
            <ul id="" class="dropdown-menu animated bounceIn" aria-labelledby="notification-drop">
                <li class="dd-header">
                    Notification (5)
                </li>
                <ul class="nav">
                    <li>
                        <i class="fa fa-check text-success"></i>
                        Server #1 is live
                    </li>
                    <li>
                        <i class="fa fa-exclamation text-danger"></i>
                        Application error!
                    </li>
                    <li>
                        <i class="fa fa-warning text-warning"></i>
                        Database is overload
                    </li>
                    <li>
                        <i class="fa fa-close"></i>
                        Can not load database
                    </li>
                    <li>
                        <i class="fa fa-warning text-warning"></i>
                        Database is overload
                    </li>
                </ul>
            </ul>
        </li>-->
        <li class="dropdown dropdown-profile">
            <a id="profile-drop" class="dropdown-toggle" aria-expanded="true" aria-haspopup="true" role="button"
               data-toggle="dropdown" href="#">
                    <span class="image">
                        <img class="avatar img-responsive" src="/assets/images/avatar.png"/>
                    </span>
                    <span *ngIf="decodedJwt.fullname">
                        <span style="float:none;" class="user-fullname">{{decodedJwt.name}}</span>
                    </span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="profile-drop">
                <li>
                    <a href="#/profile">
                        <i class="icon-people"></i>Profile
                    </a>
                </li>
                <li>
                    <a (click)="logout()" href="#/login">
                        <i class="icon-logout"></i>Sign Out
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <a class="pull-right report" id="reportIssue" data-toggle="modal" (click) = "convertPageToImage()" data-target="#reportIssuePopup"><i
            class="icon-note"></i>Report issue</a>
</div>
<div id="reportIssuePopup" class="modal fade" role="dialog" data-backdrop="static">
    <form [ngFormModel]="reportIssueForm" novalidate>
        <div class="modal-dialog modal-style-specail modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">To Email:</label>
                            <div class="col-sm-9">
                                <label class="control-label">{{reportIssueForm['value']['to_email']}}</label>
                                <input type="hidden" ngControl="to_email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">To Other Email:</label>
                            <div class="col-sm-9">
                                <input class="margin-top8" type="checkbox" (change)="sendToOtherEmail($event)">
                            </div>
                        </div>
                        <div class="form-group" [class.error-style]="listNull['otherEmail_ivEmail']" *ngIf="sendOtherEmail">
                            <label class="col-sm-3 control-label">Other Email:</label>
                            <div class="col-sm-9">
                                <input type="text" (change)="filterForm($event.target, 'ivEmail')"
                                       (focusout)="filterForm($event.target, 'ivEmail')" id = "otherEmail"  class="form-control" ngControl="other_email">
                            </div>
                            <p *ngIf="listNull['otherEmail_ivEmail']" class="error">
                                Invalid Email
                            <p>
                        </div>
                        <div class="form-group" [class.error-style]="listNull['fromEmail_ivEmail']">
                            <label class="col-sm-3 control-label">From Email:</label>
                            <div class="col-sm-9">
                                <input type="text" (change)="filterForm($event.target, 'ivEmail')"
                                       (focusout)="filterForm($event.target, 'ivEmail')" id = "fromEmail"  class="form-control" ngControl="from_email">
                            </div>
                            <p *ngIf="listNull['fromEmail_ivEmail']" class="error">
                                Invalid Email
                            <p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ngControl="phone">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close" (click) = "closeModel()">&times;</button>
                </div>
                <div class="modal-body form-style">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label><b class="color-primary">Describe Issue</b></label>
                            <textarea class="form-control" rows="5" ngControl="des_issue"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control input-lg" placeholder="Upload File" [value]="fileName">
                                <input type="file" style="display:none;" id="report-issue-file" (change)="reportIssueFileChange($event.target)">
                                  <span class="input-group-btn">
                                    <button class="browse btn btn-default" (click)="uploadReportIssueFile()">Browse</button>
                                  </span>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label><input class="margin-top" type="checkbox" ngControl="flagAttach">Attach screenshot</label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3" id = "showImg">
                            </div>
                        </div>
                    </div>
                </div>
                <wms-messages [messages]="messageReportIssue"></wms-messages>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" (click)="sendReportIssue(reportIssueForm.value)">
                        <i class="icon-check"></i>Send
                    </button>
                    <button type="button" class="btn btn-default pull-right" (click) = "closeModel()"><i
                            class="icon-close"></i>Close
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingReportIssue"><img src="/assets/images/spinner.gif" alt=""></div>

