<div class="aisle-block">
    <div class="aisle" [class.first]="firstBlock" *ngFor="let aisleData of warehouseData; trackBy: index; let firstBlock = first">
        <!-- <span class="aisle-label"><a href="/#/system-setup/warehouse-layout/{{aisleData.aisle_label}}">{{aisleData.aisle_label}}</a></span> -->
        <span class="aisle-label"><a href="javascript:void(0);">{{aisleData.aisle_label}}</a></span>
        <div class="aisle-data">
            <ul *ngFor="let level of aisleData.aisle; let i = index; trackBy: index">
                <li *ngFor="let bin of level.data; trackBy: index; let j = index" [style.borderColor]="'#a0a0a0'"
                    tooltip="{{bin.loc_alternative_name + (bin.data?.code ? ' - ' + bin.data?.code + ' - ' + bin.data?.name : '')}}"
                    (click)="aisleID = aisleData.aisle_label; showDetail(bin.loc_id, bin.loc_alternative_name)"
                    [class.active]="bin.active == 1" tooltipPlacement="{{getPositionTooltip(firstBlock, i, bin.data, j, level.length)}}" tooltipTrigger="mouseenter">
                    <a>
                        <span [style.backgroundColor]="(bin.pallet || bin.haveCtn==1) && bin.data?.color"
                            [class.zone]="filterBy == 'zone'">
                            <!-- <i class="icon icon-check" *ngIf="bin.loc_sts_code=='AC'"></i> -->
                            <i class="icon icon-ban" *ngIf="bin.loc_sts_code=='IA'"></i>
                            <i class="icon icon-lock" *ngIf="bin.loc_sts_code=='LK'"></i>
                            <i class="icon icon-layers" *ngIf="bin.loc_sts_code=='RS'"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="location-detail" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-style-default modal-wh">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{aisleID}} | {{locationName}} | Max LPN: {{max_lpn}}</h4>
            </div>
            <div class="modal-body form-style">
                <div class="table">
                    <div class="table-style2 table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th rowspan="2">Item ID</th>
                                <th rowspan="2">SKU</th>
                                <th rowspan="2">Size</th>
                                <th rowspan="2">Color</th>
                                <th rowspan="2">Lot</th>
                                <th colspan="2" class="text-center">Number Of</th>
                                <th rowspan="2">LPN</th>
                            </tr>
                            <tr>
                                <th class="text-center">Cartons</th>
                                <th class="text-center">Pieces</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of locationDetail">
                                <td>{{item.item_id}}</td>
                                <td>{{item.sku}}</td>
                                <td>{{item.size}}</td>
                                <td>{{item.color}}</td>
                                <td>{{item.lot}}</td>
                                <td class="text-right">{{item.ctn_ttl}}</td>
                                <td class="text-right">{{item.piece_ttl}}</td>
                                <td>{{item.lpn_carton}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p *ngIf="!locationDetail?.length">No Results Found.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>