<div class="top-layout clearfix">
    <h2>WAREHOUSE LAYOUT</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<wms-messages [messages]="messages"></wms-messages>
<div class="layout-block warehouse-layout" [class.wh-close]="closeListCustomer">
    <div class="whs_layout_wrap" id="whs_layout_wrap">
        <div class="search-form eight-column">
            <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search()">
                <div class="form-group">
                    <label>Location</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoadingLocations">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                            tabindex="1"
                            placeholder="Autocomplete..."
                            (ngModelChange)="loadLocations($event)"
                            ngControl="loc_code" class="form-control dropdown-toggle"
                            type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                            *ngIf="searchForm.value['loc_code'] && locations.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectLocation($event, loc['loc_code'])"
                                *ngFor="let loc of locations">
                                {{loc['loc_code']}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>SKU</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoadingSKUs">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                                tabindex="2"
                                placeholder="Autocomplete..."
                                (ngModelChange)="loadSKUs($event)"
                                ngControl="sku" class="form-control dropdown-toggle"
                                type="text" data-toggle="dropdown"/>
                        
                        <div class="dropdown-menu autocomplete-style" *ngIf="searchForm.value['sku'] && skus.length > 0">
                            <div tabindex="-1" class="table-style2 list-group list-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="nowrap" width="40%">SKU</th>
                                            <th width="20%">Size</th>
                                            <th width="20%">Color</th>
                                            <th width="20%">Lot</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sku of skus" (click)="selectSKU($event, sku)">
                                            <td class="nowrap" width="40%"><a>{{sku.sku}}</a></td>
                                            <td class="nowrap" width="20%"><a>{{sku.size}}</a></td>
                                            <td class="nowrap" width="20%"><a>{{sku.color}}</a></td>
                                            <td class="nowrap" width="20%"><a>{{sku.lot}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label>Type</label>
                    <select ngControl="loc_type_code" class="form-control">
                        <option value=''>All</option>
                        <option *ngFor="let item of locationTypes" [value]="item.loc_type_code">
                            {{item.loc_type_name}}
                        </option>
                    </select>
                </div> -->

                <div class="form-group">
                    <label>Special Handling</label>
                    <select class="form-control" ngControl="spc_hdl_code">
                        <option value="">All</option>
                        <option value="RAC">Rack</option>
                        <option value="SHE">Shelf</option>
                        <option value="BIN">Bin</option>
                    </select>
                </div>
                <div class="btn-toolbar pull-left margin-top23">
                    <button tabindex="4" type="button" class="btn btn-outline gray" (click)="reset()">
                        <i class="icon-close"></i>
                        Reset
                    </button>
                    <button type="submit" class="btn btn-outline blue" tabindex="3">
                        <i class="icon-magnifier"></i>
                        Search
                    </button>
                </div>
                <div class="pull-right color-gray margin-top23">
                    <wms-pagination
                        [perPage]="perPage"
                        [paginData]="pagination"
                        [shortText]="true"
                        (pageChange)="getWarehouseLayout($event)">
                    </wms-pagination>
                </div>
            </form>
        </div>
        
        <div class="list-track" warehouse-layout-directive [data]="wh_layout"></div>

    </div>
    <div class="list-customer filter-wh-area">
        <div class="customer-toggler" (click)="closeListCustomer=!closeListCustomer"></div>
        <h3 (click)="showFilterBy = 'customer'" *ngIf="listCustomer?.length > 0 && !closeListCustomer">
            <i class="icon" [ngClass]="closeListCustomer || showFilterBy == 'zone' ? 'icon-plus' : 'icon-minus'"></i>
            <span>Customers</span>
        </h3>
        <ul [class.hidden]="closeListCustomer || showFilterBy == 'zone'" class="sub-list">
            <li [class.active]="code == '' && type == ''" (click)="filter('')">ALL</li>
            <li *ngFor="let customer of listCustomer; let i = index;" tooltip="{{customer.name}}" tooltipPlacement="bottom" tooltipTrigger="mouseenter" (click)="filter(customer.code)" [class.active]="code == customer.code && type == ''">
                <span class="customer-name" >{{customer.code}}</span>
                <span class="customer-color" [style.backgroundColor]="customer.cl_code"></span>
            </li>
        </ul>
        <br>
        <h3 (click)="showFilterBy = 'zone'" *ngIf="listCustomerZone?.length > 0 && !closeListCustomer">
            <i class="icon" [ngClass]="closeListCustomer || showFilterBy == 'customer' ? 'icon-plus' : 'icon-minus'"></i>
            <span>Zones</span>
        </h3>
        <ul class="zone-content sub-list" [class.hidden]="closeListCustomer || showFilterBy == 'customer'">
            <li class="all" [class.active]="code == '' && type == 'zone'" (click)="filterZone('')">ALL</li>
            <li *ngFor="let cusZone of listCustomerZone">
                <span class="customer-name" >
                    <i class="icon icon-plus"></i>
                    <i class="icon icon-minus"></i>
                    {{cusZone.code || 'Unassigned'}}
                </span>
                <ul>
                    <li *ngFor="let zone of cusZone.zones" tooltip="{{(cusZone.name != 'OtherZone' ? (cusZone.name || 'Unassigned') + '-' : '') + zone.zone_name}}" tooltipPlacement="left" tooltipTrigger="mouseenter"
                    (click)="filterZone(zone.zone_code)" [class.active]="code == zone.zone_code && type == 'zone'">
                        <span class="zone-name" >{{zone.zone_code}}</span>
                        <span class="zone-color" [style.backgroundColor]="zone.zone_color"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>

