<div class="btn btn-outline blue" (click)="getLocation()"
     data-target="#add_locations_popup" data-toggle="modal" tabindex="10">
    <i class="icon-plus"></i>Add Locations
</div>

<div id="add_locations_popup" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Locations</h4>
                </div>
                <div class="modal-body form-style">

                    <wms-messages [messages]="messagesRemove"></wms-messages>

                    <div  class="form-group">
                        <input type="text" [(ngModel)]="locationCodeFilter" (ngModelChange)="getLocation()" class="form-control search-model-loc-code" placeholder="Search Location..." />
                    </div>

                    <div class="table-style2 has-overlay-loading">

                        <table class="table table-bordered " id="w-content-per">
                            <thead>
                            <tr>
                                <th class="column-checkbox">
                                    <input  [ngModel]="locationList['checkAll']" (change)="checkedAll($event)"  type="checkbox"/>
                                </th>
                                <th>Location Code</th>
                                <th>Location Alternative Name</th>
                                <th>Location Type</th>
                                <th>Min Count</th>
                                <th>Max Count</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr (click)="setClickedRow(item)" [class.row-selected]="item.selected"
                            *ngFor="let item of locationList['data']">
                                <td>
                                    <input [ngModel]="item.selected" (change)="checkedItem(item,$event)"  type="checkbox">
                                </td>
                                <td class="loc-code nowrap">{{item.loc_code}}</td>
                                <td>{{item.loc_alternative_name}}</td>
                                <td>{{item.loc_type_name}}</td>
                                <td>{{item.loc_min_count}}</td>
                                <td>{{item.loc_max_count}}</td>
                                <td>{{item.loc_sts_code_name}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <p *ngIf="locationList?.data?.length==0&&!loading">No Results Found.</p>



                        <div class="pull-right margin-top">

                            <wms-pagination
                                    [perPage]="perPage"
                                    [paginData]="Pagination"
                                    (pageChange)="getLocation($event)"
                            ></wms-pagination>

                        </div>

                        

                        <div class="loading-overlay" *ngIf="loading"><img src="/assets/images/spinner.gif" alt=""></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="add()" type="submit" data-dismiss="modal" class="btn btn-primary pull-right">
                        <i class="icon-check"></i>Add
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>

