<div class="allowAccess">
<div class="top-layout clearfix">
  <h2>{{TitlePage}}</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <form  *ngIf="XFForm&&showForm&&xferDetail.length" class="form-horizontal form-style" [ngFormModel]="XFForm"
        (ngSubmit)="Action!=='View' && Save(XFForm.value)" novalidate>

    <div class="area-block clearfix">
      <div class="form-inline">
      <div class="form-group">
        <label class="pull-left margin-top5">XFER Ticket Number</label>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="xferDetail[0]['xfer_ticket_num']" class="form-control" tabindex="1" readonly>
        </div>
      </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active in"><a data-toggle="tab" href="#xfer">XFER</a></li>
      <li class="in"><a data-toggle="tab" href="#tabEventTracking" *ngIf="IsView">Event Tracking</a></li>
    </ul>

    <div class="tab-content area-block clearfix no-padding">

      <div class="clearfix tab-pane fade active in" id="xfer">
        <div class="table">
          <div class="filter table-list-head clearfix">
            <div class="form-inline">
              <label>Show:</label>
              <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="2">
                <option value="20" selected>20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
          <div class="table-style2">
            <table class="table editable table-bordered small-padding-table">
              <thead>
              <tr>
                <th>XFER Number</th>
                <th>XFER Detail ID</th>
                <th>Customer</th>
                <th>Item ID</th>
                <th>UPC</th>
                <th>SKU</th>
                <th>Lot</th>
                <th>Color</th>
                <th>Size</th>
                <th>From Location</th>
                <th>Actual (From Location)  <span *ngIf="!IsView&&!chkFromLoc" class="txt-required">(*)</span></th>
                <th>Requested Qty</th>
                <th>Available Qty</th>
                <th>Actual Picked  <span  *ngIf="!IsView" class="txt-required">(*)</span></th>
                <th>Putaway Qty</th>
                <th>To Location</th>
                <th>Actual (To Location) <span *ngIf="!IsView&&!chkToLoc" class="txt-required">(*)</span></th>
              </tr>
              </thead>
              <tbody ngControlGroup="xfer_tickets">
              <tr *ngFor="let item of xfer_tickets; let i=index" ngControlGroup="{{i}}">
                <td class="disabled nowrap">
                  {{xferDetail[i].xfer_hdr_num}}
                </td>
                <td class="disabled">
                  {{xferDetail[i].xfer_dtl_id}}
                </td>
                <td class="disabled nowrap">
                  {{xferDetail[i].cus_name}}
                </td>
                <td class="disabled">
                  {{xferDetail[i].item_id}}
                </td>
                <td class="disabled">{{xferDetail[i].cus_upc}}</td>
                <td class="disabled">{{xferDetail[i].sku}}</td>
                <td class="disabled">{{xferDetail[i].lot}}</td>
                <td class="disabled">{{xferDetail[i].color}}</td>
                <td class="disabled">{{xferDetail[i].size}}</td>
                <td>
                  <div class="checkbox">
                    <label class="text-nowrap">
                      <input  [disabled]="IsView"  (ngModelChange)="ckLoc(i,item,$event,'act_req_loc')" [(ngModel)]="item.req_loc.checked" type="checkbox" tabindex="3"> {{xferDetail[i].req_loc}}
                    </label>
                  </div>
                </td>
                <td  class="autocomplete-style width150">
                  <div class="form-group" [class.error-style]="(fromLoc.control.touched||submitForm )&&fromLoc.control.errors&&!item.req_loc.checked">
                    <input placeholder="Auto Complete"
                           maxlength="50"
                           #fromLoc="ngForm"
                           [disabled]="IsView||item.req_loc?.checked"
                           [ngModel]="XFForm.value['xfer_tickets'][i].act_req_loc"
                           (ngModelChange)="autoComplete($event,i,'act_req_loc','loc_code')"
                           ngControl="act_req_loc"
                           class="form-control dropdown-toggle"
                           type="text"
                           data-toggle="dropdown"/>
                    <span class="waiting"  *ngIf="fromLoc.control.showLoading"><img src="/assets/images/loading.gif"></span>
                    <ul class="dropdown-menu autocomplete" *ngIf="fromLoc.control.value">

                      <li (click)="selectedLocItem(i,'act_req_loc',item)"
                          *ngFor="let item of autoSearchData['act_req_loc']">
                        {{item.loc_code}}
                      </li>
                    </ul>
                    <p *ngIf="(fromLoc.control.touched||submitForm) && fromLoc.control.hasError('required')&&!item.req_loc.checked"
                       class="error">
                      Actual (From Location) is required.
                    </p>
                    <p *ngIf="fromLoc.control.touched&&fromLoc.control.hasError('invalid')&&!item.req_loc.checked"
                       class="error">
                      Actual (From Location) is not existed.
                    </p>
                    <p *ngIf="fromLoc.control.touched&&fromLoc.control.hasError('loc_status_is_locked')&&!item.req_loc.checked"
                       class="error">
                      Actual (From Location) is Locked.
                    </p>
                    <p *ngIf="fromLoc.control.touched&&fromLoc.control.hasError('loc_status_is_locked_cycle')&&!item.req_loc.checked"
                       class="error">
                      Actual (From Location) is Cycle Locked
                    </p>
                    <p *ngIf="
                    (fromLoc.control.touched&&fromLoc.control.hasError('duplicated')||
                    fromLoc.control.touched&&fromLoc.control.hasError('duplicated_from'))&&!item.req_loc.checked"
                       class="error">
                      Actual (From Location) is duplicated.
                    </p>
                  </div>
                </td>
                <td class="disabled">{{xferDetail[i].piece_qty}}</td>
                <td class="disabled width100">
                    <div class="form-group">
                      <input class="fake-input form-control" type="text" readonly ngControl="piece_remain">
                    </div>
                </td>
                <td class="width100">
                  <div class="form-group" [class.error-style]="(act_piece_qty.control.touched||submitForm )&&act_piece_qty.control.errors||act_piece_qty.control.hasError('invaildAqt')">
                    <input [disabled]="IsView" (change)="checkQunatityAqt(item)" (keypress)="checkInputNumber($event)" ngControl="act_piece_qty" maxlength="8" #act_piece_qty="ngForm"  type="text" class="form-control" tabindex="3">
                    <p *ngIf="(act_piece_qty.control.touched||submitForm) && act_piece_qty.control.hasError('required')"
                       class="error">
                      Actual Picked is required.
                    </p>
                    <p *ngIf="(act_piece_qty.control.touched||submitForm) && act_piece_qty.control.hasError('invalidNumber')"
                       class="error">
                      Actual Picked must be number.
                    </p>
                    <p *ngIf="(act_piece_qty.control.touched||showError)&&act_piece_qty.control.hasError('isZero')"
                       class="error">
                      Actual Picked must be greater than 0
                    </p>

                    <p *ngIf="act_piece_qty.control.hasError('invaildAqt')"
                       class="error">
                      Actual picked quantity must be less than or equal to Available qty!
                    </p>

                  </div>
                </td>
                <td class="disabled">{{xferDetail[i].putaway_qty}}</td>
                <td>
                  <div class="checkbox">
                    <label class="text-nowrap">
                      <input [disabled]="IsView" (ngModelChange)="ckLoc(i,item,$event,'act_mez_loc')" [(ngModel)]="item.mez_loc.checked" type="checkbox" tabindex="3"> {{xferDetail[i].mez_loc}}
                    </label>
                  </div>
                </td>
                <td class="autocomplete-style width150">
                  <div class="form-group" [class.error-style]="(ToLoc.control.touched||submitForm )&&ToLoc.control.errors&&!item.mez_loc.checked">
                    <input placeholder="Auto Complete"
                           maxlength="50"
                           #ToLoc="ngForm"
                           [disabled]="IsView||item.mez_loc.checked"
                           [ngModel]="XFForm.value.xfer_tickets[i].act_mez_loc"
                           (ngModelChange)="autoComplete($event,i,'act_mez_loc','loc_code')"
                           ngControl="act_mez_loc"
                           class="form-control dropdown-toggle"
                           type="text"
                           data-toggle="dropdown"/>
                    <span class="waiting"  *ngIf="ToLoc.control.showLoading"><img src="/assets/images/loading.gif"></span>

                    <ul class="dropdown-menu autocomplete" *ngIf="ToLoc.control.value">
                      <li (click)="selectedLocItem(i,'act_mez_loc',item)"
                          *ngFor="let item of autoSearchData['act_mez_loc']">
                        {{item.loc_code}}
                      </li>
                    </ul>
                    <p *ngIf="(ToLoc.control.touched||submitForm) && ToLoc.control.hasError('required')&&!item.mez_loc.checked"
                       class="error">
                      Actual (To Location) is required.
                    </p>
                    <p *ngIf="ToLoc.control.touched&&ToLoc.control.hasError('invalid')&&!item.mez_loc.checked"
                       class="error">
                      Actual (To Location) is not existed.
                    </p>
                    <p *ngIf="ToLoc.control.touched&&ToLoc.control.hasError('loc_status_is_locked')&&!item.mez_loc.checked"
                       class="error">
                      Actual (To Location) is Locked.
                    </p>
                    <p *ngIf="ToLoc.control.touched&&ToLoc.control.hasError('loc_status_is_locked_cycle')&&!item.mez_loc.checked"
                       class="error">
                      Actual (To Location) is Cycle Locked
                    </p>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="clearfix tab-pane fade" id="tabEventTracking" *ngIf="IsView">
        <div class="table-style1 table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="nowrap">Owner</th>
              <th>Transaction Number</th>
              <th>Event</th>
              <th>Desc</th>
              <th>Date/Time</th>
              <th>User</th>
              <th>Info</th>
            </tr>

            </thead>
            <tbody>
            <tr *ngFor="let item of evenTracking">
              <td>{{item.owner}}</td>
              <td>{{item.trans_num}}</td>
              <td>{{item.evt_code}}</td>
              <td>{{item.description}}</td>
              <td>{{item.created_at}}</td>
              <td>{{item.user}}</td>
              <td>{{item.info}}</td>
            </tr>
            </tbody>
          </table>



        </div>
      </div>
    </div>


    <div class="button pull-right" *ngIf="!IsView">
      <button type="button" (click)="redirectToList()"  class="btn btn-default" tabindex="9"><i class="icon-close"></i>Cancel
      </button>
      <button *ngIf="Action=='update'" type="submit" class="btn btn-primary" tabindex="8"><i class="icon-check"></i>Update
      </button>
    </div>

  </form>
  <goBack *ngIf="IsView"></goBack>
</div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
