<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>Order Reports</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block clearfix">
        <wms-messages [messages]="messages"></wms-messages>
        <form class="form-horizontal form-style">
            <div class="area-block clearfix">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Select User</label>
                        <select [(ngModel)]="userId" (ngModelChange)="getListActivity()" id="" class="form-control" style="width: 170px">
                            <option value="">All</option>
                            <option *ngFor="let user of userList" [value]="user.cus_id">{{user.cus_name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Status</label>
                        <select [(ngModel)]="status" (ngModelChange)="getListActivity()" id="" class="form-control" style="width: 170px">
                            <option value="">All</option>
                            <option *ngFor="let v of statusList" [value]="v.key">{{v.value}}</option>
                        </select>
                    </div>
                    <div class="radio-inline">
                        <label class="radio-inline">
                            <input (change)="changeTimeView(1)" checked type="radio" value="option1" name="time">
                            1 Day
                        </label>
                        <label class="radio-inline">
                            <input (change)="changeTimeView(7)" type="radio" value="option2" name="time"> 1 Week
                        </label>
                        <label class="radio-inline">
                            <input (change)="changeTimeView(30)" type="radio" value="option3" name="time"> 1 Month
                        </label>
                        <label class="radio-inline">
                            <input (change)="changeTimeView(90)" type="radio" value="option3" name="time"> 3 Months
                        </label>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <h4 class="h4-style">Order Report</h4>
                    <div class="area-block clearfix no-padding">
                        <div class="table-style4">
                            <ag-grid-ng2-extent
                                    (dataSelected)="ListSelectedItem=$event"
                                    [columnData]="columnData"
                                    [sortDefault]="sortData"
                                    (sortData)="sortData=$event;getListActivity(Pagination['current_page'])"
                                    [dataForRenderTable]="listActivity"
                                    [headerURL]="headerURL"></ag-grid-ng2-extent>
                            <figure class="footer-table clearfix">
                                <div class="pull-right">
                                    &lt;!&ndash;
                                   Directive WMSPagination
                                   Url : common/directives/directives
                                   &ndash;&gt;
                                    <wms-pagination
                                            [perPage]="perPage"
                                            [paginData]="Pagination"
                                            (pageChange)="getListActivity($event)"
                                    ></wms-pagination>
                                </div>
                            </figure>

                        </div>
                    </div>
                </div>
            </div>-->

          <div class="table">
            <div class="filter clearfix table-list-head">
              <div class="form-inline pull-left">
                <label>Show:</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                  <option value="20" selected>20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="table-style1">

              <ag-grid-ng2-extent
                (dataSelected)="ListSelectedItem=$event"
                [columnData]="columnData"
                [sortDefault]="sortData"
                (sortData)="sortData=$event;getListActivity(Pagination['current_page'])"
                [dataForRenderTable]="listActivity"
                [headerURL]="headerURL"></ag-grid-ng2-extent>
            </div>

            <div class="pull-right">
              <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="getListActivity($event)"
              ></wms-pagination>
            </div>
          </div>

        </form>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
