<div *ngIf="isVisible" class="modal fade show in invoice-management" id="clientInfo" role="dialog">
    <div class="modal-dialog modal-style-default modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        (click)="hideClientInfo()">&times;</button>
                <h4 class="modal-title">Customer Information</h4>
            </div>
            <div class="modal-body form-style" id="profileDialog">
                <ul class="nav nav-tabs">
                    <li tabindex="1" class="active in"><a data-toggle="tab" href="#tabInfo">Customer Information</a>
                    </li>
                    <li tabindex="1"><a data-toggle="tab" href="#tabAddresses">Ship To Address</a>
                    </li>
                    <li tabindex="1"><a data-toggle="tab" href="#tabContacts">Contacts Information</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="clearfix tab-pane fade active in" id="tabInfo">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Customer Code<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.cus_code" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Customer Type<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.cus_type" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Customer Name<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.cus_name" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bill Address Line 1<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.bill_to_add_line_1" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bill Address Line 2</label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.bill_to_add_line_2" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>City<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.bill_to_city" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>State<span class="txt-required"> (*)</span></label>
                                    <select class="fullCellWidth"
                                            [(ngModel)]="clientInfo.bill_to_state_id" class="form-control" tabindex="1">
                                        <option *ngFor="let state of states"
                                                value={{state.key}}>
                                            {{state.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Zip<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.bill_to_zip" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Country<span class="txt-required"> (*)</span></label>
                                    <select class="fullCellWidth"
                                            [(ngModel)]="clientInfo.bill_to_country_id" class="form-control" tabindex="1">
                                        <option *ngFor="let country of countries"
                                                value={{country.key}}>
                                            {{country.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>PYMNT-Term<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.net_terms" class="form-control" tabindex="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix tab-pane fade" id="tabAddresses">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ship Address Line 1<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.ship_to_add_line_1" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ship Address Line 2</label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.ship_to_add_line_2" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>City<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.ship_to_city" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>State<span class="txt-required"> (*)</span></label>
                                    <select class="fullCellWidth"
                                            [(ngModel)]="clientInfo.ship_to_state_id" class="form-control" tabindex="1">
                                        <option *ngFor="let state of states"
                                                value={{state.key}}>
                                            {{state.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Zip<span class="txt-required"> (*)</span></label>
                                    <input type="text" class="fullCellWidth"
                                           [(ngModel)]="clientInfo.ship_to_zip" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Country<span class="txt-required"> (*)</span></label>
                                    <select class="fullCellWidth"
                                            [(ngModel)]="clientInfo.ship_to_country_id" tabindex="1">
                                        <option *ngFor="let country of countries"
                                                value={{country.key}}>
                                            {{country.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix tab-pane fade" id="tabContacts">
                        <div class="table-list-head clearfix">
                            <div class="input-group pull-right">
                                <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                        class="btn btn-group dropdown-toggle"
                                        type="button"><i class="icon-settings"></i>Action <span
                                        class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a (click)="removeContacts()"><i class="icon-trash"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-primary pull-right"
                                    (click)="addContacts()">
                                <i class="icon-plus"></i>Add Contacts
                            </button>
                        </div>
                        <table-structure
                                [parentComponent]="tableComponent"
                                [searches]="searches"
                                [tableID]="tableID"
                                [headerURL]="headerURL"
                                [headerDef]="headerDef"
                                [pinCols]="pinCols"
                                [rowData]="rowData"
                                [Pagination]="Pagination"
                                [perPage]="perPage"
                                [messages]="messages">
                        </table-structure>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-right"
                        (click)="updateClientInfo()" tabindex="1">
                    <i class="icon-note"></i>Update
                </button>
                <button class="btn btn-outline blue pull-right" (click)="customerRates()" tabindex="1">
                    <i class="icon-note"></i>Edit Customer Rates
                </button>
            </div>
        </div>
    </div>
    
    <add-contact></add-contact>

    <confirm-popup
            (onConfirm)="onConfirm($event)">
    </confirm-popup>

    <alert-popup></alert-popup>

    <div class="loading-overlay" *ngIf="showLoadingOverlay">
        <img src="/assets/images/spinner.gif" alt="">
    </div>

</div>