<div class="row">
<div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Customer Name</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.cus_name}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Bill Address Line 1</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.bill_to_add_line_1}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Bill Address Line 2</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.bill_to_add_line_2}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.bill_to_city}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>State</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.bill_to_state}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Zip</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.bill_to_zip}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Country</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.bill_to_country}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tel</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.ctc_ph}}" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Attn</label>
                <input type="text" class="fullCellWidth" disabled
                       value="{{billTo.ctc_nm}}" class="form-control" tabindex="2">
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Customer Name<span class="txt-required"> (*)</span></label>
                <input type="text" class="fullCellWidth"
                       [(ngModel)]="billTo.cus_name" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Ship Address Line 1<span class="txt-required"> (*)</span></label>
                <input type="text" class="fullCellWidth"
                       [(ngModel)]="shipTo.ship_to_add_line_1" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Ship Address Line 2</label>
                <input type="text" class="fullCellWidth"
                       [(ngModel)]="shipTo.ship_to_add_line_2" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>City<span class="txt-required"> (*)</span></label>
                <input type="text" class="fullCellWidth"
                       [(ngModel)]="shipTo.ship_to_city" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>State<span class="txt-required"> (*)</span></label>
                <select class="fullCellWidth"
                        [(ngModel)]="shipTo.ship_to_state_id" class="form-control" tabindex="2">
                    <option *ngFor="let state of states"
                            value={{state.key}}>
                        {{state.value}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Zip<span class="txt-required"> (*)</span></label>
                <input type="text" class="fullCellWidth"
                       [(ngModel)]="shipTo.ship_to_zip" class="form-control" tabindex="2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Country<span class="txt-required"> (*)</span></label>
                <select class="fullCellWidth form-control"
                        [(ngModel)]="shipTo.ship_to_country_id" tabindex="2">
                    <option *ngFor="let country of countries"
                            value={{country.key}}>
                        {{country.value}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
             <div class="form-group">
                <button class="btn btn-primary pull-right margin-bottom"
                (click)="updateShippingInfo()" tabindex="3">
                  <i class="icon-note"></i>Update
                </button>
             </div>
        </div>
    </div>
</div>
</div>

<confirm-popup
        (onConfirm)="onConfirm($event)">
</confirm-popup>

<alert-popup></alert-popup>

<div class="loading-overlay" *ngIf="showLoadingOverlay">
    <img src="/assets/images/spinner.gif" alt="">
</div>
