<h3>Wave Pick
    <ul class="nav nav-tabs icon-chart-block" role="tablist">
        <li role="presentation" class="active">
            <a href="#wavepick-dashboard-list" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-list"></i>
            </a>
        </li>
        <li role="presentation">
            <a href="#wavepick-dashboard-chart" aria-controls="profile" role="tab" data-toggle="tab">
                <i class="fa fa-bar-chart"></i>
            </a>
        </li>
    </ul>
</h3>
<div class="dashboard-detail tab-content">
    <div role="tabpanel" class="tab-pane active" id="wavepick-dashboard-list">
        <div class="table-style-dashboard">
            <table class="table-dashboard table">
                <thead>
                <tr>
                    <th>Wave Pick #</th>
                    <th>Picked/Total</th>
                    <th>% (Picked)/Total</th>
                    <th>Picker</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let wp of wavePicks | paginate: {id :'wavePickDashboardPagin', itemsPerPage: 6, currentPage:pP }; let i = index">
                    <td>{{wp?.wv_num}}</td>
                    <td>{{wp?.picked | wmsNumberFormatter}}/{{wp?.total | wmsNumberFormatter}}</td>
                    <td>{{wp?.percent_picked | number : '1.2-2'}}%</td>
                    <td>{{wp?.picker}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right paging">
            <div class="showing pull-left clearfix">
                <pagination-controls
                        (pageChange)="pP = $event" id="wavePickDashboardPagin" autoHide="true">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="wavepick-dashboard-chart">
        <div class="row">
            <div class="col-md-12">
                <canvas id="wavepick-bar-chart"></canvas>
            </div>
        </div>
    </div>
</div>