<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>Transfer Pallet</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">
        <wms-messages [messages]="messages"></wms-messages>
        <div class="area-block clearfix">
            <form *ngIf="showForm" class="form-horizontal form-style" *ngIf="Form"
                  [ngFormModel]="Form" (ngSubmit)="transferPallet()" novalidate>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group" [class.error-style]="(txtLocation.control.touched||submitForm)&&txtLocation.control.errors">

                            <label>From <span class="txt-required">(*)</span></label>
                            <input type="hidden" ngControl="from_loc_id">
                            <input placeholder="Auto Complete"
                                   (mouseout)="checkExitsLocation('from_loc_code')"
                                   #txtLocation="ngForm"
                                   maxlength="50"
                                   [ngModel]="locationModel.from_loc_code"
                                   (ngModelChange)="autoSearchLocation('reloLoading','CurrentLocation','from_loc_code','from_loc_id',$event)"
                                   ngControl="from_loc_code"
                                   class="form-control dropdown-toggle"
                                   type="text"
                                   data-toggle="dropdown"/>

                            <ul class="dropdown-menu autocomplete" *ngIf="txtLocation.value">
                                <span class="icon-loading-search-complete" *ngIf="searching['reloLoading']"><img
                                        src="/assets/images/loading.gif"></span>
                                <li (click)="selectedItem('from_loc_code','from_loc_id',item)"
                                    *ngFor="let item of LocationAutoCompleteData['CurrentLocation']">{{item.rfid}}
                                </li>
                            </ul>
                            <p *ngIf="txtLocation.control.touched&&txtLocation.control.hasError('required')"
                               class="error">
                                Pallet ID is required.
                            </p>
                            <p *ngIf="txtLocation.control.touched&&txtLocation.control.hasError('not_existed')"
                               class="error">
                                Pallet ID is not existed or not active!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group" [class.error-style]="( txtnewLocation.control.touched  ||submitForm ) &&
                        ( txtnewLocation.control.errors || exitsLocation['to_loc_code']==false )">
                            <label class="">To <span class="txt-required">(*)</span>
                                <i class="icon-info txt-info" tooltipPlacement="left" tooltipTrigger="mouseenter"
                                   tooltip="A valid RFID: First 8 characters are F, Next 4 digits is Warehouse ID,
                               next 12 digits is unique. For example: FFFFFFFF0001010101010101">
                                </i>
                            </label>

                            <input placeholder=""
                                   maxlength="24"
                                   #txtnewLocation="ngForm"ngControl="to_loc_code"
                                   class="form-control dropdown-toggle"
                                   type="text"
                                   data-toggle="dropdown"/>
                            <p *ngIf="(txtnewLocation.control.touched
                ||submitForm)&&txtnewLocation.control.hasError('required')"
                               class="error">
                                Pallet ID is required.
                            </p>
                            <p *ngIf="txtnewLocation.control.touched&& (txtnewLocation.control.hasError('pattern') || txtnewLocation.control.hasError('invalidRFID'))"
                               class="error">
                                Pallet ID is invalid.
                            </p>
                        </div>
                    </div>
                    <button [disabled]="!Form.valid" type="submit" class="btn btn-primary margin-top22"><i class="icon-check"></i>Submit
                    </button>
                </div>
            </form>
        </div>
        <div class="table">
            <div *ngIf="listitemLocation.length" class="table-list-head">
                <div class="form-inline">
                    <label>Show:</label>
                    <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
            <div class="table-style1">
                <ag-grid-ng2-extent
                        [columnData]="columnData"
                        [showLoading]="showLoading"
                        (sortData)="sortData=$event;getListItemOfLocation(Pagination['current_page'])"
                        [dataForRenderTable]="listitemLocation"
                        [headerURL]="headerURL"></ag-grid-ng2-extent>
            </div>
            <div class="pull-right" *ngIf="Pagination">
                <!--
                    Directive WMSPagination
                    Url : common/directives/directives
                    -->
                <wms-pagination
                        [perPage]="perPage"
                        [paginData]="Pagination"
                        (pageChange)="getListItemOfLocation($event)"
                ></wms-pagination>
            </div>
        </div>
    </div><!-- / allow access -->
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>