<div class="top-layout clearfix">
    <h2>Invoice Processing</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>

<invoice-info></invoice-info>
<client-info></client-info>

<div class="layout-block invoice-management">
    <div class="search-form">
        <form class="clearfix form-inline" id="billable" method="post"
              target="_blank" action="">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group float-none">
                        <label>Customer </label>
                        <select id="customer-name" name="cus_id" class="form-control"
                                (change)="onCustomerChange($event.target.value)" tabindex="1">
                            <option value="">All</option>
                            <option *ngFor="let item of customers | orderBy:['value'];"
                                    value="{{item.key}}">{{item.value}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-feedback float-none">
                        <label>Period from</label>
                        <input type="text" class="invoice-date form-control" maxlength="10"
                               autocomplete="off" data-date-format='yyyy-mm-dd'
                               data-provide="datepicker"
                               (blur)="onDateBlur($event.target.value, 'fromDate')"
                               value="{{invoiceListSearches.fromDate}}" tabindex="2">
                        <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-feedback float-none">
                        <label>Period to</label>
                        <span id="toDate">
                        <input type="text" class="invoice-date form-control" maxlength="10"
                               autocomplete="off" data-date-format='yyyy-mm-dd'
                               data-provide="datepicker"
                               (blur)="onDateBlur($event.target.value, 'toDate')"
                               value="{{invoiceListSearches.toDate}}" tabindex="2">
                        <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group float-none">
                        <div id="invHolder" class="tableHolders"
                             [hidden]="invoiceDetails">
                            <label>Status</label>
                            <select id="statusID" name="statusID" class="invoicesSearch form-control"
                                    (change)="onStatusChange($event)" tabindex="2">
                                <option selected>Display All</option>
                                <option value="1">Open</option>
                                <option value="2">Invoiced</option>
                                <option value="3">Paid</option>
                                <option value="4">Cancelled</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <span [hidden]="! invoiceListSearches.cus_id">
                    <button id="profilesVendors" class="btn-cus no-margin-left"
                            (click)="editClientProfile()" tabindex="1">
                        <i class="icon-note"></i>Edit Customer Profile
                    </button>
                </span>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                         <span [hidden]="! invoiceListSearches.cus_id">
                    <div id="invCats">
                        <label class="checkbox-inline">
                        <input type="checkbox" id="recSelected"
                               name="receivingChecked" class="invoiceType"
                               (change)="onChargeTypeChange($event.target.checked, 'receiving')" tabindex="2">
                        View Receiving
                        </label>
                        <label class="checkbox-inline">
                        <input type="checkbox" id="storSelected"
                               name="storageChecked" class="invoiceType"
                               (change)="onChargeTypeChange($event.target.checked, 'storage')" tabindex="2">
                        View Storage
                        </label>
                        <label class="checkbox-inline">
                        <input type="checkbox" id="orderSelected"
                               name="processingChecked" class="invoiceType"
                               (change)="onChargeTypeChange($event.target.checked, 'processing')" tabindex="2">
                        Order Processing
                    </label>
                    </div>
                </span>
                    </div>
                </div>
            </div>
        </form>
        <form id="printStatement" method="POST" target="_blank"
              action="<?php echo makeLink('invoices', 'printStatement'); ?>">
            <div style="display: none;">
                <input id="printSatementVendorID" name="vendorID">
                <input id="printSatementFromDate" name="fromDate">
                <input id="printSatementToDate" name="toDate">
                <input id="printSatementTableData" name="tableData">
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div id="dtsHolder" class="tableHolders pull-left"
                 [hidden]="! invoiceDetails">
                <label class="checkbox-inline">
                    <input type="checkbox" id="selectAll"
                           (change)="selectProcessing($event.target.checked)" tabindex="3">
                    Select All
                </label>
                <div [hidden]="! chargeTypes.processing || ! areCanceledOrders">
                    <span class="red">*Canceled Orders are displayed as red</span>
                </div>
            </div>
            <div class="pull-right">
                    <span [hidden]="! isSummary">
                        <button class="btn btn-primary"
                                (click)="callInvoiceIssue()" tabindex="5">
                            <i class="icon-plus"></i>Prepare Invoice
                        </button>
                    </span>
                    <span [hidden]="isSummary">
                        <span class="red">
                            Invoice Summary table is not created for the date range selected
                        </span>
                    </span>
            </div>
            <div class="pull-right">
                <span [hidden]="! invoiceListSearches.cus_id">
                    <button class="btn btn-primary"
                       (click)="printStatementInvoice()" tabindex="4">
                      <i class="icon-printer"></i>Print Invoice Statement
                    </button>
                </span>

            </div>
        </div>
        <div class="table-style1">
            <invoice-list-customers
                    [hidden]="invoiceDetails">
            </invoice-list-customers>
            <invoice-list-details
                    [hidden]="! invoiceDetails">
            </invoice-list-details>
        </div>
    </div>

</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay">
    <img src="/assets/images/spinner.gif" alt="">
</div>

<alert-popup></alert-popup>