<div class="allowAccess">
    <div class="top-layout clearfix">
        <h2>{{TitlePage}}</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">
        <wms-messages [messages]="messages"></wms-messages>
        <form *ngIf="orderData" class="form-horizontal form-style">
            <div class="row">
                <div class="col-md-5">
                    <h4 class="h4-style">Order Info</h4>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Customer Name</label>
                                    <input tabindex="2" [(ngModel)]="orderData.cus_name" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Customer Order Number </label>
                                    <input tabindex="2" [(ngModel)]="orderData.cus_odr_num" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Ref Code </label>
                                    <input tabindex="2" [(ngModel)]="orderData.ref_cod" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">PO </label>
                                    <input tabindex="2" [(ngModel)]="orderData.cus_po" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Order Type</label>
                                            <input tabindex="2" [(ngModel)]="orderData.odr_type" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkbox margin-top15">
                                            <label>
                                                <input type="checkbox" [(ngModel)]="orderData.rush_odr" disabled> Rush Order
                                            </label>

                                            <label class="hidden">
                                                <input class="hidden" [(ngModel)]="orderData.partial" type="checkbox" disabled
                                                       tabindex="6"> Partial
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Total SKU's </label>
                                            <input tabindex="2" [(ngModel)]="orderData.totalSku" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Status </label>
                                            <input tabindex="2" [(ngModel)]="orderData.odr_sts" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Order Number </label>
                                    <input tabindex="2" [(ngModel)]="orderData.odr_num" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-12 margin-top15"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h4 class="h4-style">Shipping Info</h4>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Carrier</label>
                                    <input type="text" [(ngModel)]="orderData.carrier" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Shipping To</label>
                                    <input type="text" [(ngModel)]="orderData.ship_to_name" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Address </label>
                                    <input type="text" [(ngModel)]="orderData.ship_to_add_1" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">City/District </label>
                                    <input type="text" [(ngModel)]="orderData.ship_to_city" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Country </label>
                                    <input type="text" [(ngModel)]="orderData.ship_to_country_name" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">State/Province</label>
                                    <input type="text" [(ngModel)]="orderData.ship_to_state_name" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Zip Code </label>
                                    <input type="text" [(ngModel)]="orderData.ship_to_zip" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Ship By Date</label>
                                    <input type="text" [(ngModel)]="orderData.ship_by_dt" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Cancel By Date</label>
                                    <input type="text" [(ngModel)]="orderData.cancel_by_dt" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Requested Complete Date </label>
                                    <input type="text" [(ngModel)]="orderData.req_cmpl_dt" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Actual Complete Date </label>
                                    <input type="text" [(ngModel)]="orderData.act_cmpl_dt" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Actual Canceled Date </label>
                                    <input type="text" [(ngModel)]="orderData.act_cancel_dt" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabASN">Items</a></li>
            </ul>
            <div class="table-style1 table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>UPC/EAN</th>
                        <th>SKU</th>
                        <th>Description</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Batch</th>
                        <th>UOM</th>
                        <th>CTNS</th>
                        <th>Pack Size</th>
                        <th title="Requested Piece quantity">Requested QTY</th>
                        <th title="Allocated Piece quantity">Allocated QTY</th>
                        <th title="Current Available QTY">Current Available QTY</th>
                        <th title="Reverted Avaiable QTY">Reverted Avaiable QTY</th>
                        <th class="hidden">Back Order</th>
                        <th *ngIf="orderData.odr_type_key=='EC'|| orderData.origin_odr_type=='EC'">Shipping Tracking ID </th>
                    </tr>
                    <tr class="disabled" *ngFor="let item of orderData.items">
                        <td class="nowrap disabled">{{item.itm_id}}</td>
                        <td class="nowrap disabled">{{item.cus_upc}}</td>
                        <td class="nowrap disabled">{{item.sku}}</td>
                        <td class="disabled">{{item.des}}</td>
                        <td class="disabled">{{item.size}}</td>
                        <td class="disabled">{{item.color}}</td>
                        <td class="disabled">{{item.lot}}</td>
                        <td class="disabled">{{item.uom_name}}</td>
                        <td class="disabled">{{item.qty}}</td>
                        <td class="disabled">{{item.pack}}</td>
                        <td class="disabled">{{item.piece_qty}}</td>
                        <td class="disabled">{{item.allocated_qty}}</td>
                        <td class="disabled">{{item.avail ? item.avail : 0}}</td>
                        <td class="disabled">{{item.allocated_qty + item.avail}}</td>
                        <td class="disabled hidden"><input type="checkbox" [(ngModel)]="item.back_odr" disabled></td>
                        <td *ngIf="orderData.odr_type_key=='EC' || orderData.origin_odr_type=='EC'" class="disabled">{{item.ship_track_id}}</td>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="area-block clearfix">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Internal Comments</label>
                            <textarea rows="2"  [(ngModel)]="orderData.in_notes" class="form-control" disabled></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>External Comments</label>
                            <textarea rows="2"  [(ngModel)]="orderData.cus_notes" class="form-control" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="allocateOrder" class="button pull-right margin-top">
                <button  type="button" (click)="Revert()" class="btn btn-primary pull-right margin-left">Revert</button>
                <button type="button" (click)="redirectToList()" class="btn btn-default pull-right">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
