<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>{{TitlePage}}</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block creatWorkOrder">
        <wms-messages [messages]="messages"></wms-messages>
        <form *ngIf="WODForm" class="form-horizontal form-style" [ngFormModel]="WODForm"
              (ngSubmit)="Action!=='View' && Save(WODForm.value)" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="h4-style">Work Order</h4>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group"
                                     [class.error-style]="(Cus.control.touched||submitForm)&&Cus.control.errors">
                                    <label class="">Customer Name <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                    <select tabindex="1" (change)="changeCustomer($event)"
                                            [disabled]="IsView||Action!=='new'"
                                            class="form-control" ngControl="cus_id" #Cus="ngForm" required>
                                        <option value="">Select one value</option>
                                        <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="(Cus.control.touched||submitForm)&&Cus.control.errors"
                                       class="error">
                                        Customer Name is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label class="checkbox-inline">
                                            <input tabindex="2" type="checkbox" [disabled]="!Cus.control.value||Action!=='new'"
                                                   (change)="byOrder($event)" [(ngModel)]="_byOrder"> By
                                            Order
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="radio">
                                            <input tabindex="2" name="by" [checked]="_wordOrderby=='chargecode'" type="radio"
                                                   [disabled]="!Cus.control.value||Action!=='new'"
                                                   (change)="wordOrderby($event,'chargecode',0)"> By SKU
                                        </label>
                                        <label class="radio">
                                            <input tabindex="2" name="by" [checked]="_wordOrderby=='sku'" type="radio"
                                                   [disabled]="!Cus.control.value||Action!=='new'"
                                                   (change)="wordOrderby($event,'sku',1)"> By Charge Code
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 auto-style">

                                <div class="form-group"
                                     [class.error-style]="(ODR_num.control.touched||submitForm)&&ODR_num.control.errors">
                                    <label class="">Order Number <span *ngIf="!IsView&&_byOrder" class="txt-required">(*)</span>
                                        <img *ngIf="loading['loadchargecode']||WODForm.controls['odr_num']?.showLoading" src="/assets/images/loading.gif"></label>


                                    <input [disabled]="Action!=='new'||!Cus.control.value||!_byOrder"
                                           tabindex="2"
                                           #ODR_num="ngForm"
                                           maxlength="63"
                                           (blur)="showKeyNotExit()"
                                           [ngModel]="WODForm.controls['odr_num'].value"
                                           placeholder="Autocomplete..."
                                           (ngModelChange)="autoComplete($event,'odr_num')"
                                           ngControl="odr_num" class="form-control dropdown-toggle"
                                           type="text" data-toggle="dropdown"/>


                                    <div tabindex="-1" class="dropdown-menu list-group"
                                         *ngIf="ODR_num.value">
                                        <a tabindex="-1" class="list-group-item"
                                           (click)="selectedItem(itemId,true)"
                                           *ngFor="let itemId of autoSearchData">{{itemId.odr_num}}</a>
                                    </div>

                                    <p *ngIf="(ODR_num.control.touched||submitForm)&&(ODR_num.control.hasError('required')||ODR_num.control.hasError('invalidSpace'))"
                                       class="error">
                                        Order Number is required.
                                    </p>

                                    <p *ngIf="ODR_num.control.hasError('invaildValue')"
                                       class="error">
                                        Order number not existed.
                                    </p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Work Order Number</label>
                                    <input tabindex="3" ngControl="wo_hdr_num" type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Work Order Status</label>
                                    <select tabindex="4" ngControl="wo_sts" class="form-control" [disabled]="IsView || Action==='new' || isFinalWO || isProcessingWO">
                                        <option value="New">New</option>
                                        <option value="Processing">Processing</option>
                                        <option value="Final" *ngIf="isFinalWO">Final</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="h4-style">Order Info</h4>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Order Status</label>
                                    <input tabindex="5" value="{{order_info?.odr_sts}}" readonly class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Order Type</label>
                                    <input tabindex="6" value="{{order_info?.odr_type}}" readonly class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group margin-top23">
                                    <label class="checkbox-inline">
                                        <input tabindex="7" [(ngModel)]="order_info.rush_odr" disabled type="checkbox">
                                        Rush Order
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Ref </label>
                                    <input tabindex="8" class="form-control" [(ngModel)]="order_info.ref_code" maxlength="64"
                                           type="text" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CSR</label>
                                    <input tabindex="9" value="{{order_info?.csr}}" type="text" readonly class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li *ngIf="_wordOrderby=='chargecode'" (click)="showDocTab=false" class="active in"><a data-toggle="tab" href="#tabitem">Charge
                    Code</a></li>
                <li *ngIf="_wordOrderby=='sku'" (click)="showDocTab=false" class="active in"><a data-toggle="tab" href="#skuTab">Items</a></li>
                <!--<li *ngIf="IsView" (click)="showDocTab=true;showLable=false"><a data-toggle="tab" href="#tabDocument">Documents</a></li>-->
                <li *ngIf="IsView" (click)="showLable=true;showDocTab=false"><a data-toggle="tab" href="#labelCost">Labor Cost</a></li>
            </ul>

            <div class="filter clearfix table-list-head" *ngIf="!IsView&&!isFinalWO">
                <div class="pull-right">
                    <div class="input-group pull-right">
                        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                class="btn btn-group dropdown-toggle"
                                type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li *ngIf="Cus.control.value"><a (click)="delete()"><i class="icon-trash"></i>Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="table-style3 table-responsive">
              <div class="tab-content row">
                  <div class="clearfix tab-pane col-md-6" [class.active]="_wordOrderby=='chargecode'" id="tabitem">
                    <table [hidden]="_wordOrderby!=='chargecode'" class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="column-checkbox"><input type="checkbox" [(ngModel)]="selectedAllChargeCode"
                                                               (change)="setSelectedAll(chargecodesArray,$event)"
                                                               [disabled]="IsView||!WODForm.value['cus_id']||isFinalWO"></th>
                            <th class="col-md-3">Charge Code</th>
                            <th>Description</th>
                            <th class="col-md-2">WO Qty</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="4" class="table-style3 no-padding">
                                <table *ngFor="let chargecodes of chargecodesArray; let i=index"
                                       class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="column-checkbox">
                                            <input [disabled]="IsView||!WODForm.value['cus_id']||isFinalWO"
                                                   (change)="Selected(chargecodesArray,i,$event)"
                                                   [ngModel]="chargecodes.selected" type="checkbox"></td>
                                        <td colspan="5">
                                            <div class="form-group"
                                                 [class.error-style]="chargecodes['duplicated']">
                                                <select tabindex="11" [disabled]="IsView||!listSkus.length||isFinalWO"
                                                        (ngModelChange)="changeSKU($event,i)"
                                                        [(ngModel)]="chargecodes.item_id" class="form-control" required>
                                                    <option value="">Select Item</option>
                                                    <option *ngFor="let item of listSkus" [value]="item.item_id">
                                                        {{item.sku}} - {{item.size}} - {{item.color}}<span *ngIf="_byOrder && _wordOrderby=='chargecode'"> (ordered QTY: {{item.qty}})</span>
                                                    </option>
                                                </select>
                                                <p *ngIf="chargecodes['duplicated']"
                                                   class="error">
                                                    Item is duplicated.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let charg of chargecodes['chargecodes'];let ckIndex=index">
                                        <td></td>
                                        <td class="disabled nowrap col-md-3">{{charg.chg_code}}</td>
                                        <td class="disabled">{{charg.chg_code_des}}</td>
                                        <td class="col-md-2">
                                            <div class="form-group"
                                                 [class.error-style]="charg['invaild_qty'] || charg['zero_qty']">
                                                <input type="text" [disabled]="IsView||isFinalWO" maxlength="8"
                                                       (keypress)="checkInputNumber($event)" [(ngModel)]="charg.wo_qty"
                                                       (ngModelChange)="changeWOQtyChargeCode($event,charg,i)"
                                                       class="form-control">
                                                <p *ngIf="charg['invaild_qty']" class="error">
                                                    WO QTY must be less than or equal to ordered QTY.
                                                </p>
                                                <p *ngIf="charg['zero_qty']" class="error">
                                                    WO QTY must be greater than 0.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="add-more" *ngIf="!IsView&&!isFinalWO">
                                <i (click)="addRowChargcode()" class="icon-plus"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="clearfix tab-pane col-md-6" [class.active]="_wordOrderby=='sku'" id="skuTab">
                    <table [hidden]="_wordOrderby=='chargecode'" class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th class="column-checkbox"><input type="checkbox" [(ngModel)]="selectedAllItems"
                                                               (change)="setSelectedAll(skusArray,$event)"
                                                               [disabled]="IsView||!WODForm.value['cus_id']||isFinalWO"></th>
                            <th class="col-md-3">SKU</th>
                            <th class="col-md-2">Size</th>
                            <th class="col-md-2">Color</th>
                            <th title="Number of WO to charge with charge Rate"># of WO</th>
                            <!--<th class="col-md-2"><span *ngIf="_byOrder">Allocated Qty</span><span *ngIf="!_byOrder">Avai Qty</span></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="6" class="table-style3 no-padding">
                                <table *ngFor="let skus of skusArray; let i=index" class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="column-checkbox">
                                            <input
                                                    (change)="Selected(skusArray,i,$event)"
                                                    [disabled]="IsView||!WODForm.value['cus_id']||isFinalWO"
                                                    [ngModel]="skus.selected" type="checkbox">

                                        </td>
                                        <td colspan="5">
                                            <div class="form-group"
                                                 [class.error-style]="skus['duplicated']">
                                                <select tabindex="10"
                                                        (ngModelChange)="changeChargcode($event,i)"
                                                        [(ngModel)]="skus.chg_code_id" class="form-control"
                                                        [disabled]="IsView||_byOrder&&!WODForm.value['odr_num']||isFinalWO"
                                                        required>
                                                    <option value="">Select Charge Code</option>
                                                    <option *ngFor="let item of listChargCode"
                                                            [value]="item.chg_code_id">{{item.chg_code}}:
                                                        {{item.chg_code_des}}
                                                    </option>
                                                </select>
                                                <p *ngIf="skus['duplicated']"
                                                   class="error">
                                                    Charge Code is duplicated.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let  sku of skus['skus'];let ik=index">
                                        <td></td>
                                        <td class="disabled nowrap col-md-3">{{sku.sku}}</td>
                                        <td class="disabled col-md-2">{{sku.size}}</td>
                                        <td class="disabled col-md-2">{{sku.color}}</td>
                                        <td>
                                            <div class="form-group"
                                                 [class.error-style]="sku['invaild_qty'] || sku['zero_qty']">
                                                <input tabindex="10" type="text" [disabled]="IsView||isFinalWO" maxlength="8"
                                                       [(ngModel)]="sku.wo_qty" (keypress)="checkInputNumber($event)"
                                                       (ngModelChange)="changeWOQtySku($event,sku)"
                                                       class="form-control">
                                                <p *ngIf="sku['invaild_qty']" class="error">
                                                    WO QTY must be less than or equal to ordered QTY.
                                                </p>
                                                <p *ngIf="sku['zero_qty']" class="error">
                                                    WO QTY must be greater than 0.
                                                </p>
                                            </div>
                                        </td>
                                        <td class="disabled col-md-2">{{sku.qty}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="add-more" *ngIf="!IsView&&!isFinalWO">
                                <i (click)="addNewSku()" class="icon-plus" tabindex="11"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                  </div>
                  <!--<div class="clearfix tab-pane col-md-12" id="tabDocument">
                    &lt;!&ndash; <documents-upload [doc_type]="'WOR'" [trans]="workOrderDetail?.wo_hdr_num"
                                      [attTitle1]="'Customer'"
                                      [attValue1]="workOrderDetail?.cus_name"
                                      [attTitle2]="'Order Num'"
                                      [attValue2]="workOrderDetail?.odr_num"
                    ></documents-upload> &ndash;&gt;
                    <dms-in [doc_type]="'WOR'" [group]="'WOR'" [trans]="workOrderDetail?.wo_hdr_num"></dms-in>
                  </div>-->

                  <div class="clearfix tab-pane col-md-6" id="labelCost">
                      <labor-cost-directive
                      [category]="'wo'"
                      [cus_id]="workOrderDetail?.cus_id"
                      [value]="workOrderDetail?.wo_hdr_id"
                      (laborMessages)="messages=$event"
                      ></labor-cost-directive>
                  </div>

              </div>
            </div>
            <div class="area-block clearfix">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Internal Comments </label>
            <textarea tabindex="12" ngControl="wo_in_notes" [disabled]="IsView" class="form-control ng-untouched ng-pristine ng-valid"
                      maxlength="255" ngcontrol="in_notes"
                      rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>External Comments</label>
            <textarea tabindex="13" ngControl="wo_ex_notes" [disabled]="IsView" class="form-control ng-untouched ng-pristine ng-valid"
                      maxlength="255" ngcontrol="cus_note"
                      rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button pull-right">
                <button type="button" *ngIf="IsView" (click)="print()" class="btn btn-default" tabindex="15"><i
                        class="icon-printer"></i>Print
                </button>
                <button type="button" *ngIf="!IsView" (click)="redirectToList()" class="btn btn-default" tabindex="15"><i
                        class="icon-close"></i>Cancel
                </button>
                <button type="button" *ngIf="!isFinalWO || Action === 'new'" (click)="final()" class="btn btn-default" tabindex="15">
                    Final
                </button>
                <button type="submit" [disabled]="showLoadingOverlay" *ngIf="Action=='edit'" class="btn btn-primary" tabindex="14"><i
                        class="icon-check"></i>Update
                </button>
                <button type="submit" [disabled]="showLoadingOverlay" *ngIf="Action=='new'" class="btn btn-primary" tabindex="14"><i
                        class="icon-check"></i>Save
                </button>
            </div>

        </form>
        <!--<goBack *ngIf="IsView"></goBack>-->
      <a *ngIf="IsView" class="btn btn-outline red no-margin-left pull-left" href="#/outbound/work-order"><i class="icon-action-undo "></i>Back</a>
    </div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

