<div *ngIf="canAccess">
    <div class="top-layout clearfix">
        <h2>Carton Report</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block clearfix">
        <wms-messages *ngIf="messages" [messages]="messages"></wms-messages>
        <div class="search-form ten-column">
            <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search()">
                <div class="form-group">
                    <label>Customers</label>
                    <select ngControl="cus_id" class="form-control" tabindex="1">
                        <option value="">All</option>
                        <option *ngFor="let customer of customers" [value]="customer.cus_id">{{customer.cus_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Carrier Num</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['CTNRNums']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                               tabindex="2"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadCTNRNums($event)"
                               ngControl="ctnr_num" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['ctnr_num'] && ctnrNums.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectCTNRNum($event, ctnrNum)"
                               *ngFor="let ctnrNum of ctnrNums">
                                {{ctnrNum.ctnr_num}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Carton Num</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['CartonNums']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                               tabindex="2"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadCartonNums($event)"
                               ngControl="ctn_num" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['ctn_num'] && cartonNums.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectCartonNum($event, cartonNum)"
                               *ngFor="let cartonNum of cartonNums">
                                {{cartonNum.ctn_num}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Carton RFID</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['RFIDs']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                               tabindex="2"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadRFIDs($event)"
                               ngControl="rfid" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['rfid'] && rfids.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectRFID($event, rfid)"
                               *ngFor="let rfid of rfids">
                                {{rfid.rfid}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Pallet RFID</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['PalletRFIDs']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                               tabindex="2"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadPalletRFIDs($event)"
                               ngControl="plt_rfid" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['plt_rfid'] && plt_rfids.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectPalletRFID($event, plt_rfid)"
                               *ngFor="let plt_rfid of plt_rfids">
                                {{plt_rfid.rfid}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label>Created At From</label>
                    <input type="text" class="form-control" data-provide="datepicker" data-date-today-highlight="1"  id="created_at_from">
                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback">
                    <label>Created At To</label>
                    <input type="text" class="form-control" data-provide="datepicker" data-date-today-highlight="1" id="created_at_to">
                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['Locs']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                               tabindex="2"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadLocs($event)"
                               ngControl="loc_code" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['loc_code'] && locs.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectLoc($event, loc)"
                               *ngFor="let loc of locs">
                                {{loc.loc_code}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Location Type</label>
                    <select ngControl="loc_type_code" class="form-control" tabindex="1">
                        <option value="">All</option>
                        <option *ngFor="let item of locationType" [value]="item.loc_type_code">{{item.loc_type_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Carton Status</label>
                    <select class="form-control" tabindex="1" ngControl="ctn_sts">
                        <option value="">All</option>
                        <option *ngFor="let item of cartonStatus" [value]="item.status">{{item.ctn_sts_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>UPC</label>
                    <input type="text" ngControl="upc" class="form-control">
                </div>
                <div class="form-group">
                    <label>Level</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['level']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input type="text" maxlength="50" tabindex="2" placeholder="Autocomplete..."
                            (ngModelChange)="loadLevels($event)" ngControl="level"
                            class="form-control dropdown-toggle" data-toggle="dropdown" />
                        <div tabindex="-1" class="dropdown-menu list-group"
                            *ngIf="searchForm.value['level'] && levels.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectLevel($event, item)"
                                *ngFor="let item of levels">
                                {{item.level}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Row</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['row']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input type="text" maxlength="50" tabindex="2" placeholder="Autocomplete..."
                            (ngModelChange)="loadRows($event)" ngControl="row"
                            class="form-control dropdown-toggle" data-toggle="dropdown" />
                        <div tabindex="-1" class="dropdown-menu list-group"
                            *ngIf="searchForm.value['row'] && rows.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectRow($event, item)"
                                *ngFor="let item of rows">
                                {{item.row}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Aisle</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['aisle']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input type="text" maxlength="50" tabindex="2" placeholder="Autocomplete..."
                            (ngModelChange)="loadAisles($event)" ngControl="aisle"
                            class="form-control dropdown-toggle" data-toggle="dropdown" />
                        <div tabindex="-1" class="dropdown-menu list-group"
                            *ngIf="searchForm.value['aisle'] && aisles.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectAisle($event, item)"
                                *ngFor="let item of aisles">
                                {{item.aisle}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>SKU</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoading['SKUs']">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input maxlength="50"
                               tabindex="5"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadSKUs($event)"
                               ngControl="sku" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['sku'] && SKUs.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectSKU($event, sku)"
                               *ngFor="let sku of SKUs">
                                {{sku.sku}} - {{sku.size}} - {{sku.color}} - {{sku.lot}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <input type="text" class="form-control" [(ngModel)]="currentSKU.size" readonly>
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input type="text" class="form-control" [(ngModel)]="currentSKU.color" readonly>
                </div>
                <div class="form-group">
                    <label>Lot</label>
                    <input type="text" class="form-control" [(ngModel)]="currentSKU.lot" readonly>
                </div>
                <div class="btn-toolbar pull-left margin-top23">
                    <button tabindex="7" type="button" class="btn btn-outline gray" (click)="reset()">
                        <i class="icon-close"></i>
                        Reset
                    </button>
                    <button type="submit" class="btn btn-outline blue" tabindex="6">
                        <i class="icon-magnifier"></i>
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div class="table">
            <div class="filter clearfix table-list-head">
                <div class="form-inline pull-left">
                    <label>Show:</label>
                    <select (change)="changePageSize($event)" class="form-control" tabindex="5">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
            <div class="table-style1">
                <ag-grid-ng2-extent
                        [columnData]="columnData"
                        [sortDefault]="sortData"
                        (sortData)="sortData=$event;getCartonReports(pagination['current_page'])"
                        [dataForRenderTable]="cartonReports"
                        [headerURL]="headerURL">
                </ag-grid-ng2-extent>
            </div>
            <div class="pull-right">
                <wms-pagination
                        [perPage]="perPage"
                        [paginData]="pagination"
                        (pageChange)="getCartonReports($event)">
                </wms-pagination>
            </div>
            <progress-exporter [fileName]="fileName" (bindMessages)="messages=$event" [exportAPIUrl]="exportAPIUrl" [total]="totalRec" [limitRow]="limitRow" *ngIf="statusExport"></progress-exporter>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

