<div class="top-layout clearfix">
  <h2>Container Plug</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<wms-messages [messages]="messages"></wms-messages>
<div class="layout-block container-plug">
    <div class="list-track">
        <div class="aisle-detail">
            <ul *ngFor="let line of bayList">
              <li *ngFor="let bay of line"
                  (click)="showBayDetail(bay)">
                <div class="code" [style.backgroundColor]="bay.bay_sts=='A'?'#2a863f':'#D91E18'">{{bay.bay_name}}</div>
                <div class="detail-number" [class.invisible]="bay.bay_sts=='A'">
                    <p>Container: {{bay.container?.ctnr_num}}</p>
                    <p>Customer: {{bay.container?.cus_name}}</p>
                    <p>Start: {{bay.container?.start}}</p>
                    <p>End: {{bay.container?.end}}</p>
                    <p>Duration (min): {{bay.container?.duration}}</p>
                    <p>Temp (C): {{bay.container?.temp}}</p>
                    <p>Status: {{bay.bay_sts_name}}</p>
                </div>
              </li>
            </ul>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<div id="bay-detail" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-style-default modal-wh">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{popupTitle}}</h4>
            </div>
            <div class="modal-body form-style">
              <form class="form-horizontal form-style" [ngFormModel]="form" (ngSubmit)="onSubmit()">
                  <div class="area-block clearfix">
                      <div class="row">
                          <div class="form-group" [class.error-style]="showError && form.controls['ctnr_id'].errors">
                              <label>Container <span class="txt-required">(*)</span></label>
                              <select class="form-control" tabindex="3" ngControl="ctnr_id">
                                  <option value="">Select Container</option>
                                  <option *ngFor="let con of listContainer" [value]="con.ctnr_id">{{con.ctnr_num}}</option>
                              </select>
                              <p *ngIf="showError && form.controls['ctnr_id'].hasError('required')" class="error">
                                  Container is required.
                              </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group" [class.error-style]="showError && form.controls['cus_id'].errors">
                              <label>Customer <span class="txt-required">(*)</span></label>
                              <select class="form-control" tabindex="3" ngControl="cus_id">
                                  <option value="">Select Customer</option>
                                  <option *ngFor="let cus of listCustomer" [value]="cus.cus_id">{{cus.cus_name}}</option>
                              </select>
                              <p *ngIf="showError && form.controls['cus_id'].hasError('required')" class="error">
                                  Customer is required.
                              </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group" [class.error-style]="showError && form.controls['start'].errors">
                              <label>Start <span class="txt-required">(*)</span></label>
                              <div class='input-group date' id='datetimepicker1'>
                                  <input type='text' class="form-control"/>
                                  <span class="input-group-addon">
                                      <span class="icon-calendar"></span>
                                  </span>
                              </div>
                              <input type="hidden" ngControl="start">
                              <p *ngIf="showError && form.controls['start'].hasError('required')" class="error">
                                  Start is required.
                              </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group" [class.error-style]="showError && form.controls['end'].errors">
                              <label>End <span class="txt-required" *ngIf="bayAction=='update'">(*)</span></label>
                              <div class='input-group date' id='datetimepicker2'>
                                  <input type='text' class="form-control" />
                                  <span class="input-group-addon">
                                      <span class="icon-calendar"></span>
                                  </span>
                              </div>
                              <input type="hidden" ngControl="end">
                              <p *ngIf="showError && form.controls['end'].hasError('required')" class="error">
                                  End is required.
                              </p>
                              <p *ngIf="showError && form.controls['end'].hasError('invalid')" class="error">
                                  End date must greater than start date.
                              </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group">
                              <label>Duration (min)</label>
                              <input type="text" class="form-control" maxlength="100" tabindex="1" ngControl="duration" readonly>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group">
                              <label>Temp (C)</label>
                              <input type="number" class="form-control" maxlength="100" tabindex="1" ngControl="temp">
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group">
                              <label>Status</label>
                              <select class="form-control" tabindex="3" ngControl="cc_sts">
                                  <option value="O">Open</option>
                                  <option value="C">Close</option>
                              </select>
                          </div>
                      </div>
                  </div>
                <div class="button pull-right">
                    <button class="btn btn-primary" tabindex="15" type="submit"><i class="icon-check"></i>Submit
                    </button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
