<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>Pack Carton</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <wms-messages [messages]="messages"></wms-messages>
    <div class="layout-block clearfix" *ngIf="cartonData">
        <form class="form-horizontal form-style" novalidate [ngFormModel]="packCartonForm">
            <div class="area-block clearfix">
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="action != 'view'" class="form-group" [class.error-style]="(pack_ref_id.control.touched||showError)&&pack_ref_id.control.hasError('required')">
                            <label class="">Carton Dimension Type <span class="txt-required">(*)</span></label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="button" class="btn btn-add-more" data-toggle="modal" data-target="#add-carton-demension"><i class="icon-plus" id='event_add_{{i}}'></i></div>
                                </div>
                                <select tabindex="1" class="form-control" ngControl="pack_ref_id" #pack_ref_id='ngForm' required>
                                    <option value="">Please select Dimension Type</option>
                                    <option *ngFor="let item of packDimension" value="{{item.pack_ref_id}}">{{item.dimension}} {{item.pack_type}}</option>
                                </select>
                                <p *ngIf="(pack_ref_id.control.touched||showError)&&pack_ref_id.control.hasError('required')" class="error">
                                    Carton Dimension is required.
                                </p>
                            </div>
                        </div>
                        <div *ngIf="action == 'view'" class="form-group">
                            <label class="">Carton Dimension Type</label>
                            <input tabindex="3" type="text" class="form-control" readonly value="{{cartonData.dimension}}">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="">Total SKU </label>
                            <input tabindex="3" type="text"
                                class="form-control" readonly value="{{cartonData.sku_ttl}}">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label title="Packed Piece quantity">Packed QTY</label>
                            <input tabindex="4" type="text"
                                class="form-control" readonly value="{{cartonData.piece_ttl}}">
                        </div>
                    </div>
                    <div class="col-md-1" *ngIf="action != 'view'">
                        <div class="checkbox margin-top22">
                            <label>
                                <input type="checkbox" tabindex="5" ngControl="is_new_sku" [disabled]="action == 'view' || disableNewSKU" (change)="toggleIsNewSKU()"> Is New SKU
                            </label>
                        </div>
                    </div>        
                    <div class="col-md-1" *ngIf="action != 'view'">
                        <div class="form-group" [class.error-style]="(showError)&&newSku.control.hasError('required')">
                            <label class="">New SKU <span *ngIf="!disableNewSKU" class="txt-required">(*)</span></label>
                            <input tabindex="5" type="text" ngControl="new_sku" #newSku="ngForm" (input)="checkValidNewSku($event.target.value)"
                                class="form-control" [disabled]="disableNewSKU">
                            <p *ngIf="(showError)&&newSku.control.hasError('required')" class="error">
                                New SKU is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1" *ngIf="action != 'view'">
                        <div class="form-group"
                            [class.error-style]="(Weight.control.touched||showError)&&Weight.control.errors">
                            <label>Gross Weight </label>
                            <input tabindex="12" type="text" [disabled]="disableNewSKU"
                                (keypress)="checkInputNumber($event, true)" (input)="compareValue()"
                                maxlength="11" class="form-control" #Weight="ngForm" ngControl="weight">
                        </div>
                    </div>
                    <div class="col-md-1" *ngIf="action != 'view'">
                        <div class="form-group"
                            [class.error-style]="(net_weight.control.touched||showError)&&net_weight.control.errors">
                            <label>Net Weight </label>
                            <input tabindex="13" type="text" [disabled]="disableNewSKU"
                                (keypress)="checkInputNumber($event, true)" (input)="compareValue()"
                                maxlength="11" class="form-control" #net_weight="ngForm" ngControl="net_weight" value="{{cartonData.net_weight}}">
                            <p *ngIf="(net_weight.control.touched||showError)&&net_weight.control.hasError('greaterThanGross')"
                                            class="error">
                            Net Weight must not be greater than Gross Weight
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="action != 'view'">
                        <div class="form-group" [class.error-style]="(uom_id.control.touched||showError)&&uom_id.control.errors">
                            <label>UOM <span *ngIf="!disableNewSKU" class="txt-required">(*)</span></label>
                            <select tabindex="14" #uom_id="ngForm" [disabled]="disableNewSKU" class="form-control"
                                    ngControl="uom_id">
                                <option value="">Select one value</option>
                                <option *ngFor="let item of uomList" [value]="item.sys_uom_id" [class.hidden]="item.sys_uom_name=='KG'">{{item.sys_uom_name}}
                                </option>
                            </select>
                            <p *ngIf="(uom_id.control.touched||showError)&&uom_id.control.hasError('required')" class="error">
                                UOM is required.
                            </p>
                            <p *ngIf="(uom_id.control.touched||showError)&&uom_id.control.hasError('invalidUOM')" class="error">
                                UOM Level of outer item must be greater than UOM Level of inner items.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1 hidden">
                        <div class="form-group">
                            <label for="">Carrier</label>
                            <select class="form-control" ngControl="carrier_code" [disabled]="action == 'view'">
                                <option value="">Select carrier</option>
                                <option *ngFor="let carrier of carriers" [value]="carrier.md_code">
                                    {{carrier.md_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="action == 'view'" class="col-md-2">
                        <div class="form-group">
                            <label class="">Carton Label</label>
                            <input tabindex="5" type="text"
                                class="form-control" readonly value="{{cartonData.pack_hdr_num}}">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group" [class.error-style]="(number_of_pack.control.touched||showError)&&number_of_pack.control.hasError('required')">
                            <label># of Pack <span *ngIf="action != 'view'" class="txt-required">(*)</span></label>
                            <input type="text" maxlength="11" class="form-control" (keypress)="checkInputNumber($event)" (input)="formatValue($event)" [disabled]="action == 'view'" required="" ngControl="number_of_pack" #number_of_pack='ngForm'/>
                            <p *ngIf="(number_of_pack.control.touched||showError)&&number_of_pack.control.hasError('required')" class="error">
                                Number of Pack is required.
                            </p>
                        </div>
                    </div>
                    <div *ngIf="action == 'view' && cartonData.sku && cartonData.sku.length">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="">SKU</label>
                                <input tabindex="5" type="text"
                                        class="form-control" readonly value="{{cartonData.sku}}">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="">Size</label>
                                <input tabindex="5" type="text"
                                    class="form-control" readonly value="{{cartonData.size}}">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="">Color</label>
                                <input tabindex="5" type="text"
                                    class="form-control" readonly value="{{cartonData.color}}">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="">Pack</label>
                                <input tabindex="5" type="text"
                                    class="form-control" readonly value="{{cartonData.pack}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-style3 clearfix">
                <div class="table-list-head clearfix" *ngIf="allItem.length > 0">
                    <div class="form-inline pull-left">
                        <label>Show:</label>
                        <select (change)="onPageSizeChanged($event, 'itemList')" class="form-control">
                            <option value="20" selected>20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="no-padding" [ngClass]="{'col-md-12': action != 'view', 'col-md-8': action == 'view' }">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>SKU</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Lot</th>
                        <th>Weight</th>
                        <th *ngIf="action != 'view'">UOM</th>
                        <th *ngIf="action != 'view'">Packsize</th>
                        <th *ngIf="action !== 'view'" title="Total Piece QTY">Total QTY</th>
                        <th title="Packed Piece quantity">Packed QTY <span *ngIf="action != 'view'" class="txt-required">(*)</span></th>
                        <th *ngIf="action !== 'view'" title="Remaining Piece quantity">Remaining QTY</th>
                        <th *ngIf="cartonData.origin_odr_type == 'EC' || cartonData.order_type_key == 'EC'">Shipping Tracking Id</th>
                    </tr>
                    </thead>
                    <tbody ngControlGroup="items">
                        <tr *ngFor="let item of items  | paginate: {id :'allItemPaginInline', itemsPerPage: itemPerPage, currentPage: currentPageItem }; let i=index;" ngControlGroup="{{itemPerPage * ((currentPageItem || 1) - 1) + i}}">
                        <td><input disabled ngControl="itm_id" class="form-control" type="text"/></td>
                        <td><input disabled ngControl="sku" class="form-control" type="text"/></td>
                        <td><input disabled ngControl="color" class="form-control" type="text"/></td>
                        <td><input disabled ngControl="size" class="form-control" type="text"/></td>
                        <td><input disabled ngControl="lot" class="form-control" type="text"/></td>
                        <td>
                            <input [disabled]="action == 'view'" (ngModelChange)="changeInputWeight($event, item)" (keypress)="checkInputNumber($event, true)"
                            ngControl="weight" #item class="form-control" type="text" maxlength="16"
                            />
                        </td>
                        <td *ngIf="action != 'view'">
                            <select #uom_id="ngForm" disabled class="form-control" ngControl="uom_id">
                                <option value="">Select one value</option>
                                <option *ngFor="let item of uomList" [value]="item.sys_uom_id">
                                    {{item.sys_uom_name}}
                                </option>
                            </select>
                        </td>
                        <td *ngIf="action != 'view'"><input disabled ngControl="pack" class="form-control" type="text"/></td>
                        <td *ngIf="action !== 'view'"><input disabled ngControl="requested" class="form-control" type="text"/></td>
                        <td class="width120">
                        <div class="form-group" [class.error-style]="showError&&piece_qty.control.errors">
                            <input type="text" maxlength="11" class="form-control" ngControl="piece_qty" #piece_qty="ngForm"
                                (input)="formatValue($event, itemPerPage * ((currentPageItem || 1) - 1) + i)"
                                (change)="checkNewSKU()" (ngModelChange)="calculator($event, item, i)"
                                [disabled]="action == 'view'"/>
                            <p *ngIf="(showError)&&piece_qty.control.hasError('required')"
                                                class="error">
                            Packed QTY is required.
                            </p>
                            <p *ngIf="(showError)&&piece_qty.control.hasError('isZero')"
                                            class="error">
                                Packed QTY must be greater than 0.
                            </p>
                            <p *ngIf="(showError)&&piece_qty.control.hasError('invalidInt')"
                            class="error">
                                Packed QTY must be integer.
                            </p>
                            <p *ngIf="(showError)&&piece_qty.control.hasError('greaterThanRemain')"
                                            class="error">
                            Pack quantity * Number of Pack must be smaller or equal to remaining quantity!
                            </p>
                        </div>
                        </td>
                        <td *ngIf="action !== 'view'"><input disabled ngControl="remain_qty" class="form-control" type="text"/></td>
                        <td *ngIf="cartonData.origin_odr_type == 'EC' || cartonData.order_type_key == 'EC'" class="disabled">{{item.ship_track_id}}</td>
                    </tr>
                    </tbody>
                </table>
                <span *ngIf="allItem.length==0">No Results Found.</span>
                </div>
            </div>
            <div class="row">
                <pagination-controls
                        (statePagin)="StatePaginAllItem=$event"
                        (pageChange)="currentPageItem = $event" id="allItemPaginInline"
                        autoHide="true">
                </pagination-controls>
                <goBack *ngIf="action == 'view'"></goBack>
            </div>
            <div class="button pull-right clearfix">
                <button *ngIf="action != 'view'" type="button" class="btn btn-default" (click)="cancel()"><i class="icon-close"></i>Cancel
                </button>
                <button *ngIf="action != 'view'" type="submit" class="btn btn-primary" (click)="save(packCartonForm.value)"><i class="icon-check"></i>Save</button>
                <!--<button *ngIf="action != 'view'" type="button" class="btn btn-primary" (click)="save(packCartonForm.value, true)"><i class="icon-check"></i>Save & Print Label</button>-->
                <button *ngIf="action == 'view'" type="button" class="btn btn-primary" (click)="printCarton(carton_id)"><i class="icon-check"></i>Print Label</button>
            </div>
        </form>
    </div>
</div>
<div id="add-carton-demension" class="modal fade" role="dialog" data-backdrop="static">
    <form [ngFormModel]="addCartonDimensionForm" novalidate>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="title">Packed Carton Dimension Type</h4>
                </div>
                <div class="modal-body form-style">
                        <div class="table-style2">
                            <wms-messages [messages]="packCartonMessage"></wms-messages>
                            <table class="table table-bordered editable">
                                <thead>
                                <tr>
                                    <th>Length <span class="txt-required">(*)</span></th>
                                    <th>Width <span class="txt-required">(*)</span></th>
                                    <th>Height <span class="txt-required">(*)</span></th>
                                    <th class="col-md-4">Type <span class="txt-required">(*)</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group"
                                                 [class.error-style]="showErrorAddCartonDimension&&length.control.errors">
                                                <input maxlength="6" (keypress)="checkInputNumber($event, true)" type="text" class="form-control" #length="ngForm" ngControl="length">
                                                <p *ngIf="showErrorAddCartonDimension&&length.control.hasError('required')" class="error">
                                                    Length is required.
                                                </p>
                                                <p *ngIf="showErrorAddCartonDimension&&length.control.hasError('invalidDecimalNumber')"
                                                   class="error">
                                                    Maximum is 999.99
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group"
                                                 [class.error-style]="showErrorAddCartonDimension&&width.control.errors">
                                                <input maxlength="6" (keypress)="checkInputNumber($event, true)" type="text" class="form-control" #width="ngForm" ngControl="width">
                                                <p *ngIf="showErrorAddCartonDimension&&width.control.hasError('required')" class="error">
                                                    Width is required.
                                                </p>
                                                <p *ngIf="showErrorAddCartonDimension&&width.control.hasError('invalidDecimalNumber')"
                                                   class="error">
                                                    Maximum is 999.99
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group"
                                                 [class.error-style]="showErrorAddCartonDimension&&height.control.errors">
                                                <input maxlength="6" (keypress)="checkInputNumber($event, true)" type="text" class="form-control" #height="ngForm" ngControl="height">
                                                <p *ngIf="showErrorAddCartonDimension&&height.control.hasError('required')" class="error">
                                                    Height is required.
                                                </p>
                                                <p *ngIf="showErrorAddCartonDimension&&height.control.hasError('invalidDecimalNumber')"
                                                   class="error">
                                                    Maximum is 999.99
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" [class.error-style]="showErrorAddCartonDimension&&pack_type.control.errors">
                                                <select #pack_type="ngForm" class="form-control" ngControl="pack_type">
                                                    <option value="">Select Type</option>
                                                    <option *ngFor="let item of packTypes" [value]="item.pack_code">    {{item.pack_name}}
                                                    </option>
                                                </select>
                                                <p *ngIf="showErrorAddCartonDimension&&pack_type.control.hasError('required')" class="error">
                                                    Type is required.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-primary pull-right" (click)="addCartonDimension()"><i class="icon-check"></i>Save</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
