<div class="pull-left export">
    <label class="label-export">Export to:</label>
    <a (click)="exportReportCSV()" class="csv"></a>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>