<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>{{TitlePage}}</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block clearfix order-management print-management">
        <wms-messages [messages]="messages"></wms-messages>
        <form *ngIf="ODForm&&showForm" class="form-horizontal form-style" [ngFormModel]="ODForm"
              (ngSubmit)="(Action=='new' || !flagVCS || Action !='comment') && Save(ODForm.value)" novalidate autocomplete="off">
            <div class="row">
                <div class="col-md-5">
                    <h4 class="h4-style">Order Info</h4>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"
                                     [class.error-style]="(Cus.control.touched||submitForm)&&Cus.control.errors">
                                    <label class="">Customer Name <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                    <select tabindex="1" (change)="changeCustomer($event)" [disabled]="IsView"
                                            class="form-control" ngControl="cus_id" #Cus="ngForm" required>
                                        <option value="">Select one value</option>
                                        <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="(Cus.control.touched||submitForm)&&Cus.control.errors"
                                       class="error">
                                        Customer Name is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"
                                     [class.error-style]="(CusODnnumber.control.touched||submitForm ||Action=='edit')&&CusODnnumber.control.errors">
                                    <label>Customer Order Number <span class="txt-required"
                                                                       *ngIf="!IsView">(*)</span></label>
                                    <input tabindex="2" [readonly]="IsView" maxlength="64" #CusODnnumber="ngForm"
                                           ngControl="cus_odr_num" type="text"
                                           class="form-control">
                                    <p *ngIf="(CusODnnumber.control.touched||submitForm ||Action=='edit')&&CusODnnumber.control.errors"
                                       class="error">
                                        Customer Order Number is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ref Code</label>
                                    <input type="text" maxlength="64" [readonly]="IsView" tabindex="3"
                                           ngControl="ref_cod"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"
                                     [class.error-style]="(PO.control.touched||submitForm)&&PO.control.errors">
                                    <label>PO <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                    <input #PO="ngForm" [readonly]="IsView" maxlength="50" tabindex="4" type="text"
                                           ngControl="cus_po" class="form-control">
                                    <p *ngIf="(PO.control.touched||submitForm)&&PO.control.errors"
                                       class="error">
                                        PO is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Order Type</label>
                                    <select [disabled]="IsView || Action == 'edit'" tabindex="5"
                                            #OrderType="ngForm"
                                            class="form-control"
                                            ngControl="odr_type">
                                        <option  *ngFor="let item of orderType" value="{{item.key}}">
                                            {{item.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Rush/Priority</label>
                                    <select [disabled]="TitlePage == 'View Order'|| !canWHComment || _orderDetail['odr_sts_key'] === 'SH' || _orderDetail['odr_sts_key'] === 'CC'" tabindex="5"
                                            #Rush_odr="ngForm"
                                            class="form-control"
                                            ngControl="rush_odr" (change)="changeRush($event)">
                                        <option *ngFor="let item of rushList" value="{{item.key}}">
                                            {{item.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Total SKU's </label>
                                    <input type="text" value="{{totalSKU}}" readonly class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Status </label>
                                    <input type="text" readonly ngControl="odr_sts" class="form-control"></div>
                            </div>
                          <!--<div class="col-md-3">-->
                            <!--<div class="checkbox margin-top23">-->
                              <!--<label>-->
                                <!--<input type="checkbox" ngControl="pack_odr" [disabled]="Action!='new'" disabled-->
                                       <!--tabindex="7"> Auto Pack-->
                              <!--</label>-->
                            <!--</div>-->
                          <!--</div>-->
                            <div class="col-md-12">
                                <div class="row">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Special Instructions</label>
                                            <textarea tabindex="22" ngControl="spec_instruct" readonly  class="form-control"></textarea>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Order Number</label>
                                            <input readonly type="text" ngControl="odr_num" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-12 margin-top15"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h4 class="h4-style">Shipping Info</h4>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div [class.hidden]="OrderType.value !== 'WHS'" class="col-md-3">
                                <div class="form-group" [class.error-style]="Whs_id_to.control.hasError('required')">
                                    <label for="">Warehouse
                                        <span class="txt-required">(*)</span>
                                    </label>
                                    <select class="form-control" ngControl="whs_id_to"
                                        #Whs_id_to="ngForm" [disabled]="flagVCS || Action == 'comment'">
                                        <option value="">Select Warehouse</option>
                                        <option *ngFor="let item of arrWarehouse" [value]="item.whs_id">
                                            {{item.whs_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="Whs_id_to.control.hasError('required')" class="error">
                                        Warehouse is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="IsView">
                                <div class="form-group">
                                    <label for="">Carrier <span class="txt-required">(*)</span></label>
                                    <input type="text" class="form-control" readonly ngControl="carrier" />
                                </div>
                            </div>
                            <div class="col-md-3" [class.hidden]="OrderType.value !== 'RTL'" *ngIf="IsView">
                                <div class="form-group">
                                    <label for="">Delivery Service <span class="txt-required">(*)</span></label>
                                    <input type="text" class="form-control" readonly ngControl="dlvy_srvc" />
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="!IsView">
                                <div class="form-group"
                                    [class.error-style]="((Carrier.control.touched||submitForm)&&Carrier.control.errors)
                                        ||((Carrier_code.control.touched||submitForm)&&Carrier_code.control.errors)">
                                    <label for="">Carrier <span *ngIf="!flagVCS && Action != 'comment'" class="txt-required">(*)</span></label>
                                    <div class="dropdown dropdown-autosearch" [class.hidden]="OrderType.value === 'RTL'" [class.input-group]="!flagVCS && Action != 'comment'">
                                        <span class="waiting-zindex" *ngIf="Loading['carrier']"><img src="/assets/images/loading.gif"></span>
                                        <input [disabled]="flagVCS || Action == 'comment'" maxlength="127"
                                            #Carrier="ngForm" placeholder="Autocomplete..."
                                            [ngModel]="Carrier.value"
                                            autocomplete-directive
                                            (ngModelChange)="autoCompleteCarrier($event)"
                                            ngControl="carrier" class="form-control dropdown-toggle"
                                            type="text" data-toggle="dropdown"/>

                                        <div tabindex="-1" class="dropdown-menu list-group" *ngIf="Carrier.value">
                                            <a tabindex="-1" class="list-group-item nowrap internal"
                                                   (click)="selectedCarrier(item)" *ngFor="let item of carriersTypeOther">{{item.carrier_name}}</a>
                                        </div>

                                    </div>
                                    <select [class.hidden]="OrderType.value !== 'RTL'" class="form-control" ngControl="carrier_code" #Carrier_code="ngForm"
                                        (change)="changeCarrier($event)" [disabled]="flagVCS || Action == 'comment'">
                                        <option value="">Select carrier</option>
                                        <option *ngFor="let carrier of carriers" [value]="carrier.md_code">
                                            {{carrier.md_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="((Carrier.control.touched||submitForm)&&Carrier.control.hasError('required'))
                                        ||((Carrier_code.control.touched||submitForm)&&Carrier_code.control.errors)" class="error">
                                        Carrier is required.
                                    </p>
                                </div>
                            </div>

                            <div [class.hidden]="OrderType.value !== 'RTL'" class="col-md-3" *ngIf="!IsView">
                                <div class="form-group"
                                    [class.error-style]="(dlvy_srvc_code.control.touched||submitForm)&&dlvy_srvc_code.control.errors">
                                    <label for="">Delivery Service
                                        <span *ngIf="!flagVCS && Action != 'comment'" class="txt-required">(*)</span>
                                        <img *ngIf="isLoadingDeliServices" src="/assets/images/loading.gif">
                                    </label>
                                    <select class="form-control" ngControl="dlvy_srvc_code" (change)="changeDeliveryService($event)"
                                        #dlvy_srvc_code="ngForm" [disabled]="!ODForm.value['carrier_code'] || flagVCS || Action == 'comment'">
                                        <option value="">Select Delivery Service</option>
                                        <option *ngFor="let row of deliveryServices" [value]="row.md_code">
                                            {{row.md_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="dlvy_srvc_code&&(dlvy_srvc_code.control.touched||submitForm)&&dlvy_srvc_code.control.errors"
                                       class="error">
                                       Delivery Service is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"
                                     [class.error-style]="(Shippingto.control.touched||submitForm)&&Shippingto.control.errors">
                                    <label for="">Shipping To <span *ngIf="!flagVCS && Action != 'comment'"
                                                                    class="txt-required">(*)</span></label>

                                        <!-- //auto search chagre code complete -->
                                        <div class="dropdown dropdown-autosearch" [class.input-group]="!flagVCS && Action != 'comment'">
                                        <span class="waiting" *ngIf="Loading['shipping_to']"><img
                                      src="/assets/images/loading.gif"></span>

                                            <div class="input-group-btn" *ngIf="!flagVCS && Action != 'comment'">
                                                <button  type="button" (click)="_openFormThirdParty()" class="button" class="btn btn-add-more" [disabled]="!Cus.value"><i class="icon-plus"></i></button>
                                            </div>

                                            <input [disabled]="flagVCS || Action == 'comment' || !Cus.value" maxlength="127" tabindex="9"
                                                   #Shippingto="ngForm" placeholder="Autocomplete..."
                                                   [ngModel]="Shippingto.value"
                                                   autocomplete-directive
                                                   (ngModelChange)="autoCompleteShippingTo($event)"
                                                   ngControl="ship_to_name" class="form-control dropdown-toggle"
                                                   type="text" data-toggle="dropdown"/>

                                            <div tabindex="-1" class="dropdown-menu list-group"
                                                 *ngIf="Shippingto.value">
                                                <a tabindex="-1" class="list-group-item nowrap internal"
                                                   (click)="selectedShippingTo(item)"
                                                   *ngFor="let item of shipping_to_list">{{item.name}} - {{item.add_1}}</a>
                                            </div>

                                        </div>

                                    <p *ngIf="(Shippingto.control.touched||submitForm)&&Shippingto.control.hasError('required')"
                                       class="error">
                                        Shipping To is required.
                                    </p>

                                    <p *ngIf="(Shippingto.control.touched||submitForm)&&Shippingto.control.hasError('not_existed')"
                                       class="error">
                                        Shipping To is not existed.
                                    </p>

                                </div>
                            </div>

                            <div [ngClass]="{'col-md-3': OrderType && (OrderType.value === 'RTL' || OrderType.value === 'WHS'), 'col-md-6': !OrderType || OrderType.value !== 'RTL'}">
                                <div class="form-group"
                                     [class.error-style]="(Address.control.touched||submitForm)&&Address.control.errors">
                                    <label for="">Address <span *ngIf="!flagVCS && Action != 'comment'" class="txt-required">(*)</span></label>
                                    <input #Address="ngForm" [readonly]="flagVCS || Action == 'comment'" maxlength="127" type="text" autocomplete="new-password"
                                        id="order-autocomplete" tabindex="10" ngControl="ship_to_add_1" class="form-control address">
                                    <p *ngIf="(Address.control.touched||submitForm)&&Address.control.errors"
                                       class="error">
                                        Address To is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group"
                                     [class.error-style]="(City.control.touched||submitForm)&&City.control.errors">
                                    <label>City <span *ngIf="!flagVCS && Action != 'comment'" class="txt-required">(*)</span></label>
                                    <input #City="ngForm" [readonly]="flagVCS || Action == 'comment'" maxlength="63" tabindex="11" type="text"
                                        (change)="resetZipcode()" autocomplete="new-password" ngControl="ship_to_city" class="form-control address">
                                    <p *ngIf="(City.control.touched||submitForm)&&City.control.errors"
                                       class="error">
                                        City is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"
                                     [class.error-style]="(CountryCtl.control.touched || submitForm ) && CountryCtl.control.errors">
                                    <label>Country <span *ngIf="!flagVCS && Action != 'comment'" class="txt-required">(*)</span></label>
                                    <select tabindex="12" #CountryCtl="ngForm" ngControl="ship_to_country"
                                            (change)="ChangeCountry($event.target.value)" class="form-control"
                                            [disabled]="flagVCS || Action == 'comment'" required>
                                        <option value="">Select one value</option>
                                        <option *ngFor="let item of Country" [value]="item.sys_country_code">
                                            {{item.sys_country_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="(CountryCtl.control.touched||submitForm)&&CountryCtl.control.hasError('required')"
                                       class="error">
                                        Country is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"
                                     [class.error-style]="(StateProvince.control.touched || submitForm ) && StateProvince.control.errors">
                                    <label>State <span *ngIf="!flagVCS && Action != 'comment'" class="txt-required">(*)</span> <img
                                            *ngIf="Loading.state" src="/assets/images/loading.gif"></label>
                                    <select [disabled]="flagVCS || Action == 'comment'" class="form-control" #StateProvince='ngForm'
                                        (change)="resetZipcode()" ngControl="ship_to_state" tabindex="13">
                                        <option value="">Select one value</option>
                                        <option *ngFor="let item of StateProvinces" value="{{item.sys_state_code}}">
                                            {{item.sys_state_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="(StateProvince.control.touched || submitForm )&&StateProvince.control.errors"
                                       class="error">
                                        State/Province is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"
                                     [class.error-style]="(Zip.control.touched || submitForm ) && Zip.control.errors">
                                    <label>Zip Code <span *ngIf="!flagVCS && Action != 'comment'" class="txt-required">(*)</span></label>
                                    <input type="text" [readonly]="flagVCS || Action == 'comment'" maxlength="10" tabindex="14" autocomplete="new-password"
                                        (keyup)="getZipcode($event)" #Zip="ngForm" ngControl="ship_to_zip" class="form-control address">
                                    <p *ngIf="(Zip.control.touched || submitForm )&&Zip.control.hasError('required')"
                                       class="error">
                                        Zip Code is required.
                                    </p>
                                    <p *ngIf="(Zip.control.touched || submitForm )&&Zip.control.hasError('invaildValue')"
                                       class="error">
                                        Zip Code is invalid.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" class="form-group has-feedback"
                                     [class.error-style]="(Shipbydate.control.touched || submitForm || Action=='edit') && Shipbydate.control.errors">
                                    <label>Ship By Date</label>
                                    <input type="text" #Shipbydate="ngForm" [disabled]="flagVCS || Action == 'comment'" maxlength="10"
                                        tabindex="15" (blur)="mousOver('ship_by_dt'); calCompleteDate('ship_by_dt')"
                                        ngControl="ship_by_dt" data-provide="datepicker"
                                        data-date-today-highlight="1"
                                        class="form-control datepicker-asn">
                                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                    <p *ngIf="(Shipbydate.control.touched || submitForm ) && Shipbydate.control.hasError('required')"
                                       class="error">
                                        Ship By Date is required.
                                    </p>
                                    <p *ngIf="(Shipbydate.control.touched || submitForm || Action=='edit')&&Shipbydate.control.hasError('invalidDate')"
                                       class="error">
                                        Ship By Date must be greater than or equal to current date
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-feedback datepicker-style"
                                        [class.error-style]="(Scheduleddate.control.touched || submitForm || Action=='edit') && Scheduleddate.control.errors">
                                    <label>Scheduled To Ship Date</label>
                                    <input class="form-control" wms-datetimepicker ngControl="schd_ship_dt" #Scheduleddate="ngForm" data-date-format="MM/DD/YYYY HH:mm"
                                        [disabled]="Action=='new' || flagVCS || Action == 'comment' || _orderDetail['odr_sts_key']=='NW' || _orderDetail['odr_sts_key']=='AL' || _orderDetail['odr_sts_key']=='PK'" />
                                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                    <p *ngIf="(Scheduleddate.control.touched || submitForm ) && Scheduleddate.control.hasError('required')"
                                        class="error">
                                        Scheduled To Ship Date is required.
                                    </p>
                                    <p *ngIf="(Scheduleddate.control.touched || submitForm || Action=='edit')&&Scheduleddate.control.hasError('invalidDate')"
                                        class="error">
                                        Scheduled To Ship Date must be greater than or equal to current date
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" class="form-group has-feedback"
                                        [class.error-style]="(Routeddate.control.touched || submitForm || Action=='edit') && Routeddate.control.errors">
                                    <label>Routed Date</label>
                                    <input type="text" #Routeddate="ngForm" [disabled]="flagVCS || Action == 'comment'" maxlength="10"
                                        tabindex="15"
                                        ngControl="routed_dt" data-provide="datepicker"
                                        data-date-today-highlight="1"
                                        class="form-control datepicker-asn">
                                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                    <p *ngIf="(Routeddate.control.touched || submitForm ) && Routeddate.control.hasError('required')"
                                        class="error">
                                        Routed Date is required.
                                    </p>
                                    <p *ngIf="(Routeddate.control.touched || submitForm || Action=='edit')&&Routeddate.control.hasError('invalidDate')"
                                        class="error">
                                        Routed Date must be greater than or equal to current date
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-feedback"
                                [class.error-style]="(RequestcompleteDate.control.touched || submitForm || Action=='edit') && RequestcompleteDate.control.errors">
                                <label for="">Requested Complete Date</label>
                                <input type="text" maxlength="10" [disabled]="true"
                                    #RequestcompleteDate="ngForm" tabindex="17" data-provide="datepicker"
                                    data-date-today-highlight="1" (blur)="mousOver('req_cmpl_dt')"
                                    ngControl="req_cmpl_dt" class="form-control datepicker-asn">
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                <p *ngIf="(RequestcompleteDate.control.touched || submitForm )&&RequestcompleteDate.control.hasError('required')"
                                class="error">
                                Requested Complete Date is required.
                            </p>
                            <p *ngIf="(RequestcompleteDate.control.touched || submitForm || Action=='edit')&&RequestcompleteDate.control.hasError('invalidDate')"
                            class="error">
                            Requested Complete Date must be greater than or equal to current date
                        </p>

                        <p *ngIf="(RequestcompleteDate.control.touched || submitForm || Action=='edit')&&RequestcompleteDate.control.hasError('smaller_req_cmpl_dt')"
                        class="error">
                        Requested Complete Date must be smaller than or equal to Ship By Date
                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-feedback"
                                     [class.error-style]="(CancelByDate.control.touched || submitForm || Action=='edit') && CancelByDate.control.errors">
                                    <label for="">Cancel By Date</label>
                                    <input type="text" #CancelByDate="ngForm"
                                        [disabled]="flagVCS || Action == 'comment' || !Shipbydate.control.value" maxlength="10"
                                        tabindex="16" data-provide="datepicker" data-date-today-highlight="1"
                                        (blur)="mousOver('cancel_by_dt')"
                                        ngControl="cancel_by_dt" class="form-control datepicker-asn">
                                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                    <p *ngIf="(CancelByDate.control.touched || submitForm )&&CancelByDate.control.hasError('required')"
                                       class="error">
                                        Cancel By Date is required.
                                    </p>
                                    <p *ngIf="(CancelByDate.control.touched || submitForm || Action=='edit')&&CancelByDate.control.hasError('invalidDate')"
                                       class="error">
                                        Cancel By Date must be greater than or equal to current date
                                    </p>
                                    <p *ngIf="(CancelByDate.control.touched || submitForm || Action=='edit')&&CancelByDate.control.hasError('greater_ship_by_dt')"
                                       class="error">
                                        Cancel By Date must be greater or equal than Ship By Date
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Actual Shipped Date</label>
                                    <input type="text" ngControl="shipped_dt" tabindex="18" readonly
                                    class="form-control">

                                </div>
                            </div>
                            <div class="col-md-3 hidden">
                                <div class="form-group">
                                    <label>Actual Canceled Date</label>
                                    <input type="text" ngControl="act_cancel_dt" tabindex="19" readonly
                                           class="form-control">
                                </div>
                            </div>
                            <div *ngIf="ODForm.controls['ship_to_phone']" [class.hidden]="OrderType.value !== 'RTL'" class="col-md-3">
                                <div class="form-group"
                                    [class.error-style]="ship_to_phone.control.errors && (ship_to_phone.control.touched || submitForm)">
                                    <label for="">Ship To Phone <span class="txt-required">(*)</span></label>
                                    <input maxlength="50" type="text" ngControl="ship_to_phone" [readonly]="flagVCS || Action == 'comment'"
                                        #ship_to_phone="ngForm" (keyup)="inputShipToPhone($event)" class="form-control">
                                    <p *ngIf="ship_to_phone.control.errors && (ship_to_phone.control.touched || submitForm )" class="error">
                                        {{ getShipToPhoneErrorMessage() }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="_orderDetail['odr_type_key'] == 'RTL' && IsView">
                                <div class="form-group">
                                    <label>Tracking Number</label>
                                    <input placeholder="Input tracking number"
                                    [value]="_orderDetail['track_num']"
                                    [disabled]="['PA', 'PTG', 'PTD', 'RS', 'SS'].indexOf(_orderDetail['odr_sts_key']) < 0"
                                    class="form-control" type="text" maxlength="50"
                                    (change)="changeOrderTrackingNumber($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active in"><a data-toggle="tab" href="#tabitem">Items

                     <span *ngIf="submitForm&&!itemsArray.valid" class="txt-required">
                      <i class="fa fa-warning"></i>
                    </span>
                    <span *ngIf="itemsArray.valid&&!IsView" class="icon-done">
                      <i class="fa fa-check"></i>
                    </span>

                </a></li>
                <li class="in" (click)="getCarton()"><a data-toggle="tab" href="#tabcarton" *ngIf="IsView">Packed Cartons</a></li>
                <li class="in" (click)="getEventracking()"><a data-toggle="tab" href="#tabEventTracking" *ngIf="IsView">Event Tracking</a></li>
                <!--<li class="in"><a data-toggle="tab" href="#tabDocument" *ngIf="IsView">Documents</a></li>-->
                <li class="in"><a data-toggle="tab" href="#tabOrderFlow">Order Flow</a></li>
                <li class="in"><a data-toggle="tab" *ngIf="IsView" href="#laborCost">Labor Cost</a></li>
                <li class="in"><a data-toggle="tab" *ngIf="IsView" href="#outboundPallet" (click)="outPalletTabShow = true">Shipping Lane</a></li>
                <li class="in"><a data-toggle="tab" *ngIf="IsView" href="#labeling">Label</a></li>
                <li class="in"><a data-toggle="tab" *ngIf="IsView" href="#pallet">Outbound Pallet</a></li>
                <li class="in"><a data-toggle="tab" *ngIf="IsView" href="#tabCSR">CSR</a></li>
                <!--<li class="in"><a data-toggle="tab" *ngIf="IsView" href="#invoice-tracking">Invoice</a></li>-->
            </ul>
            <div class="tab-content clearfix no-padding">
                <div class="clearfix tab-pane fade active in" id="tabitem" ngControlGroup="items">
                    <div class="table-list-head clearfix" *ngIf="!IsView">
                        <div class="input-group pull-right margin-left" *ngIf="!IsView">
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-group dropdown-toggle"
                                    data-toggle="dropdown" type="button"><i class="icon-settings"></i>Action <span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a *ngIf="items.length > 0 && !IsView" (click)="deleteItem()" class="internal"><i
                                        class="icon-trash"></i>Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-style2 table-print">
                        <table class="table table-bordered editable table-hover small-padding-table">
                            <thead>
                            <tr>
                                <th *ngIf="!IsView" class="column-checkbox"><input [disabled]="!items.length" [readonly]="IsView"
                                                           (ngModelChange)="fbdFunc.CheckAll(itemsArray,$event)"
                                                           [ngModel]="itemsArray?.selectedAll" type="checkbox"/></th>
                                <th>Item ID</th>
                                <th>UPC</th>
                                <th>SKU <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                <th>Size</th>
                                <th>Color</th>
                                <th>Lot</th>
                                <th>UOM <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                <th>QTY <span class="txt-required">(*)</span></th>
                                <th class="nowrap">Pack Size</th>
                                <th title="Requested Requested Quantity" class="nowrap">Requested QTY</th>
                                <th *ngIf="IsView" title="Allocated Requested Quantity" class="nowrap">Allocated QTY</th>
                                <th *ngIf="IsView" class="nowrap">Picked QTY</th>
                                <th title="Available Requested Quantity" class="nowrap">Remaining QTY</th>
                                <th *ngIf="IsView" title="Product Line">Product Line</th>
                                <th *ngIf="IsView" title="Campaign">Campaign</th>
                                <!--<th>Back Order</th>-->
                                <th *ngIf="enableShippingTracking">Shipping Tracking ID <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of items; let i=index;"
                                ngControlGroup="{{i}}">
                                <!-- /(change)="Selected($event,item,'billdingInfo')"  Selected($event,item,ListName:string,state,paginId) -->
                                <td *ngIf="!IsView"><input
                                        (change)="fbdFunc.Selected(itemsArray,item,$event)"
                                        [ngModel]="item.selected" type="checkbox" tabindex="20"></td>
                                <td class="width150">
                                    <input readonly ngControl="itm_id" class="form-control" type="text" tabindex="20"/>
                                </td>
                                <td class="width150">
                                    <input readonly ngControl="cus_upc" class="form-control" type="text" tabindex="20"/>
                                </td>
                                <td class="autocomplete-style width200">
                                    <div class="control-group"
                                         [class.error-style]="(Sku.control.touched || submitForm ) && ( Sku.control.errors && Sku.isFocusout )">
                                        <!-- //auto search chagre code complete -->
                                        <div class="dropdown dropdown-autosearch">
                                                    <span class="waiting" *ngIf="item['showLoading']"><img
                                                            src="/assets/images/loading.gif"></span>
                                            <input [disabled]="IsView||!ODForm.value['cus_id']" maxlength="50"
                                                   tabindex="20"
                                                   #Sku="ngForm"
                                                   (focus)="Sku.isFocusout=false"
                                                   (focusout)="Sku.isFocusout=true"
                                                   [ngModel]="item.value.sku"
                                                   (ngModelChange)="autoComplete(i,$event,'sku',1,true)"
                                                   ngControl="sku" class="form-control dropdown-toggle"
                                                   type="text" data-toggle="dropdown"/>


                                            <div class="dropdown-menu"
                                            >
                                                <div tabindex="-1" class="list-group list-table"
                                                     [currentPage]="item?.current_page"
                                                     [paginData]="item['paginData']"
                                                     (updated)="autoComplete(i,item.value.sku,'sku',$event,false)"
                                                     infinite-scroll-autocomplete>
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th class="nowrap" width="10%">SKU</th>
                                                            <th width="10%">Size</th>
                                                            <th width="10%">Color</th>
                                                            <th width="10%">Pack</th>
                                                            <th width="10%">UOM</th>
                                                            <th width="10%">QTY</th>
                                                            <th class="nowrap" width="40%">Description</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody *ngIf="item?.autoSearchData?.length">
                                                        <tr  *ngFor="let itemId of item.autoSearchData; let i2 = index" (click)="item['chooseSku'] = false; odrFunc.selectedItem(itemsArray,i,itemId, ODForm.value['odr_type']);">
                                                            <td width="10%"><a class="internal">{{itemId.sku}}</a></td>
                                                            <td width="10%"><a class="internal">{{itemId.size}}</a></td>
                                                            <td width="10%"><a class="internal">{{itemId.color}}</a></td>
                                                            <td width="10%"><a class="internal">{{itemId.pack}}</a></td>
                                                            <td width="10%"><a class="internal">{{itemId.uom_name}}</a></td>
                                                            <td width="10%"><a class="internal">{{itemId.avail}}</a></td>
                                                            <td width="40%"><a class="internal">{{itemId.des}}</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <p *ngIf="(Sku.control.touched || submitForm )&&Sku.control.hasError('required')&&Sku.isFocusout"
                                           class="error">
                                            SKU is required.
                                        </p>
                                        <p *ngIf="(Sku.control.touched || submitForm )&&Sku.control.hasError('invaildValue')&&Sku.isFocusout"
                                           class="error">
                                            SKU is not existed or unavailable.
                                        </p>
                                        <p *ngIf="(Sku.control.touched || submitForm )&&Sku.control.hasError('duplicated')&&Sku.isFocusout"
                                           class="error">
                                            Item is duplicated.
                                        </p>

                                    </div>
                                </td>
                                <td class="width120"><input type="text" tabindex="20" ngControl="size" readonly
                                           class="form-control"></td>
                                <td class="width100"><input type="text" tabindex="20" ngControl="color" readonly
                                                            class="form-control"></td>
                                <td class="width150"><input type="text" tabindex="20" readonly ngControl="lot"
                                           class="form-control"></td>

                                <td class="width200">
                                    <div class="control-group"
                                         [class.error-style]="(Uom_id.control.touched || submitForm ) && Uom_id.control.errors">

                                        <select [ngModel]="item.value['uom_id']" (change)="changeUOM(item,$event.target.value);"
                                                (ngModelChange)="odrFunc.caclulatorPieceCtn(item,uomList, items)" tabindex="20" #Uom_id="ngForm"
                                                [disabled]="IsView||ODForm.value['pick_pallet']==1||!item.value['sku'] || item.disabled_uom" class="form-control"
                                                ngControl="uom_id">
                                            <!-- <option value="">Select one value</option> -->
                                            <option [disabled]="data['level_id']==4" *ngFor="let data of (item.value['uom_code'] === 'KG'? uomListSliced['KG'] : uomListSliced['NoKG'])" [value]="data?.sys_uom_id">
                                                {{data?.sys_uom_name}}
                                            </option>
                                        </select>
                                        <p *ngIf="(Uom_id.control.touched || submitForm )&&Uom_id.control.hasError('required')"
                                           class="error">
                                            UOM is required.
                                        </p>
                                    </div>
                                </td>


                                <td class="width100">
                                    <div class="control-group"
                                         [class.error-style]="(UOM_Qty.control.touched || submitForm )&&UOM_Qty.control.errors">

                                        <input (blur)="odrFunc.changeCTNS(itemsArray,i,$event)"
                                               type="text" tabindex="20" #UOM_Qty="ngForm"
                                               ngControl="uom_qty"
                                               maxlength="5"
                                               (blur)="odrFunc.caclulatorPieceCtn(item,uomList, items)"
                                               (keypress)="checkInputNumber($event)"
                                               [disabled]="IsView && !IsEditBO"
                                               class="form-control">


                                        <p *ngIf="(UOM_Qty.control.touched || submitForm )&&UOM_Qty.control.hasError('required')"
                                           class="error">
                                            QTY is required.
                                        </p>
                                        <p *ngIf="(UOM_Qty.control.touched || submitForm )&&UOM_Qty.control.hasError('smaller_than_pack')"
                                           class="error">
                                            QTY must be greater than Pack size.
                                        </p>
                                        <p *ngIf="UOM_Qty.control.hasError('invalidNumber')||UOM_Qty.control.hasError('invalidInt')"
                                           class="error">
                                            QTY must be an integer number.
                                        </p>
                                        <p *ngIf="UOM_Qty.control.touched&&UOM_Qty.control.hasError('isZero')"
                                           class="error">
                                            QTY must be greater than 0
                                        </p>
                                    </div>
                                </td>

                                <td class="width150">
                                <div class="control-group">

                                    <input readonly type="text" tabindex="20" #Pack_default="ngForm"
                                           ngControl="pack" class="form-control">

                                </div>
                              </td>
                                <td class="width100">
                                    <div class="control-group"
                                         [class.error-style]="(Piece_qty.control.touched || submitForm ) && Piece_qty.control.errors || Piece_qty.control.hasError('errorNumber')">
                                        <input [readonly]="true" type="text" tabindex="20" #Piece_qty="ngForm"
                                               maxlength="11"
                                               (keypress)="checkInputNumber($event)"
                                               (change)="odrFunc.changeRequestedQuantity(itemsArray,i)"
                                               ngControl="piece_qty" class="form-control">
                                        <p *ngIf="(Piece_qty.control.touched || submitForm )&&Piece_qty.control.hasError('required')"
                                           class="error">
                                            Requested Quantity is required.
                                        </p>
                                        <p *ngIf="(Piece_qty.control.touched || submitForm )&&Piece_qty.control.hasError('isZero')"
                                           class="error">
                                            Requested Quantity must be greater than 0
                                        </p>
                                        <p *ngIf="(Piece_qty.control.touched || submitForm )&&Piece_qty.control.hasError('invalidNumber')"
                                           class="error">
                                            Requested Quantity must be number.
                                        </p>
                                        <p *ngIf="Piece_qty.control.hasError('errorNumber')"
                                           class="error">
                                            Data is invalid. Packs must be an integer number.
                                        </p>
                                    </div>
                                </td>
                                <td *ngIf="IsView" class="width100">
                                    <input [readonly]="IsView" type="text" tabindex="20" ngControl="allocated_qty" class="form-control">
                                </td>

                                <td *ngIf="IsView" class="width100">
                                    <input [readonly]="IsView" type="text" tabindex="20" ngControl="picked_qty" class="form-control">
                                </td>
                                <td class="width100"><input type="text" tabindex="20" ngControl="avail" readonly
                                    class="form-control"></td>
                                <td class="hidden"><input type="hidden" readonly ngControl="back_odr"
                                           (change)="odrFunc.backOrder(itemsArray,i,$event)"
                                           [ngModel]="item.checked"></td>
                                <td [class.hidden]="!enableShippingTracking" class="width170">
                                  <div class="control-group"
                                       [class.error-style]="(Ship_Track_Id.control.touched || submitForm ) && Ship_Track_Id.control.errors">
                                  <input type="text" maxlength="20" class="form-control" #Ship_Track_Id="ngForm" [readonly]="IsView" ngControl="ship_track_id" tabindex="20">
                                    <p *ngIf="(Ship_Track_Id.control.touched || submitForm )&&Ship_Track_Id.control.errors"
                                       class="error">
                                      Shipping Tracking ID is required.
                                    </p>
                                    </div>
                                </td>
                                <td *ngIf="IsView" class="width100"><input type="text" tabindex="20" ngControl="prod_line" readonly
                                    class="form-control"></td>
                                <td *ngIf="IsView" class="width100"><input type="text" tabindex="20" ngControl="cmp" readonly
                                    class="form-control"></td>
                            </tr>
                            <tr>
                                <td *ngIf="!IsView" class="add-more text-center">
                                    <span (click)="addNewItem()"
                                          class="button-add" tabindex="22"><i
                                            class="fa  fa-plus-circle"></i></span>
                                </td>
                                <td colspan="8"></td>
                                <td class="nowrap">Requested Total</td>
                                <td colspan="2"><strong class="strong-break">{{items[0] && items[0]['value']['total_piece_qty'] != 0 ? items[0]['value']['total_piece_qty'] : ''}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- -->
                <div class="clearfix tab-pane fade" id="tabcarton">
                    <div class="table-list-head clearfix" *ngIf="allCarton.length > 0">
                        <div class="form-inline pull-left">
                            <label>Show:</label>
                            <select (change)="onPageSizeChanged($event,'carton')" class="form-control">
                                <option value="20" selected>20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <div class="input-group pull-right">
                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle" type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ><a (click)="printCarton()"><i class=""></i>Print Label</a></li>
                                <li ><a *ngIf="OrderType.value === 'RTL'" (click)="printShippingLabel()"><i class=""></i>Print Shipping Label</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-style1">
                        <table class="table table-bordered table-hover small-padding-table">
                            <thead>
                            <tr>
                                <th class="column-checkbox">
                                    <input type="checkbox" [(ngModel)]="selectedAllCarton" (ngModelChange)="checkedAll(allCarton, selectedAllCarton)"/>
                                </th>
                                <th>Status</th>
                                <th>Carton Number</th>
                                <th class="hide">SKU</th>
                                <th># of SKU</th>
                                <th title="Packed Requested Quantity">Packed QTY</th>
                                <th>Carton Dimension</th>
                                <th *ngIf="_orderDetail['odr_type_key'] == 'RTL'">Tracking Number</th>
                                <th>Weight</th>
                                <th>Carton Type</th>
                                <th>Printed Label</th>
                                <th>RFID</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of allCarton; let i = index" [class.row-selected]="item.selected" (click)="setClickedRow(allCarton, i, item)">
                                <td>
                                    <input [ngModel]="item.selected" value="{{item}}" type="checkbox">
                                </td>
                                <td>{{item.pack_sts_name}}</td>
                              <td><a [href]="'#/outbound/packing/pack-carton/' + orderId + '::' + _orderDetail.cus_id + '::' + item.pack_hdr_id + '/view'">{{item.pack_hdr_num}}</a></td>
                                <td class="hide">{{item.sku}}</td>
                                <td>{{item.sku_ttl}}</td>
                                <td>{{item.piece_ttl}}</td>
                                <td>{{item.dimension}}</td>
                                <td *ngIf="_orderDetail['odr_type_key'] == 'RTL'" class="form-group">
                                    <input [disabled]="['PA', 'PTG', 'PTD', 'RS', 'SS'].indexOf(_orderDetail['odr_sts_key']) < 0" [value]="item.tracking_number" placeholder="Input tracking number"
                                    class="form-control" type="text" maxlength="50"
                                    (change)="changeTrackingNumber($event, item.pack_hdr_id)">
                                </td>
                                <td>{{item.weight}}</td>
                                <td>{{item.pack_type}}</td>
                                <td>{{item.is_print ? 'Yes' : 'No'}}</td>
                                <td>{{item.has_rfid ? 'Yes' : 'No'}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="12">
                                    <p *ngIf="allCarton.length==0&&!showLoadingOverlay">No Results Found.</p>
                                    <div class="pull-right margin-top5 color-gray">
                                        <wms-pagination
                                                [perPage]="perPage"
                                                [paginData]="Pagination"
                                                (pageChange)="getCarton($event)"
                                        ></wms-pagination>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="clearfix tab-pane fade" id="tabEventTracking" *ngIf="IsView">
                  <div class="table-list-head clearfix" *ngIf="evenTracking.length > 0">
                    <div class="form-inline pull-left">
                      <label>Show:</label>
                      <select (change)="onPageSizeChanged($event,'eventtrack')" class="form-control">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                      </select>
                    </div>
                  </div>
                    <div class="table-style1">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="nowrap">Owner</th>
                                <th>Transaction Number</th>
                                <th>Milestone</th>
                                <th>Desc</th>
                                <th>Date/Time</th>
                                <th>User</th>
                                <th>INFO</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr *ngFor="let item of evenTracking">
                                <td>{{item.owner}}</td>
                                <td>{{item.trans_num}}</td>
                                <td><span *ngIf = "item.evt_type == 'E'" class="icon-e"></span><span *ngIf = "item.evt_type != 'E'" class="icon-m" title="Milestone"></span></td>
                                <td>{{item.description}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.user}}</td>
                                <td>{{item.info}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" class="color-gray">
                                    <div class="pull-right">
                                    <wms-pagination
                                            [perPage]="perPage"
                                            [paginData]="Pagination"
                                            (pageChange)="getEventracking($event)"
                                    ></wms-pagination>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                      <p *ngIf="evenTracking.length==0&&!showLoadingOverlay">No Results Found.</p>
                    </div>
                </div>
                <!--<div class="clearfix tab-pane fade" id="tabDocument" *ngIf="IsView">
                    &lt;!&ndash; <documents-upload [doc_type]="'ORD'" [trans]="_orderDetail['odr_num']"
                                    [attTitle1]="'Customer'"
                                    [attValue1]="_orderDetail['cus_name']"
                                    [attTitle2]="'Cus Order Num'"
                                    [attValue2]="_orderDetail['cus_odr_num']"
                    ></documents-upload> &ndash;&gt;
                    <dms-in [doc_type]="'ORD'" [group]="'ORDER'" [trans]="_orderDetail['odr_num']"></dms-in>
                </div>-->
                <div class="clearfix tab-pane fade" id="tabOrderFlow">
                    <div class="table-style1">

                        <order-flow-directive
                                [cusId]="ODForm.value['cus_id']"
                                (messages)="messages=$event"
                                (orderFlowReturnData)="updateDetailOrderFlow($event)"
                                (showLoadingOverlay)="showLoadingOverlay=$event"
                                [orderId]="orderId ? orderId : ''"
                                [environment]="'order'"
                                [disabled]="IsView"
                                [orderType]="OrderType.value"
                                [flagOrderFolow]="flagOrderFolow"
                                [orderStatus]= "_orderDetail.odr_sts"
                                [action]= "Action"
                        ></order-flow-directive>

                    </div>
                </div>

                <div *ngIf="IsView" class="clearfix tab-pane fade" id="laborCost">

                    <div class="clearfix tab-pane col-md-6" id="labelCost">
                        <labor-cost-directive
                                [category]="'op'"
                                [cus_id]="_orderDetail?.cus_id"
                                [value]="orderId"
                                (laborMessages)="messages=$event"
                        ></labor-cost-directive>
                    </div>

                </div>

                <div *ngIf="IsView" class="clearfix tab-pane fade" id="outboundPallet">
                    <div class="clearfix tab-pane col-md-6">
                        <order-outbound-pallet
                                [orderHeaderId]="orderId"
                                [outPalletTabShow]="outPalletTabShow"
                                [orderStatusKey]="_orderDetail['odr_sts_key']"
                                [isFinalBOL]="_orderDetail['is_final_bol']"
                                (outboundPalletMessages)="messages=$event"
                                (resetOutPalletShow)="outPalletTabShow=$event"
                                (reloadOrder)="reloadOrder($event)"
                        ></order-outbound-pallet>
                    </div>
                </div>

                <div *ngIf="IsView" class="clearfix tab-pane fade" id="labeling">
                    <div class="clearfix tab-pane col-md-6">
                        <labeling
                                [orderHeaderId]="orderId"
                                (messages)="messages=$event"
                        ></labeling>
                    </div>
                </div>
                <div *ngIf="IsView" class="clearfix tab-pane fade" id="pallet">
                        <pallet-list-directive
                                [orderHeaderId]="orderId"
                                [orderStatus]="_orderDetail['odr_sts_key']"
                                [isFinalBOL]="_orderDetail['is_final_bol']"
                                (messages)="messages=$event"
                                (showLoadingOverlay)="showLoadingOverlay=$event"
                        ></pallet-list-directive>
                </div>
                <div *ngIf="IsView" class="clearfix tab-pane fade" id="tabCSR">
                    <csr-list [orderId]="orderId" [order]="_orderDetail" (showLoading)="showLoading($event)" (showMessage)="showMessage(status, msg)"></csr-list>
                </div>

                <!--<div *ngIf="IsView" class="clearfix tab-pane fade" id="invoice-tracking">
                    <invoice-tracking [ref_num]="_orderDetail['odr_num']"></invoice-tracking>
                </div>-->
            </div>
            <div class="print-block ">
                <table class="table-style-pdf" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="col-md-6">Internal Comments</th>
                        <th class="col-md-6">External Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{_orderDetail?.in_notes}}</td>
                        <td>{{_orderDetail?.cus_notes}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="footer">
                    <tbody>
                    <tr>
                        <td>Printed: {{loggerUser['first_name'] +' ' +loggerUser['last_name']}}</td>
                        <td class="text-right">{{odrFunc.getDateTime()}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="area-block clearfix">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>WHS Comments</label>
                            <textarea tabindex="22" ngControl="in_notes" (blur)="saveComment()" [disabled]="TitlePage == 'View Order' || !canWHComment" maxlength="500" class="form-control"
                              rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>External Comments</label>
                            <textarea tabindex="23" ngControl="cus_notes" (blur)="saveComment()" [disabled]="TitlePage == 'View Order'" maxlength="500" class="form-control"
                              rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>CSR Comments</label>
                            <textarea tabindex="23" (blur)="saveComment()" ngControl="csr_notes" [disabled]="TitlePage == 'View Order' || !canCSRComment" maxlength="500" class="form-control"
                                   rows="2"></textarea>
                        </div>
                    </div>
                    <div *ngIf="Action=='new'" class="col-md-6">
                        <div *ngFor="let number of numbers; let i=index" class="form-group">
                            <label>Upload Document</label>
                            <input type="file" (change)="changeFile($event, i)" name="files[]">
                        </div>
                        <div *ngIf="numbers.length < maxFile" class="form-group">
                            <span (click)="addNewFile()"
                                class="btn-add-more btn-large" tabindex="21"><i
                                class="fa fa-plus-circle"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button pull-right" *ngIf="(!flagVCS && Action != 'comment') || Action=='new'">
                <button type="button" (click)="redirectToList()" class="btn btn-default" tabindex="25"><i class="icon-close"></i>Cancel
                </button>
                <button type="submit" [disabled]="showLoadingOverlay" *ngIf="!flagVCS && Action !='new'" class="btn btn-primary"><i
                        class="icon-check" tabindex="24"></i>Update
                </button>
                <button type="submit" [disabled]="showLoadingOverlay" *ngIf="Action=='new'" class="btn btn-primary"><i
                        class="icon-check" tabindex="24"></i>Save
                </button>
            </div>
            <div class="button pull-right" *ngIf="IsView">
                <button type="button" (click)="printRequestSlip()" class="btn btn-default" tabindex="26">
                    <i class="icon-printer"></i>Print Order Request Slip
                </button>
                <button *ngIf="allowPickingSlip" type="button" (click)="printPickingSlip()" class="hidden btn btn-default" tabindex="26">
                    <i class="icon-printer"></i>Print Order Picking Slip
                </button>
                <button *ngIf="allowPickingSlip" type="button" (click)="printPackingSlip()" class="btn btn-default" tabindex="26">
                    <i class="icon-printer"></i>Print Order Packing Slip
                </button>
                <button *ngIf="canUndoPackCartons && (_orderDetail['odr_sts_key']=='PN' || _orderDetail['odr_sts_key']=='PA')" type="button" (click)="undoPackCartons()" class="btn btn-danger" tabindex="26">
                    <i class="icon-action-undo"></i>Unpack Cartons
                </button>
            </div>
        </form>
        <goBack *ngIf="IsView"></goBack>
    </div>
</div><!-- /allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
<third-party-form-directive *ngIf="ODForm"
                            (messages)="messages=$event"
                            [cusId]="ODForm.value['cus_id']"
                            [action]="'add'"
                            [openForm]="openFormThirdParty">
</third-party-form-directive>
