<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block zone-management">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="Loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form *ngIf="userDepartmentForm" class="form-horizontal form-style clearfix" [ngFormModel]="userDepartmentForm"
          (ngSubmit)="Action!='view' && Save(userDepartmentForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-area">
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(usr_dpm_code.control.touched || submitted) && usr_dpm_code.control.errors">
                                <label class="">Department Code<span *ngIf="!isView"
                                                                     class="txt-required">(*)</span></label>
                                <input tabindex="1" type="text" minlength="2" maxlength="3" class="form-control" #usr_dpm_code="ngForm"
                                       ngControl="usr_dpm_code" [readonly]="userDepartmentId"
                                       (blur)="detectControlErr(usr_dpm_code)" required>

                                <p *ngIf="usr_dpm_code.errors && usr_dpm_code.errors.error_messages" class="error">
                                    Department Code {{ (usr_dpm_code.errors.error_messages) }}
                                </p>
                                <p *ngIf="usr_dpm_code.control.touched && usr_dpm_code.control.hasError('invalidLength2Or3')" class="error">
                                    Department Code only contains 2 or 3 characters, no special characters
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(usr_dpm_name.control.touched || submitted) && usr_dpm_name.control.errors">
                                <label class="">Department Name <span *ngIf="!isView"
                                                                     class="txt-required">(*)</span></label>
                                <input tabindex="2" type="text" maxlength="20" class="form-control" #usr_dpm_name="ngForm"
                                       ngControl="usr_dpm_name" [readonly]="IsView"
                                       (blur)="detectControlErr(usr_dpm_name)" required>

                                <p *ngIf="usr_dpm_name.errors && usr_dpm_name.errors.error_messages" class="error">
                                    Department Name {{ (usr_dpm_name.errors.error_messages) }}<br>
                                </p>
                                <p *ngIf="usr_dpm_name.control.touched && usr_dpm_name.control.hasError('invalidNameStr')" class="error">
                                    Department Name should only contain alphanumeric, space, hyphen and underscore.<br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Description</label>
                                <textarea tabindex="3" name="" ngControl="usr_dpm_des" maxlength="255" rows="3"
                                          [readonly]="IsView" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="button pull-right" *ngIf="!IsView">
                            <button type="button" (click)="Cancel()" class="btn btn-default" tabindex="5"><i
                                    class="icon-close"></i>Cancel
                            </button>
                            <button type="submit" *ngIf="Action=='new'" class="btn btn-primary" tabindex="4"><i
                                    class="icon-check"></i>Save
                            </button>
                            <button type="submit" *ngIf="Action=='edit'" class="btn btn-primary"><i
                                    class="icon-check" tabindex="4"></i>Update
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="IsView">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tabUser">Users</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="clearfix tab-pane fade active in" id="tabUser">
                                <div class="table">
                                    <div class="table-style1 table-responsive">
                                        <div class="filter table-list-head clearfix">
                                            <div class="form-inline">
                                                <label>Show</label>
                                                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="7">
                                                    <option value="20" selected>20</option>
                                                    <option value="30">30</option>
                                                    <option value="40">40</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th title="Status" [class.sorting-desc]="!fieldsToSortFlag['status']&&countClick['status']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['status']&&countClick['status']!=3"
                                                    [class.sorting]="countClick['status']==3" (click)="sort('status')">Status</th>
                                                <th title="Employee Code" [class.sorting-desc]="!fieldsToSortFlag['emp_code']&&countClick['emp_code']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['emp_code']&&countClick['emp_code']!=3"
                                                    [class.sorting]="countClick['emp_code']==3" (click)="sort('emp_code')">Employee Code</th>
                                                <th title="User Name" [class.sorting-desc]="!fieldsToSortFlag['username']&&countClick['username']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['username']&&countClick['username']!=3"
                                                    [class.sorting]="countClick['username']==3" (click)="sort('username')">User Name</th>
                                                <th title="First Name" [class.sorting-desc]="!fieldsToSortFlag['first_name']&&countClick['first_name']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['first_name']&&countClick['first_name']!=3"
                                                    [class.sorting]="countClick['first_name']==3" (click)="sort('first_name')">First Name</th>
                                                <th title="Last Name" [class.sorting-desc]="!fieldsToSortFlag['last_name']&&countClick['last_name']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['last_name']&&countClick['last_name']!=3"
                                                    [class.sorting]="countClick['last_name']==3" (click)="sort('last_name')">Last Name</th>
                                                <th title="Email" [class.sorting-desc]="!fieldsToSortFlag['email']&&countClick['email']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['email']&&countClick['email']!=3"
                                                    [class.sorting]="countClick['email']==3" (click)="sort('email')">Email</th>
                                                <th title="Created at" [class.sorting-desc]="!fieldsToSortFlag['created_at']&&countClick['created_at']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['created_at']&&countClick['created_at']!=3"
                                                    [class.sorting]="countClick['created_at']==3" (click)="sort('created_at')">Created at</th>
                                                <th title="Updated at" [class.sorting-desc]="!fieldsToSortFlag['updated_at']&&countClick['updated_at']!=3"
                                                    [class.sorting-asc]="fieldsToSortFlag['updated_at']&&countClick['updated_at']!=3"
                                                    [class.sorting]="countClick['updated_at']==3" (click)="sort('updated_at')">Updated at</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let item of userList | paginate: {id :'items_pagin', itemsPerPage: perPage, currentPage:p }">
                                                <td>{{item.status}}</td>
                                                <td>{{item.emp_code}}</td>
                                                <td><a href="#/users/{{item.user_id}}">{{item.username}}</a></td>
                                                <td>{{item.first_name}}</td>
                                                <td>{{item.last_name}}
                                                <td>{{item.email}}</td>
                                                <td>{{item.created_at}}</td>
                                                <td>{{item.updated_at}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p *ngIf="userList.length==0">No Results Found.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="clearfix">
        <div class="pull-left">
            <goBack *ngIf="IsView"></goBack>
        </div>
        <div class="pull-right">
            <pagination-controls
                    (statePagin)="statePagin=$event"
                    (pageChange)="p = $event" id="items_pagin" autoHide="true">
            </pagination-controls>
        </div>
    </div>
<!--    <goBack *ngIf="IsView"></goBack>-->
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
