<div class="top-layout clearfix">
  <h2>Reports</h2>
</div>
<div class="layout-block clearfix">
  <ul class="nav report-block ">
    <li class="col-md-6">
      <div class="area-block">
        <h3>Receiving</h3>
        <ul>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchReceivedContainer" target="_blank">
              All ASNs</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchReceivedContainer" target="_blank">
              All Goods Receipts</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchReceivedContainer/status/Alert" target="_blank">
              Alert Goods Receipts</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchReceivedContainer/status/OK" target="_blank">
              Ok Goods Receipts</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/receivingDetails/inTransit/Complete" target="_blank">
              Goods Receipts in-transit complete</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/receivingDetails/inTransit/Incomplete" target="_blank">
              Goods Receipts in-transit in-complete</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/receivingDetails/received/Complete" target="_blank">
              Goods Receipts received complete</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/receivingDetails/received/Incomplete" target="_blank">
              Goods Receipts received in-complete</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/receivingDetails" target="_blank">
              All Putway</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/receivingDetails/racked/Complete" target="_blank">
              Putway on rack complete</a>
          </li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/receivingDetails/racked/Incomplete" target="_blank">
              Putway on rack in-complete</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="col-md-6">
      <div class="area-block">
        <h3>Orders</h3>
        <ul>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder" target="_blank">All Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/shippingAlerts" target="_blank">Shipping Alerts</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/shippingOrders" target="_blank">Shipping Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Casepack%20DC" target="_blank">Casepack DC Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Casepack%20DTS" target="_blank">Casepack DTS Orders </a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Consumer%20Fast%20Pack" target="_blank">Consumer Fast Pack Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Consumer%20Pick%20%26%20Pack" target="_blank">Consumer Pick & Pack Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Destuff%20Container%20To%20Orders" target="_blank">Destuff Container To Orders Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Pick%20%26%20Pack%20Cross%20Dock" target="_blank">Pick & Pack Cross Dock Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Pick%20%26%20Pack%20DC" target="_blank">Pick & Pack DC Orders</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchOrder/orderType/Pick%20%26%20Pack%20DTS" target="_blank">Pick & Pack DTS Orders</a></li>
        </ul>
      </div>
    </li>
    <li class="col-md-6">
      <div class="area-block">
        <h3>Inventory</h3>
        <ul>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchAvailableInventory" target="_blank">Available Inventory</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchInventoryControl" target="_blank">Inventory Control</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchContainerSKUs" target="_blank">Container SKUs</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/searchCartons" target="_blank">Carton History</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a href="http://cp.seldatdirect.com/site/#/client-portal/summaryReport" target="_blank">Inventory Summary</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a>Cycle Count</a></li>
          <li><i class="icon-arrow-right-circle"></i>
            <a>Inventory Count</a></li>
        </ul>
      </div>
    </li>
    <li class="col-md-6">
      <div class="area-block">
        <h3>Reports</h3>
        <ul>
            <li *ngFor="let caption of links.report">
                <i class="icon-arrow-right-circle"></i>
                <a (click) = "linkClick($event.target.innerHTML)">{{caption}}</a>
            </li>
        </ul>
      </div>
    </li>
    <li class="col-md-6">
      <div class="area-block">
        <h3>Warehouse Movements</h3>
        <ul>
          <li><i class="icon-arrow-right-circle"></i>
            <a>Fontana to Los Angeles</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>Fontana to New Jersey</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>Fontana to Toronto</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>Los Angeles to Fontana</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>Los Angeles to New Jersey</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>Los Angeles to Toronto</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>New Jersey to Los Angeles</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>New Jersey to Fontana</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>New Jersey to Toronto</a></li>
          <li><i class="icon-arrow-right-circle"></i>
          <a>Toronto to Fontana</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>