<div class="table-list-head clearfix" *ngIf="masterPalletList.length > 0">
    <div class="form-inline pull-left">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event, 'master-pallet')" class="form-control">
            <option value="20" selected>20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
    </div>
</div>
<div class="table-style1">
    <table class="table table-bordered table-hover small-padding-table">
        <thead>
        <tr>
            <th>LPN</th>
            <th>Mixed Order</th>
            <th>CTNS</th>
            <th>Location</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of masterPalletList; let i = index">
            <td>{{item.plt_num}}</td>
            <td>{{item.mixed_order}}</td>
            <td>{{item.ctns}}</td>
            <td>{{item.loc_name}}</td>
            <td>{{item.ship_sts_name}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="8">
                <p *ngIf="masterPalletList.length==0&&!showLoadingOverlay">No Results Found.</p>
                <div class="pull-right margin-top5 color-gray">
                    <wms-pagination
                            [perPage]="perPage"
                            [paginData]="Pagination"
                            (pageChange)="getMasterPalletList($event)"
                    ></wms-pagination>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>