<div class="area-block clearfix">
    <form class="form-horizontal form-style">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Label</th>
                <th>Qty</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let item of dataLabeling; let i=index">
                <td>
                    {{item['label']}}
                </td>
                <td>
                    {{item['qty']}}
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>