<div class="col-md-6 form-style">
  <h4>Profile</h4>
  <p><b>User name : </b>{{profileData.username}}</p>
  <p><b>First Name : </b>{{profileData.first_name}}</p>
  <p><b>Last Name : </b>{{profileData.last_name}}</p>
  <p><b>Email : </b>{{profileData.email}}</p>
  <p><b>Phone : </b>{{profileData.phone}}</p>
  <p><b>Extension : </b>{{profileData.phone_extend}}</p>
  <p><b>Mobile : </b>{{profileData.mobile}}</p>
</div>
