<div class="top-layout clearfix">
<h2>Charge Code List</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block charge-code-management">
    <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <div class="search-form six-column">
        <form class="clearfix form-inline" [ngFormModel] = "searchForm" (submit)="search(searchForm.value)">
            <div class="form-group">
                <label>Charge Code</label>
                <input tabindex="1" type="text"  class="form-control" placeholder="" ngControl="chg_code" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Charge Type</label>
                <input tabindex="2" type="text" maxlength="50" class="form-control" placeholder="" ngControl="chg_type_name" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>UOM Name</label>
                <input tabindex="3" type="text" maxlength="50" class="form-control" placeholder="" ngControl="chg_uom_name" autocomplete="off"/>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="resetSearch(searchForm.value)" tabindex="5"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue" tabindex="4"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/master-data/charge-code/new" tabindex="7"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="8"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="editSelectedItem()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a>Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show:</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="6">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-8 no-padding">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="column-checkbox"><input type="checkbox" (change)="checkAll($event)" [(ngModel)]="selectedAll"></th>

                    <th [class.sorting-desc]="!FieldsToSortFlag['chg_code']&&countClick['chg_code']!=3" [class.sorting-asc]="FieldsToSortFlag['chg_code']&&countClick['chg_code']!=3" [class.sorting]="countClick['chg_code']==3" (click)="sort('chg_code')"> Charge Code</th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['chg_type_name']&&countClick['chg_type_name']!=3" [class.sorting-asc]="FieldsToSortFlag['chg_type_name']&&countClick['chg_type_name']!=3" [class.sorting]="countClick['chg_type_name']==3" (click)="sort('chg_type_name')"> Charge Type</th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['chg_uom_name']&&countClick['chg_uom_name']!=3" [class.sorting-asc]="FieldsToSortFlag['chg_uom_name']&&countClick['chg_uom_name']!=3" [class.sorting]="countClick['chg_uom_name']==3" (click)="sort('chg_uom_name')"> UOM Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of chargeCodeList" [class.row-selected]="item.selected" (click)="checkSelectItem(item)">
                    <td><input type="checkbox" value="{{item.chg_code_id}}" [ngModel]="item?.selected"></td>
                    <td class="width150" title="{{item.chg_code}}"><a href="#/master-data/charge-codes/{{item.chg_code_id}}" >{{item.chg_code}}</a></td>
                    <td class="width120" title="{{item.chg_type_name}}">{{item.chg_type_name}}</td>
                    <td class="col-md-2">{{item.chg_uom_name}}</td>
                    <td>{{item.chg_code_des}}</td>
                </tr>
                </tbody>
            </table>
            <p *ngIf="chargeCodeList.length==0&&!loading.getChargeCode">No Results Found.</p>
            <p *ngIf="chargeCodeList.length==0&&loading.getChargeCode">Loading ... </p>
            </div>
        </div>
        <div class="pull-right">
            <div class="showing pull-left" *ngIf="chargeCodeList.length>0">
                Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) * perPage + chargeCodeList.length}}  of total {{Pagination?Pagination.total:0}}
            </div>
            <ul class="pagination pull-right" *ngIf = "Pagination && Pagination.total_pages > 1 && Pagination?.total > perPage">
                <li *ngIf="Pagination.current_page > Pagination.numLinks">
                    <a (click) = "filterList(1)"><i class="fa fa-step-backward"></i></a>
                </li>
                <li *ngIf="Pagination.current_page > 1">
                    <a (click) = "filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
                </li>

                <li *ngFor="let item of Pagination.tmpPageCount; " class="active" [class.active]="item==Pagination.current_page">
                    <a *ngIf="item != Pagination.current_page"  (click) = "filterList(item)">{{item}}</a>
                    <a *ngIf="item == Pagination.current_page">{{item}}</a>
                </li>
                <li *ngIf="Pagination.current_page < Pagination.total_pages">
                    <a (click) = "filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
                </li>
                <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
                    <a (click) = "filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i> </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
