<div class="top-layout clearfix">
    <h2>Zone Type List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block zone-type-management">
    <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <div class="search-form six-column clearfix">
        <form class="clearfix form-inline" id="form-filter" [ngFormModel]="SearchForm"
              (ngSubmit)="Search(SearchForm.value)">
            <div class="form-group">
                <label>Zone Type Code</label>
                <input tabindex="1" type="text" class="form-control" placeholder="" ngControl="zone_type_code"
                       name="zone-type-code"/>
            </div>
            <div class="form-group">
                <label>Zone Type Name</label>
                <input tabindex="2" type="text" class="form-control" placeholder="" ngControl="zone_type_name"
                       name="zone-type-name"/>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="4"><i
                        class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="3"><i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/master-data/zone-type/new"  tabindex="6"><i
                        class="icon-plus"></i>Add</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="7"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a (click)="Delete()">Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-7 no-padding">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="column-checkbox"><input (ngModelChange)="CheckAll($event)" [(ngModel)]="selectedAll"
                                                           type="checkbox"></th>
                        <th [class.sorting-desc]="!FieldsToSortFlag['zone_type_code']&&countClick['zone_type_code']!=3"
                            [class.sorting-asc]="FieldsToSortFlag['zone_type_code']&&countClick['zone_type_code']!=3"
                            [class.sorting]="countClick['zone_type_code']==3" (click)="sort('zone_type_code')">Zone Type
                            Code
                        </th>
                        <th [class.sorting-desc]="!FieldsToSortFlag['zone_type_name']&&countClick['zone_type_name']!=3"
                            [class.sorting-asc]="FieldsToSortFlag['zone_type_name']&&countClick['zone_type_name']!=3"
                            [class.sorting]="countClick['zone_type_name']==3" (click)="sort('zone_type_name')">Zone Type
                            Name
                        </th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of ZoneTypeList" [class.row-selected]="item.selected" (click)="checkSelectItem(item)">
                        <td><input type="checkbox" value="{{item.zone_type_id}}" [ngModel]="item?.selected"></td>
                        <td class="width150"><a href="#/master-data/zone-type/{{item.zone_type_id}}">{{item.zone_type_code}}</a>
                        </td>
                        <td class="width200">{{item.zone_type_name}}</td>
                        <td>{{item.zone_type_desc}}</td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="ZoneTypeList.length==0&&!Loading.getList">No Results Found.</p>
                <p *ngIf="ZoneTypeList.length==0&&Loading?.getList">Loading ... </p>
            </div>
        </div>
        <div class="pull-right">
            <div class="showing pull-left" *ngIf="ZoneTypeList.length>0">
                Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) *
                perPage + ZoneTypeList.length}} of total {{Pagination?Pagination.total:0}}
            </div>
            <ul class="pagination pull-right" *ngIf="Pagination&&Pagination.total_pages > 1">
                <li *ngIf="Pagination.current_page > Pagination.numLinks">
                    <a (click)="filterList(1)"><i class="fa fa-step-backward"></i></a>
                </li>
                <li *ngIf="Pagination.current_page > 1">
                    <a (click)="filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
                </li>

                <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
                    [class.active]="item==Pagination.current_page">
                    <a *ngIf="item != Pagination.current_page" (click)="filterList(item)">{{item}}</a>
                    <a *ngIf="item == Pagination.current_page">{{item}}</a>
                </li>

                <li *ngIf="Pagination.current_page < Pagination.total_pages">
                    <a (click)="filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
                </li>
                <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
                    <a (click)="filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i> </a>
                </li>
            </ul>
        </div>
        <!--<div class="pull-left export">-->
        <!--<label class="label-export">Export to:</label>-->
        <!--<a (click)="exportCsv()" class="csv"></a>-->
        <!--<a class="pdf" (click)="exportPdf()"></a>-->
        <!--</div>-->
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
