<h3>Room/Aisle Capacity
    <ul class="nav nav-tabs icon-chart-block" role="tablist">
        <li role="presentation" class="active"><a href="#room-list" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-list"></i></a></li>
        <li role="presentation"><a href="#room-chart" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i></a></li>
    </ul>
</h3>
<div class="dashboard-detail tab-content">
    <div role="tabpanel" class="tab-pane active" id="room-list">
        <div class="table-style-dashboard">
            <table class="table-dashboard table">
                <thead>
                <tr>
                    <th>Room</th>
                    <th>Used Location/Total Location</th>
                    <th>% (Used Location)/Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="total" >
                    <td>Total</td>
                    <td>{{totalLocationRoom?.used | wmsNumberFormatter}}/{{totalLocationRoom?.roomTotal | wmsNumberFormatter}}</td>
                    <td>{{totalLocationRoom?.percent | number : '1.2-2'}}%</td>
                </tr>
                <tr *ngFor = "let item of listDataRoomAdmin | paginate: {id :'addLocaPaginRoom', itemsPerPage: 4, currentPage:p }; let i = index">
                    <td class="text-uppercase">{{item?.room}}</td>
                    <td>{{item?.used | wmsNumberFormatter}}/{{item?.total | wmsNumberFormatter}}</td>
                    <td>{{item?.percent | number : '1.2-2'}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right paging">
            <div class="showing pull-left clearfix">
                <pagination-controls
                        (pageChange)="p = $event" id="addLocaPaginRoom" autoHide="true">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="room-chart">
        <div class="row">
            <div class="col-md-12">
                <canvas id="room-chart-wrapper"></canvas>
            </div>
        </div>
    </div>
</div>