<table-pagination>
    <div class="pull-right">
        <div class="showing pull-left" *ngIf="rowData?.length > 0">
            Showing from {{(Pagination?.current_page - 1) * perPage + 1}}
                      to {{(Pagination?.current_page - 1) * perPage + rowData.length}}
                      of total {{Pagination ? Pagination.total : 0}}
        </div>
        <ul *ngIf="Pagination?.total_pages > 1" class="pagination pull-right">
            <li *ngIf="Pagination.current_page > Pagination.numLinks">
                <a (click) = "filterList(1)"><i class="fa fa-step-backward"></i></a>
            </li>
            <li *ngIf="Pagination.current_page > 1">
                <a (click) = "filterList(Pagination.current_page-1)">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
            <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
                [class.active]="item==Pagination.current_page">
                <a *ngIf="item != Pagination.current_page" (click) = "filterList(item)">{{item}}</a>
                <a *ngIf="item == Pagination.current_page">{{item}}</a>
            </li>
            <li *ngIf="Pagination.current_page < Pagination.total_pages">
                <a (click) = "filterList(Pagination.current_page + 1)">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
            <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
                <a (click) = "filterList(Pagination.total_pages)">
                    <i class="fa fa-step-forward"></i>
                </a>
            </li>
        </ul>
    </div>
</table-pagination>
