<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>{{TitlePage}}</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block create-zone">
        <div *ngIf="messages">
            <div class="alert alert-{{messages.status}}">
                <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
                <span [innerHTML]="messages.txt"></span>
            </div>
        </div>

        <form *ngIf="ItemMasterForm" class="clearfix form-horizontal form-style" [ngFormModel]="ItemMasterForm"
              (ngSubmit)="save(ItemMasterForm.value)" novalidate>
            <div class="area-block clearfix">
                <div class="row">
                    <div class="col-md-2"  *ngIf="Action=='View'">
                        <div class="form-group">
                            <label class="">Item ID</label>
                            <input tabindex="1"  type="text" maxlength="50" readonly ngControl="item_id" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"
                            [class.error-style]="(Cus.control.touched||showError)&&Cus.control.hasError('required')">
                            <label>Customer <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                            <select tabindex="2" [disabled]="IsView || disableEdit" class="form-control" ngControl="cus_id"
                                #Cus="ngForm" (change)="onChangeCustomer($event.target.value)" required>
                                <option value="">Select one value</option>
                                <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}</option>
                            </select>
                            <p *ngIf="(Cus.control.touched||showError)&&Cus.control.hasError('required')"
                               class="error">
                                Customer is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2"  *ngIf="Action=='Edit'">
                        <div class="form-group">
                            <label class="">Item ID</label>
                            <input tabindex="4" type="text" maxlength="50"  ngControl="item_id"
                                   readonly class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"
                             [class.error-style]="(Sku.control.touched||showError)&&Sku.control.errors">
                            <label class="">SKU <span *ngIf="!IsView" class="txt-required">(*)</span></label><!--||isAddFromPopup-->
                            <input tabindex="5" type="text" maxlength="50" #Sku="ngForm" ngControl="sku"
                                   [disabled]="IsView || disableEdit ||!Cus.value ||Action=='Edit'" class="form-control" (blur)="checkExisted($event.target, Cus.value)">
                            <p *ngIf="(Sku.control.touched||showError)&&Sku.control.hasError('required')||Sku.control.hasError('invalidSpace')"
                               class="error">
                                SKU is required.
                            </p>
                            <p *ngIf="(Sku.control.touched||showError)&&Sku.control.hasError('existed')"
                                class="error">
                                SKU is existed.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"
                             [class.error-style]="(PackSize.control.touched||showError)&&PackSize.control.errors">
                            <label>Pack Size <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                            <input tabindex="14" type="text" (keypress)="checkInputNumber($event,true)"
                                (keyup)="checkPackSize($event.target.value)"
                                [disabled]="IsView || disableEdit || !Cus.value || disableTotalPackSize" maxlength="3" class="form-control"
                                #PackSize="ngForm" ngControl="pack">
                            <p *ngIf="(PackSize.control.touched||showError)&&PackSize.control.hasError('isZero')"
                               class="error">
                                Pack Size must be greater than 0
                            </p>
                            <p *ngIf="(PackSize.control.touched||showError)&&PackSize.control.hasError('invalidInt')"
                               class="error">
                                Pack Size must be integer.
                            </p>
                            <p *ngIf="(PackSize.control.touched||showError)&&PackSize.control.hasError('required')"
                               class="error">
                                Pack Size is required.
                            </p>
                            <p *ngIf="(PackSize.control.touched||showError)&&PackSize.control.hasError('invalidPacksize')"
                               class="error">
                                Packsize of outer item must be equal to total Pack of inner items.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="IsView || isEdit">
                        <div class="form-group">
                            <label>Status</label>
                            <input class="form-control" [readonly]="true" type="text" ngControl="status">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"
                             [class.error-style]="(Size.control.touched||showError)&&Size.control.hasError('required') ||Size.control.hasError('invalidSpace')">
                            <label>Size</label>
                            <input tabindex="6" [readonly]="IsView || disableEdit ||!Cus.value" maxlength="30" type="text" class="form-control"
                                   #Size="ngForm" ngControl="size">
                            <p *ngIf="(Size.control.touched||showError)&&Size.control.hasError('required')||Size.control.hasError('invalidSpace')"
                               class="error">
                                Size is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"
                             [class.error-style]="(Color.control.touched||showError)&&Color.control.hasError('required')||Color.control.hasError('invalidSpace')">
                            <label>Color</label>
                            <input tabindex="7" type="text" maxlength="30" [disabled]="IsView || disableEdit || !Cus.value" type="text"
                                   #Color="ngForm" ngControl="color" class="form-control">
                            <p *ngIf="(Color.control.touched||showError)&&Color.control.hasError('required')||Color.control.hasError('invalidSpace')"
                               class="error">
                                Color is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2" hidden>
                        <div class="form-group"
                           [class.error-style]="Inner_pack.control.errors">
                            <label class="">CTNS/Pallet</label>
                            <input tabindex="3" type="text" #Inner_pack="ngForm" ngControl="inner_pack" (keypress)="checkInputNumber($event)"
                                [disabled]="IsView || (Action == 'Edit' && Detail['inner_pack']) || !Cus.value" maxlength="12" class="form-control">

                            <p *ngIf="Inner_pack.control.hasError('invalidInt')" class="error">
                                CTNS/Pallet must be integer
                             </p>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group"
                           [class.error-style]="Cus_upc.control.errors">

                            <label class="">UPC</label>
                            <input tabindex="3" type="text" #Cus_upc="ngForm" ngControl="cus_upc" (keypress)="checkInputNumber($event)"
                                [disabled]="IsView || (Action == 'Edit' && Detail['cus_upc']) ||!Cus.value" maxlength="12" class="form-control">
                        <p *ngIf="Cus_upc.control.hasError('invalid_UPC_length')"
                           class="error">
                          UPC must contain 12 digit numbers.
                        </p>
                        <p *ngIf="Cus_upc.control.hasError('invaild_UPC_code')"
                           class="error">
                          UPC is invalid.
                        </p>
                        </div>
                    </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group"
                                 [class.error-style]="(Length.control.touched||showError)&&Length.control.errors">
                                <label>Length</label>
                                <input tabindex="9" maxlength="9" [disabled]="IsView || !Cus.value"
                                       (keypress)="checkInputNumber($event)" type="text" class="form-control"
                                       #Length="ngForm" ngControl="length">

                                <p *ngIf="(Length.control.touched||showError)&&Length.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Length is invalid. Maximum is 999.99999
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"
                                 [class.error-style]="(Width.control.touched||showError)&&Width.control.errors">
                                 <label>Width</label>
                                <input tabindex="10" type="text" maxlength="9" (keypress)="checkInputNumber($event)"
                                       type="text" [disabled]="IsView||!Cus.value"
                                       #Width="ngForm" ngControl="width" class="form-control">

                                <p *ngIf="(Width.control.touched||showError)&&Width.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Width is invalid. Maximum is 999.99999
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"
                                 [class.error-style]="(Height.control.touched||showError)&&Height.control.errors">
                                <label>Height</label>
                                <input tabindex="11" (keypress)="checkInputNumber($event)"
                                       maxlength="9" type="text" [disabled]="IsView||!Cus.value" class="form-control"
                                       #Height="ngForm" ngControl="height">

                                <p *ngIf="(Height.control.touched||showError)&&Height.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Height is invalid. Maximum is 999.99999
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"
                                 [class.error-style]="(Weight.control.touched||showError)&&Weight.control.errors">
                                <label>Weight </label>
                                <input tabindex="12" type="text" [disabled]="IsView||!Cus.value"
                                       (keypress)="checkInputNumber($event)"
                                       maxlength="9" class="form-control" #Weight="ngForm" ngControl="weight">

                                <p *ngIf="(Weight.control.touched||showError)&&Weight.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Weight is invalid. Maximum is 999999.99
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" [class.error-style]="(uom_id.control.touched||showError)&&uom_id.control.errors">
                        <label>UOM</label>
                        <select tabindex="13" #uom_id="ngForm" [disabled]="IsView || disableEdit || !Cus.value" class="form-control"
                            (change)="onChangeUOM($event.target.value)" ngControl="uom_id">
                            <option value="">Select one value</option>
                            <option *ngFor="let item of uomList" [value]="item.sys_uom_id">{{item.sys_uom_name}}</option>
                        </select>
                        <p *ngIf="(uom_id.control.touched||showError)&&uom_id.control.hasError('required')"
                               class="error">
                            UOM is required.
                        </p>
                        <p *ngIf="(uom_id.control.touched||showError)&&uom_id.control.hasError('invalidUOM')"
                               class="error">
                            UOM Level of outer carton must be greater than UOM Level of inner carton.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" [class.error-style]="imageFileRequiredError && !isEdit || imageFileExtensionError && !isEdit">
                        <div class="form-group file-input">
                            <label for="image-file-input">Image <span *ngIf="!IsView && !isEdit" class="txt-required">(*)</span></label>
                            <input class="form-control" *ngIf="!IsView && !isEdit" type="file" (change)="changeImageFile($event)" id="image-file-input" #imageFileView>
                            <div *ngIf="IsView || isEdit" class="form-control"><a (click)="showPicture()">View</a></div>
                        </div>

                        <p *ngIf="imageFileRequiredError && !isEdit" class="error">
                            Image is required.
                        </p>
                        <p *ngIf="imageFileExtensionError && !isEdit" class="error">
                            Only upload image!
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- <div class="form-group" [class.error-style]="(desc.control.touched||showError)&&desc.control.errors">
                        <label>Description<span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <textarea tabindex="15" #desc="ngForm" [disabled]="IsView || !Cus.value || isItemApproved" maxlength="255" ngControl="description" rows="1"
                                  class="form-control"></textarea>
                        <p *ngIf="(desc.control.touched||showError)&&desc.control.hasError('required')" class="error">
                            Description is required.
                        </p>
                    </div> -->
                    <div class="form-group" style="position:relative;" [class.error-style]="(desc.control.touched||showError)&&desc.control.errors">
                        <label>Description <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <textarea ngControl="description"  #desc="ngForm" [disabled]="IsView || !Cus.value || isItemApproved" maxlength="255"
                        tabindex="17" id="description" type="text" placeholder="Autocomplete"
                                (ngModelChange)="autoCompleteDesc($event)" autocomplete="off" class="form-control dropdown-toggle" data-toggle="dropdown" rows="1"></textarea>

                        <ul class="dropdown-menu autocomplete">
                            <span class="icon-loading-search-complete" *ngIf="showAutocompleteLoading" ><img src="/assets/images/loading.gif"></span>
                            <li *ngFor="let item of autoSearchDesc" (click)="selectDesc(item.description)">
                                {{item.description}}
                            </li>
                        </ul>
                        <p *ngIf="(desc.control.touched||showError)&&desc.control.hasError('required')" class="error">
                            Description is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                        <div class="form-group" [class.error-style]="isSubmit && !specHangling['RAC'] && !specHangling['SHE'] && !specHangling['BIN']">
                            <label>Special Handling <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                            <div>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="cb-rac" [disabled]="IsView || disableEdit || !Cus.value"  tabindex="14" [(ngModel)]="specHangling['RAC']" > Rack
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="cb-she" [disabled]="IsView || disableEdit || !Cus.value"  tabindex="15" [(ngModel)]="specHangling['SHE']" > Shelf
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="cb-bin" [disabled]="IsView || disableEdit || !Cus.value"  tabindex="16" [(ngModel)]="specHangling['BIN']" > Bin
                                </label>
                            </div>
                            <p *ngIf="isSubmit && !specHangling['RAC'] && !specHangling['SHE'] && !specHangling['BIN']" class="error">
                                Special Handling is required.
                            </p>
                            <!-- <select [disabled]="IsView || disableEdit || !Cus.value" class="form-control" ngControl="spc_hdl_code" tabindex="14">
                                <option value="RAC">Rack</option>
                                <option value="SHE">Shelf</option>
                                <option value="BIN">Bin</option>
                            </select> -->

                        </div>
                    </div>
                    </div>
            </div>

            <ul class="nav nav-tabs">
                <!-- <li *ngIf="IsView" class="active in">
                    <a data-toggle="tab" href="#tabPackType">Packs</a>
                </li> -->
                <li class="active in">
                    <a data-toggle="tab" href="#tabInnerItems">Inner Items</a>
                </li>
                <!--<li *ngIf="idDetail">
                    <a data-toggle="tab" href="#tabDocument">Document</a>
                </li>-->
                <li *ngIf="false" [class.hidden]="!showPackingLevelTab" class="active"><a data-toggle="tab" href="#packingLevel">Package</a></li>
            </ul>

            <div class="tab-content">
                <div ngControlGroup="innerItems" class="clearfix tab-pane fade in active" id="tabInnerItems">
                    <div class="table-list-head clearfix">
                        <div *ngIf="!IsView" class="input-group pull-right">
                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                class="btn btn-group dropdown-toggle" type="button">
                                <i class="icon-settings" tabindex="23"></i>Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a (click)="deleteItem(innerItemsArray)">
                                    <i class="icon-trash"></i>Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-style2 clearfix">
                        <table class="table editable table-bordered small-padding-table">
                            <thead>
                                <tr>
                                    <th *ngIf="!IsView" class="column-checkbox">
                                        <input [disabled]="!innerItemsInfo.length"
                                            (ngModelChange)="fbFunc.CheckAll(innerItemsArray,$event)"
                                            [ngModel]="innerItemsArray?.selectedAll"
                                            type="checkbox"/>
                                    </th>
                                    <th>Item ID</th>
                                    <th>SKU <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>UOM</th>
                                    <th hidden>Inner Pack <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                    <th>Pack <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of innerItemsInfo; let i=index;"
                                    ngControlGroup="{{i}}">
                                    <!-- /(change)="Selected($event,item,'innerItems')"  -->
                                    <td *ngIf="!IsView">
                                        <input
                                            (change)="fbFunc.Selected(innerItemsArray, item, $event)"
                                            [ngModel]="item.selected" type="checkbox">
                                    </td>
                                    <td>
                                        <input type="text" disabled class="form-control" #Item_id="ngForm" ngControl="item_id">
                                    </td>
                                    <td class="autocomplete-style">
                                        <div class="form-group" [class.error-style]="(Sku.control.touched||showError) && Sku.control.errors">
                                            <!-- SKU auto complete -->
                                            <div class="dropdown dropdown-autosearch">
                                                <span class="waiting" *ngIf="item['showLoading']">
                                                    <img src="/assets/images/loading.gif">
                                                </span>
                                                <input maxlength="20" [disabled]="IsView||disableEdit"
                                                    #Sku="ngForm" placeholder="Autocomplete..."
                                                    [ngModel]="item.value.sku"
                                                    (ngModelChange)="autocompleteSKU(i,$event,'sku',1,true)"
                                                    ngControl="sku" class="form-control dropdown-toggle"
                                                    type="text" data-toggle="dropdown" tabindex="24"/>

                                                <div class="dropdown-menu">
                                                    <div tabindex="-1" class="list-group list-table"
                                                         [currentPage]="item?.current_page"
                                                         [paginData]="item['paginData']"
                                                         (updated)="autocompleteSKU(i,item.value.sku,'sku',$event,false)"
                                                         infinite-scroll-autocomplete>
                                                        <table>
                                                            <thead>
                                                            <tr>
                                                                <th class="nowrap" width="10%">SKU</th>
                                                                <th width="10%">Size</th>
                                                                <th width="10%">Color</th>
                                                                <th width="10%">Pack</th>
                                                                <th width="10%">UOM</th>
                                                                <th class="nowrap" width="50%">Description</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody *ngIf="item?.autoSearchData?.length">
                                                            <tr  *ngFor="let itemId of item.autoSearchData; let i2 = index" (click)="item['chooseSku'] = false; selectedItem(innerItemsArray, i, itemId);">
                                                                <td width="10%"><a>{{itemId.sku}}</a></td>
                                                                <td width="10%"><a>{{itemId.size}}</a></td>
                                                                <td width="10%"><a>{{itemId.color}}</a></td>
                                                                <td width="10%"><a>{{itemId.pack}}</a></td>
                                                                <td width="10%"><a>{{itemId.uom_name}}</a></td>
                                                                <td width="50%"><a>{{itemId.des}}</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                            <p *ngIf="(Sku.control.touched || showError )&&Sku.control.hasError('required')"
                                                class="error">
                                                SKU is required.
                                            </p>
                                            <p *ngIf="(Sku.control.touched || showError )&&Sku.control.hasError('invaildValue')"
                                                class="error">
                                                SKU is not existed.
                                            </p>
                                            <p *ngIf="(Sku.control.touched || showError )&&Sku.control.hasError('duplicated')"
                                                class="error">
                                                Item is duplicated.
                                            </p>

                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" disabled class="form-control" #Size="ngForm" ngControl="size">
                                    </td>
                                    <td>
                                        <input type="text" disabled class="form-control" #Color="ngForm" ngControl="color">
                                    </td>
                                    <td>
                                        <div class="form-group" [class.error-style]="(Item_uom_id.control.touched||showError) && Item_uom_id.control.hasError('required')">
                                            <select disabled class="form-control" #Item_uom_id="ngForm" ngControl="uom_id">
                                                <option value="">Select one value</option>
                                                <option *ngFor="let uom of uomList"
                                                        value="{{uom.sys_uom_id}}">
                                                    {{uom.sys_uom_name}}
                                                </option>
                                            </select>
                                            <p *ngIf="(Item_uom_id.control.touched||showError)&&Item_uom_id.control.hasError('required')"
                                                class="error">
                                                UOM is required.
                                            </p>
                                        </div>
                                    </td>
                                    <td hidden>
                                        <div class="form-group" [class.error-style]="(Inner_pack.control.touched||showError) && Inner_pack.control.hasError('required')">
                                            <input type="text" class="form-control" #Inner_pack="ngForm" ngControl="inner_pack"
                                                (keypress)="checkInputNumber($event)" [disabled]="IsView||disableEdit">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" [class.error-style]="(Pack.control.touched||showError) && Pack.control.hasError('required')">
                                            <input type="text" class="form-control" #Pack="ngForm" ngControl="pack" [disabled]="IsView||disableEdit"
                                                (keypress)="checkInputNumber($event)" (keyup)="updateTotalPackSize()">
                                            <p *ngIf="(Pack.control.touched||showError)&&Pack.control.hasError('required')"
                                                class="error">
                                                Pack is required.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="text-center" *ngIf="!IsView">
                                    <td class="add-more">
                                        <span (click)="newItem(innerItemsArray)" class="button-add">
                                            <i class="fa  fa-plus-circle" tabindex="25"></i>
                                        </span>
                                    </td>
                                    <td *ngIf="IsView" colspan="6"></td>
                                    <td *ngIf="!IsView" colspan="7"></td>
                                </tr>
                                <tr><td *ngIf="!IsView" colspan="7"><p *ngIf="!innerItemsInfo.length&&IsView">No Results Found.</p></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="IsView&&false" class="clearfix tab-pane fade active in" id="tabPackType">
                    <div class="table-style2 clearfix">
                        <table class="table table-bordered small-padding-table">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Pack</th>
                                    <th>Length</th>
                                    <th>Width</th>
                                    <th>Height</th>
                                    <th>Weight</th>
                                    <th>UOM</th>
                                    <th>Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of packItems; let i=index;">
                                    <td>{{item.sku}}</td>
                                    <td>{{item.size}}</td>
                                    <td>{{item.color}}</td>
                                    <td>{{item.pack}}</td>
                                    <td>{{item.length}}</td>
                                    <td>{{item.width}}</td>
                                    <td>{{item.height}}</td>
                                    <td>{{item.weight}}</td>
                                    <td>{{item.uom_name}}</td>
                                    <td>{{item.level_id}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div *ngIf="idDetail" class="clearfix tab-pane fade" id="tabDocument">
                    <div class="table-style1 table-responsive">
                        <dms-in [doc_type]="'ITM'" [group]="'ITEM-MASTER'" [trans]="ItemMasterForm.value['item_id']"></dms-in>
                    </div>
                </div>-->
                <div *ngIf="false" [class.hidden]="!showPackingLevelTab" class="clearfix tab-pane fade in active" id="packingLevel">
                    <div class="table-style2 table-print">
                        <table class="table table-bordered editable table-hover small-padding-table width360">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>UOM <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                    <th>Pack Size <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                </tr>
                            </thead>
                            <tbody ngControlGroup="item_hier">
                                <tr *ngFor="let item of item_hier; let i=index;" ngControlGroup="{{i}}">
                                    <td class="width70">{{'Level ' + (i + 1)}}</td>
                                    <td class="width200">
                                        <div class="form-group" [class.error-style]="(pkg_code.control.touched||showError)&&pkg_code.control.errors">
                                            <select class="form-control" ngControl="uom_code" #pkg_code="ngForm" (change)="validateGroup(i)" [disabled]="IsView">
                                            <option value="">Select one value</option>
                                            <option *ngFor="let pack of packingLevelDropdown[i+1]?.details" value="{{pack.pkg_code}}">{{pack.pkg_name}}</option>
                                          </select>
                                            <p *ngIf="(pkg_code.control.touched||showError)&&pkg_code.control.hasError('required')" class="error">
                                                Packing Name is required.
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" [class.error-style]="(pack.control.touched||showError)&&pack.control.errors">
                                            <input ngControl="pack" #pack="ngForm" maxlength="3" (keypress)="checkInputNumber($event,true)" (input)="validateGroup(i)"
                                                class="form-control" type="text" [disabled]="IsView || i == 0" />
                                            <p *ngIf="(pack.control.touched||showError)&&pack.control.hasError('required')" class="error">
                                                Units/Pack is required.
                                            </p>
                                            <p *ngIf="(pack.control.touched||showError)&&pack.control.hasError('isZero')" class="error">
                                                Units/Pack must be greater than 0
                                            </p>
                                            <p *ngIf="(pack.control.touched||showError)&&pack.control.hasError('invalidInt')" class="error">
                                                Units/Pack must be integer.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div *ngIf="!IsView" class="button pull-right">
                <button type="button" (click)="cancel()" class="btn btn-default" tabindex="17"><i class="icon-close"></i>Cancel
                </button>
                <button type="submit" *ngIf="Action=='New'" class="btn btn-primary" tabindex="16"><i class="icon-check"></i>Save
                </button>
                <button type="submit" *ngIf="Action=='Edit'" class="btn btn-primary" tabindex="16"><i class="icon-note"></i>Update <!--[disabled]="!isItemApproved"-->
                </button>
                <button type="button" *ngIf="Action=='Edit' && !isItemApproved" (click)="save(ItemMasterForm.value, true)" class="btn btn-primary" tabindex="16"><i class="icon-check"></i>Approve</button>
            </div>
        </form>
        <goBack *ngIf="IsView"></goBack>
    </div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<!-- Picture modal -->
<div id="pictureModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-style-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{Detail ? Detail['sku'] : ''}}</h4>
            </div>

            <div class="modal-body"><img [src]="itemImageURL" width="100%" /></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close</button>
            </div>
        </div>
    </div>
</div>
