<div class="top-layout clearfix">
    <h2>Work Order List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form eight-column">
        <form class="clearfix form-inline" id="invoiceForm" [ngFormModel]="searchForm"  (ngSubmit)="Search()">
            <div class="form-group">
                <label>Customer Name</label>
              <select tabindex="11" ngControl="cus_id" class="form-control">
                <option value="">All</option>
                <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                </option>
              </select>
            </div>
            <div class="form-group">
                <label>Work Order Number</label>
                <input type="text" placeholder="" ngControl="wo_hdr_num" class="form-control" name="sku"/>
            </div>
            <div class="form-group">
                <label>Order  Number</label>
                <input type="text" placeholder="" ngControl="odr_hdr_num" class="form-control" name="size"/>
            </div>
            <div class="form-group">
                <label>Work Order Status</label>
                <select class="form-control" ngControl="wo_sts">
                   <option value="">All</option>
                    <option value="FN">Final</option>
                    <option value="PC">Processing</option>
                    <option value="NW">New</option>
                </select>
            </div>
            <div class="form-group">
                <label>Pack By</label>
              <select class="form-control" ngControl="type">
                <option value="">All</option>
                <option value="0">SKU</option>
                <option value="1">Charge Code</option>
              </select>
            </div>

            <div class="btn-toolbar pull-left margin-top23">
              <button type="button" class="btn btn-outline gray" (click)="ResetSearch()"><i class="icon-close"></i>Reset</button>
              <button type="submit" class="btn btn-outline blue"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active in"><a data-toggle="tab" href="#tabitem">Work Orders</a></li>
    </ul>

    <div class="table">
        <div class="filter clearfix table-list-head">
          <div class="form-inline pull-left">
            <label>Show:</label>
            <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
              <option value="20" selected>20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
            <div class="pull-right">
              <a *ngIf="createWorkOrder" class="btn btn-primary" href="#/outbound/work-order/new"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">

                      <li *ngIf="editWorkOrder"><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-style1">

          <ag-grid-ng2-extent
            (dataSelected)="ListSelectedItem=$event"
            [columnData]="columnData"
            [sortDefault]="sortData"
            (sortData)="sortData=$event;getWorkOrderList(Pagination['current_page'])"
            [dataForRenderTable]="workOrderList"
            [headerURL]="headerURL"></ag-grid-ng2-extent>
        </div>

        <div class="pull-right">
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getWorkOrderList($event)"
            ></wms-pagination>
        </div>
</div>
    </div>
<!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

