<div class="top-layout clearfix">
    <h2>View Location Type</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block create-zone">
    <form class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Location Type Code</label>
                                <input type="text" class="form-control" value="{{dataLocaType.loc_type_code}}"
                                       placeholder="" required readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Location Type Name </label>
                                <input type="text" class="form-control" value="{{dataLocaType.loc_type_name}}"
                                       placeholder="" required readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Description</label>
                                <textarea name="" id="" rows="3" class="form-control" readonly>{{dataLocaType.loc_type_desc}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
