<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Step</th>
        <th>Name</th>
        <th>Description</th>
        <th>Dependency</th>
        <th>Bulk</th>
        <th>SmallParcel</th>
        <th>E-com</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of orderFlowDetail.value; let i = index">
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.step}}</td>
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.name}}</td>
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.description}}</td>
        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">{{item.dependency}}</td>

        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">
            <input type="checkbox" (change)="changeCheckedOrderFlow($event,item,'bulk')"
            [ngModel]="item.bulk.value" [disabled]="_disable || item['flow_code']=='NOD' || item?.bulk.disabled"/>
        </td>

        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">
            <input type="checkbox" (change)="changeCheckedOrderFlow($event,item,'usage')"
            [ngModel]="item.usage.value" [disabled]="_disable || item['flow_code']=='NOD' || item?.usage.disabled"/>
        </td>

        <td [class.hidden]="hiddenFlowCodes.indexOf(item['flow_code']) !== -1">
            <input type="checkbox" (change)="changeCheckedOrderFlow($event,item,'ecom')"
            [ngModel]="item.ecom.value" [disabled]="_disable || item['flow_code']=='NOD' || item?.ecom.disabled"/>
        </td>
    </tr>
    </tbody>
</table>
