<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
    <h2>Item Master List</h2>
<wms-breadcrumb></wms-breadcrumb>
    </div>
<div class="layout-block item-management">
  <div *ngIf="messages">
    <div class="alert alert-{{messages.status}}">
      <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
      <span [innerHTML]="messages.txt"></span>
    </div>
  </div>
    <div class="search-form eight-column">
        <form *ngIf="SearchForm" class="clearfix form-inline" id="form-filter" [ngFormModel]="SearchForm" (ngSubmit)="Search(SearchForm.value)" novalidate>
                  <div class="form-group">
                      <label>Item ID</label>
                      <input tabindex="1" type="text" placeholder="" ngControl="item_id" class="form-control" name="item-id"/>
                  </div>
                  <div class="form-group">
                      <label>Customer</label>
                    <span *ngIf="Loading['getCountry']"><img src="/assets/images/loading.gif" alt=""></span>
                      <select tabindex="2" class="form-control" ngControl="cus_id" required="required">
                        <option value="">All</option>
                        <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>SKU </label>
                      <input tabindex="3" type="text" placeholder="" ngControl="sku" class="form-control" name="sku"/>
                  </div>
                  <div class="form-group">
                      <label>Size </label>
                      <input tabindex="4" type="text" placeholder="" ngControl="size" class="form-control" name="size"/>
                  </div>
                  <div class="form-group">
                      <label>Color </label>
                      <input tabindex="5" type="text" placeholder="" ngControl="color" class="form-control" name="color"/>
                  </div>
                <div class="form-group" style="position:relative;">
                    <label>Description </label>
                    <!-- <input tabindex="5" type="text" placeholder="Autocomplete" ngControl="description" class="form-control" name="description"/> -->
                    <input ngControl="description" 
                            tabindex="5" id="description" type="text" placeholder="Autocomplete"
                            (ngModelChange)="autoCompleteDesc($event)" autocomplete="off" class="form-control dropdown-toggle" data-toggle="dropdown">

                    <ul class="dropdown-menu autocomplete">
                        <span class="icon-loading-search-complete" *ngIf="showAutocompleteLoading" ><img src="/assets/images/loading.gif"></span>
                        <li *ngFor="let item of autoSearchData" (click)="selectDesc(item.description)">
                            {{item.description}}
                        </li>
                    </ul>
                </div>
          <div class="btn-toolbar pull-left margin-top23">
            <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="7"><i class="icon-close"></i>Reset</button>
            <button type="submit" class="btn btn-outline blue" tabindex="6"><i class="icon-magnifier"></i>Search</button>
          </div>
        </form>
    </div>
    <!--<div class=" area-block clearfix">
        <form class="form-horizontal form-style" [ngFormModel]="importForm" novalidate>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group"
                         [class.error-style]="(customer.control.touched||showError)&&customer.control.hasError('required')">
                        <label>Customer Name <span class="txt-required">(*)</span> </label>
                        <select tabindex="8" class="form-control" ngControl="customer" #customer="ngForm" required>
                            <option value="">ALL</option>
                            <option *ngFor="let item of Customers"
                                    value="{{item.cus_id}}">
                                {{item.cus_name}}
                            </option>
                        </select>
                        <p *ngIf="(customer.control.touched||showError)&&customer.control.hasError('required')"
                           class="error">
                            Customer Name is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group file-input margin-top22">
                        <label for="importFile">Upload file </label>
                        <input type="file" class="" name="files" id="importFile"
                               (change)="fileChangeEvent($event)">
                        <button tabindex="9" type="button" class="btn btn-primary float-none" [disabled]="!filesToUpload.length"
                                (click)="importFile(importForm.value)">Import
                        </button>
                        <label><a href="assets/doc/Item_Template.xlsx" target="_blank" tabindex="10">Download
                        Template</a></label>
                    </div>
                </div>
            </div>
        </form>
    </div>-->
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                 <a *ngIf="createItem" class="btn btn-primary" href="#/system-setup/item-master/new" tabindex="11"><i class="icon-plus"></i>Add</a>
                <div *ngIf="editItem" class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="12"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li *ngIf="editItem"><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                      <li><a (click)="printSKU()"><i class="icon-note"></i>Print SKU</a></li>
                        <!--<li><a>Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
              <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="10">
                <option value="20" selected>20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
              <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                  <i class="icon-size-fullscreen"></i>
              </a>
            </div>
        </div>
        <!-- <div class="table-responsive table-style1">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th class="column-checkbox"><input  (ngModelChange)="CheckAll($event)" [(ngModel)]="selectedAll"  type="checkbox"></th>
                    <th>Item Code</th>
                    <th>Customers</th>
                    <th>SKU</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of ItemMasterList">
                    <td><input type="checkbox" value="{{item.item_id}}" (change)="Selected($event)" [ngModel]="item?.selected"></td>
                    <td><a href="#/system-setup/item-master/{{item.item_id}}">{{item.item_code}}</a></td>
                    <td>{{item.customer_name}}</td>
                    <td>{{item.sku}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.description}}</td>
                </tr>
                </tbody>
            </table>
          <p *ngIf="ItemMasterList.length==0&&!Loading.getList">No Results Found.</p>
          <p *ngIf="ItemMasterList.length==0&&Loading?.getList">Loading ... </p>
        </div> -->
      <div class="table-style1 table-responsive">
        <advance-table [tableID]="tableID"
          [headerURL]="headerURL"
          [headerDef]="headerDef"
          [pinCols]="pinCols"
          [rowData]="rowData"
          [getSelectedRow]="getSelectedRow"
          [expandTable]="expandTable"
          (returnSelectedRow)="afterGetSelectedRow($event)"
          (sort)="doSort($event)"
        ></advance-table>
        </div>
        <div class="pull-right">
            <div class="showing pull-left" *ngIf="ItemMasterList.length>0">
                Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) * perPage + ItemMasterList.length}}  of total {{Pagination?Pagination.total:0}}
            </div>
          <ul class="pagination pull-right" *ngIf = "Pagination.total_pages > 1">
            <li *ngIf="Pagination.current_page > Pagination.numLinks">
              <a (click) = "filterList(1)"><i class="fa fa-step-backward"></i></a>
            </li>
            <li *ngIf="Pagination.current_page > 1">
              <a (click) = "filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
            </li>

            <li *ngFor="let item of Pagination.tmpPageCount; " class="active" [class.active]="item==Pagination.current_page">
              <a *ngIf="item != Pagination.current_page"  (click) = "filterList(item)">{{item}}</a>
              <a *ngIf="item == Pagination.current_page">{{item}}</a>
            </li>

            <li *ngIf="Pagination.current_page < Pagination.total_pages">
              <a (click) = "filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
            </li>
            <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
              <a (click) = "filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i> </a>
            </li>

          </ul>
        </div>
        <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
    </div>
</div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<div id="print-sku-upc-barcode" class="modal fade" role="dialog" data-backdrop="static">
  <form [ngFormModel]="PrintASNForm" *ngIf="PrintASNForm" novalidate>
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Print SKU and Barcode</h4>
              </div>
              <div class="modal-body form-style">
                  <div class="table">
                      <div class="table-style3 table-responsive">
                          <table class="table table-hover table-bordered">
                              <thead>
                              <tr>
                                  <th>SKU</th>
                                  <th>Number of SKU <span class="txt-required">(*)</span></th>
                              </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>{{currentSKUToPrint}}</td>
                                      <td>
                                          <div class="form-group" [class.error-style]="showErrorPrintASN && num_of_print.control.errors">
                                              <input type="text" maxlength="3"
                                                  #num_of_print="ngForm"
                                                  (keypress)="checkInputNumber($event)"
                                                  ngControl="num_of_print" class="form-control">

                                              <p *ngIf="showErrorPrintASN && num_of_print.control.hasError('required')"
                                              class="error">
                                                  Number of sku is required.
                                              </p>
                                              <p *ngIf="showErrorPrintASN && num_of_print.control.hasError('isZero')&&!num_of_print.control.hasError('invalidNumber')"
                                              class="error">
                                                  Number of sku must be greater than 0
                                              </p>
                                              <p *ngIf="showErrorPrintASN && num_of_print.control.hasError('invalidNumber')"
                                              class="error">
                                                  Number of sku must be number greater than 0.
                                              </p>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button  type="button" class="btn btn-primary pull-right" (click)="printASNForm()"><i class="icon-check"></i>Save</button>
                  <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
              </div>
          </div>
      </div>
  </form>
</div>