<table-structure>
    <div class="top-layout clearfix" *ngIf="parentComponent.hasOwnProperty('title')">
        <h2>{{title}}</h2>
    </div>
    <div class="layout-block">
        <wms-messages [messages]="messages"></wms-messages>

        <searches *ngIf="parentComponent.hasOwnProperty('searches')"
            [parentComponent]="parentComponent"
            [searches]="searches">

        </searches>

        <table-block
            [tableID]="tableID"
            [headerURL]="headerURL"
            [headerDef]="headerDef"
            [pinCols]="pinCols"
            [rowData]="rowData"
            [Pagination]="Pagination"
            [perPage]="perPage"
            [parentComponent]="parentComponent"
            [dataExport]="dataExport"
            [downloadName]="downloadName">

        </table-block>

    </div>

    <div class="loading-overlay" *ngIf="parentComponent.showLoadingOverlay">
        <img src="/assets/images/spinner.gif" alt="">
    </div>

<table-structure>