<div class="top-layout clearfix">
    <h2>Wave Pick List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form four-column">
        <form class="clearfix" id="form-filter" (submit)="search()">
            <div class="form-group">
                <label>Wave Pick Number</label>
                <input type="text" class="form-control" name="wv_num" tabindex="1">
            </div>
            <div class="form-group multiselect">
                <label>Status</label>
                <wms-multi-select *ngIf="wavepickStatus.length" 
                    [name]="'wv_sts[]'" [options]="wavepickStatus" [numberDisplayed]="3"
                    [refresh]="refreshMultiSelect" (onRefreshed)="refreshMultiSelect = $event"></wms-multi-select>
            </div>
            <div class="form-group">
                <label>Order Number</label>
                <input type="text" class="form-control" name="odr_num" tabindex="1">
            </div>
            <div class="btn-toolbar margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="4"><i class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="3"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a>Wave Pick List</a></li>
    </ul>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="6"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="updatePicking()">Update Wave Pick</a></li>
                        <li><a class="hidden" (click)="runInsertOrderCarton()">Run Insert Order Carton</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show:</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="table-style1">
            <advance-table [tableID]="tableID"
                [headerURL]="headerURL"
                [headerDef]="headerDef"
                [pinCols]="pinCols"
                [rowData]="rowData"
                [getSelectedRow]="getSelectedRow"
                [refreshRowData]="refreshRowData"
                [expandTable]="expandTable"
                (returnSelectedRow)="afterGetSelectedRow($event)"
                (sort)="doSort($event)">
            </advance-table>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
        <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
    </div>

</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
