<div *ngIf="isVisible" class="modal fade show in danger" id="confirm-dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
            </div>

            <div class="modal-body" [innerHTML]="content"></div>

            <div class="modal-footer confirm-footer">
                <button class="btn btn-outline red"
                        (click)="submit(false)">Cancel
                </button>
                <button class="btn btn-outline blue"
                        (click)="submit(true)">Okay
                </button>
            </div>

        </div>
    </div>
</div>
