<div id="changeLocationStatus" class="modal fade" role="dialog">
  <form id="change-status-form" (ngSubmit)="saveForm()">
    <div class="modal-dialog modal-style-default">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Status</h4>
        </div>
        <div class="modal-body form-style">
          <wms-messages [messages]="messagesChangeStatus"></wms-messages>
          <!-- <div class="alert alert-{{messagesChangeStatus.status}}" *ngIf="messagesChangeStatus.status">
              {{messagesChangeStatus.txt}}
          </div> -->
          <div class="form-horizontal form-style">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Location Code</label>
                  <input type="text" class="form-control" value = "{{dataItemLoca.loc_code}}" placeholder=""  readonly>
                </div>
                <div class="form-group">
                  <label class="">Status <span class="txt-required">(*)</span></label>
                  <select class="form-control" name = "loc_sts_dtl_sts_code"  placeholder="">
                    <option value="AC" [selected] = "dataItemLoca.loc_sts_code == 'AC'" >Active</option>
                    <option value="IA" [selected] = "dataItemLoca.loc_sts_code == 'IA'">InActive</option>
                  </select>
                </div>
                <div class="form-group has-feedback" [class.error-style]="listNull.loc_sts_dtl_from_date_required">
                  <label for="">From Date <span class="txt-required">(*)</span> </label>
                  <input type="text" name = "loc_sts_dtl_from_date" class="form-control" aria-describedby="" data-provide="datepicker" disabled  autocomplete="off" value="{{fromDate|dateFormat}}"
                         (keyup)="filterForm2($event.target)" (focusout)="filterForm2($event.target)">
                  <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                  <p *ngIf="listNull.loc_sts_dtl_from_date_required" class="error">
                    From Date is required.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Location Alternative Name</label>
                  <input type="text" class="form-control" name = "loc_alternative_name" value = "{{dataItemLoca.loc_alternative_name}}" placeholder="" readonly>
                </div>
                <div class="form-group">
                  <label class="">Changed By</label>
                  <input type="text" value = {{userCurrent}} class="form-control" readonly placeholder=""  >
                </div>
                <div class="form-group has-feedback">
                  <label for="">To Date</label>
                  <input type="text" name = "loc_sts_dtl_to_date" class="form-control" aria-describedby="" data-provide="datepicker" autocomplete="off" value = "{{dataItemLoca.loc_sts_dtl_to_date|dateFormat}}">
                  <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="">Reason</label>
                  <select tabindex="6" name="loc_sts_reason_id" class="form-control">
                    <option value="">Select Reason</option>
                    <option *ngFor="let reason of dataReasonList"
                            [selected]="dataItemLoca.loc_sts_reason_id == reason.r_id"
                            value="{{reason.r_id}}">
                      {{reason.r_name}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="">Remark</label>
                  <textarea maxlength="255" name = "loc_sts_dtl_remark" id="" class="form-control" rows="3" value = "{{dataItemLoca.loc_sts_dtl_remark}}"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary pull-right" ><i class="icon-check"></i>Change</button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
