<div *ngIf="canAccess">
    <div class="top-layout clearfix">
        <h2>Forecast Report</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block clearfix">
        <wms-messages *ngIf="messages" [messages]="messages"></wms-messages>
        <form class="form-horizontal form-style" [ngFormModel]="searchForm" (submit)="search()">
            <div class="area-block clearfix">
                <div class="form-group col-md-2" [class.error-style]="showError && Cus.control.errors">
                    <label>Customers</label>
                    <span *ngIf="loading"><img src="/assets/images/loading.gif"></span>
                    <select #Cus="ngForm" ngControl="cus_id" class="form-control" (change)="changeCustomer($event)">
                        <option value="">Select Customer</option>
                        <option *ngFor="let customer of customers" [value]="customer.cus_id">{{customer.cus_name}}</option>
                    </select>
                    <p *ngIf="showError && Cus.control.errors"
                        class="error">
                        Customer is required.
                    </p>
                </div>
                <div *ngIf="searchForm.value['cus_id'] && years && years.length">
                    <div class="form-group col-md-2" [class.error-style]="showError && Year.control.errors">
                        <label>Year</label>
                        <select #Year="ngForm" ngControl="year" class="form-control" (change)="changeYear($event)">
                            <option value="">Select Year</option>
                            <option *ngFor="let item of years" [value]="item">{{item}}</option>
                        </select>
                        <p *ngIf="showError && Year.control.errors"
                            class="error">
                            Year is required.
                        </p>
                    </div>
                    <div *ngIf="searchForm.value['year']" class="form-group col-md-2">
                        <label></label>
                        <div class="">
                            <label class="radio-inline">
                                <input type="radio" name="period" [checked]="period=='month'" ([ngModel])="period"
                                    value="month" (click)="changePeriod($event.target.value)"> By Month
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="period" [checked]="period=='quarter'" ([ngModel])="period"
                                    value="quarter" (click)="changePeriod($event.target.value)"> By Quarter
                            </label>
                        </div>
                    </div>
                    <div *ngIf="searchForm.value['period']=='quarter' && quarters && quarters.length" class="form-group col-md-2" [class.error-style]="showError && Quarter.control.errors">
                        <label>Quarter</label>
                        <select #Quarter="ngForm" ngControl="quarter" class="form-control" (change)="changePeriodValue($event, 'quater')">
                            <option value="">Select Quarter</option>
                            <option *ngFor="let item of quarters" [value]="item">{{item}}</option>
                        </select>
                        <p *ngIf="showError && Quarter.control.errors" class="error">
                            Quarter is required.
                        </p>
                    </div>
                    <div *ngIf="searchForm.value['period']=='month' && months && months.length" class="form-group col-md-2" [class.error-style]="showError && Month.control.errors">
                        <label>Month</label>
                        <select #Month="ngForm" ngControl="month" class="form-control" (change)="changePeriodValue($event, 'month')">
                            <option value="">Select Month</option>
                            <option *ngFor="let item of months" [value]="item">{{item}}</option>
                        </select>
                        <p *ngIf="showError && Month.control.errors" class="error">
                            Month is required.
                        </p>
                    </div>
                </div>
                <div class="btn-toolbar pull-left margin-top20">
                    <button tabindex="7" type="button" class="btn btn-outline gray" (click)="reset()">
                        <i class="icon-close"></i>
                        Reset
                    </button>
                    <button [disabled]="!searchForm.valid" type="submit" class="btn btn-outline blue" tabindex="6">
                        <i class="icon-magnifier"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
        <div *ngIf="searchForm.value['cus_id'] && availableDate && availableDate.length && dataReports.length" class="table">
            <div class="table-style2 table-responsive">
                <table class="table add-border">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center" colspan="4">INBOUND</th>
                            <th class="text-center" colspan="4">OUTBOUND</th>
                            <th class="text-center" colspan="7">STORAGE</th>
                        </tr>
                        <tr>
                            <th>Indicator</th>
                            <th>Forecast</th>
                            <th>Actual</th>
                            <th>Variance</th>
                            <th title="Percent">%</th>
                            <th>Forecast</th>
                            <th>Actual</th>
                            <th>Variance</th>
                            <th title="Percent">%</th>
                            <th>Forecast</th>
                            <th>Actual</th>
                            <th>Variance</th>
                            <th title="Percent">%</th>
                            <th title="1 {{ lastPeriod == 'month' ? 'Month' : 'Quarter'}} Ago">1 {{ lastPeriod == 'month' ? 'M' : 'Q'}} Ago</th>
                            <th title="2 {{ lastPeriod == 'month' ? 'Months' : 'Quarters'}} Ago">2 {{ lastPeriod == 'month' ? 'Ms' : 'Qs'}} Ago</th>
                            <th title="3 {{ lastPeriod == 'month' ? 'Months' : 'Quarters'}} Ago">3 {{ lastPeriod == 'month' ? 'Ms' : 'Qs'}} Ago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataReports">
                            <td>{{item.fc_ind_name}}</td>
                            <td>{{item.fc_ib}}</td>
                            <td>{{item.fc_ib_act}}</td>
                            <td>{{item.fc_ib_var}}</td>
                            <td>{{item.fc_ib_percent}}</td>
                            <td>{{item.fc_ob}}</td>
                            <td>{{item.fc_ob_act}}</td>
                            <td>{{item.fc_ob_var}}</td>
                            <td>{{item.fc_ob_percent}}</td>
                            <td>{{item.fc_st}}</td>
                            <td>{{item.fc_st_act}}</td>
                            <td>{{item.fc_st_var}}</td>
                            <td>{{item.fc_st_percent}}</td>
                            <td>{{item.fc_st_1_period_ago}}</td>
                            <td>{{item.fc_st_2_period_ago}}</td>
                            <td>{{item.fc_st_3_period_ago}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <file-exporter [headerExport]="getHeaderExport()" [dataExport]="dataExport" [fileName]="fileName"></file-exporter>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>