<div class="top-layout clearfix">
    <h2>Order Packing</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix" *ngIf="hasUpdateOrderPackingPermission">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" novalidate *ngIf="orderPackingData">
        <div class="row">
            <div class="col-md-5">
                <h4 class="h4-style">Order Info</h4>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Customer Name </label>
                                <select tabindex="1" class="form-control" disabled>
                                    <option value="">{{orderPackingData.cus_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Order Number </label>
                                <input tabindex="2" maxlength="64" type="text"
                                       class="form-control" readonly value="{{orderPackingData.cus_odr_num}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ref Code</label>
                                <input type="text" maxlength="64" tabindex="3" class="form-control" readonly value="{{orderPackingData.ref_cod}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>PO </label>
                                <input maxlength="50" tabindex="4" type="text"
                                       class="form-control" readonly value="{{orderPackingData.cus_po}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Order Type</label>
                                <select tabindex="5" class="form-control" disabled>
                                    <option value="">{{orderPackingData.odr_type}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox margin-top15">
                                <label>
                                    <input type="checkbox" disabled [checked]="orderPackingData.rush_odr"> Rush
                                    Order
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Total SKU's </label>
                                        <input type="text" value="{{orderPackingData.sku_ttl}}" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status </label>
                                        <input type="text" readonly value="{{orderPackingData.odr_sts}}" class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Order Number </label>
                                        <input readonly type="text" value="{{orderPackingData.odr_num}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top15"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="h4-style">Shipping Info</h4>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Carrier </label>
                                <input  maxlength="63" tabindex="7" type="text"
                                       value="{{orderPackingData.carrier}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Shipping To</label>
                                <input maxlength="127" tabindex="8"
                                       type="text" value="{{orderPackingData.ship_to_name}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Address </label>
                                <input  maxlength="127" type="text"
                                       tabindex="9" value="{{orderPackingData.ship_to_add_1}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City </label>
                                <input  maxlength="63" tabindex="10" type="text"
                                       value="{{orderPackingData.ship_to_city}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Country </label>
                                <select tabindex="11" class="form-control" disabled>
                                    <option value="">{{orderPackingData.ship_to_country_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>State </label>
                                <select class="form-control" tabindex="12" disabled>
                                    <option value="">{{orderPackingData.ship_to_state_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Zip Code </label>
                                <input type="text" maxlength="10" tabindex="13"
                                       value="{{orderPackingData.ship_to_zip}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" class="form-group has-feedback">
                                <label for="">Ship By Date </label>
                                <input type="text"  maxlength="10"
                                       tabindex="14"
                                       data-provide="datepicker"
                                       class="form-control datepicker-asn" readonly value="{{orderPackingData.ship_by_dt}}">
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label for="">Cancel By Date </label>
                                <input type="text" maxlength="10"
                                       tabindex="15" data-provide="datepicker"
                                       value="{{orderPackingData.cancel_by_dt}}" class="form-control" readonly>
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label for="">Requested Complete Date </label>
                                <input type="text" maxlength="10"  tabindex="16" data-provide="datepicker"
                                       value="{{orderPackingData.req_cmpl_dt}}" class="form-control" readonly>
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Actual Completed Date</label>
                                <input type="text" tabindex="17" readonly
                                       class="form-control" value="{{orderPackingData.act_cmpl_dt}}">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Actual Canceled Date</label>
                                <input type="text" tabindex="18" readonly
                                       class="form-control" value="{{orderPackingData.act_cancel_dt}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        		<h4 class="h4-style">Packing Info</h4>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="">Total SKU Completed</label>
                                <input type="text" class="form-control" value="{{orderPackingData.sku_ttl_com}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="" title="Total Completed Piece QTY">Total Completed QTY</label>
                                <input type="text" class="form-control" value="{{orderPackingData.piece_ttl}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="">Total Cartons</label>
                                <input type="text" class="form-control" value="{{orderPackingData.ctn_ttl}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active in"><a data-toggle="tab" href="#tab-item">Items</a></li>
            <li class="in"><a data-toggle="tab" href="#tab-carton">Packed Cartons</a></li>
           <li class="in"><a data-toggle="tab" href="#tab-documents">Documents</a></li>
        </ul>
        <div class="tab-content">
            <div class="clearfix tab-pane fade active in" id="tab-item" >
            	<div class="table-list-head clearfix" *ngIf="allItem.length > 0">
                    <div class="form-inline pull-left">
                        <label>Show:</label>
                        <select (change)="onPageSizeChanged($event, 'itemList')" class="form-control">
                            <option value="20" selected>20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
	                <div class="pull-right" *ngIf="orderPackingData.odr_sts_key == 'PD' || orderPackingData.odr_sts_key == 'PIP' || orderPackingData.odr_sts_key == 'PN' || orderPackingData.odr_sts_key == 'PPA'">
                        <a class="btn btn-primary" (click)="packCarton()">Pack Carton</a>
	                	<a class="btn btn-primary" (click)="autoPackCarton()">Auto Pack Carton</a>
	                </div>
                </div>
                <div class="table-style1">
                    <table class="table table-bordered table-hover small-padding-table">
                        <thead>
                            <tr>
                                <th class="column-checkbox">
                                    <input type="checkbox" [disabled]="!allItem.length"
                                           (ngModelChange)="CheckAll($event,'allItem',StatePaginAllItem,'allItemPaginInline')"
                                           [ngModel]="selectedAll.allItem"/>
                                </th>
                                <th>Status</th>
                                <th>Item ID</th>
                                <th>SKU</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Lot</th>
                                <th title="Total Piece QTY">Total QTY</th>
                                <th title="Remaining Piece quantity">Remaining QTY</th>
                                <th *ngIf="orderPackingData.origin_odr_type == 'EC' || orderPackingData.odr_type_key == 'EC'">Shipping Tracking Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of allItem  | paginate: {id :'allItemPaginInline', itemsPerPage: itemPerPage, currentPage: currentPageItem };">
                                <td>
                                    <input (change)="Selected($event,item,'allItem',StatePaginAllItem,'allItemPaginInline')"
                                           [ngModel]="item?.selected" value="{{item}}" type="checkbox">
                                </td>
                                <td width="100">
                                    <div class="process">
                                        <span class="success-progress" [style.width]="item.successPercent"></span>
                                        <span class="remain-progress" [style.width]="item.remainPercent"></span>
                                    </div>
                                </td>
                                <td>{{item.itm_id}}</td>
                                <td>{{item.sku}}</td>
                                <td>{{item.color}}</td>
                                <td>{{item.size}}</td>
                                <td>{{item.lot}}</td>
                                <td>{{item.alloc_qty}}</td>
                                <td>{{item.remain_qty}}</td>
                                <td *ngIf="orderPackingData.origin_odr_type == 'EC' || orderPackingData.odr_type_key == 'EC'">{{item.ship_track_id}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <span *ngIf="allItem.length==0">No Results Found.</span>
                </div>
              <a (click)="goBack()" class="btn btn-outline red no-margin-left pull-left"><i class="icon-action-undo "></i>Back</a>
                        <pagination-controls
                                (statePagin)="StatePaginAllItem=$event;checkCheckAll('allItem',StatePaginAllItem,'allItemPaginInline')"
                                (pageChange)="currentPageItem = $event" id="allItemPaginInline"
                                autoHide="true">
                        </pagination-controls>
            </div>
            <div class="clearfix tab-pane fade" id="tab-carton" >
            	<div class="table-list-head clearfix" *ngIf="allCarton.length > 0">
                    <div class="form-inline pull-left">
                        <label>Show:</label>
                        <select (change)="onPageSizeChanged($event, 'cartonList')" class="form-control">
                            <option value="20" selected>20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div class="input-group pull-right">
                        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle" type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <!-- <li *ngIf="orderPackingData.odr_sts_key == 'PD' || orderPackingData.odr_sts_key == 'PIP' || orderPackingData.odr_sts_key == 'PN' || orderPackingData.odr_sts_key == 'PPA'"><a (click)="editCarton()"><i class="icon-note"></i>Edit</a></li> -->
                          <li ><a (click)="printCarton()"><i class=""></i>Print Label</a></li>
                        </ul>
                    </div>
            	</div>
                <div class="table-style1">
                    <table class="table table-bordered table-hover small-padding-table">
                        <thead>
                            <tr>
                                <th class="column-checkbox">
                                    <input type="checkbox" [disabled]="!allCarton.length"
                                           (ngModelChange)="CheckAll($event,'allCarton',StatePaginAllCarton,'allCartonPaginInline')"
                                           [ngModel]="selectedAll.allCarton"/>
                                </th>
                                <th>Status</th>
                                <th>Carton Number</th>
                                <th class="hide">SKU</th>
                                <th># of Sku</th>
                                <th title="Packed Piece quantity">Packed QTY</th>
                                <th>Carton Dimension (LxWxH)</th>
                                <th>Carton Type</th>
                                <th>Printed Label</th>
                                <th>RFID</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr *ngFor="let item of allCarton  | paginate: {id :'allCartonPaginInline', itemsPerPage: cartonPerPage, currentPage: currentPageCarton };">
                                <td>
                                    <input (change)="Selected($event,item,'allCarton',StatePaginAllCarton,'allCartonPaginInline')"
                                           [ngModel]="item?.selected" value="{{item}}" type="checkbox">
                                </td>
                                <td>{{item.pack_sts_name}}</td>
                                <td><a [href]="'#/outbound/packing/pack-carton/' + order_id + '::' + orderPackingData.cus_id + '::' + item.pack_hdr_id + '/view'">{{item.pack_hdr_num}}</a></td>
                                <td class="hide">{{item.sku}}</td>
                                <td>{{item.sku_ttl}}</td>
                                <td>{{item.piece_ttl}}</td>
                                <td>{{item.dimension}}</td>
                                <td>{{item.pack_type}}</td>
                                <td>{{item.is_print ? 'Yes' : 'No'}}</td>
                                <td>{{item.has_rfid ? 'Yes' : 'No'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <span *ngIf="allCarton.length==0">No Results Found.</span>
                </div>
              <a (click)="goBack()" class="btn btn-outline red no-margin-left pull-left"><i class="icon-action-undo "></i>Back</a>
                <pagination-controls
                        (statePagin)="StatePaginAllCarton=$event;checkCheckAll('allCarton',StatePaginAllCarton,'allCartonPaginInline')"
                        (pageChange)="currentPageCarton = $event" id="allCartonPaginInline"
                        autoHide="true">
                </pagination-controls>
            </div>
          <div class="clearfix tab-pane fade" id="tab-documents" *ngIf = "isDisplayDocTab">
            <!-- <documents-upload [doc_type]="'ORD'" [trans]="orderPackingData['odr_num']"
                              [attTitle1]="'Customer'"
                              [attValue1]="orderPackingData['cus_name']"
                              [attTitle2]="'Cus Order Num'"
                              [attValue2]="orderPackingData['cus_odr_num']"
            ></documents-upload> -->
            <dms-in [doc_type]="'ORD'" [group]="'ORD'" [trans]="orderPackingData['odr_num']"></dms-in>
            <a (click)="goBack()" class="btn btn-outline red no-margin-left pull-left"><i class="icon-action-undo "></i>Back</a>
          </div>
        </div>

    </form>

</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
