<div class="top-layout clearfix">
    <h2>Aisle Detail</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block warehouse-layout" [class.wh-close]="closeListCustomer">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="list-track">
        <div class="aisle-detail">
            <h3>{{aisleID}}</h3>
            <ul *ngFor="let level of aisleData">
                <li *ngFor="let bin of level" (click)="showDetail(bin.loc_id, bin.loc_alternative_name)">
                    <div class="detail-number">
                        <p *ngIf="bin.sku_ttl || bin.ctn_ttl || bin.pieces_ttl">SKU total: {{bin.sku_ttl}}</p>
                        <p *ngIf="bin.sku_ttl || bin.ctn_ttl || bin.pieces_ttl">Cartons: {{bin.ctn_ttl}}</p>
                        <p *ngIf="bin.sku_ttl || bin.ctn_ttl || bin.pieces_ttl">Pieces: {{bin.piece_ttl}}</p>
                    </div>
                    <div class="code"
                         [style.backgroundColor]="bin.customer?.color" [style.color]="bin.customer?'#fff':'#012147'">
                        {{bin.loc_alternative_name}}
                    </div>
                    <span class="icon-status">
                        <i class="icon icon-check" *ngIf="bin.loc_sts_code=='AC'"></i>
                        <i class="icon icon-ban" *ngIf="bin.loc_sts_code=='IA'"></i>
                        <i class="icon icon-lock" *ngIf="bin.loc_sts_code=='LK'"></i>
                        <i class="icon icon-layers" *ngIf="bin.loc_sts_code=='RS'"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="list-customer">
        <div class="customer-toggler" (click)="closeListCustomer=!closeListCustomer"></div>
        <h3><i class="icon icon-people"></i><span>Customers</span></h3>
        <ul>
            <li *ngFor="let customer of listCustomer" tooltip="{{customer.cus_name}}" tooltipPlacement="left" tooltipTrigger="mouseenter">
                <span class="customer-name" >{{customer.cus_code}}</span>
                <span class="customer-color" [style.backgroundColor]="customer.cl_code"></span>
            </li>
        </ul>
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
<div id="location-detail" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-style-default modal-wh">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{aisleID}} | {{locationName}}</h4>
            </div>
            <div class="modal-body form-style">
                <div class="table">
                    <div class="table-style2 table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th rowspan="2">Item ID</th>
                                <th rowspan="2">SKU</th>
                                <th rowspan="2">Size</th>
                                <th rowspan="2">Color</th>
                                <th rowspan="2">Lot</th>
                                <th colspan="2" class="text-center">Number Of</th>
                            </tr>
                            <tr>
                                <th class="text-center">Cartons</th>
                                <th class="text-center">Pieces</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of locationDetail">
                                <td>{{item.item_id}}</td>
                                <td>{{item.sku}}</td>
                                <td>{{item.size}}</td>
                                <td>{{item.color}}</td>
                                <td>{{item.lot}}</td>
                                <td class="text-right">{{item.ctn_ttl}}</td>
                                <td class="text-right">{{item.piece_ttl}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p *ngIf="!locationDetail?.length">No Results Found.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
