<div class="top-layout clearfix">
    <h2>Pallet Assignment</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="col-md-6">
        <form class="form-horizontal form-style">
            <div class="form-style">
                <div class="panel-group panel-style" id="wrap-pallet-assign">
                    <div class="panel-title-top"> &nbsp;
                        <div class="pull-right">
                            <div class="input-group pull-right">
                                <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                   class="dropdown-toggle"
                                   type="button"><i class="icon-settings"></i>Action <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a><i class="icon-trash"></i>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table table-bordered table-style2" id="t_wrap_item_{{i}}">
                                    <thead>
                                    <tr>
                                        <th class="column-checkbox"><input id="ck_first_{{i}}"
                                                                           type="checkbox"/></th>
                                        <th>Number of Pallets <strong>(Total: 5)</strong></th>
                                        <th>Number Cartons Per Pallet <strong>(Total/Assigned: 500/200)</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th class="column-checkbox"><input type="checkbox" /></th>
                                        <td>
                                            <div class="form-group pallet-assign-item">
                                                <input maxlength="11" type="text" class="form-control" value="5">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group pallet-assign-item">
                                                <input maxlength="11" type="text" class="form-control" value="40">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="column-checkbox"><input type="checkbox" /></th>
                                        <td>
                                            <div class="form-group pallet-assign-item">
                                                <input maxlength="11" type="text" class="form-control" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group pallet-assign-item">
                                                <input maxlength="11" type="text" class="form-control" value="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="add-more"><i class="fa fa-plus-circle" id='event_add_{{i}}'
                                                                ></i></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button pull-right">
                <a type="button" class="btn btn-primary" href="#/outbound/shipping"><i class="icon-check"></i>Save</a>
            </div>
        </form>
    </div>
</div>
