<div class="top-layout clearfix">
    <h2>User Department</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block zone-type-management">
    <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <div class="search-form six-column clearfix">
        <form class="clearfix form-inline" id="form-filter" [ngFormModel]="SearchForm"
              (ngSubmit)="Search(SearchForm.value)">
            <div class="form-group">
                <label>Department Code</label>
                <input tabindex="1" type="text" class="form-control" placeholder="" ngControl="usr_dpm_code"
                       name="usr_dpm_code"/>
            </div>
            <div class="form-group">
                <label>Department Name</label>
                <input tabindex="2" type="text" class="form-control" placeholder="" ngControl="usr_dpm_name"
                       name="usr_dpm_name"/>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="4"><i
                        class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="3"><i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/master-data/user-department/new"  tabindex="6"><i
                        class="icon-plus"></i>Add</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="7"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngIf="hasEditPermission"><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li *ngIf="hasDeletePermission"><a (click)="Delete()">Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-9 no-padding">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="column-checkbox"><input (ngModelChange)="CheckAll($event)" [(ngModel)]="selectedAll"
                                                           type="checkbox"></th>
                        <!--<th [class.sorting-desc]="!FieldsToSortFlag['usr_dpm_id']&&countClick['usr_dpm_id']!=3"-->
                            <!--[class.sorting-asc]="FieldsToSortFlag['usr_dpm_id']&&countClick['usr_dpm_id']!=3"-->
                            <!--[class.sorting]="countClick['usr_dpm_id']==3" (click)="sort('usr_dpm_id')">-->
                            <!--ID-->
                        <!--</th>-->
                        <th [class.sorting-desc]="!FieldsToSortFlag['usr_dpm_code']&&countClick['usr_dpm_code']!=3"
                            [class.sorting-asc]="FieldsToSortFlag['usr_dpm_code']&&countClick['usr_dpm_code']!=3"
                            [class.sorting]="countClick['usr_dpm_code']==3" (click)="sort('usr_dpm_code')">
                            Code
                        </th>
                        <th [class.sorting-desc]="!FieldsToSortFlag['usr_dpm_name']&&countClick['usr_dpm_name']!=3"
                            [class.sorting-asc]="FieldsToSortFlag['usr_dpm_name']&&countClick['usr_dpm_name']!=3"
                            [class.sorting]="countClick['usr_dpm_name']==3" (click)="sort('usr_dpm_name')">
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            # of Staff
                        </th>
                        <th>
                            Created at
                        </th>
                        <th>
                            Created by
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of userDepartmentList" (click)="Selected(item)">
                        <td><input type="checkbox" value="{{item.usr_dpm_id}}"
                                   [ngModel]="item?.selected"></td>
                        <!--<td>{{item.usr_dpm_id}}</td>-->
                        <td><a href="#/master-data/user-department/{{item.usr_dpm_id}}">{{item.usr_dpm_code}}</a></td>
                        <td>{{item.usr_dpm_name}}</td>
                        <td>{{item.usr_dpm_des}}</td>
                        <td>{{item.num_of_staff}}</td>
                        <td>{{item.created_at}}</td>
                        <td>{{item.created_by}}</td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="userDepartmentList.length==0&&!Loading.getList">No Results Found.</p>
                <p *ngIf="userDepartmentList.length==0&&Loading?.getList">Loading ... </p>
            </div>
        </div>
        <div class="pull-right">
            <div class="showing pull-left" *ngIf="userDepartmentList.length>0">
                Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) *
                perPage + userDepartmentList.length}} of total {{Pagination?Pagination.total:0}}
            </div>
            <ul class="pagination pull-right" *ngIf="Pagination&&Pagination.total_pages > 1">
                <li *ngIf="Pagination.current_page > Pagination.numLinks">
                    <a (click)="filterList(1)"><i class="fa fa-step-backward"></i></a>
                </li>
                <li *ngIf="Pagination.current_page > 1">
                    <a (click)="filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
                </li>

                <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
                    [class.active]="item==Pagination.current_page">
                    <a *ngIf="item != Pagination.current_page" (click)="filterList(item)">{{item}}</a>
                    <a *ngIf="item == Pagination.current_page">{{item}}</a>
                </li>

                <li *ngIf="Pagination.current_page < Pagination.total_pages">
                    <a (click)="filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
                </li>
                <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
                    <a (click)="filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i> </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
