<div class="top-layout clearfix">
  <h2>Create cycle count</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <form class="form-horizontal form-style" autocomplete="off">
    <div class="area-block clearfix">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="form-group" [class.error-style]="listNull.cycle_name_required">
              <label>Report Name <span class="txt-required">(*)</span> </label>
              <input type="text" class="form-control" id='cycle_name' maxlength="50"
                     (keyup)="filterForm($event.target)" (focusout)="filterForm($event.target)">
              <p class="error" *ngIf="listNull.cycle_name_required">
                Report Name is required
              <p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" [class.error-style]="listNull.cycle_assign_to_required || listNull.cycle_assign_to_not_access">
            <label class="">Assigned To <span class="txt-required">(*)</span> </label>
            <select id="cycle_assign_to" class="form-control" (change)="filterForm($event.target); checkSameCusAssign($event)"
                    (focusout)="filterForm($event.target)" name="assign_to">
              <option value="">Select User</option>
              <option *ngFor="let item of cycleCountUserList" value="{{item.user_id}}">
                {{item.first_name}} {{item.last_name}}
              </option>
            </select>
            <p class="error" *ngIf="listNull.cycle_assign_to_required">
              Assigned To is required
            <p>
            <p class="error" *ngIf="listNull.cycle_assign_to_not_access">
              {{ warningMessages }}
            <p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <div class="form-group has-feedback" [class.error-style]="listNull.cycle_due_date_required">
              <label>Due Date <span class="txt-required">(*)</span></label>
              <input aria-describedby="" class="form-control" data-provide="datepicker" data-date-format="mm/dd/yyyy" data-date-today-highlight="1"
                     data-date-start-date="+0d"
                     id="cycle_due_date" (keyup)="filterForm($event.target)" (focus)="assignDate($event.target)">
              <span aria-hidden="true" class="icon-calendar form-control-feedback"></span>
              <p class="error" *ngIf="listNull.cycle_due_date_required">
                Due Date is required
              <p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="">Type: </label>
              <div class="clearfix">
                <label class="radio-inline">
                  <input type="radio" name="unknown_type" id="type-rf-gun" value="rfgun"> RF GUN
                </label>
                <label class="radio-inline">
                  <input type="radio" name="unknown_type" id="type-paper" value="paper" checked> PAPER
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-md-3">
            <label style="margin: 0 5px 0 0;">By <span class="txt-required">(*)</span>: </label>
            <label class="radio-inline">
              <input type="radio" (change)="changeCycleBy($event)" id='rcustomer' name="filter_by" value="CS" checked>
              Customer
            </label>
            <div class="form-group" [class.error-style]="listNull.customer_required || listNull.customer_not_access">
              <label>Customer</label>
              <select tabindex="1" name="customer" id="customer" (change)="filterForm($event.target); checkSameCusAssign($event); enableSku($event)"
                      (focusout)="filterForm($event.target)" class="form-control">
                <option value="">Select Customer</option>
                <option *ngFor="let item of dataListCustomer" value="{{item.cus_id}}">
                  {{item.cus_name}}
                </option>
              </select>
              <p class="error" *ngIf="listNull.customer_required">
                Customer is required
              <p>
              <p class="error" *ngIf="listNull.customer_not_access">
              {{ warningMessages }}
              <p>
            </div>
          </div>
          <div class="col-md-3">
            <label class="radio-inline">
              <input type="radio" (change)="changeCycleBy($event)" id='rsku' name="filter_by" value="SK"> SKU
            </label>
            <div class="form-group" [class.error-style]="listNull.sku_required || listNull.sku_invalid || (!listNull.sku_invalid && listNull.sku_select)">
              <label>SKU</label>
              <div class="auto-style">
                <input type="text" id="sku" (keyup)="filterForm($event.target); autoCompleteSku($event)" (click)="autoCompleteSku($event)" (focusout)="filterForm($event.target);checkInvalid($event.target)"
                       class="form-control" disabled autocomplete="off" placeholder="Auto Complete">
                <div class="list-group" id = 'list-sku' hidden>
                  <a class="list-group-item" (click) = 'selectedItemSku($event)' *ngFor="let item of dataListSku; let i = index;" id ='list-sku-{{i}}'>{{item.sku}} {{item.size}} {{item.color}}</a>
                </div>
              </div>
              <p class="error" *ngIf="listNull.sku_required">
                SKU is required
              <p>
              <p class="error" *ngIf="listNull.sku_invalid">
                SKU is not existed
              <p>
              <p class="error" *ngIf="!listNull.sku_invalid && listNull.sku_select">
                Please select SKU
              <p>
            </div>
          </div>

          <div class="col-md-3">
            <label class="radio-inline">
              <input type="radio" (change)="changeCycleBy($event)" id='rlocation' name="filter_by" value="LC">
              Location
            </label>
            <div class="form-group" [class.error-style]="listNull.locations">
              <label>Selected Location</label>
              <input type="hidden">

              <locations-popup
                      [data_used]="locations"
                      [isdisabled]="disabledloc"
                      [isPage]="'CC'"
                      (selectedLoc)="addLocation($event)"
              ></locations-popup>


              <p class="error" *ngIf="listNull.locations">
                Location is required
              <p>

            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Cycle Count by:</label>
            <div class="clearfix">
              <label class="radio-inline">
                <input id="carton" name="cycle_count_by_OUM" type="radio" value="carton" checked>
                Carton
              </label>
              <label class="radio-inline hidden">
                <input id="sku-each" name="cycle_count_by_OUM" type="radio" value="each">
                Each
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row" [hidden]="!flagShowSCL">
            <div class="col-md-4">
              <div class="form-group">
                <label>Size</label>
                <input type="text" value="{{dataSlectedSku['size']}}" class="form-control"  disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Color</label>
                <input type="text" value="{{dataSlectedSku['color']}}" class="form-control"  disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Lot</label>
                <select id="lot" class="form-control" disabled>
                  <option *ngFor="let item of dataSlectedSku['lot']; let i = index" value="{{item | uppercase}}">{{item}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden] = "true">
            <label></label>
            <div class="clearfix">
            <label>SKU with Color & Size?</label>
            <input class="checkbox-inline" id='sku-with-color-size' type="checkbox" name="sku-with-color-size" checked
                   title="Size & color">
              </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="form-group">
          <label>Description</label>
                    <textarea id='cycle_des' cols="30" rows="3"
                              class="form-control" style="resize: vertical;"></textarea>
        </div>
      </div>
    </div>
    <div class="button pull-right clearfix">
      <button class="btn btn-default" (click)="cancel()" type="reset"><i
        class="icon-close"></i>Cancel
      </button>
      <button class="btn btn-primary pull-right" type="submit" (click)="save()"><i
        class="icon-check"></i>Submit
      </button>
    </div>
  </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
