<div class="showing pull-left" *ngIf="Pagination?.count > 0 && !_shortText">
  Showing from {{(Pagination.current_page - 1) * _perPage + 1}} to {{(Pagination.current_page - 1) * _perPage + Pagination.count}} of total {{Pagination?.total}}
</div>
<div class="showing pull-left" *ngIf="Pagination?.count > 0 && _shortText">
  {{(Pagination.current_page - 1) * _perPage + 1}} - {{(Pagination.current_page - 1) * _perPage + Pagination.count}} / {{Pagination?.total}}
</div>
<ul class="pagination pull-right" *ngIf = "Pagination?.total_pages > 1">
  <li *ngIf="Pagination.current_page > Pagination.numLinks">
    <a (click) = "setCurrentPage(1)"><i class="fa fa-step-backward"></i></a>
  </li>
  <li *ngIf="Pagination.current_page > 1">
    <a (click) = "setCurrentPage(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
  </li>

  <li *ngFor="let item of Pagination.tmpPageCount; " class="active" [class.active]="item==Pagination.current_page">
    <a *ngIf="item != Pagination.current_page"  (click) = "setCurrentPage(item)">{{item}}</a>
    <a *ngIf="item == Pagination.current_page">{{item}}</a>
  </li>

  <li *ngIf="Pagination.current_page < Pagination.total_pages">
    <a (click) = "setCurrentPage(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
  </li>
  <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
    <a (click) = "setCurrentPage(Pagination.total_pages)"><i class="fa fa-step-forward"></i> </a>
  </li>

</ul>
