<div class="top-layout clearfix">
    <h2>Add Cycle Count Notification - Location</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" *ngIf="ccnlForm" [ngFormModel]="ccnlForm" (ngSubmit)="Save(ccnlForm)" novalidate>
        <div class="table">
            <div class="clearfix table-list-head">
                <div class="pull-right">
                    <!--<a class="btn btn-success pull-left margin-left" href="">Add more item</a>-->
                    <div class="input-group pull-right margin-left">
                        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                class="btn btn-group dropdown-toggle"
                                type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a (click)="deleteItem()"><i class="icon-trash"></i>Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-style1 clearfix" id="table-item-asn" ngControlGroup="details">
                <div class="col-md-12 no-padding">
                    <table class="table table-bordered editable small-padding-table" id="w-content-per">
                        <thead>
                        <tr>
                            <th width="5%"><input [disabled]="!items.length"
                                                   (ngModelChange)="fbdFun.CheckAll(itemsTable,$event)"
                                                   [ngModel]="itemsTable.selectedAll" type="checkbox"/></th>
                            <th title="Location">Location <span class="txt-required">(*)</span></th>
                            <th title="Sku">SKU <span class="txt-required">(*)</span></th>
                            <th title="Size">Size</th>
                            <th title="Size">Color</th>
                            <th title="Size">Lot</th>
                            <th title="Size">Packsize</th>
                            <!--<th title="Size">Remaining QTY <span class="txt-required">(*)</span></th>-->
                            <th title="Size">Reason <span class="txt-required">(*)</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items;let i=index" ngControlGroup="{{i}}">
                            <td width="25">
                                <input
                                    (change)="fbdFun.Selected(itemsTable,item,$event)"
                                    [ngModel]="item.selected" type="checkbox" tabindex="20">
                            </td>
                            <td class="autocomplete-style">
                                <div class="border-transitions checking"
                                     [class.active-check]="location.control.touched&&location.control.checking">
                                    <div class="control-group"
                                         [class.error-style]="((location.control.touched || item['submitForm']) &&  location.control.errors) || item['not_existed']">
                                        <div class="dropdown dropdown-autosearch">
                                                    <span class="waiting" *ngIf="item['showLoading']"><img
                                                            src="/assets/images/loading.gif"></span>
                                            <input maxlength="50"
                                                   tabindex="1"
                                                   (focusout) = "eventCkExistLocation(i, item)"
                                                   #location="ngForm"
                                                   [ngModel]="item.value.location"
                                                   (ngModelChange)="autoCompleteLocation(itemsTable, i,$event)"
                                                   ngControl="location"
                                                   placeholder="Auto Complete"
                                                   input-value-cell
                                                   class="form-control dropdown-toggle"
                                                   type="text" data-toggle="dropdown"/>

                                            <div tabindex="-1" class="dropdown-menu list-group"
                                                 *ngIf="location.value">
                                                <a tabindex="-1" class="list-group-item"
                                                   (click)="selectedItem(itemsTable,i,itemId)"
                                                   *ngFor="let itemId of autoSearchData[i]">{{itemId.loc_code}}</a>
                                            </div>

                                        </div>
                                        <p *ngIf="(location.control.touched || item['submitForm'])&&location.control.hasError('required')"
                                           class="error">
                                            Location is required.
                                        </p>
                                        <p class="error left" *ngIf="item['not_existed'] && !((location.control.touched || submitForm[i])&& (location.control.hasError('required') || location.control.hasError('duplicated')))">
                                            Location is not existed or unavailable.
                                        <p>
                                            <p *ngIf="(location.control.touched || item['submitForm'])&& location.control.hasError('duplicated')"
                                           class="error">
                                            Location, Item are duplicated!
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="autocomplete-style">
                                <div class="border-transitions checking"
                                     [class.active-check]="sku.control.touched&&sku.control.checking">
                                    <div class="control-group"
                                         [class.error-style]="(((sku.control.touched || item['submitForm']) &&  sku.control.errors) || item['sku_selected'] || item['sku_not_existed']) && item['flagDisSku']">
                                        <div class="dropdown dropdown-autosearch">
                                                    <span class="waiting" *ngIf="item['showLoadingsku']"><img
                                                            src="/assets/images/loading.gif"></span>
                                            <input maxlength="50"
                                                   placeholder="Auto Complete"
                                                   tabindex="1"
                                                   [disabled] = "!item['flagDisSku']"
                                                   #sku="ngForm"
                                                   [ngModel]="item.value.sku"
                                                   (focusout) = "eventCkExistSku(i, item)"
                                                   (ngModelChange)="autoComplete(itemsTable, i, $event, 'sku', item)"
                                                   ngControl="sku"
                                                   input-value-cell
                                                   class="form-control dropdown-toggle"
                                                   type="text" data-toggle="dropdown"/>

                                            <div tabindex="-1" class="dropdown-menu list-group list-table"
                                                 *ngIf="sku.value">
                                                <table>
                                                    <thead>
                                                    <th>SKU</th>
                                                    <th>Size</th>
                                                    <th>Color</th>
                                                    <th>Lot</th>
                                                    <th class="nowrap">Pack Size</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let itemId of item['autosku']" (click)="selectedItem(itemsTable,i,itemId, 'sku')">
                                                        <td><a (click)="selectedItem(itemsTable,i,itemId, 'sku')">{{itemId.sku}}</a></td>
                                                        <td><a (click)="selectedItem(itemsTable,i,itemId, 'sku')">{{itemId.size}}</a></td>
                                                        <td><a (click)="selectedItem(itemsTable,i,itemId, 'sku')">{{itemId.color}}</a></td>
                                                        <td><a (click)="selectedItem(itemsTable,i,itemId, 'sku')">{{itemId.lot}}</a></td>
                                                        <td><a (click)="selectedItem(itemsTable,i,itemId, 'sku')">{{itemId.ctn_pack_size}}</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <p *ngIf="(sku.control.touched || item['submitForm']) && sku.control.hasError('required') && item['flagDisSku']"
                                           class="error">
                                            SKU is required.
                                        </p>
                                        <p *ngIf="item['sku_not_existed'] && item['flagDisSku'] && !sku.control.hasError('required')"
                                           class="error">
                                            SKU is not existed.
                                        </p>
                                        <p *ngIf="item['sku_selected'] && item['flagDisSku'] && !sku.control.hasError('required') && !item['sku_not_existed']"
                                           class="error">
                                            Please select SKU.
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input tabindex="1"  ngControl="size"  #size="ngForm" type="text" disabled class="form-control"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input tabindex="1" ngControl="color"  #color="ngForm"  type="text" disabled class="form-control"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input tabindex="1"  ngControl="lot"  #lot="ngForm"  type="text" disabled class="form-control"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input tabindex="1" ngControl="pack"  #pack="ngForm"  type="text" disabled class="form-control"/>
                                </div>
                            </td>
                            <!--<td>-->
                                <!--<div class="form-group" [class.error-style]="((remain_qty.control.touched || item['submitForm']) &&  remain_qty.control.errors)">-->
                                    <!--<input tabindex="1" (keypress)="checkInputNumber($event, true)" ngControl="remain_qty"  #remain_qty="ngForm"  type="text" class="form-control"/>-->
                                    <!--<p *ngIf="(remain_qty.control.touched || item['submitForm'] ) && remain_qty.control.hasError('required')"-->
                                       <!--class="error">-->
                                        <!--Remaining QTY is required.-->
                                    <!--</p>-->
                                    <!--<p *ngIf="(remain_qty.control.touched || item['submitForm'])&&remain_qty.control.hasError('isZero')"-->
                                       <!--class="error">-->
                                        <!--Remaining QTY must be greater than 0-->
                                    <!--</p>-->
                                    <!--<p *ngIf="(remain_qty.control.touched || item['submitForm'] )&&remain_qty.control.hasError('lesspacksize')"-->
                                       <!--class="error">-->
                                        <!--Remaining QTY must be less than or equal to Packsize-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</td>-->
                            <td>
                                <div class="form-group" [class.error-style]="((reason.control.touched || item['submitForm'] ) &&  reason.control.errors)">
                                    <select type="text" class="form-control" tabindex="8"  #reason="ngForm" ngControl="reason">
                                        <option value="">Select one reason</option>
                                        <option *ngFor = "let item of dataListReason" value="{{item['r_name']}}">{{item['r_name']}}</option>
                                    </select>
                                    <p *ngIf="(reason.control.touched || item['submitForm']) && reason.control.hasError('required')"
                                       class="error">
                                        Reason is required.
                                    </p>
                                </div>

                            </td>
                        </tr>
                        <tr id='btn-add-more'>
                            <td class="add-more"><i  tabindex="2" class="fa fa-plus-circle" title="Add more"
                                                    (click)="addNewItem()"></i></td>
                            <td colspan="2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="button pull-right clearfix">
            <button type="button" tabindex="4" class="btn btn-default" (click)="cancel()"><i class="icon-close"></i>Cancel
            </button>
            <button type="submit" tabindex="3" class="btn btn-primary pull-right"><i class="icon-check"></i>Submit
            </button>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>


