<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block zone-management">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="Loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form *ngIf="ZoneTypeForm" class="form-horizontal form-style clearfix" [ngFormModel]="ZoneTypeForm"
          (ngSubmit)="Action!='view' && Save(ZoneTypeForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-area">
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(zone_type_code.control.touched || submitted) && zone_type_code.errors">
                                <label class="">Zone Type Code <span *ngIf="!isView"
                                                                     class="txt-required">(*)</span></label>
                                <input tabindex="1" type="text" minlength="2" maxlength="3" class="form-control" #zone_type_code="ngForm"
                                       ngControl="zone_type_code" [readonly]="IsView"
                                       (blur)="detectControlErr(zone_type_code)" required>

                                <p *ngIf="zone_type_code.errors&&zone_type_code.errors.error_messages" class="error">
                                    Zone Type Code {{ (zone_type_code.errors.error_messages) }}<br>
                                </p>
                                <p *ngIf="zone_type_code.control.touched && zone_type_code.control.hasError('invalidLength2Or3')" class="error">
                                    Zone Type Code only contains 2 or 3 characters, no special characters
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(zone_type_name.control.touched || submitted) && zone_type_name.errors">
                                <label class="">Zone Type Name <span *ngIf="!isView"
                                                                     class="txt-required">(*)</span></label>
                                <input tabindex="2" type="text" maxlength="20" class="form-control" #zone_type_name="ngForm"
                                       ngControl="zone_type_name" [readonly]="IsView"
                                       (blur)="detectControlErr(zone_type_name)" required>

                                <p *ngIf="zone_type_name.errors&&zone_type_name.errors.error_messages" class="error">
                                    Zone Type Name {{ (zone_type_name.errors.error_messages) }}<br>
                                </p>
                                <p *ngIf="zone_type_name.control.touched && zone_type_name.control.hasError('invalidNameStr')" class="error">
                                    Zone Type Name should only contain alphanumeric, space, hyphen and underscore.<br>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Description</label>
                                <textarea tabindex="3" name="" ngControl="zone_type_desc" maxlength="255" rows="3"
                                          [readonly]="IsView" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="button pull-right" *ngIf="!IsView">
                        <button type="button" (click)="Cancel()" class="btn btn-default" tabindex="5"><i
                                class="icon-close"></i>Cancel
                        </button>
                        <button type="submit" *ngIf="Action=='new'" class="btn btn-primary" tabindex="4"><i
                                class="icon-check"></i>Save
                        </button>
                        <button type="submit" *ngIf="Action=='edit'" class="btn btn-primary"><i
                                class="icon-check" tabindex="4"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="IsView"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
