<searches>
    <div class="search-form seven-column">
        <form class="clearfix form-inline" id="form-filter" autocomplete="off"
              (submit)="search()">
            <div class="form-group" *ngFor="let search of searches">

                <label>{{search.caption}}</label>
                <select *ngIf="search.hasOwnProperty('dropdown')"
                        name="{{search.name}}" class="form-control">
                    <option value="">All</option>
                    <option *ngFor="let item of search.dropdown.source | orderBy : ['value']"
                            value="{{item.key}}">
                        {{item.value}}
                    </option>
                </select>

                <input *ngIf="! search.hasOwnProperty('dropdown')
                           && ! search.hasOwnProperty('datePicker')
                           && ! search.hasOwnProperty('autocomplete')"
                       type="text"
                       class="form-control" name="{{search.name}}" placeholder=""/>

                <input *ngIf="! search.hasOwnProperty('dropdown')
                           && search.hasOwnProperty('datePicker')"
                       type="text" maxlength="10" autocomplete="off"
                       data-provide="datepicker" name="{{search.name}}"
                       class="form-control">

                <div *ngIf="! search.hasOwnProperty('dropdown')
                         && ! search.hasOwnProperty('datePicker')
                         && search.hasOwnProperty('autocomplete')"
                     class="dropdown dropdown-autosearch">

                    <input placeholder="Autocomplete..."
                           (ngModelChange)="loadAutocomplete($event, search)"
                           ngControl="{{search.name}}" name="{{search.name}}"
                           class="form-control dropdown-toggle autocomplete-{{search.name}}"
                           type="text" data-toggle="dropdown"/>

                    <div tabindex="-1" class="dropdown-menu list-group"
                         *ngIf="search.autocomplete.length > 0">

                        <a tabindex="-1" class="list-group-item nowrap"
                           (click)="selectAutocomplete($event.target.text, search)"
                           *ngFor="let autocompleteItem of search.autocomplete">
                            {{autocompleteItem}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <span *ngIf="flagLoading">
                    <img src="/assets/images/loading.gif" alt="">
                </span>
                <button type="button" class="btn btn-outline gray" (click)="reset()">
                    <i class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue">
                    <i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
</searches>
