<div class="top-layout clearfix">
  <h2>Cycle Count Review</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <form class="form-horizontal form-style" novalidate>
    <div class="area-block">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Cycle Name</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.cycle_name}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cycle Description</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.description}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.cycle_sts_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Due Date</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.due_dt}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Assigned By</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.assignee_by_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Assigned To</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.assignee_to_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Cycle Type</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.cycle_type_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Count by</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.count_by}}">
          </div>
        </div>
        <!--<div class="col-md-1">-->
          <!--<div class="form-group">-->
            <!--<label>By Color & Size</label>-->
            <!--<input type="text" class="form-control" required disabled value="{{cycleDetail.has_color_size == 1 ? 'Yes' : 'No'}}">-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <label>Display</label>
          </div>
          <div class="col-md-11">
            <div class="form-group">
              <div class="clearfix">
                <div class="col-md-1">
                  <label class="radio-inline">
                    <input type="radio" name="displayFilter" (change)="filterStatus('')" value="" checked> All
                  </label>
                </div>
                <div class="col-md-1">
                  <label class="radio-inline">
                    <input type="radio" name="displayFilter" (change)="filterStatus('AC')" value="AC">
                    Accepted
                  </label>
                </div>
                <div class="col-md-1">
                  <label class="radio-inline">
                    <input type="radio" name="displayFilter" (change)="filterStatus('RC')" value="RC"> Recount
                  </label>
                </div>
                <div class="col-md-1">
                  <label class="radio-inline">
                    <input type="radio" name="displayFilter" (change)="filterStatus('NW')" value="NW">
                    New
                  </label>
                </div>
                <div class="col-md-1">
                  <label class="radio-inline">
                    <input type="radio" name="displayFilter" (change)="filterStatus('OP')" value="OP">
                    Open
                  </label>
                </div>
                <div class="col-md-2">
                  <label class="radio-inline">
                    <input type="radio" name="displayFilter" (change)="filterStatus('NA')" value="NA">
                    Not Applicable
                  </label>
                </div>
                <div class="col-md-2">
                  <label class="radio-inline">
                    <input type="radio" name="displayFilter" (change)="filterStatus('DS')" value="DS">
                    Discrepancies
                  </label>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
  <div class="table">
    <div class="table-list-head clearfix">
      <div class="row-legth pull-left form-inline">
        Show
        <select (change)="onPageSizeChanged($event)" class="input-block-level form-control">
          <option selected="selected" value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="input-group pull-right" *ngIf = "hasApprovePermission || hasPrintPermission">
        <a (click) = "printPdf()" *ngIf = "hasPrintPermission" class="btn btn-outline blue" type="button"><i
                class="icon-printer"></i> Print</a>
        <button *ngIf = "hasApprovePermission" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                class="btn btn-group dropdown-toggle" type="button"><i class="icon-settings"></i>Action
          <span class="caret"></span></button>
        <ul class="dropdown-menu" *ngIf = "hasApprovePermission">
          <li><a (click)="recount()">Recount</a></li>
          <li><a (click)="accept()">Accept</a></li>
        </ul>
      </div>
    </div>
    <div class="table-style2 table-responsive">
      <table class="table table-bordered table-hover" id="role-list">
        <thead>
        <tr>
          <th class="column-checkbox"><input type="checkbox" (click)='checkAll($event)'></th>
          <th>Customer Code</th>
          <th>Customer Name</th>
          <th>SKU</th>
          <th>Size</th>
          <th>Color</th>
          <th>Lot</th>
          <th>Pack Size</th>
          <th [hidden]="isCountedByCarton">Remain QTY</th>
          <th>CTNs</th>
          <th [hidden]="isCountedByCarton">QTY</th>
          <th>{{cycleDetail.count_by=='CARTON' ? 'Sys CTN QTY':'Sys Piece QTY'}}</th>
          <th>{{cycleDetail.count_by=='CARTON' ? 'Act CTNs':'Act QTY'}}</th>
          <th>Location</th>
          <th style="display: none">Act Loc</th>
          <th>LPN/RFID</th>
          <th>New SKU</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr [class.row-selected]="item.selected" *ngFor="let item of countItemList; let index = index">
          <td><input type="checkbox" value="{{index}}" [ngModel]="item?.selected"
                     [disabled]="item['cycle_dtl_sts'] == 'AC' || item['cycle_dtl_sts'] == 'RC'"></td>
          <td>{{item.cus_code}}</td>
          <td>{{item.cus_name}}</td>
          <td>{{item.sku}}</td>
          <td>{{item.size}}</td>
          <td>{{item.color}}</td>
          <td>{{item.lot}}</td>
          <td>{{item.pack}}</td>
          <td [hidden]="isCountedByCarton">{{item.remain}}</td>
          <td>{{item.ttlCtn}}</td>
          <td [hidden]="isCountedByCarton">{{item.ttlPieces}}</td>
          <td>{{item.sys_qty}}</td>
          <td>{{item.act_qty}}</td>
          <td>{{item.sys_loc_name}}</td>
          <td style="display: none">{{item.act_loc_name}}</td>
          <td>{{item.plt_rfid}}</td>
          <td>{{item.is_new_sku == 1? 'Yes':'No'}}</td>
          <td>{{item.cycle_dtl_sts_name}}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="! showLoadingOverlay && countItemList.length==0">No Results Found.</p>
      <p *ngIf="showLoadingOverlay && ! countItemList.length">Loading ... </p>
    </div>
    <div class="pull-right">
      <div class="showing pull-left" *ngIf="countItemList.length>0">
        Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) * perPage +
        countItemList.length}} of total {{Pagination?Pagination.total:0}}
      </div>
      <ul class="pagination pull-right" *ngIf="Pagination && Pagination.total_pages > 1 && Pagination?.total > perPage">
        <li *ngIf="Pagination.current_page > Pagination.numLinks">
          <a (click)="filterList(1)"><i class="fa fa-step-backward"></i></a>
        </li>
        <li *ngIf="Pagination.current_page > 1">
          <a (click)="filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
            [class.active]="item==Pagination.current_page">
          <a *ngIf="item != Pagination.current_page" (click)="filterList(item)">{{item}}</a>
          <a *ngIf="item == Pagination.current_page">{{item}}</a>
        </li>
        <li *ngIf="Pagination.current_page < Pagination.total_pages">
          <a (click)="filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
        </li>
        <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
          <a (click)="filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <goBack></goBack>
</div>

<div id="show-reduce" class="modal fade" role="dialog" data-backdrop="static">
  <form>
    <div class="modal-dialog modal-style-default modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Revert/Cancel Order(s) to continue Cycle Count</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body form-style">
          <div class="table">
            <h4 class="modal-title">Cycle Count Must Reduce Inventory Allocated QTY</h4>
            <div class="table-style2 table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>SKU</th>
                  <th>Size</th>
                  <th>Color</th>
                  <th>Lot</th>
                  <th>Discrepancy QTY</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> {{cycleCountListOI['item_info']?.sku}}</td>
                  <td>{{cycleCountListOI['item_info']?.size}}</td>
                  <td>{{cycleCountListOI['item_info']?.color}}</td>
                  <td>{{cycleCountListOI['item_info']?.lot}}</td>
                  <td>{{cycleCountListOI['item_info']?.discrepancy_qty}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="table">
            <h4 class="modal-title">{{textRevert != '' || textCC != '' ? 'Please':''}} {{textRevert}}{{textRevert != '' && textCC != '' ? ' or ':''}}{{textCC}} {{textRevert != '' || textCC != '' ? 'Order(s)':''}}</h4>
            <div class="table-style2 table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Order Num</th>
                  <th>Status</th>
                  <th>SKU</th>
                  <th>Size</th>
                  <th>Color</th>
                  <th>Lot</th>
                  <th>Allocated QTY</th>
                  <th>Picked QTY</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of cycleCountListOI['orders']; let i = index">
                  <td>{{item['odr_num']}}</td>
                  <td>{{item['odr_sts_name']}}</td>
                  <td>{{item['sku']}}</td>
                  <td>{{item['size']}}</td>
                  <td>{{item['color']}}</td>
                  <td>{{item['lot']}}</td>
                  <td>{{item['alloc_qty']}}</td>
                  <td>{{item['picked_qty']}}</td>
                  <td>
                    <span class="pull-right hide" *ngIf="item['odr_sts'] == 'NW'">Reverted</span>
                    <button *ngIf="!(item['odr_sts'] == 'CC' || item['odr_sts'] == 'NW' || item['picked_qty'] != 0)" (click)="revert(i, item)"
                      class="btn btn-primary pull-right"><i class="icon-check"></i>Revert
                    </button>
                  </td>
                  <td>
                    <span class = "pull-right" *ngIf = "item['odr_sts'] == 'CC'">Canceled</span>
                    <button *ngIf ="!(item['odr_sts'] == 'CC' || item['odr_sts'] == 'NW')" (click) = "cancelReduce(i, item)"
                             class="btn btn-default pull-right"><i
                            class="icon-close"></i>Cancel Order
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="cycleCountListOI['item_info']?.discrepancy_qty >= 0"
                  class="btn btn-primary pull-right" (click) = 'accept()'><i
                  class="icon-check"></i>Continue Cycle Count
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
