<div class="top-layout clearfix">
    <h2>Packed Carton Dimension List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form six-column clearfix">
        <form class="clearfix form-inline" [ngFormModel]="searchForm" (ngSubmit)="Search()">
            <div class="form-group">
                <label>Length</label>
                <input tabindex="1" type="text" ngControl="length" name="length" class="form-control" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Width</label>
                <input tabindex="1" type="text" ngControl="width" name="width" class="form-control" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Height</label>
                <input tabindex="1" type="text" ngControl="height" name="height" class="form-control" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select tabindex="1" type="text" ngControl="pack_type" class="form-control">
                    <option value="">All</option>
                    <option *ngFor="let item of packTypeList" [value]="item.pack_code">{{item.pack_name}}</option>
                </select>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="3"><i
                        class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="2" (click)="Search()"><i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a class="btn btn-primary" href="#/master-data/dimension/new" tabindex="5"><i
                        class="icon-plus"></i>Add</a>
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="6"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a (click)="Delete()"><i class="icon-trash"></i>Delete</a></li>-->
                        <li><a (click)="printDimension()"><i class="icon-printer"></i>Print Dimension</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="4">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 clearfix">
            <ag-grid-ng2-extent
                    (dataSelected)="ListSelectedItem=$event"
                    [columnData]="columnData"
                    [sortDefault]="sortData"
                    (sortData)="sortData=$event;getDimensionList(Pagination['current_page'])"
                    [dataForRenderTable]="DimesionList"
                    [headerURL]="headerURL">
            </ag-grid-ng2-extent>
        </div>
        <div class="pull-right">
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getDimensionList($event)"
            ></wms-pagination>
        </div>
        <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
    </div>
</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
<div id="print-dimension-barcode" class="modal fade" role="dialog" data-backdrop="static">
    <form *ngIf="printForm&&showForm" [ngFormModel]="printForm" (submit)="printDimensionBarcode()" novalidate>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Print Dimension</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style3 table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Quantity <span class="txt-required">(*)</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" maxlength="3" ngControl="qty"
                                                    (keypress)="checkInputNumber($event)" class="form-control">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!printForm.valid"><i class="icon-check"></i>Print</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close</button>
                </div>
            </div>
        </div>
    </form>
</div>