<div *ngIf="canAccess">
    <div class="top-layout clearfix">
        <h2>Assign Pallet</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">
        <wms-messages [messages]="messages"></wms-messages>
        <form class="form-horizontal form-style" [ngFormModel]="palletForm" (ngSubmit)="submit()" novalidate>
            <div class="area-block clearfix">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Picked Total</label>
                            <input [ngModel]="pickedTotal" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Remaining QTY</label>
                            <input [(ngModel)]="remainQTY" type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row" ngControlGroup="items">
                    <div class="table-list-head clearfix">
                        <div class="input-group pull-right margin-left">
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-group dropdown-toggle"
                                    data-toggle="dropdown" type="button">
                                <i class="icon-settings"></i>Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a *ngIf="items.length > 0" (click)="delItem()">
                                        <i class="icon-trash"></i>Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-style2 table-print">
                        <table class="table table-bordered editable table-hover small-padding-table">
                            <thead>
                                <tr>
                                    <th class="column-checkbox">
                                        <input type="checkbox" [disabled]="!items.length"
                                               (ngModelChange)="fbdFuncs.CheckAll(itemsArray,$event)"
                                               [ngModel]="itemsArray?.selectedAll"/>
                                    </th>
                                    <th>Item Id</th>
                                    <th>SKU <span class="txt-required">(*)</span></th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Description</th>
                                    <th>Batch</th>
                                    <th>Pack Size</th>
                                    <th>UOM</th>
                                    <th>Picked QTY</th>
                                    <th>Picked CTNS</th>
                                    <th>QTY <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                    <th>CTNS <span *ngIf="!IsView" class="txt-required">(*)</span></th>
                                    <th>Pallet ID <span class="txt-required">(*)</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of items; let i=index;" ngControlGroup="{{i}}">
                                <td>
                                    <input type="checkbox" tabindex="20" [ngModel]="item.selected"
                                           (change)="fbdFuncs.Selected(itemsArray,item,$event)">
                                </td>
                                <td class="width120">
                                    <input disabled ngControl="item_id" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width200">
                                    <div class="control-group"
                                         [class.error-style]="(sku_id.control.touched || submitted ) && sku_id.control.errors">
                                        <select tabindex="20" #sku_id="ngForm" class="form-control" ngControl="sku"
                                                (change)="chooseSKU(i, $event.target, item)">
                                             <option value="">Select one value</option>
                                            <option *ngFor="let sku of SKUs" [value]="sku.sku">
                                                {{sku.sku}}-{{sku.size}}-{{sku.color}}-{{sku.pack}}-{{sku.lot}}
                                            </option>
                                        </select>
                                        <p *ngIf="(sku_id.control.touched || submitted ) && sku_id.control.hasError('required')"
                                           class="error">
                                            SKU is required.
                                        </p>
                                    </div>
                                </td>
                                <td class="width120">
                                    <input disabled ngControl="size" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <input disabled ngControl="color" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <input disabled ngControl="des" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <input disabled ngControl="lot" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <input disabled ngControl="pack_size" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <input disabled ngControl="uom_name" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <input disabled #picked_qty_id="ngForm" ngControl="picked_qty" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <input disabled #picked_ctns="ngForm" ngControl="picked_ctns" type="text" tabindex="20" class="form-control">
                                </td>
                                <td class="width120">
                                    <div class="control-group"
                                         [class.error-style]="(qty_kg_id.control.touched || submitted ) && qty_kg_id.control.errors">
                                        <input ngControl="qty_kg" #qty_kg_id="ngForm" type="text" tabindex="20"
                                               class="form-control" [disabled]="!sku_id.control.value || qty_kg_id.control['disabled']"
                                               (keypress)="validateFloatKeyPress(qty_kg_id['value'], $event)"
                                               (ngModelChange)="changePieceQTYValue(i, item)">
                                        <p *ngIf="(qty_kg_id.control.touched || submitted ) && qty_kg_id.control.hasError('required')"
                                           class="error">
                                            The number of QTY is required.
                                        </p>
                                        <p *ngIf="qty_kg_id.control.hasError('invalidNumber')"
                                           class="error">
                                           QTY must be an number.
                                        </p>
                                        <p *ngIf="(qty_kg_id.control.touched || submitted ) && qty_kg_id.control.hasError('isZero')"
                                           class="error">
                                           QTY must be greater than 0
                                        </p>
                                        <p *ngIf="(qty_kg_id.control.touched || submitted ) && qty_kg_id.control.hasError('invalidPieceQTY')"
                                           class="error">
                                            The number of QTY must not be greater than the number of picked QTY ({{picked_qty_id.control.value}})
                                        </p>
                                        <p *ngIf="(qty_kg_id.control.touched || submitted ) && qty_kg_id.control.hasError('invalidCartonUOMPieceQTY')"
                                           class="error">
                                            Carton QTY must be a digit number.
                                        </p>
                                        <p *ngIf="(qty_kg_id.control.touched || submitted ) && qty_kg_id.control.hasError('invalidDecimalNumber')"
                                            class="error">
                                            QTY is invalid decimal number
                                        </p>
                                    </div>
                                </td>
                                <td class="width120">
                                    <div class="control-group"
                                         [class.error-style]="(ctns_id.control.touched || submitted ) && ctns_id.control.errors">
                                        <input  #ctns_id="ngForm" ngControl="ctns" type="text" tabindex="20"
                                                class="form-control" [disabled]="!sku_id.control.value"
                                                (ngModelChange)="changeCTNSValue(item)">
                                        <p *ngIf="(ctns_id.control.touched || submitted ) && ctns_id.control.hasError('required')"
                                           class="error">
                                            CTNS is required.
                                        </p>
                                        <p *ngIf="ctns_id.control.hasError('invalidNumber')||ctns_id.control.hasError('invalidInt')"
                                           class="error">
                                            CTNS must be an integer number.
                                        </p>
                                        <p *ngIf="(ctns_id.control.touched || submitted ) && ctns_id.control.hasError('isZero')"
                                           class="error">
                                            CTNS must be greater than 0
                                        </p>
                                        <p *ngIf="(ctns_id.control.touched || submitted ) && ctns_id.control.hasError('invalidCTNS')"
                                           class="error">
                                            The number of QTY must not be greater than the number of picked QTY ({{picked_qty_id.control.value}})
                                        </p>
                                    </div>
                                </td>
                                <td class="width120">
                                    <div class="control-group"
                                         [class.error-style]="(pallet_id.control.touched || submitted ) && pallet_id.control.errors">
                                        <input #pallet_id="ngForm" ngControl="plt_rfid" type="text" tabindex="20"
                                               class="form-control" [disabled]="!sku_id.control.value"
                                               (keyup)="formatPalletID($event.target.value, item, 'plt_rfid')"
                                               (change)="changePalletID(item)">
                                        <p *ngIf="(pallet_id.control.touched || submitted ) && pallet_id.control.hasError('required')"
                                           class="error">
                                            Pallet ID is required.
                                        </p>
                                        <p *ngIf="(pallet_id.control.touched || submitted ) && pallet_id.control.hasError('duplicated')"
                                           class="error">
                                            Pallet ID is duplicated.
                                        </p>
                                        <p *ngIf="(pallet_id.control.touched || submitted ) && pallet_id.control.hasError('invalidPalletID')"
                                           class="error">
                                            {{pallet_id.control?.error_api}}
                                        </p>
                                    </div>
                                </td>
                                <input ngControl="odr_hdr_id" type="hidden" tabindex="20" class="form-control">
                                <input ngControl="odr_dtl_id" type="hidden" tabindex="20" class="form-control">
                                <input ngControl="new_sku" type="hidden" tabindex="20" class="form-control">
                                <!--<input #picked_qty_id="ngForm" ngControl="picked_qty" type="hidden" tabindex="20" class="form-control">-->
                        </tr>
                            <tr class="text-center" *ngIf="remainQTY > 0">
                                <td class="add-more">
                                    <span (click)="addItem()" class="button-add" tabindex="21">
                                        <i class="fa fa-plus-circle"></i>
                                    </span>
                                </td>
                                <td colspan="13"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="button pull-right">
                <button type="button" class="btn btn-default" (click)="cancel()" tabindex="7"><i class="icon-close"></i>Cancel
                </button>
                <button type="submit" class="btn btn-primary" tabindex="5"><i class="icon-check"></i>Save</button>
            </div>
        </form>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>