<div class="top-layout clearfix">
  <h2>Block Stock List</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix">
  <wms-messages [messages]="messages"></wms-messages>

  <form class="form-horizontal form-style" novalidate>
    <div class="area-block">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Block ID</label>
            <input type="text" class="form-control" required readonly value="{{blockDetail.block_hdr_id}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Block Number</label>
            <input type="text" class="form-control" required readonly value="{{blockDetail.block_num}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Block Type</label>
            <input type="text" class="form-control" required readonly value="{{blockDetail.block_type_name}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" required readonly value="{{blockDetail.block_sts_name}}">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="table">
    <div class="table-list-head clearfix">
      <div class="row-legth pull-left form-inline">
        <label>Show</label>
        <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="input-block-level form-control">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="table-style2">
      <table class="table editable table-bordered table-hover" id="role-list">
        <thead>
        <tr>
          <th class="column-checkbox">
            <input type="checkbox" (change)="checkAll($event)"  [(ngModel)]="selectedAll">
          </th>
          <th>Customer</th>
          <th>Zone</th>
          <th>Item ID</th>
          <th>UPC</th>
          <th>SKU</th>
          <th>Color</th>
          <th>Size</th>
          <th>Location</th>
          <th>Status</th>
          <th>Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of countItemList; let i = index;">
          <td>
            <input type="checkbox" value="{{item.block_dtl_id}}"
                   (change)="checkSelectItem($event)"
                   [ngModel]="item?.selected">
          </td>
          <td class="nowrap">{{item.cus_name}}</td>
          <td class="nowrap">{{item.zone_name}}</td>
          <td class="nowrap">{{item.item_id}}</td>
          <td class="nowrap">{{item.upc}}</td>
          <td class="nowrap">{{item.sku}}</td>
          <td class="nowrap">{{item.color}}</td>
          <td class="nowrap">{{item.size}}</td>
          <td class="nowrap">{{item.loc_name}}</td>
          <td class="nowrap">{{item.block_dtl_sts_name}}</td>
          <td>{{blockDetail.reason_name}}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="!loading['getCycleCount'] && countItemList.length==0">No Results Found.</p>
      <p *ngIf="loading['getCycleCount'] && ! countItemList.length">Loading ... </p>
    </div>
    <div class="pull-right">
      <div class="showing pull-left" *ngIf="countItemList.length>0">
        Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) * perPage +
        countItemList.length}} of total {{Pagination?Pagination.total:0}}
      </div>
      <ul class="pagination pull-right" *ngIf="Pagination && Pagination.total_pages > 1 && Pagination?.total > perPage">
        <li *ngIf="Pagination.current_page > Pagination.numLinks">
          <a (click)="filterList(1)"><i class="fa fa-step-backward"></i></a>
        </li>
        <li *ngIf="Pagination.current_page > 1">
          <a (click)="filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
            [class.active]="item==Pagination.current_page">
          <a *ngIf="item != Pagination.current_page" (click)="filterList(item)">{{item}}</a>
          <a *ngIf="item == Pagination.current_page">{{item}}</a>
        </li>
        <li *ngIf="Pagination.current_page < Pagination.total_pages">
          <a (click)="filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
        </li>
        <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
          <a (click)="filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <goBack></goBack>
</div>
<div class="button pull-right clearfix">
  <button class="btn btn-default" (click)="cancel()" type="reset"><i
          class="icon-close"></i>Cancel
  </button>
  <button class="btn btn-primary pull-right" type="submit" (click)="unblock()"><i
          class="icon-check"></i>Unblock/Submit
  </button>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
