<div class="top-layout clearfix">
    <h2>Role List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form six-column">
        <form class="clearfix" id="form-filter" (submit)="search()">
            <div class="form-group">
                <label>Role Code</label>
                <input type="text" class="form-control" name="code" tabindex="1">
            </div>
            <div class="form-group">
                <label>Role Name</label>
                <input type="text" class="form-control" name="name" tabindex="2">
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="4"><i class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="3"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="table-list-head filter clearfix">
            <div class="row-legth pull-left form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="input-block-level form-control" tabindex="5">
                    <option selected="selected" value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="pull-right">
                <div class="btn btn-primary" *ngIf="hasAddPermission" (click)="createDetail()" tabindex="6"><i class="icon-plus"></i>Add
                </div>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle" type="button" tabindex="7"><i class="icon-settings"></i>Action
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="editRole()"><i class="icon-note"></i>Edit</a></li>
                        <!-- <li><a (click) = "delete()">Delete</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-style1">


          <ag-grid-ng2-extent
            (dataSelected)="ListSelectedItem=$event"
            [columnData]="columnData"
            [sortDefault]="sortData"
            (sortData)="sortData=$event;getRoleList(Pagination['current_page'])"
            [dataForRenderTable]="allRoles"
            [headerURL]="headerURL"></ag-grid-ng2-extent>


        </div>

      <div class="pull-right">
        <wms-pagination
          [perPage]="perPage"
          [paginData]="Pagination"
          (pageChange)="getRoleList($event)"
        ></wms-pagination>
      </div>

    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
