<div *ngIf="data.length > 0">
  <div class="alert alert-danger" *ngFor="let message of data">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
  </div>
</div>
