<div class="top-layout clearfix">
  <h2 *ngIf="canCreate || canEdit">Create Cycle Count Reason</h2>
  <h2 *ngIf="!canCreate && !canEdit">Cycle Count Reason List</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <form class="form-horizontal form-style" *ngIf="Form&&showForm&&(canCreate || canEdit)"  [ngFormModel]="Form"
        (ngSubmit)="Save()" novalidate>
    <div class="area-block clearfix">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group" [class.error-style]="(R_name.control.touched || submitForm ) && R_name.control.errors">
            <label>Reason name <span class="txt-required">(*)</span></label>
            <input type="text" #R_name="ngForm" maxlength="50" ngControl="r_name" class="form-control"/>

            <p *ngIf="(R_name.control.touched || submitForm )&&R_name.control.hasError('required')"
               class="error">
              Reason name is required.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Description</label>
            <input ngControl="reason_desc" maxlength="255" class="form-control">
          </div>
        </div>
        <div class="btn-toolbar pull-left">
          <div class="form-group margin-top21">
            <button class="btn btn-primary pull-left" type="submit"><i
                    class="icon-check"></i>Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="table">
    <div class="table-list-head filter clearfix" *ngIf="dataListReason.length > 0">
      <div class="form-inline pull-left">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event,'eventtrack')" class="form-control">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="table-style1 table-responsive">
      <div class="col-md-7 no-padding">
        <table class="table table-hover table-bordered table-striped">
          <thead>
          <tr>
            <th title="Reason Name" class="col-md-4">Reason Name</th>
            <th title="Description">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of dataListReason">
            <td>{{item.r_name}}</td>
            <td>{{item.reason_desc}}</td>
          </tr>
          </tbody>
        </table>
        <p *ngIf="dataListReason.length==0&&!showLoadingOverlay">No Results Found.</p>
      </div>
    </div>
    <div class="pull-right">
      <wms-pagination
              [perPage]="perPage"
              [paginData]="Pagination"
              (pageChange)="getListReason($event)"
      ></wms-pagination>
    </div>
  </div>

</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

