<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form class="form-horizontal form-style" *ngIf="dmgTypeForm" [ngFormModel]="dmgTypeForm"
          (ngSubmit)="action!='view' && save(dmgTypeForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-area">
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(dmg_code.control.touched || submitted) && dmg_code.control.errors">
                                <label class="">Damage Type Code <span class="txt-required">(*)</span></label>
                                <input tabindex="1" type="text" minlength="2" maxlength="3" class="form-control" #dmg_code="ngForm"
                                       ngControl="dmg_code" [readonly]="isView" (blur)="detectControlErr(dmg_code)"
                                       required>

                                <p *ngIf="dmg_code.errors&&dmg_code.errors.error_messages" class="error">
                                    Damage Type Code {{ (dmg_code.errors.error_messages) }}<br>
                                </p>
                                <p *ngIf="dmg_code.control.touched && dmg_code.control.hasError('invalidLength2Or3')" class="error">
                                    Damage Type Code only contains 2 or 3 characters, no special characters
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(dmg_name.control.touched || submitted) && dmg_name.control.errors">
                                <label class="">Damage Type Name <span class="txt-required">(*)</span></label>
                                <input tabindex="2" type="text" maxlength="20" class="form-control" #dmg_name="ngForm"
                                       ngControl="dmg_name" [readonly]="isView" (blur)="detectControlErr(dmg_name)"
                                       required>

                                <p *ngIf="dmg_name.errors&&dmg_name.errors.error_messages" class="error">
                                    Damage Type Name {{ (dmg_name.errors.error_messages) }}<br>
                                </p>
                                <p *ngIf="dmg_name.control.touched && dmg_name.control.hasError('invalidNameStr')" class="error">
                                    Damage Type Name should only contain alphanumeric, space, hyphen and underscore.<br>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Description</label>
                                <textarea tabindex="3" name="" [readonly]="isView" maxlength="255" rows="2" class="form-control"
                                          ngControl="dmg_des"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="button pull-right" *ngIf="!isView">
                        <button type="button" class="btn btn-default" (click)="cancel()" tabindex="5"><i class="icon-close"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='new'" tabindex="4"><i class="icon-check"></i>Save
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='edit'" tabindex="4"><i class="icon-check"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="isView"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
