<div class="table-style1">
    <advance-table [tableID]="tableIDInput"
                   [headerURL]="headerURLInput"
                   [headerDef]="headerDefInput"
                   [rowData]="rowDataInput">
    </advance-table>

    <div class="pull-right color-gray">
        <wms-pagination
                [perPage]="perPageInput"
                [paginData]="paginDataInput"
                (pageChange)="getLogs($event)">
        </wms-pagination>
    </div>
</div>
<div id="modal-content" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body form-style">
                <ul *ngIf="!isTextData">
                    <li *ngFor="let item of viewData" style="word-wrap: break-word;">
                        <span><strong>{{item.key}}</strong></span>
                        <span>:</span>
                        <span>{{item.value}}</span>
                    </li>
                </ul>
                <p *ngIf="isTextData">{{viewData}}</p>
            </div>
        </div>
    </div>
</div>