<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form *ngIf="EDIForm" class="form-horizontal form-style" [ngFormModel]="EDIForm"
          (ngSubmit)="Action!=='View' && Save(EDIForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group"
                         [class.error-style]="(Whs_id.control.touched||submitForm)&&Whs_id.control.errors">
                        <label class="">WareHouse <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <select tabindex="1" (change)="changeWHS($event)"
                                [disabled]="IsView"
                                class="form-control" ngControl="whs_id" #Whs_id="ngForm" required>
                            <option value="">Select one value</option>
                            <option *ngFor="let item of wareHouseList" [value]="item.whs_id">{{item.whs_name}}
                            </option>
                        </select>
                        <p *ngIf="(Whs_id.control.touched||submitForm)&&Whs_id.control.errors"
                           class="error">
                            Customer is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group"
                         [class.error-style]="(Cus.control.touched||submitForm)&&Cus.control.errors">
                        <label class="">Customer<span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <select tabindex="1" (change)="changeCustomer($event)"
                                [disabled]="IsView"
                                class="form-control" ngControl="cus_id" #Cus="ngForm" required>
                            <option value="">Select one value</option>
                            <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                            </option>
                        </select>
                        <p *ngIf="(Cus.control.touched||submitForm)&&Cus.control.errors"
                           class="error">
                            Customer is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-style2">
                <div class="col-md-4 no-padding">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                        <tr>
                           <th>EDI Name</th>
                           <th>Description</th>
                           <th>Usage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of EDILIST">
                            <td>{{item.edi_key}}</td>
                            <td>{{item.description}}</td>
                            <td><input [disabled]="IsView" (change)="checkEDITValue($event,item)" [ngModel]="item.value" type="checkbox" tabindex="2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <goBack *ngIf="IsView" [url]="'/edi'"></goBack>
        <div *ngIf="!IsView" class="button pull-right">
            <button (click)="redirectToList()" class="btn btn-default" tabindex="4"><i
                    class="icon-close"></i>Cancel
            </button>
            <button type="submit" *ngIf="Action=='edit'" class="btn btn-primary" tabindex="3"><i class="icon-check"></i>Update
            </button>
            <button type="submit" *ngIf="Action=='new'" class="btn btn-primary" tabindex="3"><i class="icon-check"></i>Save
            </button>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>