<div class="col-md-6">
  <form class=" form-style"  (ngSubmit)="submitForm()" novalidate>
    <wms-messages [messages]="messages"></wms-messages>
    <div *ngIf="resetPasswordMsgs['err'].length > 0">
      <div class="alert alert-danger" *ngFor="let message of resetPasswordMsgs['err']">
        <a (click)="removeMsgs(message)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
      </div>
    </div>
    <h4>Change Password</h4>
    <p><i>(*) Password must contain at least 8 characters, 1 lowercase character, 1 uppercase character, 1 number, 1 special character.</i></p>
    <br>
    <div class="form-group">
        <label >Old Password <span class="txt-required">(*)</span></label>
        <input type="password" maxlength="35" class="form-control" required [(ngModel)]="old_password">
    </div>
    <div class="form-group">
        <label >New Password <span class="txt-required">(*)</span></label>
        <input type="password" maxlength="35" class="form-control" required [(ngModel)]="password">
    </div>
    <div class="form-group has-feedback">
        <label >Confirm New Password <span class="txt-required">(*)</span></label>
        <input type="password" minlength="8" maxlength="32" class="form-control" required [(ngModel)]="password_confirmation">
      <span *ngIf="password==password_confirmation && password != '' && password.length > 7"
            class="glyphicon glyphicon-ok form-control-feedback greenCheck" aria-hidden="true" style="line-height: 1 !important;"></span>
    </div>
    <div class="button">
      <button type="submit" class="btn btn-primary pull-right margin-left">Set New password</button>
      <a href="#/profile" class="btn btn-default pull-right">Cancel</a>
    </div>
  </form>
</div>
