<h3>
  Storage Aging by SKU
  <ul class="nav nav-tabs icon-chart-block" role="tablist">
    <li role="presentation" class="active">
      <a href="#storage-sku-list" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-list"></i></a>
    </li>
    <li role="presentation">
      <a href="#storage-sku-pie-chart" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-pie-chart"></i></a>
    </li>
    <li role="presentation">
      <a href="#storage-sku-bar-chart" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i></a>
    </li>
  </ul>

  <span class="pull-right form-style-dashboard">
    <label>SKU</label>
    <div class="dropdown dropdown-autosearch">
      <span class="waiting" *ngIf="listDataAutocomplete['loading-sku']">
        <img src="/assets/images/loading.gif" />
      </span>
      <input
        type="text"
        maxlength="50"
        autocomplete="off"
        placeholder="Auto Complete"
        data-toggle="dropdown"
        class="form-control dropdown-toggle"
        (keyup)="autoCompleteSku('sku', $event)"
        [value]="selectedSKU"
      />
      <div class="dropdown-menu list-group" *ngIf="listDataAutocomplete['sku']">
        <a (click)="selectedItem(item)" *ngFor="let item of listDataAutocomplete['sku']" class="list-group-item nowrap">
          {{ item.sku }}
        </a>
      </div>
    </div>
  </span>
</h3>
<div class="dashboard-detail tab-content">
  <div role="tabpanel" class="tab-pane active" id="storage-sku-list">
    <div class="table-style-dashboard table-style-dashboard2">
      <table class="table-dashboard table">
        <tbody *ngIf="!isType">
          <tr class="total">
            <td>Total</td>
            <td>
              {{ totalValue | wmsNumberFormatter }}
            </td>
            <td>{{ '100%' }}</td>
          </tr>
          <tr>
            <td>Period 0-30</td>
            <td>{{ (listStorageAging[0] ? listStorageAging[0]['count'] : 0) | wmsNumberFormatter }}</td>
            <td>{{ (listStorageAging[0] ? calculatePercentage(listStorageAging[0]['count'], totalValue) : 0) | number: '1.2-2' }}%</td>
          </tr>
          <tr>
            <td>Period 31-60</td>
            <td>{{ (listStorageAging[1] ? listStorageAging[1]['count'] : 0) | wmsNumberFormatter }}</td>
            <td>{{ (listStorageAging[1] ? calculatePercentage(listStorageAging[1]['count'], totalValue) : 0) | number: '1.2-2' }}%</td>
          </tr>
          <tr>
            <td>Period 61-90</td>
            <td>{{ (listStorageAging[2] ? listStorageAging[2]['count'] : 0) | wmsNumberFormatter }}</td>
            <td>{{ (listStorageAging[2] ? calculatePercentage(listStorageAging[2]['count'], totalValue) : 0) | number: '1.2-2' }}%</td>
          </tr>
        </tbody>
        <tbody *ngIf="isType">
          <tr class="total">
            <td>Total Locations</td>
            <td>{{ total | wmsNumberFormatter }}</td>
            <td>{{ total == 0 ? '0.00%' : '100%' }}</td>
          </tr>
          <tr *ngFor="let item of listStorageAgingStatus">
            <td>{{ item['loc_type_name'] }}</td>
            <td>{{ item['quantity'] | wmsNumberFormatter }}</td>
            <td>{{ item['percent'] | number: '1.2-2' }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="storage-sku-pie-chart">
    <div class="row">
      <div class="col-md-12">
        <canvas id="storage-sku-pie-chart-content"></canvas>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="storage-sku-bar-chart">
    <div class="row">
      <div class="col-md-12">
        <canvas id="storage-sku-bar-chart-content"></canvas>
      </div>
    </div>
  </div>
</div>
