<div class="table-list-head clearfix" *ngIf="dataEventTracking.length > 0">
    <div class="form-inline pull-left">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event,'eventtrack')" class="form-control">
            <option value="20" selected>20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<div class="table-style2 table-responsive table-print">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th title="Owner" class="nowrap">Owner</th>
            <th title="Transaction Number">Transaction #</th>
            <th title="Milestone">Milestone</th>
            <th title="Event">Event</th>
            <th title="Information">Info</th>
            <th title="Date Time">Date Time</th>
            <th title="User">User</th>
        </tr>
        <tr *ngFor="let item of dataEventTracking">
            <td class="nowrap">{{item.owner}}</td>
            <td class="nowrap">{{item.trans_num}}</td>
            <td class="nowrap"><span *ngIf="item.evt_type == 'E'" class="icon-e"></span><span
                    *ngIf="item.evt_type != 'E'" class="icon-m" title="Milestone"></span></td>
            <td class="nowrap">{{item.evt_code}}</td>
            <td class="nowrap">{{item.info}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.user}}</td>
        </tr>
        </thead>
    </table>
    <p *ngIf="dataEventTracking.length==0&&!showLoadingOverlay">No Results Found.</p>
    <div class="pull-right color-gray">
        <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="_getEventTrackingByAsn($event)"
        ></wms-pagination>
    </div>
</div>