<div class="top-layout clearfix">
    <h2>Pallet Assignment</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="col-md-6">
        <form class="form-horizontal form-style">
            <div class="form-style">
                <div class="panel-group panel-style" id="wrap-pallet-assign">
                    <div class="panel-title-top clearfix">Item ID-SKU-Size-Color-Lot (Total/Assigned Cartons)
                            <div class="input-group pull-right">
                                <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                   class="dropdown-toggle"
                                   type="button"><i class="icon-settings"></i>Action <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a (click)="deleteItem($event)"><i class="icon-trash"></i>Delete</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="panel panel-default" *ngFor="let item of dataGrDetail; let i = index;">
                        <div class="panel-heading">
                            <h4><i class="icon-arrow-right-circle"></i>
                                {{item.dtl_item_id}}-{{item.dtl_sku}}-{{item.dtl_size}}-{{item.dtl_color}}-{{item.asn_dtl_lot}} (<span id="total_Assigned_{{i}}">{{item.act_ctn_except_xdoc}}/0</span>)
                            </h4>

                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="table-style3">
                                <table class="table table-bordered" id="t_wrap_item_{{i}}">
                                    <thead>
                                    <tr>
                                        <th class="column-checkbox"><input id="ck_first_{{i}}" (click)="ckAll($event)"
                                                                           type="checkbox"/></th>
                                        <th>Number Cartons Per Pallet</th>
                                        <th>Number of Pallets</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item2 of tmpItem[i]; let i2 = index;">
                                        <th class="column-checkbox"><input type="checkbox" id="item_ck_{{i}}_{{i2}}"
                                                                           (click)="eventCheck($event)"/></th>
                                        <td>
                                            <div class="form-group pallet-assign-item" [class.error-style]="listNull['carton_per_pallet_' + i +'_' + i2 + '_required'] || listNull['carton_per_pallet_' + i +'_' + i2 + '_int']
                                        || listNull['carton_per_pallet_' + i +'_' + i2 + '_greater0'] || listNull['carton_per_pallet_' + i +'_' + i2 +'_total_assigned']">
                                                <input maxlength="8" name="carton_per_pallet_{{i}}_{{i2}}"
                                                       id="carton_per_pallet_{{i}}_{{i2}}" type="text"
                                                       (keyup)="filterForm($event.target, 'required_int_greater0')"
                                                       (focusout)="filterForm($event.target, 'required_int_greater0')"
                                                       (keypress)="checkInputNumber($event)"
                                                       (keyup)="autoAssign($event, i2);calTotalAssigned($event)" class="form-control">
                                                <p *ngIf="listNull['carton_per_pallet_' + i +'_' + i2 +'_required']"
                                                   class="error">
                                                    Number Cartons Per Pallet is required
                                                <p>
                                                <p *ngIf="listNull['carton_per_pallet_' + i +'_' + i2 +'_int']"
                                                   class="error">
                                                    Number Cartons Per Pallet must be integer
                                                <p>
                                                <p *ngIf="listNull['carton_per_pallet_' + i +'_' + i2 +'_greater0']"
                                                   class="error">
                                                    Number Cartons Per Pallet must be greater than 0
                                                <p>
                                                <p *ngIf="listNull['carton_per_pallet_' + i +'_' + i2 +'_total_assigned'] && !listNull['carton_per_pallet_' + i +'_' + i2 +'_int']
                                            && !listNull['carton_per_pallet_' + i +'_' + i2 +'_greater0']"
                                                   class="error">
                                                    Assigned Cartons must be equal Total
                                                <p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group pallet-assign-item"
                                                 [class.error-style]="listNull['pallet_' + i +'_' + i2 + '_required'] || listNull['pallet_' + i +'_' + i2 + '_int'] || listNull['pallet_' + i +'_' + i2 + '_greater0'] || listNull['pallet_' + i +'_' + i2 +'_total_assigned']">
                                                <input maxlength="8" name="pallet_{{i}}_{{i2}}"
                                                       id="pallet_{{i}}_{{i2}}" type="text" class="form-control"
                                                       (keyup)="calTotalAssigned($event)"
                                                       (keyup)="filterForm($event.target, 'required_int_greater0')"
                                                       (focusout)="filterForm($event.target, 'required_int_greater0')"
                                                       (keypress)="checkInputNumber($event)">
                                                <p *ngIf="listNull['pallet_' + i +'_' + i2 +'_required']" class="error">
                                                    Number of Pallets is required
                                                <p>
                                                <p *ngIf="listNull['pallet_' + i +'_' + i2 +'_int']" class="error">
                                                    Number of Pallets must be integer
                                                <p>
                                                <p *ngIf="listNull['pallet_' + i +'_' + i2 +'_greater0']" class="error">
                                                    Number of Pallets must be greater than 0
                                                <p>
                                                <p *ngIf="listNull['pallet_' + i +'_' + i2 +'_total_assigned'] && !listNull['pallet_' + i +'_' + i2 +'_int']
                                            && !listNull['pallet_' + i +'_' + i2 +'_greater0']" class="error">
                                                    Assigned Cartons must be equal Total
                                                <p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="add-more"><i class="fa fa-plus-circle" id='event_add_{{i}}'
                                                                (click)="eAddMoreItem($event)"></i></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button pull-right">
              <!--<a type="button" class="btn btn-default" (click)="printCartonLabel()">
                Print Carton Labels
              </a>-->
                <button *ngIf = "hasSavePrintBtn" [disabled] = 'flagDisable' type="button" class="btn btn-default" (click)="save('spr')">
                    <i class="icon-printer"></i> Save & Print Putaway List
                </button>
                <!--<a type="button" class="btn btn-primary" (click)="save()"><i class="icon-check"></i>Save</a>-->
            </div>
        </form>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
