
<!-- / message -->
<wms-messages [messages]="messages"></wms-messages>

<h4><b>WV#:</b>  {{wv_num}}</h4>
<h4><b>QTY:</b>  {{qty}}</h4>
<div class="rf-table-style">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>SKU</th>
      <th>QTY</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of SKUList">
      <!--<td><a (click)="rediect_updatePutAway(item)">{{item.sku}}-{{item.size}}-{{item.color}}</a></td>-->
      <td><a (click)="rediect_updatePutAway(item)">{{item.sku}}</a></td>
      <td>{{item.qty}}</td>
      <td class="text-success">
        <i *ngIf="item.status=='DONE'" class="ico-check"></i>
        <i *ngIf="item.status=='IN'" class="ico-2cycle"></i>
        <i *ngIf="item.status=='NOT'" class="ico-0cycle"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="SKUList.length==0&&!showLoadingOverlay">No Results Found.</p>
</div>


<!-- pop loading -->
<div *ngIf="showLoadingOverlay" class="loading-overlay loading-overlay-mb"><img src="/assets/images/loading-color.gif" alt=""></div>
