<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form *ngIf="hasState||action=='new'" class="form-horizontal form-style" [ngFormModel]="stateForm"
          (ngSubmit)="submitForm(stateForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-area">
                        <div class="col-md-4">
                            <div class="form-group"
                                 [class.error-style]="CountryId.errors&&CountryId.errors.error_messages">
                                <label class="">Country <span *ngIf="action!='view'"
                                                              class="txt-required">(*)</span></label>
                                <select #CountryId='ngForm' class="form-control" ngControl="sys_state_country_id"
                                        (blur)="detectControlErr(CountryId)" name="country-name" [disabled]="stateID">
                                    <option value="">Select one value</option>
                                    <option *ngFor="let item of countryList" [value]="item?.sys_country_id">
                                        {{item?.sys_country_name}}
                                    </option>
                                </select>
                                <p *ngIf="CountryId.errors&&CountryId.errors.error_messages" class="error">
                                    Country {{ (CountryId.errors.error_messages) }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"
                                 [class.error-style]="!isView && (state_code.control.touched||flagsubmitForm)&&state_code.control.errors">
                                <label class="">State/ Province Code <span *ngIf="action!='view'" class="txt-required">(*)</span></label>
                                <input type="text" maxlength="3" class="form-control" #state_code="ngForm"
                                       (blur)="detectControlErr(state_code)" ngControl="sys_state_code"
                                       [readonly]="isView" required>
                                <p *ngIf="(state_code.control.touched||flagsubmitForm )&& state_code.control.hasError('required')" class="error">
                                    State Code is required
                                </p>
                                <p *ngIf="!isView && (state_code.control.touched||flagsubmitForm )&& state_code.control.hasError('invalidLength2Or3')" class="error">
                                    State Code only contains 2 or 3 characters, no special characters
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"
                                 [class.error-style]="(state_name.control.touched||flagsubmitForm)&&state_name.control.errors">
                                <label class="">State/ Province Name <span *ngIf="action!='view'" class="txt-required">(*)</span></label>
                                <input type="text" maxlength="20" class="form-control" #state_name="ngForm"
                                       (blur)="detectControlErr(state_name)" ngControl="sys_state_name"
                                       [readonly]="isView" required>
                                <p *ngIf="state_name.errors&&state_name.errors.error_messages" class="error">
                                    State Name {{ (state_name.errors.error_messages) }}
                                </p>
                                <p *ngIf="state_name.control.touched&&state_name.control.hasError('invalidNameStr')" class="error">
                                    State Name should only contain alphanumeric, space, hyphen and underscore.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Description</label>
                                <textarea rows="2" class="form-control" maxlength="255" #state_desc="ngForm"
                                          ngControl="sys_state_desc" class="form-control"
                                          [readonly]="isView"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="button pull-right">
                        <button *ngIf="!isView" type="button" (click)="cancel()" class="btn btn-default"><i
                                class="icon-close"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='new'"><i class="icon-check"></i>Save
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='edit'"><i class="icon-check"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="isView"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
