<div class="top-layout clearfix">
<h2>{{TitlePage}}</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" [ngFormModel]="roleForm" (ngSubmit)="submitForm(roleForm.value)" novalidate>
        <div class="area-block">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group" [class.error-style]="(code.control.touched||showError)&&code.control.errors">
                    <label >Role Code <span class="txt-required">(*)</span></label>
                    <input tabindex="1" type="text" maxlength="20" #code="ngForm" ngControl="code" class="form-control"
                           required [disabled]="cruRoleID" (input)="removeSpace($event)">
                    <p *ngIf="(code.control.touched||showError)&&code.control.hasError('required')"
                       class="error">
                        Role Code is required.
                    </p>
                    <p *ngIf="(code.control.touched||showError)&&code.control.hasError('invalidCodeStr')"
                       class="error">
                        Role Code should only contain alphanumeric and no space.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" [class.error-style]="(name.control.touched||showError)&&name.control.errors">
                    <label >Role Name <span class="txt-required">(*)</span></label>
                    <input tabindex="2" type="text" maxlength="64" #name="ngForm" ngControl="name" class="form-control"
                           required [disabled]="cruRoleID">
                    <p *ngIf="(name.control.touched||showError)&&name.control.hasError('required')"
                       class="error">
                        Role Name is required.
                    </p>
                    <p *ngIf="(name.control.touched||showError)&&name.control.hasError('invalidNameStr')"
                       class="error">
                        Role Name should only contain alphanumeric, space, hyphen and underscore.  
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="">Description</label>
                    <textarea tabindex="3" class="form-control" ngControl="description" rows="3" maxlength="255" [readonly]="isView"></textarea>
                </div>
                <ul class="nav nav-tabs" *ngIf="addedGroupPermissions.length">
                    <li class="active"><a >Permission</a></li>
                </ul>
                <div class="table" *ngIf="addedGroupPermissions.length">
                    <div class="table-style2 table-responsive">
                    <table class="table table-bordered" id="added-permission">
                        <thead>
                            <tr>
                                <th>Module / Functions</th>
                                <th >Permission</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor='let module of addedGroupPermissions'>
                            <td>{{module.group}}</td>
                            <td>
                                <ul>
                                    <li *ngFor="let item of module.permissions">
                                        <span>{{item | uppercaseToSpaceLower}}</span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="pull-left" *ngIf="!isView">
                    <div *ngIf="!addedGroupPermissions.length" class="btn btn-outline blue no-margin-left" data-toggle="modal" data-target="#addPermission" tabindex="4"><i class="icon-plus"></i>Add Permission</div>
                    <div *ngIf="addedGroupPermissions.length" class="btn btn-outline red no-margin-left" data-toggle="modal" data-target="#addPermission" tabindex="4"><i class="icon-note"></i>Edit Permission</div>
                </div>
                <div class="button pull-right" *ngIf="action!='view'">
                    <button type="button" class="btn btn-default" (click)="cancel()" tabindex="6"><i class="icon-close"></i>Cancel</button>
                    <button type="submit" class="btn btn-primary" tabindex="5"><i class="icon-check"></i>{{actionText}}
                    </button>
                </div>
            </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="isView"></goBack>
</div>
<div id="addPermission" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" *ngIf="!addedGroupPermissions.length">Add Permissions</h4>
                    <h4 class="modal-title" *ngIf="addedGroupPermissions.length">Edit Permissions</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style2 table-responsive">
                        <table class="table table-bordered table-hover" id="all-permission">
                            <thead>
                                <tr>
                                    <th class="column-checkbox"><input type="checkbox" id="ck-first" (click)="toggleCheckAll($event)"></th>
                                    <th>Module / Functions</th>
                                    <th >Permission</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor='let module of allGroupPermissions'>
                                <td><input class="cb-module" type="checkbox" value="{{module.group}}" (click)="checkCheckAll($event)"></td>
                                <td class="col-md-4">{{module.group}}</td>
                                <td>
                                    <ul class="nav">
                                        <li *ngFor="let item of module.permissions">
                                            <span><input (click)="checkCheckAll($event)" class="cb-permission" type="checkbox" value="{{item}}"></span>
                                            <span>{{item | uppercaseToSpaceLower}}</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="addPermission()"  data-dismiss="modal" class="btn btn-primary pull-right"><i class="icon-check"></i>{{!addedGroupPermissions.length ? "Add" : "Update"}}</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
<router-outlet></router-outlet>
