<div class="top-layout clearfix">
    <h2>Commodity List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form eight-column">
        <form class="clearfix form-inline" [ngFormModel]="searchForm"  (ngSubmit)="Search()">
            <div class="form-group">
                <label>Commodity Name</label>
                <input type="text" placeholder="" ngControl="cmd_name" class="form-control" name="sku"/>
            </div>
            <div class="form-group">
                <label>Commodity Class</label>
                <input type="text" placeholder="" ngControl="cmd_cls" class="form-control" name="sku"/>
            </div>
            <div class="form-group">
                <label>Commodity NMFC</label>
                <input type="text" placeholder="" ngControl="commodity_nmfc" class="form-control" name="size"/>
            </div>

            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="ResetSearch()"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>

    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="form-inline pull-left">
                <label>Show:</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="pull-right">
                <a *ngIf="viewCommodity" class="btn btn-primary" href="#/master-data/commodity/new"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">

                        <li *ngIf="editCommodity"><a (click)="Edit()"><i class="icon-note"></i>Edit</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-style1">

            <ag-grid-ng2-extent
                    (dataSelected)="ListSelectedItem=$event"
                    [columnData]="columnData"
                    [sortDefault]="sortData"
                    (sortData)="sortData=$event;getCommodityList(Pagination['current_page'])"
                    [dataForRenderTable]="CommodityList"
                    [headerURL]="headerURL"></ag-grid-ng2-extent>
        </div>

        <div class="pull-right">
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getCommodityList($event)"
            ></wms-pagination>
        </div>
    </div>
</div>
<!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

