<div class="area-block clearfix pallet-directive">
    <div class="filter clearfix table-list-head">
        <div class="form-inline pull-left">
            <label>Show:</label>
            <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                <option value="20" selected>20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
    <div class="table-style2 table-responsive table-print">
        <table class="table table-bordered editable">

            <thead>
            <tr>
                <th></th>
                <th>GrD ID</th>
                <th>Status</th>
                <th>LPN</th>
                <th>Putaway Location</th>
                <th class="nowrap">Current Location</th>
                <th>Item ID</th>
                <th>SKU</th>
                <th>Size</th>
                <th>Color</th>
                <th>Lot</th>
                <th>UOM</th>
                <th>Weight</th>
                <th>Pack Size</th>
                <th>Description</th>
                <th>CTNS</th>
                <th>Init QTY</th>
                <th>Current QTY</th>
            </tr>
            </thead>

            <tbody>

            <tr *ngFor="let item of PalletDetail['data'];let i=index">
                <td>
                    <a *ngIf="grStsCode == 'RG' && hasPermissionUpdatePallet && item.can_edit_cur_ctns" 
                        (click)="deletePallet(item)" class="icon-red">×</a>
                </td>
                <td>{{item.gr_dtl_id}}</td>
                <td>{{item.plt_sts_name}}</td>
                <td class="nowrap">{{item.plt_num}}</td>
                <td class="nowrap">{{item.putaway_location}}</td>
                <td class="nowrap">
                    <div *ngIf="grStsCode != 'RG' || item.act_loc_code_bak">{{item.act_loc_code}}</div>
                    <div *ngIf="grStsCode == 'RG' && !item.act_loc_code_bak" class="form-group">
                        <input maxlength="20" placeholder="Autocomplete..." class="form-control dropdown-toggle"
                            [ngModel]="item.act_loc_code" (ngModelChange)="autoSearchLocation($event, item)"
                            (focus)="showDropdown($event)" (blur)="hideDropDown($event)" type="text" data-toggle="dropdown" />
                        <ul class="dropdown-menu autocomplete no-min-width">
                            <li class="icon-loading-search-complete" *ngIf="item['loading']"><img src="/assets/images/loading.gif"></li>
                            <li (click)="chooseItem(loc, item)" *ngFor="let loc of locations">{{loc.loc_code}}</li>
                        </ul>
                    </div>
                </td>
                <td>{{item.item_id}}</td>
                <td>{{item.sku}}</td>
                <td>{{item.size}}</td>
                <td>{{item.color}}</td>
                <td>{{item.lot}}</td>
                <td>{{item.uom_name}}</td>
                <td>{{item.weight}}</td>
                <td>{{item.pack}}</td>
                <td>{{item.des}}</td>
                <!-- CTNS -->
                <td *ngIf="grStsCode != 'RG' || !hasPermissionUpdatePallet || !item.can_edit_cur_ctns">{{item.ctn_ttl}}</td>
                <td *ngIf="grStsCode == 'RG' && hasPermissionUpdatePallet && item.can_edit_cur_ctns" class="width60">
                    <div class="form-group" [class.error-style]="item.hasErrorRequiredCTN">
                        <input [(ngModel)]="item.ctn_ttl" (keypress)="checkInputNumber($event)" (input)="formatValue($event, item)" (change)="changeCtns(item)" type="text" class="form-control" maxlength="3">
                        <p *ngIf="item.hasErrorRequiredCTN" class="error">
                            CTNS is required.
                        </p>
                    </div>
                </td>
                <!-- /CTNS -->
                <!-- QTY -->
                <td>{{item.init_piece_ttl}}</td>
                <td [class.width60]="item.can_edit_cur_qty">
                    <div *ngIf="grStsCode != 'RG' || !hasPermissionUpdatePallet || !item.can_edit_cur_qty">
                        {{item.cur_qty}}
                    </div>
                    <div *ngIf="grStsCode == 'RG' && hasPermissionUpdatePallet && item.can_edit_cur_qty">
                        <div class="form-group" [class.error-style]="item.hasErrorRequiredQTY || item.hasErrorLess300000">
                            <input [(ngModel)]="item.cur_qty" (keypress)="checkInputNumber($event, false)" (input)="validdateQty($event, item)" (change)="changeQty(item)" type="text" class="form-control" maxlength="9">
                            <p *ngIf="item.hasErrorRequiredQTY" class="error">
                                QTY is required.
                            </p>
                            <p *ngIf="item.hasErrorLess300000" class="error">
                                QTY must be less than 300000.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>

        </table>
        <div class="pull-right color-gray">
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getData($event)"
            ></wms-pagination>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>