<div class="top-layout clearfix">
<h2>PutAway Assignment</h2>
<wms-breadcrumb></wms-breadcrumb>
  </div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <div class="search-form seven-column">
    <form class="clearfix form-inline" id="form-filter" (submit)="search()">
      <div class="form-group">
        <label>Customer </label>
        <select type="text" class="form-control" name="cus_id" tabindex="1">
          <option value="">ALL</option>
          <option *ngFor = "let item of dataListCustomer| orderBy:['cus_name']" value="{{item.cus_id}}">{{item.cus_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Goods Receipt # </label>
        <input type="text" class="form-control" maxlength = "50" name="gr_hdr_num" tabindex="2"/>
      </div>
      <div class="form-group">
        <label>Ref Code</label>
        <input type="text" class="form-control"  maxlength = "64" name="asn_hdr_ref" tabindex="3"/>
      </div>
      <div class="form-group">
        <label>Container </label>
        <input type="text" class="form-control" maxlength = "50" name="ctnr_num" tabindex="4"/>
      </div>
      <div class="form-group">
        <label>Handler </label>
        <input type="text" class="form-control" maxlength = "50" name="putter" tabindex="5"/>
      </div>
      <div class="btn-toolbar pull-left margin-top23">
        <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="7"><i class="icon-close"></i>Reset</button>
        <button type="submit" class="btn btn-outline blue" tabindex="6"><i class="icon-magnifier"></i>Search</button>
      </div>
    </form>
  </div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabASN">Goods Receipt</a></li>
  </ul>
  <div class="table">
    <div class="filter clearfix table-list-head">
      <div class="pull-right">
        <div class="input-group pull-right margin-left" *ngIf="hasPermissionView || hasPermissionPrintPutaway">
          <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                  class="btn btn-group dropdown-toggle"
                  type="button"  tabindex="9"><i class="icon-settings"></i>Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a (click)="assignPutter()"><i class="icon-printer"></i>Assign Putaway Handler</a></li>
          </ul>
        </div>
      </div>
      <div class="form-inline">
        <label>Show</label>
        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="8">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
            <i class="icon-size-fullscreen"></i>
        </a>
      </div>
    </div>
    <div class="table-style1">
      <advance-table [tableID]="tableID"
        [headerURL]="headerURL"
        [headerDef]="headerDef"
        [pinCols]="pinCols"
        [rowData]="rowData"
        [getSelectedRow]="getSelectedRow"
        [expandTable]="expandTable"
        [refreshRowData]="refreshRowData"
        (returnSelectedRow)="afterGetSelectedRow($event)"
        (sort)="doSort($event)"
      ></advance-table>
    </div>
    <div class="pull-right">
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="filterList($event)">
      </wms-pagination>
    </div>
  </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
<div id="assign-csr" class="modal fade" role="dialog" data-backdrop="static">
  <form>
    <div class="modal-dialog modal-style-default modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Putaway Handler</h4>
        </div>
        <div class="modal-body form-style">
          <div class="table">
            <div class="table-style2 table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>EmpID</th>
                  <th>User ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Department</th>
                  <th>Office</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of dataCSRUser" (click)="selectCSR(item)"
                    [class.highlight]="item.selected">
                  <td>{{item.emp_code}}</td>
                  <td>{{item.user_id}}</td>
                  <td>{{item.first_name}}</td>
                  <td>{{item.last_name}}</td>
                  <td>{{item.dept}}</td>
                  <td>{{item.off_loc}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.status}}</td>
                </tr>
                </tbody>
              </table>
              <p *ngIf="!dataCSRUser.length">No Results Found.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!assignUser" type="submit" (click)="saveAssignPutter()" data-dismiss="modal"
                  class="btn btn-primary pull-right"><i
                  class="icon-check"></i>Save
          </button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                  class="icon-close"></i>Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
