<div class="form-style">
  <div class="col-md-6">
    <div class="alert alert-success" *ngIf="SuccessMsg != ''">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{SuccessMsg}}
    </div>
    <errMessage [data]="ErrMsg"></errMessage>
    <form action="" class="form-horizontal" (submit)="saveGeneral()">
      <label class="title"><i class="fa fa-history"></i>Daylight time</label>
      <div class="form-group">
        <div class="row">
          <label class="col-md-3 control-label label-title">Timezone</label>
          <div class="col-md-9">
            <select class="form-control" [(ngModel)]="timezoneSelect">
              <option *ngFor="let item of timeZones" value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-md-3 control-label label-title">Date format</label>
          <div class="col-md-9">
            <select class="form-control" [(ngModel)]="timeformatSelect">
              <option *ngFor="let item of timeFormats" value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<label class="col-md-3 control-label label-title">Start day of the week</label>-->
          <!--<div class="col-md-9">-->
            <!--<select class="form-control" [(ngModel)]="dayOfWeekSelect">-->
              <!--<option *ngFor="let item of dayOfWeek" value="{{item}}">{{item}}</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <div class="row">
          <label class="col-md-3 control-label label-title">Measurement </label>
          <div class="col-md-9">
            <select class="form-control" [(ngModel)]="measurement">
              <option value="Metric System">Metric System</option>
              <option  value="Imperial System">Imperial System</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label title"><i class="fa fa-share-alt"></i>Maintenance mode</label>
        <div class="col-md-9 row">
          <label class="switch">
            <input type="checkbox" class="switch-input" [(ngModel)]="modeSelect">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
      </div>
      <div class="button pull-right">
        <button type="submit" class="btn btn-primary"><i class="icon-check"></i>Save</button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
