<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{modal?.title}}</h4>
      </div>
      <div class="modal-body" [innerHTML]="modal.content">

      </div>
      <div class="modal-footer">
        <button type="button" (click)="ClickButtonOk(true)" class="btn btn-sucess" data-dismiss="modal">Ok</button>
        <button type="button" (click)="ClickButtonOk(false)" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
<div [class.in]="modal.open" class="modal-backdrop fade"></div>
