<div class="top-layout clearfix">
  <h2>Cycle Count Report</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>

<div class="layout-block">
  <div *ngIf="messages">
    <div class="alert alert-{{messages.status}}">
      <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
      <span [innerHTML]="messages.txt"></span>
    </div>
  </div>
  <div class="search-form six-column">
    <form class="clearfix" id="form-filter" [ngFormModel]="searchForm" (submit)="search(searchForm.value)" autocomplete="off">
      <div class="form-group">
        <label>Report Name</label>
        <input type="text" class="form-control" ngControl="cycle_name" name="cycle-count-name">
      </div>
      <div class="form-group has-feedback">
        <label>Due Date</label>
        <input type="text" id="due-date" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-highlight="1" ngControl="due_dt" name="cycle-count-due-date" (blur)="updateModalDate($event.target.value)">
        <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="form-group">
        <label>Type</label>
        <select ngControl="cycle_type" class="form-control">
          <option value="">All</option>
          <option *ngFor="let item of cycleCountTypes" value="{{item.cycle_type}}">{{item.cycle_type_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Asisgned By</label>
        <select class="form-control" ngControl="created_by">
          <option value="">Select</option>
          <option *ngFor="let item of cycleCountUserList" value="{{item.user_id}}">
            {{item.first_name}} {{item.last_name}}
          </option>
        </select>
      </div>
      <div class="form-group" *ngIf="hasCreatePermission">
        <label>Assigned To</label>
        <select class="form-control" ngControl="assignee_id">
          <option value="">Select</option>
          <option *ngFor="let item of cycleCountUserList" value="{{item.user_id}}">
            {{item.first_name}} {{item.last_name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Status </label>
        <select ngControl="cycle_sts" class="form-control">
          <option value="">All</option>
          <option *ngFor="let item of cycleCountStatus" value="{{item.cycle_sts}}">{{item.cycle_sts_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>SKU </label>
        <div class="dropdown dropdown-autosearch">
            <span class="waiting" *ngIf="listDataAutocomplete['loading-sku']">
                <img src="/assets/images/loading.gif">
            </span>
            <input type="text" maxlength="50" autocomplete="off" placeholder="Auto Complete" data-toggle="dropdown" class="form-control dropdown-toggle"
                   ngControl="sku" (keyup)="autoCompleteSku('sku',$event)"/>
            <div class="dropdown-menu list-group" *ngIf="listDataAutocomplete['sku']">
                <a (click)="selectedItem(item)" *ngFor="let item of listDataAutocomplete['sku']" class="list-group-item nowrap">
                    {{item.sku}} {{item.size}} {{item.color}} {{item.lot}}
                </a>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label>Size</label>
        <input type="text" readonly maxlength="50" autocomplete="off" class="form-control"
               name="size" ngControl = "size"
        />
    </div>
    <div class="form-group">
        <label>Color</label>
        <input type="text" readonly maxlength="50" autocomplete="off" class="form-control"
               name="color" ngControl = "color"
        />
    </div>
    <div class="form-group">
        <label>Lot</label>
        <input type="text" readonly maxlength="50" autocomplete="off" class="form-control"
               name="lot" ngControl = "lot"
        />
    </div>
      <div class="btn-toolbar pull-left margin-top23">
        <button type="button" class="btn btn-outline gray" (click)="reset()"><i class="icon-close"></i>Reset</button>
        <button type="submit" class="btn btn-outline blue"><i class="icon-magnifier"></i>Search</button>
      </div>
    </form>

  </div>
  <div class="table">
    <div class="table-list-head clearfix">
      <div class="row-legth pull-left form-inline">
        <label>Show:</label>
        <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <!-- <div class="seach-input col-md-3">
        <input class="form-control" placeholder="Search by SKU (auto complete)" type="text">
        <a class="btn btn-primary" type="button"><i class="icon-magnifier"></i></a>
      </div> -->
      
      <div class="pull-right">
        <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/cycle-count/create"><i
          class="icon-plus"></i>Add</a>
        <div *ngIf = "eventCkReview && hasViewCC || hasEditPermission && eventCkEdit || hasDeleteCC && eventCkDelete || hasChangeAssignee" class="input-group pull-right">
          <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                  class="btn btn-group dropdown-toggle"
                  type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li *ngIf = "eventCkReview && hasViewCC"><a (click)="reviewSelectedItem()"><i class="icon-chart"></i>Review</a></li>
            <li *ngIf="hasEditPermission && eventCkEdit"><a (click)="editSelectedItem()"><i class="icon-note"></i>Update</a></li>
            <li  *ngIf="hasDeleteCC && eventCkDelete"><a (click)="deleteSelectedItem()"><i class="icon-trash"></i>Delete</a></li>
            <li  *ngIf="hasChangeAssignee"><a (click)="changeAssignee()"><i class="icon-user"></i>Change Assignee</a></li>
          </ul>
        </div>
        <pdf-printer class="hide" [label]="'Print Tally'" [fileName]="fileName" [printerAPIUrl]="printerAPI"
                     (bindMessages)="bindMessagePDFPrinter($event)">
        </pdf-printer>
      </div>
      <div *ngIf="hasUnsetRfidOnLocationPermission" class="col-md-6 pull-right">
        <a class="btn btn-outline blue pull-right" (click)="unsetRfidOnLocation()"><i
          class="icon-note"></i>Unset Rfid on Location</a>
        <locations-popup
          class="pull-right"
          [data_used]="locations"
          [isdisabled]="false"
          [isPage]="'CC'"
          (selectedLoc)="addLocation($event)">
        </locations-popup>
      </div>
    </div>
    <div class="table-style1 table-responsive">
      <table class="table table-bordered table-hover" id="role-list">
        <thead>
        <tr>
          <th class="column-checkbox">
            <input type="checkbox" (change)="checkAll($event);"  [(ngModel)]="selectedAll">
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['cycle_hdr_id']&&countClick['cycle_hdr_id']!=3"
              [class.sorting-asc]="FieldsToSortFlag['cycle_hdr_id']&&countClick['cycle_hdr_id']!=3"
              [class.sorting]="countClick['cycle_hdr_id']==3" (click)="sort('cycle_hdr_id')"
          >Cycle ID
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['cycle_name']&&countClick['cycle_name']!=3"
              [class.sorting-asc]="FieldsToSortFlag['cycle_name']&&countClick['cycle_name']!=3"
              [class.sorting]="countClick['cycle_name']==3"
              (click)="sort('cycle_name')">Report Name
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['cycle_num']&&countClick['cycle_num']!=3"
              [class.sorting-asc]="FieldsToSortFlag['cycle_num']&&countClick['cycle_num']!=3"
              [class.sorting]="countClick['cycle_num']==3"
              (click)="sort('cycle_num')">Cycle Number
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['due_dt']&&countClick['due_dt']!=3"
              [class.sorting-asc]="FieldsToSortFlag['due_dt']&&countClick['due_dt']!=3"
              [class.sorting]="countClick['due_dt']==3"
              (click)="sort('due_dt')">Due Date
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['cycle_type']&&countClick['cycle_type']!=3"
              [class.sorting-asc]="FieldsToSortFlag['cycle_type']&&countClick['cycle_type']!=3"
              [class.sorting]="countClick['due_dt']==3"
              (click)="sort('cycle_type')">Type
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['created_by']&&countClick['created_by']!=3"
              [class.sorting-asc]="FieldsToSortFlag['created_by']&&countClick['created_by']!=3"
              [class.sorting]="countClick['due_dt']==3"
              (click)="sort('created_by')">Assigned By
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['assignee_id']&&countClick['assignee_id']!=3"
              [class.sorting-asc]="FieldsToSortFlag['assignee_id']&&countClick['assignee_id']!=3"
              [class.sorting]="countClick['due_dt']==3"
              (click)="sort('assignee_id')" *ngIf="hasCreatePermission">Assigned To
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['cycle_sts']&&countClick['cycle_sts']!=3"
              [class.sorting-asc]="FieldsToSortFlag['cycle_sts']&&countClick['cycle_sts']!=3"
              [class.sorting]="countClick['cycle_sts']==3"
              (click)="sort('cycle_sts')">Status
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['created_at']&&countClick['created_at']!=3"
              [class.sorting-asc]="FieldsToSortFlag['created_at']&&countClick['created_at']!=3"
              [class.sorting]="countClick['created_at']==3"
              (click)="sort('created_at')">Created At
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['completed_at']&&countClick['completed_at']!=3"
              [class.sorting-asc]="FieldsToSortFlag['completed_at']&&countClick['completed_at']!=3"
              [class.sorting]="countClick['completed_at']==3"
              (click)="sort('completed_at')">Completed At
          </th>
          <th [class.sorting-desc]="!FieldsToSortFlag['cc_type']&&countClick['cc_type']!=3"
              [class.sorting-asc]="FieldsToSortFlag['cc_type']&&countClick['cc_type']!=3"
              [class.sorting]="countClick['cc_type']==3"
              (click)="sort('cc_type')">Cycle Count Type
          </th>
        </tr>
        </thead>
        <tbody>
        <tr [class.row-selected]="item.selected" (click)="setClickedRow(item)" *ngFor="let item of cycleCountList; let index = index">
          <td>
            <input id="created_by" type="hidden" value="{{item.created_by}}">
            <input id="assignee_id" type="hidden" value="{{item.assignee_id}}">
            <input type="checkbox" value="{{item.cycle_hdr_id}}"
                   alt = {{item.cycle_sts}} id = "ck-row-{{index}}"
                   [ngModel]="item?.selected">
          </td>
          <td>{{item.cycle_hdr_id}}</td>
          <td><a href="#/cycle-count/{{item.cycle_hdr_id}}">{{item.cycle_name}}</a></td>
          <td>{{item.cycle_num}}</td>
          <td>{{item.due_dt}}</td>
          <td>{{item.cycle_type_name}}</td>
          <td>{{item.assignee_by_name}}</td>
          <td *ngIf="hasCreatePermission">{{item.assignee_to_name}}</td>
          <td>{{item.cycle_sts_name}}</td>
          <td>{{item.created_at}}</td>
          <td>{{item.completed_at}}</td>
          <td>{{item.cc_type}}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="!loading['getCycleCount'] && cycleCountList.length==0">No Results Found.</p>
      <p *ngIf="loading['getCycleCount'] && ! cycleCountList.length">Loading ... </p>
    </div>
    <div class="pull-right">
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="filterList($event)">
      </wms-pagination>
    </div>
  </div>
  <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>

<div id="change-assignee" class="modal fade" role="dialog" data-backdrop="static">
  <form>
    <div class="modal-dialog modal-style-default modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Assignee</h4>
        </div>
        <div class="modal-body form-style">
          <div class="table">
            <div class="table-style2 table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>EmpID</th>
                  <th>User ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of cycleCountUserListCA" (click)="selectChangeAssignee(item)"
                    [class.highlight]="item.selected">
                  <td>{{item.emp_code}}</td>
                  <td>{{item.user_id}}</td>
                  <td>{{item.first_name}}</td>
                  <td>{{item.last_name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.status}}</td>
                </tr>
                </tbody>
              </table>
              <p *ngIf="!cycleCountUserList.length">No Results Found.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!changeAssinged" type="submit" (click)="saveChangeAssignee()" data-dismiss="modal"
                  class="btn btn-primary pull-right"><i
                  class="icon-check"></i>Save
          </button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                  class="icon-close"></i>Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>