<div *ngIf="configEDIPermission">
<div class="top-layout clearfix">
    <h2>EDI List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block asn-management">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form four-column">
        <form class="clearfix form-inline" id="" [ngFormModel]="SearchForm" (ngSubmit)="getEdiList(0,true)">
            <div class="form-group">
                <label>Customer</label>
                <select name="cus_id" ngControl="cus_id" class="form-control" tabindex="1">
                    <option value="">All</option>
                    <option *ngFor="let item of dataListCustomer" value="{{item.cus_id}}">{{item.cus_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>EDI Integration</label>
                <select name="" class="form-control" tabindex="1" ngControl="edi" name="edi">
                    <option value="">All</option>
                    <option value="y">Yes</option>
                    <option value="n">No</option>
                </select>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="ResetSearch()" tabindex="3"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue" tabindex="2"><i class="icon-magnifier"></i>Search</button>

            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="6"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="editSelectedItem()"><i class="icon-note"></i>Config EDI</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show:</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1">

            <div class="col-md-4 col-sm-12">

                <ag-grid-ng2-extent
                        (dataSelected)="ListSelectedItem=$event"
                        [columnData]="columnData"
                        [showLoading]="showLoading"
                        (sortData)="sortData=$event;getEdiList(Pagination['current_page'])"
                        [dataForRenderTable]="ediList"
                        [headerURL]="headerURL"></ag-grid-ng2-extent>

            </div>

        </div>
        <div class="pull-right" *ngIf="Pagination">
            <!--
                Directive WMSPagination
                Url : common/directives/directives
                -->
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getEdiList($event)"
            ></wms-pagination>
        </div>
    </div>

</div>

<edit-edit-list-directive
[EDI_ID]="EDI_ID" [Action]="Action" (updateDoneTrigger)="getEdiList()"
></edit-edit-list-directive>

</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>