<!-- Modal -->
<div id="myModal" class="modal fade" data-backdrop="static"  role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Config EDI</h4>
            </div>
            <div class="modal-body">
                <wms-messages [messages]="messages"></wms-messages>
                <div class="table-style2 clearfix">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>EDI Transaction</th>
                                <th>Name</th>
                                <th>Usage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of EDI_DETAIL">
                                <td>{{item.edi_trans}}</td>
                                <td>{{item.edi_name}}</td>
                                <td><input [disabled]="_Action=='view'" (change)="checkEDITValue($event,item)" [checked]="item.edi_sts=='Y'" type="checkbox" tabindex="2"></td>
                            </tr>
                            </tbody>
                        </table>
                </div>

            </div>
            <div class="modal-footer">

                <div class="pull-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" *ngIf="_Action!=='view'" (click)="Submit()" class="btn btn-primary" tabindex="3"><i class="icon-check"></i>Update
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>