<div class="top-layout clearfix">
    <h2>Cycle Count Notification</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form six-column">
        <form class="clearfix form-inline" id="form-filter" (submit)="search()">
            <div class="form-group">
                <label>Location </label>
                <div class="dropdown dropdown-autosearch">
                    <span class="waiting" *ngIf="listDataAutocomplete['loading-location']">
                        <img src="/assets/images/loading.gif">
                    </span>
                    <input type="text" maxlength="50" autocomplete="off" placeholder="Auto Complete" data-toggle="dropdown" class="form-control dropdown-toggle" maxlength="64"
                           name="loc_code" id = "loc_code_s" tabindex="1" (keyup)="autoSearchComplete('location',$event)"
                           (click)="autoSearchComplete('location',$event)"
                    />
                    <div class="dropdown-menu list-group" *ngIf="listDataAutocomplete['location']">
                        <a (click)="selectedItem('loc_code_s', item)" *ngFor="let item of listDataAutocomplete['location']" class="list-group-item nowrap">
                            {{item.loc_code}}
                        </a>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label>SKU </label>
                <div class="dropdown dropdown-autosearch">
                    <span class="waiting" *ngIf="listDataAutocomplete['loading-sku']">
                        <img src="/assets/images/loading.gif">
                    </span>
                    <input type="text" maxlength="50" autocomplete="off" placeholder="Auto Complete" data-toggle="dropdown" class="form-control dropdown-toggle"
                           name="sku" id = "sku_s" tabindex="1" (keyup)="autoCompleteSku('sku',$event)"
                           (click)="autoCompleteSku('sku',$event)"
                    />
                    <div class="dropdown-menu list-group" *ngIf="listDataAutocomplete['sku']">
                        <a (click)="selectedItem('sku_s', item)" *ngFor="let item of listDataAutocomplete['sku']" class="list-group-item nowrap">
                            {{item.sku}} {{item.size}} {{item.color}} {{item.lot}}
                        </a>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label>Size</label>
                <input type="text" readonly maxlength="50" autocomplete="off" class="form-control"
                       name="size" id = "size" tabindex="1"
                />
            </div>
            <div class="form-group">
                <label>Color</label>
                <input type="text" readonly maxlength="50" autocomplete="off" class="form-control"
                       name="color" id = "color" tabindex="1"
                />
            </div>
            <div class="form-group">
                <label>Lot</label>
                <input type="text" readonly maxlength="50" autocomplete="off" class="form-control"
                       name="lot" id = "lot" tabindex="1"
                />
            </div>

            <div class="form-group">
                <label>Status</label>
                <select  class="form-control" name="cc_ntf_sts" tabindex="2">
                    <option value="">All</option>
                    <option *ngFor="let item of dataListStatus" value="{{item.code}}" [selected]="item.code == 'NW'">
                        {{item.name}}
                    </option>
                </select>
            </div>
            <div class="form-group  has-feedback">
                <label>From Date</label>
                <input type="text" tabindex="3" maxlength="10" autocomplete="off"
                       data-provide="datepicker" data-date-today-highlight="1" name="created_at_from"
                       class="form-control datepicker-asn"/>
                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group  has-feedback">
                <label>To Date </label>
                <input type="text" tabindex="4" maxlength="10" autocomplete="off"
                       data-provide="datepicker" data-date-today-highlight="1" name="created_at_to"
                       class="form-control datepicker-asn"/>
                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="6"><i
                        class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="5"><i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#CCN">Cycle Count Notify</a></li>
    </ul>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right" *ngIf = "hasPermissionCreate || hasPermissionCreateCC">
                <a class="btn btn-primary pull-left" *ngIf = "hasPermissionCreate" (click)="add()" tabindex="9"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right"  *ngIf = "hasPermissionCreate || hasPermissionCreateCC">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="8"><i class="icon-settings"></i>Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngIf = "hasPermissionCreate"><a (click)="createCC()"><i class="icon-plus"></i>Create Cycle Count</a></li>
                        <li *ngIf = "hasPermissionCreateCC"><a (click)="edit()"><i class="icon-note"></i>Edit</a></li>
                        <li *ngIf = "hasPermissionCreateCC"><a (click)="ccCCN()"><i class="icon-note"></i>Cancel CC Notification</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="7">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="table-style1">
            <advance-table [tableID]="tableID"
                           [headerURL]="headerURL"
                           [headerDef]="headerDef"
                           [pinCols]="pinCols"
                           [rowData]="rowData"
                           [getSelectedRow]="getSelectedRow"
                           [expandTable]="expandTable"
                           (returnSelectedRow)="afterGetSelectedRow($event)"
                           (sort)="doSort($event)"
            ></advance-table>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<div id="popup" class="modal fade" role="dialog" data-backdrop="static">
    <form autocomplete="off">
        <div class="modal-dialog modal-style-default modal-fix-min-height modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">EDIT CC Notification</h4>
                </div>
                <wms-messages [messages]="messagesCompleteUpdate"></wms-messages>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style2 ">
                            <table class="table editable table-bordered">
                                <thead>
                                <tr>
                                    <th>Location <span class="txt-required">(*)</span></th>
                                    <th>Item ID</th>
                                    <th>SKU <span class="txt-required">(*)</span></th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Lot</th>
                                    <th>Packsize</th>
                                    <!--<th>Remain QTY <span class="txt-required">(*)</span></th>-->
                                    <th>Reason <span class="txt-required">(*)</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of listSelectedItem">
                                    <td class="autocomplete-style">
                                        <div class="form-group"  [class.error-style]="listNull.loc_code_required || listNull.loc_code_not_existed">
                                            <input maxlength="50" autocomplete="off" type="text" placeholder="Auto complete" id = 'loc_code'
                                                   value = "{{item.loc_code}}" class="form-control" (focusout)=" filterForm($event.target, 'required');"
                                                   (keyup)="autoSearchComplete('location-edit',$event, item); filterForm($event.target, 'required');"
                                                   (focus)="autoSearchComplete('location-edit',$event, item);" (focusout) = "ckExistLocation($event);" data-toggle="dropdown"/>
                                            <ul class="dropdown-menu autocomplete">
                                             <span class="icon-loading-search-complete" *ngIf="listDataAutocomplete['loading-location-edit']"><img
                                                     src="/assets/images/loading.gif"></span>
                                                <li (click)="selectedItem('loc_code',item2, item)"
                                                    *ngFor="let item2 of listDataAutocomplete['location-edit']">{{item2.loc_code}}
                                                </li>
                                            </ul>
                                            <p class="error left" *ngIf="listNull.loc_code_required">
                                                Location is required
                                            <p>
                                            <p class="error left" *ngIf="listNull.loc_code_not_existed && !listNull.loc_code_required">
                                                Location is not existed or unavailable.
                                            <p>
                                        </div>
                                    </td>
                                    <td>{{item.item_id}}</td>
                                    <td>

                                        <div class="control-group"
                                             [class.error-style]="listNull['sku_required'] || listNull['sku_' + i + '_not_existed']">
                                            <div class="dropdown dropdown-autosearch">
                                                    <span class="waiting" *ngIf="item['showLoadingSku']"><img
                                                            src="/assets/images/loading.gif"></span>
                                                <input maxlength="50"
                                                       placeholder="Auto Complete"
                                                       tabindex="1"
                                                       value = "{{item.sku}}" id = "sku"
                                                       (focusout) = "eventCkExistSku(i); filterForm($event.target, 'required');"
                                                       (keyup)="autoCompleteSkuForEdit(i, $event, item); filterForm($event.target, 'required');"
                                                       class="form-control dropdown-toggle"
                                                       type="text" data-toggle="dropdown"/>

                                                <div tabindex="-1" class="dropdown-menu list-group"
                                                     *ngIf="item['autoSku']">
                                                    <a tabindex="-1" class="list-group-item"
                                                       (click)="selectedItemSku(i, itemId, item)"
                                                       *ngFor="let itemId of item['autoSku']">{{itemId.sku}} {{itemId.size}} {{itemId.color}} {{itemId.lot}}</a>
                                                </div>

                                            </div>
                                            <p *ngIf="listNull['sku_required']"
                                               class="error">
                                                SKU is required.
                                            </p>
                                            <p *ngIf="listNull['sku_' + i + '_not_existed'] && !listNull['sku_required']"
                                               class="error">
                                                Please select SKU.
                                            </p>
                                        </div>
                                    </td>
                                    <td>{{item.size}}</td>
                                    <td>{{item.color}}</td>
                                    <td>{{item.lot}}</td>
                                    <td>{{item.pack}}</td>
                                    <!--<td>-->

                                        <!--<div class="form-group" [class.error-style]="listNull.remain_qty_required || listNull.remain_qty_greater0 || listNull.remain_qty_less_equal">-->
                                            <!--<input tabindex="1"  value = "{{item.remain_qty}}" (keypress)="checkInputNumber($event, true)" id="remain_qty"  type="text" class="form-control"-->
                                                   <!--(focusout) = "filterForm($event.target, 'required_greater0_lesspacksize', item);" (keyup) = "filterForm($event.target, 'required_greater0_lesspacksize', item);"/>-->
                                            <!--<p *ngIf="listNull.remain_qty_required"-->
                                               <!--class="error">-->
                                                <!--Remaining QTY is required.-->
                                            <!--</p>-->
                                            <!--<p *ngIf="listNull.remain_qty_greater0"-->
                                               <!--class="error">-->
                                                <!--Remaining QTY must be greater than 0-->
                                            <!--</p>-->
                                            <!--<p *ngIf="listNull.remain_qty_less_equal"-->
                                               <!--class="error">-->
                                                <!--Remaining QTY must be less than or equal to Packsize-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <td>

                                        <div class="form-group" [class.error-style]="listNull.reason_required">
                                            <select type="text" class="form-control" tabindex="8" value = "{{item.reason}}" id = "reason" (change)="filterForm($event.target, 'required');">
                                                <option value="">Select one reason</option>
                                                <option *ngFor = "let itemr of dataListReason" [selected] = "item.reason == itemr['r_name']" value="{{itemr['r_name']}}">{{itemr['r_name']}}</option>
                                            </select>
                                            <p class="error" *ngIf="listNull.reason_required">
                                                Reason is required
                                            <p>
                                        </div>
                                    </td>
                                    <!--<td>-->
                                        <!--<div class="form-group open"  [class.error-style]="listNull.cc_ntf_sts_required">-->
                                        <!--<select type="text" id = "cc_ntf_sts" (change) = "filterForm($event.target, 'required');" (focusout) = "filterForm($event.target, 'required');" class="form-control" value = "{{item.cc_ntf_sts}}" tabindex="2">-->
                                            <!--<option value="">Select one status</option>-->
                                            <!--<option *ngFor="let item of dataListStatus" value="{{item.code}}">-->
                                                <!--{{item.name}}-->
                                            <!--</option>-->
                                        <!--</select>-->
                                            <!--<p class="error" *ngIf="listNull.cc_ntf_sts_required">-->
                                                <!--Status is required-->
                                            <!--<p>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary pull-right"
                                (click)="updateCCNotify()"><i class="icon-check"></i>Update
                        </button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                                class="icon-close"></i>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="popupAddCC" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Cycle Count</h4>
                </div>
                <wms-messages [messages]="messagesCompleteUpdate"></wms-messages>
                <div class="modal-body form-style">
                    <div class="area-block clearfix">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [class.error-style]="listNull.cycle_name_required">
                                    <label class="">Cycle Count Name <span class="txt-required">(*)</span> </label>
                                    <input tabindex="2" type="text" maxlength="64" class="form-control" id="cycle_name" placeholder=""
                                           (focusout)=" filterForm($event.target, 'required');" (keyup)=" filterForm($event.target, 'required');">
                                    <p class="error" *ngIf="listNull.cycle_name_required">
                                        Cycle Count Name is required
                                    <p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"  [class.error-style]="listNull.cycle_due_date_required">
                                    <label class="">Due Date <span class="txt-required">(*)</span></label>
                                    <input type="text" tabindex="4" maxlength="10" autocomplete="off"
                                           data-provide="datepicker" data-date-today-highlight="1" id="cycle_due_date"
                                           class="form-control datepicker-asn" (focus)=" assignDate($event.target);" (keyup)=" filterForm($event.target, 'required');"/>
                                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                    <p class="error" *ngIf="listNull.cycle_due_date_required">
                                        Due Date is required
                                    <p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-feedback " [class.error-style]="listNull.cycle_assign_to_required">
                                    <label>Assign To <span class="txt-required">(*)</span> </label>
                                    <select id="cycle_assign_to" class="form-control" (change)="filterForm($event.target);"
                                            (focusout)="filterForm($event.target)" name="assign_to">
                                        <option value="">Select User</option>
                                        <option *ngFor="let item of cycleCountUserList" value="{{item.user_id}}">
                                            {{item.first_name}} {{item.last_name}}
                                        </option>
                                    </select>
                                    <p class="error" *ngIf="listNull.cycle_assign_to_required">
                                        Assigned To is required
                                    <p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cycle Count by:</label>
                                    <div class="clearfix">
                                        <label class="radio-inline">
                                            <input id="carton" name="cycle_count_by_OUM" type="radio" value="carton" checked>
                                            Carton
                                        </label>
                                        <label class="radio-inline">
                                            <input id="sku-each" name="cycle_count_by_OUM" type="radio" value="each">
                                            Each
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div class="table-style2 table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Item ID</th>
                                    <th>SKU</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Lot</th>
                                    <th>Packsize</th>
                                    <th>Remain QTY</th>
                                    <th>Reason</th>
                                    <th>Created At</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of listSelectedItem">
                                    <td>{{item.loc_code}}</td>
                                    <td>{{item.item_id}}</td>
                                    <td>{{item.sku}}</td>
                                    <td>{{item.size}}</td>
                                    <td>{{item.color}}</td>
                                    <td>{{item.lot}}</td>
                                    <td>{{item.pack}}</td>
                                    <td>{{item.remain_qty}}</td>
                                    <td>{{item.reason}}</td>
                                    <td>{{item.created_at}}</td>
                                    <td>{{item.cc_ntf_sts_name}} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary pull-right"
                                (click)="addCC()"><i class="icon-check"></i>Save
                        </button>
                        <button type="button" (click)="ccAddCC()" class="btn btn-default pull-right"><i
                                class="icon-close"></i>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
