<div class="top-layout clearfix">
    <h2>Order Shipping Detail</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" novalidate>
        <div class="row">
            <div class="col-md-5">
                <h4 class="h4-style">Order Info</h4>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Customer Name </label>
                                <select tabindex="1" class="form-control" disabled>
                                    <option value="Americo">Americo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Order Number </label>
                                <input tabindex="2" maxlength="64" type="text"
                                       class="form-control" readonly value="41514">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ref Code</label>
                                <input type="text" maxlength="64" tabindex="3" class="form-control" readonly value="689">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>PO </label>
                                <input maxlength="50" tabindex="4" type="text"
                                       class="form-control" readonly value="10-387109">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Order Type</label>
                                <select tabindex="5" class="form-control" disabled>
                                    <option value="Bulk">Bulk</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox margin-top15">
                                <label>
                                    <input type="checkbox" disabled> Rush
                                    Order
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Total SKU's </label>
                                        <input type="text" value="2" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status </label>
                                        <input type="text" readonly value="Picking" class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Order Number </label>
                                        <input readonly type="text" value="ORD-1609-00002" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top15"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="h4-style">Shipping Info</h4>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Carrier </label>
                                <input  maxlength="63" tabindex="7" type="text"
                                       value="Trcuker4" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Shipping To</label>
                                <input maxlength="127" tabindex="8"
                                       type="text" value="HOME GOODS BUYING" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Address </label>
                                <input  maxlength="127" type="text"
                                       tabindex="9" value="DISTRIBUTION CENTER # 881" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City </label>
                                <input  maxlength="63" tabindex="10" type="text"
                                       value="SAN PEDRO" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Country </label>
                                <select tabindex="11" class="form-control" disabled>
                                    <option value="Canada">Canada</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>State </label>
                                <select class="form-control" tabindex="12" disabled>
                                    <option value="New Brunswick">New Brunswick</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Zip Code </label>
                                <input type="text" maxlength="10" tabindex="13"
                                       value="90731" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" class="form-group has-feedback">
                                <label for="">Ship By Date </label>
                                <input type="text"  maxlength="10"
                                       tabindex="14"
                                       data-provide="datepicker"
                                       class="form-control datepicker-asn" readonly value="09/30/2016">
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label for="">Cancel By Date </label>
                                <input type="text" maxlength="10"
                                       tabindex="15" data-provide="datepicker"
                                       value="09/27/2016" class="form-control" readonly>
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label for="">Requested Complete Date </label>
                                <input type="text" maxlength="10"  tabindex="16" data-provide="datepicker"
                                       value="09/30/2016" class="form-control" readonly>
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Actual Completed Date</label>
                                <input type="text" ngControl="act_cmpl_dt" tabindex="17" readonly
                                       class="form-control">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Actual Canceled Date</label>
                                <input type="text" ngControl="act_cancel_dt" tabindex="18" readonly
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="h4-style">Packing Info</h4>
                <div class="area-block clearfix">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="">Total SKU Completed</label>
                                <input type="text" class="form-control" value="1" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="">Total Qty Completed</label>
                                <input type="text" class="form-control" value="209" readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="">Total Cartons</label>
                                <input type="text" class="form-control" value="2" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active in"><a data-toggle="tab" href="#tab-item">Item</a></li>
            <li class="in"><a data-toggle="tab" href="#tab-event">Event</a></li>
        </ul>
        <div class="tab-content">
            <div class="clearfix tab-pane fade active in" id="tab-item" >
            	<div class="table-list-head clearfix">
                    <div class="input-group pull-right margin-left">
                        <button aria-expanded="false" aria-haspopup="true" class="btn btn-group dropdown-toggle"
                                data-toggle="dropdown" type="button"><i class="icon-settings"></i>Action <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#/outbound/shipping/1/assign-pallet">Print LPN's</a></li>
                            <li><a>Dispatched</a></li>
                            <li><a>Cancel</a></li>
                            <li><a>Hold</a></li>
                        </ul>
                    </div>
                </div>
                <div class="table table-style1">
                    <table class="table table-bordered table-hover small-padding-table">
                        <thead>
                            <tr>
                                <th>Item ID </th>
                                <th>SKU </th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Lot</th>
                                <th>UOM</th>
                                <th>Requested Quantity </th>
                                <th>Pack Size </th>
                                <th>Cartons</th>
                                <th>Available Quantity</th>
                                <th>Back Order</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                        		<td class="disabled">18491 </td>
                    			<td class="disabled">PT1605120041</td>
                    			<td class="disabled">GREEN</td>
                    			<td class="disabled">7"X12"/8"X10"</td>
                    			<td class="disabled">52879</td>
                    			<td class="disabled">Carton</td>
                    			<td class="disabled">200</td>
                                <td class="disabled">200</td>
                                <td class="disabled">1</td>
                    			<td class="disabled">1000</td>
                                <td><input type="checkbox"></td>
                        	</tr>
                            <tr>
                                <td class="disabled">18525 </td>
                                <td class="disabled">GTW40049STO-F15</td>
                                <td class="disabled">BLK33</td>
                                <td class="disabled">M</td>
                                <td class="disabled"></td>
                                <td class="disabled">Each</td>
                                <td class="disabled">18</td>
                                <td class="disabled">9</td>
                                <td class="disabled">1</td>
                                <td class="disabled">0</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="clearfix tab-pane fade" id="tab-event" >
                <!-- <div class="table-list-head clearfix">
            	   Event
                </div> -->
                <div class="table table-style1">
                    <table class="table table-bordered table-hover small-padding-table">
                        <thead>
                            <tr>
                                <th>Owner </th>
                                <th>Transaction number </th>
                                <th>Desc</th>
                                <th>Date/Time</th>
                                <th>User</th>
                                <th>INFO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">ORD-1609-00002</td>
                                <td class="disabled">Order New</td>
                                <td class="disabled">7/12/2016  12:30:00 PM</td>
                                <td class="disabled">Joe</td>
                                <td class="disabled">New order ORD-1609-00002 created</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">WOR-1609-00002</td>
                                <td class="disabled">Work Order Created</td>
                                <td class="disabled">7/15/2016 13:30</td>
                                <td class="disabled">Jane</td>
                                <td class="disabled">Work Order WOR-1609-00002 created</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">WOR-1609-00002</td>
                                <td class="disabled">Order Allocated</td>
                                <td class="disabled">7/20/2016 14:00</td>
                                <td class="disabled">Bill</td>
                                <td class="disabled">ORD-1607-00002 Allocated</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">WAV-1609-00002</td>
                                <td class="disabled">Order Picking</td>
                                <td class="disabled">7/16/16 14:30</td>
                                <td class="disabled">Joe</td>
                                <td class="disabled">Wave Pick WAV-1609-00002 for Order ORD-1609-00002 created</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">SHP-1609-00002-01</td>
                                <td class="disabled">Order Staging</td>
                                <td class="disabled">7/17/2016 13:30</td>
                                <td class="disabled">Joe</td>
                                <td class="disabled">Order ORD-1609-00002 Staged</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">ORD-1609-00002</td>
                                <td class="disabled">Order Shipped</td>
                                <td class="disabled">7/20/2016 14:00</td>
                                <td class="disabled">Bill</td>
                                <td class="disabled">Order ORD-1609-00002 shipped</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">ORD-1609-00002</td>
                                <td class="disabled">Order Complete</td>
                                <td class="disabled">7/20/2016 14:00</td>
                                <td class="disabled">WMS</td>
                                <td class="disabled">Order ORD-1609-00002 Complete</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">WAV-1609-00002</td>
                                <td class="disabled">Wave Pick New </td>
                                <td class="disabled">7/17/2016 13:30</td>
                                <td class="disabled">John</td>
                                <td class="disabled">Wave Pick WAV-1609-00002 for Order ORD-1609-00002 Created</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">WAV-1609-00002</td>
                                <td class="disabled">Wave Pick Canceled </td>
                                <td class="disabled">7/20/2016 14:00</td>
                                <td class="disabled">Joe</td>
                                <td class="disabled">Wave Pick WAV-1609-00002 for Order ORD-1609-00002 Canceled</td>
                            </tr>
                            <tr>
                                <td class="disabled">ORD-1609-00002 </td>
                                <td class="disabled">WAV-1609-00002</td>
                                <td class="disabled">Wave Pick Completed </td>
                                <td class="disabled">7/20/2016 14:00</td>
                                <td class="disabled">Bill</td>
                                <td class="disabled">Wave Pick WAV-1609-00002 for Order ORD-1609-00002 completed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="area-block clearfix">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Internal Comments</label>
                    <textarea rows="2" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>External Comments</label>
                    <textarea rows="2" class="form-control"></textarea>
                </div>
            </div>
        </div></div>

    </form>
</div>
