<div *ngIf="canAccess">
    <div class="top-layout clearfix">
        <h2>Cycle Count History Report</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block clearfix">
        <wms-messages *ngIf="messages" [messages]="messages"></wms-messages>
        <div class="search-form seven-column">
            <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search()">
                <div class="form-group">
                    <label>Customers</label>
                    <select ngControl="cus_id" class="form-control" tabindex="1">
                        <option value="">All</option>
                        <option *ngFor="let customer of customers" [value]="customer.cus_id">{{customer.cus_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Cycle Count Num</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoadingCycleNums">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input tabindex="2"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadCycleNums($event)"
                               ngControl="cycle_num" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['cycle_num'] && cycleNums.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectCycleNum($event, cycleNum)"
                               *ngFor="let cycleNum of cycleNums">
                                {{cycleNum.cycle_num}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoadingLocations">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input tabindex="2"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadLocations($event)"
                               ngControl="sys_loc_name" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['sys_loc_name'] && locations.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectLocation($event, loc)"
                               *ngFor="let loc of locations">
                                {{loc.sys_loc_name}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>SKU</label>
                    <div class="dropdown dropdown-autosearch">
                        <span class="waiting" *ngIf="isLoadingSKUs">
                            <img src="/assets/images/loading.gif">
                        </span>
                        <input tabindex="3"
                               placeholder="Autocomplete..."
                               (ngModelChange)="loadSKUs($event)"
                               ngControl="sku" class="form-control dropdown-toggle"
                               type="text" data-toggle="dropdown"/>
                        <div tabindex="-1" class="dropdown-menu list-group"
                             *ngIf="searchForm.value['sku'] && SKUs.length > 0">
                            <a tabindex="-1" class="list-group-item nowrap" (click)="selectSKU($event, sku)"
                               *ngFor="let sku of SKUs">
                                {{sku.sku}} - {{sku.size}} - {{sku.color}} - {{sku.lot}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <input type="text" class="form-control" [(ngModel)]="currentSKU.size" disabled>
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input type="text" class="form-control" [(ngModel)]="currentSKU.color" disabled>
                </div>
                <div class="form-group">
                    <label>Lot</label>
                    <input type="text" class="form-control" [(ngModel)]="currentSKU.lot" disabled>
                </div>
                <div class="form-group has-feedback">
                    <label>From</label>
                    <input type="text" id="from-date" class="form-control datepicker-asn" data-provide="datepicker"
                           data-date-today-highlight="1" data-date-format="yyyy-mm-dd" ngControl="from" name="from-date" tabindex="4">
                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback">
                    <label>To</label>
                    <input type="text" id="to-date" class="form-control datepicker-asn" data-provide="datepicker"
                           data-date-today-highlight="1" data-date-format="yyyy-mm-dd" ngControl="to" name="to-date" tabindex="5">
                    <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select ngControl="cycle_sts" class="form-control" tabindex="6">
                        <option value="">All</option>
                        <option *ngFor="let status of statuses" [value]="status.key">{{status.value}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Cycle Type</label>
                    <select ngControl="cycle_type" class="form-control" tabindex="7">
                        <option value="">All</option>
                        <option *ngFor="let type of cycleTypes" [value]="type.key">{{type.value}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Count By</label>
                    <select ngControl="count_by" class="form-control" tabindex="8">
                        <option value="">All</option>
                        <option *ngFor="let countBy of countBys" [value]="countBy.key">{{countBy.value}}
                        </option>
                    </select>
                </div>
                <div class="btn-toolbar pull-left margin-top23">
                    <button tabindex="10" type="button" class="btn btn-outline gray" (click)="reset()">
                        <i class="icon-close"></i>
                        Reset
                    </button>
                    <button type="submit" class="btn btn-outline blue" tabindex="9">
                        <i class="icon-magnifier"></i>
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div class="table">
            <div class="filter clearfix table-list-head">
                <div class="form-inline pull-left">
                    <label>Show:</label>
                    <select (change)="changePageSize($event)" class="form-control" tabindex="11">
                        <option value="20" selected>20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
            <div class="table-style1">
                <ag-grid-ng2-extent
                        [columnData]="columnData"
                        [sortDefault]="sortData"
                        (sortData)="sortData=$event;getCycleCountHisReports(pagination['current_page'])"
                        [dataForRenderTable]="cycleCountHisReports"
                        [headerURL]="headerURL">
                </ag-grid-ng2-extent>
            </div>
            <div class="pull-right">
                <wms-pagination
                        [perPage]="perPage"
                        [paginData]="pagination"
                        (pageChange)="getCycleCountHisReports($event)">
                </wms-pagination>
            </div>
            <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

