<div class="top-layout clearfix">
    <h2>Gate Management</h2>
    <wms-breadcrumb></wms-breadcrumb>
  </div>
  <wms-messages [messages]="messages"></wms-messages>
  <div class="layout-block">
      <div class="container-plug">
          <div class="list-track">
          <div class="aisle-detail">
              <ul *ngFor="let line of gateList">
                <li *ngFor="let gate of line"
                    (click)="showGateDetail(gate)">
                  <div class="code" [style.backgroundColor]="gate.gate_sts=='A'?'#36c6d3':'#D91E18'">{{gate.gate_name}}</div>
                  <div class="detail-number" [class.invisible]="gate.gate_sts=='A'">
                      <p><label>Container:</label> {{gate.container?.ctnr_num}}</p>
                      <p><label>Customer:</label> {{gate.container?.cus_name}}</p>
                      <p><label>Open:</label> {{gate.container?.open}}</p>
                      <p><label>Close:</label> {{gate.container?.close}}</p>
                      <p><label>Duration (min):</label> {{gate.container?.duration}}</p>
                      <!-- <p>Temp (C): {{gate.container?.temp}}</p> -->
                      <p><label>Status:</label> {{gate.gate_sts_name}}</p>
                  </div>
                </li>
              </ul>
          </div>
      </div>
      </div>
  </div>
  <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
  <div id="gate-detail" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-style-default">
          <!-- Modal content-->
          <div class="modal-content">
              <form class="form-horizontal form-style" [ngFormModel]="form" (ngSubmit)="onSubmit()">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">{{popupTitle}}</h4>
              </div>
              <div class="modal-body form-style min-height400">
                        <div class="row">
                            <div class="col-md-6 auto-style">
                                <div class="form-group" [class.error-style]="showError && form.controls['ctnr_num'].errors">
                                    <label>Container <span class="txt-required">(*)</span></label>
                                    <!-- <select class="form-control" tabindex="3" ngControl="ctnr_num" [disabled]="gateAction=='update'">
                                        <option value="">Select Container</option>
                                        <option *ngFor="let con of listContainer" [value]="con.ctnr_num">{{con.ctnr_num}}</option>
                                    </select>
                                    <p *ngIf="showError && form.controls['ctnr_num'].hasError('required')" class="error">
                                        Container is required.
                                    </p> -->
                                    <input tabindex="3" type="text" maxlength="50" autocomplete="off" class="form-control" placeholder="Auto Complete" id="ctnr_num" ngControl="ctnr_num" [disabled]="gateAction=='update'"
                                        (keyup)="getContainerByName($event)" (click)="getContainerByName($event)">
                                    <div class="list-group" id="wrap-ctnr-list" hidden>
                                        <a class="create-item list-group-item" (click)="getDetailCtnr($event, true)"></a>
                                        <a *ngFor="let item of dataListCtnr;" class="list-group-item"
                                           id="{{item.ctnr_id}}" (click)="getDetailCtnr($event)">{{item.ctnr_num}}</a>
                                    </div>
                                    <p class="error" *ngIf="showError && form.controls['ctnr_num'].hasError('required')">
                                        Container is required
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [class.error-style]="showError && form.controls['cus_id'].errors">
                                    <label>Customer <span class="txt-required">(*)</span></label>
                                    <select class="form-control" tabindex="3" ngControl="cus_id" [disabled]="gateAction=='update'">
                                        <option value="">Select Customer</option>
                                        <option *ngFor="let cus of listCustomer" [value]="cus.cus_id">{{cus.cus_name}}</option>
                                    </select>
                                    <p *ngIf="showError && form.controls['cus_id'].hasError('required')" class="error">
                                        Customer is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group datepicker-style" [class.error-style]="showError && form.controls['open'].errors">
                                    <label>Open <span class="txt-required">(*)</span></label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" [disabled]="gateAction=='update'"/>
                                    <span class="input-group-addon">
                                        <span class="icon-calendar"></span>
                                    </span>
                                    </div>
                                    <input type="hidden" ngControl="open">
                                    <p *ngIf="showError && form.controls['open'].hasError('required')" class="error">
                                        Open time is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group datepicker-style" [class.error-style]="showError && form.controls['close'].errors">
                                    <label>Close <span class="txt-required" *ngIf="gateAction=='update'">(*)</span></label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="icon-calendar"></span>
                                    </span>
                                    </div>
                                    <input type="hidden" ngControl="close">
                                    <p *ngIf="showError && form.controls['close'].hasError('required')" class="error">
                                        Close time is required.
                                    </p>
                                    <p *ngIf="showError && form.controls['close'].hasError('invalid')" class="error">
                                        Close time must be greater than Open time.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Duration (min)</label>
                                    <input type="text" class="form-control" maxlength="100" tabindex="1" ngControl="duration" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" tabindex="3" ngControl="gate_dtl_sts" [disabled]="gateAction == 'new'">
                                        <option value="O">Open</option>
                                        <option value="C">Close</option>
                                    </select>
                                </div>
                            </div>
  
                        </div>
                        <!-- <div class="row">
                            <div class="form-group">
                                <label>Temp (C)</label>
                                <input type="number" class="form-control" maxlength="100" tabindex="1" ngControl="temp">
                            </div>
                        </div> -->
              </div>
                  <div class="modal-footer">
                      <div class="button pull-right">
                          <button class="btn btn-primary" tabindex="15" type="submit"><i class="icon-check"></i>Submit
                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  