<div *ngIf="canAccess">
  <div class="top-layout clearfix">
    <h2>LPN Report</h2>
    <wms-breadcrumb></wms-breadcrumb>
  </div>
  <div class="layout-block clearfix">
    <wms-messages *ngIf="messages" [messages]="messages"></wms-messages>
    <div class="search-form eight-column">
      <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search()">
        <div class="form-group">
          <label>Customers</label>
          <select ngControl="cus_id" class="form-control" tabindex="1">
            <option value="">All</option>
            <option *ngFor="let customer of customers" [value]="customer.cus_id">{{ customer.cus_name }} </option>
          </select>
        </div>
        <div class="form-group">
          <label>On Rack</label>
          <select class="form-control" ngControl="on_rack">
            <option value="">All</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="form-group">
          <label>Location</label>
          <input type="text" ngControl="loc_code" class="form-control" />
        </div>
        <div class="form-group">
          <label>Level</label>
          <div class="dropdown dropdown-autosearch">
            <span class="waiting" *ngIf="isLoading['level']">
              <img src="/assets/images/loading.gif" />
            </span>
            <input
              type="text"
              maxlength="50"
              tabindex="2"
              placeholder="Autocomplete..."
              (ngModelChange)="loadLevels($event)"
              ngControl="level"
              class="form-control dropdown-toggle"
              data-toggle="dropdown"
            />
            <div tabindex="-1" class="dropdown-menu list-group" *ngIf="searchForm.value['level'] && levels.length > 0">
              <a tabindex="-1" class="list-group-item nowrap" (click)="selectLevel($event, item)" *ngFor="let item of levels">
                {{ item.level }}
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Row</label>
          <div class="dropdown dropdown-autosearch">
            <span class="waiting" *ngIf="isLoading['row']">
              <img src="/assets/images/loading.gif" />
            </span>
            <input
              type="text"
              maxlength="50"
              tabindex="2"
              placeholder="Autocomplete..."
              (ngModelChange)="loadRows($event)"
              ngControl="row"
              class="form-control dropdown-toggle"
              data-toggle="dropdown"
            />
            <div tabindex="-1" class="dropdown-menu list-group" *ngIf="searchForm.value['row'] && rows.length > 0">
              <a tabindex="-1" class="list-group-item nowrap" (click)="selectRow($event, item)" *ngFor="let item of rows">
                {{ item.row }}
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Aisle</label>
          <div class="dropdown dropdown-autosearch">
            <span class="waiting" *ngIf="isLoading['aisle']">
              <img src="/assets/images/loading.gif" />
            </span>
            <input
              type="text"
              maxlength="50"
              tabindex="2"
              placeholder="Autocomplete..."
              (ngModelChange)="loadAisles($event)"
              ngControl="aisle"
              class="form-control dropdown-toggle"
              data-toggle="dropdown"
            />
            <div tabindex="-1" class="dropdown-menu list-group" *ngIf="searchForm.value['aisle'] && aisles.length > 0">
              <a tabindex="-1" class="list-group-item nowrap" (click)="selectAisle($event, item)" *ngFor="let item of aisles">
                {{ item.aisle }}
              </a>
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label>Date From</label>
          <input
            type="text"
            class="form-control"
            data-date-format="mm/dd/yyyy"
            data-provide="datepicker"
            data-date-today-highlight="1"
            id="created_at_from"
          />
          <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
          <label>Date To</label>
          <input
            type="text"
            class="form-control"
            data-date-format="mm/dd/yyyy"
            data-provide="datepicker"
            data-date-today-highlight="1"
            id="created_at_to"
          />
          <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group">
          <label>LPN Number</label>
          <input type="text" ngControl="lpn_num" class="form-control" />
        </div>
        <div class="form-group">
          <label>SKU</label>
          <div class="dropdown dropdown-autosearch">
            <span class="waiting" *ngIf="isLoading['SKUs']">
              <img src="/assets/images/loading.gif" />
            </span>
            <input
              maxlength="50"
              tabindex="5"
              placeholder="Autocomplete..."
              (ngModelChange)="loadSKUs($event)"
              ngControl="sku"
              class="form-control dropdown-toggle"
              type="text"
              data-toggle="dropdown"
            />
            <div tabindex="-1" class="dropdown-menu list-group" *ngIf="searchForm.value['sku'] && SKUs.length > 0">
              <a tabindex="-1" class="list-group-item nowrap" (click)="selectSKU($event, sku)" *ngFor="let sku of SKUs">
                {{ sku.sku }} - {{ sku.size }} - {{ sku.color }} - {{ sku.lot }}
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Size</label>
          <input type="text" class="form-control" [(ngModel)]="currentSKU.size" disabled />
        </div>
        <div class="form-group">
          <label>Color</label>
          <input type="text" class="form-control" [(ngModel)]="currentSKU.color" disabled />
        </div>
        <div class="form-group">
          <label>Lot</label>
          <input type="text" class="form-control" [(ngModel)]="currentSKU.lot" disabled />
        </div>
        <div class="btn-toolbar pull-left margin-top23">
          <button tabindex="7" type="button" class="btn btn-outline gray" (click)="reset()">
            <i class="icon-close"></i>
            Reset
          </button>
          <button type="submit" class="btn btn-outline blue" tabindex="6">
            <i class="icon-magnifier"></i>
            Search
          </button>
        </div>
      </form>
    </div>
    <div class="table">
      <div class="filter clearfix table-list-head">
        <div class="form-inline pull-left">
          <label>Show:</label>
          <select (change)="changePageSize($event)" class="form-control" tabindex="5">
            <option value="20" selected>20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="table-style1">
        <ag-grid-ng2-extent
          [columnData]="columnData"
          [sortDefault]="sortData"
          (sortData)="sortData = $event; getGRReports(pagination['current_page'])"
          [dataForRenderTable]="grReports"
          [headerURL]="headerURL"
        >
        </ag-grid-ng2-extent>
      </div>
      <div class="pull-right">
        <wms-pagination [perPage]="perPage" [paginData]="pagination" (pageChange)="getGRReports($event)"> </wms-pagination>
      </div>
      <report-file-exporter
        [fileName]="fileName"
        (bindMessages)="updateMessages($event)"
        [exportAPIUrl]="exportAPIUrl"
      ></report-file-exporter>
    </div>
  </div>
</div>
<div id="carton-list-popup" class="modal fade" role="dialog" data-backdrop="static">
  <form>
    <div class="modal-dialog modal-style-default modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cartons List</h4>
        </div>
        <div class="modal-body form-style">
          <div class="table">
            <div class="table-style2 table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>Carton Number</th>
                    <th>RFID</th>
                    <th>Item ID</th>
                    <th>SKU</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Lot</th>
                    <th>Packsize</th>
                    <th>Description</th>
                    <th>Expired Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartonListPopup">
                    <td>{{ item.ctn_num }}</td>
                    <td>{{ item.rfid }}</td>
                    <td>{{ item.item_id }}</td>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.color }}</td>
                    <td>{{ item.asn_dtl_lot }}</td>
                    <td>{{ item.asn_dtl_pack }}</td>
                    <td>{{ item.des }}</td>
                    <td>{{ item.expired_dt }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pull-right">
              <wms-pagination [perPage]="cartonPerPage" [paginData]="cartonPagination" (pageChange)="getCartonsList($event)">
              </wms-pagination>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt="" /></div>
