<div class="col-md-6">
  <form class="form-style" [ngFormModel]="userForm" (ngSubmit)="submitForm(userForm.value)" novalidate>
    <wms-messages [messages]="messages"></wms-messages>
    <h4>Edit Profile</h4>
    <div class="form-group">
      <label >User name<span class="txt-required">(*)</span></label>
      <input type="text" maxlength="35" #username="ngForm" ngControl="username" class="form-control"  readonly>
    </div>
    <div class="form-group" [class.error-style]="(first_name.control.touched||showError)&&first_name.control.hasError('required')">
        <label >First Name <span class="txt-required">(*)</span></label>
        <input type="text" maxlength="35" #first_name="ngForm" ngControl="first_name" class="form-control" required >
        <p *ngIf="(first_name.control.touched||showError)&&first_name.control.hasError('required')"
           class="error">
            First Name is required.
        </p>
    </div>
    <div class="form-group" [class.error-style]="(last_name.control.touched||showError)&&last_name.control.hasError('required')">
        <label >Last Name <span class="txt-required">(*)</span></label>
        <input type="text" maxlength="35" #last_name="ngForm" ngControl="last_name" class="form-control" required  >
        <p *ngIf="(last_name.control.touched||showError)&&last_name.control.hasError('required')"
           class="error">
            Last Name is required.
        </p>
    </div>
    <div class="form-group" [class.error-style]="(email.control.touched||showError)&&(email.control.hasError('required')||email.control.hasError('invalidEmailAddress'))">
        <label >Email <span class="txt-required">(*)</span></label>
        <input type="text" maxlength="64" #email="ngForm" ngControl="email" class="form-control" required  >
        <p *ngIf="(email.control.touched||showError)&&email.control.hasError('required')"
           class="error">
            Email is required.
        </p>
        <p *ngIf="(email.control.touched||showError)&&email.value&&email.control.hasError('invalidEmailAddress')"
           class="error">
            Email is invalid.
        </p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group" [class.error-style]="(phone.control.touched||showError)&&phone.control.hasError('required')">
                <label >Phone Number<span class="txt-required">(*)</span></label>
                <input type="text" maxlength="20" #phone="ngForm" ngControl="phone" class="form-control" required  >
                <p *ngIf="(phone.control.touched||showError)&&phone.control.hasError('required')" class="error">
                    Phone Number is required.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Extension</label>
                <input type="text" maxlength="5" class="form-control" ngControl="phone_extend"  >
            </div>
        </div>
    </div>
    <div class="form-group" [class.error-style]="">
        <label >Mobile</label>
        <input type="text" maxlength="20" class="form-control" ngControl="mobile" >
        <p *ngIf=""
           class="error">
        </p>
    </div>
    <div class="btn-toolbar">
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
      <button type="button" class="btn btn-default pull-right margin-left" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
