
<div class="form-style">
    <div class="col-md-6">
        <wms-messages [messages]="messages"></wms-messages>
        <label class="title"><i class="fa fa-share-alt"></i>SMTP info</label>
        <form *ngIf="emailForm"  class="form-horizontal" [ngFormModel]="emailForm" (ngSubmit)="saveEmail()" novalidate>
            <div class="form-group"
                 [class.error-style]="((smtpName.control.touched || submitForm) && (smtpName.control.hasError('required') || smtpName.control.hasError('invalidSpace')))">
                <div class="row">
                    <label class="col-md-3 control-label label-title">SMTP Name <span class="txt-required">(*)</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" required ngControl="smtpName" #smtpName="ngForm">
                        <p *ngIf="(smtpName.control.touched || submitForm) && (smtpName.control.hasError('required') || smtpName.control.hasError('invalidSpace'))"
                           class="error">
                            SMTP Name is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 [class.error-style]="((smtpHost.control.touched || submitForm) && (smtpHost.control.hasError('required') || smtpHost.control.hasError('invalidSpace')))">
                <div class="row">
                    <label class="col-md-3 control-label label-title">SMTP Host <span class="txt-required">(*)</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" required ngControl="smtpHost" #smtpHost="ngForm">
                        <p *ngIf="(smtpHost.control.touched || submitForm) && (smtpHost.control.hasError('required') || smtpHost.control.hasError('invalidSpace'))"
                           class="error">
                            SMTP Host is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 [class.error-style]="((smtpPort.control.touched || submitForm) && (smtpPort.control.hasError('required') || smtpPort.control.hasError('invalidSpace')))"
            >
                <div class="row">
                    <label class="col-md-3 control-label label-title">SMTP Port <span class="txt-required">(*)</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" required ngControl="smtpPort" #smtpPort="ngForm">
                        <p *ngIf="(smtpPort.control.touched || submitForm) && (smtpPort.control.hasError('required') || smtpPort.control.hasError('invalidSpace'))"
                           class="error">
                            SMTP Port is required.
                        </p>

                    </div>
                </div>
            </div>
            <div class="form-group"
                 [class.error-style]="((usrName.control.touched || submitForm) && (usrName.control.hasError('required') || usrName.control.hasError('invalidSpace')))"
            >
                <div class="row">
                    <label class="col-md-3 control-label label-title">User Name <span class="txt-required">(*)</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" required   ngControl="usrName" #usrName="ngForm">
                        <p *ngIf="(usrName.control.touched || submitForm) && (usrName.control.hasError('required') || usrName.control.hasError('invalidSpace'))"
                           class="error">
                            User Name is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 [class.error-style]="((pwd.control.touched || submitForm) && (pwd.control.hasError('required') || pwd.control.hasError('invalidSpace')))"
            >
                <div class="row">
                    <label class="col-md-3 control-label label-title">Password <span class="txt-required">(*)</span></label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" required ngControl="pwd" #pwd="ngForm">
                        <p *ngIf="(pwd.control.touched || submitForm) && (pwd.control.hasError('required') || pwd.control.hasError('invalidSpace'))"
                           class="error">
                            Password is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3 control-label label-title">Encryption </label>
                    <div class="col-md-9">
                        <div class="radio">
                            <div class="clearfix"><label>
                                <input type="radio" name="Encryption" id="noEncryption" value="false" #noEncryption (click)="encryption = noEncryption.value" [checked]="encryption == noEncryption.value">
                                No encryption
                            </label></div>
                            <div class="clearfix">
                                <label>
                                    <input type="radio" name="Encryption" id="sslEncryption" value="ssl" #sslEncryption (click)="encryption = sslEncryption.value" [checked]="encryption == sslEncryption.value">
                                    Use SSL encryption
                                </label></div>
                            <div class="clearfix">
                                <label>
                                    <input type="radio" name="Encryption" id="tlsencryption" value="tls" #tlsencryption (click)="encryption = tlsencryption.value" [checked]="encryption == tlsencryption.value">
                                    Use TLS encryption
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3 control-label label-title">Authentication </label>
                    <div class="col-md-9">
                        <div class="radio">
                            <div class="clearfix">
                                <label>
                                    <input type="radio" name="Authentication" id="noAuthentication" value="no" #noAuthentication (click)="authentication = noAuthentication.value" [checked]="authentication == noAuthentication.value">
                                    No: Do not use SMTP authentication
                                </label>
                            </div>
                            <div class="clearfix">
                                <label>
                                    <input type="radio" name="Authentication" id="yesAuthentication" value="yes" #yesAuthentication (click)="authentication = yesAuthentication.value" [checked]="authentication == yesAuthentication.value">
                                    Yes: Use SMTP authentication
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 [class.error-style]="((adminEmail.control.touched || submitForm) && (adminEmail.control.hasError('required') || adminEmail.control.hasError('invalidSpace'))) || adminEmail.control.touched&&adminEmail.control.hasError('invalidEmailAddress')"
            >
                <label class="control-label title"><i class="fa fa-envelope-o"></i>Reply Email <span class="txt-required">(*)</span></label>
                <input type="email" class="form-control"  required ngControl="adminEmail" #adminEmail="ngForm">
                <p *ngIf="(adminEmail.control.touched || submitForm) && (adminEmail.control.hasError('required') || adminEmail.control.hasError('invalidSpace'))"
                   class="error">
                    Reply Email is required.
                </p>
                <p class="error" *ngIf="adminEmail.control.touched && adminEmail.control.hasError('invalidEmailAddress')">
                    Email is invalid.
                </p>
            </div>
            <div class="form-group"
                 [class.error-style]="((issueReport.control.touched || submitForm) && (issueReport.control.hasError('required') || issueReport.control.hasError('invalidSpace'))) || issueReport.control.touched&&issueReport.control.hasError('invalidEmailAddress')"
            >
                <label class="control-label title"><i class="fa fa-envelope-o"></i>Issue Report <span class="txt-required">(*)</span></label>
                <input type="email" class="form-control"  required ngControl="issueReport" #issueReport="ngForm">
                <p *ngIf="(issueReport.control.touched || submitForm) && (issueReport.control.hasError('required') || issueReport.control.hasError('invalidSpace'))"
                   class="error">
                    Issue Report is required.
                </p>
                <p class="error" *ngIf="issueReport.control.touched && issueReport.control.hasError('invalidEmailAddress')">
                    Email is invalid.
                </p>
            </div>
            <div class="form-group"
                 [class.error-style]="((invoiceAlert.control.touched || submitForm) && (invoiceAlert.control.hasError('required') || invoiceAlert.control.hasError('invalidSpace'))) || invoiceAlert.control.touched&&invoiceAlert.control.hasError('invalidEmailAddress')"
            >
                <label class="control-label title"><i class="fa fa-envelope-o"></i>Invoice Alert <span class="txt-required">(*)</span></label>
                <input type="email" class="form-control"  required  ngControl="invoiceAlert" #invoiceAlert="ngForm">

                <p *ngIf="(invoiceAlert.control.touched || submitForm) && (invoiceAlert.control.hasError('required') || invoiceAlert.control.hasError('invalidSpace'))"
                   class="error">
                    Invoice Alert is required.
                </p>
                <p class="error" *ngIf="invoiceAlert.control.touched&&invoiceAlert.control.hasError('invalidEmailAddress')">
                    Email is invalid.
                </p>
            </div>
            <div class="button pull-right">
                <button type="submit" class="btn btn-primary"><i class="icon-check"></i>Save</button>
            </div>
        </form>
    </div>
</div>
