<div id="thirdPartyForm" class="modal fade" role="dialog" data-backdrop="static">

    <div class="modal-dialog modal-style-default modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="title">{{cruThirdPartyTitle}}</h4>
            </div>
            <div class="modal-body form-style">
                <form *ngIf="showForm&&ThirdPartyForm" class="form-horizontal form-style" [ngFormModel]="ThirdPartyForm"
                    novalidate autocomplete="off">
                    <wms-messages [messages]="cruThirdPartyMessage"></wms-messages>
                    <!-- <div class="col-md-3">
                        <div class="form-group" [class.error-style]="(type.control.touched||showErrorThirdParty)&&type.control.errors">
                            <label>Type <span class="txt-required">(*)</span></label>
                            <select class="form-control" ngControl="type" #type="ngForm" [disabled]="thirdPartyAction=='view'">
                                <option value="">Select Type</option>
                                <option *ngFor="let item of listType" value="{{item.code}}">
                                    {{item.name}}
                                </option>
                            </select>
                            <p *ngIf="(type.control.touched||showErrorThirdParty)&&type.control.errors"
                               class="error">
                                Type is required.
                            </p>
                        </div>
                    </div> -->
                    <div class="col-md-3">
                        <div class="form-group"
                             [class.error-style]="(name.control.touched||showErrorThirdParty)&&name.control.errors">
                            <label>Name <span class="txt-required">(*)</span></label>
                            <input type="text" maxlength="50" #name="ngForm" ngControl="name" class="form-control" [disabled]="thirdPartyAction=='view'"/>

                            <p *ngIf="(name.control.touched||showErrorThirdParty)&&name.control.hasError('required')"
                               class="error">
                                Name is required.
                            </p>
                            <p *ngIf="(name.control.touched||showErrorThirdParty)&&name.control.hasError('invalidNameStr')"
                               class="error left">
                                Name should only contain alphanumeric, space, hyphen and underscore.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" maxlength="20" #phone="ngForm" ngControl="phone" class="form-control" [disabled]="thirdPartyAction=='view'"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="text" maxlength="20" #mobile="ngForm" ngControl="mobile" class="form-control" [disabled]="thirdPartyAction=='view'"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"
                             [class.error-style]="(add_1.control.touched||showErrorThirdParty)&&add_1.control.errors">
                            <label>Address 1 <span class="txt-required">(*)</span></label>
                            <input type="text" maxlength="127" #add_1="ngForm" ngControl="add_1" class="form-control address"
                                id="autocomplete" autocomplete="new-password" [disabled]="thirdPartyAction=='view'"/>

                            <p *ngIf="(add_1.control.touched||showErrorThirdParty)&&add_1.control.hasError('required')"
                               class="error">
                                Address 1 is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address 2</label>
                            <input type="text" maxlength="127" #add_2="ngForm" ngControl="add_2" class="form-control address" 
                                autocomplete="new-password" [disabled]="thirdPartyAction=='view'"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" [class.error-style]="(country.control.touched||showErrorThirdParty)&&country.control.errors">
                            <label>Country <span class="txt-required">(*)</span></label>
                            <select class="form-control"  ngControl="country" #country="ngForm" (change)="ChangeCountry($event.target.value)" [disabled]="thirdPartyAction=='view'">
                                <option value="">Select Country</option>
                                <option *ngFor="let item of Country" [value]="item.sys_country_code">{{item.sys_country_name}}</option>
                            </select>
                            <p *ngIf="(country.control.touched||showErrorThirdParty)&&country.control.errors"
                               class="error">
                                Country is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" [class.error-style]="(state.control.touched||showErrorThirdParty)&&state.control.errors">
                            <label>State <span class="txt-required">(*)</span></label>
                            <select class="form-control" ngControl="state" #state="ngForm" [disabled]="thirdPartyAction=='view'"
                                (change)="resetZipcode()">
                                <option value="">Select State</option>
                                <option *ngFor="let item of StateProvinces" value="{{item.sys_state_code}}">{{item.sys_state_name}}</option>
                            </select>
                            <p *ngIf="(state.control.touched||showErrorThirdParty)&&state.control.errors"
                               class="error">
                                State is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"
                             [class.error-style]="(city.control.touched||showErrorThirdParty)&&city.control.errors">
                            <label>City <span class="txt-required">(*)</span></label>
                            <input type="text" maxlength="63" #city="ngForm" ngControl="city" class="form-control address"
                                (change)="resetZipcode()" autocomplete="new-password" [disabled]="thirdPartyAction=='view'"/>

                            <p *ngIf="(city.control.touched||showErrorThirdParty)&&city.control.hasError('required')"
                               class="error">
                                City is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"
                             [class.error-style]="(zip.control.touched||showErrorThirdParty)&&zip.control.errors">
                            <label>Zip <span class="txt-required">(*)</span></label>
                            <input type="text" maxlength="10" #zip="ngForm" ngControl="zip" class="form-control address" 
                                autocomplete="new-password" (keyup)="getZipcode($event)" [disabled]="thirdPartyAction=='view'"/>

                            <p *ngIf="(zip.control.touched||showErrorThirdParty)&&zip.control.hasError('required')"
                               class="error">
                                Zip is required.
                            </p>
                            <p *ngIf="(zip.control.touched||showErrorThirdParty)&&zip.control.hasError('invaildValue')"
                               class="error">
                                Zip is invalid.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" [class.error-style]="(ct_first_name.control.touched||showErrorThirdParty)&&ct_first_name.control.errors">
                            <label>Contact First Name</label>
                            <input type="text" maxlength="35" #ct_first_name="ngForm" ngControl="ct_first_name" class="form-control" [disabled]="thirdPartyAction=='view'"/>
                            <p *ngIf="(ct_first_name.control.touched||showErrorThirdParty)&&ct_first_name.control.hasError('invalidNameStr')"
                               class="error left">
                                First Name should only contain alphanumeric, space, hyphen and underscore.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" [class.error-style]="(ct_last_name.control.touched||showErrorThirdParty)&&ct_last_name.control.errors">
                            <label>Contact Last Name</label>
                            <input type="text" maxlength="35" #ct_last_name="ngForm" ngControl="ct_last_name" class="form-control" [disabled]="thirdPartyAction=='view'"/>
                            <p *ngIf="(ct_last_name.control.touched||showErrorThirdParty)&&ct_last_name.control.hasError('invalidNameStr')"
                               class="error left">
                                Last Name should only contain alphanumeric, space, hyphen and underscore.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" maxlength="255" #des="ngForm" ngControl="des" class="form-control" [disabled]="thirdPartyAction=='view'"/>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button *ngIf="thirdPartyAction!='view'" type="button" (click)="SaveThirdParty()" class="btn btn-primary pull-right" ><i class="icon-check"></i>Save</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
            </div>
        </div>
    </div>
</div>