<div class="area-block clearfix">
    <form *ngIf="outboundPalletForm" class="form-horizontal form-style" [ngFormModel]="outboundPalletForm"
          (ngSubmit)="submit()" novalidate>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>LPN</th>
                <th>Location <span class="txt-required">(*)</span></th>
            </tr>
            </thead>

            <tbody ngControlGroup="out_pallets">
            <tr *ngFor="let item of items; let i=index" ngControlGroup="{{i}}">
                <td>
                    {{pallets[i]?.plt_num}}
                    <input type="hidden" ngControl="plt_id">
                </td>
                <td class="autocomplete-style">
                    <input type="hidden" ngControl="loc_id" hidden>
                    <div class="control-group" [class.error-style]="(location_id.control.touched || submitted) && location_id.control.hasError('required')">
                        <div class="dropdown dropdown-autosearch">
                            <span class="waiting" *ngIf="showLoadingLocations[i]">
                                <img src="/assets/images/loading.gif">
                            </span>
                            <input class="form-control dropdown-toggle" type="text" data-toggle="dropdown"
                                   placeholder="Autocomplete..." ngControl="loc_code" #location_id="ngForm"
                                   (ngModelChange)="loadLocations($event, i)" [disabled]="!canUpdate"/>
                            <div *ngIf="location_id.value && locations?.length > 0" class="dropdown-menu list-group">
                                <a class="list-group-item nowrap"
                                   (click)="selectLocation(loc, i)"
                                   *ngFor="let loc of locations">{{loc?.loc_code}}</a>
                            </div>
                            <p *ngIf="(location_id.control.touched || submitted) && location_id.control.hasError('required')" class="error">
                                Location is required.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="button pull-right  margin-top">
            <button type="submit" class="btn btn-primary" [disabled]="pallets?.length < 1 || !canUpdate">
                <i class="icon-check"></i>
                Save
            </button>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>