<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form *ngIf="hasCountry||action=='new'" class="form-horizontal form-style" [ngFormModel]="countryForm"
          (ngSubmit)="submitForm(countryForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-area">
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(country_code.control.touched || _submitForm ) && country_code.control.errors">
                                <label class="">Country Code <span *ngIf="action!='view'"
                                                                   class="txt-required">(*)</span></label>
                                <input tabindex="1" type="text" maxlength="2" #country_code="ngForm"
                                       ngControl="sys_country_code"
                                       (blur)="detectControlErr(country_code)" class="form-control" [readonly]="isView"
                                       required>
                                <p *ngIf="(country_code.control.touched || _submitForm )&&country_code.control.hasError('required')" class="error">
                                    Country Code is required
                                </p>
                                <p *ngIf="(country_code.control.touched || _submitForm )&&country_code.control.hasError('invalidCountryCode')"
                                   class="error">
                                    Country Code is invalid.
                                </p>
                                <p *ngIf="(country_code.control.touched || _submitForm )&&country_code.control.hasError('invalidCountryCodeLength')"
                                   class="error">
                                    Country Code must have 2 characters.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(country_name.control.touched || _submitForm ) && country_name.control.errors">
                                <label class="">Country Name <span *ngIf="action!='view'"
                                                                   class="txt-required">(*)</span></label>
                                <input tabindex="2" type="text" maxlength="50" #country_name="ngForm"
                                       ngControl="sys_country_name"
                                       (blur)="detectControlErr(country_name)" class="form-control" [readonly]="isView"
                                       required>
                                <p *ngIf="country_name.errors&&country_name.errors.error_messages" class="error">
                                    Country Name {{ (country_name.errors.error_messages) }}
                                </p>
                                <p *ngIf="country_name.control.touched && country_name.control.hasError('invalidNameStr')" class="error">
                                    Country Name should only contain alphanumeric, space, hyphen and underscore.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="button pull-right">
                        <button *ngIf="!isView" type="button" (click)="cancel()" class="btn btn-default" tabindex="4"><i
                                class="icon-close"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='new'" tabindex="3"><i
                                class="icon-check"></i>Save
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='edit'" tabindex="3"><i
                                class="icon-check"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="isView"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
