<div class="container-fluid">
    <ul class="nav">
        <div class="nofication-status">
            <i class="fa fa-bell-o">
                <span class="notice-number">5</span>
            </i>
            <span>Nofication:</span>
        </div>
        <li>
            <div class="icon clearfix"><i class="icon-new-notification"></i></div>
            <div class="des clearfix">
                <a href="#/dashboard">Lorem Ipsum is simply dummy text of the printing...</a>
                <i>20 minutes ago</i>
            </div>
        </li>
        <li>
            <div class="icon clearfix"><i class="icon-new-notification"></i></div>
            <div class="des clearfix">
                <a href="#/dashboard">Lorem Ipsum is simply dummy text of the printing...</a>
                <i>20 minutes ago</i>
            </div>
        </li>
        <li>
            <div class="icon clearfix"><i class="fa icon-new-notification"></i></div>
            <div class="des clearfix">
                <a href="#/dashboard">Lorem Ipsum is simply dummy text of the printing...</a>
                <i>20 minutes ago</i>
            </div>
        </li>
    </ul>
</div>
<!--<span class="view-more-icon"><i class="fa fa-angle-double-up"></i></span>-->