<div class="top-layout clearfix">
    <h2>Create Block Stock</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>

<div class="layout-block">
    <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <form class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-2">
                    <label style="margin: 0 5px 0 0;">By <span class="txt-required">(*)</span>: </label>
                    <label class="radio-inline">
                        <input type="radio" (change)="changeCycleBy($event)" id='rcustomer' name="filter_by" value="CS"
                               checked>
                        Customer
                    </label>
                    <div class="form-group"
                         [class.error-style]="listNull.customer_required || listNull.customer_not_access">
                        <label>Customer</label>
                        <select tabindex="1" #customer  name="customer" id="customer" (change)="filterForm($event.target)"
                                (focusout)="filterForm($event.target)" [disabled]="searchBy !== 'CS' && searchBy !== 'SK'" class="form-control">
                            <option value="">Select Customer</option>
                            <option *ngFor="let item of dataListCustomer" value="{{item.cus_id}}">
                                {{item.cus_name}}
                            </option>
                        </select>
                        <p class="error" *ngIf="listNull.customer_required">
                            Customer is required
                        <p>
                        <p class="error" *ngIf="listNull.customer_not_access">
                            {{ warningMessages }}
                        <p>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" (change)="changeCycleBy($event)" id='rsku' name="filter_by" value="SK"> SKU
                    </label>
                    <div class="form-group" [class.error-style]="listNull.sku_required">
                        <label>SKU list</label>
                        <input [(ngModel)]="skuItem.value" id="sku" type="text" placeholder="SKU1, SKU2"
                               (ngModelChange)="autoCompleteSku(skuItem,skuItem.value,customer.value)"
                               (focusout)="filterForm(skuItem)" autocomplete="off" class="form-control dropdown-toggle"
                               [disabled]="!customer.value || searchBy !== 'SK'" data-toggle="dropdown">

                        <ul class="dropdown-menu autocomplete">
                        <span class="icon-loading-search-complete" *ngIf="skuItem['showLoading']"><img
                                src="/assets/images/loading.gif"></span>
                            <li *ngFor="let item of autoSearchData" (click)="selectedSKU(item)">
                                {{item.sku}}
                            </li>
                        </ul>

                        <p class="error" *ngIf="listNull.sku_required">
                            SKU list is required
                        <p>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" (change)="changeCycleBy($event)" id='rsitem' name="filter_by" value="IT">
                        Item
                    </label>
                    <div class="form-group" [class.error-style]="listNull.item_required || listNull.item_existed">
                        <label>Item</label>
                        <input placeholder="Auto Complete" maxlength="50" [disabled]="searchBy !== 'IT'"
                               (keyup)="filterForm($event.target)"
                               (keyup)="autoSearchItem($event, 'item')"
                               (click)="autoSearchItem($event, 'item')"
                               (focusout) = 'ckItemExist($event)'
                               class="form-control dropdown-toggle" autocomplete="off" id="item" type="text"
                               data-toggle="dropdown"/>
                        <ul class="dropdown-menu autocomplete" id='ul_item'>
                            <span class="icon-loading-search-complete" *ngIf="s_loading['item']"><img
                                    src="/assets/images/loading.gif"></span>
                            <li *ngFor="let item of dataItem" (click)="selectedItem($event, 'item', item)"
                                id='item_{{item.item_id}}'>
                                {{item.item_id}} {{item.sku}} {{item.size}} {{item.color}}
                            </li>
                        </ul>
                        <p class="error" *ngIf="listNull.item_required">
                            Item is required
                        <p>
                        <p class="error" *ngIf="listNull.item_existed">
                            Item is not existed
                        <p>
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" (change)="changeCycleBy($event)" id='rlocation' name="filter_by" value="LC">
                        Location
                    </label>
                    <div class="form-group" [class.error-style]="listNull.locations">
                        <label>Selected Location</label>
                        <locations-popup
                            [data_used]="locations"
                            [isdisabled]="searchBy !== 'LC'"
                            (selectedLoc)="addLocation($event)"></locations-popup>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <div class="form-group" [class.error-style]="listNull.reason_required">
                                <label>Reason <span class="txt-required">(*)</span></label>
                                <select tabindex="6" name="customer" id="reason" (change)="filterForm($event.target)"
                                        (focusout)="filterForm($event.target)" class="form-control">
                                    <option value="">Select Reason</option>
                                    <option *ngFor="let item of dataListReason" value="{{item.block_rsn_id}}">
                                        {{item.block_rsn_name}}
                                    </option>
                                </select>
                                <p class="error" *ngIf="listNull.reason_required">
                                    Reason is required
                                <p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group margin-top38">
                                <div class="button pull-left clearfix">
                                    <button class="btn btn-default" (click)="reset()" type="reset"><i
                                            class="icon-close"></i>Reset
                                    </button>
                                    <button class="btn btn-primary pull-right" type="submit" (click)="save()"><i
                                            class="icon-check"></i>Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </form>
    <div class="table">
        <div class="table-list-head clearfix">
            <div class="row-legth pull-left form-inline">
                <label>Show:</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
            <!--<div class="seach-input col-md-3">-->
            <!--<input class="form-control" placeholder="Search by SKU (auto complete)" type="text">-->
            <!--<a class="btn btn-primary" type="button"><i class="icon-magnifier"></i></a>-->
            <!--</div>-->

        </div>
        <div class="table-style2 table-responsive">
            <table class="table table-bordered table-hover" id="role-list">
                <thead>
                <tr>
                    <!--<th class="column-checkbox">-->
                    <!--<input type="checkbox" (change)="checkAll($event)"  [(ngModel)]="selectedAll">-->
                    <!--</th>-->
                    <th [class.sorting-desc]="!FieldsToSortFlag['block_hdr_id']&&countClick['block_hdr_id']!=3"
                        [class.sorting-asc]="FieldsToSortFlag['block_hdr_id']&&countClick['block_hdr_id']!=3"
                        [class.sorting]="countClick['block_hdr_id']==3" (click)="sort('block_hdr_id')"
                    >Block ID
                    </th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['block_num']&&countClick['block_num']!=3"
                        [class.sorting-asc]="FieldsToSortFlag['block_num']&&countClick['block_num']!=3"
                        [class.sorting]="countClick['block_num']==3"
                        (click)="sort('block_num')">Block Number
                    </th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['block_type']&&countClick['block_type_name']!=3"
                        [class.sorting-asc]="FieldsToSortFlag['block_type_name']&&countClick['block_type_name']!=3"
                        [class.sorting]="countClick['block_type_name']==3"
                        (click)="sort('block_type_name')">Block Type
                    </th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['block_rsn_name']&&countClick['block_rsn_name']!=3"
                        [class.sorting-asc]="FieldsToSortFlag['block_rsn_name']&&countClick['block_rsn_name']!=3"
                        [class.sorting]="countClick['block_rsn_name']==3"
                        (click)="sort('block_rsn_name')">Reason
                    </th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['cycle_sts']&&countClick['block_sts_name']!=3"
                        [class.sorting-asc]="FieldsToSortFlag['cycle_sts']&&countClick['block_sts_name']!=3"
                        [class.sorting]="countClick['block_sts_name']==3"
                        (click)="sort('block_sts_name')">Status
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of blockStockList; let index = index">
                    <!--<td>-->
                    <!--<input id="created_by" type="hidden" value="{{item.created_by}}">-->
                    <!--<input id="assignee_id" type="hidden" value="{{item.assignee_id}}">-->
                    <!--<input type="checkbox" value="{{item.cycle_hdr_id}}"-->
                    <!--alt = {{item.cycle_sts}} id = "ck-row-{{index}}"-->
                    <!--(change)="checkSelectItem($event)"-->
                    <!--[ngModel]="item?.selected">-->
                    <!--</td>-->
                    <td>{{item.block_hdr_id}}</td>
                    <td><a href="#/block-stock/{{item.block_hdr_id}}">{{item.block_num}}</a></td>
                    <td>{{item.block_type_name}}</td>
                    <td>{{item.block_rsn_name}}</td>
                    <td>{{item.block_sts_name}}</td>
                </tr>
                </tbody>
            </table>
            <p *ngIf="!loading['getCycleCount'] && blockStockList.length==0">No Results Found.</p>
            <p *ngIf="loading['getCycleCount'] && ! blockStockList.length">Loading ... </p>
        </div>
        <div class="pull-right">

            <div class="showing pull-left" *ngIf="blockStockList.length>0">
                Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) *
                perPage +
                blockStockList.length}} of total {{Pagination?Pagination.total:0}}
            </div>
            <ul class="pagination pull-right"
                *ngIf="Pagination && Pagination.total_pages > 1 && Pagination?.total > perPage">
                <li *ngIf="Pagination.current_page > Pagination.numLinks">
                    <a (click)="filterList(1)"><i class="fa fa-step-backward"></i></a>
                </li>
                <li *ngIf="Pagination.current_page > 1">
                    <a (click)="filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
                    [class.active]="item==Pagination.current_page">
                    <a *ngIf="item != Pagination.current_page" (click)="filterList(item)">{{item}}</a>
                    <a *ngIf="item == Pagination.current_page">{{item}}</a>
                </li>
                <li *ngIf="Pagination.current_page < Pagination.total_pages">
                    <a (click)="filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
                </li>
                <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
                    <a (click)="filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
