<div class="popovermenu">
  <ul  class="nav rf-dashboard-nav">
    <li class="color1" (click)="redirectTo('putaway')">
      <p>Putaway</p>
      <i class="ico-putaway"></i>
    </li>
    <li class="color2" (click)="redirectTo('wave-pick')">
      <p>Wave Picking</p>
      <i class="ico-wavepicking"></i>
    </li>
    <!--<li class="color3">
        <p>Cartons to Pallet</p>
        <i class="ico-cartonsofpallet"></i>
    </li>
    <li class="color4">
        <p>Cartons to Order</p>
        <i class="ico-cartonsto-oder"></i>
    </li>-->
    <li class="color5" (click)="redirectTo('relocate')">
      <p>Relocate</p>
      <i class="ico-relocate"></i>
    </li>
    <!--<li class="color6">
        <p>Consolidate</p>
        <i class="ico-consolidate"></i>
    </li>
    <li class="color7">
        <p>Cycle Count</p>
        <i class="ico-cyclecount"></i>
    </li>
    <li class="color8">
        <p>Xfer</p>
        <i class="ico-xfer"></i>
    </li>-->

  </ul>
</div>
