<div class="top-layout clearfix">
    <h2>Import Customer</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="area-block clearfix">
        <div class="form-group file-input">
            <label for="customer-file-input">File input (maximum 100 customers)</label>
            <input type="file" (change)="changeCustomerFile($event)" id="customer-file-input" #customerFileView tabindex="1">
            <button class="btn btn-primary float-none" (click)="importFile()" tabindex="2" [disabled]="!customerFileView.value">Import</button>
            <span *ngIf="importLoading"><img src="/assets/images/loading.gif" alt=""></span>
            <label><a href="/assets/doc/Customer_Template.xlsx?v=1.4" target="_blank" tabindex="3">Download Template</a></label>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
