<div *ngIf="canAccess">
    <div class="top-layout clearfix">
        <h2>Monthly Inventory Reports</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block clearfix">
        <wms-messages [messages]="messages"></wms-messages>
        <div class="search-form3">
            <form class="clearfix" *ngIf="exportForm" #expForm="ngForm" [ngFormModel]="exportForm" (ngSubmit)="export()">
                <div class="row">
                    <div class="col-md-12 eight-column">
                        <div class="form-group" [class.error-style]="(Cus.control.touched || showError) && Cus.control.errors">
                            <label>Customers</label>
                            <select (change)="chanegCus($event.target.value)" #Cus="ngForm" ngControl="cus_id" class="form-control" tabindex="1">
                                <option value="">Select one value</option>
                                <option *ngFor="let customer of customers" [value]="customer.cus_id">{{customer.cus_name}}
                                </option>
                            </select>
                            <p *ngIf="(Cus.control.touched || showError) && Cus.control.errors"
                                class="error">
                                Customer is required.
                            </p>
                        </div>

                        <div class="form-group col-md-2"  [class.error-style]="showError && exportForm.controls['year'].errors">
                            <label>Year</label>
                            <select ngControl="year"  class="form-control" (change)="changeYear($event)" [disabled]="!Cus.value">
                                <option value=''>Select Year</option>
                                <option *ngFor="let item of years" [value]="item">{{item}}</option>
                            </select>
                            <p *ngIf="showError && exportForm.controls['year'].errors" class="error">
                                Year is required.
                            </p>
                        </div>
                        <div class="form-group col-md-2" [class.error-style]="showError && exportForm.controls['month'].errors">
                            <label>Month</label>{{Month|json}}
                            <select ngControl="month" class="form-control" [disabled]="!Cus.value"  (change)="changeMonth($event, 'month')">
                                <option value=''>Select Month</option>
                                <option *ngFor="let item of monthList" [value]="item">{{item}}</option>
                            </select>
                            <p *ngIf="showError && exportForm.controls['month'].errors" class="error">
                                Month is required.
                            </p>
                        </div>
                        <div class="btn-toolbar pull-left margin-top23">
                            <button type="submit" name="exportInventory" class="btn btn-primary" tabindex="2">
                                Export Inventory
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
