<div class="top-layout clearfix">
<h2>PutAway List</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form six-column">
        <form class="clearfix form-inline" id="form-filter" (submit)="search()">
            <div class="form-group">
                <label>Customer </label>
                <select tabindex="1" type="text" class="form-control" name="cus_id">
                    <option value="">ALL</option>
                    <option *ngFor = "let item of dataListCustomer| orderBy:['cus_name']" value="{{item.cus_id}}">{{item.cus_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Goods Receipt # </label>
                <input tabindex="2" type="text" class="form-control" maxlength = "50" name="gr_hdr_num"/>
            </div>
            <div class="form-group">
                <label>Ref Code</label>
                <input tabindex="3" type="text" class="form-control"  maxlength = "64" name="asn_hdr_ref"/>
            </div>
            <div class="form-group">
                <label>Container </label>
                <input tabindex="4" type="text" class="form-control" maxlength = "50" name="ctnr_num"/>
            </div>
            <!--<div class="form-group">
                <label>Putaway handler </label>
                <input tabindex="5" type="text" class="form-control" maxlength = "50" name="putter"/>
            </div>-->
            <div class="btn-toolbar pull-left margin-top23">
                <button tabindex="6" type="button" class="btn btn-outline gray" (click)="reset()"><i class="icon-close"></i>Reset</button>
                <button tabindex="5" type="submit" class="btn btn-outline blue"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabGoodReceipt">Goods Receipt</a></li>
    </ul>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <div class="input-group pull-right margin-left">
                    <button tabindex="8" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="nowrap" (click) = "update_invent($event)"><i class="icon-note"></i>Update Putaway</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="7">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
      <div class="table-style1">
        <advance-table [tableID]="tableID"
          [headerURL]="headerURL"
          [headerDef]="headerDef"
          [pinCols]="pinCols"
          [rowData]="rowData"
          [getSelectedRow]="getSelectedRow"
          [expandTable]="expandTable"
          (returnSelectedRow)="afterGetSelectedRow($event)"
          (sort)="doSort($event)"
        ></advance-table>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
