<div class="top-layout clearfix">
    <h2>User Role</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block role-block">
    <div class="row">
        <div class="col-md-3">
            <div class="area-block list-role">
                <h3 class="color-active">ROLES
                    <a class="btn btn-outline blue pull-right" href="" tabindex="9" data-toggle="modal" data-target="#addRole" (click)="resetRoleForm()">
                        <i class="icon-plus"></i>
                        Add
                    </a>
                </h3>
                <ul class="list-style">
                    <li *ngFor="let item of roleList" (click)="updateActiveRole(item)" [class.active]="item['is_active']">
                        <a type="button" (click)="getPermissionsByRoleName(item.name)">
                            <i class="icon-options"></i>
                            {{item.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <wms-messages [messages]="messages"></wms-messages>
            <div class="area-block clearfix role-option">
                <div class="filter-row clearfix">
                    <div class="form-group pull-left form-inline">
                        <label>Quick Filter</label>
                        <input type="text" placeholder="Search Permission..." class="form-control" [(ngModel)]="permissionFilterKey">
                        <label class="title-role text-uppercase">
                            <b>{{curRoleName}}</b>
                        </label>
                    </div>
                    <button type="button" [disabled]="curRoleName.length==0" (click)="update()" class="btn btn-primary pull-right" tabindex="6">
                        <i class="icon-check"></i> Update
                    </button>
                </div>
                <div class="select-block" id="allPermissions">
                    <div class="check-all">
                        <input type="checkbox" name="checkboxG5" id="checkAll" [checked]="isCheckedAll" class="css-checkbox"
                            (click)="checkAll()">
                        <label for="checkAll" class="css-label">Check All</label>
                    </div>
                    <div class="select-form" *ngFor="let module of allGroupPermission  | searchPipe: 'group' :  permissionFilterKey">
                        <div class="role-title">
                            <input type="checkbox" name="checkboxG5" id="{{module.group}}" class="css-checkbox cb-module"
                                   [checked]="module['checked']" (click)="checkGroupPermission(module)">
                            <label [attr.for]="module.group" class="css-label">{{module.group}}</label>
                        </div>
                        <ul class="list-inline">
                            <!-- searchPipe: permissionFilterKey-->
                            <li *ngFor="let item of module.extended_permissions">
                                <input type="checkbox" name="checkboxG5" class="css-checkbox cb-permission" id="{{item['name']}}"
                                    [checked]="item['checked']" (click)="checkPermission(item, module)">
                                <label [attr.for]="item['name']" class="css-label">
                                    {{item['name'] == 'changeInvoiceStatus' ? 'Set Approval' :  item['name'] | uppercaseToSpaceLower}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addRole" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-style-default">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Role</h4>
            </div>
            <div class="modal-body form-style">
                <wms-messages [messages]="popupMessages"></wms-messages>
                <form *ngIf="showForm&&roleForm" class="form-horizontal form-style" [ngFormModel]="roleForm" (ngSubmit)="submit()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.error-style]="(code.control.touched||submitted)&&code.control.errors">
                                <label>Role Code <span class="txt-required">(*)</span></label>
                                <input type="text" class="form-control" maxlength="20" ngControl="code" #code="ngForm">
                                <p *ngIf="(code.control.touched||submitted)&&code.control.hasError('required')"
                                   class="error">
                                    Role Code is required.
                                </p>
                                <p *ngIf="(code.control.touched||submitted)&&code.control.hasError('invalidCodeStr')"
                                   class="error left">
                                    Role Code should only contain alphanumeric and no space.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.error-style]="(name.control.touched ||submitted)&&name.control.errors">
                                <label>Role Name <span class="txt-required">(*)</span></label>
                                <input type="text" class="form-control" maxlength="64" ngControl="name" #name="ngForm">
                                <p *ngIf="(name.control.touched||submitted)&&name.control.hasError('required')"
                                   class="error">
                                    Role Name is required.
                                </p>
                                <p *ngIf="(name.control.touched||submitted)&&name.control.hasError('invalidNameStr')"
                                   class="error">
                                    Role Name should only contain alphanumeric, space, hyphen and underscore.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="3" class="form-control" ngControl="description" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary pull-right"><i class="icon-check"></i>Submit</button>
                        <button type="button" class="btn btn-default pull-right" (click)="cancel()"><i class="icon-close"></i>Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
