<div id="printBarcode" class="modal fade" role="dialog">
    <form *ngIf="ASNForm&&showForm" [ngFormModel]="ASNForm" novalidate>
        <div class="modal-dialog modal-lg modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Print Carton Barcode</h4>
                </div>

                <div class="modal-body form-style">
                    <wms-messages [messages]="messagesBC"></wms-messages>
                    <div class="table-style2">
                        <table class="table table-bordered editable" id="customer-by-warehouse" ngControlGroup="details">
                            <thead>
                            <tr>
                                <th>UPC/EAN</th>
                                <th>UCC128</th>
                                <th>SKU</th>
                                <th>SIZE</th>
                                <th>COLOR</th>
                                <th>LOT</th>
                                <th>LABEL QTY</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of items;let i=index" ngControlGroup="{{i}}">
                                <td>{{_asn_details[i]['asn_dtl_cus_upc']}}</td>
                                <td>{{_asn_details[i]['ucc128']}} </td>
                                <td>{{_asn_details[i]['dtl_sku']}}</td>
                                <td>{{_asn_details[i]['dtl_size']}}</td>
                                <td>{{_asn_details[i]['dtl_color']}}</td>
                                <td>{{_asn_details[i]['asn_dtl_lot']}}</td>
                                <td>
                                    <div class="form-group has-feedback" [class.error-style]="(Pack_barcode.control.touched || submitForm ) && Pack_barcode.control.errors">
                                        <input maxlength="4" type="text"
                                               ngControl="pack_barcode"
                                               (ngModelChange)="printCartonBarcodeFunctions.checkLessQty(item, i); printCartonBarcodeFunctions.ckRequireOne(item, itemsTable)"
                                               #Pack_barcode="ngForm"
                                               (keypress)="printCartonBarcodeFunctions.checkInputNumber($event, true)" class="form-control">
                                        <p *ngIf="(Pack_barcode.control.touched || submitForm )&&Pack_barcode.control.hasError('isZero')" class="error">
                                            Label QTY must be greater than 0
                                        <p>
                                        <p *ngIf="(Pack_barcode.control.touched || submitForm )&&Pack_barcode.control.hasError('invalidInt')" class="error">
                                            Label QTY must be integer
                                        <p>
                                        <p *ngIf="(Pack_barcode.control.touched || submitForm )&&Pack_barcode.control.hasError('invalidLess100')" class="error">
                                            Label QTY must not greater than 100
                                        <p>

                                        <p *ngIf="(Pack_barcode.control.touched || submitForm )&&Pack_barcode.control.hasError('invalidlessQTY') &&
                                        !Pack_barcode.control.hasError('isZero')"  class="error">
                                            {{item['messageLessQty']}}
                                        <p>
                                        <p *ngIf="(Pack_barcode.control.touched || submitForm )&&Pack_barcode.control.hasError('invalidRequireOne')" class="error">
                                            At least one Label QTY is required
                                        <p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="disablePrint" type="button" (click)="printBarCode(ASNForm)" class="btn btn-primary  pull-right"><i
                            class="icon-printer"></i>Print
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                            class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>