<h3>
    Occupancy PCT
    <ul class="nav nav-tabs icon-chart-block" role="tablist">
            <li role="presentation" class="active"><a href="#occupancy-list" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-list"></i></a></li>
            <li role="presentation"><a href="#occupancy-chart" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-pie-chart"></i></a></li>
            <li role="presentation"><a href="#room-chart-occ" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i></a></li>
    </ul>
    
    <div class="pull-right form-style-dashboard-2">
        <div class="row">
            <div class="col-md-1">
                <span class="occupancy-ckbox">
                    <input type="checkbox" [ngModel]="isType" value="true" (ngModelChange)="switchMode($event)" />
                </span>
            </div>

            <div class="col-md-5">
                <span>
                    <label>Type</label>
                    <select (change)="changeLocationType($event)">
                        <option value=''>All</option>
                        <option *ngFor="let item of dataLocatype" [selected]="item.loc_type_id == curType" [value]="item.loc_type_id">
                            {{item.loc_type_name}}
                        </option>
                    </select>
                </span>
            </div>

            <div class="col-md-6">
                <span>
                    <label>Customer</label>
                    <select (change)="changeCustomer($event)">
                        <option value=''>All</option>
                        <option *ngFor="let cus of arrCustomer" [value]="cus.cus_id">
                            {{cus.cus_name}}
                        </option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</h3>
<div class="dashboard-detail tab-content">
    <div role="tabpanel" class="tab-pane active" id="occupancy-list">
        <div class="table-style-dashboard table-style-dashboard2">
            <table class="table-dashboard table">
                <tbody *ngIf="!isType">
                    <tr class="total">
                        <td>Total Locations</td>
                        <td>{{listOccupancyPCT['total_loc'] | wmsNumberFormatter}}</td>
                        <td>{{listOccupancyPCT['total_loc'] == '0' ? '0.00%' : '100%'}}</td>
                    </tr>
                    <tr>
                        <td>Available Locations</td>
                        <td>{{listOccupancyPCT['avail_loc'] | wmsNumberFormatter}}</td>
                        <td>{{listOccupancyPCT['percent_avail_loc'] | number : '1.2-2'}}%</td>
                    </tr>
                    <tr>
                        <td>Locked Locations</td>
                        <td>{{listOccupancyPCT['locked_loc'] | wmsNumberFormatter}}</td>
                        <td>{{listOccupancyPCT['percent_locked_loc'] | number : '1.2-2'}}%</td>
                    </tr>
                    <tr>
                        <td>Inactive Locations</td>
                        <td>{{listOccupancyPCT['inactive_loc'] | wmsNumberFormatter}}</td>
                        <td>{{listOccupancyPCT['percent_inactive_loc'] | number : '1.2-2'}}%</td>
                    </tr>
                    <tr>
                        <td>Occupied Locations</td>
                        <td>{{listOccupancyPCT['total_pallet'] | wmsNumberFormatter}}</td>
                        <td>{{listOccupancyPCT['percent_total_pallet'] | number : '1.2-2'}}%</td>
                    </tr>
                    <tr>
                        <td>Un-zone Locations</td>
                        <td>{{listOccupancyPCT['unzone_loc'] | wmsNumberFormatter}}</td>
                        <td>{{listOccupancyPCT['percent_unzone_loc'] | number : '1.2-2'}}%</td>
                    </tr>
                </tbody>
                <tbody *ngIf="isType">
                    <tr class="total">
                        <td>Total Locations</td>
                        <td>{{total | wmsNumberFormatter}}</td>
                        <td>{{total == 0 ? '0.00%' : '100%'}}</td>
                    </tr>
                    <tr *ngFor="let item of listOccupancyPCTStatus">
                        <td>{{item['loc_type_name']}}</td>
                        <td>{{item['quantity'] | wmsNumberFormatter}}</td>
                        <td>{{item['percent'] | number : '1.2-2'}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="occupancy-chart">
        <div class="row">
            <div class="col-md-12">
                <canvas id="occupancy-chart-wrapper"></canvas>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="room-chart-occ">
        <div class="row">
            <div class="col-md-12">
                <canvas id="chart-occ"></canvas>
            </div>
        </div>
    </div>
</div>