<div class="top-layout clearfix">
  <h2>Putaway Update</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <!--<div *ngIf="messages" class="col-md-12">
      <div class="alert alert-{{messages.status}}">
          <span [innerHTML]="messages.txt"></span>
      </div>
  </div>-->
  <wms-messages [messages]="messages"></wms-messages>
  <form class="form-horizontal form-style" (submit)="submitForm()">
    <div class="area-block clearfix">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Status</label>
            <input type="text" class="form-control" value="{{dataReturnOrderDetail?.return_sts_name}}" readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Put Back Number</label>
            <input type="text" class="form-control" value="{{dataReturnOrderDetail?.return_num}}" readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Customer</label>
            <input type="text" class="form-control" value="{{dataReturnOrderDetail.cus_name}}" readonly>
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group">
            <label class=""># of SKUs</label>
            <input type="text" class="form-control" value="{{dataReturnOrderDetail.num_of_sku}}" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label class="">Put Back QTY</label>
            <input type="text" class="form-control" value="{{dataReturnOrderDetail.return_qty}}" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="table-style3 table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th title="Item ID" class="nowrap">Item ID</th>
          <th title="Status" class="nowrap">Status</th>
          <th title="Stock Keeping Unit/Style" class="nowrap">SKU</th>
          <th title="Size" class="nowrap">Size</th>
          <th title="Color">Color</th>
          <th title="Lot">Lot</th>
          <th title="Original CTNS">CTNS</th>
          <!--<th title="New CTNS">New Pallet</th>-->
          <th title="Pallet ID">Pallet ID</th>
          <th>Suggested Location</th>
          <th>Actual Location</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let item of dataReturnOrderDetail.details | paginate: {id :'putawayUpdate', itemsPerPage: 20, currentPage:currentPagePutaway };" id="{{item.plt_id}}">
          <td>{{item.item_id}}</td>
          <td>{{item.status}}</td>
          <td>{{item.sku}}</td>
          <td>{{item.size}}</td>
          <td>{{item.color}}</td>
          <td>{{item.lot}}</td>
          <td>{{item.ctn_ttl}}</td>
          <!--<td>Yes</td>-->
          <td>{{item.plt_num}}</td>
          <td class="nowrap">
            <div class="checkbox" [class.error-style]="item.checked && item.notExist">
              <label>
                <input (change)="toggleActualLocation(item)" type="checkbox" [(ngModel)]="item.checked" [disabled]="item.disable_checkbox || !isHideButton">{{item.suggested_loc_code}}
              </label>
              <p *ngIf="item.checked && item.notExist" class="error">
                {{item.notExistMsg}}
              </p>
            </div>
          </td>
          <td>
            <div class="form-group" [class.error-style]="(item.listAutocompleteLocation && !item.listAutocompleteLocation.length && !item.checked || item.hasErrRequired || item.notExist && item.actual_loc_code != '' || item.duplicated)">
              <input style="min-width:125px;" type="text" class="form-control" [disabled]="item.checked || !isHideButton" [(ngModel)]="item.actual_loc_code"  (keyup)="autoSearchLocation(item, $event.target.value)" (focus)="showDropdown(item, $event)" (blur)="hideDropDown(item, $event)">
              <ul class="dropdown-menu autocomplete no-min-width">
                <span class="icon-loading-search-complete" *ngIf="item.searching"><img src="/assets/images/loading.gif"></span>
                <li (click)="selectItem(item, loc.loc_id, loc.loc_code, $event)" *ngFor="let loc of item.listAutocompleteLocation" value="{{loc.loc_id}}">{{loc.loc_code}}</li>
              </ul>
              <p *ngIf="item.hasErrRequired" class="error">
                Location is required.
              </p>
              <p *ngIf="!item.hasErrRequired && (item.listAutocompleteLocation && !item.listAutocompleteLocation.length && !item.checked || item.notExist && item.actual_loc_code != '')" class="error">
                {{item.notExistMsg}}
              </p>
              <p *ngIf="!item.checked && !item.notExist && item.duplicated" class="error">
                Location is duplicated.
              </p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="dataReturnOrderDetail.details&&!dataReturnOrderDetail.details.length&&!isLoadingGRItem">No Results Found.</span>
    </div>
    <div class="clearfix">
      <pagination-controls
        (pageChange)="currentPagePutaway = $event" id="putawayUpdate" autoHide="true">
      </pagination-controls>
    </div>
    <div class="button pull-right">
      <button type="button" class="btn btn-default" (click)="cancel()"><i class="icon-close"></i>Cancel</button>
      <button type="submit" class="btn btn-primary" *ngIf="isHideButton"><i class="icon-check"></i>Save</button>
    </div>
    <div style="margin-bottom: 150px"></div>
  </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>


