<table-block>
    <div class="table">

        <page-size
            *ngIf="! parentComponent.hasOwnProperty('skipPageSize')
                || ! parentComponent.skipPageSize"
            [parentComponent]="parentComponent">

        </page-size>

        <advance-table [tableID]="tableID"
            [headerURL]="headerURL"
            [headerDef]="headerDef"
            [pinCols]="pinCols"
            [rowData]="rowData"
            [getSelectedRow]="getSelectedRow"
            (sort)="doSort($event)"
            (returnSelectedRow)="afterGetSelectedRow($event)"
            (cellValueChanged)="onCellValueChanged($event)"
            (cellClicked)="onCellClicked($event)">

        </advance-table>

        <table-pagination *ngIf="! parentComponent.hasOwnProperty('skipPagination')
                || ! parentComponent.skipPagination"
            [parentComponent]="parentComponent"
            [rowData]="rowData"
            [Pagination]="Pagination"
            [perPage]="perPage">

        </table-pagination>

        <table-export
            *ngIf="parentComponent.hasOwnProperty('useExport')
                && parentComponent.useExport"
            [parentComponent]="parentComponent"
            [headerDef]="headerDef"
            [rowData]="rowData"
            [dataExport]="dataExport"
            [downloadName]="downloadName">

        </table-export>
    </div>
</table-block>