<div class="top-layout clearfix">
  <h2>Picking Update</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<wms-messages [messages]="messages"></wms-messages>
<div class="layout-block clearfix" *ngIf="allowAccess">
  <form class="form-horizontal form-style" id="form">
    <div class="area-block clearfix">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Wave Number</label>
            <input tabindex="1" type="text" maxlength="64" class="form-control" readonly value="{{waveNumber}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="">Order Number</label>
            <div class="form-inline">
            <span tabindex="1"class="form-control height-auto" disabled>{{orderNumbers}}</span>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="form-group">
                <label class="">Customer Name</label>
                <input tabindex="1" type="text" maxlength="64" class="form-control" disabled value="{{customerName}}">
            </div>
        </div> -->

      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tabAsn" (click)="showAutoAssignToOrder=false">Items</a></li>
      <li><a data-toggle="tab" *ngIf="action == 'view'" href="#tabEventTracking" (click)="showAutoAssignToOrder=false">Event Tracking</a></li>
      <li>
        <a data-toggle="tab" *ngIf="action == 'view'" href="#RFIDUnassigned" (click)="showAutoAssignToOrder=true">
          RFID Unassigned Carton <span *ngIf="showWarningIconRFID" class="txt-required"><i class="fa fa-warning"></i></span>
        </a>
      </li>
      <li>
        <a data-toggle="tab" *ngIf="action == 'view'" href="#NRFIDUnassigned" (click)="showAutoAssignToOrder=false">
          None-RFID Unassigned Carton <span *ngIf="showWarningIconNoneRFID" class="txt-required"><i class="fa fa-warning"></i></span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="clearfix tab-pane fade active in" id="tabAsn">
        <div class="table-style2 table-responsive">
          <table class="table table-bordered small-padding-table">
            <thead>
            <tr>
              <th>#</th>
              <th>Status</th>
              <th>Item ID</th>
              <th>UPC</th>
              <th>SKU</th>
              <th>Color</th>
              <th>Size</th>
              <th>Lot</th>
              <th>Packsize</th>
              <th>Allocated QTY</th>
              <th>Allocated CTNS</th>
              <th>UOM</th>
              <th>Suggest Location(s)</th>
              <th>Actual QTY</th>
              <th>Actual CTNS</th>
            </tr>
            </thead>
            <tbody>
            <tr [class.bg-warning]="item?.invalid_qty&&item?.wv_dtl_sts!=='New'" *ngFor = "let item of dataWavepickItems; let i = index">
              <td class="disabled">{{item.wv_dtl_id}}</td>
              <td class="disabled">{{item.wv_dtl_sts}}</td>
              <td class="disabled">{{item.itm_id}}</td>
              <td class="disabled">{{item.cus_upc}}</td>
              <td class="disabled">{{item.sku}}</td>
              <td class="disabled">{{item.color}}</td>
              <td class="disabled">{{item.size}}</td>
              <td class="disabled">{{item.lot}}</td>
              <td class="disabled">{{item.pack_size}}</td>
              <td class="disabled">{{item.piece_qty}}</td>
              <td class="disabled">{{item.ctn_qty}}</td>
              <td class="disabled">{{item.uom_name}}</td>

              <td class="width150" [class.disabled]="action=='view'">
                <div class="form-group">
                  <a *ngIf="item?.wv_dtl_sts=='Picking' || item?.wv_dtl_sts=='Picked' || item?.wv_dtl_sts=='Completed'"  data-toggle="modal" (click)="getSuggestLocation(item,'view')" data-target="#popupWavePick">View {{item?.act_loc?.length}}</a>
                  <a *ngIf="action=='edit'&&item?.wv_dtl_sts=='New'"  data-toggle="modal" (click)="getSuggestLocation(item,'new')" data-target="#popupWavePick">Update {{item?.act_loc?.length}}</a>
                </div>
              </td>


              <td class="width120">
                <div class="form-group" [class.error-style]="item.hasErrGreater || item.hasErrRequiredQTY">
                  <input tabindex="1" readonly="readonly" type="text" maxlength="8" class="form-control" value={{item.act_piece_qty}}/>
                  <!-- <p *ngIf="item.hasErrRequiredQTY" class="error">
                       Actual QTY is required.
                   </p>-->
                  <p *ngIf="item.hasErrGreater" class="error">
                    Actual pick quantity must be equal to or less than allocated quantity!
                  </p>
                  <p *ngIf="item.hasErrRequiredQTY" class="error">
                    Actual pick quantity is required.
                  </p>
                </div>
              </td>
              <td class="width120">
                <input tabindex="1" readonly="readonly" type="text" maxlength="8" class="form-control" value={{item.act_piece_ctns}}/>
              </td>
            </tr>
            <tr *ngIf="dataWavepickItems&&dataWavepickItems.length > 0">
              <td colspan="9" class="padding-tb-8"><div class="pull-right">Summary &nbsp;</div></td>
              <td><strong class="strong-break">{{countValue.piece_qty}}</strong></td>
              <td><strong class="strong-break">{{countValue.ctn_qty}}</strong></td>
              <td></td>
              <td></td>
              <td><strong class="strong-break">{{countValue.act_piece_qty}}</strong></td>
              <td><strong class="strong-break">{{countValue.act_piece_ctns}}</strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix tab-pane fade" id="tabEventTracking" *ngIf="action == 'view'">
        <event-tracking-direcitve [owner]="waveNumber"></event-tracking-direcitve>
      </div>
      <div *ngIf="action == 'view'" class="clearfix tab-pane fade table" id="RFIDUnassigned">
        <rfid-unsigned-carton [rfid]="'1'" [wv_id]="wv_id" (autoAssign)="validAutoAssignToOrder=$event" (warning)="showWarningIconRFID=$event">
        </rfid-unsigned-carton>
      </div>
      <div *ngIf="action == 'view'" class="clearfix tab-pane fade table" id="NRFIDUnassigned">
        <rfid-unsigned-carton [rfid]="''" [wv_id]="wv_id" (warning)="showWarningIconNoneRFID=$event">
        </rfid-unsigned-carton>
      </div>
    </div>
    <div class="button pull-right clearfix">
      <button *ngIf="action != 'view'" type="button" class="btn btn-default" (click)="cancel()" tabindex="3"><i class="icon-close"></i>Cancel
      </button>
      <button *ngIf="action != 'view'" type="submit" [disabled]="!validForm" (click)="submitForm()" class="btn btn-primary" tabindex="2"><i class="icon-check"></i>Update
      </button>
      <button *ngIf="action == 'view' && showAutoAssignToOrder && validAutoAssignToOrder" type="button" class="btn btn-default" (click)="autoAssignToOrder()">
        <i class="icon-plus"></i> Auto Assign To Order
      </button>
    </div>
  </form>
  <goBack *ngIf="action=='view'"></goBack>
  <div class="pull-right">
      <button type="button" (click)="printWavePick(dataWavepickItems[0].wv_id, waveNumber)">
        <i class="icon-printer">
        </i>Download Wavepick</button>
  </div>
  <!--
    fORM POPUP
  -->
  <div id="popupWavePick" data-backdrop="static" class="modal fade" role="dialog">
    <form  *ngIf="WavePickPopupForm" class="form-horizontal form-style" [ngFormModel]="WavePickPopupForm"
           (ngSubmit)="reCheckLocStatus()" novalidate>
      <div class="modal-dialog modal-lg modal-style-default">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{_popup_sts=='new' ? 'Picking Update' : 'Picked'}}</h4>
          </div>
          <div class="modal-body">

            <wms-messages [messages]="messages_popup"></wms-messages>
<div class="table-style1">
  <table class="table table-bordered editable small-padding-table">
              <thead>
              <tr>
                <th>Item ID</th>
                <th>SKU</th>
                <th>Color</th>
                <th>Size</th>
                <th>Lot</th>
                <th>Packsize</th>
                <th>QTY</th>
                <th>UOM</th>
                <th># of Loc</th>
                <th>Actual QTY</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="disabled">{{currentItem.itm_id}}</td>
                <td class="disabled">{{currentItem.sku}}</td>
                <td class="disabled">{{currentItem.color}}</td>
                <td class="disabled">{{currentItem.size}}</td>
                <td class="disabled">{{currentItem.lot}}</td>
                <td class="disabled">{{currentItem.pack_size}}</td>
                <td class="disabled">{{currentItem.piece_qty}}</td>
                <td class="disabled">{{currentItem.uom_name}}</td>

                <td  class="disabled">
                  {{items?.length}}
                </td>

                <td class="disabled">
                   {{total_pic_qty}}
                </td>

              </tr>
              </tbody>
            </table>
</div>
            <div class="table-style1 margin-top relativebox">
            <table class="table table-bordered editable small-padding-table">
              <thead>
              <tr>
              <th *ngIf="_popup_sts=='new'" class="text-center" style="padding-left: 15px !important;"><i class="fa fa-cog no-margin"></i></th>
              <th  *ngIf="_popup_sts=='new'">Suggested Location</th>
              <th>Actual Location</th>
              <th>LPN</th>
              <th  *ngIf="_popup_sts=='new'">Avai QTY</th>
              <th>Picked QTY <span class="txt-required">(*)</span></th>
              </tr>
              </thead>
              <tbody ngControlGroup="data">
                <tr *ngFor="let item of items;let i=index" ngControlGroup="{{i}}">
                  <td *ngIf="_popup_sts=='new'" class="text-center">
                    <a (click)="removeLoc(i)"><i class="fa fa-close no-margin"></i></a>
                  </td>
                  <td *ngIf="_popup_sts=='new'"><input type="text" readonly class="form-control" ngControl="loc_code"></td>
                  <td  class="autocomplete-style width200">

                    <div class="control-group" [class.error-style]="(Act_loc.control.touched||_submitForm)&&(Act_loc.control.errors)||Act_loc.control.inactived">
                      <input placeholder="Auto Complete"
                             #Act_loc="ngForm"
                             [ngModel]="item.value.act_loc"
                             (ngModelChange)="autoComplete(i,$event,'act_loc')"
                             ngControl="act_loc"
                             [disabled]="_popup_sts!=='new'"
                             class="form-control dropdown-toggle"
                             type="text"
                             data-toggle="dropdown"/>

                      <ul class="dropdown-menu autocomplete" *ngIf="Act_loc.value">
                                <span class="icon-loading-search-complete" *ngIf="item['showLoading']"><img
                                        src="/assets/images/loading.gif"></span>

                        <li *ngFor="let itm of autoSearchData[i]" (click)="selectedItem('act_loc',i,itm)">
                          {{itm.loc_code}}
                        </li>
                      </ul>
                      <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('required')"
                         class="error">
                        Location is required.
                      </p>
                      <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('invalid')"
                         class="error">
                        Location is not existed or does not store requested item
                      </p>
                      <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('loc_status_is_locked')"
                         class="error">
                        Location is Locked.
                      </p>
                      <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('loc_status_is_locked_cycle')"
                         class="error">
                        Location is Cycle Locked.
                      </p>
                      <p *ngIf="(Act_loc.control.touched||_submitForm)&&Act_loc.control.hasError('duplicated')"
                         class="error">
                        Location is duplicated.
                      </p>
                      <p *ngIf="Act_loc.control.hasError('inactived')"
                         class="error">
                        Location is Inactive.
                      </p>

                      <p *ngIf="Act_loc.control.hasError('errors_from_api_check')"
                         class="error">
                        {{Act_loc.control?.errorsMessages}}
                      </p>

                    </div>

                  </td>
                  <td class="width200">
                    <select type="text" class="form-control" ngControl="lpns" *ngIf="_popup_sts=='new'" disabled>
                      <option *ngFor="let lpn of lpns[i]" [value]="lpn">{{lpn}}</option>
                    </select>
                    <span *ngIf="_popup_sts!=='new'">
                      <input type="text" [value]="suggestLocation[i].lpn ? suggestLocation[i].lpn : ''" class="form-control" disabled />
                    </span>
                  </td>
                  <td class="width100" *ngIf="_popup_sts=='new'">
                    <div class="form-group" [class.error-style]="Avail_qty.control.errors">
                    <input type="text" #Avail_qty="ngForm" readonly class="form-control" ngControl="avail_qty">
                    <p *ngIf="Avail_qty.control.hasError('isZero')" class="error">
                      Avai QTY must be greater than 0
                    </p>
                    </div>
                  </td>
                  <td class="width120">
                    <div  [class.error-style]="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.errors">
                    <input type="text" (keypress)="checkInputNumber($event)" [disabled]="!item.value.avail_qty||_popup_sts!=='new'" #Picked_qty="ngForm" ngControl="picked_qty" (keyup)="changePickQty(item,$event,i)" class="form-control">
                    <p *ngIf="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.hasError('required')" class="error">
                      Picked QTY is required.
                    </p>
                    <p *ngIf="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.hasError('invalidPick')" class="error">
                      Picked QTY must be smaller or equal than Avai Qty.
                    </p>
                      <p *ngIf="(Picked_qty.control.touched||_submitForm)&&Picked_qty.control.hasError('isZero')" class="error">
                        Picked QTY must be greater than 0
                      </p>
                    </div>
                  </td>
                </tr>
              <tr>
                <td style="padding-left: 18px !important;cursor: default;" *ngIf="_popup_sts=='new'" class="add-more" colspan="6">
                          <span (click)="addMoreSuggestLoc()" class="button-add"><i
                                  class="fa  fa-plus-circle" tabindex="25"></i></span>
                </td>
              </tr>
              </tbody>
            </table>
            </div>

            <div *ngIf="!showLoadingOverlay&&!itemsArray.length" class="alert alert-warning">
              No Results Found.
            </div>

            <wms2-progressBar
                    [progressValue]="itemsArray.copyProgress"
                    [progressText]="itemsArray.copyProgress + ' % ' "
            ></wms2-progressBar>

          </div>
          <div class="modal-footer">
            <div class="pull-right">
              <button type="button"  class="btn btn-default" data-dismiss="modal"><i class="icon-close"></i>Close</button>
              <button [disabled]="!items.length" *ngIf="action=='edit'&&_popup_sts=='new'" type="submit" class="btn btn-primary">Agree</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>


</div>



<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
