<div class="top-layout clearfix">
    <h2>Pallet Assignment</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="col-md-6">
        <form class="form-horizontal form-style">
            <div class="form-style">
                <div class="panel-group panel-style">
                    <div class="panel-title-top clearfix">Order Number ( Total/ Assigned Cartons)
                        <div class="input-group pull-right">
                            <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                               class="dropdown-toggle"
                               type="button"><i class="icon-settings"></i>Action <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a (click)="deleteSelectedItem()"><i class="icon-trash"></i>Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default" *ngFor="let order of listOrders">
                        <div class="panel-heading">
                            <h4><i class="icon-arrow-right-circle"></i><strong>{{order.odr_num}} ({{order.total}}/{{order.assigned}})</strong></h4>
                        </div>
                        <div class="panel-collapse collapse in" *ngFor="let carton of order.cartons">
                            <div class="panel-body non-border">
                                <h5><i class="icon-options"></i>Total / assigned cartons: {{carton.total}}/{{carton.assigned}}</h5>
                                <div class="table-style2">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>SKU</th>
                                            <th>Size</th>
                                            <th>Color</th>
                                            <th>Lot</th>
                                            <th title="Piece QTY">Piece QTY</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of carton.items">
                                            <td>{{item.sku}}</td>
                                            <td>{{item.size}}</td>
                                            <td>{{item.color}}</td>
                                            <td>{{item.lot}}</td>
                                            <td>{{item.piece_qty}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <div class="table-style3">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th class="column-checkbox"><input type="checkbox" [(ngModel)]="carton.checkAll" (ngModelChange)="checkAll($event, carton.pallet_carton)"/></th>
                                                            <th>Number Cartons Per Pallet</th>
                                                            <th>Number of Pallets</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let pallet_carton of carton.pallet_carton; let i = index">
                                                            <th class="column-checkbox"><input type="checkbox" [(ngModel)]="pallet_carton.checked" (ngModelChange)="checkCheckAll(carton, carton.pallet_carton)"/></th>
                                                            <td>
                                                                <div class="form-group pallet-assign-item" [class.error-style]="pallet_carton.cartonHasErrRequired || pallet_carton.cartonHasErrInt || pallet_carton.cartonHasErrZero || pallet_carton.cartonHasErrEqual">
                                                                    <input maxlength="8" type="text" class="form-control" value="{{pallet_carton.carton_num}}" name="carton"
                                                                           (keypress)="checkInputNumber($event)"
                                                                           (input)="formatValue($event.target.name, $event.target.value, pallet_carton, carton); setPalletNum(carton, i)"
                                                                           (blur)="formatValue($event.target.name, $event.target.value, pallet_carton, carton)">
                                                                    <p *ngIf="pallet_carton.cartonHasErrRequired" class="error">
                                                                        Number Cartons Per Pallet is required
                                                                    <p>
                                                                    <p *ngIf="pallet_carton.cartonHasErrInt" class="error">
                                                                        Number Cartons Per Pallet must be integer
                                                                    <p>
                                                                    <p *ngIf="pallet_carton.cartonHasErrZero" class="error">
                                                                        Number Cartons Per Pallet must be greater than 0
                                                                    <p>
                                                                    <p *ngIf="!pallet_carton.cartonHasErrRequired && !pallet_carton.cartonHasErrInt && !pallet_carton.cartonHasErrZero && pallet_carton.cartonHasErrEqual" class="error">
                                                                        Assigned Cartons must be equal Total
                                                                    <p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group pallet-assign-item" [class.error-style]="pallet_carton.palletHasErrRequired || pallet_carton.palletHasErrInt || pallet_carton.palletHasErrZero || pallet_carton.palletHasErrEqual">
                                                                    <input maxlength="8" type="text" class="form-control" value="{{pallet_carton.pallet_num}}" name="pallet"
                                                                    (keypress)="checkInputNumber($event)"
                                                                    (input)="formatValue($event.target.name, $event.target.value, pallet_carton, carton)"
                                                                    (blur)="formatValue($event.target.name, $event.target.value, pallet_carton, carton)">
                                                                    <p *ngIf="pallet_carton.palletHasErrRequired" class="error">
                                                                        Number of Pallets is required
                                                                    <p>
                                                                    <p *ngIf="pallet_carton.palletHasErrInt" class="error">
                                                                        Number of Pallets must be integer
                                                                    <p>
                                                                    <p *ngIf="pallet_carton.palletHasErrZero" class="error">
                                                                        Number of Pallets must be greater than 0
                                                                    <p>
                                                                    <p *ngIf="!pallet_carton.palletHasErrRequired && !pallet_carton.palletHasErrInt && !pallet_carton.palletHasErrZero && pallet_carton.palletHasErrEqual" class="error">
                                                                        Assigned Cartons must be equal Total
                                                                    <p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="add-more" (click)="addMorePallet(carton, carton.pallet_carton)"><i class="fa fa-plus-circle"></i></td>
                                                            <td colspan="2"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button pull-right">
                <button type="button" class="btn btn-default" (click)="cancel()" tabindex="3"><i class="icon-close"></i>Cancel
                </button>
              <!--<button type="button" class="btn btn-default" (click)="printCartonLabel()">
                Print Carton Labels
              </button>-->
                <button type="button" class="btn btn-default" (click)="save(true)">
                    <i class="icon-printer"></i> Save & Print LPN's
                </button>
                <!--<button type="button" class="btn btn-primary" (click)="save()"><i class="icon-check"></i>Save</button>-->
            </div>
        </form>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
