<div class="top-layout clearfix">
    <h2 class="title-asn">{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block asn">
    <wms-messages [messages]="messages"></wms-messages>
    <form *ngIf="ASNForm&&showForm" class="form-horizontal form-style" [ngFormModel]="ASNForm"
          (ngSubmit)="Save(ASNForm,false)" novalidate>

        <div class="area-block clearfix">

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group"
                         [class.error-style]="(Cus.control.touched||submitForm)&&Cus.control.errors">
                        <label class="">Customer <span *ngIf="Action=='new'"  class="txt-required">(*)</span></label>
                        <select (change)="changeCustomer()" tabindex="1"
                                [disabled]="Action!=='new'"
                                class="form-control" ngControl="cus_id" #Cus="ngForm" required>
                            <option value="">Select one customer</option>
                            <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                            </option>
                        </select>
                        <p *ngIf="(Cus.control.touched||submitForm)&&Cus.control.errors"
                           class="error">
                            Customer Name is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="Action=='edit'">
                    <div class="form-group">
                        <label class="">ASN Number</label>
                        <input tabindex="5" type="text"
                               [disabled]="Action=='edit'"
                               ngControl="asn_hdr_num"
                               class="form-control" disabled>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group"
                         [class.error-style]="(Asn_ref.control.touched || submitForm ) &&  Asn_ref.control.errors">
                        <label class="">Ref Code</label>
                        <input tabindex="2"
                               #Asn_ref="ngForm"
                               [disabled]="!ASNForm.value['cus_id'] || saveMoreContainer || (ASNForm['value']['asn_sts'] != 'NW' && ASNForm['value']['asn_sts'] != 'RG')"
                               ngControl="asn_ref" type="text" maxlength="64" class="form-control">
                        <p *ngIf="(Asn_ref.control.touched || submitForm )&&Asn_ref.control.hasError('required')"
                           class="error">
                            Ref Code is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group"
                        [class.error-style]="(Asn_hdr_ept_dt.control.touched || submitForm) &&  Asn_hdr_ept_dt.control.errors">
                        <label>Expected Date</label>
                        <input tabindex="3"
                               #Asn_hdr_ept_dt="ngForm"
                               ngControl="exp_date"
                               data-date-today-highlight="1"
                               wms-datepicker
                               [disabled]="true"
                               type="text" class="form-control"
                               data-provide="datepicker"/>
                        <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                        <p *ngIf="(Asn_hdr_ept_dt.control.touched || submitForm )&&Asn_hdr_ept_dt.control.hasError('required')"
                           class="error">
                            Expected Date is required
                        </p>
                    </div>
                </div>

                <div class="col-md-1" *ngIf="Action=='edit'">
                    <div class="form-group">
                        <label class=""># of SKUs</label>
                        <input type="text" class="form-control" disabled ngControl="asn_hdr_itm_ttl">
                    </div>
                </div>

                <!-- <div class="col-md-1" *ngIf="Action=='edit'">
                    <div class="form-group">
                        <label class=""># of CTNRs</label>
                        <input type="text" class="form-control" disabled value="{{dataListContainersByASN.length}}">
                    </div>
                </div> -->

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="">Status</label>
                        <select tabindex="6" class="form-control" placeholder="" required disabled>
                            <option selected>{{ASNForm['value']['asn_sts_name']}}</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="Action=='edit'" class="col-md-2">
                    <div class="form-group">
                        <label class="">Carrier</label>
                        <select
                                #ContainerSelect="ngForm"
                                tabindex="9" ngControl="ctnr_id_preview"
                                class="form-control"
                                [disabled] = "(Action == 'edit' && ASNForm.value['asn_sts'] == 'CC')"
                                (change)="changeCtnr($event)">
                            <option value="0">Choose one carrier</option>
                            <option *ngFor="let item of dataListContainersByASN" [value]="item.ctnr_id">{{item.ctnr_num}}
                            </option>
                        </select>
                    </div>
                </div>






            </div>




        </div>

        <div class="area-block clearfix">
            <div class="clearfix">
                <div class="col-md-3  auto-style" >
                    <div class="row">
                        <label class="pull-left margin-right">Carrier <span class="txt-required">(*) </span></label>
                        <div class="col-md-6">
                            <div class="form-group"
                                 [class.error-style]="(Ctnr_num.control.xtouched || submitForm ) && Ctnr_num.control.errors">

                                <div class="dropdown dropdown-autosearch">
                                    <input maxlength="50"
                                           tabindex="20"
                                           [disabled]="!ASNForm.value['cus_id'] || (Action == 'edit' && ASNForm.value['asn_sts'] == 'CC')"
                                           #Ctnr_num="ngForm"
                                           [ngModel]="ASNForm.controls['ctnr_num'].value"
                                           (ngModelChange)="autoCompleteContainer($event)"
                                           ngControl="ctnr_num"
                                           (blur)="asnForm.setTouched(Ctnr_num)"
                                           placeholder="Auto Complete"
                                           class="form-control dropdown-toggle"
                                           type="text" data-toggle="dropdown"/>
                                    <div tabindex="-1" class="dropdown-menu list-group"
                                         *ngIf="Ctnr_num.value">
                                        <a tabindex="-1" class="list-group-item"
                                           (click)="selectedContainer(ASNForm,ctn)"
                                           *ngFor="let ctn of containerAutoData">{{ctn.ctnr_num}}</a>
                                        <a tabindex="-1" *ngIf="Ctnr_num.control.newKey" class="list-group-item">New {{Ctnr_num.control.value}}</a>
                                    </div>

                                                    <span class="waiting" *ngIf="Ctnr_num.control?.showLoading"><img
                                                            src="/assets/images/loading.gif"></span>
                                </div>
                                <p *ngIf="(Ctnr_num.control.xtouched  || submitForm )&&Ctnr_num.control.hasError('required')"
                                   class="error">
                                   Carrier is required.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6  auto-style" >
                    <div class="row">
                        <label class="pull-left margin-right">Carrier Expected Date <span class="txt-required">(*) </span></label>
                        <div class="col-md-4">
                            <div class="form-group has-feedback"
                                [class.error-style]="(Asn_dtl_ept_dt.control.touched || submitForm ) &&  Asn_dtl_ept_dt.control.errors">
                                <input
                                    #Asn_dtl_ept_dt ="ngForm"
                                    ngControl="asn_dtl_ept_dt"
                                    data-date-today-highlight="1"
                                    wms-datepicker
                                    type="text" class="form-control"
                                    data-provide="datepicker"/>
                                <span class="icon-calendar form-control-feedback style-calendar" aria-hidden="true"></span>
                                <p *ngIf="(Asn_dtl_ept_dt.control.touched || submitForm)&&Asn_dtl_ept_dt.control.hasError('required')" class="error">
                                    Carrier Expected Date is required
                                </p>
                                <p *ngIf="(Asn_dtl_ept_dt.control.touched || submitForm)&&Asn_dtl_ept_dt.control.hasError('invalidDate')"
                                    class="error">
                                    Carrier Expected Date must be greater than or equal to current date
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="input-group pull-right margin-left">
                        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                class="btn btn-group dropdown-toggle"
                                type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a (click)="deleteItem(itemsArray)"><i class="icon-trash"></i>Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-style2" id="table-item-asn" ngControlGroup="details">

                <table class="table table-bordered editable small-padding-table" id="w-content-per">
                    <thead>
                    <tr>
                        <th class="column-checkbox"><input [disabled]="!items.length || disableHeader"
                                (ngModelChange)="fbdFun.CheckAll(itemsTable,$event)" [ngModel]="itemsTable.selectedAll" type="checkbox" />
                        </th>
                        <th *ngIf="Action=='edit'" title="Status">Status</th>
                        <th *ngIf="Action=='edit'" title="Goods Receipt #">Goods Receipt #</th>
                        <th title="Item ID">Item ID</th>
                        <th title="Universal Product Code">UPC</th>
                        <th title="Stock Keeping Unit/Style">SKU <span class="txt-required">(*)</span></th>
                        <th title="Size">Size</th>
                        <th title="Color">Color</th>
                        <th title="Lot">Lot</th>
                        <th title="Description">Description</th>
                        <th title="Unit of Measure">UOM <span class="txt-required">(*)</span></th>
                        <th title="Number of eaches">Pack Size <span class="txt-required">(*)</span></th>
                        <th title="Expected QTY">Exp QTY <span class="txt-required">(*)</span></th>
                        <th title="Purchase Order">PO <span class="txt-required">(*)</span></th>
                        <th title="Product Order Date">PO Date</th>
                        <th title="Expired Date">Expired Date</th>
                        <th title="Product Line">Product Line</th>
                        <th title="Campaign">Campaign</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of items;let i=index" ngControlGroup="{{i}}">
                        <td  width="25"><input [disabled]="item['value']['tmp_asn_dtl_sts_code'] != '' && item['value']['tmp_asn_dtl_sts_code'] != 'NW' && item['value']['tmp_asn_dtl_sts_code'] != null"
                                (change)="fbdFun.Selected(itemsTable,item,$event)"
                                [ngModel]="item.selected" type="checkbox" tabindex="20"></td>

                        <td *ngIf="Action=='edit'">
                            <div class="form-group">
                                <select [disabled] = "item['value']['tmp_asn_dtl_sts_code'] == 'CC' || item['value']['tmp_asn_dtl_sts_code'] == 'RE'" ngControl="asn_dtl_sts_code" *ngIf = "item['value']['asn_dtl_sts']" class="form-control" tabindex="5">
                                    <option *ngIf = "item['value']['tmp_asn_dtl_sts_code'] != 'CC' && item['value']['tmp_asn_dtl_sts_code'] != 'RE'" value="{{item['value']['tmp_asn_dtl_sts_code']}}">{{item['value']['asn_dtl_sts']}}</option>
                                    <option *ngFor="let itemSts of asnStatus" [class.hidden] = "itemSts['asn_sts'] != 'CC'" value="{{itemSts.asn_sts}}">{{itemSts.asn_sts_name|uppercase}}</option>
                                </select>
                                <input *ngIf = "!item['value']['asn_dtl_sts']" title="{{item['value']['asn_dtl_sts'] ? item['value']['asn_dtl_sts'] : ''}}" value="{{item['value']['asn_dtl_sts'] ? item['value']['asn_dtl_sts'] : ''}}" class="form-control" type="text" disabled />
                            </div>
                        </td>

                        <td *ngIf="Action=='edit'">
                            <div class="form-group">
                                <input tabindex="9" readonly ngControl="gr_hdr_num"   type="text" class="form-control"/>
                            </div>
                        </td>

                        <td class="width70">
                            <div class="form-group">
                                <input tabindex="9" [disabled]="true"ngControl="dtl_itm_id"
                                       maxlength="50" type="text" class="form-control"/>
                            </div>
                        </td>
                        <td class="width170">

                            <div class="control-group"
                                 [class.error-style]="upc.control.errors">
                                <input tabindex="9"
                                       readonly
                                       #upc="ngForm"
                                       ngControl="asn_dtl_cus_upc"
                                       maxlength="12" type="text" class="form-control"/>
                                <p *ngIf="upc.control.hasError('invaild_UPC_code')"
                                   class="error">
                                    UPC is invalid.
                                </p>

                            </div>
                        </td>
                        <td class="autocomplete-style width170">
                            <div class="border-transitions checking"
                                 [class.active-check]="Dtl_sku.control.touched&&Dtl_sku.control.checking">
                                <div class="control-group"
                                     [class.error-style]="(Dtl_sku.control.touched || submitForm ) &&  Dtl_sku.control.errors ">
                                    <span class="waiting" *ngIf="item['showLoading']"><img
                                            src="/assets/images/loading.gif"></span>

                                    <div class="dropdown dropdown-autosearch">
                                        <input maxlength="50"
                                               tabindex="20"
                                               [disabled]="!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                               #Dtl_sku="ngForm"
                                               placeholder="Autocomplete..."
                                               [ngModel]="item.value.dtl_sku"
                                               (ngModelChange)="autoComplete(item,$event,'sku');"
                                               ngControl="dtl_sku"
                                               class="form-control dropdown-toggle"
                                               type="text" data-toggle="dropdown"/>

                                        <div  tabindex="-1" class="dropdown-menu list-group list-table">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th width="20%">SKU</th>
                                                    <th width="10%">Size</th>
                                                    <th width="15%">Color</th>
                                                    <th width="15%">Pack Size</th>
                                                    <th class="nowrap" width="40%">Description</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let sku of autoSearchData" (click)="selectedItem(item,sku)">
                                                    <td><a>{{sku.sku}}</a></td>
                                                    <td><a>{{sku.size}}</a></td>
                                                    <td><a>{{sku.color}}</a></td>
                                                    <td><a>{{sku.pack}}</a></td>
                                                    <td><a>{{sku.description}}</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <p *ngIf="(Dtl_sku.control.touched || submitForm )&&Dtl_sku.control.hasError('required')"
                                       class="error">
                                        Sku is required.
                                    </p>
                                    <p *ngIf="(Dtl_sku.control.touched || submitForm )&&Dtl_sku.control.hasError('invaildValue')"
                                       class="error">
                                        Sku is not existed.
                                    </p>
                                    <p *ngIf="(Dtl_sku.control.touched || submitForm )&&Dtl_sku.control.hasError('duplicated')"
                                       class="error">
                                        SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                    </p>
                                </div>
                            </div>
                        </td>



                        <td class="width70">
                            <div class="control-group"
                                 [class.error-style]="(Dtl_size.control.touched || submitForm ) && Dtl_size.control.errors">

                                <input tabindex="9" #Dtl_size="ngForm"
                                       readonly
                                       ngControl="dtl_size"
                                       maxlength="30" type="text"
                                       class="form-control"/>

                                <p *ngIf="(Dtl_size.control.touched || submitForm )&&Dtl_size.control.hasError('required')"
                                   class="error">
                                    Size is required.
                                </p>

                                <p *ngIf="(Dtl_size.control.touched || submitForm )&&Dtl_size.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                            </div>
                        </td>
                        <td class="width70">
                            <div class="control-group"
                                 [class.error-style]="(Dtl_color.control.touched || submitForm ) && Dtl_color.control.errors">
                                <input tabindex="9"
                                       #Dtl_color="ngForm"
                                       readonly
                                       ngControl="dtl_color"
                                       maxlength="30" type="text"
                                       class="form-control"/>

                                <p *ngIf="(Dtl_color.control.touched || submitForm )&&Dtl_color.control.hasError('required')"
                                   class="error">
                                    Color is required.
                                </p>

                                <p *ngIf="(Dtl_color.control.touched || submitForm )&&Dtl_color.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                            </div>
                        </td>

                        <td class="width100">
                            <div class="control-group"
                                 [class.error-style]="(Dtl_lot.control.touched || submitForm ) && Dtl_lot.control.errors">
                                <input tabindex="9"
                                       #Dtl_lot="ngForm"
                                       readonly
                                       ngControl="dtl_lot"
                                       type="text" maxlength="50" class="form-control"/>

                                <p *ngIf="(Dtl_lot.control.touched || submitForm )&&Dtl_lot.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                                <p *ngIf="(Dtl_lot.control.touched || submitForm )&&Dtl_lot.control.hasError('invalidEco')"
                                   class="error">
                                    Lot is invalid.
                                </p>

                            </div>

                        </td>

                        <td class="width100">
                            <div class="control-group">
                                <input tabindex="9"
                                       [disabled]="!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                       ngControl="dtl_des"
                                       type="text" class="form-control"/>
                            </div>

                        </td>

                        <td class="width100">
                            <div class="control-group"
                                 [class.error-style]="(Dtl_uom_name.control.touched || submitForm ) && Dtl_uom_name.control.errors">

                                <select tabindex="9"
                                        [disabled]="dataListUoms.length > 0 || (!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')) "
                                        #Dtl_uom_name="ngForm"
                                        ngControl="dtl_uom_id"
                                        class="form-control">
                                    <option value=""></option>
                                    <option *ngFor="let itm of dataListUoms" [value]="itm.sys_uom_id">
                                        {{itm.sys_uom_name}}
                                    </option>
                                </select>

                                <p *ngIf="(Dtl_uom_name.control.touched || submitForm )&&Dtl_uom_name.control.hasError('required')"
                                   class="error">
                                    UOM is required.
                                </p>



                            </div>
                        </td>




                        <td class="width70">
                            <div class="form-group"  [class.error-style]="(dtl_uom_pack.control.touched || submitForm ) && dtl_uom_pack.control.errors">
                                <input tabindex="9"
                                       maxlength="8"
                                       readonly
                                       (keypress)="checkInputNumber($event,true)"
                                       #dtl_uom_pack="ngForm"
                                        ngControl="dtl_pack"
                                       type="text" class="form-control" />

                                <p *ngIf="(dtl_uom_pack.control.touched || submitForm )&&dtl_uom_pack.control.hasError('required')"
                                   class="error">
                                    Pack Size is required.
                                </p>

                                <p *ngIf="(dtl_uom_pack.control.touched || submitForm )&&dtl_uom_pack.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                            </div>
                        </td>
                        <td class="width70">
                            <div class="form-group"  [class.error-style]="(Dtl_ctn_ttl.control.touched || submitForm ) && Dtl_ctn_ttl.control.errors">
                                <input tabindex="9"
                                       [disabled]="!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                       #Dtl_ctn_ttl="ngForm"
                                       maxlength="5"
                                       (change)="checkExpqty(item)"
                                       (keypress)="checkInputNumber($event,true)"
                                         ngControl="dtl_ctn_ttl"
                                       type="text"
                                       class="form-control"/>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched || submitForm )&&Dtl_ctn_ttl.control.hasError('required')"
                                   class="error">
                                    Exp Cart is required.
                                </p>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched||submitForm)&&Dtl_ctn_ttl.control.hasError('invalidInt')"
                                   class="error">
                                    Exp Cart must be integer
                                </p>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched || submitForm )&&Dtl_ctn_ttl.control.hasError('isZero')"
                                   class="error">
                                    Exp Cart must be greater than 0
                                </p>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched || submitForm )&&Dtl_ctn_ttl.control.hasError('invalidMaxValue')"
                                   class="error">
                                    Total of Expected Cartons must be less than 99.999 in the same carrier.
                                </p>
                            </div>
                        </td>

                        <td class="width120">
                            <div class="form-group" [class.error-style]="(Dtl_po.control.touched || submitForm ) && Dtl_po.control.errors">
                                <input 
                                    tabindex="9" 
                                    type="text" 
                                    #Dtl_po="ngForm"
                                    [disabled]="!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                    maxlength="50" 
                                    ngControl="dtl_po" 
                                    class="form-control" />
                        
                                <p *ngIf="(Dtl_po.control.touched || submitForm )&&Dtl_po.control.hasError('required')" class="error">
                                    PO is required.
                                </p>
                        
                                <p *ngIf="(Dtl_po.control.touched || submitForm )&&Dtl_po.control.hasError('duplicated')" class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>
                        
                            </div>
                        </td>
                        <td class="width160">
                            <div class="form-group has-feedback">
                                <input 
                                    tabindex="9" 
                                    type="text"
                                    [disabled]="!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                    data-date-today-highlight="1" 
                                    ngControl="dtl_po_date" 
                                    wms-datepicker class="form-control"
                                    data-provide="datepicker" />
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </td>
                        
                        <td class="width150">
                            <div class="form-group has-feedback">
                                <input 
                                    tabindex="9" 
                                    type="text" 
                                    #Expired_dt="ngForm"
                                    [disabled]="!ASNForm.value['cus_id'] || ( (item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                    maxlength="50" 
                                    wms-datepicker 
                                    data-provide="datepicker" 
                                    data-date-today-highlight="1"
                                    data-date-start-date="+1d" 
                                    ngControl="expired_dt" 
                                    class="form-control" />
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </td>
                        <td class="width100">
                            <div class="control-group">
                                <input tabindex="9"
                                       [disabled]="!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                       ngControl="prod_line"
                                       type="text" class="form-control"/>
                            </div>
                        </td>
                        <td class="width100">
                            <div class="control-group">
                                <input tabindex="9"
                                       [disabled]="!ASNForm.value['cus_id'] || ((item['value']['tmp_asn_dtl_sts_code'] == 'RE' || item['value']['tmp_asn_dtl_sts_code'] == 'CC') && Action=='edit')"
                                       ngControl="cmp"
                                       type="text" class="form-control"/>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf = "flagShowBtnAddMore " id = 'btn-add-more'>
                        <td class="add-more"><i class="fa fa-plus-circle" (click)="addNewItem()" tabindex="10"></i></td>
                        <td colspan="20"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="button pull-right" *ngIf = "ASNForm.value['ctnr_sts'] == '0' || (ASNForm['value']['asn_sts'] != 'CC' && flagShowBtnAddMore)">
                <button type="button" (click)="Save(ASNForm,true)" class="btn btn-outline blue" tabindex="11"><i class="icon-plus" ></i>Save
                    and Add more carrier
                </button>
            </div>
        </div>

        
        <div class="button pull-right clearfix">
            <button type="button" class="btn btn-default" (click)="cancel()" tabindex="13"><i class="icon-close"></i>Cancel
            </button>
            <button type="submit" class="btn btn-primary pull-right" tabindex="12"><i class="icon-check"></i>Submit
            </button>
        </div>

    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>