<button type="button" class="btn btn-outline blue pull-right" (click)="printPDF()">
    <i class="icon-printer"></i>
    {{label}}
</button>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>