<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block edit-location">
    <wms-messages [messages]="messages"></wms-messages>
    <form *ngIf="LocationForm" class="form-horizontal form-style" [ngFormModel]="LocationForm"
          (ngSubmit)="Action!=='View' && SaveRefill()" novalidate>
        <div class="area-block">
            <div class="row">
                <div *ngIf="Action!=='new'" class="col-md-2">
                    <div class="form-group"
                            [class.error-style]="(Loc_code.control.touched||submitForm)&&Loc_code.control.errors">
                        <label class="">Customer Name</label>
                        <input tabindex="1" readonly type="text" alt="Customer Name"
                            class="form-control" placeholder="" ngControl="cus_name">
                    </div>
                </div>
                <div [ngClass]="{'col-md-3': Action==='new', 'col-md-2': Action !=='new'}">
                    <div class="form-group"
                         [class.error-style]="(Loc_code.control.touched||submitForm)&&Loc_code.control.errors">
                        <label class="">Location Code <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="1" [readonly]="IsView" (keyup)="inputLocationCode($event)" maxlength="50" type="text" alt="Location Code"
                               class="form-control" placeholder="" #Loc_code="ngForm" ngControl="loc_code">
                        <p *ngIf="(Loc_code.control.touched||submitForm)&&Loc_code.control.hasError('required')"
                           class="error">
                        Location Code is required
                        </p>
                    </div>
                </div>
                <div [ngClass]="{'col-md-3': Action==='new', 'col-md-2': Action !=='new'}" class="hide">
                    <div class="form-group"
                         [class.error-style]="(Loc_alternative_name.control.touched||submitForm)&&Loc_alternative_name.control.errors">
                        <label class="">Alternative name <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="2" [readonly]="IsView" type="text" alt="Alternative name" maxlength="50" class="form-control"
                               ngControl="loc_alternative_name" #Loc_alternative_name="ngForm">
                        <p *ngIf="(Loc_alternative_name.control.touched||submitForm)&&Loc_alternative_name.control.hasError('required')"
                           class="error">
                        Alternative name is required
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" [class.error-style]="(Loc_type_id.control.touched||submitForm)&&Loc_type_id.control.errors">
                        <label  class="">Location Type <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <select [disabled]="IsView||(Action=='edit'&&LocationForm.value['loc_type_name']=='Ecommerce')" tabindex="3" type="text" alt="Location Type"  ngControl="loc_type_id" #Loc_type_id="ngForm"
                                class="form-control" placeholder="">
                            <option value="">Select one value</option>
                            <option *ngFor="let item of dataLocatype | orderBy:['loc_type_name']" [value]="item.loc_type_id">{{item.loc_type_name}}
                            </option>
                        </select>
                        <p *ngIf="(Loc_type_id.control.touched||submitForm)&&Loc_type_id.control.errors"
                           class="error">
                        Location Type is required
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Zone Name</label>
                        <input tabindex="4" type="text" ngControl="loc_zone_name" class="form-control" placeholder="" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" [class.error-style]="(rfid.control.touched||submitForm)&&rfid.control.errors">
                        <label class="">
                            RFID
                            <i class="icon-info txt-info" tooltipPlacement="left" tooltipTrigger="mouseenter"
                               tooltip="A valid RFID: First 8 characters are D, Next 4 digits is warehouse ID,
                               next 12 digits is unique. For example: DDDDDDD0001010101010101">
                            </i>
                        </label>
                        <input tabindex="5" minlength="24" maxlength="24" [readonly]="IsView" type="text"
                               ngControl="rfid" #rfid="ngForm" class="form-control" placeholder="">
                        <p *ngIf="(rfid.control.touched||submitForm)&&rfid.control.errors" class="error">
                            RFID is invalid
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group"   [class.error-style]="(Loc_width.control.touched||submitForm)&&Loc_width.control.errors">
                        <label class="">Width <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="6" [readonly]="IsView" maxlength="6" type="text" alt="Width"
                               class="form-control" (keypress) = "checkInputNumber($event)" ngControl="loc_width"  #Loc_width="ngForm">

                        <p *ngIf="(Loc_width.control.touched||submitForm)&&Loc_width.control.hasError('required')"
                           class="error">
                            Width is required
                        </p>
                        <p *ngIf="(Loc_width.control.touched||submitForm)&&Loc_width.control.hasError('invalidDecimalNumber')"
                           class="error">
                            Width is invalid ( Max value is 999.99 )
                        </p>
                        <p *ngIf="(Loc_width.control.touched||submitForm)&&Loc_width.control.hasError('isZero')"
                           class="error">
                            Width must be greater than 0
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group" [class.error-style]="(Loc_height.control.touched||submitForm)&&Loc_height.control.errors">
                        <label class="">Height <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="7" [readonly]="IsView" maxlength="6" (keypress) = "checkInputNumber($event)" type="text"
                               class="form-control" (keypress) = "checkInputNumber($event)"
                               placeholder="" #Loc_height="ngForm" ngControl="loc_height">
                        <p *ngIf="(Loc_height.control.touched||submitForm)&&Loc_height.control.hasError('required')"
                           class="error">
                            Height is required
                        </p>
                        <p *ngIf="(Loc_height.control.touched||submitForm)&&Loc_height.control.hasError('invalidDecimalNumber')"
                           class="error">
                            Height is invalid ( Max value is 999.99 )
                        </p>
                        <p *ngIf="(Loc_height.control.touched||submitForm)&&Loc_height.control.hasError('isZero')"
                           class="error">
                            Height must be greater than 0
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group"  [class.error-style]="(Loc_length.control.touched||submitForm)&&Loc_length.control.errors">
                        <label class="">Length <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="8" [readonly]="IsView" maxlength="6" type="text" alt="Length" class="form-control"
                               (keypress) = "checkInputNumber($event)" #Loc_length="ngForm" ngControl="loc_length" >
                        <p *ngIf="(Loc_length.control.touched||submitForm)&&Loc_length.control.hasError('required')"
                           class="error">
                            Length is required
                        </p>
                        <p *ngIf="(Loc_length.control.touched||submitForm)&&Loc_length.control.hasError('invalidDecimalNumber')"
                           class="error">
                            Length is invalid ( Max value is 999.99 )
                        </p>
                        <p *ngIf="(Loc_length.control.touched||submitForm)&&Loc_length.control.hasError('isZero')"
                           class="error">
                            Length must be greater than 0
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group"  [class.error-style]="(Aisle.control.touched||submitForm)&&Aisle.control.errors">
                        <label class="">Aisle <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="8" [readonly]="IsView" maxlength="3" type="text" alt="Aisle" class="form-control" #Aisle="ngForm" ngControl="aisle" >
                        <p *ngIf="(Aisle.control.touched||submitForm)&&Aisle.control.hasError('required')"
                           class="error">
                           Aisle is required
                        </p>
                        <p *ngIf="(Aisle.control.touched||submitForm)&&Aisle.control.hasError('maxlength')"
                           class="error">
                           Max length is 3
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group"  [class.error-style]="(Row.control.touched||submitForm)&&Row.control.errors">
                        <label class="">Section <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="8" [readonly]="IsView" maxlength="3" type="text" alt="Row" class="form-control" #Row="ngForm" ngControl="row" >
                        <p *ngIf="(Row.control.touched||submitForm)&&Row.control.hasError('required')"
                           class="error">
                           Section is required
                        </p>
                        <p *ngIf="(Row.control.touched||submitForm)&&Row.control.hasError('maxlength')"
                           class="error">
                           Max length is 3
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group"  [class.error-style]="(Level.control.touched||submitForm)&&Level.control.errors">
                        <label class="">Level <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="8" [readonly]="IsView" maxlength="1" type="text" alt="Level" class="form-control"
                               (keypress) = "checkInputNumber($event)" #Level="ngForm" ngControl="level" >
                        <p *ngIf="(Level.control.touched||submitForm)&&Level.control.hasError('required')"
                           class="error">
                           Level is required
                        </p>
                        <p *ngIf="(Level.control.touched||submitForm)&&Level.control.hasError('invalidInt')"
                           class="error">
                           Level must be integer
                        </p>
                        <p *ngIf="(Level.control.touched||submitForm)&&Level.control.hasError('isZero')"
                           class="error">
                           Level must be greater than 0
                        </p>
                        <p *ngIf="(Level.control.touched||submitForm)&&Level.control.hasError('maxlength')"
                           class="error">
                           Max length is 1
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group"  [class.error-style]="(Bin.control.touched||submitForm)&&Bin.control.errors">
                        <label class="">Bin <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                        <input tabindex="8" [readonly]="IsView" maxlength="1" type="text" alt="Bin" class="form-control" #Bin="ngForm" ngControl="bin" >
                        <p *ngIf="(Bin.control.touched||submitForm)&&Bin.control.hasError('required')"
                           class="error">
                           Bin is required
                        </p>
                        <p *ngIf="(Bin.control.touched||submitForm)&&Bin.control.hasError('invalidInt')"
                           class="error">
                           Bin must be integer
                        </p>
                        <p *ngIf="(Bin.control.touched||submitForm)&&Bin.control.hasError('isZero')"
                           class="error">
                           Bin must be greater than 0
                        </p>
                        <p *ngIf="(Bin.control.touched||submitForm)&&Bin.control.hasError('maxlength')"
                           class="error">
                           Max length is 1
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Shipping Area </label>
                        <input tabindex="10" type="number" max="2" min="0" alt="Shipping Area" [readonly]="IsView" ngControl="area"
                        (keyup) = "setValueInvalid($event,true)" maxlength="1" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-1" *ngIf="Action != 'new'">
                    <div class="form-group">
                        <label class="">Max LPN</label>
                        <input [readonly]="true" type="text" class="form-control" [value]="maxLPN">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Available Capacity </label>
                        <input tabindex="11" type="text" alt="Available Capacity" ngControl="loc_available_capacity"
                               class="form-control" placeholder="" readonly>
                    </div>
                </div>
                <div [class.col-md-1]="Action!=='new'" [class.col-md-2]="Action=='new'">
                    <div class="form-group"
                         [class.error-style]="(Loc_weight_capacity.control.touched||submitForm)&&Loc_weight_capacity.control.errors">
                        <label class="">Weight Capacity </label>
                        <input tabindex="12" [readonly]="IsView" maxlength="6" type="text" alt="Weight Capacity" class="form-control"
                               (keypress) = "checkInputNumber($event)"
                               ngControl="loc_weight_capacity" #Loc_weight_capacity="ngForm"
                               placeholder="">
                        <p *ngIf="(Loc_weight_capacity.control.touched||submitForm)&&Loc_weight_capacity.control.hasError('invalidDecimalNumber')"
                           class="error">
                            Weight Capacity is invalid ( Max value is 999.99 )
                        </p>
                        <p *ngIf="(Loc_weight_capacity.control.touched||submitForm)&&Loc_weight_capacity.control.hasError('isZero')"
                           class="error">
                            Weight Capacity must be greater than 0
                        </p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="">Status</label>
                        <select tabindex="13" name="" [disabled]="Action!=='new'" class="form-control" ngControl="loc_sts_code">
                            <option value="AC">Active</option>
                            <option value="IA">InActive</option>
                            <option value="LK">Locked</option>
                            <option value="RS">Reserved</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Special Handling</label>
                        <select [disabled]="IsView" class="form-control" ngControl="spc_hdl_code" tabindex="14">
                            <option value="RAC">Rack</option>
                            <option value="SHE">Shelf</option>
                            <option value="BIN">Bin</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea tabindex="15" [readonly]="IsView" maxlength="255" ngControl="loc_desc" rows="1" class="form-control"></textarea>
                    </div>
                </div>
            </div>

        </div>


        <div class="row" *ngIf="Action!=='new'&&(LocationForm.value['loc_type_name']=='Ecommerce' || IsView)">
            <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li *ngIf="IsView" class="active in"><a data-toggle="tab" href="#Inventory">Inventory</a></li>
                <li *ngIf="LocationForm.value['loc_type_name']=='Ecommerce'" [class.active]="Action=='edit'"  [class.in]="Action=='edit'"><a data-toggle="tab" href="#refillTab">Refill</a></li>
            </ul>
            <div class="tab-content">
                <div  [class.active]="IsView" *ngIf="IsView" class="clearfix tab-pane fade in" id="Inventory">

                    <div class="table-style1">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Customer</th>
                                <th>SKU</th>
                                <th>Lot</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>UOM</th>
                                <th>L-IN</th>
                                <th>H-IN</th>
                                <th>WE-IN</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor = "let item of Inventory">
                                <td>{{item.item_id}}</td>
                                <td>{{item.cus_name}}</td>
                                <td>{{item.sku}}</td>
                                <td>{{item.asn_dtl_lot}}</td>
                                <td>{{item.color}}</td>
                                <td>{{item.size}}</td>
                                <td>{{item.uom_name}}</td>
                                <td>{{item.asn_dtl_length}}</td>
                                <td>{{item.asn_dtl_height}}</td>
                                <td>{{item.asn_dtl_weight}}</td>
                                <td>{{item.piece_ttl}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <p *ngIf="Inventory.length==0&&!Loading['inv']">No Results Found.</p>

                        <div class="pull-right">
                            <wms-pagination
                                    [perPage]="perPage"
                                    [paginData]="Pagination"
                                    (pageChange)="getInventory($event)"
                            ></wms-pagination>
                        </div>

                    </div>

                </div>
                <div *ngIf="LocationForm.value['loc_type_name']=='Ecommerce'" [class.active]="Action=='edit'" [class.in]="Action=='edit'" class="clearfix tab-pane fade" id="refillTab">

                    <div class="table-style1">

                        <refill-directive (updateCompleted)="Save()"
                                          (messages)="messages=$event"
                                          [LocationData]="LocationForm.value"
                                          [submitForm]="_SaveRefill"
                                          [action]="Action" [loc_id]="loc_id" [wh_id]="wh_id"></refill-directive>

                    </div>

                </div>
            </div>

            </div>

        </div>

        <goBack *ngIf="IsView" [url]="'/system-setup/location'"></goBack>

        <div class="button pull-right" *ngIf="!IsView">
            <button type="button" class="btn btn-default" (click)='cancel()' tabindex="16"><i class="icon-close"></i>Cancel</button>
            <button type="submit" class="btn btn-primary" tabindex="15"><i class="icon-check"></i>{{ Action=='edit' ? 'Update' : 'Save' }}</button>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>