<div class="top-layout clearfix">
    <h2>{{action=='psl' ? 'put back assignment list' : action=='pul' ? 'put back update list' : 'put back order list'}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form five-column">
        <form class="clearfix form-inline" id="form-filter" (submit)="search()">
            <div class="form-group">
                <label>Put Back Receipt # </label>
                <input type="text" tabindex="1" class="form-control" name="return_num" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Order Number </label>
                <input type="text" tabindex="1" class="form-control" name="odr_num" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Customer </label>
                <select name="cus_id" class="form-control" tabindex="1">
                    <option value="">All</option>
                    <option *ngFor="let item of dataListCustomer" value="{{item.cus_id}}">{{item.cus_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status </label>
                <select name="return_sts" class="form-control" tabindex="1">
                    <option value="">All</option>
                    <option *ngIf="action!='pul'" value="AS">Assigned</option>
                    <option value="SG">Suggested</option>
                    <option value="CO">Completed</option>
                    <option value="PT">Putting</option>
                </select>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <span *ngIf="flagLoading"><img src="/assets/images/loading.gif" alt=""></span>
                <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="3"><i
                        class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="2"><i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="5"><i class="icon-settings"></i>Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngIf = "action=='pal' && flagPerPrintPutback"><a (click) = "printPutBackPdf()"><i class="icon-plus" ></i>Print Put Back PDF</a></li>
                        <li *ngIf = "action=='psl'"><a (click) = "assignHandler()"><i class="icon-plus"></i>Assign Handler</a></li>
                        <li *ngIf = "action=='pul' && hasUpdateBtn"><a (click) = "PAUpdate()"><i class="icon-note"></i>Update</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="4">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="table-style1">
            <advance-table [tableID]="tableID"
                           [headerURL]="headerURL"
                           [headerDef]="headerDef"
                           [pinCols]="pinCols"
                           [rowData]="rowData"
                           [getSelectedRow]="getSelectedRow"
                           [expandTable]="expandTable"
                           [refreshRowData]="refreshRowData"
                           (returnSelectedRow)="afterGetSelectedRow($event)"
                           (sort)="doSort($event)"
            ></advance-table>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<div id="assign-csr" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assign Putaway Handler</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style2 table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>EmpID</th>
                                    <th>User ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Department</th>
                                    <th>Office</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of dataCSRUser" (click)="selectCSR(item)"
                                    [class.highlight]="item.selected">
                                    <td>{{item.emp_code}}</td>
                                    <td>{{item.user_id}}</td>
                                    <td>{{item.first_name}}</td>
                                    <td>{{item.last_name}}</td>
                                    <td>{{item.dept}}</td>
                                    <td>{{item.off_loc}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p *ngIf="!dataCSRUser.length">No Results Found.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="!assignUser" type="submit" (click)="saveAssignPutter()" data-dismiss="modal"
                            class="btn btn-primary pull-right"><i
                            class="icon-check"></i>Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                            class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>