<div class="top-layout clearfix">
    <h2>Search Open Orders</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>

<div class="layout-block asn-management">
    <wms-messages [messages]="messages"></wms-messages>

    <searches [parentComponent]="tableComponent"
        [searches]="searches">

    </searches>

    <date-buttons
        [parentComponent]="tableComponent">

    </date-buttons>

    <table-block
        [tableID]="tableID"
        [headerURL]="headerURL"
        [headerDef]="headerDef"
        [pinCols]="pinCols"
        [rowData]="rowData"
        [Pagination]="Pagination"
        [perPage]="perPage"
        [parentComponent]="tableComponent"
        [dataExport]="dataExport"
        [downloadName]="downloadName">

    </table-block>

</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay">
    <img src="/assets/images/spinner.gif" alt="">
</div>
