<div class="top-layout clearfix">
    <h2>Add Goods Receipt</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Customer</label>
                        <input tabindex="1" type="text" class="form-control" value="{{dataGoodReceipt.cus_name}}"
                               placeholder="" required disabled>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="">Ref Code</label>
                        <input tabindex="2" type="text" class="form-control" value="{{dataGoodReceipt.asn_hdr_ref}}"
                               placeholder="" required disabled>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Expected Date</label>
                        <input tabindex="3" type="text" value='{{dataGoodReceipt.asn_hdr_ept_dt}}' class="form-control"
                               placeholder="" required disabled>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">Container Code</label>
                        <select tabindex="4" class="form-control" placeholder="" required readonly="">
                            <option value="" selected>{{ctnrCode}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="">ASN Number</label>
                        <input tabindex="5" type="text" class="form-control" value="{{dataGoodReceipt.asn_hdr_num}}"
                               placeholder="" required disabled>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="">Status</label>
                        <select tabindex="6" class="form-control" placeholder="" required disabled>
                            <option selected>{{dataGoodReceipt.asn_sts_name}}</option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-md-2">
                    <div class="form-group" [class.error-style]="listNull2['labor_charge_required']">
                        <label> Labor Charge<span class="txt-required">(*)</span></label>
                        <input tabindex="8" name="labor_charge" id = "labor_charge"  #labor_charge class="form-control"
                                  maxlength="12" (keypress)="checkInputNumber($event)" (keyup)="removeRequired($event.target)"/>
                      <p *ngIf="listNull2['labor_charge_required']" class="error">
                        Labor Charge is required
                      <p>
                    </div>
                </div>-->
                <!--<div class="col-md-2">-->
                    <!--<div class="form-group">-->
                        <!--<label> Labor Charge</label>-->
                        <!--<input tabindex="8" name="labor_charge" id = "labor_charge"  #labor_charge class="form-control"-->
                               <!--maxlength="12" (keypress)="checkInputNumber($event)"/>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Internal Comments</label>
                        <textarea tabindex="8" name="gr_in_note" id = "gr_in_note" rows="1" class="form-control"
                                  maxlength="255"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>External Comments</label>
                        <textarea tabindex="9" name="gr_ex_note" id = "gr_ex_note" rows="1" class="form-control"
                                  maxlength="255"></textarea>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="">PO</label>-->
                <!--<input type="text" class="form-control"  placeholder="" required disabled>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label class="">PO Date</label>-->
                <!--<input type="text" class="form-control"  placeholder="" required disabled>-->
                <!--</div>-->
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th title="Item ID" class="nowrap">Item ID</th>
                    <th title="Universal Product Code">UPC</th>
                    <th title="Stock Keeping Unit/Style">SKU</th>
                    <th title="Size">Size</th>
                    <th title="Color">Color</th>
                    <th title="Lot">Lot</th>
                    <th title="Description">Description</th>
                    <th title="Unit of Measure">UOM</th>
                    <th title="Number of eaches">Pack Size</th>
                    <th title="Expected Cartons">Exp Cart</th>
                    <th title="Actual Cartons" class="nowrap">Act Cart<span class="txt-required"></span></th>
                    <th title="Length - Inch" class="nowrap">L-IN</th>
                    <th title="Width - Inch" class="nowrap">W-IN</th>
                    <th title="Height - Inch" class="nowrap">H-IN</th>
                    <th title="Weight(LBS)" class="nowrap">WT</th>
                    <th title="Discrepancy">Discrep</th>
                    <th title="Dam Cart">Dam Cart</th>
                    <th title="Cross Docking" class="nowrap">X-Dock</th>
                    <th title="Purchase Order">PO</th>
                    <th title="Purchase Order Date">PO Date</th>
                    <th title="Expired Date">Expired Date</th>
                </tr>
                <tr *ngFor="let item of dataGoodReceipt.asn_details; let i = index">
                    <td class="disabled">{{item.dtl_item_id}}</td>
                    <td class="disabled">{{item.asn_dtl_cus_upc}}</td>
                    <td class="disabled nowrap">{{item.dtl_sku}}</td>
                    <td class="disabled">{{item.dtl_size}}</td>
                    <td class="disabled">{{item.dtl_color}}</td>
                    <td class="disabled">{{item.asn_dtl_lot}}</td>
                    <td class="disabled">{{item.dtl_des}}</td>
                    <td class="disabled">{{item.dtl_uom_name}}</td>
                    <td class="disabled">{{item.asn_dtl_pack}}</td>
                    <td class="disabled" id="dtl_gr_dtl_ept_ctn_ttl_{{i}}">{{item.dtl_ctn_ttl}}</td>
                    <td>
                        <div class="form-group"
                             [class.error-style]="listNull2['gr_dtl_dmg_ttl_' + i +'_lessActDock2'] || listNull2['gr_dtl_act_ctn_ttl_' + i +'_greater0'] || listNull2['gr_dtl_act_ctn_ttl_' + i + '_int'] || listNull2['gr_dtl_act_ctn_ttl_' + i + '_required'] || listNull2['gr_dtl_act_ctn_ttl_' + i +'_greater0'] || listNull2['gr_dtl_act_ctn_ttl_' + i +'_less9999']">
                            <input tabindex="10" type="hidden" value="{{item.dtl_gr_dtl_id}}" class="form-control"
                                   name="gr_dtl_id[]"/>
                            <input tabindex="10" type="text" class="form-control" maxlength="5" id="gr_dtl_act_ctn_ttl_{{i}}"
                                   name="gr_dtl_act_ctn_ttl[]"
                                   (keyup)="removeRequired($event.target);filterForm2($event.target, 'int_greater0');calTotalEP(); checkLessAct(i);" (keypress)="checkInputNumber($event)"
                                   (focusout)="filterForm2($event.target, 'int_greater0')" (keyup)="calDisc($event, i)"/>
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_int']" class="error">
                                Actual Cartons must be integer
                            <p>
                            <!--<p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_greater0']" class="error">-->
                                <!--Actual Cartons must be greater than 0-->
                            <!--<p>-->
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_required']" class="error">
                                Actual Cartons is required
                            <p>
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_greater0']" class="error">
                                Actual Cartons must be greater than 0
                            <p>
                            <p *ngIf="listNull2['gr_dtl_act_ctn_ttl_' + i +'_less9999']" class="error">
                                Total of Actual Cartons must be less than 99.999 in the same container.
                            <p>
                            <p *ngIf="!listNull2['gr_dtl_act_ctn_ttl_' + i +'_greater0'] && listNull2['gr_dtl_dmg_ttl_' + i +'_lessActDock2']" class="error">
                                Actual Cartons must be greater than or equal to X-Dock
                            <p>

                        </div>
                    </td>
                    <td class="disabled">{{item.dtl_length}}</td>
                    <td class="disabled">{{item.dtl_width}}</td>
                    <td class="disabled">{{item.dtl_height}}</td>
                    <td class="disabled">{{item.dtl_weight}}</td>
                    <!--<td>-->
                    <!--<div class="form-group" [class.error-style] = "listNull2['gr_dtl_plt_ttl_' + i + '_int'] || listNull2['gr_dtl_plt_ttl_' + i + '_required']">-->
                    <!--<input type="text" maxlength="11" class="form-control width100" id = "gr_dtl_plt_ttl_{{i}}" name = "gr_dtl_plt_ttl[]"-->
                    <!--(keyup) = "removeRequired($event.target)"  (keypress)="checkInputNumber($event)" (keyup)="filterForm2($event.target, 'int')" (focusout)="filterForm2($event.target, 'int')"/>-->
                    <!--<p *ngIf = "listNull2['gr_dtl_plt_ttl_' + i +'_int']" class="error">-->
                    <!--Number of Pallets must be integer-->
                    <!--<p>-->
                    <!--<p *ngIf = "listNull2['gr_dtl_plt_ttl_' + i +'_required']" class="error">-->
                    <!--Number of Pallets is required-->
                    <!--</p>-->
                    <!--</div>-->
                    <!--</td>-->
                    <td class="disabled" id="dtl_gr_dtl_disc_{{i}}">
                        <span *ngIf = "item.dtl_gr_dtl_disc != 0" style="color: #D91E18">{{item.dtl_gr_dtl_disc}}</span>
                        <span *ngIf = "item.dtl_gr_dtl_disc == 0" >{{item.dtl_gr_dtl_disc}}</span>
                    </td>
                    <td class="dm-check">
                        <div class="form-group"
                             [class.error-style]="listNull2['gr_dtl_dmg_ttl_' + i +'_lessActDock'] || listNull2['gr_dtl_dmg_ttl_' + i + '_int'] || listNull2['gr_dtl_dmg_ttl_' + i +'_greater0'] || listNull2['gr_dtl_dmg_ttl_' + i +'_lessAct']">
                            <input tabindex="10" type="text" class="form-control" maxlength="5" id="gr_dtl_dmg_ttl_{{i}}"
                                   (keyup)="removeRequired($event.target);filterForm2($event.target, 'int');checkLessAct(i);" (keypress)="checkInputNumber($event)"
                                   (focusout)="filterForm2($event.target, 'int');"/>
                            <p *ngIf="listNull2['gr_dtl_dmg_ttl_' + i +'_int']" class="error">
                                Dam Cart must be integer
                            <p>
                            <p *ngIf="listNull2['gr_dtl_dmg_ttl_' + i +'_lessAct']" class="error">
                                Dam Cart QTY must be equal to or less than Act Cart QTY
                            <p>
                            <p *ngIf="listNull2['gr_dtl_dmg_ttl_' + i +'_lessActDock']" class="error">
                                Dam Cart QTY must be equal to or less than {{item['tmpActXdoc']}}
                            <p>
                        </div>
                        <!--<input [hidden] = "item.dtl_gr_dtl_is_dmg == '1'" tabindex="10" (click) = "changeColor($event,'input')" type="checkbox" id="gr_dtl_is_dmg_{{i}}" value='1' name="gr_dtl_is_dmg[]">-->
                        <!--<span [hidden] = "item.dtl_gr_dtl_is_dmg != '1'" class="checked-img" (click) = "changeColor($event,'check')" id = "checked_{{i}}"></span>-->
                    </td>
                    <td class="disabled">{{item.dtl_crs_doc}}</td>
                    <td class="disabled nowrap">{{item.dtl_po}}</td>
                    <td class="disabled">{{item.dtl_po_date}}</td>
                    <td class="disabled">{{item.expired_dt}}</td>
                </tr>
                </thead>
            </table>
        </div>

        <div class="pull-left export" style="display: none">
            <label class="label-export">Export to:</label>
            <a (click)="exportCsv()" class="csv"></a>
            <a class="pdf" (click)="exportPdf()"></a>
        </div>
        <div class="button pull-right">
            <button type="button" (click)="redirectToList()" class="btn btn-default" tabindex="11"><i
                    class="icon-close"></i>Cancel
            </button>
            <button type="submit" class="btn btn-primary" (click)="save('0')" tabindex="12"><i class="icon-check"></i>Submit</button>
        </div>
    </form>
</div>


