<div class="login-body">
	<div class="col-md-6" style="display: flex; align-items: center; justify-content: center; height: 100%;">
		<div class="login-page" *ngIf="loginForm">
			<form role="form" [ngFormModel]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
				<!--<h3>
					<i class="icon-lock-open"></i>
					<span>Login</span>
					<span *ngIf="loading" class="loading-icon text-center">
						<img src="/assets/images/loading-timeline.gif" alt="Loading">
					</span>
				</h3>-->
				<div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px; font-size: 15px;">
					<span>Welcome to</span>
				</div>
				<div style="display: flex; align-items: center; justify-content: center;">
					<img src="/assets/images/logo_wms.png" alt="WMS 360 - Logisoft" style="width: 50%;"/>
				</div>
				<div style="display: flex; align-items: center; justify-content: center;">
                    <span *ngIf="loading" class="loading-icon text-center">
                        <img src="/assets/images/loading-timeline.gif" alt="Loading"/>
                    </span>
				</div>
				<div class="login-block">
					<wms-messages [messages]="messages"></wms-messages>
					<div class="form-group" [class.error-style]="(username.control.touched||submitForm)&&username.control.errors">
						<div class="input-style">
							<input autocomplete="off" type="text" class="form-control" required ngControl="username"
                                   #username="ngForm" placeholder="Username"/>
							<i class="icon-user"></i>
						</div>
						<p *ngIf="(username.control.touched||submitForm)&&username.control.hasError('required')"
						   class="error">
							Username is required.
						</p>
					</div>
					<div class="form-group" [class.error-style]="(Password.control.touched||submitForm)&&Password.control.errors">
						<div class="input-style">
							<input autocomplete="off" type="password" class="form-control" required ngControl="password"
                                   #Password="ngForm" placeholder="Password"/>
							<i class="icon-key"></i>
						</div>
						<p *ngIf="(Password.control.touched||submitForm)&&Password.control.hasError('required')"
						   class="error">
							Password is required.
						</p>
					</div>
					<!--<div class="form-group clearfix">
						<a [routerLink]="['/forgot-password']" class="pull-right forgot-password">Forgot Password ?</a>
					</div>-->
					<div class="button-login clearfix">
						<button type="submit" class="btn btn-login no-margin-left">Sign In</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-6 ">
		<div class="bg-logo">
			<div class="logo">
				<img class="img-responsive" src="/assets/images/PIMS_Logo.png">
				<div style="color: #ffffff; font-size: 14px;">
					<span>Simple Solutions for Complex Supply Chain</span>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="logo">
		&lt;!&ndash;<img class="img-responsive" src="/assets/images/logo-white.gif">&ndash;&gt;
		<img class="img-responsive" src="/assets/images/logo-white.gif?v=1">
	</div>
	<div class="login-page" *ngIf="loginForm">
		<form role="form" [ngFormModel]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
			<h3>
				<i class="icon-lock-open"></i>
				<span>Login</span>
				<span *ngIf="loading" class="loading-icon text-center"><img src="/assets/images/loading-timeline.gif"
				                                                            alt="Loading"></span>
			</h3>
			<div class="login-block">
				<wms-messages [messages]="messages"></wms-messages>
				<div class="form-group"
				     [class.error-style]="(username.control.touched||submitForm)&&username.control.errors">
					<div class="input-style">
						<input autocomplete="off" type="text" class="form-control" required ngControl="username"
                               #username="ngForm" placeholder="Username">
						<i class="icon-user"></i>
					</div>
					<p *ngIf="(username.control.touched||submitForm)&&username.control.hasError('required')"
					   class="error">
						Username is required.
					</p>
					&lt;!&ndash;<p *ngIf="(emailForm.control.touched||submitForm)&&emailForm.control.hasError('invalidEmailAddress')&&emailForm.control.value" class="error">
					  Email is invalid.
					</p>&ndash;&gt;
				</div>
				<div class="form-group"
				     [class.error-style]="(Password.control.touched||submitForm)&&Password.control.errors">
					<div class="input-style">
						<input autocomplete="off" type="password" class="form-control" required ngControl="password"
                               #Password="ngForm" placeholder="Password">
						<i class="icon-key"></i>
					</div>
					<p *ngIf="(Password.control.touched||submitForm)&&Password.control.hasError('required')"
					   class="error">
						Password is required.
					</p>
				</div>
				<div class="form-group clearfix">
					<a href="#/forgot-password" class="pull-right forgot-password">Forgot Password ?</a>
				</div>
				<div class="button-login clearfix">
					<button type="submit" class="btn btn-danger btn-login no-margin-left">Sign In</button>
				</div>
			</div>
		</form>
	</div>-->
</div>
