
<div id="assign-driver" class="modal fade" role="dialog" data-backdrop="static">
        <form id="modal-driver-user">
            <div class="modal-dialog modal-style-default modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Driver</h4>
                    </div>
                    <div class="modal-body form-style">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input [(ngModel)]="infoSearchDriver['first_name']"
                                        (ngModelChange)="filterDriverUser()" type="text" class="form-control" placeholder="First Name" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input [(ngModel)]="infoSearchDriver['last_name']"
                                            (ngModelChange)="filterDriverUser()" type="text" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"> 
                                    <input [(ngModel)]="infoSearchDriver['email']"
                                        (ngModelChange)="filterDriverUser()" type="text"
                                        class="form-control" placeholder="Email" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button tabindex="10" type="button" class="btn btn-outline gray" 
                                    (click)="resetFilterDriverUser()">
                                    <i class="icon-close"></i>Reset
                                </button>
                            </div>
                        </div>
                        <div class="table">
                            <div class="table-style2 table-responsive max-height-400">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Emp Code</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of listDataUser; let i = index" (click)="setClickedRow(i, item)"
                                        [class.highlight]="i == selectedRow">
                                        <td>{{item.username}}</td>
                                        <td>{{item.first_name}}</td>
                                        <td>{{item.last_name}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.emp_code}}</td>
                                        <td>{{item.status}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p *ngIf="!listDataUser.length">No Results Found.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="selectedRow==-1"  type="submit" (click)="saveAssigmDriver()" data-dismiss="modal"
                                class="btn btn-primary pull-right"><i
                                class="icon-check"></i>Save
                        </button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                                class="icon-close"></i>Close
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>