<h3>Cycle Count
    <ul class="nav nav-tabs icon-chart-block" role="tablist">
        <li role="presentation" class="active"><a href="#cycle-count-list" aria-controls="home" role="tab" data-toggle="tab"><i
                class="fa fa-list"></i></a></li>
        <li role="presentation"><a href="#cycle-count-chart" aria-controls="profile" role="tab" data-toggle="tab"><i
                class="fa fa-bar-chart"></i></a></li>
    </ul>
    <span class="pull-right form-style-dashboard">
        <label>Type</label>
        <select (change)="changeCycleCountType($event)">
            <option value=''>All</option>
            <option *ngFor="let ccType of cycleCountTypes" [value]="ccType.cycle_type">
                 {{ccType.cycle_type_name}}
             </option>
        </select>
    </span>
</h3>
<div class="dashboard-detail tab-content">
    <div role="tabpanel" class="tab-pane active" id="cycle-count-list">
        <div class="table-style-dashboard ">
            <table class="table-dashboard table">
                <thead>
                <tr>
                    <th>Cycle Count#</th>
                    <th>Cycle Count Detail</th>
                    <th>Aging(Day)</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let zone of cycleCountList | paginate: {id :'addCCPaginate', itemsPerPage: 6, currentPage:pCycleCount }; let i = index">
                    <td>{{zone?.cycle_num}}</td>
                    <td>{{zone?.used_loc_total | wmsNumberFormatter}}/{{zone?.loc_total | wmsNumberFormatter}}</td>
                    <td>{{zone?.day_aging}}</td>
                    <td>{{zone?.cycle_sts}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right paging">
            <div class="showing pull-left clearfix">
                <pagination-controls
                        (pageChange)="pCycleCount = $event" id="addCCPaginate" autoHide="true">
                </pagination-controls>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="cycle-count-chart">
        <div class="row">
            <div class="col-md-12">
                <canvas id="cycle-count-wrapper"></canvas>
            </div>
        </div>
    </div>
</div>