<div class="top-layout clearfix">
    <h2>Goods Receipt List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form six-column">
        <form class="clearfix form-inline" id="form-filter" (submit)="search()">
            <div class="form-group">
                <label>Customer </label>
                <select type="text" class="form-control" name="cus_id" tabindex="1">
                    <option value="">ALL</option>
                    <option *ngFor="let item of dataListCustomer| orderBy:['cus_name']" value="{{item.cus_id}}">{{item.cus_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Goods Receipt #</label>
                <input type="text" class="form-control" name="gr_hdr_num" placeholder="" tabindex="2" />
            </div>
            <div class="form-group multiselect">
                <label>Status</label>
                <wms-multi-select *ngIf="dataListGRStatus.length" [name]="'gr_sts[]'" [options]="dataListGRStatus"
                    [numberDisplayed]="2" [refresh]="refreshMultiSelect" (onRefreshed)="refreshMultiSelect = $event"></wms-multi-select>
            </div>
            <div class="form-group">
                <label>Ref Code</label>
                <input type="text" class="form-control" name="asn_hdr_ref" placeholder="" tabindex="4" />
            </div>
            <div class="form-group">
                <label>Carrier </label>
                <input type="text" class="form-control" name="ctnr_num" placeholder="" tabindex="5" />
            </div>
            <div class="form-group">
                <label>SKU </label>
                <input type="text" class="form-control" name="sku" placeholder="" tabindex="6" />
            </div>
            <div class="form-group has-feedback">
                <label>From Date</label>
                <input aria-describedby="" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd"
                    data-date-today-highlight="1" id="gr_hdr_act_dt_from" name="gr_hdr_act_dt_from" tabindex="7">
                <span aria-hidden="true" class="icon-calendar form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label>To Date</label>
                <input aria-describedby="" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd"
                    data-date-today-highlight="1" id="gr_hdr_act_dt_to" name="gr_hdr_act_dt_to" tabindex="8">
                <span aria-hidden="true" class="icon-calendar form-control-feedback"></span>
            </div>

            <div class="form-group">
                <label>ASN Type</label>
                <select name="asn_type" class="form-control" tabindex="9">
                    <option value="">All</option>
                    <option *ngFor="let item of arrASNType" value="{{item.asn_type}}">{{item.asn_type_name}}
                    </option>
                </select>
            </div>

            <!--<div class="form-group">-->
            <!--<label>Status </label>-->
            <!--<select type="text" class="form-control" name="gr_sts">-->
            <!--<option value="">ALL</option>-->
            <!--<option *ngFor = "let item of dataListGRStatus" value="{{item.gr_sts_code}}">{{item.gr_sts_name}}</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group">
                <label>Ref Code</label>
                <input type="text" class="form-control" name="asn_hdr_ref"/>
            </div>-->
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="7"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn  btn-outline blue" tabindex="6"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <!--<ul class="nav nav-tabs">-->
    <!--<li class="active"><a data-toggle="tab" href="#tabASN">ASN</a></li>-->
    <!--</ul>-->
    <div class="tab-content">
        <div class="clearfix tab-pane fade in active" id="tabASN">
            <div class="table">
                <div class="filter clearfix table-list-head">
                    <div *ngIf="hasEditBtn" class="pull-right">
                        <!--<a class="btn btn-success pull-left margin-left" href="">Add</a>-->
                        <div class="input-group pull-right margin-left">
                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle"
                                type="button" tabindex="9"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <!-- <li><a (click)="assignCartonToPallet()"><i class="icon-note"></i>Assign Carton To
                                        Pallet</a></li> -->
                                <li><a *ngIf="hasViewPut || hasSavePut" (click)="actionPrint()"><i class="icon-printer"></i>Print
                                        Putaway List</a></li>
                                <!-- <li><a (click)="actionApprove()"><i class="icon-check"></i>Approve</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="form-inline">
                        <label>Show</label>
                        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="8">
                            <option value="20" selected>20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                        <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </div>
                </div>
                <div class="table-style1">
                    <advance-table [tableID]="tableID" [headerURL]="headerURL" [headerDef]="headerDef" [pinCols]="pinCols"
                        [rowData]="rowData" [getSelectedRow]="getSelectedRow" [expandTable]="expandTable"
                        (returnSelectedRow)="afterGetSelectedRow($event)" (sort)="doSort($event)"></advance-table>
                </div>
            <div class="pull-right">
                <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="filterList($event)">
                </wms-pagination>
            </div>
            <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
            </div>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>