<div class="top-layout clearfix">
  <h2>Putaway Update</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <!--<div *ngIf="messages" class="col-md-12">
      <div class="alert alert-{{messages.status}}">
          <span [innerHTML]="messages.txt"></span>
      </div>
  </div>-->
  <wms-messages [messages]="messages"></wms-messages>
  <form class="form-horizontal form-style" (submit)="submitForm()">
    <div class="area-block clearfix">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Customer</label>
            <select class="form-control" disabled>
              <option value="{{dataGoodReceipt?.cus_id}}" selected>{{dataGoodReceipt?.cus_name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Goods Receipt Number</label>
            <input type="text" class="form-control" value="{{dataGoodReceipt?.gr_hdr_num}}" readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Ref Code</label>
            <input type="text" class="form-control" value="{{dataGoodReceipt?.asn_hdr_ref}}" readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Container</label>
            <input type="text" class="form-control" value="{{dataGoodReceipt?.ctnr_num}}" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label class="">Status</label>
            <input type="text" class="form-control" value="{{dataGoodReceipt?.gr_sts_name}}" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label class=""># of SKUs</label>
            <input type="text" class="form-control" value="{{dataGoodReceipt?.ttl_item}}" readonly>
          </div>
        </div>
        <div class="col-md-1 hide">
          <div class="form-group">
            <label class=""># of Pallets</label>
            <input type="text" class="form-control" value="{{dataGoodReceipt?.ttl_pallet}}" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="table-style2 table-responsive">
      <table class="table editable table-bordered">
        <thead>
        <tr>
          <th class="nowrap">Item ID</th>
          <th>SKU</th>
          <th>Size</th>
          <th>Color</th>
          <th>Lot</th>
          <th>Pallet LPN</th>
          <th>Number of Cartons</th>
          <th>Suggested Location</th>
          <th>Actual Location</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let item of dataGoodReceiptItems | paginate: {id :'putawayUpdate', itemsPerPage: 20, currentPage:currentPagePutaway };" id="{{item.plt_id}}">
          <td class="disabled">{{item.item_id}}</td>
          <td class="disabled">{{item.sku}}</td>
          <td class="disabled">{{item.size}}</td>
          <td class="disabled">{{item.color}}</td>
          <td class="disabled">{{item.lot}}</td>
          <td class="disabled">{{item.plt_num}}</td>
          <td class="disabled">{{item.ctn_ttl}}</td>
          <td class="nowrap">
            <div class="checkbox" [class.error-style]="item.checked && item.notExist">
              <label>
                <input (change)="toggleActualLocation(item)" type="checkbox" [(ngModel)]="item.checked" [disabled]="item.disable_checkbox">{{item.assigned_loc_code}}
              </label>
              <p *ngIf="item.checked && item.notExist" class="error">
                {{item.notExistMsg}}
              </p>
            </div>
          </td>
          <td>
            <div class="form-group" [class.error-style]="(item.listAutocompleteLocation && !item.listAutocompleteLocation.length && !item.checked || item.hasErrRequired || item.notExist && item.actual_loc_code != '' || item.duplicated)">
              <input style="min-width:125px;" [disabled]="item.disable_checkbox||item.checked" type="text" class="form-control" [(ngModel)]="item.actual_loc_code"  (keyup)="autoSearchLocation(item, $event.target.value)" (focus)="showDropdown(item, $event)" (blur)="hideDropDown(item, $event)">
              <ul class="dropdown-menu autocomplete no-min-width">
                <span class="icon-loading-search-complete" *ngIf="item.searching"><img src="/assets/images/loading.gif"></span>
                <li (click)="selectItem(item, loc.loc_id, loc.loc_code, $event)" *ngFor="let loc of item.listAutocompleteLocation" value="{{loc.loc_id}}">{{loc.loc_code}}</li>
              </ul>
              <p *ngIf="item.hasErrRequired" class="error">
                Location is required.
              </p>
              <p *ngIf="(item.listAutocompleteLocation && !item.listAutocompleteLocation.length && !item.checked || item.notExist && item.actual_loc_code != '')" class="error">
                {{item.notExistMsg}}
              </p>
              <p *ngIf="!item.checked && !item.notExist && item.duplicated" class="error">
                Location is duplicated.
              </p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="dataGoodReceiptItems&&!dataGoodReceiptItems.length&&!isLoadingGRItem">No Results Found.</span>
    </div>
    <div class="clearfix">
      <pagination-controls
        (pageChange)="currentPagePutaway = $event" id="putawayUpdate" autoHide="true">
      </pagination-controls>
    </div>
    <div class="button pull-right">
      <button type="button" class="btn btn-default" (click)="cancel()"><i class="icon-close"></i>Cancel</button>
      <button type="submit" class="btn btn-primary" *ngIf="isHideButton"><i class="icon-check"></i>Save</button>
    </div>
    <div style="margin-bottom: 150px"></div>
  </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>


