<div class="top-layout clearfix">
  <h2>{{pageTitle}}</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix">
  <wms-messages [messages]="messagesText"></wms-messages>
  <form [ngFormModel]="bOLForm" *ngIf="bOLForm" class="form-horizontal form-style" novalidate>
    <div class="area-block clearfix">
      <div class="col-md-2">
        <div class="form-group" [class.error-style]="(Cus.control.touched||submitForm)&&Cus.control.errors">
          <label>Customer <span class="txt-required">(*)</span></label>
          <select name="select-customer" tabindex="1" class="form-control" [disabled]="IsView||isEdit||addedOrders.length"  ngControl="cus_id" #Cus="ngForm"
                  (change)="renderFullAddress($event.target.value,shipReady.value)">
            <option value="">Select Customer</option>
            <option *ngFor="let item of dataListCustomer| orderBy:['cus_name'];" value="{{item.cus_id}}">
              {{item.cus_name}}
            </option>
          </select>
          <p *ngIf="(Cus.control.touched||submitForm)&&Cus.control.errors"
             class="error">
            Customer is required.
          </p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group" [class.error-style]="(shipReady.control.touched||submitForm)&&shipReady.control.errors">
          <label>Ship Ready <span class="txt-required">(*)</span></label>
          <select name="" class="form-control" tabindex="2" [disabled]="IsView||isEdit||addedOrders.length||Cus.value == ''"  ngControl="ship_ready"
                  #shipReady="ngForm" (change)="renderFullAddress(Cus.value,$event.target.value)">
            <option value="">Select Ship Ready</option>
            <option value="all">ALL</option>
            <option value="1">Today</option>
            <option value="3">Within 3 days</option>
            <option value="7">Within 7 days</option>
          </select>
          <p *ngIf="(shipReady.control.touched||submitForm)&&shipReady.control.errors"
             class="error">
            Ship Ready is required.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" [class.error-style]="(bolLabel.control.touched||submitForm)&&bolLabel.control.errors">
          <label>Bill of Lading Number<span class="txt-required">(*)</span></label>
          <input type="text" class="form-control" tabindex="5" [readonly]="IsView"  ngControl="bo_label" #bolLabel="ngForm" maxlength="50">
          <p *ngIf="(bolLabel.control.touched||submitForm)&&bolLabel.control.errors"
             class="error">
            Bill of Lading Label is required.
          </p>
        </div>
      </div>
      <div *ngIf="IsView" class="col-md-2">
          <div class="form-group" [class.error-style]="(shipName.control.touched||submitForm)&&shipName.control.errors">
            <label>Company</label>
            <input type="text" class="form-control" tabindex="5" readonly ngControl="ship_to_name" #shipName="ngForm" maxlength="127">
            <p *ngIf="(shipName.control.touched||submitForm)&&shipName.control.hasError('required')" class="error">
              Company is required.
            </p>
            <p *ngIf="(shipName.control.touched||submitForm)&&shipName.control.hasError('maxlength')" class="error">
              Max length is invalid. (Maximum is 127)
            </p>
          </div>
      </div>

      <div *ngIf="IsView" class="col-md-5">
        <div class="form-group">
          <label>Address <img *ngIf="loading.ship_to" src="/assets/images/loading.gif"></label>
          <input #shipTo="ngForm" [(ngModel)]="bolDetailData.ship_to_addr" name="select-ship-to" type="text" class="form-control">
        </div>
      </div>
      <div *ngIf="isEdit" class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group"
                [class.error-style]="(Shippingto.control.touched||submitForm)&&Shippingto.control.errors">
              <label for="">Company <span class="txt-required">(*)</span></label>
              <div class="dropdown dropdown-autosearch" [class.input-group]="!IsView">
                <span class="waiting" *ngIf="Loading['shipping_to']"><img src="/assets/images/loading.gif"></span>
                <div class="input-group-btn">
                    <button  type="button" (click)="_openFormThirdParty()" class="button" class="btn btn-add-more" [disabled]="!Cus.value"><i class="icon-plus"></i></button>
                </div>
                <input [disabled]="IsView || !Cus.value" maxlength="127" tabindex="9"
                    #Shippingto="ngForm" placeholder="Autocomplete..."
                    [ngModel]="Shippingto.value"
                    autocomplete-directive
                    (ngModelChange)="autoCompleteShippingTo($event)"
                    ngControl="ship_to_name" class="form-control dropdown-toggle"
                    type="text" data-toggle="dropdown"/>
                <div tabindex="-1" class="dropdown-menu list-group" *ngIf="Shippingto.value">
                    <a tabindex="-1" class="list-group-item nowrap"
                        (click)="selectedShippingTo(item)"
                        *ngFor="let item of shipping_to_list">{{item.name}} - {{item.add_1}}</a>
                </div>
              </div>
              <p *ngIf="(Shippingto.control.touched||submitForm)&&Shippingto.control.hasError('required')"
                  class="error">
                  Shipping To is required.
              </p>
              <p *ngIf="(Shippingto.control.touched||submitForm)&&Shippingto.control.hasError('not_existed')"
                  class="error">
                  Shipping To is not existed.
              </p>
            </div>
          </div>
          <div class="col-md-3">
              <div class="form-group"
                  [class.error-style]="(Address.control.touched||submitForm)&&Address.control.errors">
                  <label for="">Address <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                  <input #Address="ngForm" [readonly]="IsView" maxlength="127" type="text"
                        tabindex="10" ngControl="ship_to_addr_1" class="form-control">
                  <p *ngIf="(Address.control.touched||submitForm)&&Address.control.errors"
                    class="error">
                      Address To is required.
                  </p>
              </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" [class.error-style]="(City.control.touched||submitForm)&&City.control.errors">
              <label>City <span *ngIf="!IsView" class="txt-required">(*)</span></label>
              <input #City="ngForm" [readonly]="IsView" maxlength="63" tabindex="11" type="text"
                      ngControl="ship_to_city" class="form-control">
              <p *ngIf="(City.control.touched||submitForm)&&City.control.errors"
                  class="error">
                  City is required.
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group"
                  [class.error-style]="(CountryCtl.control.touched || submitForm ) && CountryCtl.control.errors">
              <label>Country <span *ngIf="!IsView" class="txt-required">(*)</span></label>
              <select tabindex="12" #CountryCtl="ngForm" ngControl="ship_to_country"
                      (change)="ChangeCountry($event.target.value)" class="form-control"
                      [disabled]="IsView" required>
                  <option value="">Select one value</option>
                  <option *ngFor="let item of Country" [value]="item.sys_country_code">
                      {{item.sys_country_name}}
                  </option>
              </select>
              <p *ngIf="(CountryCtl.control.touched||submitForm)&&CountryCtl.control.hasError('required')"
                  class="error">
                  Country is required.
              </p>
            </div>
          </div>
          <div class="col-md-2">
              <div class="form-group"
                  [class.error-style]="(StateProvince.control.touched || submitForm ) && StateProvince.control.errors">
                  <label>State <span *ngIf="!IsView" class="txt-required">(*)</span> <img
                          *ngIf="Loading.state" src="/assets/images/loading.gif"></label>
                  <select [disabled]="IsView" class="form-control" #StateProvince='ngForm'
                          ngControl="ship_to_state" tabindex="13">
                      <option value="">Select one value</option>
                      <option *ngFor="let item of StateProvinces" value="{{item.sys_state_code}}">
                          {{item.sys_state_name}}
                      </option>
                  </select>
                  <p *ngIf="(StateProvince.control.touched || submitForm )&&StateProvince.control.errors"
                    class="error">
                      State/Province is required.
                  </p>
              </div>
          </div>
          <div class="col-md-1">
              <div class="form-group"
                  [class.error-style]="(Zip.control.touched || submitForm ) && Zip.control.errors">
                  <label class="nowrap">Zip Code <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                  <input type="text" [readonly]="IsView" maxlength="10" tabindex="14"
                        #Zip="ngForm" ngControl="ship_to_zip" class="form-control">
                  <p *ngIf="(Zip.control.touched || submitForm )&&Zip.control.errors"
                    class="error">
                      Zip Code is required.
                  </p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="h4-style">Third Party</h4>
        <div class="area-block clearfix">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Name </label>
                <input type="text" class="form-control" tabindex="6" [readonly]="IsView"  ngControl="bill_to_name" maxlength="63">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Address </label>
                <input type="text" class="form-control" tabindex="7" [readonly]="IsView"  ngControl="bill_to_addr_1" maxlength="127">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" tabindex="8" [readonly]="IsView"  ngControl="bill_to_city" maxlength="63">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>State/Province</label>
                <select name="" class="form-control" tabindex="9" [disabled]="IsView"  ngControl="bill_to_state">
                  <option value="">Select State/ Province</option>
                  <option *ngFor="let item of states" value="{{item.sys_state_code}}">{{item.sys_state_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Zip Code </label>
                <input type="text" class="form-control" tabindex="10" [readonly]="IsView"  ngControl="bill_to_zip" maxlength="10">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group"
                   [class.error-style]="(specIns.control.touched||submitForm)&&specIns.control.errors">
                <label>Special Instructions <span class="txt-required">(*)</span></label>
                <textarea rows="4" class="form-control" tabindex="11" [disabled]="IsView"  ngControl="special_inst"
                          #specIns="ngForm" maxlength="255"></textarea>
                <p *ngIf="(specIns.control.touched||submitForm)&&specIns.control.errors"
                   class="error">
                  Special Instructions is required.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h4 class="h4-style">Carrier Information</h4>
        <div class="area-block clearfix">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group"
                   [class.error-style]="(carrier.control.touched||submitForm)&&carrier.control.errors">
                <label>Carrier Name <span class="txt-required">(*)</span></label>
                <input type="text" class="form-control" tabindex="12" [readonly]="IsView"  ngControl="carrier" #carrier="ngForm" maxlength="63">
                <p *ngIf="(carrier.control.touched||submitForm) && carrier.control.errors"
                   class="error">
                  Carrier Name is required.
                </p>
              </div>
            </div>
            <div class="col-md-3 hidden">
              <div class="form-group"
                   [class.error-style]="(deliService.control.touched||submitForm) && deliService.control.errors">
                <label>Delivery Service <span class="txt-required">(*)</span></label>
                <div [class.input-group]="!IsView">
                  <div class="input-group-btn" *ngIf="!IsView">
                    <div class="button" class="btn btn-add-more" data-toggle="modal" data-target="#add-delivery-service"><i class="icon-plus" id='event_add_{{i}}'></i></div>
                  </div>
                  <select name="" class="form-control" tabindex="13" [disabled]="IsView"  ngControl="deli_service" #deliService="ngForm">
                    <option value="">Select Delivery Service </option>
                    <option *ngFor="let item of deliveryService" value="{{item.key}}">{{item.value}}</option>
                  </select>
                  <p *ngIf="(deliService.control.touched||submitForm) && deliService.control.errors"
                     class="error">
                    Delivery Service is required.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group"
                   [class.error-style]="(thrPAcc.control.touched||submitForm) && thrPAcc.control.errors">
                <label>3rd Party Account <span class="txt-required">(*)</span></label>
                <input type="text" class="form-control" tabindex="14" [readonly]="IsView"  ngControl="party_acc" #thrPAcc="ngForm" maxlength="50">
                <p *ngIf="(thrPAcc.control.touched||submitForm) && thrPAcc.control.errors"
                   class="error">
                  3rd Party Account is required.
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group"
                   [class.error-style]="(comDes.control.touched||submitForm) && comDes.control.errors">
                <label>Commodity Description<span class="txt-required">(*)</span></label>
                <div [class.input-group]="!IsView">
                  <div class="input-group-btn" *ngIf="!IsView">
                    <div class="button" class="btn btn-add-more" data-toggle="modal" data-target="#add-commodity"><i class="icon-plus" id='event_add_{{i}}'></i></div>
                  </div>
                  <select name="" class="form-control" tabindex="15" [disabled]="IsView"  ngControl="cmd_des" #comDes="ngForm">
                    <option value="">Select Commodity Description </option>
                    <option *ngFor="let item of commoDesc" value="{{item.cmd_id}}">{{item.cmd_name}}</option>
                  </select>
                  <p *ngIf="(comDes.control.touched||submitForm) && comDes.control.errors"
                     class="error">
                    Commodity Description is required.
                  </p>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group"
                   [class.error-style]="(traLoad.control.touched||submitForm) && traLoad.control.errors">
                <label>Trailer Load<span class="txt-required">(*)</span></label>
                <select name="" class="form-control" tabindex="16" [disabled]="IsView"  ngControl="trailer_loaded_by" #traLoad="ngForm">
                  <option value="">Select Trailer Load</option>
                  <option *ngFor="let item of trailerLoad" value="{{item.key}}">{{item.value}}</option>
                </select>
                <p *ngIf="(traLoad.control.touched||submitForm) && traLoad.control.errors"
                   class="error">
                  Trailer Load is required.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group"
                   [class.error-style]="(freCount.control.touched||submitForm) && freCount.control.errors">
                <label>Freight Counted <span class="txt-required">(*)</span></label>
                <select name="" class="form-control" tabindex="17" [disabled]="IsView"  ngControl="freight_counted_by" #freCount="ngForm">
                  <option value="">Select Freight Counted</option>
                  <option *ngFor="let item of freCounted" value="{{item.key}}">{{item.value}}</option>
                </select>
                <p *ngIf="(freCount.control.touched||submitForm) && freCount.control.errors"
                   class="error">
                  Freight Counted is required.
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group"
                   [class.error-style]="(freChaTem.control.touched||submitForm) && freChaTem.control.errors">
                <label>Freight Charge Terms <span class="txt-required">(*)</span></label>
                <select name="" class="form-control" tabindex="18" [disabled]="IsView"  ngControl="freight_charge_terms" #freChaTem="ngForm">
                  <option value="">Select Freight Charge Terms</option>
                  <option *ngFor="let item of freChTerms" value="{{item.key}}">{{item.value}}</option>
                </select>
                <p *ngIf="(freChaTem.control.touched||submitForm) && freChaTem.control.errors"
                   class="error">
                  Freight Charge Terms is required.
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Cost</label>
                <input type="text" class="form-control" tabindex="19" [readonly]="IsView"  ngControl="freight_charge_cost" maxlength="10">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"
                   [class.error-style]="(feeTerm.control.touched||submitForm) && feeTerm.control.errors">
                <label>Fee terms <span class="txt-required">(*)</span></label>
                <select name="" class="form-control" tabindex="20" [disabled]="IsView"  ngControl="fee_terms" #feeTerm="ngForm">
                  <option value="">Select Fee terms</option>
                  <option *ngFor="let item of feeTerms" value="{{item.key}}">{{item.value}}</option>
                </select>
                <p *ngIf="(feeTerm.control.touched||submitForm) && feeTerm.control.errors"
                   class="error">
                  Fee terms is required.
                </p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group margin-top22">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" tabindex="21" [readonly]="IsView"  ngControl="cus_accept">
                        Customer check acceptable </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group margin-top22">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" tabindex="22" [readonly]="IsView"  ngControl="is_attach">
                        Attach master Bill of Ladings
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Shipment Method </label>
                <select name="" class="form-control" tabindex="23" [disabled]="IsView"  ngControl="ship_method">
                  <option value="">Select Shipment Method</option>
                  <option *ngFor="let item of shipMethod" value="{{item.key}}">{{item.value}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>BOL Type</label>
                <select name="" class="form-control" tabindex="23" [disabled]="IsView"  ngControl="bol_type">
                  <option value="0">Logisoft BOL</option>
                  <option value="1">Customer BOL</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Trailer Num </label>
                <input type="text" class="form-control" tabindex="24" [readonly]="IsView"  ngControl="trailer_num" maxlength="30">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Seal Num </label>
                <input type="text" class="form-control" tabindex="25" [readonly]="IsView"  ngControl="seal_num" maxlength="15">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>SCAC </label>
                <input type="text" class="form-control" tabindex="26" [readonly]="IsView"  ngControl="scac" maxlength="4">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Product Num </label>
                <input type="text" class="form-control" tabindex="27" [readonly]="IsView"  ngControl="pro_num" maxlength="20"
                       (keypress)="checkInputNumber($event)">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active in"><a data-toggle="tab" href="#tab-orders">Orders</a></li>
      <li *ngIf="IsView" class="in"><a data-toggle="tab" href="#tab-documents">Documents</a></li>
      <li *ngIf="IsView" class="in"><a data-toggle="tab" href="#tab-master-pallet">Master Pallet</a></li>
    </ul>
    <div class="tab-content">
      <div class="clearfix tab-pane fade active in" id="tab-orders">
        <div class="filter table-list-head clearfix">
          <div class="pull-right" *ngIf="!IsView">
            <div class="btn btn-primary" tabindex="29" (click)="renderOrdersData()"><i
              class="icon-plus"></i>Add
            </div>
            <div class="input-group pull-right">
              <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                      class="btn btn-group dropdown-toggle"
                      type="button" tabindex="30"><i class="icon-settings"></i>Action <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a (click)="removeOrdersFromOrderList('addedOrders',StatePaginAddOrder1,false)"><i
                  class="icon-trash"></i>Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-inline">
            <label>Show:</label>
            <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="28">
              <option value="20" selected>20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
        <div class="table-style1 clearfix">
          <table class="table editable table-bordered">
            <thead>
            <tr>
              <th class="column-checkbox"><input [disabled]="!addedOrders.length"
                                                 (ngModelChange)="CheckAll($event,'addedOrders',StatePaginAddOrder1,'addLocaPaginInline')"
                                                 [ngModel]="selectedAll.addedOrders" type="checkbox"/></th>
              <th>Order Number</th>
              <th>Cus Order Number</th>
              <th>Cus PO #</th>
              <th>Scheduled to Ship</th>
              <th>Cus Dept #</th>
              <th>Cus Pick #</th>
              <th># Pallets</th>
              <th># Cartons</th>
              <th>Units</th>
              <th>Weight</th>
              <th>Additional Shipper Info</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let item of addedOrders | paginate: {id :'addLocaPaginInline', itemsPerPage: perPage, currentPage:currentPagePopupLocation1 }">
              <td><input (change)="selected($event,item,'addedOrders',StatePaginAddOrder1,'addLocaPaginInline')"
                         [ngModel]="item.selected" value="{{item}}" type="checkbox"></td>
              <td class="width150"><input type="text" class="form-control" value="{{item.odr_hdr_num}}" tabindex="31"
                                          readonly="readonly"
                                          class="form-control"></td>
              <td class="width150"><input type="text" class="form-control" value="{{item.cus_odr}}" tabindex="31" readonly="readonly"
                         class="form-control"></td>
              <td><input type="text" class="form-control" value="{{item.cus_po}}" tabindex="31" readonly="readonly"
                         class="form-control"></td>
              <td><input type="text" class="form-control" value="{{item.schd_ship_dt}}" tabindex="31" readonly="readonly"
                          class="form-control"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.cus_dept" tabindex="31" [readonly]="IsView"
                         class="form-control"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.cus_ticket" tabindex="31" [readonly]="IsView"
                         class="form-control"></td>
              <td class="width80"><input type="text" class="form-control" [(ngModel)]="item.plts" tabindex="31" [readonly]="IsView"
                (keypress)="checkInputNumber($event, true)" maxlength="5" class="form-control"></td>
              <td class="width90"><input type="text" class="form-control" [(ngModel)]="item.pkgs" tabindex="31" [readonly]="IsView"
                (keypress)="checkInputNumber($event, true)" maxlength="5" class="form-control"></td>
              <td class="width60"><input type="text" class="form-control" [(ngModel)]="item.units" tabindex="31" [readonly]="IsView"
                (keypress)="checkInputNumber($event, true)" maxlength="5" class="form-control"></td>
              <td class="width70">
                <div class="form-group"
                     [class.error-style]="listNull.bol_weight_float || listNull.bol_weight_max999">
                  <input tabindex="31" maxlength="11" type="text" alt="Weight" id="bol_weight"
                         name="bol_weight" class="form-control" [disabled]="IsView"
                         (keyup)="validateNumber($event.target)"
                         (focusout)="validateNumber($event.target); filterFormFloat($event)"
                         (keypress)="checkInputNumber($event)" placeholder="" value="{{item.weight}}"
                         [(ngModel)]="item.weight">
                  <p class="error">
                    <span *ngIf="listNull.bol_weight_float">Weight Capacity is invalid</span>
                    <span *ngIf="listNull.bol_weight_max999">Max value is 99999999.99</span>
                  </p>
                </div>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="item.add_shipper_info" tabindex="31" [readonly]="IsView"
                    class="form-control">
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="11" class="no-padding">
                <pagination-controls class="pull-right color-gray"
                        (statePagin)="StatePaginAddOrder1=$event;checkCheckAll('addedOrders',StatePaginAddOrder1,'addLocaPaginInline')"
                        (pageChange)="currentPagePopupLocation1 = $event" id="addLocaPaginInline" autoHide="true">
                </pagination-controls>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>

      </div>
      <div class="clearfix tab-pane fade" id="tab-documents" *ngIf="isShowDocTab">
        <!-- <documents-upload [doc_type]="'BOL'" [trans]="bolDetailData['bo_num']"
                          [attTitle1]="'Customer'"
                          [attValue1]="cusNameforDoc"
                          [attTitle2]="'BOL Label'"
                          [attValue2]="bolDetailData['bo_label']"
        ></documents-upload> -->
        <dms-in [doc_type]="'BOL'" [group]="'BOL'" [trans]="bolDetailData['bo_num']"></dms-in>
      </div>
      <div class="clearfix tab-pane fade" id="tab-master-pallet" >
        <master-pallet-list-directive
                *ngIf="IsView"
                [bolID]="bolID"
                (messages)="messages=$event"
                (showLoadingOverlay)="showLoadingOverlay=$event"
        ></master-pallet-list-directive>
      </div>
    </div>
  </form>
  <a *ngIf="IsView" class="btn btn-outline red no-margin-left pull-left" href="#/outbound/bill-of-ladings"><i class="icon-action-undo "></i>Back</a>
  <div class="button pull-right">
    <button *ngIf="!IsView" type="button" class="btn btn-default" tabindex="34" (click)="redirectToList()"><i class="icon-close"></i>Cancel
    </button>
    <button *ngIf="IsView&&isShowBtnPrint" type="submit" class="btn btn-outline blue" tabindex="33" (click)="printBOL()"><i class="icon-printer"></i>Print PDF
    </button>
    <button *ngIf="!IsView && canFinalBOL" type="submit" class="btn btn-primary" tabindex="32" (click)="saveBOL('final')"><i class="icon-check"></i>Final
    </button>
    <button *ngIf="isNew" type="submit" class="btn btn-primary" tabindex="32" (click)="saveBOL('new')"><i class="icon-check"></i>Save
    </button>
    <button *ngIf="isEdit" type="submit" class="btn btn-primary" tabindex="32" (click)="saveBOL('new')"><i class="icon-check"></i>Update
    </button>
    <button type="button" *ngIf="IsView && bolDetailData['ship_sts'] == 'NW'" class="btn btn-primary" tabindex="32" (click)="checkPrintBOLLPN()"><i class="icon-printer"></i>Print LPNs
    </button>
  </div>
</div>
<div id="addOrder" class="modal fade" role="dialog" data-backdrop="static">
  <form>
    <div class="modal-dialog modal-lg modal-style-default">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Staging Orders</h4>
        </div>
        <div class="modal-body form-style">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Order Number</label>
                <input type="text" class="form-control" placeholder="Auto Complete" (ngModelChange)="searchOrderNumber($event)" [(ngModel)]="orderNumberFilter"/>
              </div>
            </div>
          </div>
          <div class="table-style2 clearfix">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="column-checkbox">
                  <input [disabled]="!ordersListForPopup.length"
                         (ngModelChange)="CheckAll($event,'ordersListForPopup',StatePaginAddOrder,'addLocaPagin')"
                         [ngModel]="selectedAll.ordersListForPopup" type="checkbox"/></th>
                <th>Order Number</th>
                <th>Cus Order Number</th>
                <th>Cus PO #</th>
                <th>Cus Dept #</th>
                <th>Cus Pick #</th>
                <th># Pallets</th>
                <th># Cartons</th>
                <th>Units</th>
                <th>Weight</th>
                <th>Additional Shipper Info</th>
              </tr>
              </thead>
              <tbody>
              <tr [class.row-selected]="item.selected" (click)="setClickedRow(item,'ordersListForPopup',StatePaginAddOrder,'addLocaPagin')"
                *ngFor="let item of ordersListForPopup | paginate: {id :'addLocaPagin', itemsPerPage: 20, currentPage:currentPagePopupLocation }">
                <td><input [ngModel]="item.selected" value="{{item}}" type="checkbox"></td>
                <td>{{item.odr_hdr_num}}</td>
                <td>{{item.cus_odr}}</td>
                <td>{{item.cus_po}}</td>
                <td>{{item.cus_dept}}</td>
                <td>{{item.cus_ticket}}</td>
                <td>{{item.plts}}</td>
                <td>{{item.pkgs}}</td>
                <td>{{item.units}}</td>
                <td class="width100">{{item.weight}}</td>
                <td >{{item.add_shipper_info}}</td>
              </tr>
              </tbody>
            </table>
            <p *ngIf="ordersListForPopup.length==0&&!loading['ordersListForPopup']">No Results Found.</p>
            <p *ngIf="loading['ordersListForPopup']">Loading ... </p>
            <pagination-controls
              (statePagin)="StatePaginAddOrder=$event;checkCheckAll('ordersListForPopup',StatePaginAddOrder,'addLocaPagin')"
              (pageChange)="currentPagePopupLocation = $event" id="addLocaPagin" autoHide="true">
            </pagination-controls>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right"
                  data-dismiss="modal" (click)="addOrders()"><i class="icon-plus"></i>Add
          </button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
            class="icon-close"></i>Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="add-commodity" class="modal fade" role="dialog" data-backdrop="static">
    <form class="form-horizontal form-style" [ngFormModel]="CommodityForm"
                        (ngSubmit)="SaveCommodity(CommodityForm.value)" novalidate>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="title">Add Commodity</h4>
                </div>
                <div class="modal-body form-style">
                    <!-- <form *ngIf="CommodityForm" class="form-horizontal form-style" [ngFormModel]="CommodityForm" -->
                        <!-- (ngSubmit)="Action!='View' && Save(CommodityForm.value)" novalidate> -->
                  <wms-messages [messages]="addCommodityMessage"></wms-messages>
                  <div class="col-md-4">
                                  <div class="form-group"
                                       [class.error-style]="(Cmd_name.control.touched||showErrorCommodity)&&Cmd_name.control.errors">
                                      <label>Commodity Name <span class="txt-required">(*)</span></label>
                                      <input type="text" maxlength="63" #Cmd_name="ngForm" ngControl="cmd_name" class="form-control"/>

                                      <p *ngIf="(Cmd_name.control.touched||showErrorCommodity)&&Cmd_name.control.hasError('required')"
                                         class="error">
                                          Commodity Name is required.
                                      </p>
                                      <p *ngIf="(Cmd_name.control.touched||showErrorCommodity)&&Cmd_name.control.hasError('invalidNameStr')"
                                         class="error left">
                                          Commodity Name should only contain alphanumeric, space, hyphen and underscore.
                                      </p>
                                  </div>
                              </div>
                  <div class="col-md-4">
                                  <div class="form-group" [class.error-style]="(cmd_cls.control.touched||showErrorCommodity)&&cmd_cls.control.errors">
                                      <label>Commodity Class <span class="txt-required">(*)</span></label>
                                      <input type="text" (keypress)="isNumber($event)"
                                             maxlength="3" #cmd_cls="ngForm" ngControl="cmd_cls" class="form-control" name="sku"/>
                                      <p *ngIf="(cmd_cls.control.touched||showErrorCommodity)&&cmd_cls.control.hasError('required')"
                                         class="error">
                                          Commodity Class is required.
                                      </p>
                                      <p *ngIf="(cmd_cls.control.touched||showErrorCommodity)&&cmd_cls.control.hasError('invalidCommodityClass')"
                                          class="error">
                                          Commodity Class only contains 3 digits.
                                      </p>
                                  </div>
                              </div>
                  <div class="col-md-4">
                                  <div class="form-group" [class.error-style]="(commodity_nmfc.control.touched||showErrorCommodity)&&commodity_nmfc.control.errors">
                                      <label>Commodity NMFC <span class="txt-required">(*)</span></label>
                                      <input type="text" (keypress)="isNumber($event)"
                                             maxlength="5" #commodity_nmfc="ngForm" ngControl="commodity_nmfc" class="form-control" name="size"/>
                                      <p *ngIf="(commodity_nmfc.control.touched||showErrorCommodity)&&commodity_nmfc.control.hasError('required')"
                                         class="error">
                                          Commodity NMFC is required.
                                      </p>
                                      <p *ngIf="(commodity_nmfc.control.touched||showErrorCommodity)&&commodity_nmfc.control.hasError('invalidCommodityNMFC')"
                                         class="error">
                                          Commodity NMFC only contains 5 digits.
                                      </p>
                                  </div>
                              </div>
                  <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Commodity Description</label>
                                      <textarea #cmd_des="ngForm" ngControl="cmd_des" maxlength="255" rows="3"
                                               class="form-control"></textarea>
                                  </div>
                              </div>
                </div>
                <div class="modal-footer">
                    <button  type="submit" class="btn btn-primary pull-right" ><i class="icon-check"></i>Save</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="print-bol-lpn" class="modal fade" role="dialog" data-backdrop="static">
  <form *ngIf="printBOLLPNForm" [ngFormModel]="printBOLLPNForm" novalidate>
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Print LPNs</h4>
        </div>
        <div class="modal-body form-style">
          <div class="table">
            <div class="table-style3 table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th>BOL number</th>
                  <th>Number of Pallet <span class="txt-required">(*)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{bolDetailData['bo_num']}}</td>
                  <td>
                    <div class="form-group"
                         [class.error-style]="(showErrorWapLPN ) && num_of_pallet.control.errors || num_of_pallet.control.hasError('errorNumber')">
                      <input type="text" maxlength="8"
                             #num_of_pallet="ngForm"
                             (keypress)="checkInputNumber($event)"
                             ngControl="num_of_pallet" class="form-control">

                      <p *ngIf="(showErrorWapLPN) && num_of_pallet.control.hasError('required')"
                         class="error">
                        Number of Pallet is required.
                      </p>
                      <p *ngIf="(showErrorWapLPN )&&num_of_pallet.control.hasError('isZero')&&!num_of_pallet.control.hasError('invalidNumber')"
                         class="error">
                        Number of Pallet must be greater than 0
                      </p>
                      <p *ngIf="(showErrorWapLPN )&&num_of_pallet.control.hasError('invalidNumber')"
                         class="error">
                        Number of Pallet must be number greater than 0.
                      </p>
                      <p *ngIf="num_of_pallet.control.hasError('errorNumber')"
                         class="error">
                        Data is invalid.Number of Pallet must be an integer number.
                      </p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-primary pull-right" (click)="printBOLLPN()"><i class="icon-check"></i>Print</button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<!--poup create Delivery Service-->
<div id="add-delivery-service" *ngIf="createDeliveryService" class="modal fade" role="dialog" data-backdrop="static">

  <div class="modal-dialog modal-style-default">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="title">Add Delivery Service</h4>
      </div>
      <div class="modal-body form-style">
        <wms-messages [messages]="messages_delivery"></wms-messages>
        <delivery-service-form (data)="closeDeliveryPopup()" (showLoadingOverlay)="showLoadingOverlay=$event" [template]="'style2'" [submitFormCustom]="submitDeliveryData" (messages)="messages_delivery=$event" (data)="getDeliveryService()"></delivery-service-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right" (click)="_submitDeliveryData()"><i class="icon-plus"></i>Add
        </button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close
        </button>
      </div>

    </div>
  </div>

</div>
<third-party-form-directive *ngIf="bOLForm"
                            (messages)="messages=$event"
                            [cusId]="bOLForm.value['cus_id']"
                            [action]="'add'"
                            [openForm]="openFormThirdParty">
</third-party-form-directive>
