<table-structure
    [title]="title"
    [parentComponent]="tableComponent"
    [searches]="searches"
    [tableID]="tableID"
    [headerURL]="headerURL"
    [headerDef]="headerDef"
    [pinCols]="pinCols"
    [rowData]="rowData"
    [Pagination]="Pagination"
    [perPage]="perPage"
    [dataExport]="dataExport"
    [downloadName]="downloadName"
    [messages]="messages">

</table-structure>

<add></add>

<confirm-popup
    (onConfirm)="onConfirm($event)">

</confirm-popup>

<alert-popup></alert-popup>