<div class="top-layout clearfix">
  <h2>{{TitlePage}}</h2>
  <ol class="breadcrumb">
    <li><a href="#/dashboard">Home</a></li>
    <li><a href="#/users">User Management</a></li>
    <li class="active">{{action}}</li>
  </ol>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <form class="form-horizontal form-style" [ngFormModel]="userForm" (ngSubmit)="submitForm(userForm.value)"
        novalidate>
    <div class="area-block clearfix">
      <div class="row">
        <div class="col-md-2" *ngIf="action != 'new'">
          <div class="form-group">
            <label>User ID</label>
            <input tabindex="0" type="text" maxlength="11" #user_id="ngForm" ngControl="user_id"
                   class="form-control"
                   readonly>
          </div>
        </div>
        <div class="col-md-2" *ngIf="action != 'new'">
          <div class="form-group">
            <label>Username</label>
            <input tabindex="2" type="text" maxlength="50" #username="ngForm" ngControl="username"
                   class="form-control"
                   required [readonly]="isView || action =='edit'">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group"
               [class.error-style]="(emp_code.control.touched||showError)&&emp_code.control.hasError('required')">
            <label>Employee ID <span class="txt-required">(*)</span></label>
            <input tabindex="2" type="text" maxlength="20" #emp_code="ngForm" ngControl="emp_code"
                   class="form-control"
                   required [readonly]="isView">
            <p *ngIf="(emp_code.control.touched||showError)&&emp_code.control.hasError('required')"
               class="error">
              Employee ID is required.
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group"
               [class.error-style]="(first_name.control.touched||showError)&&first_name.control.hasError('required')">
            <label>First Name <span class="txt-required">(*)</span></label>
            <input tabindex="3" type="text" maxlength="35" #first_name="ngForm" ngControl="first_name"
                   class="form-control"
                   required [readonly]="isView">
            <p *ngIf="(first_name.control.touched||showError)&&first_name.control.hasError('required')"
               class="error">
              First Name is required.
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group"
               [class.error-style]="(last_name.control.touched||showError)&&last_name.control.hasError('required')">
            <label>Last Name <span class="txt-required">(*)</span></label>
            <input tabindex="4" type="text" maxlength="35" #last_name="ngForm" ngControl="last_name"
                   class="form-control"
                   required [readonly]="isView">
            <p *ngIf="(last_name.control.touched||showError)&&last_name.control.hasError('required')"
               class="error">
              Last Name is required.
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group"
               [class.error-style]="(email.control.touched||showError)&&(email.control.hasError('required')||email.control.hasError('invalidEmailAddress'))">
            <label>Email <span class="txt-required">(*)</span></label>
            <input tabindex="5" type="text" maxlength="64" #email="ngForm" ngControl="email"
                   class="form-control"
                   required
                   [readonly]="isView">
            <p *ngIf="(email.control.touched||showError)&&email.control.hasError('required')"
               class="error">
              Email is required.
            </p>
            <p
              *ngIf="(email.control.touched||showError)&&!email.control.hasError('required')&&email.control.hasError('invalidEmailAddress')"
              class="error">
              Email is invalid.
            </p>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group"
               [class.error-style]="(status.control.touched||showError)&&status.control.hasError('required')">
            <label>Status <span class="txt-required">(*)</span></label>
            <select tabindex="6" #status='ngForm' class="form-control" ngControl="status"
                    [disabled]="isView">
              <option value="" selected="">Please select Status</option>
              <option value="AC">Active</option>
              <option value="IA">InActive</option>
              <option value="LO">Locked</option>
            </select>
            <p *ngIf="(status.control.touched||showError)&&status.control.hasError('required')"
               class="error">
              Status is required.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group"
               [class.error-style]="(off_loc.control.touched||showError)&&off_loc.control.hasError('required')">
            <label>Office Location <span class="txt-required">(*)</span></label>
            <input tabindex="7" type="text" maxlength="50" #off_loc="ngForm" ngControl="off_loc"
                   class="form-control"
                   required [readonly]="isView">
            <p *ngIf="(off_loc.control.touched||showError)&&off_loc.control.hasError('required')"
               class="error">
              Office Location is required.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group"
               [class.error-style]="(usr_dpm_id.control.touched||showError)&&usr_dpm_id.control.hasError('required')">
            <label>Dept <span class="txt-required">(*)</span></label>
            <select tabindex="8" #usr_dpm_id='ngForm' class="form-control" ngControl="usr_dpm_id"
                    [disabled]="isView">
              <option value="" selected="">Please select department</option>
              <option *ngFor="let item of departments" value="{{item.usr_dpm_id}}">{{item.usr_dpm_name}}</option>
            </select>
            <p *ngIf="(usr_dpm_id.control.touched||showError)&&usr_dpm_id.control.hasError('required')"
               class="error">
              Dept is required.
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group"
               [class.error-style]="(phone.control.touched||showError)&&phone.control.hasError('required')">
            <label>Phone Number<span class="txt-required">(*)</span></label>
            <input tabindex="9" type="text" maxlength="20" #phone="ngForm" ngControl="phone"
                   class="form-control"
                   required
                   [readonly]="isView">
            <p *ngIf="(phone.control.touched||showError)&&phone.control.hasError('required')" class="error">
              Phone Number is required.
            </p>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Extension</label>
            <input tabindex="10" type="text" maxlength="5" class="form-control" ngControl="phone_extend"
                   [readonly]="isView">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [class.error-style]="">
            <label>Mobile</label>
            <input tabindex="11" type="text" maxlength="20" class="form-control" ngControl="mobile"
                   [readonly]="isView">
            <p *ngIf=""
               class="error">
            </p>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tabWarehouse" tabindex="11">
          Warehouse
          <span *ngIf="showError&&!addedWarehouses.length" class="txt-required"><i class="fa fa-warning"></i></span>
          <span *ngIf="showError&&addedWarehouses.length" class="icon-done"><i class="fa fa-check"></i></span>
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#tabCustomer" tabindex="14">
          Customer
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#tabRoles" tabindex="17">
          Roles
                    <span *ngIf="showError&&!addedRoles.length" class="txt-required"><i
                      class="fa fa-warning"></i></span>
          <span *ngIf="showError&&addedRoles.length" class="icon-done"><i class="fa fa-check"></i></span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="clearfix tab-pane fade active in" id="tabWarehouse">
        <div class="table-list-head clearfix" *ngIf="action!='view'">
          <div class="form-inline pull-left" *ngIf="addedWarehouses.length > 0">
            <label>Show</label>
            <select (change)="onPageSizeChanged($event, 'warehouse')" class="form-control" tabindex="12">
              <option value="20" selected>20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="input-group pull-right">
            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                    class="btn btn-group dropdown-toggle"
                    type="button" tabindex="13"><i class="icon-settings"></i>Action <span
              class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <!-- <li><a (click)="deleteWarehouses()">Delete</a></li> -->
              <li><a (click)="Delete('addedWarehouses','warehouse',false)"><i class="icon-trash"></i>Delete</a>
              </li>
            </ul>
          </div>
          <div class="pull-right">
            <a tabindex="12" class="btn btn-primary" data-toggle="modal" data-target="#addWarehouse"
               (click)="getPopupWarehouses()"><i class="icon-plus"
            ></i>Add Warehouse</a>
          </div>
        </div>
        <div class="table-style1 clearfix">
          <table class="table table-hover table-bordered" id="added-warehouses">
            <thead>
            <tr>
              <th class="column-checkbox">
                <!-- <input type="checkbox" (click)="toggleCheckAll($event)"></th> -->
                <input [disabled]="!addedWarehouses.length"
                       (ngModelChange)="CheckAll($event,'addedWarehouses',StatePaginAddWarehouse1,'addWarehousePaginInline')"
                       [ngModel]="selectedAll.addedWarehouses" type="checkbox"/>
              <th class="col-md-2">Warehouse Code</th>
              <th class="col-md-2">Warehouse Name</th>
              <th class="col-md-2">Contact Name</th>
              <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let item of addedWarehouses | orderBy:['whs_code']  | paginate: {id :'addWarehousePaginInline', itemsPerPage: warehousePerPage, currentPage: currentPageWarehouse };">
              <td>
                <!-- <input type="checkbox" class="{{item.whs_code}}" (click)="checkCheckAll($event)"> -->
                <input
                  (change)="Selected($event,item,'addedWarehouses',StatePaginAddWarehouse1,'addWarehousePaginInline')"
                  [ngModel]="item?.selected" value="{{item}}" type="checkbox">
              </td>
              <td class="whs-code">{{item.whs_code}}</td>
              <td>{{item.whs_name}}</td>
              <td>{{item.whs_contact.whs_con_fname + ' ' + item.whs_contact.whs_con_lname}}</td>
              <td>{{item.whs_contact.whs_con_phone}}</td>
            </tr>
            </tbody>
          </table>
          <span *ngIf="addedWarehouses.length==0">No Results Found.</span>

        </div>
        <div class="pull-right">
          <div class="showing pull-left">
            <pagination-controls
              (statePagin)="StatePaginAddWarehouse1=$event;checkCheckAll('addedWarehouses',StatePaginAddWarehouse1,'addWarehousePaginInline')"
              (pageChange)="currentPageWarehouse = $event" id="addWarehousePaginInline"
              autoHide="true">
            </pagination-controls>
          </div>
        </div>
        <goBack *ngIf="isView"></goBack>
      </div>
      <div class="clearfix tab-pane fade" id="tabCustomer">
        <div class="table-list-head clearfix" *ngIf="action!='view'">
          <div class="form-inline pull-left" *ngIf="addedCustomers.length > 0">
            <label>Show</label>
            <select (change)="onPageSizeChanged($event, 'customer')" class="form-control" tabindex="15">
              <option value="20" selected>20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="input-group pull-right">
            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                    class="btn btn-group dropdown-toggle"
                    type="button" tabindex="16"><i class="icon-settings"></i>Action <span
              class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <!-- <li><a (click)="deleteCustomer()">Delete</a></li> -->
              <li><a (click)="Delete('addedCustomers','customer',false)"><i class="icon-trash"></i>Delete</a>
              </li>
            </ul>
          </div>
          <div class="pull-right">
            <a class="btn btn-primary" data-toggle="modal" data-target="#addCustomer"
               (click)="getPopupCustomers()" tabindex="15"><i class="icon-plus"></i>Add Customer</a>
          </div>
        </div>
        <div class="table-style1 clearfix">
          <table class="table" id="added-customers">
            <thead>
            <tr>
              <th class="column-checkbox">
                <!-- <input type="checkbox" (click)="toggleCheckAll($event)"></th> -->
                <input [disabled]="!addedCustomers.length"
                       (ngModelChange)="CheckAll($event,'addedCustomers',StatePaginAddCustomer1,'addCustomerPaginInline')"
                       [ngModel]="selectedAll.addedCustomers" type="checkbox"/>
              <th class="col-md-2">Customer Code</th>
              <th class="col-md-2">Name</th>
              <th class="col-md-2">Warehouse Code</th>
              <th>Description</th>
              <th>Contact Name</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let item of addedCustomers | paginate: {id :'addCustomerPaginInline', itemsPerPage: customerPerPage, currentPage: currentPageCustomer };">
              <td>
                <!-- <input type="checkbox" class="{{item.cus_id + '--' + item.whs_id}}" (click)="checkCheckAll($event)"> -->
                <input (change)="Selected($event,item,'addedCustomers',StatePaginAddCustomer1,'addCustomerPaginInline')"
                       [ngModel]="item?.selected" value="{{item}}" type="checkbox">
              </td>
              <td>{{item.cus_code}}</td>
              <td>{{item.cus_name}}</td>
              <td class="whs-code">{{item.whs_code}}</td>
              <td>{{item.cus_des}}</td>
              <td>{{item.cus_ctt_full_name}}</td>
              <td>{{item.cus_ctt_phone}}</td>
              <td>{{item.cus_ctt_email}}</td>
            </tr>
            </tbody>
          </table>
          <span *ngIf="addedCustomers.length==0">No Results Found.</span>
        </div>
        <div class="pull-right">
          <div class="showing pull-left">
            <pagination-controls
              (statePagin)="StatePaginAddCustomer1=$event;checkCheckAll('addedCustomers',StatePaginAddCustomer1,'addCustomerPaginInline')"
              (pageChange)="currentPageCustomer = $event" id="addCustomerPaginInline"
              autoHide="true">
            </pagination-controls>
          </div>
        </div>
        <goBack *ngIf="isView"></goBack>

      </div>
      <div class="clearfix tab-pane fade" id="tabRoles">
        <div class="filter table-list-head clearfix">
          <div class="form-inline pull-left" *ngIf="addedRoles.length > 0">
            <label>Show</label>
            <select (change)="onPageSizeChanged($event, 'zone')" class="form-control" tabindex="17">
              <option value="20" selected>20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="pull-right" *ngIf="action!='view'">
            <div class="btn btn-primary" data-toggle="modal" data-target="#addRoles"
                 (click)="getPopupRoles()" tabindex="17"><i class="icon-plus"></i>
              Add Role
            </div>
            <div class="input-group pull-right">
              <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                      class="btn btn-group dropdown-toggle"
                      type="button" tabindex="18"><i class="icon-settings"></i>Action <span
                class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!-- <li ><a (click)="deleteRoles()">Delete</a></li> -->
                <li><a (click)="Delete('addedRoles','role',false)"><i class="icon-trash"></i>Delete</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="table-style1 clearfix">
          <table class="table table-bordered table-hover" id="added-roles">
            <thead>
            <tr>
              <th class="column-checkbox">
                <!-- <input type="checkbox" (click)="toggleCheckAll($event)"></th> -->
                <input [disabled]="!addedRoles.length"
                       (ngModelChange)="CheckAll($event,'addedRoles',StatePaginAddRole1,'addRolePaginInline')"
                       [ngModel]="selectedAll.addedRoles" type="checkbox"/>
              <th class="col-md-2">Role Code</th>
              <th class="col-md-2">Role Name</th>
              <th>Role Description</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let item of addedRoles | paginate: {id :'addRolePaginInline', itemsPerPage: rolePerPage, currentPage: currentPageRole }">
              <td>
                <input (change)="Selected($event,item,'addedRoles',StatePaginAddRole1,'addRolePaginInline')"
                       [ngModel]="item?.selected" value="{{item}}" type="checkbox">
                <!-- <input type="checkbox" id={{i}} class="{{item.name}}" (click)="checkCheckAll($event)"> -->
              </td>
              <td class="role-code">{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
            </tr>
            </tbody>
          </table>
          <span *ngIf="addedRoles.length==0">No Results Found.</span>
        </div>
        <div class="pull-right">
          <div class="showing pull-left">
            <pagination-controls
              (statePagin)="StatePaginAddRole1=$event;checkCheckAll('addedRoles',StatePaginAddRole1,'addRolePaginInline')"
              (pageChange)="currentPageRole = $event" id="addRolePaginInline" autoHide="true">
            </pagination-controls>
          </div>
        </div>
        <goBack *ngIf="isView"></goBack>

      </div>
    </div>
    <div class="button pull-right" *ngIf="action!='view'">
      <button type="submit" class="btn btn-primary pull-right" tabindex="19"><i class="icon-check"></i>{{actionText}}
      </button>
      <button type="button" class="btn btn-default pull-right" (click)="cancel()" tabindex="20"><i
        class="icon-close"></i>Cancel
      </button>
    </div>
  </form>
</div>

<div id="addRoles" class="modal fade" role="dialog">
  <form>
    <div class="modal-dialog modal-style-default">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Roles</h4>
        </div>
        <div class="modal-body form-style">
          <div class="form-group">
            <!-- <input type="text" class="form-control input-filter" placeholder="Role name" id="role-name-filter" /> -->
            <label>Role Code</label>
            <input type="text" class="form-control input-filter"
                   (ngModelChange)="searchRoleCode($event)" [(ngModel)]="roleCodeFilter"/>
          </div>
          <div class="table-style2">
            <table class="table table-bordered" id="all-role">
              <thead>
              <tr>
                <th class="column-checkbox">
                  <!-- <input type="checkbox" (click)="toggleCheckAll($event)" /> -->
                  <input [disabled]="!allRoles.length"
                         (ngModelChange)="CheckAll($event,'allRoles',StatePaginAddRole,'addRolePagin')"
                         [ngModel]="selectedAll.allRoles" id='ck-first' type="checkbox"/>
                </th>
                <th>Role Code</th>
                <th>Role Name</th>
                <th>Role Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let item of allRoles | paginate: {id :'addRolePagin', itemsPerPage: 20, currentPage:currentPagePopupRole } ;let i = index">
                <td>
                  <!-- <input type="checkbox" class="{{item.name}}" (click)="checkCheckAll($event)"> -->
                  <input (change)="Selected($event,item,'allRoles',StatePaginAddRole,'addRolePagin')"
                         [ngModel]="item?.selected" value="{{item}}" type="checkbox">
                </td>
                <td>{{item.code}}</td>
                <td class="role-name">{{item.name}}</td>
                <td>{{item.description}}</td>
              </tr>
              </tbody>
            </table>
            <span *ngIf="allRoles.length==0">No Results Found.</span>
            <pagination-controls
              (statePagin)="StatePaginAddRole=$event;checkCheckAll('allRoles',StatePaginAddRole,'addRolePagin')"
              (pageChange)="currentPagePopupRole = $event" id="addRolePagin" autoHide="true">
            </pagination-controls>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                  (click)="addRolesToUser()"><i
            class="icon-plus"></i>Add
          </button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
            class="icon-close"></i>Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="addWarehouse" class="modal fade" role="dialog">
  <form>
    <div class="modal-dialog modal-style-default">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Warehouse</h4>
        </div>
        <div class="modal-body form-style">
          <div class="form-group">
            <!-- <input type="text" class="form-control input-filter" placeholder="Warehouse code" id="warehouse-code-filter" /> -->
            <label>Warehouse Code</label>
            <input type="text" class="form-control input-filter"
                   (ngModelChange)="searchWarehouseCode($event)" [(ngModel)]="warehouseCodeFilter"/>
          </div>
          <div class="table-style2">
            <table class="table table-bordered table-hover" id="all-warehouses">
              <thead>
              <tr>
                <th class="column-checkbox">
                  <!-- <input type="checkbox" (click)="toggleCheckAll($event)"/></th> -->
                  <input [disabled]="!allWarehouses.length"
                         (ngModelChange)="CheckAll($event,'allWarehouses',StatePaginAddWarehouse,'addWarehousePagin')"
                         [ngModel]="selectedAll.allWarehouses" id='ck-first' type="checkbox"/>
                <th>Warehouse Code</th>
                <th>Warehouse Name</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let item of allWarehouses | orderBy:['whs_code'] | paginate: {id :'addWarehousePagin', itemsPerPage: 20, currentPage:currentPagePopupWarehouse };">
                <td>
                  <!-- <input type="checkbox" class="{{whs.whs_code}}" (click)="checkCheckAll($event)"> -->
                  <input (change)="Selected($event,item,'allWarehouses',StatePaginAddWarehouse,'addWarehousePagin')"
                         [ngModel]="item?.selected" value="{{item}}" type="checkbox">
                </td>
                <td class="whs-code col-md-4">{{item.whs_code}}</td>
                <td>{{item.whs_name}}</td>
              </tr>
              </tbody>
            </table>
            <span *ngIf="allWarehouses.length==0">No Results Found.</span>
            <div class="margin-top">
              <pagination-controls
                (statePagin)="StatePaginAddWarehouse=$event;checkCheckAll('allWarehouses',StatePaginAddWarehouse,'addWarehousePagin')"
                (pageChange)="currentPagePopupWarehouse = $event" id="addWarehousePagin"
                autoHide="true">
              </pagination-controls>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary  pull-right" data-dismiss="modal"
                  (click)="addWarehousesToUser()">
            <i class="icon-plus"></i>Add
          </button>
          <button type="button" class="btn btn-default  pull-right" data-dismiss="modal"><i
            class="icon-close"></i>Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="addCustomer" class="modal fade" role="dialog">
  <form>
    <div class="modal-dialog modal-style-default">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Customer</h4>
        </div>
        <div class="modal-body form-style">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <!-- <input type="text" class="form-control input-filter" placeholder="Customer code" id="customer-code-filter" /> -->
                <label>Customer Code</label>
                <input id="customer-code-filter" type="text" class="form-control input-filter"
                       (ngModelChange)="searchCustomerCode($event)"
                       [(ngModel)]="customerCodeFilter"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Select Warehouse</label>
                <select class="form-control" (change)="getCustomerByWarehouse($event)">
                  <option value="">Select one value</option>
                  <option *ngFor="let item of addedWarehouses | orderBy:['whs_code'];"
                          value="{{item.whs_id}}"
                          class="{{item.whs_code}}">
                    {{item.whs_name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="table-style2">
            <table class="table table-bordered" id="customer-by-warehouse">
              <thead>
              <tr>
                <th class="column-checkbox">
                  <!-- <input type="checkbox" (click)="toggleCheckAll($event)" /></th> -->
                  <input [disabled]="!allCustomerByWarehouse.length"
                         (ngModelChange)="CheckAll($event,'allCustomerByWarehouse',StatePaginAddCustomer,'addCustomerPagin')"
                         [ngModel]="selectedAll.allCustomerByWarehouse" id='ck-first'
                         type="checkbox"/>
                <th>Customer Code</th>
                <th>Customer Name</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let item of allCustomerByWarehouse | orderBy:['cus_code'] | paginate: {id :'addCustomerPagin', itemsPerPage: 20, currentPage:currentPagePopupCustomer };">
                <td>
                  <!-- <input type="checkbox" class="{{item.cus_id}}" (click)="checkCheckAll($event)"> -->
                  <input
                    (change)="Selected($event,item,'allCustomerByWarehouse',StatePaginAddCustomer,'addCustomerPagin')"
                    [ngModel]="item?.selected" value="{{item}}" type="checkbox">
                </td>
                <td class="cus-code">{{item.cus_code}}</td>
                <td>{{item.cus_name}}</td>
                <td>{{item.cus_des}}</td>
              </tr>
              </tbody>
            </table>
            <p *ngIf="loadCustomerByWarehouse">Loading...</p>
            <span *ngIf="allCustomerByWarehouse.length==0&&!loadCustomerByWarehouse">No Results Found.</span>
            <div class="margin-top">
              <pagination-controls
                (statePagin)="StatePaginAddCustomer=$event;checkCheckAll('allCustomerByWarehouse',StatePaginAddCustomer,'addCustomerPagin')"
                (pageChange)="currentPagePopupCustomer = $event" id="addCustomerPagin"
                autoHide="true">
              </pagination-controls>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                  (click)="addCustomersToUser()"><i
            class="icon-plus"></i>Add
          </button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
            class="icon-close"></i>Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>


