<div class="top-layout clearfix">
    <h2>Import Inventory</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" [ngFormModel]="importForm" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="form-group col-md-2"
                     [class.error-style]="(cus_id.control.touched||imported)&&cus_id.control.hasError('required')">
                    <label>Customers <span class="txt-required">(*)</span></label>
                    <select class="form-control" ngControl="cus_id" #cus_id="ngForm" tabindex="1">
                        <option value="">Please select customer</option>
                        <option *ngFor="let cus of customers" [value]="cus.cus_id">{{cus.cus_name}}</option>
                    </select>
                    <p *ngIf="(cus_id.control.touched||imported)&&cus_id.control.hasError('required')"
                       class="error">
                        Customer is required.
                    </p>
                </div>
            </div>
            <div class="form-group file-input">
                <label for="inventory-file-input">File input (maximum 10.000 rows)</label>
                <input type="file" #itemFileView (change)="changeInventoryFile($event)" name="files" id="inventory-file-input" tabindex="2">
                <button class="btn btn-primary float-none" (click)="importFile()" tabindex="3" [disabled]="!itemFileView.value">Import</button>
                <span *ngIf="importLoading"><img src="/assets/images/loading.gif" alt=""></span>
                <label><a href="/assets/doc/Inventory_Template.xlsx?v=1.6" target="_blank" tabindex="4">Download Template</a></label>
            </div>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
