<div class="top-layout clearfix">
  <h2>Location List</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <!-- <div class="alert alert-{{messages?.status}}" *ngIf="messages?.status">
    {{messages?.txt}}
  </div> -->
  <div class="search-form  seven-column">
    <form class="clearfix form-inline" id="form-filter" (submit)="search()">
      <div class="form-group">
        <label>Location Code</label>
        <input type="text" class="form-control" name="loc_code" placeholder="Multiple" tabindex="1">
      </div>
      <!-- <div class="form-group">
        <label>Alternative name</label>
        <input type="text" class="form-control" name="loc_alternative_name" placeholder="Multiple" tabindex="2">
      </div> -->
      <div class="form-group">
        <label>Location Type</label>
        <select type="text" placeholder="Form" class="form-control" name="loc_type_id" tabindex="3">
          <option value = "">All</option>
          <option *ngFor = "let item of dataListLocaType" value="{{item.loc_type_id}}">{{item.loc_type_name}}</option>
        </select>
      </div>
      <!--<div class="form-group">-->
      <!--<label>Zone Type</label>-->
      <!--<select type="text" placeholder="Form" class="form-control" name="zone_type_id">-->
      <!--<option value = "">&#45;&#45;Zone Type&#45;&#45;</option>-->
      <!--<option *ngFor = "let item of dataListZoneType" value="{{item.zone_type_id}}">{{item.zone_type_name}}</option>-->
      <!--</select>-->
      <!--</div>-->
      <div class="form-group">
        <label>Zone</label>
        <select type="text" placeholder="Form" class="form-control" name="loc_zone_id" tabindex="4">
          <option value = "">All</option>
          <option value = "empty">Unassigned location</option>
          <option *ngFor = "let item of dataListZone" value="{{item.zone_id}}">{{item.zone_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>RFID</label>
        <input type="text" class="form-control" name="rfid" tabindex="5">
      </div>

      <div class="form-group">
        <label>Special Handling</label>
        <select class="form-control" name="spc_hdl_code" tabindex="6">
            <option value="">All</option>
            <option *ngFor = "let item of arrSpecialHandling" value="{{item.key}}">{{item.name}}</option>
        </select>
    </div>
      <div class="btn-toolbar pull-left margin-top23">
        <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="8"><i class="icon-close"></i>Reset</button>
        <button type="submit" class="btn btn-outline blue" tabindex="7"><i class="icon-magnifier"></i>Search</button>
      </div>
    </form>
  </div>
  <div *ngIf = "hasImport" class="form-group file-input area-block">
    <label for="exampleInputFile">File input (maximum 10.000 locations)</label>
    <input type="file" class="" (change) = "fileChangeEvent($event)" name = "files" id="exampleInputFile" tabindex="9">
    <span class="btn btn-primary float-none" (click) = "doUpload()" *ngIf="filesToUpload.length" tabindex="9">Generate</span>
    <span *ngIf="importLoading"><img src="/assets/images/loading.gif" alt=""></span>
    <label><a href="/assets/doc/Location_Template.xlsx?v=1.8" target="_blank" tabindex="9">Download Template</a></label>
  </div>
  <div class="table">
    <div class="filter clearfix table-list-head">
      <div *ngIf = "hasChangeStatusBtn || hasEditBtn || hasCreateBtn" class="pull-right">
        <div *ngIf = "hasCreateBtn" class="btn btn-primary" (click) = "add()" tabindex="11"><i class="icon-plus"></i>Add</div>
        <div class="input-group pull-right" *ngIf = "hasChangeStatusBtn || hasEditBtn">
          <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle"
                  type="button" tabindex="12"><i class="icon-settings" ></i>Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li *ngIf = "hasChangeStatusBtn"><a (click) = "changeStatus($event)"><i class="icon-refresh"></i>Change Status</a></li>
            <li *ngIf = "hasEditBtn"><a (click) = "edit()"><i class="icon-note"></i>Edit</a></li>
            <li *ngIf="hasEditBtn"><a (click)="printBarcode()"><i class="icon-printer"></i>Print Barcode</a></li>
            <!--<li><a (click) = "delete()">Delete</a></li>-->
          </ul>
        </div>
      </div>
      <div class="form-inline">
        <label>Show</label>
        <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="10">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
          <i class="icon-size-fullscreen"></i>
        </a>
      </div>
    </div>
    <!-- <div class="table-style1 table-responsive">
      <table class="table table-hover table-bordered" id = "w-content-per">
        <thead>
        <tr>
          <th class="column-checkbox"><input type="checkbox" (click) = "ck_all($event)" id="ck-first"></th>
          <th>Location Code</th>
          <th>Alternative name</th>
          <th>Type</th>
          <th>Width</th>
          <th>Length</th>
          <th>Height</th>
          <th>Available Capacity %</th>
          <th>Weight Capacity</th>
          <th>Min Count</th>
          <th>Max Count</th>
          <th>Zone</th>
          <th>Status</th>
          <th>Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let item of dataListLoca;  let i = index">
          <td><input type="checkbox" (click) = "flag_ck_all ($event)" alt = "{{i}}" value = "{{item.loc_id}}" ></td>
          <td><a href="#/system-setup/location/{{item.loc_id}}">{{item.loc_code}}</a></td>
          <td>{{item.loc_alternative_name}}</td>
          <td>{{item.loc_type_name}}</td>
          <td>{{item.loc_width}}</td>
          <td>{{item.loc_length}}</td>
          <td>{{item.loc_height}}</td>
          <td>{{item.loc_available_capacity}}%</td>
          <td>{{item.loc_weight_capacity}}</td>
          <td>{{item.loc_min_count}}</td>
          <td>{{item.loc_max_count}}</td>
          <td>{{item.loc_zone_name}}</td>
          <td><a data-toggle="modal" (click) = "viewStatus($event)" id = "loc-{{item.loc_id}}" name = '{{i}}'>{{item.loc_sts_code_name}}</a></td>
          <td id = "loc-{{item.loc_id}}-reason">{{item.loc_sts_dtl_reason}}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf = "flagLoading2">Loading...</div>
      <div *ngIf = "dataListLoca.length < 1 && !flagLoading2">No Results Found.</div>
    </div> -->
    <div class="table-style1 table-responsive">
      <advance-table [tableID]="tableID"
                     [headerURL]="headerURL"
                     [headerDef]="headerDef"
                     [pinCols]="pinCols"
                     [rowData]="rowData"
                     [refreshRowData]="refreshRowData"
                     [getSelectedRow]="getSelectedRow"
                     [expandTable]="expandTable"
                     (returnSelectedRow)="afterGetSelectedRow($event)"
                     (cellClicked)="onCellClicked($event)"
                     (sort)="doSort($event)"
      ></advance-table>
    </div>

    <div class="pull-right">
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="filterList($event)">
      </wms-pagination>
    </div>
  </div>
</div>
<view-location-status [dataItemLocaView] = "dataItemLocaView" ></view-location-status>
<change-location-status [dataItemLoca] = "dataItemLoca"
                        [messagesChangeStatus] = "messagesChangeStatus"
                        (saveChangeStatus) = "saveChangeStatus($event)">

</change-location-status>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
