<div class="area-block clearfix">
<form *ngIf="LaborCostForm" class="form-horizontal form-style" [ngFormModel]="LaborCostForm"
      (ngSubmit)="Save()" novalidate>


    <table class="table table-bordered">

        <thead>
            <tr>
            <th></th>
            <th>Quoted Amount</th>
            <th>Actual Amount</th>
           </tr>
        </thead>

        <tbody ngControlGroup="data">

            <tr *ngFor="let item of items;let i=index" ngControlGroup="{{i}}">
                <td>
                    <input type="hidden" ngControl="urgency" #Label="ngForm">
                    <span *ngIf="Label.control.value=='rush'">Rush Amount</span>
                    <span *ngIf="Label.control.value=='labor'">Labor Amount</span>
                    <span *ngIf="Label.control.value=='overtime'">Over Time Amount</span>
                </td>
                <td>
                    <div class="form-group"
                         [class.error-style]="(Expected_amount.control.touched||submitForm)&&(Actual_amount.control.value&&!Expected_amount.control.value||Expected_amount.control.hasError('invalidDecimalNumber'))">
                        <input type="text" (keypress)="checkInputNumber($event)" tabindex="1" maxlength="9"  #Expected_amount="ngForm" ngControl="expected_amount" class="form-control"/>

                        <p *ngIf="(Expected_amount.control.touched||submitForm)&&Actual_amount.control.value&&!Expected_amount.control.value"
                           class="error">
                            Quoted  Amount is required.
                        </p>
                        <p *ngIf="(Expected_amount.control.touched||showError)&&Expected_amount.control.hasError('invalidDecimalNumber')"
                           class="error">
                            Quoted  Amount is invalid. Maximum is 999999.99
                        </p>
                    </div>
                </td>

                <td>
                    <div class="form-group"
                         [class.error-style]="(Actual_amount.control.touched||submitForm)&&(!Actual_amount.control.value&&Expected_amount.control.value||Actual_amount.control.hasError('invalidDecimalNumber'))">
                        <input type="text" (keypress)="checkInputNumber($event)" tabindex="1" maxlength="9"  #Actual_amount="ngForm" ngControl="actual_amount" class="form-control"/>

                        <p *ngIf="(Actual_amount.control.touched||submitForm)&&!Actual_amount.control.value&&Expected_amount.control.value"
                           class="error">
                            Actual Amount is required.
                        </p>
                        <p *ngIf="(Actual_amount.control.touched||showError)&&Actual_amount.control.hasError('invalidDecimalNumber')"
                           class="error">
                            Actual Amount is invalid. Maximum is 999999.99
                        </p>
                    </div>
                </td>

            </tr>

        </tbody>

    </table>


    <div class="button pull-right  margin-top">
        <button type="submit" class="btn btn-primary"><i class="icon-check"></i>Save
        </button>
    </div>



</form>
    </div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>