<div class="top-layout clearfix">
<h2>Country List</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
          <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
          <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <div class="search-form six-column">
        <form class="clearfix form-inline" id="form-filter" [ngFormModel]="searchForm"  (submit)="search(searchForm.value)">
            <div class="form-group">
                <label>Country Code</label>
                <input tabindex="1" type="text" maxlength="10" class="form-control" placeholder="" ngControl="sys_country_code" name="country-code"/>
            </div>
            <div class="form-group">
                <label>Country Name</label>
                <input tabindex="2" type="text" maxlength="50" class="form-control" placeholder="" ngControl="sys_country_name" name="country-name"/>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="resetSearch(searchForm.value)" tabindex="4"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue" tabindex="3"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/master-data/country/new" tabindex="6"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="7"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="editSelectedItem()"><i class="icon-note"></i>Edit</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-4 no-padding">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="column-checkbox"><input type="checkbox" (change)="checkAll($event)" [(ngModel)]="selectedAll"></th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['sys_country_code']&&countClick['sys_country_code']!=3" [class.sorting-asc]="FieldsToSortFlag['sys_country_code']&&countClick['sys_country_code']!=3" [class.sorting]="countClick['sys_country_code']==3" (click)="sort('sys_country_code')">Country Code</th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['sys_country_name']&&countClick['sys_country_name']!=3" [class.sorting-asc]="FieldsToSortFlag['sys_country_name']&&countClick['sys_country_name']!=3" [class.sorting]="countClick['sys_country_name']==3" (click)="sort('sys_country_name')">Country Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of countryList" [class.row-selected]="item.selected" (click)="checkSelectItem(item)">
                    <td><input type="checkbox" value="{{item.sys_country_id}}" [ngModel]="item?.selected"></td>
                    <td class=""><a href="#/master-data/country/{{item.sys_country_id}}">{{item.sys_country_code
                        }}</a></td>
                    <td class="">{{item.sys_country_name}}</td>
                </tr>
                </tbody>
            </table>
            <p *ngIf="countryList.length==0&&!loading.getCountry">No Results Found.</p>
            <p *ngIf="countryList.length==0&&loading.getCountry">Loading ...
            </div>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
        <!--<div class="pull-left export">-->
        <!--<label class="label-export">Export to:</label>-->
        <!--<a (click)="exportCsv()" class="csv"></a>-->
        <!--<a class="pdf" (click)="exportPdf()"></a>-->
        <!--</div>-->
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>

