<div class="table-style2 table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>WV#</th>
            <th>Customer</th>
            <th *ngIf = "_flag == 1">Carton RFID</th>
            <th *ngIf = "_flag != 1">Carton Number</th>
            <th>LPN</th>
            <th>SKU</th>
            <th>Lot</th>
            <th>UOM</th>
            <th>Pack</th>
            <th>Picked Location</th>
            <th>QTY</th>
            <th>Picked At</th>
            <th>Picked By</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
            <td>{{item['wv_num']}}</td>
            <td>{{item['cus_name']}}</td>
            <td *ngIf = "_flag == 1">{{item['ctn_rfid']}}</td>
            <td *ngIf = "_flag != 1">{{item['ctn_num']}}</td>
            <td>{{item['plt_num']}}</td>
            <td>{{item['sku']}}</td>
            <td>{{item['lot']}}</td>
            <td>{{item['uom_name']}}</td>
            <td>{{item['pack']}}</td>
            <td>{{item['loc_code']}}</td>
            <td>{{item['piece_qty']}}</td>
            <td>{{item['picked_at']}}</td>
            <td>{{item['picked_by']}}</td>
        </tr>
        </tbody>
    </table>
    <p *ngIf="data.length==0">No Results Found.</p>
    <div class="pull-right color-gray">
        <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="_getRFIDUnsignedCarton($event)"
        ></wms-pagination>
    </div>
</div>