<div *ngIf="isVisible" class="modal fade show in danger" id="{{data.id}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content {{data.hasOwnProperty('class_name') ? data.class_name : ''}}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        (click)="hideInfo()">&times;</button>
                <h4 class="modal-title dialogTitle">{{data.title}}</h4>
            </div>

            <div class="modal-body">

                <div *ngFor="let item of data.items; let count = index" style="padding-right: 0px;">

                    <div class="popup-info {{data.hasOwnProperty('caption_class') ? data.caption_class : ''}}">
                        {{item.caption}}
                        <span class="mandatory-asterisk red">
                            {{data.items[count].hasOwnProperty('mandatory') && data.items[count].mandatory ? '(*)' : ''}}
                        </span>
                    </div>

                    <div class="popup-info {{data.hasOwnProperty('value_class') ? data.value_class : ''}}">

                        <select *ngIf="data.items[count].hasOwnProperty('dropdown')"
                                name="{{item.name}}" class="form-control {{data.items[count].hasOwnProperty('class_name') ? data.items[count].class_name : ''}}">
                            <option value="">All</option>
                            <option *ngFor="let option of data.items[count].dropdown.source | orderBy : ['value']"
                                    value="{{option.key}}">
                                {{option.value}}
                            </option>
                        </select>

                        <input *ngIf="! item.hasOwnProperty('dropdown')
                                   && ! item.hasOwnProperty('datePicker')
                                   && ! item.hasOwnProperty('step')"
                               class="{{item.hasOwnProperty('class_name') ? item.class_name : ''}}"
                               attr.maxlength="{{item.hasOwnProperty('max_length') ? item.max_length : null}}"
                               name="{{item.name}}" placeholder="" type="text"
                               value="{{item.hasOwnProperty('value') ? item.value : null}}"/>

                        <input *ngIf="! item.hasOwnProperty('dropdown')
                                   && ! item.hasOwnProperty('datePicker')
                                   && item.hasOwnProperty('step')"
                               class="{{item.hasOwnProperty('class_name') ? item.class_name : ''}}"
                               name="{{item.name}}" placeholder="" type="number"
                               step="{{item.step}}"
                               min="{{item.hasOwnProperty('min') ? item.min : null}}"
                               max="{{item.hasOwnProperty('max') ? item.max : null}}"
                               value="{{item.hasOwnProperty('value') ? item.value : null}}"/>

                        <span *ngIf="! item.hasOwnProperty('dropdown')
                                  && item.hasOwnProperty('datePicker')">
                            <input class="{{item.hasOwnProperty('class_name') ? item.class_name : ''}}"
                                   type="text" maxlength="10" autocomplete="off"
                                   attr.data-date-format="{{item.hasOwnProperty('data_date_format') ? item.data_date_format : 'yyyy-mm-dd'}}"
                                   data-provide="datepicker" name="{{item.name}}"
                                   value="{{item.hasOwnProperty('value') ? item.value : null}}">
                            <span class="icon-calendar {{item.hasOwnProperty('class_name') ? item.class_name : ''}}"
                                  aria-hidden="true">
                            </span>
                        </span>

                    </div>
                </div>
                <br>
                <wms-messages [messages]="messages"></wms-messages>
                <button class="btn btn-primary pull-right" (click)="submitInfo()">
                    <i class="icon-note"></i>Submit
                </button>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay">
    <img src="/assets/images/spinner.gif" alt="">
</div>

<alert-popup></alert-popup>

<confirm-popup
        (onConfirm)="onConfirm($event)">
</confirm-popup>
