<div class="top-layout clearfix">
<h2>User List</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block user-management">
  <wms-messages [messages]="messages"></wms-messages>
<div class="search-form eight-column">
  <form class="clearfix" id="form-filter" (submit)="search()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" tabindex="1" >
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [(ngModel)]="first_name" name = "first_name" tabindex="2" >
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control"   [(ngModel)]="last_name" name = "last_name" tabindex="3">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [(ngModel)]="email" name = "email" tabindex="4">
    </div>
    <!-- <div class="form-group has-feedback">
      <label>Created date</label>
        <input type="text" class="form-control"  [(ngModel)]="created_at" name = "created_at" aria-describedby="" data-provide="datepicker">
      <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
    </div> -->
    <div class="form-group">
      <label>Status</label>
      <select  class="form-control" name = "status" placeholder="Status" tabindex="5">
        <option value="" class="no-value">ALL</option>
        <option value="AC">Active</option>
        <option value="IA">Inactive</option>
        <option value="LO">Locked</option>
      </select>
    </div>
    <div class="form-group">
      <label>Roles</label>
      <select   class="form-control" name = "role_name" placeholder="Roles" tabindex="5">
        <option value="" class="no-value">ALL</option>
        <option *ngFor="let item of dataRoleList" value="{{item.name}}">{{item.name}}</option>
      </select>
    </div>
    <div class="btn-toolbar pull-left margin-top23">
      <button type="button" class="btn btn-outline gray" (click) = "reset()" tabindex="6"><i class="icon-close"></i>Reset</button>
      <button type="submit" class="btn btn-outline blue" tabindex="5"><i class="icon-magnifier"></i>Search</button>
    </div>
  </form>

</div>

<div class="table user-list">
    <div class="filter clearfix table-list-head">
      <div class="pull-right">
        <a *ngIf="hasCreateUserPermission" class="btn btn-primary" href="#/users/new" tabindex="8"><i class="icon-plus"></i>Add User</a>
        <div class="input-group pull-right" *ngIf="hasEditUserPermission">
        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle"
                type="button" tabindex="9"><i class="icon-settings"></i>Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ><a (click)="edit()"><i class="icon-note"></i>Edit</a></li>
          <li *ngIf="hasResetPasswordPermission"><a (click)="resetPassword()"><i class="icon-lock"></i>Reset Password</a></li>
        </ul>
      </div>
      </div>
      <div class="form-inline">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="7">
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
            <i class="icon-size-fullscreen"></i>
        </a>
      </div>

    </div>
    <div class="table-style1 table-responsive">
      <advance-table [tableID]="tableID"
        [headerURL]="headerURL"
        [headerDef]="headerDef"
        [pinCols]="pinCols"
        [rowData]="rowData"
        [getSelectedRow]="getSelectedRow"
        [expandTable]="expandTable"
        (returnSelectedRow)="afterGetSelectedRow($event)"
        (cellClicked)="onCellClicked($event)"
        (sort)="doSort($event)"
      ></advance-table>
    </div>

    <div class="pull-right">
      <wms-pagination
        [perPage]="perPage"
        [paginData]="Pagination"
        (pageChange)="filterList($event)">
      </wms-pagination>
    </div>
    <div class="pull-left export" *ngIf="rowData">
      <label class="label-export">Export to:</label>
      <a (click)="exportCsv()" class="csv"></a>
      <a class="pdf" (click)="exportPdf()"></a>
    </div>
</div>
</div>
<div class="modal fade resetPasswordModal" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" id="loadingContent"><h4 class="modal-title">Reset password</h4></div>
      <div class="modal-body">
        <p><i>(*) Password must contain at least 8 characters, 1 lowercase character, 1 uppercase character, 1 number, 1 special character.</i></p>
        <form class=" form-style">
          <div *ngIf="resetPasswordMsgs['err'].length > 0">
            <div class="alert alert-danger" *ngFor="let message of resetPasswordMsgs['err']">
              <a (click)="removeMsgs(message)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message}}
            </div>
          </div>
          <div class="alert alert-success" *ngIf="resetPasswordMsgs['success'] != ''">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{resetPasswordMsgs['success']}}
          </div>
          <div class="form-group">
            <label>User name: <span class="margin-left">{{objResetPassword.username}}</span></label>
          </div>
          <div class="form-group">
            <label>First name: <span class="margin-left">{{objResetPassword.first_name}}</span></label>
          </div>
          <div class="form-group">
            <label>Last name: <span class="margin-left">{{objResetPassword.last_name}}</span></label>
          </div>
          <div class="form-group">
            <label>Email: <span class="margin-left" style="margin-left: 38px;">{{objResetPassword.email}}</span></label>
          </div>
          <div class="form-group">
            <label>New Password <span class="txt-required">(*)</span> </label>
            <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPass"
                   autocomplete="off" minlength="8" maxlength="32" required>
          </div>
          <div class="form-group has-feedback">
            <label>Confirm New Password <span class="txt-required">(*)</span> </label>
            <input type="password" class="form-control" id="confirmNewPassword" [(ngModel)]="confirmNewPass"
                   autocomplete="off" minlength="8" maxlength="32" required>
            <span *ngIf="newPass==confirmNewPass && newPass != '' && newPass.length > 7"
                  class="glyphicon glyphicon-ok form-control-feedback greenCheck" aria-hidden="true" style="line-height: 1 !important;"></span>
          </div>
          <div class="btn-toolbar">
            <a type="submit" class="btn btn-outline blue pull-right" (click)="saveResetPassword()">
              <i class="icon-check"></i>Reset password</a>
            <a class="btn btn-default pull-right margin-left" data-dismiss="modal" (click)="closePopup()">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
