
          <!-- / message -->
          <wms-messages [messages]="messages"></wms-messages>


            <h4>GR List</h4>
            <div class="rf-table-style">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>GR#</th>
                  <th>#SKUs</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let item of GRList">
                  <td><a (click)="viewDetailGR(item)">{{item.gr_hdr_num}}</a></td>
                  <td>{{item.sku}}</td>
                  <td class="text-success">
                    <i *ngIf="item.status=='DONE'" class="ico-check"></i>
                    <i *ngIf="item.status=='IN'" class="ico-1cycle"></i>
                    <i *ngIf="item.status=='NOT'" class="ico-0cycle"></i>
                  </td>
                </tr>

                </tbody>
              </table>

              <p *ngIf="GRList.length==0&&!showLoadingOverlay">No Results Found.</p>

              <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="getGRList($event)"
              ></wms-pagination>

            </div>


        <!-- pop loading -->
        <div *ngIf="showLoadingOverlay" class="loading-overlay loading-overlay-mb"><img src="/assets/images/loading-color.gif" alt=""></div>
