<div *ngIf="messages" class="col-mg-12">
  <div class="alert alert-{{messages.status}}">
    <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
    <span [innerHTML]="messages.txt"></span>
  </div>
</div>
<div class="filter clearfix">
  <div class="pull-right">
    <a class="btn btn-success pull-left margin-left"  href="#/system-setup/customer/new">Add</a>
    <div class="input-group pull-right margin-left">
      <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
              class="btn btn-group dropdown-toggle"
              type="button">Action <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="Edit()">Edit</a></li>
        <!--<li><a (click)="Delete()">Delete</a></li>-->
      </ul>
    </div>
  </div>
  <div class="form-inline">
    <label>Show:</label>
    <select (change)="onPageSizeChanged($event)" class="form-control">
      <option value="20" selected>20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
  </div>
</div>
<div class="table-style1 table-responsive">

  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th class="column-checkbox"><input (ngModelChange)="CheckAll($event)" [(ngModel)]="selectedAll" type="checkbox"></th>
      <th *ngFor="let th of _listTableHead;let i=index">{{th}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of _listTableData;let i=index">
      <td *ngFor="let itemCell of _listItemShow; let ix=index ;">
        <input *ngIf="ix==0"  type="checkbox" value="{{item[itemCell]}}" (change)="Selected($event)" [ngModel]="item?.selected">
        <a *ngIf="ix==1" href="#{{_urlCRU}}/{{item[_fieldId]}}">{{item[itemCell]}} {{item?.selected}}</a>
        <span *ngIf="ix>1&&CheckArray2D(itemCell)">{{item[showArray2D(itemCell)[1]][showArray2D(itemCell)[2]]}}</span>
        <span *ngIf="ix>1&&!CheckArray2D(itemCell)">{{item[itemCell]}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p *ngIf="_listTableData.length==0&&!Loading.getList">No Results Found.</p>
<p *ngIf="_listTableData.length==0&&Loading?.getList">Loading ... </p>
<div *ngIf="_pagination" class="pull-right">
  <div class="showing pull-left">
    Showing {{_listTableData?.length}} of total {{_pagination.total}}
  </div>

  <ul *ngIf="_pagination.total_pages > 1" class="pagination pull-right">
    <li *ngIf="_pagination.current_page > _pagination.numLinks">
      <a (click) = "filterList(1)"><i class="fa fa-step-backward"></i></a>
    </li>
    <li *ngIf="_pagination.current_page > 1">
      <a (click) = "filterList(_pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
    </li>
    <li *ngFor="let item of _pagination.tmpPageCount; " class="active" [class.active]="item==_pagination.current_page">
      <a *ngIf="item != _pagination.current_page"  (click) = "filterList(item)">{{item}}</a>
      <a *ngIf="item == _pagination.current_page">{{item}}</a>
    </li>

    <li *ngIf="_pagination.current_page < _pagination.total_pages">
      <a (click) = "filterList(_pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
    </li>
    <li *ngIf="(_pagination.current_page + _pagination.numLinks) < _pagination.total_pages">
      <a (click) = "filterList(_pagination.total_pages)"><i class="fa fa-step-forward"></i> </a>
    </li>

  </ul>
</div>
<!--<div class="pull-left export">-->
<!--<label class="label-export">Export to:</label>-->
<!--<a (click)="exportCsv()" class="csv"></a>-->
<!--<a class="pdf" (click)="exportPdf()"></a>-->
<!--</div>-->
