ul.report-block > li .area-block{padding: 0}
ul.report-block > li h3{border-bottom:1px solid #ddd;padding:8px;color:#012147;margin: 0; font-size: 13px; text-transform: uppercase; font-weight: 600;}
ul.report-block li ul{padding: 10px;height: 250px; overflow-y:auto;list-style: none}
ul.report-block li ul li i{color: #717171;font-size: 14px}