<div class="report-block">
    <div class="area-block2 alert-style" [ngClass]="{'capacity-expansion': capacity?.details?.length > 1}">
        <p *ngIf="!capacity.zone_name"><b>Capacity:</b><b class="margin-left">{{capacity}}</b></p>
        <p *ngIf="capacity.zone_name">
            <b>Capacity:</b>
            <b class="margin-left">Zone <a class="red-link" href="#/system-setup/zone/{{capacity?.zone_id}}">{{capacity?.zone_name}}</a> is {{capacity?.per_full}}% full</b>
            <a *ngIf="capacity?.details?.length > 1" class="view-more-link" href="#" data-toggle="modal" data-target="#alert-bar-capacity-detail">View more</a>
        </p>
    </div>
    <div class="area-block2 alert-style">
        <p>
            <b>Critical ASN Late:</b>
            <b *ngIf="alertBarInfo.asn_late === 'None'" class="margin-left">{{alertBarInfo?.asn_late}}</b>
            <b *ngIf="alertBarInfo.asn_late !== 'None'" class="margin-left"><a class="dark-blue-link" (click)="redirectPage('/inbound/asn', 'asn_late=1')">{{alertBarInfo?.asn_late}}</a></b>
        </p>
    </div>
    <div class="area-block2 alert-style">
        <p>
            <span>
                <b>Critical Items BO:</b>
                <b *ngIf="alertBarInfo.items_bo === 'None'" class="margin-left">{{alertBarInfo?.items_bo}}</b>
                <b *ngIf="alertBarInfo.items_bo !== 'None'" class="margin-left"><a class="orange-link" (click)="redirectPage('/outbound/order', 'item_bo=1')">{{alertBarInfo?.items_bo}}</a></b>
            </span>
        </p>
    </div>
    <div class="area-block2 alert-style">
        <p>
            <b>Critical Orders Late:</b>
            <b *ngIf="alertBarInfo.orders_late === 'None'" class="margin-left">{{alertBarInfo?.orders_late}}</b>
            <b *ngIf="alertBarInfo.orders_late !== 'None'" class="margin-left"><a class="blue-link" (click)="redirectPage('/outbound/order', 'order_late=1')">{{alertBarInfo?.orders_late}}</a></b>
        </p>
    </div>
    <div class="area-block2 alert-style">
        <p>
            <b>Cycle Count:</b>
            <b *ngIf="alertBarInfo.cycle_count_notify === 'None'" class="margin-left">{{alertBarInfo?.cycle_count_notify}}</b>
            <b *ngIf="alertBarInfo.cycle_count_notify !== 'None'" class="margin-left"><a class="dark-blue-link" (click)="redirectPage('/cycle-count', 'dashboard=1')">{{alertBarInfo?.cycle_count_notify}}</a></b>
        </p>
    </div>
    <div class="area-block2 alert-style">
        <p>
            <b>Non-interactive Orders:</b>
            <b *ngIf="alertBarInfo.non_interactive_orders === 'None'" class="margin-left">{{alertBarInfo?.non_interactive_orders}}</b>
            <b *ngIf="alertBarInfo.non_interactive_orders !== 'None'" class="margin-left"><a class="orange-link" (click)="redirectPage('/outbound/order', 'non_interactive_ord=1')">{{alertBarInfo?.non_interactive_orders}}</a></b>
        </p>
    </div>
</div>
<div id="alert-bar-capacity-detail" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-style-default modal-wh">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zone Capacity Alert</h4>
            </div>
            <div class="modal-body form-style">
                <div class="table">
                    <div class="table-style2 table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th><strong>Zone</strong></th>
                                <th><strong>Occupancy</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of capacity.details">
                                <td>{{item?.zone_name}}</td>
                                <td>{{item?.per_full}}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>