<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix">
    <wms-messages [messages]="messages"></wms-messages>
    <form *ngIf="CommodityForm" class="form-horizontal form-style" [ngFormModel]="CommodityForm"
          (ngSubmit)="Action!='View' && Save(CommodityForm.value)" novalidate>
        <div class="area-block clearfix">
             <div class="col-md-6">
            <div class="row form-area">

                <div class="col-md-4">
                    <div class="form-group"
                         [class.error-style]="(Cmd_name.control.touched||submitForm)&&Cmd_name.control.errors">
                        <label>Commodity Name <span *ngIf="!IsView"
                                                    class="txt-required">(*)</span></label>
                        <input type="text" tabindex="1" maxlength="63" [readonly]="IsView" #Cmd_name="ngForm" ngControl="cmd_name" class="form-control"/>

                        <p *ngIf="(Cmd_name.control.touched||submitForm)&&Cmd_name.control.hasError('required')"
                           class="error">
                            Commodity Name is required.
                        </p>
                        <p *ngIf="(Cmd_name.control.touched||submitForm)&&Cmd_name.control.hasError('invalidNameStr')"
                           class="error">
                            Commodity Name should only contain alphanumeric, space, hyphen and underscore.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="form-group" [class.error-style]="(cmd_cls.control.touched||submitForm)&&cmd_cls.control.errors">
                        <label>Commodity Class <span *ngIf="!IsView"
                                                    class="txt-required">(*)</span></label>
                        <input type="text" tabindex="2" (keypress)="isNumber($event)"
                               maxlength="3" [readonly]="IsView" #cmd_cls="ngForm" ngControl="cmd_cls" class="form-control" name="sku"/>
                        <p *ngIf="(cmd_cls.control.touched||submitForm)&&cmd_cls.control.hasError('required')"
                           class="error">
                            Commodity Class is required.
                        </p>
                        <p *ngIf="(cmd_cls.control.touched||submitForm)&&cmd_cls.control.hasError('invalidCommodityClass')"
                           class="error">
                            Commodity Class only contains 3 digits.
                        </p>
                    </div>

                </div>


                <div class="col-md-4">


                    <div class="form-group" [class.error-style]="(commodity_nmfc.control.touched||submitForm)&&commodity_nmfc.control.errors">
                        <label>Commodity NMFC <span *ngIf="!IsView"
                                                    class="txt-required">(*)</span></label>
                        <input type="text" tabindex="3" (keypress)="isNumber($event)"
                               maxlength="5" [readonly]="IsView" #commodity_nmfc="ngForm" ngControl="commodity_nmfc" class="form-control" name="size"/>
                        <p *ngIf="(commodity_nmfc.control.touched||submitForm)&&commodity_nmfc.control.hasError('required')"
                           class="error">
                            Commodity NMFC is required.
                        </p>
                        <p *ngIf="(commodity_nmfc.control.touched||submitForm)&&commodity_nmfc.control.hasError('invalidCommodityNMFC')"
                           class="error">
                            Commodity NMFC only contains 5 digits.
                        </p>
                    </div>

                </div>

                <div class="col-md-12">

                    <div class="form-group">
                        <label>Commodity Description</label>
                        <textarea tabindex="4" #cmd_des="ngForm" ngControl="cmd_des" maxlength="255" rows="3"
                                  [readonly]="IsView" class="form-control"></textarea>
                    </div>


                </div>

            </div>

            <div *ngIf="Action!=='view'" class="button pull-right">
                <button type="button" (click)="cancel()" tabindex="6" class="btn btn-default"><i class="icon-close"></i>Cancel
                </button>
                <button *ngIf="Action=='edit'" tabindex="5" type="submit" class="btn btn-primary"><i class="icon-check"></i>Update
                </button>
                <button *ngIf="Action=='new'" tabindex="5" type="submit" class="btn btn-primary"><i class="icon-check"></i>Save
                </button>
            </div>

             </div>


        </div>
    </form>
    <goBack *ngIf="Action=='view'"></goBack>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
