<date-buttons>
    <div id="open-orders-date-buttons">
        <button class="btn {{isFirst ? 'btn-primary' : 'btn-outline'}} blue"
            *ngFor="let item of dateButtons; let isFirst = first"
            (click)="onFilterButtonClick($event.target.innerText)">
            {{item}}
        </button>
        <div></div>
    </div>
</date-buttons>