<div class="top-layout clearfix">
    <h2>Dashboard</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix dashboard-style" *ngIf="isShownDashboard">
    <div class="search-form">
        <div class="form-inline">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio0" value="0" checked
                       (change)="loadDashboard($event.target.value)">
                Today
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2"
                       (change)="loadDashboard($event.target.value)">
                2 days
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="7"
                       (change)="loadDashboard($event.target.value)">
                7 days
            </label>
        </div>
    </div>
    <div class="nav report-block">
        <div class="area-block2 block-border" *ngIf="dashboardData && dashboardData?.asns && dashboardData?.putawayAadmin">
            <h3 class="color-primary">Inbound</h3>
            <table class="table table-style2">
                <thead>
                <tr>
                    <th  class="nowrap">New ASN</th>
                    <th>Receiving</th>
                    <th>Received</th>
                    <th class="nowrap">Put away</th>
                    <th>Putting</th>
                    <th class="nowrap">Put already</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a *ngIf="dashboardData?.asns?.newAsn" (click)="redirectPage('inbound/asn', 'asn_sts[]=NW')"><span class="number-color">{{dashboardData?.asns?.newAsn}}</span></a>
                        <span *ngIf="!dashboardData?.asns?.newAsn" class="number-color">{{dashboardData?.asns?.newAsn}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.asns?.receiving" (click)="redirectPage('inbound/asn', 'asn_sts[]=RG')"><span class="number-color">{{dashboardData?.asns?.receiving}}</span></a>
                        <span *ngIf="!dashboardData?.asns?.receiving" class="number-color">{{dashboardData?.asns?.receiving}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.asns?.received" (click)="redirectPage('inbound/asn', 'asn_sts[]=RE')"><span class="number-color">{{dashboardData?.asns?.received}}</span></a>
                        <span *ngIf="!dashboardData?.asns?.received" class="number-color">{{dashboardData?.asns?.received}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.putawayAadmin?.putaway" (click)="redirectPage('goods-receipt', 'dashboard_putaway=putaway')"><span class="number-color">{{dashboardData?.putawayAadmin?.putaway}}</span></a>
                        <span *ngIf="!dashboardData?.putawayAadmin?.putaway" class="number-color">{{dashboardData?.putawayAadmin?.putaway}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.putawayAadmin?.putting" (click)="redirectPage('goods-receipt', 'dashboard_putaway=putting')"><span class="number-color">{{dashboardData?.putawayAadmin?.putting}}</span></a>
                        <span *ngIf="!dashboardData?.putawayAadmin?.putting" class="number-color">{{dashboardData?.putawayAadmin?.putting}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.putawayAadmin?.putAlready" (click)="redirectPage('goods-receipt', 'dashboard_putaway=already')"><span class="number-color">{{dashboardData?.putawayAadmin?.putAlready}}</span></a>
                        <span *ngIf="!dashboardData?.putawayAadmin?.putAlready" class="number-color">{{dashboardData?.putawayAadmin?.putAlready}}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="area-block2 block-border" *ngIf="dashboardData && dashboardData.orders && dashboardData.inprocess">
            <h3 class="color-danger">Outbound</h3>
            <table class="table table-style2 ">
                <thead>
                <tr>
                    <th>New</th>
                    <th class="nowrap">Back Order</th>
                    <th>Allocated</th>
                    <th>Picking</th>
                    <th>Picked</th>
                    <th>Packing</th>
                    <th>Packed</th>
                    <th class="nowrap">Ready to ship</th>
                    <th class="nowrap">Scheduled To Ship </th>
                    <th class="nowrap">Shipped</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a *ngIf="dashboardData?.orders?.newOrders" (click)="redirectPage('outbound/order', 'dashboard_status=new')"><span class="number-color">{{dashboardData?.orders?.newOrders}}</span></a>
                        <span *ngIf="!dashboardData?.orders?.newOrders" class="number-color">{{dashboardData?.orders?.newOrders}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.orders?.backOrders" (click)="redirectPage('outbound/order', 'dashboard_status=back')"><span class="number-color">{{dashboardData?.orders?.backOrders}}</span></a>
                        <span *ngIf="!dashboardData?.orders?.backOrders" class="number-color">{{dashboardData?.orders?.backOrders}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.inprocess?.allocated" (click)="redirectPage('outbound/order', 'inprocess_status=allocated')"><span class="number-color">{{dashboardData?.inprocess?.allocated}}</span></a>
                        <span *ngIf="!dashboardData?.inprocess?.allocated" class="number-color">{{dashboardData?.inprocess?.allocated}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.inprocess?.picking" (click)="redirectPage('outbound/order','inprocess_status=picking')"><span class="number-color">{{dashboardData?.inprocess?.picking}}</span></a>
                        <span *ngIf="!dashboardData?.inprocess?.picking" class="number-color">{{dashboardData?.inprocess?.picking}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.inprocess?.picked" (click)="redirectPage('outbound/order', 'inprocess_status=picked')"><span class="number-color">{{dashboardData?.inprocess?.picked}}</span></a>
                        <span *ngIf="!dashboardData?.inprocess?.picked" class="number-color">{{dashboardData?.inprocess?.picked}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.inprocess?.packing" (click)="redirectPage('outbound/order', 'inprocess_status=packing')"><span class="number-color">{{dashboardData?.inprocess?.packing}}</span></a>
                        <span *ngIf="!dashboardData?.inprocess?.packing" class="number-color">{{dashboardData?.inprocess?.packing}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.inprocess?.packed" (click)="redirectPage('outbound/order', 'inprocess_status=packed')"><span class="number-color">{{dashboardData?.inprocess?.packed}}</span></a>
                        <span *ngIf="!dashboardData?.inprocess?.packed" class="number-color">{{dashboardData?.inprocess?.packed}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.orders?.orderReadyToShip" (click)="redirectPage('outbound/order', 'dashboard_status=readyToShip')"><span class="number-color">{{dashboardData?.orders?.orderReadyToShip}}</span></a>
                        <span *ngIf="!dashboardData?.orders?.orderReadyToShip" class="number-color">{{dashboardData?.orders?.orderReadyToShip}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.orders?.orderScheduledToShip" (click)="redirectPage('outbound/order', 'dashboard_status=scheduledToShip')"><span class="number-color">{{dashboardData?.orders?.orderScheduledToShip}}</span></a>
                        <span *ngIf="!dashboardData?.orders?.orderScheduledToShip" class="number-color">{{dashboardData?.orders?.orderScheduledToShip}}</span>
                    </td>
                    <td>
                        <a *ngIf="dashboardData?.orders?.shippedOrders" (click)="redirectPage('outbound/order', 'dashboard_status=shipped')"><span class="number-color">{{dashboardData?.orders?.shippedOrders}}</span></a>
                        <span *ngIf="!dashboardData?.orders?.shippedOrders" class="number-color">{{dashboardData?.orders?.shippedOrders}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="layout-block clearfix dashboard-style2">
    <!-- <div class="area-block1" *ngIf="canAccessRoom">
        <room-capacity-dashboard [currentWHSId]="whsId"></room-capacity-dashboard>
    </div> -->

    <div class="area-block2" *ngIf="canZoneCapacity">
        <zone-capacity-dashboard [currentWHSId]="whsId"></zone-capacity-dashboard>
    </div>

    <div class="area-block2" *ngIf="canOccupancyPCT">
        <occupancy-pct-dashboard [currentWHSId]="whsId" (showLoading)="showLoading($event)"></occupancy-pct-dashboard>
    </div>

    <div class="area-block1" *ngIf="canAccessProduct">
        <histogram-capacity-chart [currentWHSId]="whsId"></histogram-capacity-chart>
    </div>

    <div class="area-block1" *ngIf="canAccessProduct">
        <wavepick-dashboard [currentWHSId]="whsId"></wavepick-dashboard>
    </div>

    <div class="area-block1" *ngIf="canCycleCount">
        <cycle-count-dashboard [currentWHSId]="whsId"></cycle-count-dashboard>
    </div>

    <!--<div class="area-block1" *ngIf="canAccessProduct">-->
        <!--<financial-revenue [currentWHSId]="whsId"></financial-revenue>-->
    <!--</div>-->
    
    <div class="area-block2" *ngIf="true">
        <storage-aging-cus-dashboard [currentWHSId]="whsId" (showLoading)="showLoading($event)"></storage-aging-cus-dashboard>
    </div>

    <div class="area-block2" *ngIf="true">
        <storage-aging-sku-dashboard [currentWHSId]="whsId" (showLoading)="showLoading($event)"></storage-aging-sku-dashboard>
    </div>
</div>
<div class="layout-block clearfix dashboard-style no-padding-top">
    <h3 class="color-active">Alert Bar</h3>
    <alert-bar-dashboard [currentWHSId]="whsId"></alert-bar-dashboard>
</div>    
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
