<div class="input-group" *ngIf="style=='default'">
    <input [class.greenbg] = "data_used.length > 0" (click)="showPopupLocForm(data_used,'view')"
           placeholder="Click to view detail {{data_used.length > 0 ? 'of ' + data_used.length + ' location(s)': ''}}"
           class="form-control" readonly="" type="text">
    <div class="input-group-btn">
        <button [attr.disabled]="disabled ? true : null" class="btn btn-add-more" (click)="showPopupLocForm([],'add')" data-toggle="modal" tabindex="10" type="button"><i class="fa fa-plus-circle"></i>
        </button>
    </div>
</div>

<div id="locations_popup" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{action == 'add' ? 'Add Locations' : 'View Locations'}}</h4>
                </div>
                <div class="modal-body form-style">

                    <wms-messages [messages]="messagesRemove"></wms-messages>
                    <div *ngIf="action == 'add'" class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="locationCodeFilter" (ngModelChange)="autocompleteForLocation()" class="form-control" placeholder="Location code" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="dropdown dropdown-autosearch">
                                    <span class="waiting" *ngIf="isLoading['aisle']">
                                        <img src="/assets/images/loading.gif">
                                    </span>
                                    <input type="text" maxlength="50" tabindex="2" placeholder="Aisle autocomplete..."
                                        (keyup)="autocompleteLocation($event, 'loc-aisle', 'aisle')" [(ngModel)]="aisleFilter"
                                        class="form-control dropdown-toggle" data-toggle="dropdown" />
                                    <div tabindex="-1" class="dropdown-menu list-group" *ngIf="autocompleteData['aisle']?.length > 0">
                                        <a tabindex="-1" class="list-group-item nowrap" (click)="selectItem('aisle', item)"
                                            *ngFor="let item of autocompleteData['aisle']">
                                            {{item.aisle}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="dropdown dropdown-autosearch">
                                    <span class="waiting" *ngIf="isLoading['row']">
                                        <img src="/assets/images/loading.gif">
                                    </span>
                                    <input type="text" maxlength="50" tabindex="2" placeholder="Section autocomplete..."
                                        (keyup)="autocompleteLocation($event, 'loc-row', 'row')" [(ngModel)]="rowFilter"
                                        class="form-control dropdown-toggle" data-toggle="dropdown" />
                                    <div tabindex="-1" class="dropdown-menu list-group" *ngIf="autocompleteData['row']?.length > 0">
                                        <a tabindex="-1" class="list-group-item nowrap" (click)="selectItem('row', item)"
                                            *ngFor="let item of autocompleteData['row']">
                                            {{item.row}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="dropdown dropdown-autosearch">
                                    <span class="waiting" *ngIf="isLoading['level']">
                                        <img src="/assets/images/loading.gif">
                                    </span>
                                    <input type="text" maxlength="50" tabindex="2" placeholder="Level autocomplete..."
                                        (keyup)="autocompleteLocation($event, 'loc-level', 'level')" [(ngModel)]="levelFilter"
                                        class="form-control dropdown-toggle" data-toggle="dropdown" />
                                    <div tabindex="-1" class="dropdown-menu list-group" *ngIf="autocompleteData['level']?.length > 0">
                                        <a tabindex="-1" class="list-group-item nowrap" (click)="selectItem('level', item)"
                                            *ngFor="let item of autocompleteData['level']">
                                            {{item.level}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button tabindex="10" type="button" class="btn btn-outline gray" (click)="reset()"><i class="icon-close"></i>Reset
                            </button>
                            <button type="button" class="btn btn-outline blue" (click)="getLocation()"><i class="icon-magnifier"></i>Search
                            </button>
                        </div>
                    </div>

                    <div class="form-inline pull-left">
                        <label>Show:</label>
                        <select class="form-control"
                                (change)="onPageSizeChanged($event)">
                            <option value="20" selected>20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>

                    <div class="table-style3 has-overlay-loading">

                        <table class="table table-bordered " id="w-content-per">
                            <thead>
                            <tr>
                                <th class="column-checkbox">
                                    <input *ngIf="action == 'view'"
                                            (ngModelChange)="CheckAll($event,StatePaginAddLocation,'addLocaPagin')"
                                            [(ngModel)]="selectedAllPage"  type="checkbox"/>
                                    <input *ngIf="action == 'add'" [ngModel]="locationList['checkAll']" (change)="checkedAll($event)"  type="checkbox"/>
                                </th>
                                <th [class.sorting-desc]="!FieldsToSortFlag['loc_code']&&countClick['loc_code']!=3"
                                    [class.sorting-asc]="FieldsToSortFlag['loc_code']&&countClick['loc_code']!=3"
                                    [class.sorting]="countClick['loc_code']==3" (click)="sort('loc_code')">Location Code</th>
                                <th>Location Alternative Name</th>
                                <th>Location Type</th>
                                <th>Min Count</th>
                                <th>Max Count</th>
                                <th>Aisle</th>
                                <th>Section</th>
                                <th>Level</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr (click)="setClickedRow(item)" [class.row-selected]="item.selected"
                            *ngFor="let item of locationList['data']
                           | paginate: {id :'addLocaPagin', itemsPerPage: perPage, currentPage:currentPagePopupLocation }
                           ;let i = index; trackBy: index">
                                <td>
                                    <input *ngIf="action == 'add'" [ngModel]="item.selected" (change)="checkedItem(item,$event)"  type="checkbox">

                                    <input *ngIf="action == 'view'" (ngModelChange)="Selected(StatePaginAddLocation,'addLocaPagin')"
                                           [(ngModel)]="item.selected" type="checkbox">
                                </td>
                                <td class="loc-code nowrap">{{item.loc_code}}</td>
                                <td>{{item.loc_alternative_name}}</td>
                                <td>{{item.loc_type_name}}</td>
                                <td>{{item.loc_min_count}}</td>
                                <td>{{item.loc_max_count}}</td>
                                <td>{{item.aisle}}</td>
                                <td>{{item.row}}</td>
                                <td>{{item.level}}</td>
                                <td>{{item.loc_sts_code_name}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <p *ngIf="locationList?.data?.length==0&&!loading">No Results Found.</p>



                        <div class="pull-right margin-top">

                            <wms-pagination
                                    *ngIf="Pagination&& action == 'add'"
                                    [perPage]="perPage"
                                    [paginData]="Pagination"
                                    (pageChange)="getLocation($event)"
                            ></wms-pagination>

                            <pagination-controls
                                    [class.hide]="!Pagination || action !== 'view'"
                                    (statePagin)="StatePaginAddLocation=$event;checkCheckAll($event,'addLocaPagin')"
                                    (pageChange)="currentPagePopupLocation = $event" id="addLocaPagin" autoHide="true">
                            </pagination-controls>

                            

                        </div>

                        

                        <div class="loading-overlay" *ngIf="loading"><img src="/assets/images/spinner.gif" alt=""></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button *ngIf="action=='add'" (click)="addLocationToLocationFrom()" type="submit" data-dismiss="modal" class="btn btn-primary pull-right">
                        <i class="icon-check"></i>Add
                    </button>

                    <button *ngIf= 'action=="view"&&data_used.length > 0' 
                    (click)="Delete(locationList['data'],StatePaginAddLocation,false)"
                    class="btn btn-primary pull-right">
                        <i class="icon-check"></i>Remove
                      </button>

                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="icon-close"></i>Close
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>

