<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>Consolidation</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">


        <wms-messages [messages]="messages"></wms-messages>
        <div class=" area-block clearfix">
            <div class="form-group">
                <label>Consolidate by</label>
                <div class="label-group">
                    <!-- <label class="radio-inline">
                        <input type="radio"  (change)="checkActiveConsolidation();regetListItem()"
                               (click)="Consolidateby='Location'" name="Consolidateby"> Location
                    </label> -->
                    <label class="radio-inline">
                        <input type="radio" checked="checked" (change)="checkActiveConsolidation();regetListItem()"
                               (click)="Consolidateby='Pallet'" name="Consolidateby"> Pallet
                    </label>
                </div>
            </div>
            <div class="clearfix">
                <form class="form-horizontal margin-bottom form-style" *ngIf="consolidationForm"
                      [ngFormModel]="consolidationForm" (ngSubmit)="recheckLoc()" novalidate>

                    <div class="row" [hidden]="Consolidateby=='Pallet'" ngControlGroup="Location">
                        <div class="col-md-2">
                            <div class="form-group" [class.error-style]="(txtLocation.control.touched||submitForm) && ( txtLocation.control.errors || exitsLocation['from_loc_code']==false)">
                                <label>Current Location</label>
                                <input type="hidden" ngControl="from_loc_id">
                                <input placeholder="Auto Complete"
                                       maxlength="50"
                                       (mouseout)="checkExitsKey('Location','from_loc_code')"
                                       #txtLocation="ngForm"
                                       [ngModel]="consolidationModel.from_loc_code"
                                       (ngModelChange)="autoSearchComplete('reloLoading','CurrentLocation','from_loc_code','from_loc_id',$event,'loc_code')"
                                       ngControl="from_loc_code"
                                       class="form-control dropdown-toggle"
                                       type="text"
                                       data-toggle="dropdown"/>

                                <ul class="dropdown-menu autocomplete" *ngIf="txtLocation.value">
                                    <span class="icon-loading-search-complete" *ngIf="searching['reloLoading']"><img
                                            src="/assets/images/loading.gif"></span>
                                    <li (click)="selectedItem('from_loc_code','from_loc_id',item,'loc_code')"
                                        *ngFor="let item of ListAutoCompleteData['CurrentLocation']">{{item.loc_code}}
                                    </li>
                                </ul>
                                <p *ngIf=" txtLocation.control.touched&&txtLocation.control.hasError('required')
                  ||submitForm && txtLocation.control.hasError('required') || txtLocation.control.hasError('invalidSpace')"
                                   class="error">
                                    Location is required.
                                </p>
                                <p *ngIf="txtLocation.control.touched&&exitsLocation['from_loc_code']==false"
                                   class="error">
                                    Location is not existed.
                                </p>
                              <p *ngIf="txtLocation.control.hasError('loc_status_is_locked')"
                                 class="error">
                                Location is Locked.
                              </p>
                              <p *ngIf="txtLocation.control.hasError('loc_status_is_locked_cycle')"
                                 class="error">
                                Location is Cycle Locked
                              </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" [class.error-style]="(txtnewLocation.control.touched||submitForm) && ( txtnewLocation.control.errors || exitsLocation['to_loc_code']==false)">
                                <label class="">New Location</label>
                                <input type="hidden" ngControl="to_loc_id">
                                <input placeholder="Auto Complete"
                                       maxlength="50"
                                       (mouseout)="checkExitsKey('Location','to_loc_code')"
                                       #txtnewLocation="ngForm"
                                       [ngModel]="consolidationModel.to_loc_code"
                                       (ngModelChange)="autoSearchComplete('newloLoading','NewLocations','to_loc_code','to_loc_id',$event,'loc_code')"
                                       ngControl="to_loc_code"
                                       class="form-control dropdown-toggle"
                                       type="text"
                                       data-toggle="dropdown"/>

                                <ul class="dropdown-menu autocomplete" *ngIf="txtnewLocation.value">
                                    <span class="icon-loading-search-complete" *ngIf="searching['newloLoading']"><img
                                            src="/assets/images/loading.gif"></span>
                                    <li (click)="selectedItem('to_loc_code','to_loc_id',item,'loc_code')"
                                        *ngFor="let item of ListAutoCompleteData['NewLocations']">{{item.loc_code}}
                                    </li>
                                </ul>
                                <p *ngIf=" txtnewLocation.control.touched&&txtnewLocation.control.hasError('required')
                  ||submitForm && txtnewLocation.control.hasError('required') || txtnewLocation.control.hasError('invalidSpace')"
                                   class="error">
                                    Locations is required.
                                </p>
                                <p *ngIf="txtnewLocation.control.touched&&exitsLocation['to_loc_code']==false"
                                   class="error">
                                    Location is not existed.
                                </p>

                              <p *ngIf="txtnewLocation.control.hasError('loc_status_is_locked')"
                                 class="error">
                                Location is Locked.
                              </p>
                              <p *ngIf="txtnewLocation.control.hasError('loc_status_is_locked_cycle')"
                                 class="error">
                                Location is Cycle Locked
                              </p>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary margin-top22"><i class="icon-check"></i>Consolidate
                        </button>
                      <span *ngIf="reCheckStatusLoc">{{reCheckStatusLoc}}</span>
                    </div>
                    <div class="row" [hidden]="Consolidateby=='Location'" ngControlGroup="Pallet">
                        <div class="col-md-2">
                            <div class="form-group" [class.error-style]="
                txtfrom_pltCode.control.touched&&txtfrom_pltCode.control.hasError('required')
                ||submitForm && txtfrom_pltCode.control.hasError('required')||txtfrom_pltCode.control.hasError('invalidSpace') || exitsLocation['from_plt_num']==false">
                                <label>Current Pallet</label>
                                <input type="hidden" ngControl="from_plt_id">
                                <input placeholder="Auto Complete"
                                       maxlength="50"
                                       (mouseout)="checkExitsKey('Pallet','from_plt_num')"
                                       #txtfrom_pltCode="ngForm"
                                       [ngModel]="consolidationModel.from_plt_num"
                                       (ngModelChange)="autoSearchComplete('CurrentPalletLoading','CurrentPallet','from_plt_num','from_plt_id',$event,'plt_num')"
                                       ngControl="from_plt_num"
                                       class="form-control dropdown-toggle"
                                       type="text"
                                       data-toggle="dropdown"/>

                                <ul class="dropdown-menu autocomplete" *ngIf="txtfrom_pltCode.value">
                                    <span class="icon-loading-search-complete"
                                          *ngIf="searching['CurrentPalletLoading']"><img
                                            src="/assets/images/loading.gif"></span>
                                    <li (click)="selectedItem('from_plt_num','from_plt_id',item,'plt_num')"
                                        *ngFor="let item of ListAutoCompleteData['CurrentPallet']">{{item.plt_num}}
                                    </li>
                                </ul>
                                <p *ngIf=" txtfrom_pltCode.control.touched&&txtfrom_pltCode.control.hasError('required')
                ||submitForm && txtfrom_pltCode.control.hasError('required') || txtfrom_pltCode.control.hasError('invalidSpace')"
                                   class="error">
                                    Pallet is required.
                                </p>
                                <p *ngIf="exitsLocation['from_plt_num']==false"
                                   class="error">
                                    Pallet is not existed.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" [class.error-style]=" txtnewPallet.control.touched&&txtnewPallet.control.hasError('required')
                ||submitForm && txtnewPallet.control.hasError('required') || txtnewPallet.control.hasError('invalidSpace') ||  exitsLocation['to_plt_num']==false">
                                <label class="">New Pallet</label>
                                <input type="hidden" ngControl="to_plt_id">
                                <input placeholder="Auto Complete"
                                       maxlength="50"
                                       (mouseout)="checkExitsKey('Pallet','to_plt_num')"
                                       #txtnewPallet="ngForm"
                                       [ngModel]="consolidationModel.to_plt_num"
                                       (ngModelChange)="autoSearchComplete('NewPalletLoading','NewPallet','to_plt_num','to_plt_id',$event,'plt_num')"
                                       ngControl="to_plt_num"
                                       class="form-control dropdown-toggle"
                                       type="text"
                                       data-toggle="dropdown"/>

                                <ul class="dropdown-menu autocomplete" *ngIf="txtnewPallet.value">
                                    <span class="icon-loading-search-complete"
                                          *ngIf="searching['NewPalletLoading']"><img
                                            src="/assets/images/loading.gif"></span>
                                    <li (click)="selectedItem('to_plt_num','to_plt_id',item,'plt_num')"
                                        *ngFor="let item of ListAutoCompleteData['NewPallet']">{{item.plt_num}}
                                    </li>
                                </ul>
                                <p *ngIf=" txtnewPallet.control.touched&&txtnewPallet.control.hasError('required')
                ||submitForm && txtnewPallet.control.hasError('required') || txtnewPallet.control.hasError('invalidSpace')"
                                   class="error">
                                    Pallet is required.
                                </p>
                                <p *ngIf="exitsLocation['to_plt_num']==false"
                                   class="error">
                                    Pallet is not existed.
                                </p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary margin-top22"><i class="icon-check"></i>Consolidate
                        </button>

                    </div>
                </form>
            </div>
        </div>
        <div class="table">
        <div *ngIf="dataForRenderTable?.length" class="table-list-head">
            <div class="form-inline">
                <label>Show:</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1">
        <ag-grid-ng2-extent
                (dataSelected)="listSelected=$event"
                [columnData]="columnData"
                (sortData)="sortList($event)"
                [dataForRenderTable]="dataForRenderTable"
                [headerURL]="headerURL"></ag-grid-ng2-extent>
        </div>

        <div class="pull-right" *ngIf="Pagination">
            <!--
              Directive WMSPagination
              Url : common/directives/directives
              -->
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="Consolidateby=='Location' ? getListItemOfLocation($event,consolidationForm.value['Location']['from_loc_id']) : getListItemOfPallet($event,consolidationForm.value['Pallet']['from_plt_id'])"
            ></wms-pagination>
        </div>
        </div>
    </div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>



