<form *ngIf="(TEMPLATE=='default')&&Form&&showForm&&canCreate" class="form-horizontal form-style"  [ngFormModel]="Form"
          (ngSubmit)="Save()" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" [class.error-style]="(R_name.control.touched || submitForm ) && R_name.control.errors">
                        <label>Delivery Service <span class="txt-required">(*)</span></label>
                        <input ngControl="ds_key" #R_name="ngForm" type="text" maxlength="3" class="form-control"
                        />
                        <p *ngIf="(R_name.control.touched || submitForm )&&R_name.control.hasError('required')"
                           class="error">
                            Delivery Service is required.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" [class.error-style]="(Dn_value.control.touched || submitForm ) && Dn_value.control.errors">

                        <label>Description <span class="txt-required">(*)</span></label>
                        <input type="text" #Dn_value="ngForm" ngControl="ds_value" maxlength="50" class="form-control">

                        <p *ngIf="(Dn_value.control.touched || submitForm )&&Dn_value.control.hasError('required')"
                           class="error">
                            Delivery Description is required.
                        </p>

                    </div>
                </div>
                <div class="btn-toolbar pull-left">
                    <div class="form-group margin-top21">
                        <button class="btn btn-primary pull-left" type="submit"><i
                                class="icon-check"></i>Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

<form  class="form-horizontal form-style" *ngIf="(TEMPLATE=='style2')&&Form&&showForm &&canCreate"  [ngFormModel]="Form"
      (ngSubmit)="Save()" novalidate>


        <div class="col-md-6">

                <div class="form-group" [class.error-style]="(R_name.control.touched || submitForm ) && R_name.control.errors">
                    <label>Delivery Service <span class="txt-required">(*)</span></label>
                    <input ngControl="ds_key" #R_name="ngForm" type="text" maxlength="3" class="form-control"
                    />
                    <p *ngIf="(R_name.control.touched || submitForm )&&R_name.control.hasError('required')"
                       class="error">
                        Delivery Service is required.
                    </p>
                </div>
        </div>

        <div class="col-md-6">
                <div class="form-group" [class.error-style]="(Dn_value.control.touched || submitForm ) && Dn_value.control.errors">

                    <label>Description <span class="txt-required">(*)</span></label>
                    <input type="text" #Dn_value="ngForm" ngControl="ds_value" maxlength="50" class="form-control">

                    <p *ngIf="(Dn_value.control.touched || submitForm )&&Dn_value.control.hasError('required')"
                       class="error">
                        Delivery Description is required.
                    </p>

                </div>
        </div>

</form>
