<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>

    <delivery-service-form *ngIf="canCreate" (showLoadingOverlay)="showLoadingOverlay=$event" (messages)="messages=$event" (data)="getDeliveryService(1)"></delivery-service-form>

    <div class="table">
        <div class="table-list-head filter clearfix" *ngIf="dataListDelivery.length > 0">
            <div class="form-inline pull-left">
                <label>Show:</label>
                <select (change)="onPageSizeChanged($event,'eventtrack')" class="form-control">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-9 no-padding">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th title="Reason Name" class="nowrap">Delivery Service</th>
                        <th title="Description">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of dataListDelivery">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="dataListDelivery.length==0&&!showLoadingOverlay">No Results Found.</p>
                <div class="pull-right  margin-top5 color-gray">
                    <wms-pagination
                            [perPage]="perPage"
                            [paginData]="Pagination"
                            (pageChange)="getDeliveryService($event)"
                    ></wms-pagination>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>