<div *ngIf="isVisible" class="modal fade show in danger" id="alert-dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
            </div>

            <div class="modal-body" [innerHTML]="content"></div>

            <div class="modal-footer confirm-footer">
                <button class="btn btn-outline blue" data-dismiss="modal"
                        (click)="submit()">Okay
                </button>
            </div>

        </div>
    </div>
</div>
