<div class="top-layout clearfix">
    <h2>Charge Type List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block charge-type-management">
    <div *ngIf="messages" class="col-mg-12">
        <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <div class="search-form six-column">
        <form class="clearfix form-inline" [ngFormModel]="searchForm" (submit)="search(searchForm.value)">
            <div class="form-group">
                <label>Charge Type Code</label>
                <input tabindex="1" type="text" class="form-control" placeholder="" ngControl="chg_type_code" name="chg-type-code"
                       autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Charge Type Name</label>
                <input tabindex="2" type="text" maxlength="50" class="form-control" placeholder="" ngControl="chg_type_name"
                       name="chg-type-name" autocomplete="off"/>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button tabindex="4" type="button" class="btn btn-outline gray" (click)="resetSearch(searchForm.value)"><i
                        class="icon-close"></i>Reset
                </button>
                <button tabindex="3" type="submit" class="btn btn-outline blue"><i class="icon-magnifier"></i>Search</button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="hasCreatePermission" class="btn btn-primary" href="#/master-data/charge-type/new"  tabindex="6"><i
                        class="icon-plus"></i>Add</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button"  tabindex="7"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="editSelectedItem()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a>Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-7 no-padding">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="column-checkbox"><input type="checkbox" (change)="checkAll($event)"
                                                           [(ngModel)]="selectedAll"></th>
                        <th [class.sorting-desc]="!FieldsToSortFlag['chg_type_code']&&countClick['chg_type_code']!=3"
                            [class.sorting-asc]="FieldsToSortFlag['chg_type_code']&&countClick['chg_type_code']!=3"
                            [class.sorting]="countClick['chg_type_code']==3" (click)="sort('chg_type_code')">Charge Type
                            Code
                        </th>
                        <th [class.sorting-desc]="!FieldsToSortFlag['chg_type_name']&&countClick['chg_type_name']!=3"
                            [class.sorting-asc]="FieldsToSortFlag['chg_type_name']&&countClick['chg_type_name']!=3"
                            [class.sorting]="countClick['chg_type_name']==3" (click)="sort('chg_type_name')">Charge Type
                            Name
                        </th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of chargeTypeList" [class.row-selected]="item.selected" (click)="checkSelectItem(item)">
                        <td><input type="checkbox" value="{{item.chg_type_id}}"
                                   [ngModel]="item?.selected"></td>
                        <td class="width150"><a href="#/master-data/charge-type/{{item.chg_type_id}}">{{item.chg_type_code}}</a>
                        </td>
                        <td class="width200">{{item.chg_type_name}}</td>
                        <td>{{item.chg_type_des}}</td>
                    </tr>
                    </tbody>
                </table>
                <p *ngIf="!loading['getChargeType']&&chargeTypeList.length==0">No Results Found.</p>
                <p *ngIf="loading['getChargeType']&&chargeTypeList.length==0">Loading ... </p>
            </div>
        </div>
        <div class="pull-right">
            <div class="showing pull-left" *ngIf="chargeTypeList.length>0">
                Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) *
                perPage + chargeTypeList.length}} of total {{Pagination?Pagination.total:0}}
            </div>
            <ul class="pagination pull-right"
                *ngIf="Pagination && Pagination.total_pages > 1 && Pagination?.total > perPage">
                <li *ngIf="Pagination.current_page > Pagination.numLinks">
                    <a (click)="filterList(1)"><i class="fa fa-step-backward"></i></a>
                </li>
                <li *ngIf="Pagination.current_page > 1">
                    <a (click)="filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
                </li>

                <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
                    [class.active]="item==Pagination.current_page">
                    <a *ngIf="item != Pagination.current_page" (click)="filterList(item)">{{item}}</a>
                    <a *ngIf="item == Pagination.current_page">{{item}}</a>
                </li>
                <li *ngIf="Pagination.current_page < Pagination.total_pages">
                    <a (click)="filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
                </li>
                <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
                    <a (click)="filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i> </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
