<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
        <h2>Consolidation</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block">
        <wms-messages [messages]="messages"></wms-messages>
        <div class=" area-block clearfix">
            <div class="clearfix">
                <form class="form-horizontal margin-bottom form-style" *ngIf="consolidationForm"
                      [ngFormModel]="consolidationForm" (ngSubmit)="consoliDation()" novalidate>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" [class.error-style]="(Lpn_from.control.touched || submitForm) && Lpn_from.control.errors">
                                <label>From Loc/LPN</label>
                                <input placeholder="Auto Complete"
                                       maxlength="50"
                                       (mouseout)="checkExistPallet('lpn_from')"
                                       #Lpn_from="ngForm"
                                       [ngModel]="consolidationModel.lpn_from"
                                       (ngModelChange)="autocompleteLPNLoc('CurrentPalletLoading', 'CurrentPallet', 'lpn_from', $event, 'lpn_carton')"
                                       ngControl="lpn_from"
                                       class="form-control dropdown-toggle"
                                       type="text"
                                       data-toggle="dropdown"/>

                                <ul class="dropdown-menu autocomplete" *ngIf="Lpn_from.value">
                                    <span class="icon-loading-search-complete"
                                          *ngIf="searching['CurrentPalletLoading']"><img
                                            src="/assets/images/loading.gif"></span>
                                    <li (click)="selectedPallet('lpn_from', item)"
                                        *ngFor="let item of ListAutoCompleteData['CurrentPallet']">{{item['is_lpn'] === 1 ? item.lpn_carton : item.loc_name}}
                                    </li>
                                </ul>
                                <p *ngIf="(Lpn_from.control.touched ||submitForm) && Lpn_from.control.hasError('required')"
                                   class="error">
                                    From Loc/LPN is required.
                                </p>
                                <p *ngIf="submitForm && existPallet['Lpn_from']==false" class="error">
                                    From Loc/LPN is not existed.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" [class.error-style]="(Lpn_to.control.touched || submitForm) && Lpn_to.control.errors">
                                <label class="">To Loc/LPN</label>
                                <input placeholder="Auto Complete"
                                    maxlength="50"
                                    (mouseout)="checkExistPallet('lpn_to')"
                                    #Lpn_to="ngForm"
                                    [ngModel]="consolidationModel.lpn_to"
                                    (ngModelChange)="autocompleteLPNLoc('NewPalletLoading','NewPallet','lpn_to', $event, 'lpn_carton')"
                                    ngControl="lpn_to"
                                    class="form-control dropdown-toggle"
                                    type="text"
                                    data-toggle="dropdown"/>

                                <ul class="dropdown-menu autocomplete" *ngIf="Lpn_to.value">
                                    <span class="icon-loading-search-complete" *ngIf="searching['NewPalletLoading']">
                                        <img src="/assets/images/loading.gif">
                                    </span>
                                    <li (click)="selectedPallet('lpn_to', item)"
                                        *ngFor="let item of ListAutoCompleteData['NewPallet']">{{item['is_lpn'] === 1 ? item.lpn_carton : item.loc_name}}
                                    </li>
                                </ul>
                                <p *ngIf="(Lpn_to.control.touched ||submitForm) && Lpn_to.control.hasError('required')" class="error">
                                    To Loc/LPN is required.
                                </p>
                                <p *ngIf="submitForm && existPallet['lpn_to']==false" class="error">
                                    To Loc/LPN is not existed.
                                </p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary margin-top20"><i class="icon-check"></i>Consolidate
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- / allow access -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>