
    <!-- Modal -->
    <div class="modal fade" id="progressBar" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-animated progress-bar-striped" role="progressbar"
                         [attr.aria-valuenow]="_progressValue" aria-valuemin="0" aria-valuemax="100" [style.width]="_progressValue+'%'">
                        {{_progressValue}}%
                    </div>
                </div>
        </div>
    </div>