.cancel-order-style {
  .table-style2 {
    height: 195px;
    overflow-y: auto;
    thead {
      tr {
        th {
          color: $color-primary;
        }
      }
    }
    tbody{

    }
  }
}