@import "../variables";
.bootstrap-datetimepicker-widget {
  table td.active {display: table-cell;}
  .timepicker {
    text-align: center;
  }
}
.input-group .bootstrap-datetimepicker-widget.dropdown-menu {
  min-width: 197px !important;
}
.input-group-addon {padding: 4px 12px;}
.input-group .dropdown-menu {
  min-width: calc(50% - 5px) !important;
}
.container-plug {
  background-color: $color-light;
  display: flex;
  max-height: 600px;
  padding: 0 !important;
  .list-track {
    overflow: auto;
    width: 100%;
    float: left;
    padding: 10px;
    max-height: 600px;
    .aisle-detail {
      display: table;
      font-size: 13px;
      h3 {
        color: $color-primary;
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 18px;
      }
      ul {
        font-weight: bold;
        display: flex;
        padding-left: 0;
        li {
          margin-right: 5px;
          width: 200px;
          border: 1px solid lighten($color-gray-lightest, 35%);
          list-style: none;
          position: relative;
          margin-left: -1px;
          cursor: pointer;
          &:first-child {
            margin-left: 0;
          }

          .detail-number {
            padding: 5px;
            &.invisible {
              visibility: hidden;
            }
          }
          .code {
            text-align: center;
            padding: 5px;
            border-top: 1px solid lighten($color-gray-lightest, 35%);
            font-weight: 600;
            background: #fff;
            color: #fff;
          }
          .icon-status {
            position: absolute;
            top: 5px;
            right: 5px;
            .icon {
              margin-right: 0;
            }
            .icon-check {
              color: #00A000;
            }
            .icon-ban {
              color: $color-warning;
            }
            .icon-lock {
              color: $color-danger;
            }
            .icon-layers {
              color: $color-active;
            }
          }
          &:hover {
            box-shadow: 0 0 5px lighten($color-gray-lightest, 20%);
          }
        }
      }
    }
  }
}

.text-center {
  text-align: center !important;
}

.modal-wh {
  width: 570px;
  .modal-header {
    background-color: $color-active;
    h4 {
      color: $color-light;
    }
    .close {
      color: $color-light !important;
    }
  }
  .modal-body {
    min-height: auto;
    border-bottom: 3px solid $color-active;
  }
}

@media screen and (device-width: 1920px) {
  .container-plug {
    max-height: 850px;
    .list-track{
      max-height: 850px;
    }
  }
}

