@import "../variables";
.customer-management{
  .contact-block{
    padding: 5px;
    background-color: $color-light;
    border: 1px solid lighten($color-gray-lightest,30%);
    margin-bottom: 2.5px;
    position: relative;
.delete-icon{
  position: absolute;
  right: 10px;
  top:10px;
  font-size: 18px;
  cursor: pointer;
  &:hover{
    color: $color-primary;
  }
}
  }
}