.dashboard-style {
  .search-form {
    margin-bottom: 0;
    border-bottom: 1px dashed #bccad8;
  }
  h3 {
    padding: 8px;
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    border-bottom: 1px dashed #bccad8;

    .radio-inline {
      margin: -2px 0 0 4px;
      font-weight: 500;
      font-size: 11px;
      text-transform: none;

      input[type='radio'] {
        margin: 0 0 0 -20px;
      }
    }
  }
  .report-block {
    background-color: $color-light;
    padding: 5px;
    .area-block {
      min-height: 192px;
      padding: 0;
      float: left;
      margin-right: 2.5px;
      margin-bottom: 0;
      width: calc(50% - 1.25px);
      &:first-child, &:nth-child(2) {
        margin-bottom: 2.5px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    h3 {
      border-bottom: 1px solid lighten($color-gray-lightest, 40%);
      padding: 8px;
      color: $color-primary;
      margin: 0;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .dashboard-block {
      min-height: 120px;
      display: table;
      width: 100%;
      padding: 10px 0;
      height: 154px;
      overflow-y: auto;
      .icon-status {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        float: none;
        padding: 20px 30px;
        i {
          color: $color-primary;
          font-size: 60px;
          text-align: center;

        }
      }
      .dashboard-detail {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        float: none;
        padding-left: 30px;
        background: url('/assets/images/left-boder.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;

        ul {
          list-style: none;
          padding: 0;
          margin-right: 15px;
          li {
            .number-color {
              font-size: 18px;
              margin-right: 5px;

            }
            &:first-child {
              .number-color {
                color: $color-primary;
              }
            }
            &:nth-child(2) {
              .number-color {
                color: $color-danger;
              }
            }
            &:nth-child(3) {
              .number-color {
                color: $color-success;
              }
            }
            &:nth-child(4) {
              .number-color {
                color: $color-active;
              }
            }
          }
        }

      }
    }
  }

  .alert-style {
    padding: 10px;
    border-radius: 2px;
    color: $color-light;
    margin-right: 5px;
    width: calc(100% / 4 - 3px);
    &:first-child {
      border-left: 5px solid darken($color-active, 10%);
      background-color: $color-active;
    }
    &:nth-child(2) {
      border-left: 4px solid darken($color-warning-darken, 10%);
      background-color: $color-warning-darken;
    }
    &:nth-child(3) {
      border-left: 4px solid darken($color-primary, 10%);
      background-color: $color-primary;
    }
    &:nth-child(4) {
      border-left: 4px solid darken($color-default, 10%);
      background-color: $color-default;
    }
    &:nth-child(5) {
      border-left: 4px solid darken($color-warning-darken, 20%);
      background-color: darken($color-warning-darken, 10%);
    }
    &:last-child {
      margin-right: 0;
      border-left: 4px solid darken($color-success, 20%);
      background-color: darken($color-success, 10%);
    }
  
    &.capacity-expansion {
      padding: 2px 10px;
  
      a {
        &.view-more-link {
          float: right;
          color: #ffffff;
          text-decoration: underline;

          &:hover {
            color: blue;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }

    a {
      &.red-link {
        color: #D91E18;
      }
      &.orange-link {
        color: #da7327;
      }

      &.dark-blue-link {
        color: #102247;
      }

      &.blue-link {
        color: #63c7d5;
      }

      &.white-link {
        color: #fff;
      }
    }
  }
}

.dashboard-style2 {
  h3 {
    border-bottom: 1px solid lighten($color-gray-lightest, 40%);
    padding: 8px 8px 14px 8px;
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $color-light;
    line-height: 24px;
    &:first-child {
      color: $color-active;
    }
    .form-style-dashboard{
      text-transform: capitalize;
      color: $color-gray;
      width: calc(100% / 3 - 12px);
      margin-right: 5px;
      margin-top: -5px;
      position: relative;
      label {
        width: 100%;
        margin-bottom: 2px;
        float: left;
        line-height: 10px;
        font-size: 11px;

      }
      select {
        width: 100%;
      }
      .another-span {
        position: absolute;
        line-height: normal;
        width: 100%;
        z-index: 9999;
        left: -100%;
        top: 1px;
      }
    }
    .form-style-dashboard-2{
      text-transform: capitalize;
      color: $color-gray;
      width: calc(100% / 2.25);
      margin-right: 5px;
      margin-top: -5px;
      position: relative;
      label {
        width: 100%;
        margin-bottom: 2px;
        float: left;
        line-height: 10px;
        font-size: 11px;
      }
      select {
        width: 100%;
      }
      .another-span {
        position: absolute;
        line-height: normal;
        width: 100%;
        z-index: 9999;
        left: -100%;
        top: 1px;
      }
    }

  }
  .dashboard-detail {
    min-height: 310px;
    background-color: $color-light;
    margin-bottom: 0;
    max-height: auto;
    .table-style-dashboard {
      height: 234px;
      overflow-y: auto;
    }
    .table-style-dashboard2 {
      .table-dashboard{
        border-bottom: none;
        thead{
          tr{
            th{
              padding: 6px;
            }
          }
        }
      }
    }
    .pagination li a {
      padding: 1px 2px !important;
    }
  }
  .area-block1 {
    width: calc((100% - 8px) / 3);
    float: left;
    margin-right: 2.5px;
    margin-bottom: 3px;
    position: relative;
    &:nth-child(2n) {
      margin-right: 2.5px;
    }
    .icon-chart-block{
      float: right;
      top:12px;
      right: 10px;
      margin-bottom: 0;
      border-bottom: none;
      margin-left: 10px;
      margin-top: 3px;
      li{
        a{
          font-size: 1.6rem;
          padding: 0 2px;
          color: $color-primary;
          cursor: pointer;
          border-bottom: none;
          i{
            margin-right: 0;
          }
        }
        &:first-child{
          a{
            color: #3b979f;
            &:hover{
              color: darken(#3b979f,10%);
            }
          }
        }
        &:nth-child(2){
          a{
            color:$color-danger;
            &:hover{
              color: darken($color-danger,10%);
            }
          }
        }
        &.active{
          a{
            border-bottom: none;
            &:after{
              content: none;
            }
            &:focus{
              border-bottom: none;
            }
          }
        }
        &:focus{
          border-bottom: none;
        }
      }
    }

    .chart-pagination {
      height: 22px;
      background-color: $color-light;
      padding-right: 5px;
    }
  }
  .area-block2 {
    width: calc((100%/2) - 3px);
    float: left;
    margin-right: 3px;
    padding-right: 0.5px;
    margin-bottom: 3px;
    position: relative;
    &:nth-child(2n) {
      margin-right: 2.5px;
    }
    .icon-chart-block{
      float: right;
      top:12px;
      right: 10px;
      margin-bottom: 0;
      border-bottom: none;
      margin-left: 10px;
      margin-top: 3px;
      li{
        a{
          font-size: 1.6rem;
          padding: 0 2px;
          color: $color-primary;
          cursor: pointer;
          border-bottom: none;
          i{
            margin-right: 0;
          }
        }
        &:first-child{
          a{
            color: #3b979f;
            &:hover{
              color: darken(#3b979f,10%);
            }
          }
        }
        &:nth-child(2){
          a{
            color:$color-danger;
            &:hover{
              color: darken($color-danger,10%);
            }
          }
        }
        &.active{
          a{
            border-bottom: none;
            &:after{
              content: none;
            }
            &:focus{
              border-bottom: none;
            }
          }
        }
        &:focus{
          border-bottom: none;
        }
      }
    }

    .chart-pagination {
      height: 22px;
      background-color: $color-light;
      padding-right: 5px;
    }
  }
  .table-dashboard {
    border-bottom: 1px solid #ddd;
    thead {
      tr {
        th {
          background-color: lighten($color-gray, 65%);
          font-weight: 600;
          color: $color-primary;
          border-right: 1px solid rgba(255, 255, 255, 0.25);
          padding: 6px 5px;
        }
      }
    }
    tbody {
      tr {

        &:nth-child(2n) {
          td {
            background-color: lighten($color-text-sidebar, 20%);
            border-right: 1px dashed rgba(255, 255, 255, 0.25);
          }
        }
        &:nth-child(1) {
          td:last-child {
            color: #008000;
          }
        }
        &:nth-child(2) {
          td:last-child {
            color: $color-danger;
          }
        }
        &:nth-child(3) {
          td:last-child {
            color: $color-active;
          }
        }
        &:nth-child(4) {
          td:last-child {
            color: $color-primary;
          }
        }
        &.total {
          td {
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }

  }
  .paging {
    padding: 12px 0;
    .pagination {
      li {
        a {
          border: none;
          background-color: transparent;
          color: lighten($color-gray, 35%);
        }
        &:hover, &.active {
          a {
            color: $color-active;
          }
        }
      }
    }
  }
  .showing {
    color: lighten($color-gray, 25%);
    line-height: 22px;
  }
}


canvas{
  width: auto !important;
  max-height: 280px !important;
  margin: 0 auto;
}

.occupancy-ckbox {
  margin-top: -8px;
  margin-right: 10px;
}