@import "../variables";

.hover-value {
  position: relative;
  ul {
    list-style: none;
    background-color: $color-light;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 150px;
    display: none;
    border: 1px solid lighten($color-gray-lightest, 30%);
    li {
      a {
        color: $color-primary;
        padding: 3px 10px;
        border-bottom: 1px solid lighten($color-gray-lightest, 45%);
        &:hover{
          background-color:$color-active;
          color: $color-light !important;
        }
      }
    }
  }
  &:hover {
    ul {
      display: block;
    }
  }
}

.print-block {
  display: none;
}

.dm-check {
  position: relative;
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 15px;
    height: 15px;
    border: 1px solid #aaa;
    border-radius: 2px;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: "\e013";
    position: absolute;
    top: -7px;
    left: 3px;
    font-size: 14px;
    line-height: 0.8;
    color: $color-danger !important;
    transition: all .2s;
    font-family: "Glyphicons Halflings";
  }
  [type=checkbox].disabled {
    background-color: lighten($color-gray-lightest, 30%);
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  .checked-img {
    position: absolute;
    content: "";
    background: url('/assets/images/V-red.png');
    width: 20px;
    height: 20px;
    left: 4px;
    top: 7px;
    background-repeat: no-repeat;
  }

}

.error-dms {
  background-color: $color-light;
  color: $color-danger;
  padding: 10px;
}

.img-style {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  &:first-child {
    margin-right: 3px;
  }
}

.icon-m {
  width: 12px;
  height: 12px;
  background-color: #44cd00;
  float: left;
  border-radius: 50%;
}

