.customFilter {
  background: #fcfcfc;
  border: 1px #ccc solid;
  display: inline-block;
}

.oddRow {
    background-color: #FFF;
    height: 26px;
}

.evenRow {
    height: 26px;
    background-color: #F7F7F7;
}

.invoiceInfoCaption {
    display: inline-block;
    width: 180px;
}
.invoiceInfoValue {
    display: inline-block;
    width: 380px;
    left: 180px;
}

.dialogTitle {
    color: #D91E18;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.invoice-client-info-modal-dialog {
    width: 826px;
    height: 1000px;
    margin: 30px auto;
}

.invoice-client-info-modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, 1);
}

.red {
    display: inline-block;
    color: red;
    font-size: 13px;
    height: 0px;
    vertical-align: top;
}

#billTo tr td, #shipTo tr td {
    padding-right: 4px;
}

.invoice-date {
    width: 80px;
}

.fullCellWidth {
    height: 24px;
    width: 100%;
}

#profileDialog {
    padding: 10px;
}

#profileDialog table td {
    padding-left: 4px;
}

#customer-rates .costs-button {
    margin-left: 0px;
    height: 26px !important;
    width: 100px;
}

#customer-rates [colid='update'], #customer-rates [colid='remove'] {
    padding: 0px !important;
}

#customer-rates [colid='chg_cd_price'] {
    color: rgba(75, 109, 160, 1);
}

.invoice-summary-content-left {
  width: 150px;
}

.invoice-summary-content-right {
  width: 150px;
}

.invoice-summary-total {
  width: 350px;
  text-align: right;
  font-weight: bold;
}

.invoice-summary {
  width: 300px;
  margin-bottom: 20px;
  margin-left: 800px;
    line-height: 24px;
}

.client-info {
    width: 100%;
    padding-left: 10px;
}

.client-info tr td:first-child {
    padding-right: 5px;
}

.client-info tr td:last-child {
    padding-left: 5px;
}

.update-client-info {

}

.invoice-client-info {
    width: 100%;
}

.table-button {
  height: 26px !important;
  margin-left: -5px;
  margin-top: -5px;
}

.invoice-cancel-button {
  width: 80px !important;
  height: 26px !important;
  margin-left: -5px;
  margin-top: -5px;
}

.popup-info {
  display: inline-block;
}

.mandatory-asterisk {
    width: 5px;
}

/*
    add client info
*/

.receive-payment-modal-form {
    width: 450px;
}

.receive-payment-caption {
    width: 124px;
}

.receive-payment-value {
    width: 290px;
}

.receive-payment-item {
    width: 290px;
}

.receive-payment-date {
    width: 80px;
}

/*
    add client info
*/

.add-contact-modal-form {
    width: 450px;
}

.add-contact-caption {
    width: 100px;
}

.add-contact-value {
    width: 314px;
}

.add-contact-item {
    width: 314px;
}

/*
    add invoice costs
*/

.add-cost-modal-form {
    width: 450px;
}

.add-cost-caption {
    width: 140px;
}

.add-cost-value {
    width: 274px;
}

.add-charge-costs-dropdown {
    width: 274px;
}

.cur-code {
    width: 50px;
    text-transform: uppercase;
}

.charge-code-rate {
    width: 100px;
}

#invoice-list-customer .cancel-button {
    margin-left: 0px;
    padding: 0px;
    height: 26px !important;
    width: 80px;
}

#invoice-list-customer .payment-button {
    margin-left: 0px;
    padding: 0px;
    height: 26px !important;
    width: 147px;
}

#invoice-list-customer [colid='cncl'], #invoice-list-customer [colid='pmnt_rcv_dt'] {
    padding: 0px !important;
}

.leftFloat {
    float: left;
}

.filterDiv {
    height: 38px;
    margin: 2px 2px 2px 0;
    padding: 6px;
    float: left;
}

#billable > div {
    clear: both;
}

#toDate {
    //margin-left: 4px;
}

.customFilter > input[type="checkbox"] {
    padding-top: 6px;
}

.cell-text {
    display: inline-block;
    padding: 5px 0px 0px 5px;
    float: left;
    height: 26px;
}

.pmnt_rcv-dt-cell-text {
    width: 75px;
}

.clear-payment-button {
    margin: 0px;
    padding: 2.5px 10px 2.5px 10px;
    width: 70px;
}

//by Nhan Truong
.invoice-management{
    .search-form{
        .form-group{
            width: 100%;
        }
        .btn-cus{
            padding: 2.5px 0;
            width:100%;
            background-color: transparent;
            color: $color-active;
            border-radius:0 ;
            border:1px solid $color-active ;
            &:hover,&:focus{
                background-color: $color-active;
                color: $color-light;
            }
        }
    }
    ul.nav-tabs{
        li{
            a{
                color: $color-gray-lightest;
                &:hover,&:focus {
                    color: $color-danger;
                    border-bottom-color: $color-danger;
                }
            }
            &.active{
                a{
                    color: $color-danger;
                    border-bottom-color: $color-danger ;
                    &:after{
                        border-top-color: $color-danger;
                    }
                    &:hover{
                        border-bottom-color: $color-danger ;
                    }
                }
            }
        }
    }
}