.update-date-style{
  .modal-style-default{
    .modal-body{
      min-height: auto;
    }
  }
}

.pac-container {
  z-index: 999999;
}

.multiselect {
  .btn-group {
    width: 100%;

    .dropdown-toggle {
      width: 100%;
      height: 26px;
      float: right;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
      color: $color-gray-lightest;

      .caret {
        position: absolute;
        right: 6px;
        top: 11px;
        color: #7a7a7a;
      }
    }
    .multiselect-container {
      top: 26px;
      > li > a > label {
        font-size: 14px;
        padding-left: 30px;
        padding-right: 10px;
      }
    }
    .dropdown-menu {
      .active {
        a {
          color: inherit;
          background-color: inherit;

          &:focus {
            color: inherit;
            background-color: inherit;
          }
        }
      }
    }
  }
}

.waiting-zindex {
  position: absolute;
  right: 7px;
  top: 2px;
  z-index: 999;
}

.max-height-400 {
  max-height: 400px!important;
  overflow-x: scroll;
}
.padding-tb-8 {
  padding: 8px 0px!important;
}
