@import "variables";
@import "compass/css3/border-radius";

.swal2-container {
  .swal2-modal {
    padding: 0 !important;
    @include border-radius(5px);
    background-color: lighten($color-gray-lightest,45%);

    .swal2-icon, .swal2-spacer {
      display: none !important;
    }
    .swal2-content {
      font-size: 14px;
      font-weight: 500;
      padding:20px 10px;
      border-bottom: 1px solid lighten($color-gray-lightest, 35%);
      font-family: Helvetica;
      background-color: lighten($color-gray-lightest,45%);
    }
    button {
      float: right !important;
      &.styled {
        padding: 2.5px 20px;
        transition: all .3s;
        @include font-medium;
        margin: 5px 5px 5px 0px;
        @include border-radius(0);
        margin-right: 5px;
        line-height: 1.42857143;
        border: 1px solid;
      }
      &.swal2-confirm{
        border-color: darken($color-active,2%);
        background-color: $color-active !important;
        &:focus{
          background-color: $color-active !important;
        }
        &:hover{
          background-color: darken($color-active,10%) !important;
          border-color: darken($color-active,15%) !important;
        }
      }
      &.swal2-cancel{
        background-color: $color-light !important;
        color: $color-gray;
       border-color: lighten($color-gray-lightest,20%);
        &:focus{
          background-color: $color-light !important;
        }
        &:hover{
          background-color: darken($color-light,20%) !important;
        }
      }
    }
  }
}