.open-order-filter {
    margin: 2px;
}

.day0 {
    background-color: #AABBFF;
    color: #000 !important;
}

.day1 {
    background-color: #66AAFF;
    color: #000 !important;
}

.day2 {
    background-color: #6688BB;
    color: #000 !important;
}

.day3 {
    background-color: #82C9EE;
    color: #000 !important;
}

.day4 {
    background-color: #B6D9F5;
    color: #000 !important;
}

.day5 {
    background-color: #AACCCC;
    color: #000 !important;
}

.day6 {
    background-color: #8899DD;
    color: #000 !important;
}

.day0-click-to-edit {
    background-color: #AABBFF;
}

.day1-click-to-edit {
    background-color: #66AAFF;
}

.day2-click-to-edit {
    background-color: #6688BB;
}

.day3-click-to-edit {
    background-color: #82C9EE;
}

.day4-click-to-edit {
    background-color: #B6D9F5;
}

.day5-click-to-edit {
    background-color: #AACCCC;
}

.day6-click-to-edit {
    background-color: #8899DD;
}

#open-orders-date-buttons {
    margin-top: -3px;
    background-color: #fff;
    padding-top: 5px;
}

#open-orders-date-buttons div:last-child {
    clear: both;
}
