@import "../variables", "../reset";
@import "compass/css3/images";

.user-list {
  .showing {
    @include font-small;
    font-weight: normal;
    margin-right: 15px;
    line-height: 30px;
  }
}


.role-detail, .user-detail {
  p {
    color: $color-gray-light;
    @include font-medium;
    b {
      width: 120px;
      display: inline-block;
    }
  }
  .form-style {
    .form-group {

    }
    ul.check-list {
      li {
        width: 24%;
        display: inline-block;
        margin-bottom: 10px;
        background: url('/assets/images/tick.png') no-repeat;
        padding-left: 25px;
        background-position: left;
        background-size: 13px;
      }
      margin-bottom: 20px;
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 99999;
  img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
  }
}