@import "../mixin";
.user-reference{
  .user-block{
    border: 1px solid lighten($color-gray-lightest,40%);
    .user-images{
  background-color: lighten($color-gray-lightest,42%);
      border-bottom: 2px solid lighten($color-gray-lightest,30%);

  padding:30px;
  text-align: center;
      h4{
        color: $color-danger;
        font-size: 11.5pt;
        font-weight: 600;
        text-transform: uppercase;

      }
  .img{
    margin: 0 auto;
    width: 180px;
    height: 180px;
    padding: 5px;
    border: 2px solid lighten($color-gray-lightest,70%);
    border-radius: 50%;
    background-color:$color-light;
  }
}
    ul{
      li{
        a{
          @include font-mediumer;
          color: $color-gray-light;
          padding: 15px;
          border-bottom: 1px solid lighten($color-gray-lightest,35%);
          border-radius: 0;
          font-weight: 500;
          /*&:hover,&:focus{
            background-color: $color-danger;
            color: $color-light;
          }*/
          &.router-link-active{
            background-color: $color-danger !important;
            color: $color-light;
          }
        }
      }
    }
}
  .form-style{
    p{
      @include font-medium;
      b{
        color: $color-gray;
        width: 150px;
        display: inline-block;
        font-weight: 600;
      }
    }
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg);}
}

.spinner {
  min-width: 30px;
  min-height: 30px;

  &:before{
    content: 'Loading...';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    margin-left: -10px;
  }

  &:not(:required):before{
    content: '';
    border-radius: 50%;
    border-top: 2px solid #b91f1f;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
  }
}
