@import "../variables";

.warehouse-layout {
  background-color: $color-light;
  display: flex;
  max-height: 91vh;
  padding: 0 !important;
  float: left;
  width: 100%;
  .list-track {
    overflow: auto;
    width: 100%;
    float: left;
    padding: 0 10px 10px;
    max-height: 81vh;
    .aisle-block{
      display: table;
      // border-spacing: 0 5px;
      padding-top: 5px;
      padding-bottom: 25px;
    .aisle {
      background-color: lighten($color-gray-lightest, 48%);
      // border: 1px solid lighten($color-gray-lightest, 35%);
      position: relative;
      // display: table-row;
      padding: 5px 35px 5px 0;
      margin-bottom: 5px;
      &.first {
        padding-top: 0;
      }

      .aisle-label {
        font-weight: bold;
        text-transform: uppercase;
        display: table-cell;
        color: $color-primary;
        vertical-align: middle;
        padding: 5px;
        min-width: 45px;
      }
      .aisle-data {
        display: table-cell;
        padding: 5px;
        // text-align: center;
        ul {
          margin: 0;
          padding: 0;
          height: 21px;
          white-space: nowrap;
          //display: flex;
          //flex-flow: row;
          li {
            display: inline-block;
            width: 18px;
            height: 21px;
            border: 1px solid lighten($color-gray-lightest, 35%);
            background-color: $color-light;
            padding: 0.5px;
            span {
              display: table;
              height: 100%;
              text-align: center;
              width: 100%;
              vertical-align: middle;
              line-height: 5px;
              position: relative;
              &.zone {
                background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
                background-size: 2px 5px;
              }
              i {
                margin-right: 0;
                font-weight: 900;
                text-shadow: 0px 1px $color-light;
                font-size: 9px;
                line-height: 5px;
                position: absolute;
                top: 6px;
                left: 3px;
                &.icon-lock{
                  color: $color-danger;
                }
              }
            }
            &.active{
              span{
                background: linear-gradient(to bottom, #cccccc 50%, #ffffff 50%);
                background-size: auto 0px;
                outline: 3px dashed #ffffff;
                box-shadow: 0 0 5px #ffffff;
                animation: 1s animateBorderThree ease infinite
              }
              @keyframes animateBorderThree {
                to {
                  outline-color: #1B676B;
                  box-shadow: 0 0 0 2px #BEF202;
                }
              }
            }
          }
        }
      }
      }
    }
    .aisle-detail {
      display: table;
      font-size: 13px;
      h3 {
        font-weight: bold;
        color: $color-primary;
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 18px;
      }
      ul {
        display: flex;
        padding-left: 0;
        li {
          width: 100px;
          border: 1px solid lighten($color-gray-lightest, 35%);
          list-style: none;
          position: relative;
          margin-left: -1px;
          cursor: pointer;
          &:first-child {
            margin-left: 0;
          }

          .detail-number {
            padding: 5px;
            height: 65px;

          }
          .code {
            text-align: center;
            padding: 5px;
            border-top: 1px solid lighten($color-gray-lightest, 35%);
            font-weight: 600;

          }
          .icon-status {
            position: absolute;
            top: 2px;
            right: 2px;
            .icon {
              margin-right: 0;
            }
            .icon-check {
              color: #00A000;
            }
            .icon-ban {
              color: $color-warning;
            }
            .icon-lock {
              color: $color-danger;
            }
            .icon-layers {
              color: $color-active;
            }
          }
          &:hover {
            box-shadow: 0 0 5px lighten($color-gray-lightest, 20%);
          }
        }
      }
    }
  }

  .list-customer {
    width: 12%;
    padding: 7px 5px 5px 5px;
    vertical-align: top;
    float: right;
    //background-color: lighten($color-gray-lightest, 45%);
    background-color: #f0f0f0;
    border-left: 1px solid $color-light;
    box-shadow: -4px 0px 6px -3px lighten($color-gray-lightest, 30%);
    z-index: 90;
    max-height: 100%;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      right: 0;
      z-index: 9999;
      content: "";
    }
    .customer-toggler {
      border-radius: 4px 0px 0px 4px;
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 2px;
      border: 0;
      width: 18px;
      height: 23px;
      background-color: $color-active;
      position: absolute;
      right: 0;
      top: 4px;
      z-index: 99999;
      text-align: center;
      vertical-align: middle;
      transition: all .3s;
      color: $color-light;
      line-height: 19px;
      &:hover {
        background-color: $color-gray;
      }
      &:before {
        display: inline-block;
        font-size: 14px;
        font-family: FontAwesome;
        height: auto;
        content: "\f0da";
        font-weight: 300;
        text-shadow: none;
      }
    }
    h3 {
      color: $color-primary;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      padding: 0;
      margin: 0;
      i {
        font-size: 14px;
      }
    }
    .customer-color {
      display: inline-block;
      height: 20px;
      width: 100px;
      float: right;
      position: relative;

    }
    ul {
      width: 100%;
      padding: 10px 0;
      position: relative;
      display: inline-block;

      &.sub-list {
        padding-left: 18px;
      }

      li {
        width: 100%;
        list-style: none;
        display: inline-block;
        .customer-name {
          float: left;
          font-size: 12px;
          text-transform: capitalize;
          width: calc(100% - 20px);
        }
        .customer-color {
          float: right;
          width: 20px;
          height: 10px;
          box-shadow: 0px 0px 1px 0px $color-gray-lightest;
          border: 1px solid $color-light;
          margin-top: 4px;
        }
        cursor: pointer;
        &.active {font-weight: bold;}
      }
    }

    .zone-content {
      > li {
        .customer-name {float: none;}

        .icon-plus {
          display: inline-block;
        }

        .icon-minus {
          display: none;
        }

        > ul {
          display: none;
          padding: 0;
          .zone-color {
            float: right;
            height: 10px;
            width: 20px;
            box-shadow: 0px 0px 1px 0px #7a7a7a;
            border: 1px solid #fff;
            margin-top: 4px;
          }

          li {
            padding-left: 20px;
          }
        }

        &.open {
          ul {
            display: block;
          }

          .icon-plus {
            display: none;
          }

          .icon-minus {
            display: inline-block;
          }
        }
      }
    }
  }
  &.wh-close {
    .whs_layout_wrap {
      width: calc(100% - 1px);
    }
    .list-customer {
      width: 0px;
      padding: 0;
      .customer-name {
        display: none;
      }
      .customer-color {
        cursor: pointer;
      }
      .zone-name {display: none;}
      .zone-color {cursor: pointer;}
      .zone-content > li {
        display: none;

        &.open {
          display: block;
        }
      }
      .customer-toggler {
        &:before {
          content: "\f0d9";
        }
      }
      h3 {
        margin-left: 0;
        span {
          display: none;
        }
      }
      &:after {
        content: none;
      }
    }
  }
}

.text-center {
  text-align: center !important;
}

.modal-wh {
  width: 600px;
  .modal-header {
    background-color: $color-active;
    h4 {
      color: $color-light;
    }
    .close {
      color: $color-light !important;
    }
  }
  .modal-body {
    min-height: auto;
    border-bottom: 3px solid $color-active;
  }
}

@media screen and (device-width: 1920px) {
  .warehouse-layout {
    max-height: 850px;
    .list-track{
      max-height: 700px;
    }
  }
}

.rendering_wh_layout
{
  position: absolute;
  left: 45%;
  background: #fff;
  padding: 10px;
  top: 45%;
  z-index: 9999;
}
.whs_layout_wrap
{
  position: relative;
  width: 88%;
  float: left;
}
.loadmoreWareHouseLayout
{
  position: absolute;
  left: 45%;
  bottom: 10%;
  z-index: 999;
  background: #fff;
  padding: 5px 10px;
}
.loadmoreButton
{
  text-align: center;
  margin:20px 0 10px 0;

  span{
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #404957;
    border: 1px solid lighten(#404957, 35%);
    &:hover{
      opacity: 0.7;
    }
  }
}
.icon-ban {
  color: $color-warning !important;
}