@import "../variables";
@import "../login";
.forgot-password{
  h3{
    background-color: lighten($color-danger,10%) !important;
    &:before{
      border-top-color: lighten($color-danger,10%) !important;
    }
    p{
      margin-bottom: 15px;
    }
  }
  .input-style{
    i{
      background-color:lighten($color-danger,10%) !important;
    ;
    }
  }
  .login-block
  {
    padding: 20px 20px !important;
  }
  .note
  {
    font-size: 90%;
  }
}
