<div class="top-layout clearfix">
    <h2>ASN List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block asn-management">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form nine-column">
        <form *ngIf="SearchForm" class="clearfix form-inline" id="form-filter" [ngFormModel]="SearchForm" (submit)="search()">
            <div class="form-group">
                <label>ASN Number </label>
                <input type="text" tabindex="1" class="form-control" ngControl="asn_hdr_num" name="asn_hdr_num" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Customer </label>
                <select name="cus_id" ngControl="cus_id" class="form-control" tabindex="2">
                    <option value="">All</option>
                    <option *ngFor="let item of dataListCustomer| orderBy:['cus_name'];" value="{{item.cus_id}}">{{item.cus_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Carrier </label>
                <input type="text" class="form-control" ngControl="ctnr_num" name="ctnr_num" placeholder="" tabindex="3"/>
            </div>
            <div class="form-group  has-feedback">
                <label>Expected Date </label>
                <input type="text" tabindex="4" ngControl="asn_hdr_ept_dt" maxlength="10" autocomplete="off"
                                       data-provide="datepicker" data-date-today-highlight="1" name="asn_hdr_ept_dt"
                                       class="form-control datepicker-asn">
                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
            </div>
            <!-- <div class="form-group">
                <label>PO</label>
                <input type="text" class="form-control" name="asn_dtl_po" placeholder=""/>
            </div> -->
            <div class="form-group multiselect">
                <label>Status </label>
                <wms-multi-select *ngIf="asnStatus.length" 
                    [name]="'asn_sts[]'" [options]="asnStatus" [numberDisplayed]="2"
                    [refresh]="refreshMultiSelect" (onRefreshed)="refreshMultiSelect = $event"></wms-multi-select>
            </div>
            <div class="form-group">
                <label>SKU </label>
                <input type="text" class="form-control" ngControl="sku" name="sku" placeholder="" tabindex="6"/>
            </div>

            <div class="form-group">
                <label>ASN Type</label>
                <select name="asn_type" ngControl="asn_type" class="form-control" tabindex="7">
                    <option value="">All</option>
                    <option *ngFor="let item of arrASNType" value="{{item.asn_type}}">{{item.asn_type_name}}
                    </option>
                </select>
            </div>

            <div class="btn-toolbar pull-left margin-top23">
                <span *ngIf="flagLoading"><img src="/assets/images/loading.gif" alt=""></span>
                <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="7"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue" tabindex="6"><i class="icon-magnifier"></i>Search</button>

            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="hasCreateBtn" class="btn btn-primary pull-left" (click)="printLPN()" tabindex="9"><i class="icon-printer"></i>Print LPN</a>
                <a *ngIf="hasCreateBtn" class="btn btn-primary pull-left" (click)="addRMA()" tabindex="9"><i class="icon-plus"></i>Add RMA</a>
                <a *ngIf = "hasCreateBtn" class="btn btn-primary pull-left" (click)="add()" tabindex="9"><i class="icon-plus"></i>Add</a>
                <div *ngIf = "hasEditBtn" class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="10"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="edit()"><i class="icon-note"></i>Edit</a></li>
                        <li *ngIf="cancelASN"><a (click)="cancel()"><i class="icon-close"></i>Cancel ASN</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="8">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
      <div class="table-style1">
        <advance-table [tableID]="tableID"
          [headerURL]="headerURL"
          [headerDef]="headerDef"
          [pinCols]="pinCols"
          [rowData]="rowData"
          [getSelectedRow]="getSelectedRow"
          [expandTable]="expandTable"
          (returnSelectedRow)="afterGetSelectedRow($event)"
          (sort)="doSort($event)"
        ></advance-table>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
        <report-file-exporter [fileName]="fileName" (bindMessages)="updateMessages($event)" [exportAPIUrl]="exportAPIUrl"></report-file-exporter>
    </div>
</div>
<div id="addRMA" class="modal fade update-date-style" role="dialog" data-backdrop="static">
    <form *ngIf="RMAForm" [ngFormModel]="RMAForm" novalidate>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add RMA</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style-modal">
                            <table class="table table-hover table-addRMA editable">
                                <thead>
                                    <tr>
                                        <th>Order Number <span class="txt-required">(*)</span></th>
                                        <th>Customer Order Number</th>
                                        <th>PO</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>
                                        <div class="form-group" [class.error-style]="showError && Odr_num.control.errors">
                                            <input placeholder="Auto Complete"
                                                ngControl="odr_num" #Odr_num="ngForm"
                                                (keyup)="autoComplete($event)"
                                                class="form-control dropdown-toggle"
                                                type="text" data-toggle="dropdown" />
                                            <span *ngIf="loading['odr_num']"><img src="/assets/images/loading.gif"></span>
                                            <ul class="dropdown-menu autocomplete" *ngIf="order_list.length">
                                                <li *ngFor="let itm of order_list" (click)="selectedOrder(itm)">
                                                    {{itm.odr_num}}
                                                </li>
                                            </ul>
                                            <p *ngIf="showError && Odr_num.control.hasError('required')" class="error">
                                                Order Number is required.
                                            </p>
                                        </div>
                                    </td>
                                    <td class="autocomplete-style">
                                        <div class="form-group" [class.error-style]="showError && Cus_odr_num.control.errors">
                                            <input placeholder="Auto Complete"
                                                ngControl="cus_odr_num" #Cus_odr_num="ngForm"
                                                (keyup)="autoCompleteCusOrderNum($event)"
                                                class="form-control dropdown-toggle"
                                                type="text" data-toggle="dropdown" />
                                            <span *ngIf="loading['cus_odr_num']"><img src="/assets/images/loading.gif"></span>
                                            <div *ngIf="cus_order_list.length" tabindex="-1" class="list-menu list-group list-table limit-height">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th class="nowrap">Cus Order #</th>
                                                        <th class="nowrap">Order #</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let item of cus_order_list; trackBy: index" (click)="selectedCusOrder(item)">
                                                        <td class="nowrap"><a>{{item.cus_odr_num}}</a></td>
                                                        <td class="nowrap"><a>{{item.odr_num}}</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="autocomplete-style">
                                        <div class="form-group" [class.error-style]="showError && Po.control.errors">
                                            <input placeholder="Auto Complete"
                                                ngControl="cus_po" #Po="ngForm"
                                                (keyup)="autoCompletePO($event)"
                                                class="form-control dropdown-toggle"
                                                type="text" data-toggle="dropdown" />
                                            <span *ngIf="loading['cus_po']"><img src="/assets/images/loading.gif"></span>
                                            <div *ngIf="po_list.length" tabindex="-1" class="list-menu list-group list-table limit-height align-right">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th class="nowrap">PO</th>
                                                        <th class="nowrap">Order #</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let item of po_list; trackBy: index" (click)="selectedPO(item)">
                                                        <td class="nowrap"><a>{{item.cus_po}}</a></td>
                                                        <td class="nowrap"><a>{{item.odr_num}}</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="saveRMA()" class="btn btn-primary pull-right">
                        <i class="icon-check"></i>Submit
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                        <i class="icon-close"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>

<div id="print-lpn" class="modal fade" role="dialog" data-backdrop="static">
    <form *ngIf="formLPN" id="form-print-lpn" [ngFormModel]="formLPN" (submit)="printLPNData()" novalidate>
        <div class="modal-dialog modal-style-default modal-md">
            <!-- Modal content-->
            <div class="modal-content modal-width-70">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Print LPN</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="table">
                        <div class="table-style3 table-responsive padding-20">
                            <table class="table table-hover table-bordered">
                                <tbody>
                                    <tr>
                                        <td>#LPN to print
                                            <span class="txt-required">(*)</span></td>
                                        <td>
                                            <div class="form-group"
                                            [class.error-style] = "showError && Lpn_field.control.errors">
                                                <input class="full-width-input form-control" ngControl="lpn_field" maxlength="3" id="Lpn_field"
                                                #Lpn_field="ngForm" type="text" (keypress)="checkInputNumber($event, true)" #box (keyup)="inputLPN(box.value)">

                                                <p *ngIf="showError && Lpn_field.control.hasError('required')" class="error">
                                                    LPN is required.
                                                </p>
                                                <p *ngIf="showError && Lpn_field.control.hasError('max')" class="error">
                                                    End is invalid ( Maximum is 999.999 )
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Start</td>
                                        <td><input class="full-width-input form-control" type="text" *ngIf="limitLPN['start']=='' || limitLPN['start']!=''" [value]="limitLPN['start']" [disabled]="true"></td>
                                    </tr>
                                    <tr>
                                        <td>End</td>
                                        <td><input class="full-width-input form-control" type="text" *ngIf="limitLPN['end']=='' || limitLPN['end']!=''" [value]="limitLPN['end']" [disabled]="true"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  type="submit" class="btn btn-primary pull-right"><i class="icon-check"></i>Print</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                            <i class="icon-close"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
