<h3>
    Customer Revenue
    <ul class="nav nav-tabs icon-chart-block" role="tablist">
        <li role="presentation" class="active">
            <a href="#financial-dashboard" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-list"></i>
            </a>
        </li>
    </ul>

</h3>
<div class="dashboard-detail tab-content">
    <div role="tabpanel" class="tab-pane active" id="financial-dashboard">
        <div class="table-style-dashboard table-style-dashboard2">
            <table class="table-dashboard table">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>{{currentMonth}} invoice revenue</th>
                        <th>{{currentYear}} - YTD invoice revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of financialDashboardList | paginate: {id :'financial', itemsPerPage: 4, currentPage:fip } ; let i=index">
                        <td>{{item.customer}}</td>
                        <td>{{item.currentMonthRevenue}}</td>
                        <td>{{item.YTDRevenue}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right paging">
                <div class="showing pull-left clearfix">
                    <pagination-controls (pageChange)="fip = $event" id="financial" autoHide="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay">
    <img src="/assets/images/spinner.gif" alt="">
</div>