<div id="csr-list">
    <div *ngIf="allowAssignCSR" class="table-list-head clearfix">
        <div class="input-group pull-right">
            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle" type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ><a (click)="delete()"><i class=""></i>Delete</a></li>
            </ul>
        </div>
        <div class="pull-right">
            <a tabindex="12" class="btn btn-primary"
               (click)="getPopupCSR()"><i class="icon-plus"></i>Assign CSR</a>
        </div>
    </div>
    <div class="table-style1">
        <table class="table table-bordered table-hover small-padding-table">
            <thead>
            <tr>
                <th class="column-checkbox">
                    <input [disabled]="!listCSR.length" type="checkbox" [(ngModel)]="selectedAll['listCSR']" (change)="checkAll($event, 'listCSR', listCSR)"/>
                </th>
                <th>EmpID</th>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Office</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listCSR; let i = index" [class.row-selected]="item.selected" (click)="checkSelectItem(item, 'listCSR', listCSR)">
                <td>
                    <input [ngModel]="item.selected" value="{{item}}" type="checkbox">
                </td>
                <td>{{item.csr}}</td>
                <td>{{item.emp_code}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.dept}}</td>
                <td>{{item.off_loc}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.status}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="11">
                    <p *ngIf="listCSR.length==0&&!showLoadingOverlay">No Results Found.</p>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    
</div>
<div id="assign-csr" class="modal fade hide" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assign CSR</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="infoSearchUser['first_name']" (ngModelChange)="filterUser()" class="form-control" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="infoSearchUser['last_name']" (ngModelChange)="filterUser()" class="form-control" placeholder="Last Name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="infoSearchUser['email']" (ngModelChange)="filterUser()" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <button tabindex="10" type="button" class="btn btn-outline gray" (click)="resetFilterUser()"><i class="icon-close"></i>Reset
                            </button>
                        </div>
                    </div>
                    <div class="table">
                        <div class="table-style2 table-responsive max-height-400">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="column-checkbox">
                                        <input [disabled]="!allCSR.length" type="checkbox" [(ngModel)]="selectedAll['popupCSR']" (change)="checkAll($event, 'popupCSR', allCSR)"/>
                                    </th>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Department</th>
                                    <th>Office</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of allCSR" (click)="checkSelectItem(item, 'popupCSR', allCSR)"
                                    [class.highlight]="item.selected">
                                    <td>
                                        <input [ngModel]="item.selected" value="{{item}}" type="checkbox">
                                    </td>
                                    <td>{{item.username}}</td>
                                    <td>{{item.first_name}}</td>
                                    <td>{{item.last_name}}</td>
                                    <td>{{item.dept}}</td>
                                    <td>{{item.off_loc}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p *ngIf="!dataCSR.length">No Results Found.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="selectedItems.length == 0" type="submit" (click)="assignCSR()" data-dismiss="modal"
                            class="btn btn-primary pull-right">
                            <i class="icon-check"></i>Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                        <i class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<popup-assign-multi-csr *ngIf="allCSR.length > 0" (messages)="messages=$event" (isAssigned)="getList()" [listSelectedItem]="allCSR" [listCSRExisted]='listCSR' [orderId]="_orderId"></popup-assign-multi-csr>
