<div id="viewLocationStatus" class="modal fade" role="dialog" (viewLocationStatus)="viewLocationStatus($event);">
    <form>
        <div class="modal-dialog modal-style-default">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">View Status</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="form-horizontal form-style">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Location Code</label>
                                    <input type="text" value = "{{dataItemLocaView.loc_code}}" class="form-control" placeholder=""  readonly>
                                </div>
                                <div class="form-group">
                                    <label class="">Status</label>
                                    <select class="form-control"  placeholder=""  disabled>
                                        <option selected>{{dataItemLocaView.loc_sts_code_name}}</option>
                                    </select>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="">From Date</label>
                                        <input type="text" class="form-control" aria-describedby="" value  = "{{dataStausLocation.loc_sts_dtl_from_date|dateFormat}}"
                                               data-provide="datepicker" disabled>
                                        <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Location Alternative Name
                                    </label>
                                    <input type="text" class="form-control" value = "{{dataItemLocaView.loc_alternative_name}}"  placeholder="" required readonly>
                                </div>
                                <div class="form-group">
                                    <label class="">Changed By</label>
                                    <input type="text" value="{{dataStausLocation?.updated_by}}" class="form-control"  placeholder="" required readonly>
                                </div>
                                <div class="form-group has-feedback">
                                    <label>To Date</label>
                                        <input type="text" class="form-control" aria-describedby=""  value = "{{dataStausLocation?.loc_sts_dtl_to_date|dateFormat}}"
                                               data-provide="datepicker" disabled>
                                        <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="">Reason</label>
                                    <input type="text" class="form-control" value = "{{dataStausLocation?.loc_sts_dtl_reason}}" placeholder="" required readonly>
                                </div>
                                <div class="form-group">
                                    <label class="">Remark</label>
                                    <textarea name="" class="form-control" rows="3" disabled>{{dataStausLocation?.loc_sts_dtl_remark}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
