<div class="layout-block">
    <div class="error-block area-block clearfix">
        <div class="col-md-2">
            <div class="img-error">
                <img src="../../../assets/images/not-found.png" alt="Not Found" class="img-responsive">
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-error">
                <h1 class="text-primary">Oh no !</h1>
                <h1 class="text-gray">Page<span class="text-danger"> 404 </span>found</h1>
                <p>We can not find the page you're looking for.</p>
                <a href="#/dashboard"><i class="icon-arrow-right-circle"></i>Return Home Page</a>
            </div>
        </div>
    </div>
</div>