<div *ngIf="allowAccess">
  <div *ngIf="allowAccess">
    <div class="top-layout clearfix">
      <h2>{{TitlePage}}</h2>
      <wms-breadcrumb></wms-breadcrumb>
    </div>
    <div class="layout-block customer-management">
      <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
          <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
          <span [innerHTML]="messages.txt"></span>
        </div>
      </div>
      <form *ngIf="CustomerForm" class="form-horizontal form-style" [ngFormModel]="CustomerForm"
            (ngSubmit)="Action!='View' && Save()" novalidate>
        <div class="area-block clearfix">
          <div class="row form-area">
            <div class="col-md-2">
              <div class="form-group"
                   [class.error-style]="(Cus_code.control.touched || submitForm) && Cus_code.control.errors">
                <label class="">Customer Code <span *ngIf="!IsView"
                                                    class="txt-required">(*)</span></label>
                <input tabindex="1" type="text" #Cus_code="ngForm" maxlength="3" ngControl="cus_code"
                       class="form-control" [disabled]="cusId" placeholder="" required>
                <p *ngIf="(Cus_code.control.touched || submitForm) && (Cus_code.control.hasError('required') || Cus_code.control.hasError('invalidSpace'))"
                   class="error">
                  Customer Code is required.
                </p>
                <p *ngIf="(Cus_code.control.touched || submitForm) && Cus_code.control.hasError('invalidLength3')"
                   class="error">
                  Customer Code should contain 3 alphanumerics.
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"
                   [class.error-style]="(Cus_name.control.touched  || submitForm) && Cus_name.control.errors">
                <label class="">Customer Name <span *ngIf="!IsView"
                                                    class="txt-required">(*)</span></label>
                <input tabindex="2" type="text" maxlength="50" #Cus_name="ngForm" ngControl="cus_name"
                       class="form-control" [disabled]="IsView" name="customer-code" placeholder=""
                       required>
                <p *ngIf="(Cus_name.control.touched || submitForm) && (Cus_name.control.hasError('required')|| Cus_name.control.hasError('invalidSpace'))"
                   class="error">
                  Customer Name is required.
                </p>
                <p *ngIf="(Cus_name.control.touched || submitForm) && Cus_name.control.hasError('invalidNameStr')"
                   class="error">
                  Customer Name should only contain alphanumeric, space, hyphen and underscore.
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"
                   [class.error-style]="Cus_billing_account.control.touched && Cus_billing_account.control.hasError('required') || submitForm && Cus_billing_account.control.hasError('required')|| Cus_billing_account.control.hasError('invalidSpace')">
                <label class="">Billing Account <span *ngIf="!IsView"
                                                      class="txt-required">(*)</span></label>
                <input tabindex="3" type="text" maxlength="20" #Cus_billing_account="ngForm"
                       ngControl="cus_billing_account" class="form-control" [disabled]="IsView"
                       name="billing-account" placeholder="" required>
                <p *ngIf="Cus_billing_account.control.touched&&Cus_billing_account.control.hasError('required')||submitForm && Cus_billing_account.control.hasError('required')|| Cus_billing_account.control.hasError('invalidSpace')"
                   class="error">
                  Billing Account is required.
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"
                   [class.error-style]="CountryCtl.control.touched && CountryCtl.control.hasError('required') || submitForm && CountryCtl.control.hasError('required')|| CountryCtl.control.hasError('invalidSpace')">
                <label class="">Country <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                <select tabindex="4" #CountryCtl="ngForm" ngControl="cus_country_id" class="form-control"
                        [disabled]="IsView" required>
                  <option value="">Select one value</option>
                  <option *ngFor="let item of Country | orderBy:['sys_country_name']"
                          [value]="item.sys_country_id">{{item.sys_country_name}}
                  </option>
                </select>
                <p *ngIf="CountryCtl.control.touched&&CountryCtl.control.hasError('required')||submitForm && CountryCtl.control.hasError('required')|| CountryCtl.control.hasError('invalidSpace')"
                   class="error">
                  Country is required.
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"
                   [class.error-style]="CountryCtl.control.touched && CountryCtl.control.hasError('required') || submitForm && CountryCtl.control.hasError('required')|| CountryCtl.control.hasError('invalidSpace')">
                <label class="">Customer Color<span *ngIf="!IsView" class="txt-required">(*)</span></label>
                <input [disabled]="IsView"  [cpPosition]="'bottom'" class="form-control"
                       (colorPickerChange)="changeCustomerColor($event)" [value]="cus_color"
                       [(colorPicker)]="cus_color" #Cl_code="ngForm"
                       [style.background]="cus_color" ngControl="cl_code"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="">Description</label>
                                <textarea tabindex="5" ngControl="cus_des" maxlength="225" rows="2" [disabled]="IsView"
                                          class="form-control"></textarea>
              </div>

            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="">Sales Rep</label>
                <input maxlength="50" #Sales_rep="ngForm" ngControl="sales_rep" class="form-control" [disabled]="IsView">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="">Billed Through</label>
                <input maxlength="50" #Billed_through="ngForm" ngControl="billed_through" class="form-control" [disabled]="IsView">
              </div>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li [class.active.in]="Action!=='New'" *ngIf="Action=='View'||Action=='Edit'" tabindex="6">
            <a data-toggle="tab" href="#tabZones">Zones
                <span
                *ngIf="showIconDanger"
                class="txt-required"><i class="fa fa-warning"></i></span>
            </a>
          </li>
          <li *ngIf="Action=='View'||Action=='Edit'" ><a data-toggle="tab" href="#tabWarehouse" tabindex="9">Warehouse</a>
          </li>
          <li *ngIf="Action=='View'||Action=='Edit'"><a data-toggle="tab" href="#tabLocation" tabindex="11">Locations</a>
          </li>
          <li [class.active]="Action=='New'">
            <a data-toggle="tab" href="#tabContact" tabindex="13">Contacts
                <span *ngIf="submitForm&&!CustomerForm.controls['contacts'].valid" class="txt-required">
                  <i class="fa fa-warning"></i>
                </span>
                <span *ngIf="CustomerForm.controls['contacts'].valid&&!IsView" class="icon-done">
                  <i class="fa fa-check"></i>
                </span>
            </a>
          <li tabindex="16">
            <a data-toggle="tab" href="#tabShipping">Addresses
                <span *ngIf="submitForm&&!CustomerForm.controls['addresses'].valid" class="txt-required">
                  <i class="fa fa-warning"></i></span>
                 <span *ngIf="CustomerForm.controls['addresses'].valid&&!IsView" class="icon-done">
                  <i class="fa fa-check"></i>
               </span>
            </a>
          </li>
          <li tabindex="26"><a data-toggle="tab" href="#tabConfiguration">Configuration
          </a>
          </li>
          <li *ngIf="Action=='View'||Action=='Edit'" tabindex=""><a data-toggle="tab" href="#tabOrderFlow">Order Flow
          </a>
          </li>
          <li *ngIf="csrForm&&(Action=='View'||Action=='Edit')" tabindex=""><a data-toggle="tab" href="#tabCSR">CSR
            <span
                    *ngIf="submitForm&&!csrForm.valid === null ? false : !csrForm.valid"
                    class="txt-required"><i
                    class="fa fa-warning"></i></span>
              <span *ngIf="submitForm&&csrForm.valid === null ? true : csrForm.valid" class="icon-done">
                  <i class="fa fa-check"></i>
               </span>
          </a>
          </li>
          <li *ngIf="Action=='View'||Action=='Edit'" tabindex="">
            <a data-toggle="tab" href="#tab3rdParty">3rd Party</a>
          </li>
          <!--<li *ngIf="IsView" tabindex="">
            <a data-toggle="tab" href="#tabDocument">Documents</a>
          </li>-->
          <li *ngIf="Action === 'View' || Action === 'Edit'"><a data-toggle="tab" href="#tabInboundConfig">Inbound Config</a></li>

          <li *ngIf="Action!=='New'">
            <a data-toggle="tab" href="#tabCarrier">Carrier Service</a>
          </li>
        </ul>
        <div class="tab-content">
          <div *ngIf="Action=='View'||Action=='Edit'" class="clearfix tab-pane fade active in" id="tabZones">
            <div class="filter table-list-head clearfix">
              <div *ngIf="!IsView" class="pull-right">
                <div (click)="GetListDataPopup('getZone','ListZonesByCustomer')" class="btn btn-primary"
                     data-toggle="modal" data-target="#addZone" tabindex="7"><i class="icon-plus"></i>Add
                </div>
                <div class="input-group pull-right">
                  <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                          class="btn btn-group dropdown-toggle"
                          type="button" tabindex="8"><i class="icon-settings"></i>Action <span
                    class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a (click)="Delete('ListZonesByCustomer',false)"><i class="icon-trash"></i>Delete</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control"  tabindex="6">
                  <option value="20" selected>20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="table-style1 clearfix">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th *ngIf="!IsView" class="column-checkbox"><input [disabled]="!ListZonesByCustomer.length"
                                                                     (ngModelChange)="CheckAll($event,'ListZonesByCustomer',StatePaginZone,'pagin_zone')"
                                                                     [(ngModel)]="selectedAll.ListZonesByCustomer"
                                                                     type="checkbox"></th>
                  <th>Zone Code</th>
                  <th>WHS Code</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th>Min Count</th>
                  <th>Max Count</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="setClickedRow(item,'ListZonesByCustomer',StatePaginZone,'pagin_zone')" [class.row-selected]="item.selected"
                  *ngFor="let item of ListZonesByCustomer| paginate: {id :'pagin_zone', itemsPerPage: perPage, currentPage: p}">
                  <td *ngIf="!IsView"><input type="checkbox" value="{{item.zone_id}}"
                                             (change)="Selected($event,item,'ListZonesByCustomer',StatePaginZone,'pagin_zone')"
                                             [ngModel]="item.selected"></td>
                  <td>{{item.zone_code}}</td>
                  <td>{{item.whs_code}}</td>
                  <td>{{item.zone_description}}</td>
                  <td>{{item.zone_type_name}}</td>
                  <td>{{item.zone_min_count}}</td>
                  <td>{{item.zone_max_count}}</td>
                </tr>
                </tbody>
              </table>
              <p *ngIf="ListZonesByCustomer.length==0&&!Loading['getListZoneByCustomer']">No Results Found.</p>
              <p *ngIf="ListZonesByCustomer.length==0&&Loading['getListZoneByCustomer']">Loading
                ... </p>
            </div>
            <goBack *ngIf="IsView"></goBack>
            <div class="pull-right">
              <pagination-controls
                (statePagin)="StatePaginZone=$event;checkCheckAll('ListZonesByCustomer',StatePaginZone,'pagin_zone')"
                (pageChange)="p = $event" id="pagin_zone" autoHide="true">
              </pagination-controls>
            </div>
          </div>

          <div *ngIf="Action=='View'||Action=='Edit'" class="clearfix tab-pane fade" id="tabWarehouse">
            <div class="table-list-head clearfix">
              <div *ngIf="!IsView" class="pull-right">
                <div (click)="GetListDataPopup('getZone','ListZonesByCustomer')" class="btn btn-primary" data-toggle="modal"
                  data-target="#addWarehouse"><i class="icon-plus"></i>Add
                </div>
              </div>
              <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="10">
                  <option value="20" selected>20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="table-style1 clearfix">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Warehouse Code</th>
                  <th>Warehouse Name</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of CustomerForm.value['warehouses'] | paginate: {id :'pagin_whs', itemsPerPage: perPage, currentPage: pw}">
                  <td>{{item.whs_code}}</td>
                  <td>{{item.whs_name}}</td>
                  <td>{{item.whs_city_name}}</td>
                  <td>{{item.whs_state_name}}</td>
                  <td>{{item.whs_status_name}}</td>
                </tr>
                </tbody>
              </table>
              <p *ngIf="!CustomerForm.value['warehouses']?.length">No Results Found.</p>
            </div>
            <div class="pull-right">
              <pagination-controls id="pagin_whs" autoHide="true" (pageChange)="pw = $event">
              </pagination-controls>
            </div>
            <goBack *ngIf="IsView"></goBack>
          </div>
          <div *ngIf="Action=='View'||Action=='Edit'" class="clearfix tab-pane fade" id="tabLocation">
            <div class="filter table-list-head clearfix">
              <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="12">
                  <option value="20" selected>20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="table-style1">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Warehouse Code</th>
                  <th>Location Code</th>
                  <th>Alternation Name</th>
                  <th>Type</th>
                  <th>Width</th>
                  <th>Length</th>
                  <th>Height</th>
                  <th>Available Capacity</th>
                  <th>Weight Capacity</th>
                  <th>Min Count</th>
                  <th>Max Count</th>
                  <th>Zone</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of ListLocationByCustomer | paginate: {id :'pagin_location', itemsPerPage: perPage, currentPage: curPL}">
                  <td>{{item.whs_code}}</td>
                  <td>{{item.loc_code}}</td>
                  <td>{{item.loc_alternative_name}}</td>
                  <td>{{item.loc_type_name}}</td>
                  <td>{{item.loc_width}}</td>
                  <td>{{item.loc_length}}</td>
                  <td>{{item.loc_height}}</td>
                  <td>{{item.loc_available_capacity}}</td>
                  <td>{{item.loc_weight_capacity}}</td>
                  <td>{{item.loc_min_count}}</td>
                  <td>{{item.loc_max_count}}</td>
                  <td>{{item.loc_zone_name}}</td>
                  <td>{{item.loc_sts_code_name}}</td>
                </tr>
                </tbody>
              </table>
              <p *ngIf="ListLocationByCustomer.length==0&&!Loading['GetLocationByCustomer']">No Results Found.</p>
              <p *ngIf="ListLocationByCustomer.length==0&&Loading['GetLocationByCustomer']">Loading... </p>
            </div>
            <div class="pull-right">
              <pagination-controls (statePagin)="StatePaginLocation=$event" id="pagin_location"
                                   (pageChange)="curPL = $event" autoHide="true">
              </pagination-controls>
            </div>
            <goBack *ngIf="IsView"></goBack>
          </div>
          <div ngControlGroup="contacts" [class.active]="Action=='New'" [class.in]="Action=='New'"
               class="clearfix tab-pane fade" id="tabContact">
            <div class="contact-block" *ngFor="let icontact of ctConTact;let i=index"
                 ngControlGroup="{{i}}">
              <h4 *ngIf="ctConTact.length">Contact Info {{i+1}} </h4>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group"
                       [class.error-style]="Cus_ctt_fname.control.touched && Cus_ctt_fname.control.hasError('required') || submitForm && Cus_ctt_fname.control.hasError('required')|| Cus_ctt_fname.control.hasError('invalidSpace')">
                    <label class="">First Name <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                    <input maxlength="50" tabindex="14" ngControl="cus_ctt_fname"
                           #Cus_ctt_fname="ngForm" type="text" [disabled]="IsView"
                           class="form-control" required>
                    <p *ngIf="Cus_ctt_fname.control.touched&&Cus_ctt_fname.control.hasError('required')||submitForm && Cus_ctt_fname.control.hasError('required')||Cus_ctt_fname.control.hasError('invalidSpace')"
                       class="error">
                      First Name is required.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group"
                       [class.error-style]="Cus_ctt_lname.control.touched && Cus_ctt_lname.control.hasError('required') || submitForm && Cus_ctt_lname.control.hasError('required')||Cus_ctt_lname.control.hasError('invalidSpace')">
                    <label class="">Last Name <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                    <input maxlength="50" tabindex="14" #Cus_ctt_lname="ngForm"
                           ngControl="cus_ctt_lname" type="text" [disabled]="IsView"
                           class="form-control" required>
                    <p *ngIf="Cus_ctt_lname.control.touched&&Cus_ctt_lname.control.hasError('required')||submitForm && Cus_ctt_lname.control.hasError('required')||Cus_ctt_lname.control.hasError('invalidSpace')"
                       class="error">
                      Last Name is required.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="">Position</label>
                    <input maxlength="50" ngControl="cus_ctt_position" tabindex="14" type="text"
                           [disabled]="IsView" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group"
                       [class.error-style]="Cus_ctt_email.control.touched && Cus_ctt_email.control.hasError('required') || submitForm && Cus_ctt_email.control.hasError('required') || Cus_ctt_email.control.touched&&Cus_ctt_email.control.hasError('invalidEmailAddress')">
                    <label class="">Email <span *ngIf="!IsView"
                                                class="txt-required">(*)</span></label>
                    <input maxlength="50" tabindex="14" #Cus_ctt_email="ngForm"
                           ngControl="cus_ctt_email" type="email" [disabled]="IsView"
                           class="form-control" required>

                    <p class="error">
                      <span *ngIf="Cus_ctt_email.control.touched&&Cus_ctt_email.control.hasError('required')||submitForm && Cus_ctt_email.control.hasError('required')">Email is required.</span>
                      <span *ngIf="Cus_ctt_email.control.touched&&Cus_ctt_email.control.hasError('invalidEmailAddress')">Email is invalid.</span>
                    </p>
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="form-group"
                       [class.error-style]="Cus_ctt_phone.control.touched && Cus_ctt_phone.control.hasError('required') || submitForm && Cus_ctt_phone.control.hasError('required')||Cus_ctt_phone.control.hasError('invalidSpace')">
                    <label class="">Phone <span *ngIf="!IsView"
                                                class="txt-required">(*)</span></label>
                    <input maxlength="20" tabindex="14" #Cus_ctt_phone="ngForm"
                           ngControl="cus_ctt_phone" type="text" [disabled]="IsView"
                           class="form-control" required>
                    <p *ngIf="Cus_ctt_phone.control.touched&&Cus_ctt_phone.control.hasError('required')||submitForm && Cus_ctt_phone.control.hasError('required')||Cus_ctt_phone.control.hasError('invalidSpace')"
                       class="error">
                      Phone is required.
                    </p>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <label class="">Extension</label>
                    <input ngControl="cus_ctt_ext" tabindex="14" maxlength="10" type="text"
                           [disabled]="IsView" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="">Mobile</label>
                    <input maxlength="20" tabindex="14" ngControl="cus_ctt_mobile" type="text"
                           [disabled]="IsView" class="form-control">
                  </div>
                </div>
              </div>

              <div (click)="deleteBlockContact(i)" *ngIf="!IsView&&i>=1" class="delete-icon txt-required">
                <i class="fa fa-remove"></i></div>
            </div>
            <div *ngIf="messagesLimitAddContact" class="form-group clearfix">
              <!-- messages -->
              <div class="alert alert-{{messagesLimitAddContact.status}}">
                <a href="#" class="close" (click)="messagesLimitAddContact=false"
                   aria-label="close">&times;</a>
                <span [innerHTML]="messagesLimitAddContact.txt"></span>
              </div>
            </div>
            <div *ngIf="!IsView" class="button clearfix pull-left">
              <a type="button" (click)="addContact()" class="btn btn-outline blue no-margin-left" tabindex="15"><i
                class="icon-plus"></i> Add more contact</a>
            </div>
            <goBack *ngIf="IsView"></goBack>
          </div>
          <div ngControlGroup="addresses" class="clearfix tab-pane fade" id="tabShipping">
            <div class="contact-block" *ngFor="let icontact of shippingInfo;let i=index"
                 ngControlGroup="{{i}}">
              <h4 *ngIf="shippingInfo.length">Address Info {{i+1}} </h4>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group"
                       [class.error-style]="ShippingInfo_AddressLine1.control.touched&&ShippingInfo_AddressLine1.control.hasError('required')|| submitForm && ShippingInfo_AddressLine1.control.hasError('required')||ShippingInfo_AddressLine1.control.hasError('invalidSpace')">
                    <label class="">Address Line 1 <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                    <input type="text" [disabled]="IsView" maxlength="50"
                           #ShippingInfo_AddressLine1='ngForm'
                           ngControl="cus_add_line_1"
                           class="form-control" required tabindex="17">
                    <p *ngIf="ShippingInfo_AddressLine1.control.touched&&ShippingInfo_AddressLine1.control.hasError('required')|| submitForm && ShippingInfo_AddressLine1.control.hasError('required')||ShippingInfo_AddressLine1.control.hasError('invalidSpace')"
                       class="error">
                      Address Line 1 is required.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="">Address Line 2</label>
                    <input type="text" [disabled]="IsView" maxlength="50"
                           ngControl="cus_add_line_2" class="form-control" tabindex="18">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" [class.error-style]="(Cus_add_type.control.touched||submitForm)&&Cus_add_type.control.errors">
                    <label class="">Address Type<span *ngIf="!IsView" class="txt-required">(*)</span></label>
                    <select [disabled]="IsView" class="form-control"
                            #Cus_add_type='ngForm'
                            ngControl="cus_add_type" tabindex="19">
                      <option value="">Select Address Type</option>
                      <option value="bill">Bill</option>
                      <option value="ship">Ship</option>
                    </select>
                    <p *ngIf="Cus_add_type.control.touched&&Cus_add_type.control.hasError('required')||submitForm && Cus_add_type.control.hasError('required')"
                       class="error">
                      Address Type is required.
                    </p>
                    <p *ngIf="(Cus_add_type.control.touched||submitForm )&& Cus_add_type.control.hasError('duplicated')"
                       class="error">
                      Address Type cannot be duplicated.
                    </p>
                  </div>
                </div>
                <!--row 2-->


                <div class="col-md-3">
                  <div class="form-group" [class.error-style]="Cus_add_country_id.control.touched&&Cus_add_country_id.control.hasError('required')||submitForm && Cus_add_country_id.control.hasError('required')">
                    <label class="">Country <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                    <select tabindex="20" #Cus_add_country_id="ngForm" ngControl="cus_add_country_id" class="form-control"
                            [disabled]="IsView" required (change)="ChangeCountry($event.target.value,i)">
                      <option value="">Select Country</option>
                      <option *ngFor="let item of Country | orderBy:['sys_country_name']"
                              [value]="item.sys_country_id">{{item.sys_country_name}}
                      </option>
                    </select>
                    <p *ngIf="Cus_add_country_id.control.touched&&Cus_add_country_id.control.hasError('required')||submitForm && Cus_add_country_id.control.hasError('required')"
                       class="error">
                      Country is required.
                    </p>
                  </div>
                </div>



                <div *ngIf="StateProvinces[i] && StateProvinces[i].length" class="col-md-3">
                  <div class="form-group"
                       [class.error-style]="ShippingInfo_StateProvince.control.touched&&ShippingInfo_StateProvince.control.hasError('required')||submitForm && ShippingInfo_StateProvince.control.hasError('required')">
                    <label class="">State/Province <span *ngIf="!IsView"
                                                         class="txt-required">(*)</span></label>
                    <select [disabled]="IsView" class="form-control"
                            #ShippingInfo_StateProvince='ngForm'
                            ngControl="cus_add_state_id" tabindex="21">
                      <option value="">Select State/Province</option>
                      <option *ngFor="let item of StateProvinces[i]"
                              value="{{item.sys_state_id}}">
                        {{item.sys_state_name}}
                      </option>
                    </select>
                    <p *ngIf="ShippingInfo_StateProvince.control.touched&&ShippingInfo_StateProvince.control.hasError('required')||submitForm && ShippingInfo_StateProvince.control.hasError('required')"
                       class="error">
                      State/Province is required.
                    </p>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group"
                       [class.error-style]="BillingInfoCity.control.touched&&BillingInfoCity.control.hasError('required')|| submitForm && BillingInfoCity.control.hasError('required')||BillingInfoCity.control.hasError('invalidSpace')">
                    <label class="">City <span *ngIf="!IsView"
                                               class="txt-required">(*)</span></label>
                    <input type="text" maxlength="20" [disabled]="IsView"
                           #BillingInfoCity='ngForm' ngControl="cus_add_city_name"
                           class="form-control" required tabindex="22">
                    <p *ngIf="BillingInfoCity.control.touched&&BillingInfoCity.control.hasError('required')||submitForm && BillingInfoCity.control.hasError('required')||BillingInfoCity.control.hasError('invalidSpace')"
                       class="error">
                      City is required.
                    </p>
                  </div>
                </div>


                <div class="col-md-3">
                  <div class="form-group"
                       [class.error-style]="ShippingInfo_ZipCode.control.touched&&ShippingInfo_ZipCode.control.hasError('required')||submitForm && ShippingInfo_ZipCode.control.hasError('required')||ShippingInfo_ZipCode.control.hasError('invalidSpace')">
                    <label class="">Zip Code <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                    <input [disabled]="IsView" type="text" maxlength="10"
                           #ShippingInfo_ZipCode='ngForm'
                           tabindex="23"
                           ngControl="cus_add_postal_code"
                           class="form-control" required>
                    <p *ngIf="ShippingInfo_ZipCode.control.touched&&ShippingInfo_ZipCode.control.hasError('required')||submitForm && ShippingInfo_ZipCode.control.hasError('required')||ShippingInfo_ZipCode.control.hasError('invalidSpace')"
                       class="error">
                      Zip Code is required.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="messagesLimitAddAddress" class="form-group clearfix">
              <div class="alert alert-{{messagesLimitAddAddress.status}}">
                <a href="#" class="close" (click)="messagesLimitAddAddress=false"
                   aria-label="close">&times;</a>
                <span [innerHTML]="messagesLimitAddAddress.txt"></span>
              </div>
            </div>
            <goBack *ngIf="IsView"></goBack>


          </div>
          <div class="clearfix tab-pane fade" id="tabConfiguration">
            <div class="area-block">
              <form *ngIf="configurationForm" class="form-horizontal" [ngFormModel]="configurationForm">
                <div class="form-group">
                  <label class="col-sm-1">Auto Mode</label>
                  <div class="col-sm-10">
                    <div class="form-group">
                      <input type="checkbox" [checked]="auto_mode.ac=='Y'" (change)="setYesNoConfig(auto_mode,$event)"  tabindex="27" [disabled]="IsView">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-1">Picking Algorithm</label>
                  <div class="col-sm-10">
                    <label class="radio-inline width70">
                      <input type="radio" [checked]="pickings.value=='fifo'" name="PickingAlgorithm"
                             [disabled]="IsView" (click)="pickings.value='fifo'" ([ngModel])="pickings.value" tabindex="28"> FIFO
                    </label>
                    <label class="radio-inline width70">
                        <input type="radio" [checked]="pickings.value=='lifo'" name="PickingAlgorithm"
                               [disabled]="IsView" (click)="pickings.value='lifo'" ([ngModel])="pickings.value" tabindex="28"> LIFO
                    </label>
                    <label class="radio-inline width70">
                        <input type="radio" [checked]="pickings.value=='fefo'" name="PickingAlgorithm"
                               [disabled]="IsView" (click)="pickings.value='fefo'" ([ngModel])="pickings.value" tabindex="28"> FEFO
                    </label>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1">Back Order</label>
                    <div class="col-sm-10">
                        <label class="radio-inline width70">
                            <input type="radio"  name="BackOrder" [checked]="backOdr.full.ac=='Y'"
                                   [disabled]="IsView" (click)="backOdr.full.ac='Y';backOdr.short.ac='N'" ([ngModel])="backOdr.full.ac" tabindex="29"> Full
                        </label>
                        <label class="radio-inline width70">
                            <input type="radio" name="BackOrder" [checked]="backOdr.short.ac=='Y'"
                                   [disabled]="IsView" (click)="backOdr.short.ac='Y';backOdr.full.ac='N'" ([ngModel])="backOdr.short.ac" tabindex="29"> Short
                        </label>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group" [class.error-style]="Config_email.control.touched&&Config_email.control.hasError('invalidEmailAddress')">
                      <label>Accountant Executive Email</label>
                      <input class="form-control" maxlength="50" #Config_email="ngForm" ngControl="config_email" type="email"
                        [disabled]="IsView">

                      <p class="error">
                        <span *ngIf="Config_email.control.touched&&Config_email.control.hasError('invalidEmailAddress')">Email is
                          invalid.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <goBack *ngIf="IsView"></goBack>
          </div>
          <!--Order Flow-->
          <div *ngIf="Action=='View' || Action=='Edit'" class="clearfix tab-pane fade" id="tabOrderFlow">
            <div class="table-style1">
              <config-order-flow-directive
                      *ngIf="IsView||Action=='Edit'"
                      [cusId]="Detail['cus_id']"
                      (messages)="messages=$event"
                      (orderFlowReturnData)="listOrderFlow=$event"
                      (showLoadingOverlay)="showLoadingOverlay=$event"
                      [environment]="'customer'"
                      [disabled]="IsView"
              ></config-order-flow-directive>

            </div>
            <goBack *ngIf="IsView"></goBack>
          </div>
          <div *ngIf="csrForm&&( Action=='View'||Action=='Edit' )" class="clearfix tab-pane fade" id="tabCSR">
            <form [ngFormModel]="csrForm">
                <div class="table-list-head clearfix">
                  <div class="form-inline pull-left">
                    <label>Show</label>
                    <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="10">
                      <option value="20" selected>20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                    </select>
                  </div>
                  <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a (click)="DeleteCSRPicker('csrControlsGroups',csrControlArr)"><i class="icon-trash"></i>Delete</a></li>
                    </ul>
                  </div>
                </div>
                <div class="table-style3 clearfix">
                  <div class="col-md-6 no-padding">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th class="column-checkbox" *ngIf="!IsView"><input [disabled]="!csrControlsGroups.length"
                                                 (ngModelChange)="CheckAll($event,'csrControlsGroups',StatePaginCSR,'CSRPage')"
                                                 [ngModel]="selectedAll.csrControlsGroups"
                                                 type="checkbox"/>
                      </th>
                      <th>Warehouse</th>
                      <th>Name</th>
                      <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let c of csrForm.controls.value.controls|paginate: {id :'CSRPage', itemsPerPage: perPage, currentPage: currentPageCSR}; let i = index;">
                      <td *ngIf="!IsView"><input
                              (change)="Selected($event,c,'csrControlsGroups',StatePaginCSR,'CSRPage')"
                              [ngModel]="c.selected" type="checkbox">
                      </td>
                      <td>
                        <div *ngIf="csr.users[i]" class="form-group" [class.error-style]="c.controls.whs_id.touched&&c.controls.whs_id.errors ||
                                                                            showCsrErr&&c.controls.whs_id.errors">
                          <select  [(ngModel)]="csr.users[i].whsID"
                                   [ngFormControl]="c.controls.whs_id"
                                   [disabled]="IsView"
                                   (ngModelChange)="onWarehouseChange(csr, i, 'csr')"
                                   class="form-control">
                            <option value="">Select Warehouse</option>
                            <option *ngFor="let wh of pkrCsrWarehouses" [value]="wh.whs_id">{{wh.whs_name}}</option>
                          </select>
                          <p *ngIf="c.controls.whs_id.touched&&c.controls.whs_id.hasError('required') || showCsrErr&&c.controls.whs_id.hasError('required')" class="error">
                            Warehouse is required.
                          </p>
                        </div>
                      </td>
                      <td>
                        <div *ngIf="csr.users[i]" class="form-group" [class.error-style]="c.controls.duplicated.errors ||
                                                                          c.controls.user_id.touched&&c.controls.user_id.errors ||
                                                                            showCsrErr&&c.controls.user_id.errors">
                          <span class="waiting"
                                  *ngIf="showLoadingCSR[i]"><img
                                    src="/assets/images/loading.gif"></span>
                          <select  [(ngModel)]="csr.users[i].userID"
                                  [ngFormControl]="c.controls.user_id"
                                  (ngModelChange)="onChangeUserId(csr.users[i], csr)"
                                  [disabled]="IsView || csr.users[i].whsID==''"
                                  class="form-control">
                            <option value="">Select user</option>
                            <option *ngFor="let userCSR of dataCSRUser[i]" [value]="userCSR.user_id">{{userCSR.first_name}} {{userCSR.last_name}}</option>
                          </select>
                          <input type="hidden" [(ngModel)]="csr.users[i].isDuplicated" [ngFormControl]="c.controls.duplicated">
                          <input type="hidden" [(ngModel)]="csr.users[i].hasErrorNotSetDefault" [ngFormControl]="c.controls.not_set_default">
                          <p *ngIf="c.controls.duplicated.hasError('areDuplicated')" class="error">
                            User cannot be duplicated
                          </p>
                          <p *ngIf="c.controls.user_id.touched&&c.controls.user_id.hasError('required') || showCsrErr&&c.controls.user_id.hasError('required')" class="error">
                            User is required.
                          </p>
                        </div>
                      </td>
                      <td>
                        <div *ngIf="csr.users[i]" class="checkbox margin-top15">
                          <div class="form-group" [class.error-style]="c.controls.not_set_default.errors">
                            <label>
                              <input [(ngModel)]="csr.users[i].defaultCheck"
                                     [ngFormControl]="c.controls.set_default_check"
                                     #defaultSet="ngForm"
                                     [disabled]="IsView || csr.users[i].whsID==''"
                                     (ngModelChange)="onChangeDefaultSet(csr.users[i], i, c.controls.not_set_default, prevCsrDefaultSetControl, csr,'csr')"
                                     tabindex="6" type="checkbox" [checked]="csr.users[i].defaultCheck"> Set Default
                            </label>
                            <p *ngIf="c.controls.not_set_default.hasError('areNotSetDefault')" class="error">
                              Default must be set at least one for each Warehouse.
                            </p>
                          </div>
                          <input type="hidden" [(ngModel)]="csr.users[i].defaultSet" [ngFormControl]="c.controls.set_default">
                      </div>
                      </td>
                    </tr>
                    <tr *ngIf="!IsView">
                      <td class="add-more"><i (click)="addMoreCSR()" class="fa fa-plus-circle"></i></td>
                      <td colspan="3"></td>
                    </tr>
                    </tbody>

                  </table>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="pull-right">
                    <pagination-controls
                            (statePagin)="StatePaginCSR=$event;checkCheckAll('csrControlsGroups',StatePaginCSR,'CSRPage')"
                            (pageChange)="currentPageCSR = $event" id="CSRPage"
                            autoHide="true">
                    </pagination-controls>
                  </div>
                </div>
                <goBack *ngIf="IsView"></goBack>
            </form>
          </div>

          <div *ngIf="Action=='View' || Action=='Edit'" class="clearfix tab-pane fade" id="tab3rdParty">
            <div class="table-style1">

              <third-party-directive
                [cusId]="Detail['cus_id']"
                (messages)="messages=$event"
                (showLoadingOverlay)="showLoadingOverlay=$event"
                [IsView]="IsView"
              ></third-party-directive>

            </div>
          </div>

          <!--<div class="clearfix tab-pane fade" id="tabDocument" *ngIf="IsView">
            <dms-in [doc_type]="'cus_doc'" [group]="'CUS'" [trans]="Detail['cus_code']"></dms-in>
          </div>-->

          <div class="clearfix tab-pane fade" id="tabInboundConfig">
            <div class="area-block">
              <form class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-10">
                      <label class="radio-inline width70">
                        <input type="radio" name="stepCtrl" [checked]="stepOption.value == 1" [disabled]="IsView" (click)="stepOption.value = 1"
                          ([ngModel])="stepOption.value"> 1 Step
                      </label>
                      <label class="radio-inline width70">
                        <input type="radio" name="stepCtrl" [checked]="stepOption.value == 2" [disabled]="IsView" (click)="stepOption.value = 2"
                          ([ngModel])="stepOption.value"> 2 Steps
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-10 hidden">
                      <label class="radio-inline width70">
                        <input type="radio" [checked]="palletOption.value == 1" name="palletCtrl" [disabled]="IsView" (click)="palletOption.value = 1"
                          ([ngModel])="palletOption.value"> Pallet
                      </label>
                      <label class="radio-inline width100">
                        <input type="radio" [checked]="palletOption.value == 0" name="palletCtrl" [disabled]="IsView" (click)="palletOption.value = 0"
                          ([ngModel])="palletOption.value"> No Pallet
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-1">Lot</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input type="checkbox" [checked]="lotOption.value == 1" (change)="setYesNoConfigValue(lotOption, $event)" [disabled]="IsView" />
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-1">Expire Date</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input type="checkbox" [checked]="expireDateOption.value == 1" (change)="setYesNoConfigValue(expireDateOption, $event)" [disabled]="IsView" />
                      </div>
                    </div>
                  </div>
              </form>
            </div>
            <goBack *ngIf="IsView"></goBack>
          </div>

          <div class="clearfix tab-pane fade" id="tabCarrier" *ngIf="Action!=='New'">
            <div class="area-block clearfix">
              <div class="row" *ngIf="carrierForm" [ngFormModel]="carrierForm">
                <div ngControlGroup="fdx" class="col-md-6">
                  <div class="form-group">
                    <label>FEDEX Key</label>
                    <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_KEY="ngForm" type="text" id="FEDEX_KEY"
                      ngControl="FEDEX_KEY">
                  </div>
                  <div class="form-group">
                    <label>FEDEX Password</label>
                    <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_PASSWORD="ngForm" type="text"
                      id="FEDEX_PASSWORD" ngControl="FEDEX_PASSWORD">
                  </div>
                  <div class="form-group">
                    <label>FEDEX Meter Number</label>
                    <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_METER_NUMBER="ngForm" type="text"
                      id="FEDEX_METER_NUMBER" ngControl="FEDEX_METER_NUMBER">
                  </div>
                  <div class="form-group">
                    <label>FEDEX Account Number</label>
                    <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_ACCOUNT_NUMBER="ngForm" type="text"
                      id="FEDEX_ACCOUNT_NUMBER" ngControl="FEDEX_ACCOUNT_NUMBER">
                  </div>
                  <div class="form-group">
                    <label>FEDEX App Env</label>
                    <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_APP_ENV="ngForm" type="text"
                      id="FEDEX_APP_ENV" ngControl="FEDEX_APP_ENV">
                  </div>
                  <div class="form-group">
                    <label class="checkbox-inline" for="visible_fdx">
                      <input [disabled]="IsView" #visible="ngForm" type="checkbox" id="visible_fdx" ngControl="visible">
                      Visible
                    </label>
                  </div>
                </div>
                <div ngControlGroup="ups" class="col-md-6">
                  <div class="form-group">
                    <label>UPS License Num</label>
                    <input [readonly]="IsView" type="text" maxlength="255" #UPS_LICENSE_NUM='ngForm' ngControl="UPS_LICENSE_NUM"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label>UPS Username</label>
                    <input [readonly]="IsView" type="text" maxlength="255" #UPS_USERNAME='ngForm' ngControl="UPS_USERNAME"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label>UPS Password</label>
                    <input [readonly]="IsView" type="text" maxlength="255" #UPS_PASSWORD='ngForm' ngControl="UPS_PASSWORD"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label>UPS App Env</label>
                    <input [readonly]="IsView" type="text" maxlength="255" #UPS_APP_ENV='ngForm' ngControl="UPS_APP_ENV"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label>UPS Account Number</label>
                    <input [readonly]="IsView" type="text" maxlength="255" #UPS_ACCOUNT_NUMBER='ngForm'
                      ngControl="UPS_ACCOUNT_NUMBER" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="checkbox-inline" for="visible_ups">
                      <input [disabled]="IsView" #visible="ngForm" type="checkbox" id="visible_ups" ngControl="visible">
                      Visible
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="Action!=='View'" class="button pull-right">
          <button type="button" (click)="RedirectToList()" class="btn btn-default"><i class="icon-close"></i>Cancel
          </button>
          <button *ngIf="Action=='Edit'" type="submit" class="btn btn-primary"><i class="icon-check"></i>Update
          </button>
          <button *ngIf="Action=='New'" type="submit" class="btn btn-primary"><i class="icon-check"></i>Save
          </button>
        </div>
      </form>

    </div>

    <!--Add Zone popup-->
    <div id="addZone" class="modal fade" role="dialog" data-backdrop="static">
      <form>
        <div class="modal-dialog modal-style-default">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Zone</h4>
            </div>
            <div class="modal-body form-style">
              <div class="form-group">
                <label>Select Warehouse</label>
                <select class="form-control" #Filterwhs="ngForm"
                        (ngModelChange)="filterZoneByWareHouse($event)" [(ngModel)]="filterwhs">
                  <option value="">Select one value</option>
                  <option *ngFor="let item of WareHouseList" value="{{item.whs_code}}">
                    {{item.whs_name}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" (ngModelChange)="searchZoneCode($event)"
                       placeholder="Zone code"
                       [(ngModel)]="qzone_id"/>

              </div>
              <div class="table-style1 clearfix">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th><input [disabled]="!ListDataPopup.length"
                               (ngModelChange)="CheckAll($event,'ListDataPopup',StatePaginAddZone,'addzonePagin')"
                               [ngModel]="selectedAll.ListDataPopup" type="checkbox"/></th>
                    <th>Zone Code</th>
                    <th>WHS Code</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Min Count</th>
                    <th>Max Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr #ListDataFilter (click)="setClickedRow(item,'ListDataPopup',StatePaginAddZone,'addzonePagin')" [class.row-selected]="item.selected"
                      *ngFor="let item of ListDataPopup | paginate: {id :'addzonePagin', itemsPerPage: 20, currentPage: addzoneP}">
                    <td>
                      <input (ngModelChange)="Selected($event,item,'ListDataPopup',StatePaginAddZone,'addzonePagin')"
                             [ngModel]="item.selected" value="{{item}}" type="checkbox">

                    </td>
                    <td>{{item.zone_code}}</td>
                    <td>{{item.whs_code}}</td>
                    <td>{{item.zone_description}}</td>
                    <td>{{item.zone_type_name}}</td>
                    <td>{{item.zone_min_count}}</td>
                    <td>{{item.zone_max_count}}</td>
                  </tr>
                  </tbody>
                  <p *ngIf="ListDataPopup.length==0&&!Loading['LoadListPopup']">No Results Found.</p>
                </table>
                <p *ngIf="ListDataPopup.length==0&&Loading['LoadListPopup']">Loading ... </p>
                <pagination-controls
                  (statePagin)="StatePaginAddZone=$event;checkCheckAll('ListDataPopup',StatePaginAddZone,'addzonePagin')"
                  (pageChange)="addzoneP = $event" id="addzonePagin" autoHide="true">
                </pagination-controls>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="addZoneToCustomerTemp()" class="btn btn-primary pull-right"
                      data-dismiss="modal">Add
              </button>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!--Add Warehouse popup-->
    <div id="addWarehouse" class="modal fade" role="dialog" data-backdrop="static">
      <form>
        <div class="modal-dialog modal-style-default">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Warehouse</h4>
            </div>
            <div class="modal-body form-style">
              <div class="table-style1 clearfix">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>
                        <input
                          [disabled]="!warehouseNotInCusList.length"
                          (ngModelChange)="CheckAll($event,'warehouseNotInCusList',StatePaginAddWarehouse,'addWhsPagin')"
                          [ngModel]="selectedAll.warehouseNotInCusList"
                          type="checkbox"/>
                      </th>
                      <th>WHS Code</th>
                      <th>WHS Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)="setClickedRow(item,'warehouseNotInCusList',StatePaginAddWarehouse,'addWhsPagin')" [class.row-selected]="item.selected"
                      *ngFor="let item of warehouseNotInCusList | paginate: {id :'addWhsPagin', itemsPerPage: 20, currentPage: addWhsP}">
                      <td>
                        <input
                          (ngModelChange)="SelectedWhs($event,item,'warehouseNotInCusList',StatePaginAddWarehouse,'addWhsPagin')"
                          [ngModel]="item.selected"
                          value="{{item}}"
                          type="checkbox">
                      </td>
                      <td>{{item.whs_code}}</td>
                      <td>{{item.whs_name}}</td>
                    </tr>
                  </tbody>
                  <p *ngIf="warehouseNotInCusList.length==0&&!Loading['warehouseNotInCusList']">No Results Found.</p>
                </table>
                <p *ngIf="warehouseNotInCusList.length==0&&Loading['warehouseNotInCusList']">Loading ... </p>
                <pagination-controls (statePagin)="StatePaginAddWarehouse=$event;checkCheckAll('warehouseNotInCusList',StatePaginAddWarehouse,'addWhsPagin')"
                  (pageChange)="addWhsP = $event" id="addWhsPagin" autoHide="true">
                </pagination-controls>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="addWhsToCustomerTemp()" class="btn btn-primary pull-right" data-dismiss="modal">Add
              </button>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div><!-- / allow Access -->
  <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
