<page-size>

    <div class="filter clearfix table-list-head">
        <div class="form-inline pull-left">
            <label>Show:</label>
            <select class="form-control"
                    (change)="onPageSizeChanged($event.target.value)">
                <option value="20" selected>20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>

        <div *ngIf="parentComponent.hasOwnProperty('actions')" class="pull-right">
            <span *ngFor="let actions of parentComponent.actions; let count = index">

                <a *ngIf="isString(parentComponent.actions[count].action)"
                   id="{{actions.id}}" class="btn btn-primary pull-left"
                   (click)="parentComponent[parentComponent.actions[count].id]()">
                    <i *ngIf="actions.hasOwnProperty('icon')"
                       class="{{actions.icon}}">
                    </i>{{actions.title}}
                </a>

                <div *ngIf="! isString(parentComponent.actions[count].action)"
                     class="input-group pull-right">

                    <button aria-expanded="false" aria-haspopup="true" type="button"
                            data-toggle="dropdown" class="btn btn-group dropdown-toggle">
                        <i *ngIf="actions.hasOwnProperty('icon')"
                           class="{{actions.icon}}">
                        </i>{{actions.title}}
                    </button>

                    <ul class="dropdown-menu" id="actions">
                        <li *ngFor="let action of parentComponent.actions[count].action;
                                    let option = index">
                            <a id="{{action.id}}"
                               (click)="parentComponent[parentComponent.actions[count].action[option].id]()">
                                <i *ngIf="action.hasOwnProperty('icon')"
                                   class="{{action.icon}}">
                                </i>{{action.title}}
                            </a>
                        </li>
                    </ul>
                </div>

            </span>
        </div>
    </div>

</page-size>