<div *ngIf="role_assignCrossDock">
    <div class="top-layout clearfix">
        <h2>Assign Cross Docking</h2>
        <wms-breadcrumb></wms-breadcrumb>
    </div>
    <wms-messages [messages]="messages"></wms-messages>
    <div class="layout-block clearfix">
        <form  *ngIf="AssignCrossDockForm"  (ngSubmit)="Save()" class="form-horizontal form-style"  [ngFormModel]="AssignCrossDockForm" novalidate>
            <div class="table-style1 table-responsive" id="table-item-asn">
                <table class="table table-bordered editable small-padding-table">
                    <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Lot</th>
                        <th>Actual QTY</th>
                        <th>Damaged QTY</th>
                        <th>X-Dock QTY</th>
                        <th [class.hidden]="itemsArray.xdocQtyRow">New X-Dock QTY <span class="txt-required">(*)</span></th>
                        <th>Location <span class="txt-required">(*)</span></th>
                    </tr>
                    </thead>
                    <tbody ngControlGroup="data">
                    <tr *ngFor = "let item of items; let i = index" ngControlGroup="{{i}}">
                        <td class="disabled">{{crossXdockDetail['xdoc_dtl'][i].sku}}</td>
                        <td class="disabled">{{crossXdockDetail['xdoc_dtl'][i].size}}</td>
                        <td class="disabled">{{crossXdockDetail['xdoc_dtl'][i].color}}</td>
                        <td class="disabled">{{crossXdockDetail['xdoc_dtl'][i].lot}}</td>
                        <td class="disabled">{{crossXdockDetail['xdoc_dtl'][i].gr_dtl_act_ctn_ttl}}</td>
                        <td class="disabled">{{crossXdockDetail['xdoc_dtl'][i].gr_dtl_dmg_ttl}}</td>
                        <td class="disabled">{{crossXdockDetail['xdoc_dtl'][i].crs_doc}}</td>
                        <td class="disabled" [class.hidden]="itemsArray.xdocQtyRow">
                            <div [class.hidden]="xdocQty.control.hidden" class="control-group" [class.error-style]="xdocQty.control.errors">
                                <input [class.border-success]="item.success"
                                       #xdocQty="ngForm"
                                       maxlength="3"
                                       (keypress)="checkInputNumber($event)"
                                       [class.hidden]="xdocQty.control.hidden"
                                       (change)="checkXdocValid(item,i,true)"
                                       ngControl="new_crs_doc"
                                       class="form-control"
                                       type="text"/>
                                <p *ngIf="xdocQty.control.hasError('required')"
                                   class="error">
                                    New X-Dock QTY is required.
                                </p>
                                <p *ngIf="xdocQty.control.hasError('invalid')"
                                   class="error">
                                    CrossDock Total have to be <= (Actual QTY - Damaged QTY)
                                </p>
                                <p *ngIf="xdocQty.control.touched&&xdocQty.control.hasError('invalidInt')"
                                   class="error">
                                    CrossDock Total must be integer
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="control-group" [class.error-style]="(Loc_id.control.touched||_submitForm)&&(Loc_id.control.errors)">

                                    <select class="form-control" ngControl="loc_id" #Loc_id="ngForm">

                                            <option value="">Select a location</option>
                                             <option *ngFor="let loc of XdocLocation" [value]="loc.loc_id">{{loc.loc_code}}</option>


                                    </select>

                                <p *ngIf="(Loc_id.control.touched||_submitForm)&&Loc_id.control.hasError('required')"
                                   class="error">
                                    Location is required.
                                </p>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="button pull-right clearfix" *ngIf="action != 'view'">
                <button type="button" class="btn btn-default" (click)="cancel()" tabindex="3"><i class="icon-close"></i>Cancel
                </button>
                <button type="submit" [disabled]="!AssignCrossDockForm.valid" class="btn btn-primary" tabindex="2"><i class="icon-check"></i>Update
                </button>
            </div>
        </form>
        <goBack *ngIf="action=='view'"></goBack>




    </div>

</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
