<div *ngIf="allowAccess">
<div class="top-layout clearfix">
    <h2>Performance Report</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix">
  <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style">
        <div class="area-block clearfix">
            <div class="form-inline">
                <div class="form-group">
                    <label>Select User</label>
                    <select [(ngModel)]="userId" (ngModelChange)="changeCustomer($event)" id="" class="form-control" style="width: 170px">
                        <option *ngFor="let user of userList" [value]="user.user_id">{{user.first_name}} {{user.last_name}}</option>
                    </select>
                </div>
                <div class="radio-inline">
                    <label class="radio-inline">
                        <input (change)="changeTimeView(1)" checked type="radio" value="option1" name="time">
                        1 Day
                    </label>
                    <label class="radio-inline">
                        <input (change)="changeTimeView(7)" type="radio" value="option2" name="time"> 1 Week
                    </label>
                    <label class="radio-inline">
                        <input (change)="changeTimeView(30)" type="radio" value="option3" name="time"> 1 Month
                    </label>
                    <label class="radio-inline">
                        <input (change)="changeTimeView(90)" type="radio" value="option3" name="time"> 3 Months
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="h4-style">Activity</h4>
                <div class="area-block clearfix no-padding">
                    <div class="table-style4">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Activity</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of listActivity">
                                <td>{{item.owner}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.created_at}}</td>
                            </tr>
                            <p *ngIf="listActivity.length==0&&loadDataStatus?.list_activity">No Results Found.</p>
                            </tbody>
                        </table>
                        <figure class="footer-table clearfix">
                            <div class="pull-right color-gray">
                              <!--
                             Directive WMSPagination
                             Url : common/directives/directives
                             -->
                              <wms-pagination
                                [perPage]="perPage"
                                [paginData]="Pagination"
                                (pageChange)="getListActivity($event)"
                              ></wms-pagination>
                            </div>
                        </figure>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="h4-style">Performance</h4>
                <div class="clearfix no-padding">
                    <div class="table-style4">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Indicator</th>
                                <th colspan="2">User's Tasks</th>
                                <th>Warehouse Tasks</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listPerformance">
                                  <td>{{item.indicator}}</td>
                                  <td>{{item.user_task_amount}}</td>
                                  <td>{{item.user_task_percent}}%</td>
                                  <td>{{item.warehouse_task}}</td>
                                </tr>
                            </tbody>
                        </table>
                      <p *ngIf="listPerformance.length==0&&loadDataStatus?.listPerformance">No Results Found.</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
