//Colors
// @https://codepen.io/giana/pen/yYBpVY

$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;

.border-transitions {
  &::before,
  &::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.checking {
  transition: color 0.25s;

  &::before,
  &::after {
    border: 1px solid transparent; // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  // Hover styles
  &.active-check::before,
  &.active-check::after {
    width: 100%;
    height: 100%;
  }

  &.active-check::before {
    border-top-color: $cyan; // Make borders visible
    border-right-color: $cyan;
    transition:
            width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
  }

  &.active-check::after {
    border-bottom-color: $cyan; // Make borders visible
    border-left-color: $cyan;
    transition:
            border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
  }
}
