<div class="top-layout clearfix">
    <h2 class="title-asn">{{TitlePage}} Support</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block asn">
    <wms-messages [messages]="messages"></wms-messages>
    <form *ngIf="ASNForm" class="form-horizontal form-style" [ngFormModel]="ASNForm"
          (ngSubmit)="Save(ASNForm,false)" novalidate>

        <div class="area-block clearfix">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group"
                                 [class.error-style]="(Cus.control.touched||submitForm)&&Cus.control.errors">
                                <label class="">Customer <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                <select tabindex="1"
                                        [disabled]="IsView||Action!=='new'"
                                        class="form-control" ngControl="cus_id" #Cus="ngForm" required>
                                    <option value="">Select one Customer</option>
                                    <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                                    </option>
                                </select>
                                <p *ngIf="(Cus.control.touched||submitForm)&&Cus.control.errors"
                                   class="error">
                                    Customer Name is required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="Action!=='new'">
                            <div class="form-group">
                                <label class="">ASN Number</label>
                                <input tabindex="5" type="text"
                                       [disabled]="IsView||Action=='edit'"
                                       ngControl="asn_hdr_num"
                                       class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group"
                                 [class.error-style]="(Asn_ref.control.touched || submitForm ) &&  Asn_ref.control.errors">
                            <label class="">Ref Code <span class="txt-required">(*)</span> </label>
                                <input tabindex="2"
                                       #Asn_ref="ngForm"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                       ngControl="asn_ref" type="text" maxlength="64" class="form-control">
                                <p *ngIf="(Asn_ref.control.touched || submitForm )&&Asn_ref.control.hasError('required')"
                                   class="error">
                                    Ref Code is required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1">
                        <div class="form-group"
                             [class.error-style]="(Asn_hdr_ept_dt.control.touched || submitForm ) &&  Asn_hdr_ept_dt.control.errors">
                                <label>Expected Date <span class="txt-required">(*)</span> </label>
                                <input tabindex="3"
                                       #Asn_hdr_ept_dt="ngForm"
                                       ngControl="exp_date"
                                       data-date-today-highlight="1"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                       type="text" class="form-control datepicker-asn"
                                       data-provide="datepicker"/>
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                                <p *ngIf="(Asn_hdr_ept_dt.control.touched || submitForm )&&Asn_hdr_ept_dt.control.hasError('required')"
                                   class="error">
                                    Expected Date is required
                                </p>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="">Measurement System</label>
                                <select tabindex="4" ngControl="measurement_code" class="form-control"
                                        [disabled]="IsView||!ASNForm.value['cus_id']">
                                    <option *ngFor="let item of dataListMeasurements" [value]="item.sys_mea_code">{{item.sys_mea_name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-1" *ngIf="Action!=='new'">
                            <div class="form-group">
                                <label class=""># of SKUs</label>
                                <input type="text" class="form-control" disabled ngControl="asn_hdr_itm_ttl">
                            </div>
                        </div>

                        <div class="col-md-1" *ngIf="Action!=='new'">
                            <div class="form-group">
                                <label class=""># of CTNRs</label>
                                <input type="text" class="form-control" disabled value="{{dataListContainersByASN.length}}">
                            </div>
                        </div>


                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="">Status</label>
                                <select tabindex="6" class="form-control" placeholder="" required disabled>
                                    <option selected>New</option>
                                </select>
                            </div>
                        </div>

                    </div>
                <div class="row"  *ngIf="Action!=='new'">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="">Container</label>
                            <select
                                    tabindex="9" ngControl="ctnr_id"
                                    class="form-control"
                                    (change)="changeCtnr($event)">
                                <option value="">Choose one container</option>
                                <option *ngFor="let item of dataListContainersByASN" [value]="item.ctnr_id">{{item.ctnr_num}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

        </div>

        <div class="area-block clearfix">
            <div class="clearfix">
                <div class="col-md-3 auto-style">
                    <div class="row">
                        <label class="pull-left margin-right">Container <span class="txt-required">(*) </span></label>
                        <div class="col-md-6">
                            <div class="control-group"
                                 [class.error-style]="(Ctnr_num.control.touched || submitForm ) && Ctnr_num.control.errors">

                                <!-- //auto search chagre code complete -->
                                <div class="dropdown dropdown-autosearch">
                                    <input maxlength="50"
                                           tabindex="20"
                                           [disabled]="IsView||!ASNForm.value['cus_id']"
                                           #Ctnr_num="ngForm"
                                           [ngModel]="ASNForm.controls['ctnr_num'].value"
                                           (ngModelChange)="autoCompleteContainer($event)"
                                           ngControl="ctnr_num"
                                           class="form-control dropdown-toggle"
                                           type="text" data-toggle="dropdown"/>

                                    <div tabindex="-1" class="dropdown-menu list-group"
                                         *ngIf="Ctnr_num.value">
                                        <a tabindex="-1" class="list-group-item"
                                           (click)="selectedContainer(ctn)"
                                           *ngFor="let ctn of containerAutoData">{{ctn.ctnr_num}}</a>
                                        <a tabindex="-1" *ngIf="Ctnr_num.control.newKey" class="list-group-item">New {{Ctnr_num.control.value}}</a>
                                    </div>

                                                    <span class="waiting" *ngIf="Ctnr_num.control?.showLoading"><img
                                                            src="/assets/images/loading.gif"></span>
                                </div>
                                <p *ngIf="(Ctnr_num.control.touched || submitForm )&&Ctnr_num.control.hasError('required')"
                                   class="error">
                                    Sku is required.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right" *ngIf="!IsView">
                    <div class="input-group pull-right margin-left">
                        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                class="btn btn-group dropdown-toggle"
                                type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a (click)="deleteItem(itemsArray)"><i class="icon-trash"></i>Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-style2" id="table-item-asn" ngControlGroup="details">

                <table class="table table-bordered editable small-padding-table" id="w-content-per">
                    <thead>
                    <tr>
                        <th *ngIf="!IsView" class="column-checkbox"><input [disabled]="!items.length" [disabled]="IsView"
                                                                           (ngModelChange)="fbdFun.CheckAll(itemsTable,$event)"
                                                                           [ngModel]="itemsTable.selectedAll" type="checkbox"/></th>
                        <th title="Item ID">Item ID</th>
                        <th title="Universal Product Code">UPC</th>
                        <th title="Stock Keeping Unit/Style">SKU <span class="txt-required">(*)</span></th>
                        <th title="Size">Size <span class="txt-required">(*)</span></th>
                        <th title="Color">Color <span class="txt-required">(*)</span></th>
                        <th title="Lot">Lot</th>
                        <th title="Unit of Measure">UOM <span class="txt-required">(*)</span></th>
                        <th title="Number of eaches">Pack Size <span class="txt-required">(*)</span></th>
                        <th title="Expected Cartons">Exp Cart <span class="txt-required">(*)</span></th>
                        <th title="Length - Inch" id="change-mea-l">L-IN <span class="txt-required">(*)</span></th>
                        <th title="Width - Inch" id="change-mea-w">W-IN <span class="txt-required">(*)</span></th>
                        <th title="Height - Inch" id="change-mea-h">H-IN <span class="txt-required">(*)</span></th>
                        <th title="Weight(LBS)">WT <span class="txt-required">(*)</span></th>
                        <th title="Cross Docking">X-Dock</th>
                        <th title="Purchase Order">PO <span class="txt-required">(*)</span></th>
                        <th title="Product Order Date">PO Date</th>
                        <th title="Expired Date">Expired Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of items;let i=index" ngControlGroup="{{i}}">
                        <td *ngIf="!IsView" width="25"><input
                                (change)="fbdFun.Selected(itemsTable,item,$event)"
                                [ngModel]="item.selected" type="checkbox" tabindex="20"></td>
                        <td class="width70">
                            <div class="form-group">
                                    <input tabindex="9" [disabled]="true"ngControl="dtl_itm_id"
                                           maxlength="50" type="text" class="form-control"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group"
                                 [class.error-style]="Cus_upc.control.errors">

                            <input tabindex="9"
                                           [disabled]="IsView||!ASNForm.value['cus_id']"
                                           (keydown)="pasteData($event,i)"
                                            #Cus_upc="ngForm"
                                           ngControl="asn_dtl_cus_upc"
                                           maxlength="12" type="text" class="form-control"/>

                                <p *ngIf="Cus_upc.control.hasError('invalid_UPC_length')"
                                   class="error">
                                    UPC must contain 12 digit numbers.
                                </p>
                                <p *ngIf="Cus_upc.control.hasError('invaild_UPC_code')"
                                   class="error">
                                    UPC is invalid.
                                </p>

                            </div>
                        </td>
                        <td class="autocomplete-style">
                            <div class="border-transitions checking"
                                 [class.active-check]="Dtl_sku.control.touched&&Dtl_sku.control.checking">
                            <div class="control-group"
                                 [class.error-style]="(Dtl_sku.control.touched || submitForm ) &&  Dtl_sku.control.errors ">

                                <!-- //auto search chagre code complete -->
                                <div class="dropdown dropdown-autosearch">
                                                    <span class="waiting" *ngIf="item['showLoading']"><img
                                                            src="/assets/images/loading.gif"></span>
                                    <input maxlength="50"
                                           tabindex="20"
                                           [disabled]="IsView||!ASNForm.value['cus_id']"
                                           #Dtl_sku="ngForm"
                                           [ngModel]="item.value.dtl_sku"
                                           (ngModelChange)="autoComplete(i,$event,'sku')"
                                           (paseteData)="pasteData($event,i)" ngControl="dtl_sku"
                                           input-value-cell
                                           class="form-control dropdown-toggle"
                                           type="text" data-toggle="dropdown"/>

                                    <div tabindex="-1" class="dropdown-menu list-group"
                                         *ngIf="Dtl_sku.value">
                                        <a tabindex="-1" class="list-group-item"
                                           (click)="asnFun.selectedItem(itemsTable,i,itemId)"
                                           *ngFor="let itemId of autoSearchData">{{itemId.sku}}
                                            {{itemId.size}} {{itemId.color}}</a>
                                    </div>

                                </div>
                                <p *ngIf="(Dtl_sku.control.touched || submitForm )&&Dtl_sku.control.hasError('required')"
                                   class="error">
                                    Sku is required.
                                </p>
                                <p *ngIf="(Dtl_sku.control.touched || submitForm )&&Dtl_sku.control.hasError('invaildValue')"
                                   class="error">
                                    Sku is not existed.
                                </p>
                                <p *ngIf="(Dtl_sku.control.touched || submitForm )&&Dtl_sku.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>
                                   </div>
                            </div>
                        </td>
                        <td>
                            <div class="control-group"
                                 [class.error-style]="(Dtl_size.control.touched || submitForm ) && Dtl_size.control.errors">

                            <input tabindex="9" #Dtl_size="ngForm"
                                   (paseteData)="pasteData($event,i)"
                                   input-value-cell
                                   [disabled]="IsView||!ASNForm.value['cus_id']"
                                   ngControl="dtl_size"
                                    maxlength="30" type="text"
                                       class="form-control"/>

                                <p *ngIf="(Dtl_size.control.touched || submitForm )&&Dtl_size.control.hasError('required')"
                                   class="error">
                                    Size is required.
                                </p>

                                <p *ngIf="(Dtl_size.control.touched || submitForm )&&Dtl_size.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                            </div>
                        </td>
                        <td>
                            <div class="control-group"
                                 [class.error-style]="(Dtl_color.control.touched || submitForm ) && Dtl_color.control.errors">
                                <input tabindex="9"
                                       #Dtl_color="ngForm"
                                       (paseteData)="pasteData($event,i)"
                                       input-value-cell
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                       ngControl="dtl_color"
                                         maxlength="30" type="text"
                                       class="form-control"/>

                                <p *ngIf="(Dtl_color.control.touched || submitForm )&&Dtl_color.control.hasError('required')"
                                   class="error">
                                    Color is required.
                                </p>

                                <p *ngIf="(Dtl_color.control.touched || submitForm )&&Dtl_color.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                            </div>
                        </td>
                        <td>
                            <div class="control-group"
                                 [class.error-style]="(Dtl_lot.control.touched || submitForm ) && Dtl_lot.control.errors">
                            <input tabindex="9"
                                   #Dtl_lot="ngForm"
                                   [disabled]="IsView||!ASNForm.value['cus_id']"
                                   (paseteData)="pasteData($event,i)"
                                   input-value-cell
                                   ngControl="dtl_lot"
                                   type="text" maxlength="50" class="form-control"/>

                        <p *ngIf="(Dtl_lot.control.touched || submitForm )&&Dtl_lot.control.hasError('duplicated')"
                           class="error">
                            SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                        </p>

                        </div>

                        </td>

                        <td>
                            <div class="control-group"
                                 [class.error-style]="(Dtl_uom_name.control.touched || submitForm ) && Dtl_uom_name.control.errors">

                                <select tabindex="9"
                                        [disabled]="IsView||!ASNForm.value['cus_id']"
                                        #Dtl_uom_name="ngForm"
                                        (paseteData)="pasteData($event,i)"
                                        input-value-cell ngControl="dtl_uom_id"
                                        class="form-control">
                                    <option value="">Select one value</option>
                                    <option *ngFor="let item of dataListUoms" [value]="item.sys_uom_id">
                                        {{item.sys_uom_name}}
                                    </option>
                                </select>

                                <p *ngIf="(Dtl_uom_name.control.touched || submitForm )&&Dtl_uom_name.control.hasError('required')"
                                   class="error">
                                    UOM is required.
                                </p>



                            </div>
                        </td>
                        <td class=" width100">
                            <div class="form-group"  [class.error-style]="(dtl_pack.control.touched || submitForm ) && dtl_pack.control.errors">
                                <input tabindex="9"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                       maxlength="8"
                                       (paseteData)="pasteData($event,i)"
                                       (keypress)="checkInputNumber($event,true)"
                                       #dtl_pack="ngForm"
                                       input-value-cell ngControl="dtl_pack"
                                       type="text" class="form-control" />

                                <p *ngIf="(dtl_pack.control.touched || submitForm )&&dtl_pack.control.hasError('required')"
                                   class="error">
                                    Pack Size is required.
                                </p>

                                <p *ngIf="(dtl_pack.control.touched || submitForm )&&dtl_pack.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                            </div>
                        </td>
                        <td>
                            <div class="form-group"  [class.error-style]="(Dtl_ctn_ttl.control.touched || submitForm ) && Dtl_ctn_ttl.control.errors">
                            <input tabindex="9"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                   #Dtl_ctn_ttl="ngForm"
                                   maxlength="8"
                                   (keypress)="checkInputNumber($event,true)"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="dtl_ctn_ttl"
                                       type="text"
                                       class="form-control"/>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched || submitForm )&&Dtl_ctn_ttl.control.hasError('required')"
                                   class="error">
                                    Exp Cart is required.
                                </p>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched||submitForm)&&Dtl_ctn_ttl.control.hasError('invalidInt')"
                                   class="error">
                                    Exp Cart must be integer
                                </p>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched || submitForm )&&Dtl_ctn_ttl.control.hasError('isZero')"
                                   class="error">
                                    Exp Cart must be greater than 0
                                </p>
                                <p *ngIf="(Dtl_ctn_ttl.control.touched || submitForm )&&Dtl_ctn_ttl.control.hasError('invalidMaxValue')"
                                   class="error">
                                    Total of Expected Cartons must be less than 9.999 in the same container.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="form-group"  [class.error-style]="(Dtl_length.control.touched || submitForm ) && Dtl_length.control.errors">

                            <input tabindex="9"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                   #Dtl_length="ngForm"
                                   maxlength="6"
                                   (keypress)="checkInputNumber($event)"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="dtl_length"
                                       type="text"
                                       class="form-control"/>
                                <p *ngIf="(Dtl_length.control.touched || submitForm )&&Dtl_length.control.hasError('required')"
                                   class="error">
                                    Length is required.
                                </p>
                                <p *ngIf="(Dtl_length.control.touched || submitForm )&&Dtl_length.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Width is invalid ( Max value is 999.99 )
                                </p>
                                <p *ngIf="(Dtl_length.control.touched || submitForm )&&Dtl_length.control.hasError('isZero')"
                                   class="error">
                                    Length must be greater than 0
                                </p>

                                <p *ngIf="(Dtl_length.control.touched || submitForm )&&Dtl_length.control.hasError('maxlength')"
                                   class="error">
                                    Max lenght is invalid.
                                </p>

                            </div>
                        </td>

                        <td>
                            <div class="form-group"  [class.error-style]="(Dtl_width.control.touched || submitForm ) && Dtl_width.control.errors">
                            <input tabindex="9"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                        #Dtl_width="ngForm"
                                   maxlength="6"
                                   (keypress)="checkInputNumber($event)"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="dtl_width"
                                       type="text" class="form-control"/>
                                <p *ngIf="(Dtl_width.control.touched || submitForm )&&Dtl_width.control.hasError('required')"
                                   class="error">
                                    Width is required.
                                </p>
                                <p *ngIf="(Dtl_width.control.touched || submitForm )&&Dtl_width.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Width is invalid ( Max value is 999.99 )
                                </p>
                                <p *ngIf="(Dtl_width.control.touched || submitForm )&&Dtl_width.control.hasError('isZero')"
                                   class="error">
                                    Width must be greater than 0
                                </p>

                                <p *ngIf="(Dtl_width.control.touched || submitForm )&&Dtl_width.control.hasError('isZero')"
                                   class="error">
                                    Width must be greater than 0
                                </p>

                                <p *ngIf="(Dtl_width.control.touched || submitForm )&&Dtl_width.control.hasError('maxlength')"
                                   class="error">
                                    Max lenght is invalid.
                                </p>

                            </div>
                        </td>

                        <td>
                            <div class="form-group"  [class.error-style]="(Dtl_height.control.touched || submitForm ) && Dtl_height.control.errors">

                            <input tabindex="9"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                   #Dtl_height="ngForm"
                                   maxlength="6"
                                   (keypress)="checkInputNumber($event)"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="dtl_height"
                                       type="text"
                                       class="form-control"/>

                                <p *ngIf="(Dtl_height.control.touched || submitForm )&&Dtl_height.control.hasError('required')"
                                   class="error">
                                    Height is required.
                                </p>

                                <p *ngIf="(Dtl_height.control.touched || submitForm )&&Dtl_height.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Height is invalid ( Max value is 999.99 )
                                </p>

                                <p *ngIf="(Dtl_height.control.touched || submitForm )&&Dtl_height.control.hasError('isZero')"
                                   class="error">
                                    Height must be greater than 0
                                </p>

                                <p *ngIf="(Dtl_height.control.touched || submitForm )&&Dtl_height.control.hasError('maxlength')"
                                   class="error">
                                    Max lenght is invalid.
                                </p>

                            </div>



                        </td>
                        <td>
                            <div class="form-group"  [class.error-style]="(Dtl_weight.control.touched || submitForm ) && Dtl_weight.control.errors">

                            <input tabindex="9"
                                       #Dtl_weight="ngForm"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                   (keypress)="checkInputNumber($event)"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="dtl_weight"
                                       type="text"
                                   maxlength="6"
                                       class="form-control"/>
                                <p *ngIf="(Dtl_weight.control.touched || submitForm )&&Dtl_weight.control.hasError('required')"
                                   class="error">
                                    Weight is required.
                                </p>

                                <p *ngIf="(Dtl_weight.control.touched || submitForm )&&Dtl_weight.control.hasError('invalidDecimalNumber')"
                                   class="error">
                                    Weight is invalid ( Max value is 999.99 )
                                </p>

                                <p *ngIf="(Dtl_weight.control.touched || submitForm )&&Dtl_weight.control.hasError('isZero')"
                                   class="error">
                                    Weight must be greater than 0
                                </p>

                                <p *ngIf="(Dtl_weight.control.touched || submitForm )&&Dtl_weight.control.hasError('maxlength')"
                                   class="error">
                                    Max lenght is invalid.
                                </p>

                            </div>
                        </td>
                        <td>
                            <div class="form-group"  [class.error-style]="(Dtl_crs_doc.control.touched || submitForm ) && Dtl_crs_doc.control.errors">

                            <input tabindex="9" type="text" maxlength="8"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                   (keypress)="checkInputNumber($event,true)"
                                   #Dtl_crs_doc="ngForm"
                                   maxlength="8"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="dtl_crs_doc"
                                       class="form-control"/>

                                <p *ngIf="(Dtl_crs_doc.control.touched||submitForm)&&Dtl_crs_doc.control.hasError('invalidInt')"
                                   class="error">
                                    X-Dock must be integer
                                </p>
                                
                            </div>



                        </td>
                        <td>
                            <div class="form-group"  [class.error-style]="(Dtl_po.control.touched || submitForm ) && Dtl_po.control.errors">

                            <input tabindex="9" type="text"
                                   #Dtl_po="ngForm"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                       maxlength="50"
                                       ngControl="dtl_po"
                                       (paseteData)="pasteData($event,i)"
                                        input-value-cell
                                       class="form-control"
                                    />

                                <p *ngIf="(Dtl_po.control.touched || submitForm )&&Dtl_po.control.hasError('required')"
                                   class="error">
                                    PO is required.
                                </p>

                                <p *ngIf="(Dtl_po.control.touched || submitForm )&&Dtl_po.control.hasError('duplicated')"
                                   class="error">
                                    SKU, Size, Color, Pack Size, PO Code, Lot is duplicated!
                                </p>

                            </div>
                        </td>
                        <td>
                            <div class="form-group has-feedback">
                                <input tabindex="9" type="text"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                       data-date-today-highlight="1"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="dtl_po_date"
                                       class="form-control" data-provide="datepicker"/>
                                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </td>

                        <td>
                            <div class="form-group has-feedback">
                                <input tabindex="9" type="text"
                                       #Expired_dt="ngForm"
                                       [disabled]="IsView||!ASNForm.value['cus_id']"
                                       maxlength="50"

                                       data-provide="datepicker"
                                       data-date-today-highlight="1" data-date-start-date="+1d"
                                       (paseteData)="pasteData($event,i)" input-value-cell ngControl="expired_dt"
                                       class="form-control"
                                />
                            <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </td>

                    </tr>
                    <tr id = 'btn-add-more' *ngIf="!IsView">
                        <td class="add-more"><i class="fa fa-plus-circle" (click)="addNewItem()" tabindex="10"></i></td>
                        <td colspan="16"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="button pull-right" *ngIf="!IsView">
                <button type="button" (click)="SaveMoreContainer()" class="btn btn-outline blue" tabindex="11"><i class="icon-plus" ></i>Save
                    and Add more Container
                </button>
            </div>
        </div>
        <div class="button pull-right clearfix" *ngIf="!IsView">
            <button type="button" class="btn btn-default" (click)="cancel()" tabindex="13"><i class="icon-close"></i>Cancel
            </button>
            <button type="submit" class="btn btn-primary pull-right" tabindex="12"><i class="icon-check"></i>Submit
            </button>
        </div>
    </form>
</div>

<progess-bar [progressValue]="_reCheckSkuProgress"></progess-bar>