<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <form class="form-horizontal form-style" *ngIf="DimensionForm" [ngFormModel]="DimensionForm" (ngSubmit)="Action!='View' && Save(DimensionForm.value)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" [class.error-style]="(Length.control.touched||submitForm)&&Length.control.errors">
                                <label class="">Length <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                <input type="text" class="form-control" tabindex="1" (keypress)="checkInputNumber($event)"
                                       [readonly]="IsView" ngControl="length" #Length="ngForm" maxlength="9">
                                <p *ngIf="(Length.control.touched||submitForm)&&Length.control.hasError('required')" class="error">
                                    Length is required.
                                </p>
                                <p *ngIf="(Length.control.touched||submitForm)&&Length.control.hasError('invalidDecimalNumber')" class="error">
                                    Length is invalid ( Maximum is 999.99 )
                                </p>
                                <p *ngIf="(Length.control.touched || submitForm )&&Length.control.hasError('isZero')"
                                   class="error">
                                    Length must be greater than 0
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" [class.error-style]="(Width.control.touched||submitForm)&&Width.control.errors">
                                <label class="">Width <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                <input type="text" class="form-control" tabindex="1" (keypress)="checkInputNumber($event)"
                                       [readonly]="IsView" ngControl="width" #Width="ngForm" maxlength="9">
                                <p *ngIf="(Width.control.touched||submitForm)&&Width.control.hasError('required')" class="error">
                                    Width is required.
                                </p>
                                <p *ngIf="(Width.control.touched||submitForm)&&Width.control.hasError('invalidDecimalNumber')" class="error">
                                    Width is invalid ( Maximum is 999.99 )
                                </p>
                                <p *ngIf="(Width.control.touched || submitForm )&&Width.control.hasError('isZero')"
                                   class="error">
                                    Width must be greater than 0
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" [class.error-style]="(Height.control.touched||submitForm)&&Height.control.errors">
                                <label class="">Height <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                <input type="text" class="form-control" tabindex="1" (keypress)="checkInputNumber($event)"
                                       [readonly]="IsView" ngControl="height" #Height="ngForm" maxlength="9">
                                <p *ngIf="(Height.control.touched||submitForm)&&Height.control.hasError('required')" class="error">
                                    Height is required.
                                </p>
                                <p *ngIf="(Height.control.touched||submitForm)&&Height.control.hasError('invalidDecimalNumber')" class="error">
                                    Height is invalid ( Maximum is 999.99 )
                                </p>
                                <p *ngIf="(Height.control.touched || submitForm )&&Height.control.hasError('isZero')"
                                   class="error">
                                    Height must be greater than 0
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" [class.error-style]="(Type.control.touched||submitForm)&&Type.control.errors">
                                <label>Type <span *ngIf="!IsView" class="txt-required">(*)</span></label>
                                <select tabindex="1" type="text" ngControl="pack_type" class="form-control" #Type="ngForm" [disabled]="IsView">
                                    <option value="">Select Type</option>
                                    <option *ngFor="let item of packTypeList" [value]="item.pack_code">{{item.pack_name}}</option>
                                </select>
                                <p *ngIf="(Type.control.touched||submitForm)&&Type.control.errors" class="error">
                                    Type is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="button pull-right" *ngIf="Action!=='view'">
                        <button tabindex="3" type="button" class="btn btn-default" (click)="cancel()"><i class="icon-close"></i>Cancel
                        </button>
                        <button tabindex="2" type="submit" class="btn btn-primary" *ngIf="Action=='new'"><i class="icon-check"></i>Save
                        </button>
                        <button tabindex="2" type="submit" class="btn btn-primary" *ngIf="Action=='edit'"><i class="icon-note"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="Action=='view'"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>