<!-- / message -->
<wms-messages [messages]="messages"></wms-messages>
<h4><b>Warehouse:</b> {{whs?.whs_name}} </h4>
<div class="block-sku">
                  <textarea [(ngModel)]="relocateCode" rows="12">
                  </textarea>
</div>
<div class="rf-footer">
  <input type="button" (click)="reLocate(relocateCode)" [disabled]="!relocateCode"  class="btn btn-default" value="Submit">
</div>
<!-- pop loading -->
<div *ngIf="showLoadingOverlay" class="loading-overlay loading-overlay-mb"><img src="/assets/images/loading-color.gif" alt=""></div>
