<header *ngIf="isValidToken"></header>
<div *ngIf="isValidToken" class="wrapper">
    <div class="layout-static">
        <main-menu></main-menu>
        <main-body>

        </main-body>
    </div>
</div>
<!--<footer *ngIf="isValidToken"></footer>-->
<div id="modal-login" class="modal fade modal-login" role="dialog" data-backdrop="static" data-keyboard="false">
  <form role="form" [ngFormModel]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
    <div class="login-block col-md-3">
      <h3>
          <button type="button" class="close" data-dismiss="modal" (click)="hideModalLogin()">&times;</button>
          Login Again
        <p *ngIf="loading" class="loading-icon text-center"><img src="/assets/images/loading-timeline.gif" alt="Loading"></p>
      </h3>
      <div class="body-block">
      <wms-messages [messages]="messages"></wms-messages>
      <div class="form-group" [class.error-style]="(username.control.touched||submitForm)&&username.control.errors">
        <div class="input-style">
          <input type="text" class="form-control"  required ngControl="username"  #username="ngForm" placeholder="Username">
          <i class="icon-user"></i>
        </div>
        <p *ngIf="(username.control.touched||submitForm)&&username.control.hasError('required')"
           class="error">
          Username is required.
        </p>
        <!--<p *ngIf="(emailForm.control.touched||submitForm)&&emailForm.control.hasError('invalidEmailAddress')&&emailForm.control.value" class="error">
          Email is invalid.
        </p>-->
      </div>
      <div class="form-group"  [class.error-style]="(Password.control.touched||submitForm)&&Password.control.errors">
        <div class="input-style">
          <input type="password" class="form-control"  required ngControl="password" #Password="ngForm" placeholder="Password">
          <i class="icon-key"></i>
        </div>
        <p *ngIf="(Password.control.touched||submitForm)&&Password.control.hasError('required')"
           class="error">
          Password is required.
        </p>
      </div>
      <div class="button-login clearfix">
        <button type="submit" class="btn btn-danger pull-right">Sign In</button>
      </div>
      </div>
    </div>
  </form>
</div>
