<div class="top-layout clearfix">
    <h2>Put Back Order List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form five-column">
        <form class="clearfix form-inline" id="putback-order-search-list" (submit)="search()">
            <div class="form-group">
                <label>Order Number </label>
                <input type="text" tabindex="1" class="form-control" name="odr_num" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Customer </label>
                <select name="cus_id" class="form-control" tabindex="1">
                    <option value="">All</option>
                    <option *ngFor="let item of dataListCustomer" value="{{item.cus_id}}">{{item.cus_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Order Type </label>
                <select class="form-control" name="odr_type" tabindex="4">
                    <option value="" class="no-value">ALL</option>
                    <option *ngFor="let item of orderTypes" value="{{item.key}}">{{item.value}}</option>
                </select>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <span *ngIf="flagLoading"><img src="/assets/images/loading.gif" alt=""></span>
                <button type="button" class="btn btn-outline gray" (click)="reset()" tabindex="3"><i class="icon-close"></i>Reset</button>
                <button type="submit" class="btn btn-outline blue" tabindex="2"><i class="icon-magnifier"></i>Search</button>

            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right" *ngIf="createPutbackReceipt">
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="5"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="addNew()"><i class="icon-plus"></i>Create Put Back Receipt</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="4">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <a title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="table-style1">
            <advance-table [tableID]="'putback-order-rp-list'"
                           [headerURL]="headerURL"
                           [headerDef]="headerDef"
                           [pinCols]="5"
                           [rowData]="rowData"
                           [getSelectedRow]="getSelectedRow"
                           [expandTable]="expandTable"
                           (returnSelectedRow)="afterGetSelectedRow($event)"
                           (sort)="doSort($event)"
            ></advance-table>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
    </div>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>