
<div id="assign-csr2" class="modal fade" role="dialog" data-backdrop="static">
    <form>
        <div class="modal-dialog modal-style-default modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ typePopup == 'csr'?'ASSIGN CSR':'Assign Picker'}}</h4>
                </div>
                <div class="modal-body form-style">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="infoSearchUser['first_name']" (ngModelChange)="filterUser()" class="form-control" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="infoSearchUser['last_name']" (ngModelChange)="filterUser()" class="form-control" placeholder="Last Name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="infoSearchUser['email']" (ngModelChange)="filterUser()" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <button tabindex="10" type="button" class="btn btn-outline gray" (click)="resetFilterUser()"><i class="icon-close"></i>Reset
                            </button>
                        </div>
                    </div>
                    <div class="table">
                        <div class="table-style2 table-responsive max-height-400">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Department</th>
                                    <th>Office</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of dataCSRUser" (click)="selectCSR(item)"
                                    [class.highlight]="item.selected">
                                    <td>{{item.username}}</td>
                                    <td>{{item.first_name}}</td>
                                    <td>{{item.last_name}}</td>
                                    <td>{{item.dept}}</td>
                                    <td>{{item.off_loc}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p *ngIf="!dataCSRUser.length">No Results Found.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="!assignUser" type="submit" (click)="saveAssignPutter()" data-dismiss="modal"
                            class="btn btn-primary pull-right"><i
                            class="icon-check"></i>Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i
                            class="icon-close"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>