<ul>
  <li *ngFor="let item of FavoriteMenu;let i=index"  class="{{i>3&& item.active==false ? 'hidden':'show'}}">
      <a href="#" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="{{item.name}}" (mouseover)="ngOnInit()">
          <i class="{{item.icon_class}}"></i>
          {{item|json}}
      </a>
       <span (click)="removeItemFavorite(item)" title="Delete" class="delete-icon"><i class="fa fa-remove"></i></span>
       <favorite-menu *ngIf="item.nodes.length>0" [FavoriteMenu]="item.nodes"></favorite-menu>
  </li>
   <li class="show-more" [class.hasToggleMenu]="active" (click)="toggleMenu()" *ngIf="FavoriteMenu.length>4"></li>
</ul>
