<div class="static-sidebar-wrapper" [style.width]="getWidth()">
  <div class="static-sidebar sidebar-menu-collapsed">
    <div class="expand-collapse">
      <a (click)="appendStyle = !appendStyle;" class="toogle-menu-icon" id="toogle-menu-icon">
        <i class="icon-menu"></i>
      </a>
    </div>
    <div id="menu-scroll">
    <div class="favorite-block">
      <div class="nav favorite-menu read-more-wrap">
        <h5 class="title"><i class="icon-heart"></i>My Favorite</h5>
        <ul  id="ul-favorite-menu" dnd-droppable  (onDropSuccess)="UpdateMenuFavorite($event)" [dropZones]="['menu']">
                <span *ngIf="!Loading['menuFavorite']&&FavoriteMenu.length==0" class="drop-favorite-here">
                    <p>Drag/Drop menu into here</p>
                </span>
          <li  *ngFor="let item of FavoriteMenu;let i=index"  class="{{i>3&& ShowAllFavoriteMenu==false ? 'hidden':'show'}}" (onDragSuccess)="UpdateSortFavorite()"  >
            <a [href]="checkRedirectPage(item.url)"><i class="{{item.icon_class}}"></i>{{item.name}}</a>
            <span (click)="removeItemFavorite(item)" title="Delete" class="delete-icon"><i class="fa fa-remove"></i></span>
          </li>
          <li class="show-more" [class.hasToggleMenu]="ShowAllFavoriteMenu==true" (click)="ShowAllFavoriteMenu = !ShowAllFavoriteMenu" *ngIf="FavoriteMenu&&FavoriteMenu.length>4">
          </li>
        </ul>
        <!--</div> disable sort -->
      </div>
    </div>
    <ul class="nav main-menu">
      <li  *ngFor="let item of MenuData; let i=index" [class.parent-link-active]="item.active" [class.open]="item.open"   [dropZones]="['menu']" dnd-draggable [dragEnabled]="item.url!=='#'" [dragData]="item">
        <a *ngIf="item.url!=='#'" (click)="item.open=!item.open" [eventTracker]='{"category": item.name, "action":"view"}' [attr.href]="'#/'+item.url" title="{{item.name}}">
          <i class="{{item.icon_class}}"></i>
          {{item.name}}
          <span  *ngIf="item.nodes.length>0" class="icon-toggle-sub"  [class.icon-toggle-sub-down]="item.active|| item.url==menuActive"></span>
        </a>
        <a *ngIf="item.url=='#'" (click)="item.open=!item.open"  id="component-{{item.menu_id}}"  title="{{item.name}}" class="internal">
          <i class="{{item.icon_class}}"></i>
          {{item.name}}
          <span  *ngIf="item.nodes.length>0" class="icon-toggle-sub"  [class.icon-toggle-sub-down]="item.active|| item.url==menuActive"></span>
        </a>
        <ul *ngIf="item.nodes.length>0" [class.open]="item.open" [hidden]="!item.open"  class="nav sub-nav sub-menu">
          <li  *ngFor="let itemchild of item.nodes" [dropZones]="['menu']" [class.active]="itemchild.active"  dnd-draggable [dragEnabled]="itemchild.url!=='#'" [dragData]="itemchild">
            <a id="component-{{itemchild.menu_id}}" [eventTracker]='{"category": itemchild.name, "action":"view"}' [href]="checkRedirectPage(itemchild.url)" title="{{itemchild.name}}">{{itemchild.name}}</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</div>
