<div class="top-layout clearfix">
<h2>Location Type List</h2>
<wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block location-type-management">
    <div *ngIf="messages">
        <div class="alert alert-{{messages.status}}">
            <a href="#" class="close" (click)="messages=false" aria-label="close">&times;</a>
            <span [innerHTML]="messages.txt"></span>
        </div>
    </div>
    <div class="search-form six-column">
        <form class="clearfix form-inline" id="form-filter" id = "form-filter" [ngFormModel]="searchForm" (submit)="Search(searchForm.value)">
            <div class="form-group">
                <label>Location Type Code</label>
                <input tabindex="1" type="text" class="form-control"  ngControl="loc_type_code" name="loc_type_code" placeholder=""/>
            </div>
            <div class="form-group">
                <label>Location Type Name</label>
                <input tabindex="2" type="text" class="form-control" ngControl="loc_type_name" name="loc_type_name" placeholder=""/>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button type="button" class="btn btn-outline gray" (click)="resetSearch(searchForm.value)" tabindex="4"><i class="icon-close"></i>Reset</button>
                <button class="btn btn-outline blue" type="submit" tabindex="3"><i class="icon-magnifier"></i>Search</button>
        </div>
        </form>

    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right hide">
                <a *ngIf="hasCreatePermission" class="btn btn-primary" (click) = "add()" tabindex="6"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="7"><i class="icon-settings"></i>Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click) = "editSelectedItem()"><i class="icon-note"></i>Edit</a></li>
                        <!--<li><a (click) = "delete()">Delete</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show</label>
                <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="form-control" tabindex="5">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1 table-responsive">
            <div class="col-md-7 no-padding">
            <table class="table table-hover table-bordered table-striped" id = "w-content-per">
                <thead>
                <tr>
                    <th class="column-checkbox"><input type="checkbox" (change)="checkAll($event)" [(ngModel)]="selectedAll"></th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['loc_type_code']&&countClick['loc_type_code']!=3" [class.sorting-asc]="FieldsToSortFlag['loc_type_code']&&countClick['loc_type_code']!=3" [class.sorting]="countClick['loc_type_code']==3" (click)="sort('loc_type_code')">Location Type Code</th>
                    <th [class.sorting-desc]="!FieldsToSortFlag['loc_type_name']&&countClick['loc_type_name']!=3" [class.sorting-asc]="FieldsToSortFlag['loc_type_name']&&countClick['loc_type_name']!=3" [class.sorting]="countClick['loc_type_name']==3" (click)="sort('loc_type_name')">Location Type Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor ="let item of dataListLocaType" [class.row-selected]="item.selected" (click)="checkSelectItem(item)">
                    <td><input type="checkbox" [ngModel]="item.selected" value="{{item.loc_type_id}}" ></td>
                    <td class="width150"><a href="#/master-data/location-type/{{item.loc_type_id}}">{{item.loc_type_code}}</a></td>
                    <td class="width150">{{item.loc_type_name}}</td>
                    <td>{{item.loc_type_desc}}</td>
                </tr>
                </tbody>
            </table>
            <p *ngIf="dataListLocaType.length==0&&!loading.getLocationType">No Results Found.</p>
            <p *ngIf="dataListLocaType.length==0&&loading.getLocationType">Loading ... </p>
            </div>
        </div>
        <div class="pull-right">
            <wms-pagination
                [perPage]="perPage"
                [paginData]="Pagination"
                (pageChange)="filterList($event)">
            </wms-pagination>
        </div>
        <!--<div class="pull-left export">-->
        <!--<label class="label-export">Export to:</label>-->
        <!--<a (click)="exportCsv()" class="csv"></a>-->
        <!--<a class="pdf" (click)="exportPdf()"></a>-->
        <!--</div>-->
    </div>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
