<div *ngIf="allowAccess">
    <div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
<wms-breadcrumb></wms-breadcrumb>
    </div>
<div class="layout-block create-warehouse">
    <form *ngIf="WareHouseForm" class="form-horizontal form-style" [ngFormModel]="WareHouseForm"
          (ngSubmit)="Save(WareHouseForm.value)" novalidate>
        <wms-messages [messages]="messages"></wms-messages>
        <div class="area-block clearfix">
        <div class="row" ngControlGroup="whs">
            <div class="col-md-2">
                <div class="form-group"
                     [class.error-style]="(WarehouseCode.control.touched || submitForm ) && WarehouseCode.control.errors">
                    <label class="">Warehouse Code <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                    <input type="text" [disabled]="warehouse_id" maxlength="3" #WarehouseCode='ngForm' ngControl="whs_code" class="form-control"
                           required="required" tabindex="1">
                    <p *ngIf="WarehouseCode.control.touched&&WarehouseCode.control.hasError('required')"
                       class="error">
                        Warehouse Code is required.
                    </p>
                    <p *ngIf="WarehouseCode.control.touched&&WarehouseCode.control.hasError('invalidWarehouseCode')"
                       class="error">
                        Warehouse Code is invalid.
                    </p>
                  <p *ngIf="WarehouseCode.control.touched&&WarehouseCode.control.hasError('invalidWarehouseCodeLength')"
                     class="error">
                    Warehouse Code must have 3 characters.
                  </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group"
                     [class.error-style]="(WarehouseName.control.touched||submitForm)&&WarehouseName.control.errors">
                    <label class="">Warehouse Name <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                    <input type="text" [readonly]="IsView" maxlength="50" #WarehouseName='ngForm' ngControl="whs_name" class="form-control"
                           required="required" tabindex="2">
                    <p *ngIf="(WarehouseName.control.touched||submitForm)&&WarehouseName.control.errors"
                       class="error">
                        Warehouse Name is required.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group"
                     [class.error-style]="(CountryId.control.touched ||submitForm)&&CountryId.control.errors">
                    <label>Country <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                    <select class="form-control" [disabled]="IsView" (change)="ChangeCountry($event.target.value)" #CountryId='ngForm'
                            ngControl="whs_country_id" required="required" tabindex="3">
                        <option value="">Select Country</option>
                        <option *ngFor="let item of Country | orderBy:['sys_country_name']" [value]="item.sys_country_id">{{item.sys_country_name}}
                        </option>
                    </select>
                    <p *ngIf="(CountryId.control.touched ||submitForm)&&CountryId.control.hasError('required')"
                       class="error">
                        Country is required.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group"
                     [class.error-style]="(StateProvince.control.touched|| submitForm)&&StateProvince.control.errors">
                    <label class="">State/Province <span class="txt-required" *ngIf="!IsView" >(*)</span>
                        <span *ngIf="Loading['state']"><img src="/assets/images/loading.gif" alt=""></span>
                    </label>
                    <select class="form-control" [disabled]="IsView" #StateProvince='ngForm' ngControl="whs_state_id" required="required"
                            tabindex="4">
                        <option value="">Select State/Province</option>
                        <option *ngFor="let item of StateProvinces | orderBy:['sys_state_name']" value="{{item.sys_state_id}}">
                            {{item.sys_state_name}}
                        </option>
                    </select>
                    <p *ngIf="(StateProvince.control.touched|| submitForm)&&StateProvince.control.errors"
                       class="error">
                        State/Province is required.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group"
                     [class.error-style]="(City.control.touched||submitForm)&&City.control.errors">
                    <label class="">City <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                    <input type="text" [readonly]="IsView" maxlength="20" #City='ngForm' ngControl="whs_city_name" class="form-control"
                           required="required" tabindex="5">
                    <p *ngIf="(City.control.touched||submitForm)&&City.control.errors"
                       class="error">
                        City is required.
                    </p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="">Status</label>
                    <select #Statusf='ngForm' [disabled]="IsView" ngControl="whs_status" class="form-control" required="required"
                            tabindex="6">
                        <option *ngFor="let item of Status" value="{{item.whs_sts_code}}">{{item.whs_sts_name}}</option>
                    </select>
                    <p *ngIf="(Statusf.control.touched|| submitForm)&&Statusf.control.errors"
                       class="error">
                        Status is required.
                    </p>
                </div>
            </div>
            </div>
        </div>
        <ul class="nav nav-tabs">

          <li class="active" *ngIf="IsView" (click)="GetListData(1,'GetZone');showPagin=true"><a data-toggle="tab" href="#tabZone" tabindex="7">Zone</a>
          </li>
          <li *ngIf="IsView" (click)="GetListData(1,'GetLocaltions');showPagin=true"><a data-toggle="tab" href="#tabLocation" tabindex="8">Location</a>
          </li>
          <li *ngIf="IsView" (click)="GetListData(1,'getCustomer');showPagin=true"><a data-toggle="tab" href="#tabCustomers" tabindex="9">Customers</a>
          </li>

            <li [class.active]="!IsView" (click)="showPagin=false" tabindex="10">
                <a data-toggle="tab" href="#tabContact">Contact Info
                <span *ngIf="submitForm&&!WareHouseForm.controls['contacts'].valid"  class="txt-required" *ngIf="!IsView" ><i
                    class="fa fa-warning"></i></span>
                  <span *ngIf="WareHouseForm.controls['contacts'].valid&&!IsView"  class="icon-done">
                  <i class="fa fa-check"></i>
                </span>
              </a>
            </li>
            <li (click)="showPagin=false"><a data-toggle="tab" href="#tabShipping" tabindex="11">Shipping Info
              <span *ngIf="submitForm&&!WareHouseForm.controls['shipping'].valid"class="txt-required" *ngIf="!IsView" >
                <i  class="fa fa-warning"></i></span>
              <span *ngIf="WareHouseForm.controls['shipping'].valid&&!IsView"  class="icon-done">
                  <i class="fa fa-check"></i>
                </span>
              </a>
            </li>
            <li (click)="showPagin=false"><a data-toggle="tab" href="#tabBilling" tabindex="16">Billing Info
                <span *ngIf="submitForm&&!WareHouseForm.controls['billing'].valid" class="txt-required" *ngIf="!IsView" ><i
                      class="fa fa-warning"></i></span>
               <span *ngIf="WareHouseForm.controls['billing'].valid&&!IsView"  class="icon-done">
                  <i class="fa fa-check"></i>
                </span>
              </a>
            </li>
          <li (click)="showPagin=false"><a data-toggle="tab" href="#configuration" tabindex="16">
            Configuration
          </a>
          </li>

            <li (click)="showPagin=false" tabindex="10" *ngIf="Action!=='new'">
                <a data-toggle="tab" href="#tabCarrier">Carrier Service</a>
            </li>
        </ul>
        <div class="tab-content">
          <div *ngIf="showPagin&&IsView" class="table-list-head clearfix">
            <div class="row-legth pull-left form-inline">
                <label>Show</label>
              <select (change)="onPageSizeChanged($event)" class="input-block-level form-control">
                <option selected="selected" value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
              </select>
              <span *ngIf="Loading['LoadList']"><img src="/assets/images/loading.gif" alt=""></span>
            </div>
          </div>

          <div *ngIf="IsView" class="clearfix tab-pane fade in active" id="tabZone">

            <div class="table-style1 table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Zone Code</th>
                  <th>Zone Name</th>
                  <th>Zone Type Name</th>
                  <th>Min Count</th>
                  <th>Max Count</th>
                  <th>Number of Location</th>
                  <th>Number of Inactive Location</th>
                  <th>Customer</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of ListData">
                  <!--<td><a href="#/system-setup/zone/{{item.zone_id}}">{{item.zone_code}}</a></td>-->
                  <td>{{item.zone_code}}</td>
                  <td>{{item.zone_name}}</td>
                  <td>{{item.zone_type_name}}</td>
                  <td>{{item.zone_min_count}}</td>
                  <td>{{item.zone_max_count}}</td>
                  <td>{{item.zone_num_of_loc}}</td>
                  <td>{{item.zone_num_of_inactive_loc}}</td>
                  <td>{{item.customers?.cus_name}}</td>
                  <td>{{item.zone_description}}</td>
                </tr>
                </tbody>
              </table>
                <p *ngIf="showPagin&&IsView">
                    <span *ngIf="ListData.length==0&&!Loading.LoadList">No Results Found.</span>
                    <span *ngIf="ListData.length==0&&Loading?.LoadList">Loading ...</span>
                </p>
            </div>

          </div>

          <div *ngIf="IsView" class="clearfix tab-pane fade" id="tabLocation">
            <div class="table">
              <div class="table-style1 table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Location Code</th>
                    <th>Alternative Name</th>
                    <th>Type</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Height</th>
                    <th>Avalable Capacity (%)</th>
                    <th>Weight Capacity</th>
                    <th>Min Count</th>
                    <th>Max Count</th>
                    <th>Zone</th>
                    <th>Status</th>
                    <th>Reason</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of ListData">
                    <!--<td><a href="#/system-setup/location/{{item.loc_id}}">{{item.loc_code}}</a></td>-->
                    <td>{{item.loc_code}}</td>
                    <td>{{item.loc_alternative_name}}</td>
                    <td>{{item.loc_type_name}}</td>
                    <td>{{item.loc_width}}</td>
                    <td>{{item.loc_length}}</td>
                    <td>{{item.loc_height}}</td>
                    <td>{{item.loc_available_capacity}}</td>
                    <td>{{item.loc_weight_capacity}}</td>
                    <td>{{item.loc_min_count}}</td>
                    <td>{{item.loc_max_count}}</td>
                    <td>{{item.loc_zone_name}}</td>
                    <td>{{item.loc_sts_code_name}}</td>
                    <td>{{item.loc_sts_dtl_reason}}</td>
                  </tr>
                  </tbody>
                </table>
                  <p *ngIf="showPagin&&IsView">
                      <span *ngIf="ListData.length==0&&!Loading.LoadList">No Results Found.</span>
                      <span *ngIf="ListData.length==0&&Loading?.LoadList">Loading ...</span>
                  </p>
              </div>

            </div>
          </div>
          <div *ngIf="IsView" class="clearfix tab-pane fade" id="tabCustomers">
            <div class="table">
              <div class="table-style1 table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Customer Code</th>
                    <th>Warehouse Code</th>
                    <th>Billing Account #</th>
                    <th>Customer Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr *ngFor="let item of ListData">
                    <!--<td><a href="#/system-setup/location/{{item.loc_id}}">{{item.loc_code}}</a></td>-->
                    <td>{{item.cus_code}}</td>
                    <td>{{item.whs_code}}</td>
                    <td>{{item.cus_billing_account}}</td>
                    <td>{{item.cus_name}}</td>
                    <td>{{item.cus_city_name}}</td>
                    <td>{{item.cus_state_name}}</td>
                    <td>{{item.cus_postal_code}}</td>
                    <td>{{item.cus_ctt_full_name}}</td>
                    <td>{{item.cus_ctt_phone}}</td>
                    <td>{{item.cus_ctt_email}}</td>
                    <td>{{item.status?.cus_sts_name}}</td>
                  </tr>

                  </tbody>
                </table>
                  <p *ngIf="showPagin&&IsView">
                      <span *ngIf="ListData.length==0&&!Loading.LoadList">No Results Found.</span>
                      <span *ngIf="ListData.length==0&&Loading?.LoadList">Loading ...</span>
                  </p>
              </div>
            </div>
          </div>

            <div ngControlGroup="contacts" class="clearfix tab-pane fade in" [class.in]="!IsView"  [class.active]="!IsView" id="tabContact">
                <input type="hidden" ngControl="whs_con_department">
                <div class="area-block clearfix">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group"
                             [class.error-style]="(FirstName.control.touched|| submitForm)&&FirstName.control.errors">
                            <label class="">First Name <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input type="text" [readonly]="IsView" maxlength="50" #FirstName='ngForm' ngControl="whs_con_fname"
                                   class="form-control"
                                   required tabindex="10">
                            <p *ngIf="(FirstName.control.touched|| submitForm)&&FirstName.control.errors"
                               class="error">
                                First Name is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"
                             [class.error-style]="( LastName.control.touched || submitForm ) && LastName.control.errors ">
                            <label class="">Last Name <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input [readonly]="IsView" type="text" maxlength="50" #LastName='ngForm' ngControl="whs_con_lname"
                                   class="form-control"
                                   required tabindex="10">
                            <p *ngIf="( LastName.control.touched || submitForm ) && LastName.control.errors"
                               class="error">
                                Last Name is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="">Position</label>
                            <input type="text" [readonly]="IsView" ngControl="whs_con_position" maxlength="50" class="form-control"
                                   tabindex="10">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"
                             [class.error-style]="(Email.control.touched || submitForm ) && ( Email.control.hasError('required') ||  Email.control.hasError('invalidEmailAddress'))">
                            <label class="">Email <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input [disabled]="IsView" type="email" #Email='ngForm' maxlength="50" ngControl="whs_con_email"
                                   class="form-control" required tabindex="10">
                            <p class="error">
                                <span *ngIf="(Email.control.touched || submitForm ) &&  Email.control.hasError('required')">Email is required.</span>
                                <span *ngIf="Email.control.value&&Email.control.touched&&Email.control.hasError('invalidEmailAddress')">Email is invalid.</span>
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group"
                             [class.error-style]="( Phone.control.touched || submitForm ) && Phone.control.errors ">
                            <label class="">Phone <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input [readonly]="IsView" type="text" #Phone='ngForm' maxlength="20" ngControl="whs_con_phone"
                                   class="form-control" required tabindex="10">
                            <p class="error">
                                <span *ngIf="( Phone.control.touched || submitForm ) && Phone.control.errors ">Phone is required.</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="">Extension</label>
                            <input [readonly]="IsView" type="text" ngControl="whs_con_ext" maxlength="10" class="form-control"
                                   tabindex="10">
                        </div>
                    </div>
                   <div class="col-md-4">
                       <div class="form-group">
                           <label class="">Mobile</label>
                           <input [readonly]="IsView" type="text" maxlength="20" #Mobile='ngForm' ngControl="whs_con_mobile"
                                  class="form-control" tabindex="10">
                           <!--<p class="error">-->
                           <!--<span *ngIf="Mobile.control.touched&&Mobile.control.hasError('required')||ListNull.contacts?.whs_con_mobile">Mobile is required.</span>-->
                           <!--</p>-->
                       </div>
                   </div>
                </div>
                    </div>
            </div>
            <div ngControlGroup="shipping" class="clearfix tab-pane fade" id="tabShipping">
                <div class="area-block clearfix">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"
                             [class.error-style]="( AddressLinex.control.touched || submitForm ) && AddressLinex.control.errors ">
                            <label class="">Address Line 1 <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input type="text" [readonly]="IsView" maxlength="50" #AddressLinex='ngForm' ngControl="whs_add_line_1"
                                   class="form-control"
                                   required tabindex="11">
                            <p *ngIf="( AddressLinex.control.touched || submitForm ) && AddressLinex.control.errors "
                               class="error">
                                Address Line 1 is required.
                            </p>
                        </div>
                        <div class="form-group"
                             [class.error-style]="( ShippingInfoCity.control.touched || submitForm ) && ShippingInfoCity.control.errors ">
                            <label class="">City <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input type="text" [readonly]="IsView" #ShippingInfoCity='ngForm' ngControl="whs_add_city_name"
                                   class="form-control" required tabindex="13" maxlength="20">
                            <p *ngIf="( ShippingInfoCity.control.touched || submitForm ) && ShippingInfoCity.control.errors "
                               class="error">
                                City is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="">Address Line 2</label>
                            <input type="text" [readonly]="IsView" maxlength="50" #AddressLine2 ngControl="whs_add_line_2"
                                   class="form-control" tabindex="12">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"
                                         [class.error-style]="( shippingStateProvince.control.touched || submitForm ) && shippingStateProvince.control.errors ">
                                        <label class="">State/Province <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                                        <select [disabled]="IsView" class="form-control" #shippingStateProvince='ngForm'
                                                ngControl="whs_add_state_id" tabindex="14">
                                            <option value="">Select State/Province</option>
                                            <option *ngFor="let item of StateProvinces" value="{{item.sys_state_id}}">
                                                {{item.sys_state_name}}
                                            </option>
                                        </select>
                                        <p *ngIf="( shippingStateProvince.control.touched || submitForm ) && shippingStateProvince.control.errors "
                                           class="error">
                                            State/Province is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"
                                         [class.error-style]="( ShippingInfo_ZipCode.control.touched || submitForm ) && ShippingInfo_ZipCode.control.errors ">
                                        <label class="">Zip Code <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                                        <input [readonly]="IsView" type="text" maxlength="20" #ShippingInfo_ZipCode='ngForm'
                                               ngControl="whs_add_postal_code"
                                               class="form-control" required tabindex="15">
                                        <p *ngIf="( ShippingInfo_ZipCode.control.touched || submitForm ) && ShippingInfo_ZipCode.control.errors"
                                           class="error">
                                            Zip Code is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div ngControlGroup="billing" class="clearfix tab-pane fade" id="tabBilling">
                <div class="area-block clearfix">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"
                             [class.error-style]="( BillingInfo_AddressLine1.control.touched || submitForm ) && BillingInfo_AddressLine1.control.errors">
                            <label class="">Address Line 1 <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input type="text" [readonly]="IsView" maxlength="50" #BillingInfo_AddressLine1='ngForm'
                                   ngControl="whs_add_line_1"
                                   class="form-control" required tabindex="17">
                            <p *ngIf="( BillingInfo_AddressLine1.control.touched || submitForm ) && BillingInfo_AddressLine1.control.errors"
                               class="error">
                                Address Line 1 is required.
                            </p>
                        </div>
                        <div class="form-group"
                             [class.error-style]="( BillingInfoCity.control.touched || submitForm ) && BillingInfoCity.control.errors">
                            <label class="">City <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                            <input type="text" [readonly]="IsView" #BillingInfoCity='ngForm' ngControl="whs_add_city_name"
                                   class="form-control" required tabindex="19" maxlength="20">
                            <p *ngIf="( BillingInfoCity.control.touched || submitForm ) && BillingInfoCity.control.errors"
                               class="error">
                                City is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="">Address Line 2</label>
                            <input type="text" [readonly]="IsView" maxlength="50" ngControl="whs_add_line_2" class="form-control"
                                   tabindex="18">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"
                                     [class.error-style]="( BillingInfo_StateProvince.control.touched || submitForm ) && BillingInfo_StateProvince.control.errors">
                                    <label class="">State/Province <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                                    <select [disabled]="IsView" class="form-control" #BillingInfo_StateProvince='ngForm'
                                            ngControl="whs_add_state_id" tabindex="20">
                                        <option value="">Select State/Province</option>
                                        <option *ngFor="let item of StateProvinces" value="{{item.sys_state_id}}">
                                            {{item.sys_state_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="( BillingInfo_StateProvince.control.touched || submitForm ) && BillingInfo_StateProvince.control.errors"
                                       class="error">
                                        State/Province is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"
                                     [class.error-style]="( BillingInfo_ZipCode.control.touched || submitForm ) && BillingInfo_ZipCode.control.errors">
                                    <label class="">Zip Code <span class="txt-required" *ngIf="!IsView" >(*)</span></label>
                                    <input [readonly]="IsView" type="text" maxlength="20" #BillingInfo_ZipCode='ngForm'
                                           ngControl="whs_add_postal_code"
                                           class="form-control" required tabindex="21">
                                    <p *ngIf="( BillingInfo_ZipCode.control.touched || submitForm ) && BillingInfo_ZipCode.control.errors"
                                       class="error">
                                        Zip Code is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
            <div class="clearfix tab-pane fade" id="configuration">
                <div class="area-block clearfix">
                    <div class="row">
                        <div ngControlGroup="meta" class="col-md-3">
                            <div class="form-group">
                                <label class="checkbox-inline" for="whs_meta_value">
                                <input [readonly]="IsView" #Whs_meta_value="ngForm" type="checkbox" (change)="change_whs_meta_value($event)" id="whs_meta_value"  ngControl="whs_meta_value">
                                WAP Support
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="Action=='edit' || IsView" ngControlGroup="configuration" class="col-md-3">
                            <div class="form-group">
                                <label>Picking Location Expired Time (minutes)</label>
                                <input [readonly]="IsView" type="text" maxlength="3" #wle='ngForm'
                                    ngControl="wle" (keypress)="checkInputNumber($event)"
                                    class="form-control" tabindex="21">
                            </div>
                            <div class="form-group">
                                <label>Timezone</label>
                                <div class="dropdown dropdown-autosearch">
                                    <span class="waiting" *ngIf="Loading['timezone']">
                                        <img src="/assets/images/loading.gif" alt="" />
                                    </span>
                                    <input maxlength="50" placeholder="Autocomplete..."
                                        (keyup)="loadTimezones($event.target.value)"
                                        tabindex="22"
                                        ngControl="wtz" #wtz="ngForm" class="form-control dropdown-toggle"
                                        [readonly]="IsView" type="text" data-toggle="dropdown"/>
                                    <div tabindex="-1" class="dropdown-menu list-group"
                                        *ngIf="timezones.length">
                                        <a tabindex="-1" class="list-group-item nowrap" (click)="selectTimezone(item)"
                                            *ngFor="let item of timezones">
                                            {{item}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Orders days</label>
                                <input [readonly]="IsView" type="text" maxlength="3" #wle='ngForm'
                                    ngControl="wno" (keypress)="checkInputNumber($event)"
                                    class="form-control" tabindex="23">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix tab-pane fade" id="tabCarrier" *ngIf="Action!=='new'">
                <div class="area-block clearfix">
                    <div class="row" ngControlGroup="carrier">
                        <div ngControlGroup="fdx" class="col-md-6">
                            <div class="form-group">
                                <label>FEDEX Key</label>
                                <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_KEY="ngForm" type="text"
                                    id="FEDEX_KEY" ngControl="FEDEX_KEY">
                            </div>
                            <div class="form-group">
                                <label>FEDEX Password</label>
                                <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_PASSWORD="ngForm" type="text"
                                    id="FEDEX_PASSWORD" ngControl="FEDEX_PASSWORD">
                            </div>
                            <div class="form-group">
                                <label>FEDEX Meter Number</label>
                                <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_METER_NUMBER="ngForm"
                                    type="text" id="FEDEX_METER_NUMBER" ngControl="FEDEX_METER_NUMBER">
                            </div>
                            <div class="form-group">
                                <label>FEDEX Account Number</label>
                                <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_ACCOUNT_NUMBER="ngForm"
                                    type="text" id="FEDEX_ACCOUNT_NUMBER" ngControl="FEDEX_ACCOUNT_NUMBER">
                            </div>
                            <div class="form-group">
                                <label>FEDEX App Env</label>
                                <input [readonly]="IsView" class="form-control" maxlength="255" #FEDEX_APP_ENV="ngForm" type="text"
                                    id="FEDEX_APP_ENV" ngControl="FEDEX_APP_ENV">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline" for="visible_fdx">
                                    <input [disabled]="IsView" #visible="ngForm" type="checkbox" id="visible_fdx"
                                        ngControl="visible">
                                    Visible
                                </label>
                            </div>
                        </div>
                        <div ngControlGroup="ups" class="col-md-6">
                            <div class="form-group">
                                <label>UPS License Num</label>
                                <input [readonly]="IsView" type="text" maxlength="255" #UPS_LICENSE_NUM='ngForm'
                                    ngControl="UPS_LICENSE_NUM" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>UPS Username</label>
                                <input [readonly]="IsView" type="text" maxlength="255" #UPS_USERNAME='ngForm'
                                    ngControl="UPS_USERNAME" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>UPS Password</label>
                                <input [readonly]="IsView" type="text" maxlength="255" #UPS_PASSWORD='ngForm'
                                    ngControl="UPS_PASSWORD" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>UPS App Env</label>
                                <input [readonly]="IsView" type="text" maxlength="255" #UPS_APP_ENV='ngForm' ngControl="UPS_APP_ENV"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label>UPS Account Number</label>
                                <input [readonly]="IsView" type="text" maxlength="255" #UPS_ACCOUNT_NUMBER='ngForm'
                                    ngControl="UPS_ACCOUNT_NUMBER" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline" for="visible_ups">
                                    <input [disabled]="IsView" #visible="ngForm" type="checkbox" id="visible_ups"
                                        ngControl="visible">
                                    Visible
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button pull-right" *ngIf="!IsView">
            <button type="button" (click)="Cancel()" class="btn btn-default" tabindex="23"><i class="icon-close"></i>Cancel</button>
            <button type="submit" *ngIf="Action=='new'"  class="btn btn-primary" tabindex="22"><i class="icon-check"></i>Save</button>
            <button type="submit" *ngIf="Action=='edit'" class="btn btn-primary" tabindex="22"><i class="icon-check"></i>Update</button>
        </div>

      <!-- /pagin -->




      <div *ngIf="showPagin" class="pull-right">
        <!--
        Directive WMSPagination
        Url : common/directives/directives
        -->
        <wms-pagination
          [perPage]="perPage"
          [paginData]="Pagination"
          (pageChange)="GetListData($event,ListActive)"
        ></wms-pagination>
      </div>


    </form>
    <goBack *ngIf="IsView"></goBack>

</div>
</div><!-- /allowAccess -->
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
