<div class="top-layout clearfix">
<h2>User Profile</h2>
<ol class="breadcrumb">
  <li><a href="#/dashboard">Home</a></li>
  <li><a href="#/profile"> Profile</a></li>
</ol>
</div>
<div class="user-reference">
  <div class="area-block">
  <div class="row">
    <div class="col-md-3">
      <div class="user-block">
        <div class="user-images">
          <div class="img"><img src="/assets/images/avatar.png" alt="" class="img-responsive"></div>
          <!--<h4 class="name">Admin Logisoft</h4>
          <p class="position">Admin</p>-->
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li><a [routerLink]="['User Profile Detail']">Profile</a></li>
          <li><a [routerLink]="['Edit Profile']">Edit Profile</a></li>
          <li><a [routerLink]="['Change Password']">Change Password</a></li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
    </div>
</div>
