<div class="top-layout clearfix">
    <h2>Invoice Issue</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block invoice-management">
    <div class="area-block clearfix">
        <div class="form-inline">
            <div class="form-group">
                <label>Invoice No <strong>{{invoiceData.inv_num}}</strong></label>
            </div>
            <p class="pull-right txt-required">
               <b>{{dateCaption}}</b>
            </p>
        </div>
    </div>
    <div class="form-style">
        <h4 class="h4-style">Invoice</h4>
        <div class="area-block clearfix">
            <client-info-compound
                    [cus_id]="invoiceData.cus_id"
                    [bill_to]="invoiceData.billTo"
                    [ship_to]="invoiceData.shipTo">
            </client-info-compound>
            <invoice-header></invoice-header>
            <invoice-body></invoice-body>
            <div class="invoice-summary">
                <table>
                    <tr>
                        <td class="invoice-summary-conten-left">Net Order</td>
                        <td class="invoice-summary-content-right">
                            {{invoiceData.summary['netOrder']}}
                        </td>
                    </tr>
                    <tr>
                        <td class="invoice-summary-content-left">Discount</td>
                        <td class="invoice-summary-content-right">
                            {{invoiceData.summary['discount']}}
                        </td>
                    </tr>
                    <tr>
                        <td class="invoice-summary-content-left">Freight</td>
                        <td class="invoice-summary-content-right">
                            {{invoiceData.summary['freight']}}
                        </td>
                    </tr>
                    <tr>
                        <td class="invoice-summary-content-left">Sales Tax</td>
                        <td class="invoice-summary-content-right">
                            {{invoiceData.summary['salesTax']}}
                        </td>
                    </tr>
                    <tr>
                        <td class="invoice-summary-total-left">
                            <strong>Balance Due</strong>
                        </td>
                        <td class="invoice-summary-total-right">
                            <strong>{{invoiceData.summary['balanceDue']}}</strong>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <a class="btn btn-outline red no-margin-left pull-left"
       (click)="goBack(action)">
        <i class="icon-action-undo "></i>Close Invoice
    </a>
    <div class="button pull-right">

        <button *ngIf="cancellable"
                class="btn btn-outline red"
                (click)="cancelInvoice()" tabindex="5">
            <i class="icon-trash"></i>Cancel Invoice
        </button>
        <button class="btn btn-default print"
                (click)="printInvoice()" tabindex="4">
            <i class="icon-{{action == 'print' ? 'printer' : 'check'}}"></i>{{action == 'print' ? 'Print' : 'Create'}} Invoice
        </button>

    </div>
</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay">
    <img src="/assets/images/spinner.gif" alt="">
</div>

<alert-popup></alert-popup>

<confirm-popup
        (onConfirm)="onConfirm($event)">
</confirm-popup>
