<div class="top-layout clearfix">
    <h2>Logs List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block clearfix">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form seven-column">
        <form class="clearfix form-inline" id="form-filter" (submit)="search()">
            <div class="form-group">
                <label>Type </label>
                <select class="form-control" name="type" tabindex="1" (change)="onErrorTypeChanged($event);">
                    <option value="">ALL</option>
                    <option *ngFor="let item of logTypeData" value="{{item.type}}" >{{item.type}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Error </label>
                <select class="form-control" name="evt_code" tabindex="1">
                    <option value="">ALL</option>
                    <option *ngFor="let item of evtCodeData" value="{{item.evt_code}}">{{item.des}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Owner </label>
                <input class="form-control" name="owner" placeholder="" tabindex="1" type="text">
            </div>
            <div class="form-group  has-feedback">
                <label>From </label>
                <input type="text" maxlength="10" autocomplete="off"
                                       data-provide="datepicker" data-date-today-highlight="1" name="created_at_from"
                                       class="form-control">
                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group  has-feedback">
                <label>To </label>
                <input type="text" maxlength="10" autocomplete="off"
                                       data-provide="datepicker" data-date-today-highlight="1" name="created_at_to"
                                       class="form-control">
                <span class="icon-calendar form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button class="btn btn-outline gray" tabindex="3" type="button" (click)="reset()"><i
                        class="icon-close"></i>Reset
                </button>
                <button class="btn btn-outline blue" tabindex="2" type="submit"><i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <!-- <div class="pull-right">
                <a *ngIf="hasCreatePermission" class="btn btn-primary pull-left" tabindex="5" href="#/logs/new"><i
                        class="icon-plus"></i>Create New Log</a>
                <div class="input-group pull-right" *ngIf="hasEditPermission || hasDeletePermission">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-group dropdown-toggle"
                            data-toggle="dropdown" tabindex="6" type="button"><i class="icon-settings"></i>Action <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngIf="hasEditPermission"><a (click)="editRow()"><i class="icon-note"></i>Edit</a></li>
                         <li *ngIf="hasDeletePermission"><a (click)="deleteRow()"><i class="icon-trash"></i>Delete</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="form-inline">
                <label>Show</label>
                <select class="form-control" tabindex="4" (change)="onPageSizeChanged($event)">
                    <option selected="" value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <a tabindex="4" title="Fit Screen" class="btn-expand" (click)="viewListFullScreen()">
                    <i class="icon-size-fullscreen"></i>
                </a>
            </div>
        </div>
        <div class="table-style1">
            <advance-table [tableID]="tableID"
              [headerURL]="headerURL"
              [headerDef]="headerDef"
              [pinCols]="pinCols"
              [rowData]="rowData"
              [getSelectedRow]="getSelectedRow"
              [expandTable]="expandTable"
              (returnSelectedRow)="afterGetSelectedRow($event)"
              (sort)="doSort($event)"
            ></advance-table>

            <div class="pull-right">
                <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="filterList($event)">
                </wms-pagination>
            </div>
        </div>
    </div>
</div>

<div id="modal-content" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body form-style">
                <ul *ngIf="!isTextData">
                    <li *ngFor="let item of viewData" style="word-wrap: break-word;">
                        <span><strong>{{item.key}}</strong></span>
                        <span>:</span>
                        <span>{{item.value}}</span>
                    </li>
                </ul>
                <p *ngIf="isTextData">{{viewData}}</p>
            </div>
        </div>
    </div>
</div>

<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>