<div class="top-layout clearfix">
    <h2>{{TitlePage}}</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <span *ngIf="loading['AddUpdate']"><img src="/assets/images/loading.gif" alt=""></span>
    <form class="form-horizontal form-style" [ngFormModel]="chgCodeForm" *ngIf="chgCodeForm"
          (ngSubmit)="action!='view' && save(chgCodeForm)" novalidate>
        <div class="area-block clearfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group"
                                 [class.error-style]="(chg_code.control.touched || submitted) && chg_code.control.errors">
                                <label class="">Charge Code <span *ngIf="!isView"
                                                                  class="txt-required">(*)</span></label>
                                <input tabindex="1" type="text" maxlength="3" class="form-control" #chg_code="ngForm"
                                       ngControl="chg_code"
                                       [readonly]="isView"  [(ngModel)]="chgCode.name"
                                       (blur)="detectControlErr(chg_code)" required>
                                <p *ngIf="chg_code.errors && chg_code.errors.error_messages" class="error">
                                    Charge Code {{ (chg_code.errors.error_messages) }}<br>
                                </p>
                                <p *ngIf="(chg_code.control.touched || submitted) && chg_code.control.hasError('invalidLength3')" class="error">
                                    Charge Code code should contain 3 alphanumerics<br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"
                                 [class.error-style]="chg_type_id.errors&&chg_type_id.errors.error_messages">
                                <label class="">Charge Type <span *ngIf="!isView"
                                                                  class="txt-required">(*)</span></label>
                                <select tabindex="2" class="form-control" [(ngModel)]="chgCode.chgTypeId" ngControl="chg_type_id"
                                        (blur)="detectControlErr(chg_type_id)"
                                        #chg_type_id="ngForm" [disabled]="isView" required>
                                    <option value="">Select one value</option>
                                    <option [ngValue]="Type.chg_type_id"
                                            *ngFor="let Type of listChargeType | orderBy:['chg_type_name']">
                                        {{Type.chg_type_name}}
                                    </option>
                                </select>
                                <p *ngIf="chg_type_id.errors&&chg_type_id.errors.error_messages" class="error">
                                    Charge Type {{ (chg_type_id.errors.error_messages) }}<br>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group"
                                 [class.error-style]="chg_uom_id.errors&&chg_uom_id.errors.error_messages">
                                <label class="">UOM <span *ngIf="!isView" class="txt-required">(*)</span></label>
                                <select tabindex="3" class="form-control" [(ngModel)]="chgCode.uomId" ngControl="chg_uom_id"
                                        (blur)="detectControlErr(chg_uom_id)"
                                        #chg_uom_id="ngForm" [disabled]="isView" required>
                                    <option value="">Select one value</option>
                                    <option [ngValue]="UOM.sys_uom_id"
                                            *ngFor="let UOM of listChargeUOM | orderBy:['sys_uom_name']">
                                        {{UOM.sys_uom_name}}
                                    </option>
                                </select>
                                <p *ngIf="chg_uom_id.errors&&chg_uom_id.errors.error_messages" class="error">
                                    UOM {{ (chg_uom_id.errors.error_messages) }}<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group">
                            <label class="">Description</label>
                    <textarea tabindex="4" name="" maxlength="255" rows="2" class="form-control"
                              [(ngModel)]="chgCode.des" ngControl="chg_code_des" [readonly]="isView"></textarea>
                        </div>
                    </div>
                    <div class="button pull-right" *ngIf="!isView">
                        <button type="button" class="btn btn-default" (click)="cancel()" tabindex="6"><i class="icon-close"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='new'" tabindex="5"><i class="icon-check"></i>Save
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="action=='edit'" tabindex="5"><i class="icon-check"></i>Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <goBack *ngIf="isView"></goBack>
    <div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
</div>
