<form *ngIf="RefillForm" class="form-horizontal form-style" [ngFormModel]="RefillForm" novalidate>
    <div class="table-list-head clearfix" *ngIf="_action!=='view'">
        <div class="input-group pull-right margin-left" *ngIf="!IsView">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-group dropdown-toggle"
                    data-toggle="dropdown" type="button"><i class="icon-settings"></i>Action <span
                    class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a *ngIf="RefillItems?.length > 0 && !IsView" (click)="deleteItem('RefillItems',true)"><i
                        class="icon-trash"></i>Delete</a></li>
            </ul>
        </div>
    </div>
<table class="table table-bordered editable table-hover">
    <thead>
    <tr>
        <th *ngIf="_action!=='view'" class="column-checkbox"><input [disabled]="!RefillItems?.length" [disabled]="IsView"
                                                           (ngModelChange)="CheckAll($event,'RefillItems')"
                                                           [ngModel]="selectedAll.RefillItems" type="checkbox"/></th>
        <th>Item ID</th>
        <th>Customer <span *ngIf="_action!=='view'" class="txt-required">(*)</span></th>
        <th>SKU <span *ngIf="_action!=='view'" class="txt-required">(*)</span></th>
        <th>Color</th>
        <th>Size</th>
        <th>UPC</th>
        <th>Lot</th>
        <th>Min <span *ngIf="_action!=='view'" class="txt-required">(*)</span></th>
        <th>Max <span *ngIf="_action!=='view'" class="txt-required">(*)</span></th>
    </tr>
    </thead>
    <tbody ngControlGroup="data">
    <!--  // loc_id	loc_code	item_id	Cus_id	SKU	Color 	Size	UPC	Lot	Min	Max-->
    <tr *ngFor = "let item of RefillItems;let i=index" ngControlGroup="{{i}}">
        <td *ngIf="_action!=='view'"><input
                (change)="Selected($event,item,'RefillItems')"
                [ngModel]="item.selected" type="checkbox" tabindex="20"></td>
        <td><input readonly ngControl="item_id" type="text" class="form-control"></td>
        <td>

            <div class="form-group"
                 [class.error-style]="(Cus.control.touched||_submitForm)&&Cus.control.errors">
                <select tabindex="1" (change)="changeCustomer(i,$event)"
                        [disabled]="_action=='view'"
                        class="form-control" ngControl="cus_id" #Cus="ngForm" required>
                    <option value="">Select one value</option>
                    <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                    </option>
                </select>
                <p *ngIf="(Cus.control.touched||_submitForm)&&Cus.control.errors"
                   class="error">
                    Customer Name is required.
                </p>
            </div>

        </td>
        <td class="autocomplete-style width200">
            <div class="control-group"
                 [class.error-style]="(Sku.control.touched || _submitForm )&&Sku.control.errors">
                <!-- //auto search chagre code complete -->
                <div class="dropdown dropdown-autosearch">
                                                    <span class="waiting" *ngIf="item['showLoading']"><img
                                                            src="/assets/images/loading.gif"></span>
                    <input [disabled]="_action=='view'||!Cus.control.value" maxlength="50"
                           tabindex="20"
                           #Sku="ngForm"
                           (blur)="showKeyNotExit(i)"
                           [ngModel]="item.value.sku"
                           placeholder="Autocomplete..."
                           (ngModelChange)="autoComplete(i,$event,'sku')"
                           ngControl="sku" class="form-control dropdown-toggle"
                           type="text" data-toggle="dropdown"/>
                    <div class="dropdown-menu">
                        <div tabindex="-1" class="list-group list-table"
                             [currentPage]="item?.current_page"
                             [paginData]="item['paginData']"
                             (updated)="autoComplete(i,item.value.sku,'sku',$event,false)"
                             infinite-scroll-autocomplete>
                            <table>
                                <thead>
                                <tr>
                                    <th class="nowrap" width="10%">SKU</th>
                                    <th width="10%">Size</th>
                                    <th width="10%">Color</th>
                                    <th width="10%">Pack</th>
                                    <th width="10%">UOM</th>
                                    <th class="nowrap" width="50%">Description</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="item?.autoSearchData?.length">
                                <tr  *ngFor="let itemId of item.autoSearchData; let i2 = index" (click)="selectedItem(i,itemId,true)">
                                    <td width="10%"><a>{{itemId.sku}}</a></td>
                                    <td width="10%"><a>{{itemId.size}}</a></td>
                                    <td width="10%"><a>{{itemId.color}}</a></td>
                                    <td width="10%"><a>{{itemId.pack}}</a></td>
                                    <td width="10%"><a>{{itemId.uom_name}}</a></td>
                                    <td width="50%"><a>{{itemId.des}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <p *ngIf="(Sku.control.touched || _submitForm )&&Sku.control.hasError('required')"
                   class="error">
                    SKU is required.
                </p>
                <p *ngIf="Sku.control.hasError('invaildValue')"
                   class="error">
                    SKU is not existed.
                </p>
                <p *ngIf="Sku.control.hasError('duplicated')"
                   class="error">
                    Item is duplicated.
                </p>

            </div>
        </td>
        <td><input readonly ngControl="color" type="text" class="form-control"></td>
        <td><input readonly ngControl="size" type="text" class="form-control"></td>
        <td><input readonly ngControl="upc" type="text" class="form-control"></td>
        <td><input readonly ngControl="lot" type="text" class="form-control"></td>
        <td>
            <div class="control-group"
                 [class.error-style]="(Min.control.touched || _submitForm )&&Min.control.errors">
            <input  (keypress)="checkInputNumber($event,true)" maxlength="5"
                    (change)="validMinMaxCount(i,item?.value?.min,item?.value.max)"
                    ngControl="min" #Min="ngForm" [disabled]="_action=='view'||!Cus.control.value" type="text" class="form-control">
                <p *ngIf="(Min.control.touched||_submitForm)&&Min.control.hasError('required')"
                   class="error">
                    Min  is required.
                </p>
                <p *ngIf="(Min.control.touched||_submitForm)&&Min.control.hasError('invalidInt')"
                   class="error">
                    Min must be integer
                </p>
                <p *ngIf="(Min.control.touched||_submitForm)&&Min.control.hasError('invalidMin')"
                   class="error">
                    Min must be smaller than Max.
                </p>
            </div>
        </td>
        <td>

            <div class="control-group"
                 [class.error-style]="(Max.control.touched || _submitForm )&&Max.control.errors">
                <input maxlength="5" (keypress)="checkInputNumber($event,true)" (change)="validMinMaxCount(i,item?.value?.min,item?.value.max)"
                       ngControl="max" #Max="ngForm" [disabled]="_action=='view'||!Cus.control.value" type="text" class="form-control">
                <p *ngIf="(Max.control.touched||_submitForm)&&Max.control.hasError('required')"
                   class="error">
                    Max  is required.
                </p>
                <p *ngIf="(Max.control.touched||_submitForm)&&Max.control.hasError('isZero')"
                   class="error">
                    Max must be greater than 0
                </p>
                <p *ngIf="(Max.control.touched||_submitForm)&&Max.control.hasError('invalidInt')"
                   class="error">
                    Max must  be integer
                </p>
                <p *ngIf="(Max.control.touched||_submitForm)&&Max.control.hasError('invalidMax')"
                   class="error">
                    Max must be greater than Min.
                </p>
            </div>
        </td>
    </tr>
    <tr class="text-center" *ngIf="_action!=='view'">
        <td class="add-more">
                                    <span (click)="AddRefillItem()"
                                          class="button-add" tabindex="21"><i
                                            class="fa  fa-plus-circle"></i></span>
        </td>
    </tr>
    </tbody>
</table>
</form>
<div class="text-center" *ngIf="loading['refill']"><img
        src="/assets/images/loading.gif"></div>
<p *ngIf="RefillItems.length==0&&loading['refilldone']">No Results Found.</p>