<div class="top-layout clearfix">
    <h2>XFER List</h2>
    <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
    <wms-messages [messages]="messages"></wms-messages>
    <div class="search-form eight-column">
        <form class="clearfix form-inline" [ngFormModel]="searchForm" (ngSubmit)="Search()">
            <div class="form-group">
                <label>Customer </label>
                <select name="" ngControl="cus_id" class="form-control" tabindex="1">
                    <option value="">ALL</option>
                    <option *ngFor="let item of Customers" [value]="item.cus_id">{{item.cus_name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>XFER Number</label>
                <input type="text" ngControl="xfer_hdr_num" class="form-control" name="" tabindex="2">
            </div>
            <div class="form-group ">
                <label>Status </label>
                <select name="" ngControl="xfer_sts" class="form-control" tabindex="3">
                    <option value="">ALL</option>
                    <option value="PD">Pending</option>
                    <option value="PK">Picking</option>
                    <option value="CO">Complete</option>
                </select>
            </div>
            <div class="form-group">
                <label>SKU</label>
                <input type="text" ngControl="sku" class="form-control" name="" tabindex="4">
            </div>
            <div class="form-group">
                <label>Item ID</label>
                <input type="text" ngControl="item_id" class="form-control" name="" tabindex="5">
            </div>
            <div class="form-group">
                <label>UPC</label>
                <input type="text" ngControl="cus_upc" class="form-control" name="" tabindex="6">
            </div>
            <div class="btn-toolbar pull-left margin-top23">
                <button tabindex="7" type="button" class="btn btn-outline gray" (click)="ResetSearch()"><i
                        class="icon-close"></i>Reset
                </button>
                <button type="submit" class="btn btn-outline blue" tabindex="8"><i class="icon-magnifier"></i>Search
                </button>
            </div>
        </form>
    </div>
    <div class="table">
        <div class="filter clearfix table-list-head">
            <div class="pull-right">
                <a *ngIf="createXFer" class="btn btn-primary pull-left" tabindex="9" href="#/xfer/new"><i class="icon-plus"></i>Add</a>
                <div class="input-group pull-right">
                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                            class="btn btn-group dropdown-toggle"
                            type="button" tabindex="10"><i class="icon-settings"></i>Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngIf="editXFer"><a (click)="Edit()"><i></i>Edit XFER</a></li>
                        <li *ngIf="createXFerTicket"><a (click)="createXferTicket()"><i></i>Create XFER Ticket</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-inline">
                <label>Show:</label>
                <select (change)="onPageSizeChanged($event)" class="form-control" tabindex="11">
                    <option value="20" selected>20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="table-style1">
            <ag-grid-ng2-extent
                    (dataSelected)="ListSelectedItem=$event; "
                    [columnData]="columnData"
                    [sortDefault]="sortData"
                    (sortData)="sortData=$event;getXferList(1)"
                    [dataForRenderTable]="xferList"
                    [headerURL]="headerURL">
            </ag-grid-ng2-extent>
        </div>
    </div>

    <div class="pull-right">
            <wms-pagination
                    [perPage]="perPage"
                    [paginData]="Pagination"
                    (pageChange)="getXferList($event)"
            ></wms-pagination>
        </div>

</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
