<div *ngIf="isVisible" class="modal fade show in danger" id="invoiceInfo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        (click)="hideInvoiceInfo()">&times;</button>
                <h4 class="modal-title dialogTitle">{{invoiceType}} Invoice Details</h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let info of invoiceInfo; let oddRow = odd; let evenRow = even;"
                     [ngClass]="{ oddRow: oddRow, evenRow: evenRow }">
                    <div class="invoiceInfoCaption">{{info.caption}}</div>
                    <div class="invoiceInfoValue">{{info.value}}</div>
                </div>
            </div>
        </div>
    </div>
</div>