<div class="pull-left export">
    <label class="label-export">Export to:</label>
    <a (click)="exportReportCSV()" class="csv"></a>
</div>
<wms2-progressBar [progressValue]="progress" [progressText]="progress + '% completed'"></wms2-progressBar>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>