<div class="top-layout clearfix">
  <h2>Picking Update</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<wms-messages [messages]="messages"></wms-messages>
<div class="layout-block clearfix" *ngIf="allowAccess">
  <form class="form-horizontal form-style" id="form" [ngFormModel]="PickingForm" novalidate autocomplete="off"
    (ngSubmit)="updateWarePick()">
    <div class="area-block clearfix">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="">Wave Number</label>
            <input tabindex="1" type="text" maxlength="64" class="form-control" readonly value="{{waveNumber}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="">Order Number</label>
            <div class="form-inline">
              <span tabindex="1" class="form-control height-auto" disabled>{{orderNumbers}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tabAsn" (click)="showAutoAssignToOrder=false">Items</a></li>
    </ul>
    <div class="tab-content">
      <div class="clearfix tab-pane fade active in" id="tabAsn" ngControlGroup="items">
        <div class="table-list-head clearfix">
          <div class="input-group pull-right margin-left">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-group dropdown-toggle" data-toggle="dropdown"
              type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a *ngIf="items.length > 0" (click)="deleteItem()" class="internal"><i class="icon-trash"></i>Delete</a></li>
            </ul>
          </div>
        </div>
        <div class="table-style2">
          <table class="table table-bordered small-padding-table">
            <thead>
              <tr>
                <th class="column-checkbox"><input [disabled]="!items.length" (ngModelChange)="fbdFunc.CheckAll(itemsArray,$event)"
                    [ngModel]="itemsArray?.selectedAll" type="checkbox" />
                </th>
                <th>Order# <span class="txt-required">(*)</span></th>
                <th>Item ID</th>
                <th>Description</th>
                <th>SKU <span class="txt-required">(*)</span></th>
                <th>Size</th>
                <th>Color</th>
                <th>Pack Size</th>
                <th>Lot</th>

                <th>Remaining QTY</th>
                <th>Picked Location <span class="txt-required">(*)</span></th>
                <th class="nowrap">Picked QTY <span class="txt-required">(*)</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items; let i=index;" ngControlGroup="{{i}}">
                <td>
                  <input (change)="fbdFunc.Selected(itemsArray,item,$event)" [ngModel]="item.selected" type="checkbox"
                    tabindex="20">
                </td>
                <td class="width150 input-error-table" [class.error-style]="(odr_id.control.touched || submitForm) && odr_id.control.errors">
                  <select tabindex="1" class="form-control" ngControl="odr_id" #odr_id="ngForm" (change)="changeOrder(i, $event)">
                    <option value="">Select one value</option>
                    <option *ngFor="let item of wpOrder" [value]="item.odr_id">{{item.odr_num}}
                    </option>
                  </select>
                  <p *ngIf="(odr_id.control.touched || submitForm ) && odr_id.control.hasError('required')" class="error">
                    Order# is required.
                  </p>
                </td>
                <td><input tabindex="2" ngControl="item_id" #item_id="ngForm" readonly maxlength="64" type="text" class="form-control"></td>
                <td class="width150"><input tabindex="2" ngControl="description" readonly maxlength="64" type="text" class="form-control"></td>
                <td class="autocomplete-style width200">
                  <div class="control-group input-error-table" [class.error-style]="odr_id.value&&(sku.control.touched||submitForm)&&(sku.control.errors)">
                    <input placeholder="Auto Complete" #sku="ngForm" [ngModel]="item.value.sku" (ngModelChange)="getWarepickSKU(i,$event)"
                      ngControl="sku" class="form-control dropdown-toggle" type="text" data-toggle="dropdown"
                      [disabled]="!odr_id.value" />
                    <ul class="dropdown-menu autocomplete" *ngIf="sku.value">
                      <span class="icon-loading-search-complete" *ngIf="item['showLoadingSKU']"><img src="/assets/images/loading.gif"></span>

                      <li *ngFor="let itm of wpSKU[i]" (click)="selectedItemSKU(i,itm)">
                        {{itm.sku}}
                      </li>
                    </ul>
                    <p *ngIf="odr_id.value&&(sku.control.touched||submitForm)&&sku.control.hasError('required')" class="error">
                      SKU is required.
                    </p>
                    <p *ngIf="odr_id.value&&(sku.control.touched||submitForm)&&sku.control.hasError('invalid')" class="error">
                      SKU is not existed or does not store requested item
                    </p>
                    <p *ngIf="odr_id.value&&sku.control.hasError('errors_from_api_check')" class="error">
                      {{sku.control?.errorsMessages}}
                    </p>

                  </div>

                </td>
                <td><input tabindex="2" ngControl="size" readonly maxlength="64" type="text" class="form-control"></td>
                <td><input tabindex="2" ngControl="color" readonly maxlength="64" type="text" class="form-control"></td>
                <td><input tabindex="2" ngControl="pack_size" readonly maxlength="64" type="text" class="form-control"></td>
                <td><input tabindex="2" ngControl="lot" readonly maxlength="64" type="text" class="form-control"></td>
                <td><input tabindex="2" ngControl="remain_qty" readonly maxlength="64" type="text" class="form-control"></td>
                <td class="autocomplete-style width150">
                  <div class="control-group input-error-table" [class.error-style]="item_id.value&&(picked_loc.control.touched||submitForm)&&(picked_loc.control.errors)">
                    <input placeholder="Auto Complete" #picked_loc="ngForm" [ngModel]="item.value.picked_loc"
                      (ngModelChange)="autoComplete(i,$event,'picked_loc')" ngControl="picked_loc" class="form-control dropdown-toggle"
                      type="text" data-toggle="dropdown" [disabled]="!item_id.value" />
                    <ul class="dropdown-menu autocomplete" *ngIf="picked_loc.value">
                      <span class="icon-loading-search-complete" *ngIf="item['showLoading']"><img src="/assets/images/loading.gif"></span>

                      <li *ngFor="let itm of autoSearchData[i]" (click)="selectedItem('picked_loc',i,itm)">
                        {{itm.loc_code}}
                      </li>
                    </ul>
                    <p *ngIf="item_id.value&&(picked_loc.control.touched||submitForm)&&picked_loc.control.hasError('required')" class="error">
                      Picked Location is required.
                    </p>
                    <p *ngIf="item_id.value&&(picked_loc.control.touched||submitForm)&&picked_loc.control.hasError('invalid')" class="error">
                      Picked Location is not existed or does not store requested item
                    </p>
                    <p *ngIf="item_id.value&&(picked_loc.control.touched||submitForm)&&picked_loc.control.hasError('loc_status_is_locked')"
                      class="error">
                      Picked Location is Locked.
                    </p>
                    <p *ngIf="item_id.value&&(picked_loc.control.touched||submitForm)&&picked_loc.control.hasError('loc_status_is_locked_cycle')"
                      class="error">
                      Picked Location is Cycle Locked.
                    </p>
                    <p *ngIf="item_id.value&&picked_loc.control.hasError('inactived')" class="error">
                      Picked Location is Inactive.
                    </p>

                    <p *ngIf="item_id.value&&picked_loc.control.hasError('errors_from_api_check')" class="error">
                      {{picked_loc.control?.errorsMessages}}
                    </p>

                  </div>

                </td>
                <td class="input-error-table" [class.error-style]="item_id.value&&(picked_qty.control.touched || submitForm) && picked_qty.control.errors">
                  <input tabindex="2" ngControl="new_picked_qty" [disabled]="!item_id.value" #picked_qty="ngForm" type="text"
                    class="form-control" (focusout)="checkWithRemainQTY(i,$event)" (keypress)="checkInputNumber($event)">
                  <p *ngIf="item_id.value&&(picked_qty.control.touched||submitForm)&&picked_qty.control.hasError('required')" class="error">
                    Picked QTY is required.
                  </p>
                  <p *ngIf="(picked_qty.control.touched||submitForm)&&item_id.value&&picked_qty.control.hasError('invalid')" class="error">
                    Picked QTY must be less than or equal to Remaining QTY.
                  </p>
                  <p *ngIf="item_id.value&&(picked_qty.control.touched||submitForm)&&picked_qty.control.hasError('isZero')" class="error">
                    Picked QTY must be greater than 0
                  </p>
                </td>
              </tr>
              <tr>
                <td class="add-more text-center">
                  <span (click)="addRowItem()" class="button-add" tabindex="21"><i class="fa  fa-plus-circle"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="button pull-right clearfix">
      <button *ngIf="action != 'view'" type="button" class="btn btn-default" (click)="cancel()" tabindex="3"><i class="icon-close"></i>Cancel
      </button>
      <button *ngIf="action != 'view'" type="submit" class="btn btn-primary" tabindex="2"><i class="icon-check"></i>Update
      </button>
    </div>
  </form>
  <goBack *ngIf="action=='view'"></goBack>
</div>



<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>