<div class="top-layout clearfix">
  <h2>Cycle Count Detail</h2>
  <wms-breadcrumb></wms-breadcrumb>
</div>
<div class="layout-block">
  <wms-messages [messages]="messages"></wms-messages>
  <form class="form-horizontal form-style" novalidate>
    <div class="area-block">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Cycle Name</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.cycle_name}}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cycle Description</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.description}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.cycle_sts_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Due Date</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.due_dt}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Assigned By</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.assignee_by_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Assigned To</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.assignee_to_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Cycle Type</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.cycle_type_name}}">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>Count by</label>
            <input type="text" class="form-control" required readonly value="{{cycleDetail.count_by}}">
          </div>
        </div>
        <!--<div class="col-md-1">-->
          <!--<div class="form-group">-->
            <!--<label>By Color & Size</label>-->
            <!--<input type="text" class="form-control" required disabled value="{{cycleDetail.has_color_size == 1 ? 'Yes' : 'No'}}">-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </form>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabItem">Items</a></li>
    <li><a data-toggle="tab" href="#tabEventTracking">Event Tracking</a></li>
  </ul>
  <div class="tab-content">
    <div class="clearfix tab-pane fade active in" id="tabItem">
      <div class="table">
        <div class="table-list-head clearfix">
          <div class="row-legth pull-left form-inline">
            Show
            <select [(ngModel)]="perPage" (change)="onPageSizeChanged($event)" class="input-block-level form-control">
              <option value="20" selected>20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <div class="button pull-right">
            <a *ngIf = "hasPrintPermission" (click) = "printPdf()" class="btn btn-outline blue" type="button"><i
                    class="icon-printer"></i> Print</a>
            <div *ngIf="isUpdate && hasAddSkuButton && hasAddSkuPermission" class="btn btn-outline blue no-margin-left" type="reset" data-toggle="modal"
                 data-target="#addSKU"><i class="icon-plus"></i>Add SKU
            </div>
            <div *ngIf="isUpdate && hasSaveButton" class="btn btn-outline blue no-margin-left" type="reset" data-toggle="modal"
                 data-target="#saveData"><a (click)="save()"><i class=""></i>Save</a>
            </div>
          </div>
        </div>
        <div class="table-style2">
          <table class="table editable table-bordered table-hover" id="role-list">
            <thead>
            <tr>
              <th>Customer Code</th>
              <th>Customer Name</th>
              <th>SKU</th>
              <th>Size</th>
              <th>Color</th>
              <th>Lot</th>
              <th>Pack</th>
              <th [hidden]="isCountedByCarton">Remain QTY</th>
              <th [hidden]="flagHiddenRTT">CTNs</th>
              <th [hidden]="flagHiddenRTT || isCountedByCarton">QTY</th>
              <th style="display: none">{{cycleDetail.count_by=='CARTON' ? 'Sys CTN QTY':'Sys Piece QTY'}}</th>
              <th>{{cycleDetail.count_by=='CARTON' ? 'Act CTNs':'Act QTY'}}</th>
              <th>Location</th>
              <th style="display: none">Act Loc</th>
              <th>LPN/RFID</th>
              <th>New SKU</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of countItemList; let i = index;">
              <td class="nowrap">{{item.cus_code}}</td>
              <td class="nowrap">{{item.cus_name}}</td>
              <td class="nowrap">{{item.sku}}</td>
              <td class="nowrap">{{item.size}}</td>
              <td class="nowrap">{{item.color}}</td>
              <td class="nowrap">{{item.lot}}</td>
              <td class="nowrap">{{item.pack}}</td>
              <td class="nowrap" [hidden]="isCountedByCarton">{{item.remain}}</td>
              <td [hidden]="flagHiddenRTT">{{item.ttlCtn}}</td>
              <td [hidden]="flagHiddenRTT || isCountedByCarton">{{item.ttlPieces}}</td>
              <td style="display: none">{{item.sys_qty}}</td>
              <td>
                <div class="form-group" [class.error-style]="listNull2['act-qty-' + i +'-greater0'] || listNull2['act-qty-' + i +'-int']">
                  <span (click) = 'autoAddQty($event)' style="z-index: 999; min-height: 15px; cursor: pointer; width: 100%; display: inline-block"  id = 'q-span-{{i}}'>{{flagHiddenAQTY[i] ? ' ' : item.act_qty}}</span>
                  <input *ngIf="isUpdate" type="text" maxlength="8" (keyup) = "validateQTY($event)"  (focusout) = "updateValueQty($event)" style="display: none" alt = '{{item.cycle_dtl_id}}' (keypress)="checkInputNumberQty($event, true)" id = 'act-qty-{{i}}'>
                  <p *ngIf="listNull2['act-qty-' + i +'-greater0']" class="error">
                    {{cycleDetail.count_by=='CARTON' ? 'Act CTN QTY':'Act Piece QTY'}} must be greater 0
                  <p>
                  <p *ngIf="listNull2['act-qty-' + i +'-int']" class="error">
                    {{cycleDetail.count_by=='CARTON' ? 'Act CTN QTY':'Act Piece QTY'}} must be integer
                  <p>
                </div>
              </td>
              <td>{{item.sys_loc_name}}</td>
              <td class="autocomplete-style" style="display: none">
                <div class="form-group">
                  <div class="dropdown dropdown-autosearch open">
                <span (click) = 'autoAddLoc($event, item)' style="z-index: 999; min-height: 15px; cursor: pointer; width: 100%; display: inline-block"
                      id = 'loc-span-{{i}}'>{{item.act_loc_name}}</span>
                    <input *ngIf="isUpdate" type="text" maxlength="8" placeholder="Auto Complete" alt = '{{item.cycle_dtl_id}}'
                           (keypress)="saveLocation($event)"
                           (keyup)="autoSearchLocationList($event)" (click)="autoSearchLocationList($event)" autocomplete="off" style="display: none"
                           alt = '{{item.cycle_dtl_id}}' id = 'act-loc-{{i}}'/>
                    <div class="dropdown-menu list-group" style="display: none" id='ul-location-{{i}}' tabindex="-1">
                      <!--<span class="icon-loading-search-complete" *ngIf="s_loading_list?.i"><img-->
                      <!--src="/assets/images/loading.gif"></span>-->
                      <a class="list-group-item" *ngFor="let item of dataLocation" (click)="selectedItem($event)"
                         id='location-from-{{item.loc_id}}' tabindex="-1"> {{item.loc_code}}
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>{{item.plt_rfid}}</td>
              <td>{{item.is_new_sku == 1? 'Yes':'No'}}</td>
              <td>{{item.cycle_dtl_sts_name}}</td>
            </tr>
            </tbody>
          </table>
          <p *ngIf="!loading['getCycleCount'] && countItemList.length==0">No Results Found.</p>
          <p *ngIf="loading['getCycleCount'] && ! countItemList.length">Loading ... </p>
        </div>
        <div class="clearfix"></div>
        <div class="pull-left margin-top5">
          <goBack></goBack>
        </div>
        <div class="pull-right">
          <div class="showing pull-left" *ngIf="countItemList.length>0">
            Showing from {{(Pagination?.current_page - 1) * perPage + 1}} to {{(Pagination?.current_page - 1) * perPage +
            countItemList.length}} of total {{Pagination?Pagination.total:0}}
          </div>
          <ul class="pagination pull-right" *ngIf="Pagination && Pagination.total_pages > 1 && Pagination?.total > perPage">
            <li *ngIf="Pagination.current_page > Pagination.numLinks">
              <a (click)="filterList(1)"><i class="fa fa-step-backward"></i></a>
            </li>
            <li *ngIf="Pagination.current_page > 1">
              <a (click)="filterList(Pagination.current_page-1)"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li *ngFor="let item of Pagination.tmpPageCount; " class="active"
                [class.active]="item==Pagination.current_page">
              <a *ngIf="item != Pagination.current_page" (click)="filterList(item)">{{item}}</a>
              <a *ngIf="item == Pagination.current_page">{{item}}</a>
            </li>
            <li *ngIf="Pagination.current_page < Pagination.total_pages">
              <a (click)="filterList(Pagination.current_page + 1)"><i class="fa fa-angle-double-right"></i></a>
            </li>
            <li *ngIf="(Pagination.current_page + Pagination.numLinks) < Pagination.total_pages">
              <a (click)="filterList(Pagination.total_pages)"><i class="fa fa-step-forward"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix tab-pane fade" id="tabEventTracking">
      <event-tracking-direcitve [owner]="cycleDetail.cycle_num"></event-tracking-direcitve>
      <div class="text-left margin-top5">
        <goBack></goBack>
      </div>
    </div>

  </div>
</div>
<div id="addSKU" class="modal fade" role="dialog" data-backdrop="static">
  <form>
    <div class="modal-dialog modal-style-default">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add SKU</h4>
        </div>
        <wms-messages [messages]="messagesAddSKU"></wms-messages>
        <div class="modal-body form-style">
          <div class="row">
            <div class="col-md-6" *ngIf = '!flagHasCus'>
              <div class="form-group"  [class.error-style]="listNull['customer_required']">
                <label>Customer<span class="txt-required">(*)</span></label>
                <select tabindex="1" name="customer" id="customer" class="form-control" (change)="filterForm($event.target); enableOtherFields($event)"
                        (focusout)="filterForm($event.target)">
                  <option value="">Select Customer</option>
                  <option *ngFor="let item of dataListCustomer" value="{{item.cus_id}}">
                    {{item.cus_name}}
                  </option>
                </select>
                <p class="error" *ngIf="listNull['customer_required']">
                  Customer is required
                <p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [class.error-style]="listNull['sku_required']">
                <label>SKU<span class="txt-required">(*)</span></label>
                <div class="auto-style">
                  <input type="text" maxlength="50" [disabled]="!flagHasCus"
                         (keyup)="filterForm($event.target)" (focusout)="filterForm($event.target)"
                         (input)="autoCompleteSku($event)" autocomplete="off"
                         (click)="autoCompleteSku($event)" id = 'sku' class="form-control" placeholder="Auto complete"/>
                  <div class="list-group" id = 'list-sku' hidden>
                    <a class="list-group-item" (click) = 'selectedItemSku($event)' *ngFor="let item of dataListSku; let i = index;" id ='list-sku-{{i}}'>{{item.sku}} {{item.size}} {{item.color}} {{item.lot}}</a>
                  </div>
                </div>
                <p class="error" *ngIf="listNull['sku_required']">
                  SKU is required
                <p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Size</label>
                <input type="text" readonly maxlength="50" id="size" class="form-control"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Color</label>
                <input type="text" readonly maxlength="50" id="color" class="form-control"/>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Lot<span class="txt-required">(*)</span></label>
                <input type="text" readonly maxlength="50" id="lot" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-5">
                <div class="form-group" [class.error-style]="listNull['pack_required'] || listNull['pack_greaterPR']">
                  <label>Pack <span class="txt-required">(*)</span> </label>

                  <select [disabled]="flagPack" (change)="filterForm($event.target, 'required_greaterPR');assignRemain($event)" tabindex="1" name="customer" id="pack" class="form-control" >

                    <option *ngFor="let item of dataListPackSize" value="{{item.pack_size}}">
                      {{item.pack_size}}
                    </option>
                  </select>
                  <p class="error" *ngIf="listNull['pack_required']">
                    Pack is required
                  <p>
                  <p class="error" *ngIf="listNull['pack_greaterPR']">
                    Pack must be greater than or equal to  Remain QTY
                  <p>
                </div>
              </div>
              <div class="col-md-7">
                  <div class="form-group" [class.error-style]="listNull['remain_required'] || listNull['remain_int'] || listNull['remain_lessP'] || listNull['remain_other0'] || (listNull['remain_lessAct'] && !listNull['remain_lessP'])">
                    <label> Remain QTY <span class="txt-required">(*)</span> </label>
                    <input type="text"  maxlength="11" (keypress)="checkInputNumber($event, true)" (keyup)="filterForm($event.target, 'required_int_lessP_other0_lessAct')"
                           [disabled]="!flagHasCus" (focusout)="filterForm($event.target, 'required_int_lessP_other0_lessAct')" id = 'remain' class="form-control"/>
                    <p class="error" *ngIf="listNull['remain_required']">
                      Remain QTY is required
                    <p>
                    <p *ngIf="listNull['remain_int']" class="error">
                    Remain QTY must be integer
                    <p>
                    <p *ngIf="listNull['remain_lessP']" class="error">
                    Remain QTY must be less than or equal to Packsize
                    <p>
                    <p *ngIf="listNull['remain_other0']" class="error">
                    Remain QTY must be greater than 0
                    <p>
                    <p *ngIf="listNull['remain_lessAct'] && !listNull['remain_lessP']" class="error">
                    Remain QTY must be a Factor of Act {{cycleDetail.count_by == 'CARTON' ? 'CTNs': 'QTY'}}
                    <p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"  [class.error-style]="listNull['act_qty_required'] || listNull['act_qty_int'] || listNull['act_qty_eachLessPR']">
                <label>Actual {{cycleDetail.count_by == 'CARTON' ? 'CTNs': 'QTY'}} <span class="txt-required">(*)</span></label>
                <input type="text"  maxlength="11" (keypress)="checkInputNumber($event, true)" [disabled]="!flagHasCus"
                       (keyup)="filterForm($event.target, 'required_int_eachLessPR')"
                       (focusout)="filterForm($event.target, 'required_int_eachLessPR')" id = 'act_qty' class="form-control"/>
                <p class="error" *ngIf="listNull['act_qty_required']">
                  Act {{cycleDetail.count_by == 'CARTON' ? 'CTNs': 'QTY'}} is required
                <p>
                <p *ngIf="listNull['act_qty_int']" class="error">
                  Act {{cycleDetail.count_by == 'CARTON' ? 'CTNs': 'QTY'}} must be integer
                <p>
                <p *ngIf="listNull['act_qty_eachLessPR']" class="error left">
                  Act {{cycleDetail.count_by == 'CARTON' ? 'CTNs': 'QTY'}}  must be a Multiple of  Remain QTY.
                <p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [class.error-style]="listNull['act_loc_required'] || listNull['act_loc_not_exist']">
                <label>Actual Location <span class="txt-required">(*)</span></label>
                <div class="auto-style">
                  <input (keyup)="autoSearchLocation($event)" autocomplete="off" placeholder="Auto complete"
                         (click)="autoSearchLocation($event)" type="text"  maxlength="50" [disabled]="!flagHasCus"
                         id="act_loc" (keyup)="filterForm($event.target);" (focusout)="filterForm($event.target);ckExistLocationSKU($event)" class="form-control"/>
                  <div class="list-group" id = 'list-location' hidden>
                    <a class="list-group-item" (click) = 'selectedItemLoca($event, item)' *ngFor="let item of dataListLoca;">{{item.loc_code}}</a>
                  </div>
                </div>
                <p class="error" *ngIf="listNull['act_loc_required']">
                  Actual Location is required
                <p>
                <p class="error" *ngIf="listNull['act_loc_not_exist']">
                Actual Location is not existed or unavailable!
                <p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"  [class.error-style]="listNull['plt_rfid_required'] || listNull['plt_rfid_invalid']">
                <label>Pallet RFID <span class="txt-required" *ngIf="selectedActualLocaltionItem['is_floor']===1">(*)</span></label>
                <input type="text"  maxlength="30" (change)="valid_pl_whs($event.target.value)"
                       [disabled]="!flagHasCus"
                       id = 'plt_rfid' class="form-control"/>
                <p class="error" *ngIf="listNull['plt_rfid_required']">
                  Pallet RFID is required
                <p>
                <p *ngIf="listNull['plt_rfid_invalid'] && !listNull['plt_rfid_required']" class="error">
                Pallet RFID is invalid
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" (click) = "saveSku($event)">OK
          </button>
          <button type="button" class="btn btn-default pull-right" (click) = "resetFormSku()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="loading-overlay" *ngIf="showLoadingOverlay"><img src="/assets/images/spinner.gif" alt=""></div>
