.table .ag-grid-ng2-extent .ag-root .ag-header .ag-header-row .ag-header-cell
{
  background: url('images/sort_both.png');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
