<div class="ag-grid-ng2-extent">

<a *ngIf="rowData?.length" title="Fit Screen" class="btn-expand" (click)="changeSizeTable()">
  <i class="icon-size-fullscreen"></i>
</a>
<ag-grid-ng2 id="tableList" class="ag-blue  table table-bordered table-hover"
             [gridOptions]="gridOptions"
             [columnDefs]="columnDefs"
             [showToolPanel]="showToolPanel"
             [rowData]="rowData"
             enableColResize
             groupHeaders
             rowHeight="26"
             suppressRowClickSelection="true"
             rowSelection="multiple"
             rowDeselection="true"
             (rowSelected)="rowSelected($event)"
             (columnMoved)="onColumnMoved($event)"
             (columnResized)="onColumnResized($event)"
             overlayNoRowsTemplate="No Results Found."

>
</ag-grid-ng2>

</div>
