<div *ngIf="allowAccess" class="layout-rf-block clearfix">
    <div class="rf-block clearfix">
        <div class="rf-layout">


          <rf-dashboard-zone></rf-dashboard-zone>

            <div class="rf-header ">
                <span class="col-xs-1 text-left back" (click)="backPage()" ><i class="ico-back"></i></span>
                <span class="col-xs-10 title">{{page_title}}</span>
                <span [class.close-menu]="showMenu" (click)="_showMenu()" class="col-xs-1 ex-menu text-right"><i [class.ico-menu]="!showMenu" [class.ico-close]="showMenu"></i>
                      <ul class="nav nav-menu" [class.hidden]="!showMenu">
                          <li  (click)="redirectTo('putaway')"><a>putaway</a></li>
                          <li (click)="redirectTo('wave-pick')"><a>Wave Picking</a></li>
                        <!--<li><a href="">Cartons To Pallet</a></li>-->
                        <!--<li><a href="">Cartons To Order</a></li>-->
                          <li (click)="redirectTo('relocate')"><a>Relocate</a></li>
                        <!--<li><a href="">Consolidate</a></li>-->
                        <!--<li><a href="">Cyclecount</a></li>-->
                        <!--<li><a href="">Xfer</a></li>-->
                      </ul>
                  </span>
            </div>

            <div class="rf-content">

              <router-outlet></router-outlet>

            </div>

        </div>

    </div>

</div>

