<div class="table-list-head clearfix" *ngIf="PalletList.length > 0">
    <div class="form-inline pull-left">
        <label>Show:</label>
        <select (change)="onPageSizeChanged($event, 'master-pallet')" class="form-control">
            <option value="20" selected>20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
    </div>
    <div *ngIf="_orderStatus === 'PTG' || _orderStatus === 'PTD'" class="input-group pull-right">
        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-group dropdown-toggle" type="button"><i class="icon-settings"></i>Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ><a (click)="deleteLPN()"><i class=""></i>Delete</a></li>
        </ul>
    </div>
</div>
<div class="table-style2">
        <table class="table table-bordered editable table-hover small-padding-table">
            <thead>
            <tr>
                <th></th>
                <th>LPN</th>
                <th class="nowrap">Mixed SKU</th>
                <th>CTNS</th>
                <th>Location</th>
                <th>Volume <span *ngIf="_orderStatus === 'ST'" class="txt-required">(*)</span></th>
                <th>Weight <span *ngIf="_orderStatus === 'ST'" class="txt-required">(*)</span></th>
                <th>Length (in)</th>
                <th>Width (in)</th>
                <th>Height (in)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of PalletList; let i = index" [class.row-selected]="item.selected" (click)="setClickedRow(PalletList, i, item)">
                <td class="width25">
                    <input [ngModel]="item.selected" value="{{item}}" type="checkbox">
                </td>
                <td class="nowrap">{{item.plt_num}}</td>
                <td>{{item.mixed_sku}}</td>
                <td>{{item.ctns}}</td>
                <td class="nowrap">{{item.loc_name}}</td>
                <td>
                    <div *ngIf="_orderStatus !=='PTD' && isFinalBOL === true">
                        {{item.volume}}
                    </div>
                    <div *ngIf="_orderStatus ==='PTD' || isFinalBOL !== true">
                        <div class="control-group" [class.error-style]="item.errorRequiredVolume || item.errorDecimalNumberVolume || item.errorZeroVolume">
                            <input [(ngModel)]="item.volume" (keypress)="checkInputFloatNumber($event, item.volume)" (ngModelChange)="validdateField(item, 'volume')"
                                (change)="updateData(item)" [disabled]="item.inputBy=='d'" type="text" class="form-control" maxlength="16">
                            <p *ngIf="item.errorRequiredVolume" class="error">
                                Volume is required.
                            </p>
                            <p *ngIf="item.errorDecimalNumberVolume" class="error">
                                Volume is invalid (Maximum is 9,999,999,999,999.99).
                            </p>
                            <p *ngIf="item.errorZeroVolume" class="error">
                                Volume must be greater than 0.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="_orderStatus !=='PTD' && isFinalBOL === true">
                        {{item.weight}}
                    </div>
                    <div *ngIf="_orderStatus ==='PTD' || isFinalBOL !== true">
                        <div class="control-group" [class.error-style]="item.errorRequiredWeight || item.errorDecimalNumberWeight || item.errorZeroWeight">
                            <input [(ngModel)]="item.weight" (keypress)="checkInputFloatNumber($event, item.weight)" (ngModelChange)="validdateField(item, 'weight')"
                                (change)="updateData(item)" type="text" class="form-control" maxlength="8">
                            <p *ngIf="item.errorRequiredWeight" class="error">
                                Weight is required.
                            </p>
                            <p *ngIf="item.errorDecimalNumberWeight" class="error">
                                Weight is invalid (Maximum is 99999.99).
                            </p>
                            <p *ngIf="item.errorZeroWeight" class="error">
                                Weight must be greater than 0.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="_orderStatus !=='PTD' && isFinalBOL === true">
                        {{item.length}}
                    </div>
                    <div *ngIf="_orderStatus ==='PTD' || isFinalBOL !== true">
                        <div class="control-group" [class.error-style]="item.errorDecimalNumberLength || item.errorRequiredLength || item.errorZeroLength">
                            <input [(ngModel)]="item.length" (keypress)="checkInputFloatNumber($event, item.length)" (ngModelChange)="validdateField(item, 'length')"
                                (change)="updateData(item)" [disabled]="item.inputBy=='v'" type="text" class="form-control" maxlength="6">
                            <p *ngIf="item.errorDecimalNumberLength" class="error">
                                Length is invalid (Maximum is 999.99).
                            </p>
                            <p *ngIf="item.errorRequiredLength" class="error">
                                Length is required.
                            </p>
                            <p *ngIf="item.errorZeroLength" class="error">
                                Length must be greater than 0.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="_orderStatus !=='PTD' && isFinalBOL === true">
                        {{item.width}}
                    </div>
                    <div *ngIf="_orderStatus ==='PTD' || isFinalBOL !== true">
                        <div class="control-group" [class.error-style]="item.errorDecimalNumberWidth || item.errorRequiredWidth || item.errorZeroWidth">
                            <input [(ngModel)]="item.width" (keypress)="checkInputFloatNumber($event, item.width)" (ngModelChange)="validdateField(item, 'width')"
                                (change)="updateData(item)" [disabled]="item.inputBy=='v'" type="text" class="form-control" maxlength="6">
                            <p *ngIf="item.errorDecimalNumberWidth" class="error">
                                Width is invalid (Maximum is 999.99).
                            </p>
                            <p *ngIf="item.errorRequiredWidth" class="error">
                                Width is required.
                            </p>
                            <p *ngIf="item.errorZeroWidth" class="error">
                                Width must be greater than 0.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="_orderStatus !=='PTD' && isFinalBOL === true">
                        {{item.height}}
                    </div>
                    <div *ngIf="_orderStatus ==='PTD' || isFinalBOL !== true">
                        <div class="control-group" [class.error-style]="item.errorDecimalNumberHeight || item.errorRequiredHeight || item.errorZeroHeight">
                            <input [(ngModel)]="item.height" (keypress)="checkInputFloatNumber($event, item.height)" (ngModelChange)="validdateField(item, 'height')"
                                (change)="updateData(item)" [disabled]="item.inputBy=='v'" type="text" class="form-control" maxlength="6">
                            <p *ngIf="item.errorDecimalNumberHeight" class="error">
                                Height is invalid (Maximum is 999.99).
                            </p>
                            <p *ngIf="item.errorRequiredHeight" class="error">
                                Height is required.
                            </p>
                            <p *ngIf="item.errorZeroHeight" class="error">
                                Height must be greater than 0.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>

            <tfoot class="color-gray">

            <td colspan="6">
                <div class="pull-left">
                    <span *ngIf="PalletList.length != 0">
                        <pdf-printer [label]="'Carton Label'" [fileName]="'Carton Shipping Label'" [printerAPIUrl]="cartonLalbelAPI"
                                        (bindMessages)="bindMessagePDFPrinter($event)">
                        </pdf-printer>
                        <pdf-printer [label]="'Pallet Label'" [fileName]="'Pallet Shipping Label'" [printerAPIUrl]="palletLabelAPI"
                                    (bindMessages)="bindMessagePDFPrinter($event)">
                        </pdf-printer>
                    </span>
                </div>
            </td>

            <td colspan="4">
                <p *ngIf="PalletList.length == 0">No Results Found.</p>
                <div class="pull-right margin-top5 color-gray">
                    <wms-pagination
                            [perPage]="perPage"
                            [paginData]="Pagination"
                            (pageChange)="getPalletList($event)"
                    ></wms-pagination>
                </div>
            </td>

            </tfoot>

        </table>

    </div>
