<div class="table-style3 clearfix">


        <div class="table-list-head clearfix" *ngIf="action!=='View'">
            <div class="input-group pull-right margin-left" *ngIf="action!=='View'">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-group dropdown-toggle"
                        data-toggle="dropdown" type="button"><i class="icon-settings"></i>Action <span
                        class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a *ngIf="CourierItem.length > 0 && action!=='View'" (click)="deleteItem()"><i
                            class="icon-trash"></i>Delete</a></li>
                </ul>
            </div>
        </div>


    <form  *ngIf="CourierItemArray" class="form-horizontal form-style" [ngFormModel]="CourierItemArray"
           (ngSubmit)="Save()" novalidate>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th *ngIf="action!=='View'" width="20" *ngIf="!IsView" class="column-checkbox">
                <input [disabled]="!CourierItem.length" [disabled]="IsView"
                       (ngModelChange)="fbdFunc.CheckAll(CourierItemArray,$event)"
                       [ngModel]="CourierItemArray?.selectedAll" type="checkbox"/></th>
            <th>Courier Name</th>
            <th>Account Number</th>
            <th>Payment Type</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of CourierItem; let i=index;"
            ngControlGroup="{{i}}">

            <td *ngIf="action!=='View'" class="column-checkbox">
                <input
                        (change)="fbdFunc.Selected(CourierItemArray,item,$event)"
                        [ngModel]="item.selected" type="checkbox" tabindex="20">
            </td>

            <td class="autocomplete-style width200">
                <div class="form-group"
                     [class.error-style]="(Courier_name.control.touched || submitted ) && ( Courier_name.control.errors  )">

                    <select class="form-control" [disabled]="action=='View'" #Courier_name="ngForm" ngControl="courier_name">
                        <option value="">Select a value</option>
                        <option *ngFor="let item of courierName" [value]="item.md_code">{{item.md_name}}</option>
                    </select>

                    <p *ngIf="(Courier_name.control.touched || submitted )&&Courier_name.control.hasError('required')"
                       class="error">
                        Courier name is required.
                    </p>
                    <p *ngIf="(Courier_name.control.touched || submitted )&&Courier_name.control.hasError('duplicated')"
                       class="error">
                        Courier name is duplicated.
                    </p>

                </div>
            </td>
            <td>
                <div class="form-group"
                     [class.error-style]="(Acc_num.control.touched || submitted ) && ( Acc_num.control.errors  )">


                    <input type="text" maxlength="50" [disabled]="action=='View'" #Acc_num="ngForm" class="form-control" ngControl="acc_num">

                    <p *ngIf="(Acc_num.control.touched || submitted )&&Acc_num.control.hasError('required')"
                       class="error">
                        Account number is required.
                    </p>

                </div>
            </td>
            <td>
                <div class="form-group"
                     [class.error-style]="(Pay_type.control.touched || submitted ) && ( Pay_type.control.errors  )">

                    <select [disabled]="action=='View'" #Pay_type="ngForm" class="form-control" ngControl="pay_type">
                        <option value="">Select a value</option>
                        <option value="THIRD_PARTY">Third party</option>
                        <option value="SENDER">Sender</option>
                    </select>

                    <p *ngIf="(Pay_type.control.touched || submitted )&&Pay_type.control.hasError('required')"
                       class="error">
                        Payment Type is required.
                    </p>

                </div>
            </td>

        <tr class="text-center" *ngIf="action!=='View'">
            <td class="add-more">
                             <span (click)="addCourierItem()"
                                   class="button-add" tabindex="21"><i
                                     class="fa  fa-plus-circle"></i></span>
            </td>
            <td colspan="12"></td>
        </tr>
        </tbody>
    </table>

        </form>
</div>